@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div class="control-wrapper" style='padding-top:75px;'>
            <ejs-dropdowntree id="tree" popupHeight="250px" placeholder="Select an item" allowFiltering="true" filterBarPlaceholder="Search">
                <e-dropdowntree-fields dataSource="ViewBag.dataSource" value="id" parentValue="pid" text="name" hasChildren="hasChild" expanded="expanded"></e-dropdowntree-fields>
            </ejs-dropdowntree>
        </div>
    </div>

}
@section Meta{
    <meta name="description" content="This example demonstrates the Filtering in ASP.NET Core Dropdown Tree control" />
}
@section ActionDescription{
    <p>
        This sample demonstrates the filtering functionalities of the Dropdown Tree. Click the Dropdown Tree element, and
        then type a character in the search box. It will display the
        filtered list items based on the typed characters.
    </p>
}

@section Description{
    <p>
        The Dropdown Tree has the built-in support to filter the data source when the <code>allowFiltering</code> is enabled. It
        performs
        when the characters are typed in the search box.
    </p>
}

<style>
    .control-wrapper {
        margin: 0 auto;
        width: 250px;
    }
</style>

@section Title{
    <title>ASP.NET Core Dropdown Tree Filtering Example - Syncfusion Demos</title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Filtering in ASP.NET Core Dropdown Tree Control</h1>
}
