@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div class="control-wrapper" style='padding-top:75px;'>
            <ejs-dropdowntree id="tree" popupHeight="200px" placeholder="Select items" allowMultiSelection="true">
                <e-dropdowntree-fields dataSource="ViewBag.dataSource" value="id" parentValue="pid" text="name" hasChildren="hasChild" expanded="expanded"></e-dropdowntree-fields>
            </ejs-dropdowntree>
        </div>
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Multiple Selection in ASP.NET Core Dropdown Tree control" />
}
@section ActionDescription{
    <p>
        This sample explains you about the multiple item selection functionalities of the Dropdown Tree. To select multiple
        items, you may press and hold the CTRL key and then select the desired items; or select any item by selecting it and
        then press and hold the SHIFT key to select a range of items continuously.
    </p>
}

@section Description{
    <p>
        The <code>Dropdown Tree</code> control allows you to select multiple items by enabling the
        <code>allowMultiSelection</code> property.
    </p>
    <p>In this demo, the Dropdown Tree is enabled with multiple selection.</p>
}

<style>
    .control-wrapper {
        margin: 0 auto;
        width: 250px;
    }
</style>

@section Title{
    <title>ASP.NET Core Dropdown Tree Multiple Selection Example - Syncfusion Demos</title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Multiple Selection in ASP.NET Core Dropdown Tree Control</h1>
}
