@page
@model EJ2CoreSampleBrowser_NET8.Pages.AIAssistView.AttachmentModel
@using Syncfusion.EJ2
@using System.Text.Json;

@section ControlsSection {
    <div class="control-section">
        <div class="attachment-aiassistview">
            <ejs-aiassistview id="aiAssistView" promptSuggestions="@Model.PromptSuggestionData" enableAttachments="true" bannerTemplate="#bannerContent" promptRequest="onPromptRequest">
                <e-aiassistview-toolbarsettings items="@Model.Items" itemClicked="toolbarItemClicked"></e-aiassistview-toolbarsettings>
                <e-aiassistview-attachmentsettings saveUrl=@Url.Content("https://services.syncfusion.com/aspnet/production/api/FileUploader/Save") removeUrl=@Url.Content("https://services.syncfusion.com/aspnet/production/api/FileUploader/Remove")></e-aiassistview-attachmentsettings>
            </ejs-aiassistview>
        </div>
    </div>
}

@section PreScripts {
    <script>
        var prompts = @Html.Raw(JsonSerializer.Serialize(Model.PromptResponseData));
        var suggestions = @Html.Raw(JsonSerializer.Serialize(Model.PromptSuggestionData));

        function onPromptRequest(args) {
            setTimeout(() => {
                var foundPrompt = prompts.find(prompt => prompt.Prompt == args.prompt);
                var defaultResponse = 'For real-time prompt processing, connect the AI AssistView control to your preferred AI service, such as OpenAI or Azure Cognitive Services. Ensure you obtain the necessary API credentials to authenticate and enable seamless integration.';
                this.addPromptResponse(foundPrompt ? foundPrompt.Response : defaultResponse);
                this.promptSuggestions = (foundPrompt?.SuggestionData && foundPrompt.SuggestionData.length > 0) ? foundPrompt.SuggestionData : suggestions;
            }, 2000);
        }

        function toolbarItemClicked(args) {
            if (args.item.iconCss === 'e-icons e-refresh') {
                this.prompts = [];
                this.promptSuggestions = suggestions;
            }
        }
    </script>

    <script id="bannerContent" type="text/x-jsrender">
        <div class="banner-content">
            <div class="e-icons e-assistview-icon"></div>
            <h3>AI Assistance</h3>
            <i>Type your message or attach files to get started.</i>
        </div>
    </script>
}

<style>
    .attachment-aiassistview {
        height: 600px;
        width: 60vw;
        margin: 0 auto;
    }

    .attachment-aiassistview .banner-content .e-assistview-icon:before {
        font-size: 35px;
    }

    .attachment-aiassistview .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 330px;
        text-align: center;
    }

    @@media only screen and (max-width: 750px) {
        .attachment-aiassistview {
            width: 100%;
        }
    }
</style>

@section Meta {
    <meta name="description" content="This example demonstrates the attachment support in ASP.NET MVC AIAssistView control. Explore here for more details." />
}

@section ActionDescription {
    <div id="action-description">
        <p>This sample demonstrates how users can attach files while interacting with the AI AssistView. The component enables file uploads to enhance the context of conversations and responses.</p>
    </div>
}

@section Description {
    <div id="description">
        <p>In this example, the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.InteractiveChat.AIAssistViewAttachmentSettings.html#Syncfusion_EJ2_InteractiveChat_AIAssistViewAttachmentSettings_EnableAttachments">enableAttachments</a> property is set to <code>true</code> to enable file attachments. By, using the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.InteractiveChat.AIAssistViewAttachmentSettings.html#Syncfusion_EJ2_InteractiveChat_AIAssistViewAttachmentSettings_AiAssistViewAttachmentSettings">attachmentSettings</a> configure the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.InteractiveChat.AIAssistViewAttachmentSettings.html#Syncfusion_EJ2_InteractiveChat_AIAssistViewAttachmentSettings_SaveUrl">saveUrl</a> and <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.InteractiveChat.AIAssistViewAttachmentSettings.html#Syncfusion_EJ2_InteractiveChat_AIAssistViewAttachmentSettings_RemoveUrl">removeUrl</a> to allow file uploads for the attached files. Additionally, the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.InteractiveChat.AIAssistView.html#Syncfusion_EJ2_InteractiveChat_AIAssistView_BannerTemplate">bannerTemplate</a> customizes the banner message, and <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.InteractiveChat.AIAssistViewToolbarSettings.html#Syncfusion_EJ2_InteractiveChat_AIAssistViewToolbarSettings">toolbarSettings</a> includes a right-aligned <code>Refresh</code> button. The <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.InteractiveChat.AIAssistView.html#Syncfusion_EJ2_InteractiveChat_AIAssistView_PromptSuggestions">promptSuggestions</a> feature offers suggested prompts, while <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.InteractiveChat.AIAssistView.html#Syncfusion_EJ2_InteractiveChat_AIAssistView_PromptRequest">promptRequest</a> handles user queries.</p>
    </div>
}
