@page
@model EJ2CoreSampleBrowser.Pages.ListView.NestedList
@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <ejs-listview enable="true" id="nestedlist" dataSource="@Model.listdata" showHeader="true" headerTitle="Folder" showIcon="true">
            <e-listview-fieldsettings iconCss="icon" tooltip="text">
            </e-listview-fieldsettings>
        </ejs-listview>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Nested List in ASP.NET Core ListView control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the nested list functionalities, which allows you to navigate to the sub list items by clicking any item and navigating back to the list item using the back icon at the top left.
        </p>
        
    </div>
}

@section Description{
    <div id="description">
        <p>The ListView component supports nested list. To achieve list navigation, the <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Lists.ListViewFieldSettings.html#Syncfusion_EJ2_Lists_ListViewFieldSettings_Child' aria-label="Navigate to the Child property reference for ASP.NET Core ListView FieldSettings">Child</a></code> property should be defined for the nested list in the array of JSON.</p>

        <p>This sample have nested folder with the sub folders or files.</p>

    </div>
}

    <style>
    .e-listview .e-list-icon,
    .e-bigger .e-listview .e-list-icon {
        height: 24px;
        width: 30px;
    }

    .folder {
        background-repeat: no-repeat;
        background-image: url('@Url.Content("~/css/listview/images/file_icons.png")');
        background-position: -5px -466px;
        background-size: 302%;
    }

    .file {
        background-repeat: no-repeat;
        background-image: url('@Url.Content("~/css/listview/images/file_icons.png")');
        background-position: -5px -151px;
        background-size: 302%;
    }

    #nestedlist {
        max-width: 500px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }

    body.bootstrap5 .e-listview .e-text-content *{
        vertical-align: middle;
    }
    </style>
@section Title{
                    <title>ASP.NET Core ListView Nested List Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Nested List in ASP.NET Core ListView Control</h1>
                }