@using EJ2CoreSampleBrowser.Models;
@using Syncfusion.EJ2
@using Syncfusion.EJ2.Notifications;
@using Syncfusion.EJ2.DropDowns;
@using Syncfusion.EJ2.Buttons;
@section ControlsSection{

    <div class="col-lg-12 control-section toast-pos-section">
        <div class="control_wrapper" id="toast_pos_target">
            <ejs-toast id="toast_pos" title="Matt sent you a friend request" width="350" content="You have a friend request yet to accept." icon="e-laura" close="onclose" beforeOpen="onBeforeOpen">
                <e-toast-position X="Right" Y="Bottom"></e-toast-position>
            </ejs-toast>

            <div id="toast_pos_property">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td>
                                <div style="padding:25px 0 0 0;">
                                    <ejs-radiobutton id="dropdownRadio" label="Position" name="toastPos" value="Position" change="checkboxChange2" checked="true"></ejs-radiobutton>
                                </div>
                            </td>
                            <td>
                                <div style="padding:25px 0 0 0;">
                                    <ejs-radiobutton id="customRedio" label="Custom" name="toastPos" value="Custom" change="checkboxChange3"></ejs-radiobutton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td id="dropdownChoose" colspan="2">
                                <div id="dropdown" style="padding-top:25px;">
                                    <ejs-dropdownlist id="position" dataSource="@ViewBag.data" placeholder="Select a position" index="2" popupHeight="200px" change="valueChange">
                                        <e-dropdownlist-fields text="Value" value="Value"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" id="customChoose" style="display: none">
                                <form id="formId" class="form-horizontal">
                                    <div class="e-row">
                                        <div class="e-float-input">
                                            <input class="e-input" id="xPos" name="Digits" value="50" digits="true" data-digits-message="Please enter digits only." required="">
                                            <span class="e-float-line"></span>
                                            <label class="e-float-text" for="Digits">X Position</label>
                                        </div>
                                    </div>
                                    <div class="e-row">
                                        <div class="e-float-input">
                                            <input class="e-input" id="yPos" name="Digits" value="50" digits="true" data-digits-message="Please enter digits only." required="">
                                            <span class="e-float-line"></span>
                                            <label class="e-float-text" for="Digits">Y Position</label>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="padding:25px 0 0 0;">
                                    <ejs-radiobutton id="radio1" label="Target" name="toast" value="Target" change="checkboxChange"></ejs-radiobutton>
                                </div>
                            </td>
                            <td>
                                <div style="padding:25px 0 0 0;">
                                    <ejs-radiobutton id="radio2" label="Global" name="toast" value="Global" change="checkboxChange1" checked="true"></ejs-radiobutton>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="toast_btn" style="padding-top: 25px">
                    <button class="e-btn e-control" id="show_Toast" style="margin-right: 15px"> Show Toasts </button>
                    <button class="e-btn e-control" id="hideTosat"> Hide All </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        setTimeout(
            () => {
                toastObj = document.getElementById('toast_pos').ej2_instances[0];
                toastObj.show({
                    target: document.body
                });
            }, 500);

        function toastShow(timeOutDelay) {
            setTimeout(
                () => {
                        toastObj.show();
                }, timeOutDelay);
        }

        var btnEle = document.getElementById('show_Toast');
        var hideBtn = document.getElementById('hideTosat');
        
        btnEle.onclick = function () {
            if (customFlag) {
                setcustomPosValue();
            }
            toastObj.show({
                target: document.body
            });
        };

        document.getElementById('hideTosat').onclick = function () {
            toastObj.hide('All');
        };

        document.onclick = function (e) {
            if (e.target !== btnEle && toastObj.target === document.body) {
                toastObj.hide('All');
            }
        };

        function onclose(e) {
            if (e.toastContainer.childElementCount === 0) {
                hideBtn.style.display = 'none';
            }
        }

        function onBeforeOpen() {
            hideBtn.style.display = 'inline-block';
        }

        var customFlag = false;

        function checkboxChange(e) {
            if (this.checked) {
                toastObj.hide('All');
                toastObj.target = '#toast_pos_target';
                toastShow(1000);
            }
        }

        function checkboxChange1(e) {
            if (this.checked) {
                toastObj.hide('All');
                toastObj.target = document.body;
                toastShow(1000);
            }
        }

        function checkboxChange2(e) {
            var listObj = document.getElementById('position').ej2_instances[0];
            if (this.checked) {
                toastObj.hide('All');
                document.getElementById('dropdownChoose').style.display = 'table-cell';
                document.getElementById('customChoose').style.display = 'none';
                setToastPosValue(listObj.value.toString()); customFlag = false; toastShow(1000);
            }
        }

        function checkboxChange3(e) {
            if (this.checked) {
                toastObj.hide('All');
                document.getElementById('dropdownChoose').style.display = 'none';
                document.getElementById('customChoose').style.display = 'table-cell';
                setcustomPosValue(); customFlag = true; toastShow(1000);
            }
        }

        //Setting Toast Custom Position
        function setcustomPosValue() {
            var initialWid = toastObj.width.toString();
            toastObj.width = initialWid;
            toastObj.position.X = parseInt((document.getElementById('xPos')).value, 10);
            toastObj.position.Y = parseInt((document.getElementById('yPos')).value, 10);
        }

        //Setting Toast Position
        function setToastPosValue(value) {
            toastObj.width = 350;
            switch (value) {
                case 'Top Left':
                    toastObj.position.X = 'Left'; toastObj.position.Y = 'Top'; break;
                case 'Top Right':
                    toastObj.position.X = 'Right'; toastObj.position.Y = 'Top'; break;
                case 'Top Center':
                    toastObj.position.X = 'Center'; toastObj.position.Y = 'Top'; break;
                case 'Top Full Width':
                    toastObj.width = '100%'; toastObj.position.X = 'Center'; toastObj.position.Y = 'Top'; break;
                case 'Bottom Left':
                    toastObj.position.X = 'Left'; toastObj.position.Y = 'Bottom'; break;
                case 'Bottom Right':
                    toastObj.position.X = 'Right'; toastObj.position.Y = 'Bottom'; break;
                case 'Bottom Center':
                    toastObj.position.X = 'Center'; toastObj.position.Y = 'Bottom'; break;
                case 'Bottom Full Width':
                    toastObj.width = '100%'; toastObj.position.X = 'Center'; toastObj.position.Y = 'Bottom'; break;
            }
        }

        function valueChange(e) {
            toastObj.hide('All');
            setToastPosValue(e.value.toString());
            toastShow(1000);
        }
    </script>
    <style>
        /* custom code start */
        .toast-pos-section #toast_pos_property {
            height: 500px;
            border: none;
            margin: auto;
        }
        /* custom code end */

        #toast_pos_property td {
            width: 50%;
        }

        .e-toast-icon.e-laura.e-icons {
            border-radius: 50%;
            background-image: url('./../css/Toast/laura.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 50px !important;
            width: 100px !important;
            background-size: 50px 50px;
            margin: 0;
        }


        @@media (min-width: 740px) {
            #toast_pos_property {
                width: 450px;
            }
        }
    </style>
}

@section ActionDescription{


    <div id="action-description">
        <p>This sample demonstrates the different positioning of the Toast based on the target given. </p>
    </div>



}
@section Description{


   <div id="description">
    <p>Based on the use case toast can take the body element or any specific element as target. In this sample, with help of custom inputs toast can be positioned based on the target.</p>
    <ul>
        <li>
            Toast can be positioned in the 8 pre-defined places.
        </li>
        <li>
            Custom option will enable to give X and Y values to align the toast based on the given inputs.
        </li>
    </ul>
    <p>
        More information about Toast can be found in this
        <a href="https://ej2.syncfusion.com/aspnetcore/documentation/toast/getting-started-asp-core/" target="_blank"> documentation section</a>.
    </p>
</div>


}

@*custom code start*@

@section Meta{

    <meta name="description" content="The sample demonstrates how to display the toast notification with various built-in or custom position based on target or page in ASP.NET Core platform." />

}

@*custom code end*@

