@page

@using Syncfusion.EJ2
@section ControlsSection {
    <div class=" control-section">
        <div id="wrapper" class="datetimepicker-section">
            <div id="datetimepicker-control">
                <ejs-datetimepicker id="datetimepicker" enableMask="true" format="M/d/yyyy hh:mm a"></ejs-datetimepicker>
            </div>
        </div>
    </div>
}

@*custom code start*@
<style>
    #wrapper {
        max-width: 246px;
        margin: 30px auto;
        padding-top: 20px;
    }
</style>
@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            The following sample demonstrates the date time masking functionality in the DateTimePicker. It allows you to enter a valid value for each mask pattern of the date time masking.
        </p>
    </div>

}

@section Description{
    <div id="description">
        <p>
            DateTimePicker has an <code>enableMask</code> property that allows you to enable the built-in date time masking support. The mask pattern is defined based on the provided date time format to the component. If the format is not specified, the mask pattern is formed based on the default format of the current culture.
        </p>
    </div>

}

@section Meta{
    <meta name="description" content="This example demonstrates the Mask Support in ASP.NET Core DateTimePicker control. Explore here for more details." />
}
@section Title{
    <title>ASP.NET Core DateTimePicker Mask Support Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Mask Support in ASP.NET Core DateTimePicker Control</h1>
}