@using Syncfusion.EJ2
@section ControlsSection{
    <div class="col-lg-8 control-section">
        <div class="content-wrapper">
            <ejs-numerictextbox id="numeric" format="n2" value="10" locale="de" placeholder="Geben Sie den Wert ein" floatLabelType='Always'></ejs-numerictextbox>
            <ejs-numerictextbox id="percent" format="p2" value="0.5" min="0" max="1" step="0.01" locale="de" placeholder="Geben Sie den Prozentsatz ein" floatLabelType='Always'></ejs-numerictextbox>
            <ejs-numerictextbox id="currency" format="c2" value="100" locale="de" placeholder="Geben Sie die Währung ein" floatLabelType='Always' currency="EUR"></ejs-numerictextbox>
        </div>
    </div>


    <div class="col-lg-4 property-section">
        <table id="property" title="Properties">
            <tbody>
                <tr>
                    <td>
                        <div>Culture</div>
                    </td>
                    <td>
                        <div>
                            <!-- Drop down option to switch cultures -->
                            <ejs-dropdownlist id="cultures" text="de" change="changeLocale" dataSource="ViewBag.cultureData">
                                <e-dropdownlist-fields text="CultureName"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        
        function loadCultureFiles(name) {
            var files = ['currencies.json', 'numbers.json'];
            if (name === 'zh') {
                files.push('currencyData.json');
            }
            var loader = ej.base.loadCldr;
            var loadCulture = function () {
                var val, ajax;
                if (name === 'zh' && prop === files.length - 1) {
                    ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../scripts/cldr-data/supplemental/' + files[prop], 'GET', false);
                } else {
                    ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../scripts/cldr-data/main/' + name + '/' + files[prop], 'GET', false);
                }
                ajax.onSuccess = function (value) {
                    val = value;
                };
                ajax.send();
                loader(JSON.parse(val));

            };
            for (var prop = 0; prop < files.length; prop++) {
                loadCulture();
            }
        }

        loadCultureFiles('de');
        function changeLocale() {
            var numeric = document.getElementById("numeric").ej2_instances[0];
            var percent = document.getElementById("percent").ej2_instances[0];
            var currency = document.getElementById("currency").ej2_instances[0];

            var culture = document.getElementById('cultures').value;
            numeric.locale = culture;
            percent.locale = culture;
            currency.locale = culture;
            if (culture != 'en') {
                loadCultureFiles(culture);
            }
            if (culture === 'zh') {
                currency.currency = 'CNY';
                numeric.placeholder = '输入值';
                currency.placeholder = '输入货币';
                percent.placeholder = '输入百分比';
            }
            else if (culture === 'de') {
                currency.currency = 'EUR';
                numeric.placeholder = 'Geben Sie den Wert ein';
                currency.placeholder = 'Geben Sie die Währung ein';
                percent.placeholder = 'Geben Sie den Prozentsatz ein';
            }
            else {
                currency.currency = 'USD';
                numeric.placeholder = 'Enter the value';
                currency.placeholder = 'Enter the currency';
                percent.placeholder = 'Enter the percentage';
            }
        }

    </script>

    <style>
        .property-panel-content {
            padding: 0 10px 10px 0;
        }

        .content-wrapper {
            width: 50%;
            margin: 0 auto;
            min-width: 185px;
        }

        .e-float-input.e-numeric.e-input-group {
            margin-top: 40px;
        }
    </style>
}
@section PreScripts {
    <script>
        ej.base.enableRipple(true)
        ej.base.L10n.load({
            'en': {
                'numerictextbox': { incrementTitle: 'Increment value', decrementTitle: 'Decrement value' }
            },
            'de': {
                'numerictextbox': { incrementTitle: 'Wert erhöhen', decrementTitle: 'Dekrementwert' }
            },
            'zh': {
                'numerictextbox': { incrementTitle: '增值', decrementTitle: '遞減值' }
            }
        });
    </script>
}

@section Meta{
    <meta name="description" content="NumericTextBox comes with built-in internationalization support. Based on the culture, it formats the currency symbol, decimal separator, and group separators." />
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the globalization support of the Numeric TextBox. Change the locale values from culture drop-down to change the currency symbol, decimal separator, and group separators format of Numeric TextBox.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The NumericTextBox comes with built-in internationalization support to adapt based on the culture. You can change the culture of the component using the locale property, that format the currency symbol, decimal separator, and group separators.
        </p>
        <p>
            In this demo, NumericTextBox control renders with the German culture.
        </p>
        <p>
            More information about NumericTextBox can be found in this
            <a target="_blank"
               href="http://ej2.syncfusion.com/aspnetcore/documentation/numerictextbox/internationalization.html">
                documentation section
            </a>.
        </p>
    </div>
}


