@page
@model EJ2CoreSampleBrowser.Pages.HeatMapChart.CellJson

@using Syncfusion.EJ2.HeatMap;
@section ControlsSection{
    @{
        var textStyle = new { size = "15px", fontWeight = "500", fontStyle = "Normal", fontFamily = "inherit" };
        var xAxisLabel = new string[] { "Austria", "China", "France", "Germany", "Italy", "Mexico", "Spain", "Thailand", "UK", "USA" };
        var yAxisLabel = new string[] { "2010", "2011", "2012", "2013", "2014", "2015", "2016" };
        var labelTextStyle = new { fontFamily = "inherit"};
        var cellBorder = new
        {
            width = "1",
            radius = 4,
            color = "white"
        };
    }
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-heatmap id='container' load="window.onHeatmapLoad"  dataSource="@Model.data">
                    <e-heatmap-datasourcesettings isJsonData="true" adaptorType="Cell" xDataMapping="rowid" yDataMapping="columnid" valueMapping="value"></e-heatmap-datasourcesettings>
                    <e-heatmap-titlesettings text="Most Visited Destinations by International Tourist Arrivals" textStyle="textStyle">
                    </e-heatmap-titlesettings>
                    <e-heatmap-xaxis labels="xAxisLabel" textStyle="labelTextStyle"></e-heatmap-xaxis>
                    <e-heatmap-yaxis labels="yAxisLabel" textStyle="labelTextStyle"></e-heatmap-yaxis>
                    <e-heatmap-palettesettings>
                        <e-palettes>
                            <e-palette color="#DCD57E"></e-palette>
                            <e-palette color="#A6DC7E"></e-palette>
                            <e-palette color="#7EDCA2"></e-palette>
                            <e-palette color="#6EB5D0"></e-palette>
                        </e-palettes>
                    </e-heatmap-palettesettings>
                    <e-heatmap-cellsettings border="cellBorder" showLabel="true" format="{value} M" textStyle="labelTextStyle"></e-heatmap-cellsettings>
                    <e-heatmap-legendsettings textStyle="labelTextStyle"></e-heatmap-legendsettings>
                    <e-heatmap-tooltipsettings>
                        <e-tooltipsettings-textstyle fontFamily="inherit"></e-tooltipsettings-textstyle>
                    </e-heatmap-tooltipsettings>
                </ejs-heatmap>
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href="https://en.wikipedia.org/wiki/World_Tourism_rankings" target="_blank">https://en.wikipedia.org/</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.onHeatmapLoad = function (args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
        }
    </script>
}

@section ActionDescription{
    <div id="action-description">
    <p>This sample visualizes the number of international tourist arrivals in millions of the most visited destinations in the world.</p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, you can see how to bind JSON data and configure the Heatmap using the data adaptor support. You can bind
            the JSON data with information for each cell to the Heatmap using
            <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.HeatMap.HeatMapData.html#Syncfusion_EJ2_HeatMap_HeatMapData_IsJsonData" target="_blank" aria-label="isJsonData">isJsonData</a> and by defining the
            <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.HeatMap.HeatMapData.html#Syncfusion_EJ2_HeatMap_HeatMapData_AdaptorType" target="_blank" aria-label="adaptorType">adaptorType</a> properties. In cell JSON data, the value for each cell is mapped using the
            <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.HeatMap.HeatMapData.html#Syncfusion_EJ2_HeatMap_HeatMapData_XDataMapping" target="_blank" aria-label="xDataMapping">xDataMapping</a>,
            <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.HeatMap.HeatMapData.html#Syncfusion_EJ2_HeatMap_HeatMapData_YDataMapping" target="_blank" aria-label="yDataMapping">yDataMapping</a> and
            <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.HeatMap.HeatMapData.html#Syncfusion_EJ2_HeatMap_HeatMapData_ValueMapping" target="_blank" aria-label="valueMapping">valueMapping</a> properties.</p>
            <p>The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item on touch-enabled devices.</p>
        <br>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the JSON Cell in ASP.NET Core HeatMap Chart control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core HeatMap Chart JSON Cell Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of JSON Cell in ASP.NET Core HeatMap Chart Control</h1>
                }