@page

@using EJ2CoreSampleBrowser.Models;
@using Syncfusion.EJ2.Buttons;

@{
    var textStyle = new { size = "15px", fontWeight = "500", fontStyle = "Normal" };
    var xAxisLabel = new string[]
    {
        "2005", "2006", "2007", "2008", "2009", "2010",
        "2011", "2012", "2013", "2014", "2015"
    };
    var yAxisLabel = new string[]
    {
        "Agriculture", "Energy", "Administration", "Health", "Interior",
        "Justice", "NASA", "Transportation"
    };
    var labelTextStyle = new { fontFamily = "inherit" };
    var cellBorder = new
    {
        width = "0",
    };
    var colorRange = new HeatMapData().GetPaletteData();
}
@section ControlsSection{
    
    <div class="col-lg-9 control-section">
        <div id="container">
            <ejs-heatmap id='container' load="window.onHeatmapLoad" dataSource="@colorRange">
                <e-heatmap-titlesettings text="U.S. Government Energy Consumption by Agency (Trillion Btu)" textStyle="textStyle">
                </e-heatmap-titlesettings>
                <e-heatmap-cellsettings border="cellBorder" showLabel="false"></e-heatmap-cellsettings>
                <e-heatmap-xaxis labels="xAxisLabel" textStyle="labelTextStyle" labelRotation="45" labelIntersectAction="None"></e-heatmap-xaxis>
                <e-heatmap-yaxis labels="yAxisLabel" textStyle="labelTextStyle" ></e-heatmap-yaxis>
                <e-heatmap-palettesettings type="Gradient">
                    <e-palettes>
                        <e-palette startValue="5" endValue="15" minColor="#FFFFDA" maxColor="#EDF8B6"></e-palette>
                        <e-palette startValue="15" endValue="20" minColor="#CAE8B4" maxColor="#78D1BD"></e-palette>
                        <e-palette startValue="20" endValue="31.7" minColor="#36BCC6" maxColor="#208FC6"></e-palette>
                    </e-palettes>
                </e-heatmap-palettesettings>
                <e-heatmap-legendsettings visible="true" textStyle="labelTextStyle"></e-heatmap-legendsettings>
                <e-heatmap-tooltipsettings>
                    <e-tooltipsettings-textstyle fontFamily="inherit"></e-tooltipsettings-textstyle>
                </e-heatmap-tooltipsettings>
            </ejs-heatmap>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table id="property" title="Properties" style="width: 100%;margin-left: -10px;">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 60%">
                        <div>Palette Type:</div>
                    </td>
                    <td style="width: 40%;">
                        <div class="row" style="padding-top: 10px;">
                            <ejs-radiobutton id="fixed" label="Fixed" name="paletteType" change="window.valueChange" value="Fixed" ></ejs-radiobutton>
                        </div>
                        <div class="row" style="padding-top: 10px;">
                            <ejs-radiobutton id="gradient" label="Gradient" name="paletteType" change="window.valueChange" value="Gradient" checked="true"></ejs-radiobutton>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">

        window.onHeatmapLoad = function (args) {
            window.heatmap = args.heatmap;
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
            var width = parseInt(((args.heatmap.width, args.heatmap.element.offsetWidth) || args.heatmap.element.offsetWidth || 600), 10);
            if (width < 500) {
                window.heatmap.xAxis.labelRotation = 0;
                window.heatmap.xAxis.labelIntersectAction = "Trim";
            } else {
                window.heatmap.xAxis.labelRotation = 45;
                window.heatmap.xAxis.labelIntersectAction = "None";
            }
        }
        window.valueChange = function (args) {
            window.heatmap.paletteSettings.type = args.value;
        }

    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the energy consumption in trillion British thermal units (btu) by the various public sectors in US
            government over the years. The data label is disabled in this sample, the tooltip displays the data point values.
            In property panel, the options are available to change palette type in Heatmap by means of radio button.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            This example explains how to provide a specific color for specific range in heatmap. The <code> startValue </code> and <code> endValue </code> properties are used to define the range start and end values. The <code> minColor </code> and <code> maxColor </code> properties represent the colors of given range.
        </p>
        <p>
            Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
        </p>
        <br />
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Color Range in ASP.NET Core HeatMap Chart control. Explore here for more details."/>
                }
<style>
            body.material-dark .property-panel-section {
            color: #ffffff;
        }
</style>
@section Title{
                    <title>ASP.NET Core HeatMap Chart Color Range Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Color Range in ASP.NET Core HeatMap Chart Control</h1>
                }