@page
@model EJ2CoreSampleBrowser.Pages.HeatMapChart.ColorAndSizeAttributes

@using Syncfusion.EJ2.HeatMap;
@using Syncfusion.EJ2.DropDowns;
@section ControlsSection{
    @{
        var textStyle = new { size = "15px", fontWeight = "500", fontStyle = "Normal", fontFamily = "inherit" };
        var xAxisLabel = new string[] { "2017", "2016", "2015", "2014", "2013", "2012" };
        var yAxisLabel = new string[] { "Jan-Feb", "Mar-Apr", "May-Jun", "Jul-Aug", "Sep-Oct", "Nov-Dec" };
        var labelTextStyle = new { fontFamily = "inherit" };
        var cellBorder = new
        {
            width = "0",
        };
    }
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-heatmap id='container' load="window.onHeatmapLoad" dataSource="@Model.data" tooltipRender="window.tooltipRender">
                    <e-heatmap-datasourcesettings isJsonData="true" adaptorType="Cell" xDataMapping="Year" yDataMapping="Months">
                        <e-data-bubbledatamapping size="Accidents" color="Fatalities"></e-data-bubbledatamapping>
                    </e-heatmap-datasourcesettings>
                    <e-heatmap-titlesettings text="Commercial Aviation Accidents and Fatalities by year 2012 - 2017" textStyle="textStyle">
                    </e-heatmap-titlesettings>
                    <e-heatmap-xaxis labels="xAxisLabel" textStyle="labelTextStyle"></e-heatmap-xaxis>
                    <e-heatmap-yaxis labels="yAxisLabel" textStyle="labelTextStyle"></e-heatmap-yaxis>
                    <e-heatmap-palettesettings type="Gradient">
                        <e-palettes>
                            <e-palette color="#C06C84"></e-palette>
                            <e-palette color="#355C7D"></e-palette>
                        </e-palettes>
                    </e-heatmap-palettesettings>
                    <e-heatmap-cellsettings border="cellBorder" textStyle="labelTextStyle" showLabel="false" tileType="Bubble" bubbleType="SizeAndColor"></e-heatmap-cellsettings>
                    <e-heatmap-legendsettings visible="true" textStyle="labelTextStyle"></e-heatmap-legendsettings>
                    <e-heatmap-tooltipsettings>
                        <e-tooltipsettings-textstyle fontFamily="inherit"></e-tooltipsettings-textstyle>
                    </e-heatmap-tooltipsettings>
                </ejs-heatmap>
            </div>
            <div style="float: right; margin-right: 10px;">
                Source:
                <a href="https://en.wikipedia.org" rel="nofollow" target='_blank'>https://en.wikipedia.org/</a>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.onHeatmapLoad = function (args) {
            window.heatmap = args.heatmap;
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
        }
        window.tooltipRender = function (args) {
            args.content = ['Year ' + ' : ' + args.xLabel + '<br/>' + 'Months ' + ' : ' + args.yLabel + '<br/>'
                + 'Accidents ' + ' : ' + (args.value)[0].bubbleData + '<br/>' + 'Fatalities ' + ' : '
                + (args.value)[1].bubbleData];
        };
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample illustrates the number of commercial air craft accidents and the fatalities across the world between 2012 and 2017. Each data point interprets the accident count and the fatality associated with the accident, the size of the bubble depicts the accident count and the shade of the bubble depicts the fatality count.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, you can see how to map more than one data for each data point or cell of the bubble heatmap. The <code>size</code> and <code>shade</code> parameters of the bubble is used to depict the data source values. The legend will be displayed only for the shade parameter of the bubble. For JSON data, you can specify which data source value should be mapped to either size or shade of the bubble parameters using the <a target='_blank' href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.HeatMap.HeatMapData.html#Syncfusion_EJ2_HeatMap_HeatMapData_BubbleDataMapping" aria-label="bubbleDataMapping">bubbleDataMapping</a> property. The data source field should be mapped to the <a target='_blank' href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.HeatMap.HeatMapBubbleData.html#Syncfusion_EJ2_HeatMap_HeatMapBubbleData_Size" aria-label="size">size</a> and <a target='_blank' href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.HeatMap.HeatMapBubbleData.html#Syncfusion_EJ2_HeatMap_HeatMapBubbleData_Color" aria-label="color">color</a> properties of the <code>bubbleDataMapping</code> property.
        </p>
        <p>The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item on touch-enabled devices.</p>
        <br>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Color and Size Attributes in ASP.NET Core HeatMap Chart control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core HeatMap Chart Color and Size Attributes Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Color and Size Attributes in ASP.NET Core HeatMap Chart Control</h1>
                }