@page

@using EJ2CoreSampleBrowser.Models;

@{
    var textStyle = new { size = "15px", fontWeight = "500", fontStyle = "Normal", fontFamily = "inherit" };
    var xAxisLabel = new string[] { "Canada", "China", "Egypt", "Mexico", "Norway", "Russia", "UK", "USA" };
    var yAxisLabel = new string[] { "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010" };
    var labelTextStyle = new { fontFamily = "inherit" };
    var cellBorder = new
    {
        width = "0",
    };
    var tooltiptemplate = new HeatMapData().GetTooltipData();
}
@section ControlsSection{
    
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-heatmap id='container' load="window.onHeatmapLoad" dataSource="@tooltiptemplate">
                    <e-heatmap-titlesettings text="Crude Oil Production of Non-OPEC Countries (in Million barrels per day)" textStyle="textStyle">
                    </e-heatmap-titlesettings>
                    <e-heatmap-xaxis labels="xAxisLabel" textStyle="labelTextStyle" labelRotation="45" labelIntersectAction="None"></e-heatmap-xaxis>
                    <e-heatmap-yaxis labels="yAxisLabel" textStyle="labelTextStyle" ></e-heatmap-yaxis>
                    <e-heatmap-palettesettings type="Fixed">
                        <e-palettes>
                            <e-palette value="0" color="#C2E7EC"></e-palette>
                            <e-palette value="0.6" color="#AEDFE6"></e-palette>
                            <e-palette value="0.75" color="#9AD7E0"></e-palette>
                            <e-palette value="1" color="#86CFDA"></e-palette>
                            <e-palette value="1.5" color="#72C7D4"></e-palette>
                            <e-palette value="2" color="#5EBFCE"></e-palette>
                            <e-palette value="2.5" color="#4AB7C8"></e-palette>
                            <e-palette value="3" color="#36AFC2"></e-palette>
                            <e-palette value="3.5" color="#309DAE"></e-palette>
                            <e-palette value="5" color="#2B8C9B"></e-palette>
                            <e-palette value="5.5" color="#257A87"></e-palette>
                            <e-palette value="6" color="#206974"></e-palette>
                            <e-palette value="8" color="#1B5761"></e-palette>
                            <e-palette value="9" color="#15464D"></e-palette>
                            <e-palette value="9.5" color="#000000"></e-palette>
                        </e-palettes>
                    </e-heatmap-palettesettings>
                    <e-heatmap-cellsettings border="cellBorder" textStyle="labelTextStyle" format="{value} M"></e-heatmap-cellsettings>
                    <e-heatmap-legendsettings visible="false"></e-heatmap-legendsettings>
                    <e-heatmap-tooltipsettings fill="#265259"
                            template="<div style='border-radius: 5px;font-family: inherit; padding-left: 10px;padding-right: 10px;padding-bottom: 6px;padding-top: 6px;background:#000000; border: 1px #919191;'><span style='color:white'>In ${yLabel}, the ${xLabel} produced ${value} million barrels per day.<span></div>">
                        <e-tooltipsettings-textstyle fontFamily="inherit" color="#FFFFFF" size="12px"></e-tooltipsettings-textstyle>
                        <e-tooltipsettings-border color="#98BABF" width="1"></e-tooltipsettings-border>
                    </e-heatmap-tooltipsettings>
                </ejs-heatmap>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.onHeatmapLoad = function (args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
        }
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the crude oil production of the non-OPEC countries over the years. The data point values displayed
             are in million barrels per day units.
         </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, you can see how to customize the tooltip content in the HeatMap. You can customize the tooltip content by using the <a href="https://ej2.syncfusion.com/aspnetcore/documentation/heatmap-chart/tooltip#tooltip-template" target="_blank" aria-label="template">template</a> property.
        </p>
        <p>The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item on touch-enabled devices.</p>
        <br>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Tooltip Template in ASP.NET Core HeatMap Chart control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core HeatMap Chart Tooltip Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Tooltip Template in ASP.NET Core HeatMap Chart Control</h1>
                }