@page

@section ControlsSection{
    @{
        var labelFont = new Syncfusion.EJ2.LinearGauge.LinearGaugeLabel { Font = new Syncfusion.EJ2.LinearGauge.LinearGaugeFont { FontFamily = "inherit" } };
    }
    <div class="control-section">
        <ejs-lineargauge load="gaugeLoad" id='defaultContainer' Background='Transparent' style='display:block;'
                     Orientation='Vertical'>
            <e-lineargauge-container Type="Thermometer" RoundedCornerRadius="5" Width="13"></e-lineargauge-container>
            <e-lineargauge-axes>
                <e-lineargauge-axis Minimum="-20" Maximum="50" labelStyle="labelFont">
                    <e-axis-majorticks Interval="10" Height="7"></e-axis-majorticks>
                    <e-axis-minorticks Interval="5" Height="0"></e-axis-minorticks>
                    <e-axis-line Width="0"></e-axis-line>
                    <e-lineargauge-pointers>
                        <e-lineargauge-pointer Type="Marker" MarkerType=Triangle Value="35" Color="#0074E3" Height=12 Width=12 Placement=Center Offset="3"></e-lineargauge-pointer>
                    </e-lineargauge-pointers>
                </e-lineargauge-axis>
                <e-lineargauge-axis Minimum="0" Maximum="120" OpposedPosition="true" labelStyle="labelFont">
                    <e-axis-majorticks Interval="20" Height="7"></e-axis-majorticks>
                    <e-axis-minorticks Interval="5" Height="0"></e-axis-minorticks>
                    <e-axis-line Width="0"></e-axis-line>
                    <e-lineargauge-pointers>
                        <e-lineargauge-pointer Type="Bar" Value="94" Color="#0074E3" Height=13 Width=13></e-lineargauge-pointer>
                    </e-lineargauge-pointers>
                </e-lineargauge-axis>
            </e-lineargauge-axes>
            <e-lineargauge-annotations>
                <e-lineargauge-annotation Content='<div style="font-size:13px;margin-left: -20px;margin-top: -30px;"> \u00b0C </div>' X="0" Y="0" AxisValue=50 AxisIndex=0 ZIndex="1"></e-lineargauge-annotation>
                <e-lineargauge-annotation Content='<div style="font-size:13px;margin-left: 18px;margin-top: -30px;"> \u00b0F </div>' X="12" Y="0" AxisValue=120 AxisIndex=1 ZIndex="1"></e-lineargauge-annotation>
            </e-lineargauge-annotations>
        </ejs-lineargauge>
    </div>
    <!-- custom code start -->
    <style>
        .control-section {
            min-height: 450px;
        }
    </style>
    <!-- custom code end -->
}

<script>
    window.gaugeLoad = function (args) {
    @* custom code start *@
         var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
    @* custom code end *@
    }

</script>

@section Meta{
    <meta name="description" content="This example demonstrates the Thermometer in ASP.NET Core LinearGauge control. Explore here for more details." />
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample shows a thermometer that displays temperature in both degrees and fahrenheit.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render and configure a linear gauge to look like a thermometer.
            More information about containers can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/linear-gauge/linear-gauge-appearance#customizing-the-linear-gauge-container" aria-label="documentation section">documentation section</a>.
        </p>
    </div>
}
@section Title{
    <title>ASP.NET Core Thermometer Example - Syncfusion Demos </title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of Thermometer in ASP.NET Core LinearGauge Control</h1>
                }