@page

@section ControlsSection{
    @{
        var labelFont = new Syncfusion.EJ2.LinearGauge.LinearGaugeFont { FontFamily = "inherit" };
        var titlestyle = new Syncfusion.EJ2.LinearGauge.LinearGaugeTitleStyleLinearGauge { FontFamily = "inherit", FontWeight = "499" };
    }
    <div class="control-section">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12"
             style="display: flex;justify-content: center; align-items: center;">
                <div style="margin: auto;padding: 10px;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div id='horizontal' style="padding:6px;cursor:pointer;width:86px;color:black;font-size:15px;border:1px solid #0074E3;background-color:white;text-align:center">
                                        Horizontal
                                    </div>
                                </td>
                                <td>
                                    <div id='vertical' style="padding:6px;cursor:pointer;width:86px;color:white;font-size:15px;border:1px solid #0074E3;background-color: #0074E3;text-align:center">
                                        Vertical
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <pre style="background-color: inherit; border:hidden"></pre>
        <div id="containerBox" style="float: left;padding: 4%;"></div>
        <div id='containerDefault' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load="gaugeLoad" id='linearDefault' Background='Transparent'
                         Title='Default axis' TitleStyle="titlestyle" Width='150px' Height='350px'
                         style='display:block;height:100px;' Orientation="Vertical">
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true">
                        <e-axis-labelstyle font=labelFont></e-axis-labelstyle>
                        <e-axis-majorticks Interval="20" Height="7" Width="1"></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3"></e-axis-minorticks>
                        <e-axis-line Width="5"></e-axis-line>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Width=0></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
        <div id='containerEdge' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load="gaugeLoad" id='linearEdge' Background='Transparent' Title='Edge style'
                         TitleStyle="titlestyle" Width='150px' Height='350px' style='display:block;height:100px;'
                         Orientation='Vertical'>
                <e-lineargauge-container Type="RoundedRectangle" Width="20" RoundedCornerRadius=10></e-lineargauge-container>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true">
                        <e-axis-majorticks Interval="20" Height="7" Width="1"></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3"></e-axis-minorticks>
                        <e-axis-labelstyle UseRangeColor=true font=labelFont></e-axis-labelstyle>
                        <e-axis-line Width="0"></e-axis-line>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Width=0></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
        <div id='containerRange' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load="gaugeLoad" id='linearRange' Title='Range color for axis'
                         TitleStyle="titlestyle" Width='150px' Height='350px' style='display:block;height:130px;'
                         Background='Transparent' Orientation='Vertical'>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true">
                        <e-axis-majorticks Interval="20" Height="7" Width="1"></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3"></e-axis-minorticks>
                        <e-axis-labelstyle UseRangeColor=true font=labelFont></e-axis-labelstyle>
                        <e-axis-line Width="0"></e-axis-line>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Width=0></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                        <e-lineargauge-ranges>
                            <e-lineargauge-range Start="0" End="30" Color="#F45656" StartWidth="5" EndWidth="5" Offset="-5"></e-lineargauge-range>
                            <e-lineargauge-range Start="30" End="60" Color="#FFC93E" StartWidth="5" EndWidth="5" Offset="-5"></e-lineargauge-range>
                            <e-lineargauge-range Start="60" End="100" Color="#0DC9AB" StartWidth="5" EndWidth="5" Offset="-5"></e-lineargauge-range>
                        </e-lineargauge-ranges>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
        <div id='containerInversed' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load="gaugeLoad" id='linearInversed' Title='Inversed axis'
                         TitleStyle='titlestyle' Width='150px' Height='350px' style='display:block;height:100px;'
                         Background='Transparent' Orientation='Vertical'>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" IsInversed=true OpposedPosition="true">
                        <e-axis-labelstyle UseRangeColor=true font=labelFont></e-axis-labelstyle>
                        <e-axis-majorticks Interval="20" Height="7" Width="1"></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3"></e-axis-minorticks>
                        <e-axis-line Width="5"></e-axis-line>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Width=0></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
        <div id='containerOpposed' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load="gaugeLoad" id='linearOpposed' Title='Opposed axis'
                         TitleStyle='titlestyle' Width='150px' Height='350px' style='display:block;height:100px;'
                         Background='Transparent' Orientation='Vertical'>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true">
                        <e-axis-majorticks Interval="20" Height="7" Width="1" Position=Outside></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3" Position=Outside></e-axis-minorticks>
                        <e-axis-line Width="5"></e-axis-line>
                        <e-axis-labelstyle Position=Outside font=labelFont></e-axis-labelstyle>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Width=0></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
    </div>
}

<script>
    var linearDefaultGauge, linearEdgeGauge, linearRangeGauge, linearInversedGauge, linearOpposedGauge, gauge;
    window.gaugeLoad = function (args) {
    @* custom code start *@
        var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
    @* custom code end *@
        if (args.gauge.element.id === 'linearDefault') {
            linearDefaultGauge = args.gauge;
        }
        if (args.gauge.element.id === 'linearEdge') {
            linearEdgeGauge = args.gauge;
        }
        if (args.gauge.element.id === 'linearRange') {
            linearRangeGauge = args.gauge;
        }
        if (args.gauge.element.id === 'linearInversed') {
            linearInversedGauge = args.gauge;
        }
        if (args.gauge.element.id === 'linearOpposed') {
            linearOpposedGauge = args.gauge;
        }
    }
    document.addEventListener("DOMContentLoaded", function () {

        document.getElementById('horizontal').addEventListener('click', function () {
            document.getElementById('containerBox').style.padding = "0%";
            document.getElementById('containerDefault').className = document.getElementById('containerEdge').className =
                document.getElementById('containerRange').className = document.getElementById('containerInversed').className =
                document.getElementById('containerOpposed').className = "col-xs-12 col-sm-12 col-lg-12 col-md-12";
            linearDefaultGauge.width = linearEdgeGauge.width = linearRangeGauge.width = linearInversedGauge.width = linearOpposedGauge.width = '450px';
            linearDefaultGauge.height = linearEdgeGauge.height = linearRangeGauge.height = linearInversedGauge.height = linearOpposedGauge.height = '150px';
            linearDefaultGauge.orientation = linearEdgeGauge.orientation = linearRangeGauge.orientation = linearInversedGauge.orientation = linearOpposedGauge.orientation = "Horizontal";
            document.getElementById('horizontal').style.color = "white";
            document.getElementById('horizontal').style.backgroundColor = "#0074E3";
            document.getElementById('vertical').style.color = "black";
            document.getElementById('vertical').style.backgroundColor = "white";

        });
        document.getElementById('vertical').addEventListener('click', function () {
            document.getElementById('containerBox').style.padding = "4%";
            document.getElementById('containerDefault').className = document.getElementById('containerEdge').className =
                document.getElementById('containerRange').className = document.getElementById('containerInversed').className =
                document.getElementById('containerOpposed').className = "col-xs-4 col-sm-4 col-lg-2 col-md-2";
            linearDefaultGauge.width = linearEdgeGauge.width = linearRangeGauge.width = linearInversedGauge.width = linearOpposedGauge.width = '150px';
            linearDefaultGauge.height = linearEdgeGauge.height = linearRangeGauge.height = linearInversedGauge.height = linearOpposedGauge.height = '350px';
            linearDefaultGauge.orientation = linearEdgeGauge.orientation = linearRangeGauge.orientation = linearInversedGauge.orientation = linearOpposedGauge.orientation = "Vertical";
            document.getElementById('vertical').style.color = "white";
            document.getElementById('vertical').style.backgroundColor = "#0074E3";
            document.getElementById('horizontal')['style']['color'] = "black";
            document.getElementById('horizontal')['style']['backgroundColor'] = "white";

        });
    });

</script>

@section Meta{
    <meta name="description" content="This example demonstrates the Track in ASP.NET Core LinearGauge control. Explore here for more details." />
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the basic axis, its edge style, range color for axis, inversed and opposed axis.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render and configure axis in the linear gauge.
            The <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.LinearGauge.LinearGaugeContainer.html#Syncfusion_EJ2_LinearGauge_LinearGaugeContainer_RoundedCornerRadius" aria-label="RoundedCornerRadius">RoundedCornerRadius</a>,
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.LinearGauge.LinearGaugeLabel.html#Syncfusion_EJ2_LinearGauge_LinearGaugeLabel_UseRangeColor" aria-label="UseRangeColor">UseRangeColor</a>,
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.LinearGauge.LinearGaugeAxis.html#Syncfusion_EJ2_LinearGauge_LinearGaugeAxis_IsInversed" aria-label="IsInversed">IsInversed</a>, and
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.LinearGauge.LinearGaugeAxis.html#Syncfusion_EJ2_LinearGauge_LinearGaugeAxis_OpposedPosition " aria-label="OpposedPosition">OpposedPosition</a> properties can be used to set the edge style, range color for axis, inversed and opposed axis respectively.
        </p>
        <p>
            More information on the axis can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/linear-gauge/axis" aria-label="documentation section">documentation section</a>.
        </p>
    </div>
}
@section Title{
    <title>ASP.NET Core LinearGauge Track Example - Syncfusion Demos </title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of Track in ASP.NET Core LinearGauge Control</h1>
                }