
@{
    ViewData["Title"] = "CheckboxFor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Syncfusion.EJ2
@model EJ2CoreSampleBrowser.Controllers.CheckBoxModel
@section ControlsSection{
    <div class="control-section">
        <div class="checkbox-control">
            <form method="post">
                <ejs-checkbox id='checkboxfor' label="Terms and Conditions" ejs-for='check'></ejs-checkbox>
                <span id="error-message" asp-validation-for="check"></span>
                <ejs-button id="submit-button" content="Submit"></ejs-button>
            </form>
        </div>
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstates strongly typed checkbox for control functionality with model binding of Syncfusion ASP.NET Core CheckBox control." />
}
@section ActionDescription{
    <div id="action-description">
        <p>Click the submit button to post the current state of the CheckBox. When submitting the unchecked CheckBox, validation error message will be shown by using Data Annotation.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            This sample demonstrates For extensions tag helper support in CheckBox. You can bind model property to the CheckBox by adding an attribute `ejs-for` and assign model property to it.
            While submitting form, the model property will be based on <code>checked</code> state of the CheckBox.
        </p>
        <p>
            More information about CheckBox can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/check-box/getting-started">
                documentation section
            </a>.
        </p>
    </div>
}
<style>
    .control-section {
        text-align: center;
    }

    .checkbox-control {
        width: 260px;
        margin: 0 auto;
        margin-top: 10%;
    }

    #error-message {
        color: red;
        display: block;
        margin: 10px 0;
    }
</style>

