@using Syncfusion.EJ2;
@using Syncfusion.EJ2.QueryBuilder;
@{
    QueryBuilderRule rule = new QueryBuilderRule()
            {
                Condition = "and",
                Rules = new List<QueryBuilderRule>()
        {
            new QueryBuilderRule { Label="Employee ID", Field="EmployeeID", Type="number", Operator="equal", Value = 1 },
            new QueryBuilderRule { Label="Title", Field="Title", Type="string", Operator="equal", Value = "Sales Manager" },
            new QueryBuilderRule { Condition="or", Rules = new List<QueryBuilderRule>()
            {
              new QueryBuilderRule { Label="Country", Field="Country", Type="string", Operator="equal", Value = "USA" }
            }
            },
            new QueryBuilderRule { Label="FirstName", Field="FirstName", Type="string", Operator="equal", Value = "Nancy" }
        }
            };

    List<string> values = new List<string> { "Mr.", "Mrs." };

    var employee = EmployeeView.GetAllRecords();

}
@section ControlsSection {
    <div class="col-lg-12 control-section">
        <ejs-querybuilder id="querybuilder" rule="rule" dataSource="employee" showButtons="new Syncfusion.EJ2.QueryBuilder.QueryBuilderShowButtons {LockGroup=true, LockRule=true }">
            <e-querybuilder-columns>
                <e-querybuilder-column field="EmployeeID" label="Employee ID" type="number"></e-querybuilder-column>
                <e-querybuilder-column field="FirstName" label="First Name" type="string"></e-querybuilder-column>
                <e-querybuilder-column field="TitleOfCourtesy" label="Title Of Courtesy" type="boolean" values="values"></e-querybuilder-column>
                <e-querybuilder-column field="Title" label="Title" type="string"></e-querybuilder-column>
                <e-querybuilder-column field="HireDate" label="Hire Date" type="date" format="dd/MM/yyyy"></e-querybuilder-column>
                <e-querybuilder-column field="Country" label="Country" type="string"></e-querybuilder-column>
                <e-querybuilder-column field="City" label="City" type="string"></e-querybuilder-column>
            </e-querybuilder-columns>
        </ejs-querybuilder>
    </div>
}

@section Meta {
    <meta name="description" content="This example demonstrates the Lock Functionalities in ASP.NET Core Query Builder control. Explore here for more details." />
}
@section ActionDescription {
    <div id="action-description">
        <p>
            This sample demonstrates the lock support of the Query Builder control. Click the lock button to lock the group or rule.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            The lock options are available for rules as well as groups. When a rule is locked, the field, operator, and value will be disabled. When a group is locked, all the elements within the group will be disabled.
        </p>
        <p>In mobile mode, the control is shown vertically.</p>
        <p>
            More information about Query Builder can be found in this
            <a target="_blank" href="http://ej2.syncfusion.com/aspnetcore/documentation/query-builder/getting-started" aria-label="Documentation section">
        documentation section</a>.
            </a>.
        </p>
    </div>
}
@*custom code start*@
<style>
    .e-query-builder {
        margin: 0 auto;
    }
</style>
@*custom code end*@

@section Title {
    <title>ASP.NET Core Query Builder Default Functionalities Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Query Builder Control</h1>
}