@page
@model EJ2CoreSampleBrowser.Pages.Carousel.DataBinding
@using Syncfusion.EJ2;

@section ControlsSection{
    <div class="col-lg-12 control-section db-carousel-section">
        <div class="e-sample-resize-container carousel-sample">
            <ejs-carousel id="dbCarousel" cssClass="db-carousel" dataSource="@Model.datasrc" buttonsVisibility="Hidden" itemTemplate="#itemTemplate" animationEffect="Fade">
            </ejs-carousel>
        </div>
    </div>
}

@section ActionDescription{
    <p>
        This sample demonstrates the basic rendering of the <a href="https://www.syncfusion.com/aspnet-core-ui-controls/carousel" target="_blank" aria-label="Navigate to explore the syncfusion ASP.NET Core Carousel">ASP.NET Core Carousel </a> component by binding <code>DataSource</code> property.
    </p>
}

@section Description{
    <p>
        In this demo, products and its details available in our Syncfusion has been shown as slide show. The data to the
        ASP.NET Core Carousel component is bound using <code>dataSource</code> property. Also,
        <code>itemTemplate</code> is used to customize the slides of the carousel.
    </p>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Data Binding in ASP.NET Core Carousel control. Explore here for more details."/>
                }

<style>
    .db-carousel-section .carousel-sample {
        border: 1px solid #e5e5e5;
        border-radius: 0.5em;
        margin: 0 auto 2em;
        max-width: 420px;
        height: 420px;
    }

    .db-carousel {
        background-color: inherit;
        border-radius: 0.5em;
    }

        .db-carousel .e-carousel-items .e-carousel-item .card-title,
        .db-carousel .e-carousel-items .e-carousel-item .card-text {
            opacity: 0;
            text-align: justify;
            transform: translateY(20px);
        }

        .db-carousel .e-carousel-items .e-carousel-item.e-active .card-title,
        .db-carousel .e-carousel-items .e-carousel-item.e-active .card-text {
            opacity: 1;
            transform: translateY(0px);
        }

        .db-carousel .e-carousel-items .e-carousel-item .card-title {
            font-size: 20px;
            transition: transform 0.4s ease 0.2s;
        }

        .db-carousel .e-carousel-items .e-carousel-item .card-text {
            font-size: 14px;
            transition: transform 0.4s ease 0.2s;
        }

        .db-carousel .e-carousel-indicators {
            height: 3em;
        }

            .db-carousel .e-carousel-indicators.e-default .e-indicator-bar .e-indicator div {
                background-color: #e7e7e7;
            }

    @@media screen and (max-width: 480px) {
        .db-carousel-section .carousel-sample {
            width: 100%;
            height: 440px;
        }
    }
</style>

<script id="itemTemplate" type="text/x-template">
    <div class="card">
        <img src=${ImgPath} class="card-img-top" alt=${Title} style="height:210px;width:100%;" />
        <div class="card-body" style="padding:1rem;">
            <h5 class="card-title">${Title}</h5>
            <p class="card-text">${Content}</p>
        </div>
    </div>
</script>

@section Title{
                    <title>ASP.NET Core Carousel Data Binding Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Data Binding in ASP.NET Core Carousel Control</h1>
                }