@page

@using Syncfusion.EJ2

@section ControlsSection{
    <div class="col-lg-12 control-section default-carousel-section">
        <div class="e-sample-resize-container carousel-sample">
            <ejs-carousel id="defaultCarousel" cssClass="default-carousel">
                <e-carousel-items>
                    <e-carousel-item template="#templateItem1"></e-carousel-item>
                    <e-carousel-item template="#templateItem2"></e-carousel-item>
                    <e-carousel-item template="#templateItem3"></e-carousel-item>
                    <e-carousel-item template="#templateItem4"></e-carousel-item>
                    <e-carousel-item template="#templateItem5"></e-carousel-item>
                </e-carousel-items>
            </ejs-carousel>
        </div>
    </div>
}

@section ActionDescription{
    <p>
        This sample demonstrates the basic rendering of the <a href="https://www.syncfusion.com/aspnet-core-ui-controls/carousel" target="_blank" aria-label="Navigate to explore the syncfusion ASP.NET Core Carousel">ASP.NET Core Carousel </a> component with items.
    </p>
}

@section Description{
    <p>
        The <code>ASP.NET Core Carousel</code> component is commonly used as a slideshow of images and contents. In this demo, simple
        slideshow of natural images has been showcased with the help of <code>items</code> property.
    </p>
    <p>
        By default, the slide will be changed automatically with the interval of <b>5 seconds.</b> You can also manually
        change the slide items using previous and next icons.
    </p>
    <p>
        More information about ASP.NET Core Carousel component can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/carousel/getting-started" aria-label="Navigate to the documentation for getting started with ASP.NET Core Carousel control">documentation section</a>.
    </p>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Carousel control. Explore here for more details."/>
                }

<style>
    .default-carousel-section .carousel-sample {
        margin: 0 auto 2em;
        max-width: 500px;
        height: 300px;
    }

    .default-carousel .e-carousel-items .e-carousel-item .img-container {
        height: 100%;
    }

    .default-carousel .e-carousel-items .e-carousel-item .img-caption {
        bottom: 5em;
        color: #fff;
        font-size: 12pt;
        height: 2em;
        position: relative;
        padding: 0.3em 1em;
        text-align: center;
        width: 100%;
    }
</style>

<script id="templateItem1" type="text/x-template">
    <figure class="img-container">
        <img src="./../css/carousel/images/bridge.jpg" alt="bridge" style="height:100%; width: 100%" />
        <figcaption class="img-caption">Golden Gate Bridge, San Francisco</figcaption>
    </figure>
</script>

<script id="templateItem2" type="text/x-template">
    <figure class="img-container">
        <img src="./../css/carousel/images/trees.jpg" alt="spring_trees" style="height:100%; width: 100%" />
        <figcaption class="img-caption">Spring Flower Trees</figcaption>
    </figure>
</script>

<script id="templateItem3" type="text/x-template">
    <figure class="img-container">
        <img src="./../css/carousel/images/waterfall.jpg" alt="waterfall" style="height:100%; width: 100%" />
        <figcaption class="img-caption">Oddadalen Waterfalls, Norway</figcaption>
    </figure>
</script>

<script id="templateItem4" type="text/x-template">
    <figure class="img-container">
        <img src="./../css/carousel/images/sea.jpg" alt="sea" style="height:100%; width: 100%" />
        <figcaption class="img-caption">Anse Source d'Argent, Seychelles</figcaption>
    </figure>
</script>

<script id="templateItem5" type="text/x-template">
    <figure class="img-container">
        <img src="./../css/carousel/images/rocks.jpeg" alt="rocks" style="height:100%; width: 100%" />
        <figcaption class="img-caption">Stonehenge, England</figcaption>
    </figure>
</script>

@section Title{
                    <title>ASP.NET Core Carousel Default Functionalities Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Carousel Control</h1>
                }