@using Syncfusion.EJ2;
@section Meta{
    <meta name="description" content="This example demonstrates the Apple Watch Rings in ASP.NET Core CircularGauge control. Explore here for more details." />
             }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample resembles the appearance of Apple watch rings. This is similar to an activity tracker, which records the specifics of each move, exercise, and stand.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to make the circular gauge look like the Apple watch rings. Ranges have rounded corners and annotations are used to indicate the move, exercise, and stand values.
        </p>
        <p>
            More information on the annotations can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/circular-gauge/gauge-annotations" aria-label="documentation section">documentation section</a>.
        </p>
    </div>
}

@section ControlsSection{
    <style>
        .panel {
            width: 190px !important;
            height: 70px !important;
            margin-left: 5% !important;
            margin-top: 10% !important;
            border-color: lightgray;
            float: left;
            background-color: transparent;
        }

        .content {
            float: left !important;
            margin-left: 62px !important;
            margin-top: 5% !important;
            text-align: left !important;
            position: absolute;
            width: 120px;
        }

        .col-lg-3.col-md-3 {
            margin-top: 3% !important;
        }
        .e-view div.annotation4 {
            margin-top: 2px;
            margin-left: 4px;
        }
        .e-view div.annotation5 {
            margin-top: 1px;
            margin-left: 3px;
        }
        .e-view div.annotation6 {
            margin-top: -1px;
        }
        .e-view.bootstrap5 div.annotation4 {
            margin-top: 0px;
            margin-left: 3px;
        }
        .e-view.fluent2 div.annotation4, .e-view.fluent2-dark div.annotation4 {
            margin-top: 1px;
            margin-left: 3px;
        }
        .e-view.bootstrap5 div.annotation5 {
            margin-top: -1px;
            margin-left: 3px;
        }
        .e-view.bootstrap5 div.annotation6 {
            margin-top: -3px;
        }
        .e-view.fabric div.annotation4, .e-view.fabric-dark div.annotation4 {
            margin-top: -4px;
            margin-left: 3px;
        }
        .e-view.tailwind div.annotation4, .e-view.tailwind-dark div.annotation4 {
            margin-top: -3px;
            margin-left: 3px;
        }
        .e-view.fabric div.annotation5, .e-view.fabric-dark div.annotation5 {
            margin-top: -4px;
            margin-left: 3px;
        }
        .e-view.tailwind div.annotation5, .e-view.tailwind-dark div.annotation5 {
            margin-top: -3px;
            margin-left: 3px;
        }
        .e-view.tailwind div.annotation6, .e-view.tailwind-dark div.annotation6, .e-view.fabric div.annotation6, .e-view.fabric-dark div.annotation6 {
            margin-top: -5px;
        }

    </style>

    <style type="text/css" media="screen and (max-width:1160px)">
        .panel {
            width: 165px !important;
        }

        .firstcontent {
            font-size: 13px !important;
        }

        .secondcontent {
            font-size: 15px !important;
        }        
    </style>

    <style type="text/css" media="screen and (max-width:990px)">
        .panel {
            width: 50% !important;
            height: 80px !important;
            margin-left: 27% !important;
            margin-top: 0% !important;
        }

        .subgauge {
            margin-left: 8% !important;
            margin-top: 1% !important;
        }

        .content {
            margin-left: 18% !important;
            margin-top: 2% !important;
        }

        .firstcontent {
            font-size: 16px !important;
        }

        .secondcontent {
            font-size: 18px !important;
        }        
    </style>

    <style type="text/css" media="screen and (max-width:410px)">
        #column1 {
            margin-left: -9% !important;
        }

        .subgauge {
            margin-left: 3% !important;
        }

        .panel {
            width: 52% !important;
        }

        .content {
            margin-top: 3% !important;
        }
    </style>
    @{
        var labelFont = new Syncfusion.EJ2.CircularGauge.CircularGaugeFont { Size = "0px", Color = "transparent" };
    }
    <div class="col-lg-9 col-md-9 control-section" id="column1" align="center">
        <ejs-circulargauge id="gauge1" load="gaugeLoad" width="400px" background="transparent" height="400px">
            <e-circulargauge-axes>
                <e-circulargauge-axis startAngle="0" endAngle="360" minimum="0" maximum="100">
                    <e-axis-linestyle width="0"></e-axis-linestyle>
                    <e-axis-labelstyle useRangeColor="true" position="Inside" font="labelFont"></e-axis-labelstyle>
                    <e-axis-majorticks height=0 color="transparent"></e-axis-majorticks>
                    <e-axis-minorticks height=0 color="transparent"></e-axis-minorticks>
                    <e-circulargauge-pointers>
                        <e-circulargauge-pointer type=RangeBar roundedCornerRadius=25 value=65 radius="90%" color="#fa114f" pointerWidth=40>
                            <e-pointer-animation enable="true"></e-pointer-animation>
                        </e-circulargauge-pointer>
                        <e-circulargauge-pointer type=RangeBar roundedCornerRadius=25 value=43 radius="68%" color="#99ff01" pointerWidth=40>
                            <e-pointer-animation enable="true"></e-pointer-animation>
                        </e-circulargauge-pointer>
                        <e-circulargauge-pointer type=RangeBar roundedCornerRadius=25 value=58 radius="46%" color="#00d8fe" pointerWidth=40>
                            <e-pointer-animation enable="true"></e-pointer-animation>
                        </e-circulargauge-pointer>
                    </e-circulargauge-pointers>
                    <e-circulargauge-ranges>
                        <e-circulargauge-range start=0 end=100 startWidth="40" endWidth="40" color="#fa114f" radius="90%" opacity=0.2></e-circulargauge-range>
                        <e-circulargauge-range start=0 end=100 startWidth="40" endWidth="40" color="#99ff01" radius="68%" opacity=0.2></e-circulargauge-range>
                        <e-circulargauge-range start=0 end=100 startWidth="40" endWidth="40" color="#00d8fe" radius="46%" opacity=0.2></e-circulargauge-range>
                    </e-circulargauge-ranges>
                    <e-circulargauge-annotations>
                        <e-circulargauge-annotation content="<div class='annotation1'><img style='width:22px;height:22px;' src='../styles/images/circulargauge/image1.svg' alt='right-arrow-Icon'/></div>" angle=8 radius="80%" zIndex="1"></e-circulargauge-annotation>
                        <e-circulargauge-annotation content="<div class=' annotation2'><img style='width:20px;height:20px;' src='../styles/images/circulargauge/image2.svg' alt='arrow-pic'/></div>" angle=11 radius="58%" zIndex="1"></e-circulargauge-annotation>
                        <e-circulargauge-annotation content="<div class='annotation3'><img style='width:22px;height:22px;'' src='../styles/images/circulargauge/image3.svg' alt='up-arrow-Icon'/></div>" angle=16 radius="36%" zIndex="1"></e-circulargauge-annotation>
                    </e-circulargauge-annotations>
                </e-circulargauge-axis>
            </e-circulargauge-axes>
        </ejs-circulargauge>
    </div>
    <div class="col-lg-3 col-md-3" style="margin-left: -8%;margin-top: 2%;">
        <div class="panel" id="panel1" align="center">
            <div class="subgauge" style="float: left;margin-top: 3%">
                <ejs-circulargauge id="gauge2" load="gaugeLoad" width="65px" height="65px" background="transparent">
                    <e-circulargauge-axes>
                        <e-circulargauge-axis startAngle="0" endAngle="360" minimum="0" maximum="100">
                            <e-axis-linestyle width="0"></e-axis-linestyle>
                            <e-axis-labelstyle useRangeColor="true" position="Inside" font="labelFont"></e-axis-labelstyle>
                            <e-axis-majorticks height=0 color="transparent"></e-axis-majorticks>
                            <e-axis-minorticks height=0 color="transparent"></e-axis-minorticks>
                            <e-circulargauge-pointers>
                                <e-circulargauge-pointer type=RangeBar roundedCornerRadius=5 value=65 radius="100%" color="#fa114f" pointerWidth=8>
                                    <e-pointer-animation enable="true"></e-pointer-animation>
                                </e-circulargauge-pointer>
                            </e-circulargauge-pointers>
                            <e-circulargauge-ranges>
                                <e-circulargauge-range start=0 end=100 startWidth="8" endWidth="8" color="#fa114f" radius="100%" opacity=0.2></e-circulargauge-range>
                            </e-circulargauge-ranges>
                            <e-circulargauge-annotations>
                                <e-circulargauge-annotation content="<div class='annotation4'><img style='width:17px;height:17px;' src='../styles/images/circulargauge/image1.svg' alt='right-arrow-Icon'/></div>" angle=0 radius="0%" zIndex="1"></e-circulargauge-annotation>
                            </e-circulargauge-annotations>
                        </e-circulargauge-axis>
                    </e-circulargauge-axes>
                </ejs-circulargauge>
            </div>
            <div class="content">
                <span class="firstcontent" style="font-size: 17px;">MOVE</span>
                <span class="firstcontent" style="font-size: 17px;color: #f4104d">65%</span><br />
                <span class="secondcontent" style="color: #f4104d; font-size: 19px">338/520 CAL</span>
            </div>
        </div>
        <div class="panel" id="panel2" align="center">
            <div class="subgauge" style="float: left;margin-top: 3%">
                <ejs-circulargauge id="gauge3" load="gaugeLoad" width="65px" height="65px" background="transparent">
                    <e-circulargauge-axes>
                        <e-circulargauge-axis startAngle="0" endAngle="360" minimum="0" maximum="100">
                            <e-axis-linestyle width="0"></e-axis-linestyle>
                            <e-axis-labelstyle useRangeColor="true" position="Inside" font="labelFont"></e-axis-labelstyle>
                            <e-axis-majorticks height=0 color="transparent"></e-axis-majorticks>
                            <e-axis-minorticks height=0 color="transparent"></e-axis-minorticks>
                            <e-circulargauge-pointers>
                                <e-circulargauge-pointer type=RangeBar roundedCornerRadius=5 value=43 radius="100%" color="#99ff01" pointerWidth=8>
                                    <e-pointer-animation enable="true"></e-pointer-animation>
                                </e-circulargauge-pointer>
                            </e-circulargauge-pointers>
                            <e-circulargauge-ranges>
                                <e-circulargauge-range start=0 end=100 startWidth="8" endWidth="8" color="#99ff01" radius="100%" opacity=0.2></e-circulargauge-range>
                            </e-circulargauge-ranges>
                            <e-circulargauge-annotations>
                                <e-circulargauge-annotation content="<div class='annotation5'><img style='width:15px;height:15px;' src='../styles/images/circulargauge/image2.svg' alt='arrow-pic' /></div>" angle=0 radius="0%" zIndex="1"></e-circulargauge-annotation>
                            </e-circulargauge-annotations>
                        </e-circulargauge-axis>
                    </e-circulargauge-axes>
                </ejs-circulargauge>
            </div>
            <div class="content">
                <span class="firstcontent" style="font-size: 17px;">EXERCISE</span>
                <span class="firstcontent" style="font-size: 17px;color: #a6ff00">43%</span><br />
                <span class="secondcontent" style="color: #a6ff00; font-size: 19px">13/30 MIN</span>
            </div>
        </div>
        <div class="panel" id="panel3" align="center">
            <div class="subgauge" style="float: left;margin-top: 3%">
                <ejs-circulargauge id="gauge4" load="gaugeLoad" width="65px" height="65px" background="transparent">
                    <e-circulargauge-axes>
                        <e-circulargauge-axis startAngle="0" endAngle="360" minimum="0" maximum="100">
                            <e-axis-linestyle width="0"></e-axis-linestyle>
                            <e-axis-labelstyle useRangeColor="true" position="Inside" font="labelFont"></e-axis-labelstyle>
                            <e-axis-majorticks height=0 color="transparent"></e-axis-majorticks>
                            <e-axis-minorticks height=0 color="transparent"></e-axis-minorticks>
                            <e-circulargauge-pointers>
                                <e-circulargauge-pointer type=RangeBar roundedCornerRadius=5 value=58 radius="100%" color="#00d8fe" pointerWidth=8>
                                    <e-pointer-animation enable="true"></e-pointer-animation>
                                </e-circulargauge-pointer>
                            </e-circulargauge-pointers>
                            <e-circulargauge-ranges>
                                <e-circulargauge-range start=0 end=100 startWidth="8" endWidth="8" color="#00d8fe" radius="100%" opacity=0.2></e-circulargauge-range>
                            </e-circulargauge-ranges>
                            <e-circulargauge-annotations>
                                <e-circulargauge-annotation content="<div class='annotation6'><img style='width:17px;height:17px;' src='../styles/images/circulargauge/image3.svg' alt='up-arrow-pic'/></div>" angle=0 radius="0%" zIndex="1"></e-circulargauge-annotation>
                            </e-circulargauge-annotations>
                        </e-circulargauge-axis>
                    </e-circulargauge-axes>
                </ejs-circulargauge>
            </div>
            <div class="content">
                <span class="firstcontent" style="font-size: 17px;">STAND</span>
                <span class="firstcontent" style="font-size: 17px;color: #00d8fe">58%</span><br />
                <span class="secondcontent" style="color: #00d8fe; font-size: 19px">7/12 HR</span>
            </div>
        </div>
    </div>
}
<script>
    window.gaugeLoad = function (args) {
        @* custom code start *@
        var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
        @* custom code end *@
            if (selectedTheme === 'highcontrast') {
            if (args.gauge.element.id === 'gauge2') {
                args.gauge.axes[0].annotations[0].content = '<div class="annotation7"><img style="width:17px;height:17px;" src="../styles/images/circulargauge/image4.svg" /></div>';
            }
            if (args.gauge.element.id === 'gauge3') {
                args.gauge.axes[0].annotations[0].content = '<div class="annotation8"><img style="width:15px;height:15px;" src="../styles/images/circulargauge/image5.svg" /></div>';
            }
            if (args.gauge.element.id === 'gauge4') {
                args.gauge.axes[0].annotations[0].content = '<div class="annotation9"><img style="width:17px;height:17px;" src="../styles/images/circulargauge/image6.svg" /></div>';
            }
        }
    };
</script>
@section Title{
    <title>ASP.NET Core CircularGauge Apple Watch Rings Example - Syncfusion Demos </title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of Apple Watch Rings in ASP.NET Core CircularGauge Control</h1>
                }