@using Syncfusion.EJ2;
@section Meta{
    <meta name="description" content="This example demonstrates the Direction Compass in ASP.NET Core CircularGauge control. Explore here for more details." />
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates how to create a direction compass by modifying the circular gauge's functionalities to meet the needs of the user.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, a direction compass has been depicted by adding a couple of needle pointers in the circular gauge and customizing labels to show the direction.
        </p>
        <p>
            More information on the circular gauge can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/circular-gauge/getting-started"> documentation section</a>.
        </p>
    </div>
}
@section ControlsSection{
@{ 
    var labelFont = new Syncfusion.EJ2.CircularGauge.CircularGaugeFont { FontFamily = "inherit" };
    var pointerLinearGradient = new Syncfusion.EJ2.CircularGauge.CircularGaugeLinearGradient { StartValue = "0%", EndValue = "100%", ColorStop = 
        new List<Syncfusion.EJ2.CircularGauge.CircularGaugeColorStop> { new Syncfusion.EJ2.CircularGauge.CircularGaugeColorStop { Color = "#ff6b78", Offset = "0.1%", Opacity = 0.9 }, new Syncfusion.EJ2.CircularGauge.CircularGaugeColorStop { Color = "#e20a22", Offset = "70%", Opacity = 0.9 } } };
}
    <div class="control-section">
        <ejs-circulargauge id="circular" axisLabelRender="axisLabelRender" load="gaugeLoad" background="transparent">
                <e-circulargauge-axes>
                    <e-circulargauge-axis startAngle="0" endAngle="360" minimum="0" maximum="8" radius="80%">
                        <e-axis-linestyle width="20" color="#E0E0E0"></e-axis-linestyle>
                        <e-axis-labelstyle autoAngle="true" offset=10 hiddenLabel="@Syncfusion.EJ2.CircularGauge.HiddenLabel.Last" font="labelFont">
                        </e-axis-labelstyle>
                        <e-axis-majorticks height="15" interval="1" ></e-axis-majorticks>
                        <e-axis-minorticks height="10" interval="0.5" ></e-axis-minorticks>
                        <e-circulargauge-pointers>
                            <e-circulargauge-pointer value=7 radius="50%" pointerWidth=30 linearGradient=pointerLinearGradient>
                                <e-pointer-cap radius=15 color="#ffffff">
                                    <e-pointers-cap-border width=0></e-pointers-cap-border>
                                </e-pointer-cap>
                                <e-pointer-animation enable=false></e-pointer-animation>
                            </e-circulargauge-pointer>
                            <e-circulargauge-pointer value=3 radius="50%" pointerWidth=30 color="#f7f7f7">
                                <e-pointer-cap radius=15 color="#ffffff">
                                    <e-pointers-cap-border width=0></e-pointers-cap-border>
                                </e-pointer-cap>
                                <e-pointer-animation enable=false></e-pointer-animation>
                            </e-circulargauge-pointer>
                        </e-circulargauge-pointers>
                    </e-circulargauge-axis>
                </e-circulargauge-axes>
            </ejs-circulargauge>
    </div>
    <!-- custom code start -->
    <style>
        .control-section {
            min-height: 450px;
        }
    </style>
    <!-- custom code end -->
}
<script>
    var value = ['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW', ''];
    window.axisLabelRender = function (args) {
        args.text = value[args.value];
    }
    window.gaugeLoad = function (args) {
        @* custom code start *@
        var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
        @* custom code end *@
    }
</script>
@section Title{
                    <title>ASP.NET Core CircularGauge Direction Compass Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Direction Compass in ASP.NET Core CircularGauge Control</h1>
                }