@using Syncfusion.EJ2;
@section Meta{
    <meta name="description" content="This example demonstrates the Image Pointer in ASP.NET Core CircularGauge control. Explore here for more details." />
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the shot put distance covered by the athletes using the image pointer in the circular gauge.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to use an image to customize the pointer in the circular gauge. The image can be added to the circular gauge's pointer primarily through the use of the
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.CircularGauge.CircularGaugePointer.html#Syncfusion_EJ2_CircularGauge_CircularGaugePointer_Type">type</a>,
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.CircularGauge.CircularGaugePointer.html#Syncfusion_EJ2_CircularGauge_CircularGaugePointer_MarkerShape">markerShape</a>, and
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.CircularGauge.CircularGaugePointer.html#Syncfusion_EJ2_CircularGauge_CircularGaugePointer_ImageUrl">imageUrl</a> properties in the
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.CircularGauge.CircularGaugePointer.html">e-circulargauge-pointer</a>.
        </p>
        <p>
            More information on the pointers can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/circular-gauge/gauge-pointers">documentation section</a>.
        </p>
    </div>
}
@section ControlsSection{
    @{
        var titleStyle = new Syncfusion.EJ2.CircularGauge.CircularGaugeFont { FontFamily = "inherit" };
        var labelStyle = new Syncfusion.EJ2.CircularGauge.CircularGaugeFont { Size = "0px" };
        var textStyle = new Syncfusion.EJ2.CircularGauge.CircularGaugeFont { FontFamily = "inherit", Size = "14px", Color = "#9E9E9E" };
    }
    <div class="control-section">
        <div class="poiter-container">
            <ejs-circulargauge id="circular" centerY="57%" title="Shot Put Distance" titleStyle="titleStyle" load="gaugeLoad" background="transparent">
                <e-circulargauge-axes>
                    <e-circulargauge-axis startAngle="200" endAngle="130" minimum="0" maximum="14" radius="80%">
                        <e-axis-linestyle width="0" color="transparent"></e-axis-linestyle>
                        <e-axis-labelstyle offset="-5" font=labelStyle></e-axis-labelstyle>
                        <e-axis-majorticks interval="20" color="transparent"></e-axis-majorticks>
                        <e-axis-minorticks color="transparent"></e-axis-minorticks>
                        <e-circulargauge-pointers>
                            <e-circulargauge-pointer value=12 type=Marker markerShape=Image imageUrl="../styles/images/circulargauge/football.png" radius="108%" markerWidth=28 markerHeight=28>
                                <e-pointer-animation enable=true duration=1500></e-pointer-animation>
                            </e-circulargauge-pointer>
                            <e-circulargauge-pointer value=11 type=Marker markerShape=Image imageUrl="../styles/images/circulargauge/basketball.png" radius="78%" markerWidth=28 markerHeight=28>
                                <e-pointer-animation enable=true duration=1200></e-pointer-animation>
                            </e-circulargauge-pointer>
                            <e-circulargauge-pointer value=10 type=Marker markerShape=Image imageUrl="../styles/images/circulargauge/golfball.png" radius="48%" markerWidth=28 markerHeight=28>
                                <e-pointer-animation enable=true duration=900></e-pointer-animation>
                            </e-circulargauge-pointer>
                            <e-circulargauge-pointer value=12 type=Marker markerShape=Image imageUrl="../styles/images/circulargauge/Athletics.png" radius="0%" markerWidth=90 markerHeight=90>
                                <e-pointer-animation enable=true duration=0></e-pointer-animation>
                            </e-circulargauge-pointer>
                            <e-circulargauge-pointer value=0.1 type=Marker markerShape=Image imageUrl="../styles/images/circulargauge/girl1.png" radius="107%" markerWidth=28 markerHeight=28>
                                <e-pointer-animation enable=true duration=1500></e-pointer-animation>
                            </e-circulargauge-pointer>
                            <e-circulargauge-pointer value=0.1 type=Marker markerShape=Image imageUrl="../styles/images/circulargauge/man1.png" radius="78%" markerWidth=28 markerHeight=28>
                                <e-pointer-animation enable=true duration=1200></e-pointer-animation>
                            </e-circulargauge-pointer>
                            <e-circulargauge-pointer value=0.1 type=Marker markerShape=Image imageUrl="../styles/images/circulargauge/man2.png" radius="48%" markerWidth=28 markerHeight=28>
                                <e-pointer-animation enable=true duration=1500></e-pointer-animation>
                            </e-circulargauge-pointer>
                        </e-circulargauge-pointers>
                        <e-circulargauge-ranges>
                            <e-circulargauge-range start=0 end=12 startWidth="25" endWidth="25" color="#01aebe" radius="115%"></e-circulargauge-range>
                            <e-circulargauge-range start=0 end=11 startWidth="25" endWidth="25" color="#3bceac" radius="85%"></e-circulargauge-range>
                            <e-circulargauge-range start=0 end=10 startWidth="25" endWidth="25" color="#ee4266" radius="55%"></e-circulargauge-range>
                        </e-circulargauge-ranges>
                        <e-circulargauge-annotations>
                            <e-circulargauge-annotation content="12 M" angle="98" zIndex="1" radius="108%" textStyle=textStyle></e-circulargauge-annotation>
                            <e-circulargauge-annotation content="11 M" angle="81" zIndex="1" radius="80%" textStyle=textStyle></e-circulargauge-annotation>
                            <e-circulargauge-annotation content="10 M" angle="69" zIndex="1" radius="49%" textStyle=textStyle></e-circulargauge-annotation>
                            <e-circulargauge-annotation content="Doe" angle="192" zIndex="1" radius="106%" textStyle=textStyle></e-circulargauge-annotation>
                            <e-circulargauge-annotation content="Almaida" angle="184" zIndex="1" radius="78%" textStyle=textStyle></e-circulargauge-annotation>
                            <e-circulargauge-annotation content="John" angle="179" zIndex="1" radius="48%" textStyle=textStyle></e-circulargauge-annotation>
                        </e-circulargauge-annotations>
                    </e-circulargauge-axis>
                </e-circulargauge-axes>
            </ejs-circulargauge>
        </div>
    </div>
    <!-- custom code start -->
    <style>
        .control-section {
            min-height: 450px;
        }
    </style>
    <!-- custom code end -->
}
<script>
    window.gaugeLoad = function (args) {
        @* custom code start *@
        var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
        @* custom code end *@
        var width = parseInt(((args.gauge.width, args.gauge.element.offsetWidth) || args.gauge.element.offsetWidth || 600), 10);
        if (width < 500) {
            args.gauge.axes[0].annotations[0].angle = 98;
            args.gauge.axes[0].annotations[1].angle = 82;
            args.gauge.axes[0].annotations[2].angle = 72;
            args.gauge.axes[0].annotations[3].angle = 188;
            args.gauge.axes[0].annotations[4].angle = 179;
            args.gauge.axes[0].annotations[5].angle = 173;
            args.gauge.axes[0].pointers[0].radius = "106%";
            args.gauge.axes[0].pointers[1].radius = "76%";
            args.gauge.axes[0].pointers[2].radius = "46%";
        }
    }
</script>
@section Title{
                    <title>ASP.NET Core CircularGauge Image Pointer Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Image Pointer in ASP.NET Core CircularGauge Control</h1>
                }