@using Syncfusion.EJ2;
@section Meta{
                    <meta name="description" content="This example demonstrates the Legend in ASP.NET Core CircularGauge control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes moving air types in the legend based on their speed. The visibility, shape, alignment and position of the legend can be changed using the properties panel options.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render a legend in circular gauge. A legend item denotes the axis ranges. Any number of legend items can be added to a legend. You can bind the desired colors  and legend text to the corresponding ranges.
        </p>
        <p>
            More information on the ranges can be found in this
            <a target="_blank" href="http://ej2.syncfusion.com/documentation">documentation section</a>.
        </p>
    </div>
}
@section ControlsSection{
    @{
     }
    <div class="col-md-8 control-section">
        <div class="content-wrapper">
            <ejs-circulargauge id="circular" load="gaugeload" title="Measure of wind speed in Km/h">
                <e-circulargauge-axes>
                    <e-circulargauge-axis startAngle="210" endAngle="150" minimum="0" maximum="120" radius="80%">
                        <e-axis-linestyle width="2"></e-axis-linestyle>
                        <e-axis-labelstyle position="@Syncfusion.EJ2.CircularGauge.Position.Inside" useRangeColor="false">
                        </e-axis-labelstyle>
                        <e-axis-majorticks height="16" offset="5" interval="20" color="#9E9E9E"></e-axis-majorticks>
                        <e-axis-minorticks height="8" interval="10"></e-axis-minorticks>
                    </e-circulargauge-axis>
                </e-circulargauge-axes>
            </ejs-circulargauge>
        </div>
    </div>
    <div class="col-md-4 property-section">
        <table id="property" title="Properties" style="width: 100%">
            <tr style="height: 50px">
                <td>
                    <div> Enable Legend </div>
                </td>
                <td style="padding-left: 50px;">
                    <input type="checkbox" id="legend" checked/>
                </td>
            </tr>
            <tr style="height: 50px">
                <td>
                    <div> Show range when the legend item is toggled </div>
                </td>
                <td style="padding-left: 50px;">
                    <input type="checkbox" id="togglelegend" checked/>
                </td>
            </tr>
            <tr style="height: 50px">
                <td>
                    <div> Position </div>
                </td>
                <td>
                    <div>
                        <select id="position" class="form-control">
                            <option value="Auto">Auto</option>
                            <option value="Top">Top</option>
                            <option value="Bottom" selected='true'>Bottom</option>
                            <option value="Left">Left</option>
                            <option value="Right">Right</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div> Alignment </div>
                </td>
                <td>
                    <div>
                        <select id="alignment" class="form-control">
                            <option value="Far">Far</option>
                            <option value="Center" selected="true">Center</option>
                            <option value="Near">Near</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr style="height: 50px">
                <td>
                    <div> Shape </div>
                </td>
                <td>
                    <div>
                        <select id="shape" class="form-control">
                            <option value="Circle" selected="true">Circle</option>
                            <option value="Rectangle">Rectangle</option>
                            <option value="Triangle">Triangle</option>
                            <option value="Diamond">Diamond</option>
                            <option value="InvertedTriangle">Inverted triangle</option>
                            <!-- <option value="Image">Image</option> -->
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}
<script>
    var circulargauge;
    window.gaugeload = function (args) {
        @* custom code start *@
        var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() + theme.slice(1));
        @* custom code end *@
        if (window.gaugeLoaded)
            return;
        window.gaugeLoaded = true;
        args.gauge.legendSettings = {
            visible: true,
            position: 'Bottom'
        };
        var axis = args.gauge.axes[0];
         axis.labelStyle.font = {
            fontFamily: "Roboto",
            color: "#424242",
            size: "12px",
            fontWeight: "Regular"
        };
        axis.pointers = [{
            animation: { enable: true },
            value: 70, radius: '60%', pointerWidth: 8, color: "#757575",
            cap: { radius: 7, color: "#757575" }, needleTail: { length: '18%' }
        }];
        circulargauge = args.gauge;
        axis.ranges = [{ start: 0, end: 5, color: '#ccffff', radius: '110%', legendText: 'Light air' },
                     { start: 5, end: 11, color: '#99ffff', radius: '110%', legendText: 'Light breeze' },
                { start: 11, end: 19, color: '#99ff99', radius: '110%', legendText: 'Gentle breeze' },
                { start: 19, end: 28, color: '#79ff4d', radius: '110%', legendText: 'Moderate breeze' },
                { start: 28, end: 49, color: '#c6ff1a', radius: '110%', legendText: 'Strong breeze' },
                { start: 49, end: 74, color: '#e6ac00', radius: '110%', legendText: 'Gale' },
                { start: 74, end: 102, color: '#ff6600', radius: '110%', legendText: 'Storm' },
                { start: 102, end: 120, color: '#ff0000', radius: '110%', legendText: 'Hurricane force' }];
    }
    window.addEventListener('load', function () {
        document.getElementById('legend').onchange = function () {
            var legend = document.getElementById('legend').checked;
            circulargauge.legendSettings.visible = legend;        
            circulargauge.refresh();
        };
         document.getElementById('togglelegend').onchange = function () {
            var toggle = document.getElementById('togglelegend').checked;
            circulargauge.legendSettings.toggleVisibility = toggle;
         };
  
        document.getElementById('alignment').onchange = function (e) {
            var alignment = e.target.value;
            circulargauge.legendSettings.alignment = alignment;
        };
        document.getElementById('shape').onchange = function (e) {
            var shape = e.target.value;
            circulargauge.legendSettings.shape = shape;
        };
        document.getElementById('position').onchange = function (e) {
            var position = e.target.value;
            circulargauge.legendSettings.position = position;
        };
       
       
   });
</script>
@section Title{
                 <title>ASP.NET Core CircularGauge Legend Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for Legend in ASP.NET Core CircularGauge Control</h1>
            }