@using Syncfusion.EJ2;
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Circular Gauge control visualizes the pointer drag support and its options." />
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes pointer drag in circular gauge. Position of pointer value can be changed by using <code>Pointer Value</code> and we can drag the pointer by enabling drag option.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to move pointers in gauge using drag and drop. Use <code>enablePointerDrag</code>        property, to achieve this behavior.
        </p>
        <br>
        <p>
            In this sample, you can drag the pointer using mouse or touch, the pointer value will be updated in an annotation placed
            in the gauge.
        </p>
        <p>
            More information on the gauge can be found in this
            <a target="_blank" href="http://ej2.syncfusion.com/documentation">documentation section</a>.
        </p>
    </div>
}
@section ControlsSection{
    <div class="col-md-8 control-section">
        <div class="content-wrapper">
            <ejs-circulargauge id="circular" enablePointerDrag ="true" dragMove ="dragMove" dragEnd="dragEnd" load="gaugeload">
                <e-circulargauge-axes>
                    <e-circulargauge-axis startAngle="220" endAngle="140" minimum="0" maximum="120" radius="80%">
                        <e-axis-linestyle width="0" color="transparent"></e-axis-linestyle>
                        <e-axis-labelstyle useRangeColor="true"></e-axis-labelstyle>
                        <e-axis-majorticks useRangeColor="true"></e-axis-majorticks>
                        <e-axis-minorticks useRangeColor="true"></e-axis-minorticks>
                    </e-circulargauge-axis>
                </e-circulargauge-axes>
            </ejs-circulargauge>
        </div>
    </div>
<div class="col-md-4 property-section">
    <table id="property" title="Properties" style="width: 100%">
        <tbody>
            <tr style="height: 50px">
                <td style="width: 30%">
                    <div id="pointerValue">Pointer Value <span> &nbsp;&nbsp;&nbsp;70</span> </div>
                </td>
                <td style="width: 40%;">
                    <div>
                        <input type="range" id="value" value="70" min="0" max="120" style="width:90%">
                    </div>
                </td>
            </tr>
            <tr style="height: 50px">
                <td style="width: 20%">
                    <div id="enablePointer">Enable Drag</div>
                </td>
                <td style="width: 40%;">
                    <div>
                        <input type="checkbox" id="enable" checked="true" style="width:90%">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
}
<script>
    
    window.gaugeload = function (args) {
        var theme = location.hash.split('/')[1];
        theme = theme ? theme : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() + theme.slice(1));
        if (window.gaugeLoaded)
            return;
        window.gaugeLoaded = true;
        var axis = args.gauge.axes[0];
        args.gauge.enablePointerDrag = "true";
        axis.pointers = [{
            type: 'Marker', value: 70,
            markerShape: 'InvertedTriangle',
            radius: '110%',
            markerHeight: 20,
            color: '#E5C31C',
            markerWidth: 20
        }, {
            value: 70,
            radius: '60%',
            cap: { radius: 10, border: { width: 5, color: '#E5C31C' } },
            needleTail: { length: '0%', color: '#E5C31C' },
            color: '#E5C31C',
            markerWidth: 5
        }];
        axis.annotations = [{
            content: content + '70 MPH</span></div>',
            angle: 180, zIndex: '1',
            radius: '45%'
        }];
        axis.ranges = [{
            start: 0,
            end: 40,
            startWidth: 8, endWidth: 8,
            radius: '108%',
            color: '#30B32D'
        }, {
            start: 40,
            end: 100,
            startWidth: 8, endWidth: 8,
            radius: '108%',
            color: '#E5C31C'
        }, {
            start: 100, end: 120,
            startWidth: 8, endWidth: 8,
            radius: '108%',
            color: '#F03E3E'
        }];
    }

    function setPointersValue(circulargauge, pointerValue) {
        var color = ej.circulargauge.getRangeColor(pointerValue, (circulargauge.axes[0].ranges), circulargauge.axes[0].pointers[0].color);
        circulargauge.axes[0].pointers[0].color = color;
        circulargauge.axes[0].pointers[1].color = color;
        circulargauge.axes[0].pointers[0].animation.enable = false;
        circulargauge.axes[0].pointers[1].animation.enable = false;
        circulargauge.axes[0].pointers[0].needleTail.color = color;
        circulargauge.axes[0].pointers[1].needleTail.color = color;
        circulargauge.axes[0].pointers[0].cap.border.color = color;
        circulargauge.axes[0].pointers[1].cap.border.color = color;
        circulargauge.axes[0].pointers[1].value = pointerValue;
        circulargauge.axes[0].pointers[0].value = pointerValue;
        
        content = '<div style="font-size: 14px;color:' + color + ';font-weight: lighter;font-style: oblique;"><span>';
        circulargauge.axes[0].annotations[0].content = (content + pointerValue + ' MPH</span></div>');
        circulargauge.refresh();
    }

    window.dragMove = function (args) {
        pointerValue = Math.round(args.currentValue);
        document.getElementById('pointerValue').innerHTML = 'Pointer Value <span>    ' + pointerValue;
        document.getElementById('value').value = pointerValue.toString();
        circulargauge.axes[0].annotations[0].content = (content + pointerValue + ' MPH</span></div>');
        circulargauge.axes[0].pointers[0].animation.enable = false;
        circulargauge.axes[0].pointers[1].animation.enable = false;
        circulargauge.refresh();
    }
    window.dragEnd = function (args) {
        pointerValue = Math.round(args.currentValue);
        setPointersValue(circulargauge, pointerValue);
    }
    var content = '<div style="font-size: 14px;color:#E5C31C;font-weight: lighter;font-style: oblique;"><span>';
    var circulargauge, pointerValue;
    window.addEventListener('load', function () { 
        circulargauge = document.getElementById('circular').ej2_instances[0];
        document.getElementById('value').ontouchmove = document.getElementById('value').onpointermove =
            document.getElementById('value').onchange = function () {
                var pointerValue = parseInt(document.getElementById('value').value, 10);
                setPointersValue(circulargauge, pointerValue, false);
                document.getElementById('pointerValue').innerHTML = 'Pointer Value <span>    ' + pointerValue;
            };
        document.getElementById('enable').onchange = function () {
            var value = document.getElementById('enable').checked;
            circulargauge.enablePointerDrag = value;
        };
    });
</script>