@page
@using EJ2CoreSampleBrowser.Models;
@using Syncfusion.EJ2.Gantt;

@section ControlsSection{
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <div style="display: flex;">
                    <div style="display: flex; align-items: center;">
                        <label for="unchecked" style="margin-right: 5px;font-size: 15px;"> AutoFit in Pdf Export </label>
                        <ejs-switch id="unchecked" change="Change" checked="false"></ejs-switch>
                    </div>
                </div>
                <div>
                    <ejs-gantt id='AdvancedExporting' dataSource="@GanttData.PDFData()" gridLines="Both"
                               treeColumnIndex="1" height="650px" rowHeight="46" taskbarHeight="25" toolbarClick="toolbarClick"
                               enableCriticalPath="true"
                               pdfQueryTaskbarInfo="pdfQueryTaskbarInfo"
                               queryTaskbarInfo="queryTaskbarInfo"
                               allowExcelExport="true" allowSelection="true" highlightWeekends="true"
                               allowPdfExport="true"
                               resources="@GanttData.EditingResources()"
                               projectStartDate="03/25/2025"
                               toolbar="@(new List<string>() { "PdfExport" })">
                        <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                            endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor"
                                            child="SubTasks" resourceInfo="ResourceId">
                        </e-gantt-taskfields>
                        <e-gantt-splittersettings columnIndex="3"></e-gantt-splittersettings>
                        <e-gantt-resourcefields id="ResourceId" name="ResourceName">
                        </e-gantt-resourcefields>
                        <e-gantt-columns>
                            <e-gantt-column field="TaskId" visible="false" width="100"></e-gantt-column>
                            <e-gantt-column field="TaskName" headerText="Task Name" width="200" clipMode="EllipsisWithTooltip"></e-gantt-column>
                            <e-gantt-column field="StartDate" ></e-gantt-column>
                            <e-gantt-column field="EndDate" ></e-gantt-column>
                            <e-gantt-column field="Progress" ></e-gantt-column>
                        </e-gantt-columns>
                        <e-gantt-labelSettings leftLabel="#leftLabel" rightLabel="#rightLabel" ></e-gantt-labelSettings>
                        <e-gantt-eventmarkers>
                            <e-gantt-eventmarker day="04/09/2025" label="Research phase"></e-gantt-eventmarker>
                            <e-gantt-eventmarker day="06/20/2025" label="Sales and marketing phase"></e-gantt-eventmarker>
                        </e-gantt-eventmarkers>
                        <e-gantt-holidays>
                            <e-gantt-holiday from="04/04/2025" to="04/04/2025" label="Local Holiday"></e-gantt-holiday>
                            <e-gantt-holiday from="04/19/2025" to="04/19/2025" label="Good Friday"></e-gantt-holiday>
                            <e-gantt-holiday from="04/30/2025" to="04/30/2025" label="Release Holiday"></e-gantt-holiday>
                        </e-gantt-holidays>
                        <e-gantt-timelinesettings>
                            <e-timelinesettings-toptier unit="Week" format="MMM dd, y"></e-timelinesettings-toptier>
                            <e-timelinesettings-bottomtier unit="Day"></e-timelinesettings-bottomtier>
                        </e-gantt-timelinesettings>
                    </ejs-gantt>
                </div>
            </div>
        </div>
    </div>
        <script>
            var isFitToWidth;

            function toolbarClick(args) {
                var ganttObj = document.getElementById("AdvancedExporting").ej2_instances[0];
                if (args.item.id === 'AdvancedExporting_pdfexport') {
                    const borderWidth = 1;
                    const borderColor = new ej.pdfexport.PdfColor(227, 22, 91);
                    const pdfpen = new ej.pdfexport.PdfPen(borderColor, borderWidth);
                    pdfpen.dashStyle = ej.pdfexport.PdfDashStyle.Dash;
                    var exportProperties = {
                            pageSize: "A2",
                            fileName: "Product Development Report.pdf.pdf",
                            ganttStyle: {
                                eventMarker: {
                                    label: {
                                        fontColor: new ej.pdfexport.PdfColor(33, 33, 33),
                                        fontStyle: ej.pdfexport.PdfFontStyle.Bold,
                                        backgroundColor: new ej.pdfexport.PdfColor(253, 191, 100),
                                    },
                                lineStyle: pdfpen,
                                },
                                holiday: {
                                    fontColor: new ej.pdfexport.PdfColor(33, 33, 33),
                                    backgroundColor: new ej.pdfexport.PdfColor(243, 244, 246),
                                },
                            },
                            header: {
                                fromTop: 0,
                                height: 150,
                                contents: [
                                    {
                                        type: 'Text',
                                        value:'Product Development Lifecycle Gantt Chart Report March 2025 - June 2025',
                                        position: { x: 20, y: 20 },
                                        style: { textBrushColor: '#00008B', fontSize: 24 },
                                    },
                                    {
                                        type: 'Line',
                                        style: { penColor: '#00008B', penSize: 2, dashStyle: 'Solid' },
                                        points: { x1: 20, y1: 70, x2: 750, y2: 70 }, 
                                    },
                                ],
                            },
                            footer: {
                                fromBottom: 160,
                                height: 100,
                                contents: [
                                    {
                                        type: 'Text',
                                        value: "© 2025 Syncfusion Inc. All Rights Reserved.\n" +
                                                "Generated on: " + new Date().toLocaleString('en-US', {
                                                    month: 'long',
                                                    day: '2-digit',
                                                    year: 'numeric',
                                                    hour: '2-digit',
                                                    minute: '2-digit',
                                                    second: '2-digit',
                                                    hour12: true
                                                }),
                                        position: { x: 1950, y: 40 },
                                        style: { textBrushColor: '#3a435e', fontSize: 20 },
                                    }
                                ],
                            },
                            fitToWidthSettings: {
                                isFitToWidth: isFitToWidth,
                            }
                    };
                    ganttObj.pdfExport(exportProperties);
                }
            }
            function Change(args) {
                if (args.checked) {
                    isFitToWidth = true;
                } else {
                    isFitToWidth = false;
                }
            }
            function pdfQueryTaskbarInfo(args) {
                args.labelSettings.leftLabel.value = args.data.ganttProperties.taskName;
                if (args.data.ganttProperties.resourceNames) {
                    args.labelSettings.rightLabel.value = args.data.ganttProperties.resourceNames;
                    args.labelSettings.rightLabel.image = [
                    {
                        base64: args.data.taskData.resourcesImage,
                        width: 20,
                        height: 20,
                    },
                ];
                if (args.data.ganttProperties.taskId === 7) {
                    args.labelSettings.leftLabel.value = 'Custom Label';
                    args.labelSettings.leftLabel.fontStyle.fontColor = new ej.pdfexport.PdfColor(142, 36, 64);
                }
                }
                const theme =
                document.body.classList.contains('tailwind3-dark') ||
                document.body.classList.contains('fluent2-dark') ||
                document.body.classList.contains('material3-dark') ||
                document.body.classList.contains('bootstrap5.3-dark') ||
                document.body.classList.contains('fluent2-highcontrast') ||
                document.body.classList.contains('fluent2-dark');
                if (theme && args.data.isCritical) {
                    args.taskbar.progressColor = new ej.pdfexport.PdfColor(172, 6, 136);
                    args.taskbar.taskColor = args.taskbar.taskBorderColor = new ej.pdfexport.PdfColor(73, 4, 58);
                }
                else if (!theme && args.data.isCritical) {
                    args.taskbar.progressColor = new ej.pdfexport.PdfColor(176, 0, 138);
                    args.taskbar.taskColor = new ej.pdfexport.PdfColor(255, 206, 244);
                }
            }
            function queryTaskbarInfo(args) {
                const theme = document.body.classList.contains('tailwind3-dark') ||
                    document.body.classList.contains('fluent2-dark') ||
                    document.body.classList.contains('material3-dark') ||
                    document.body.classList.contains('bootstrap5.3-dark') ||
                    document.body.classList.contains('fluent2-highcontrast') ||
                    document.body.classList.contains('fluent2-dark');
                if (theme && args.data.isCritical) {
                    args.taskbarBgColor = '#49043A';
                    args.progressBarBgColor = '#AC0688';
                }
                else if (!theme && args.data.isCritical) {
                    args.progressBarBgColor = '#B0008A';
                    args.taskbarBgColor = '#FFCEF4';
                }
            }
        </script>

    <script type="text/x-template" id="leftLabel">
        <div style="margin-top=-7px;">
            <div id="leftLabel">
                <span>${TaskName}</span>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="rightLabel">
        <div style="margin-top=-7px;">
            ${if(ganttProperties.resourceInfo)}
            <div id="rightLabel">
                ${getResourceElements(ganttProperties.resourceInfo)}
            </div>
            ${/if}
        </div>
    </script>

    <script>
        function getResourceElements(value) {
            var out = "";
            var img = document.createElement('img');
            img.height = 20;
            img.alt = "Profile Picture";
            var span = document.createElement('span');
            span.style.marginLeft = "5px";
            span.style.marginRight = "5px";
            for (var index = 0; index < value.length; index++) {
                img.src = '../images/Gantt/' + value[index].ResourceName + '.png';
                span.innerHTML = value[index].ResourceName;
                out = out + img.outerHTML + span.outerHTML;
            }
            return out;
        }

    </script>
}

@section ActionDescription{
        <div id="action-description">
         <p>
            This sample demonstrates the advanced PDF export features of the Gantt Chart, allowing customization of various elements such as headers, footers, task labels, event markers, holidays, and taskbars. These customizations can be configured using the
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/api/gantt/pdfExportProperties">pdfExportProperties</a> and 
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Gantt.Gantt.html#Syncfusion_EJ2_Gantt_Gantt_PdfQueryTaskbarInfo">pdfQueryTaskbarInfo</a> event.
        </p>
        </div>

}
@section Description{
        <div id="description">
            <p>In this sample, the Gantt Chart's PDF export functionality is enhanced with various customization options:
        </p>

        <ul>
            <li>
                <strong>Custom Headers and Footers</strong>: The headers and footers in the exported PDF can be
                customized using the
                <a target="_blank"
                    href="https://ej2.syncfusion.com/aspnetcore/documentation/api/gantt/pdfExportProperties/#header">header</a>
                and
                <a target="_blank"
                    href="https://ej2.syncfusion.com/aspnetcore/documentation/api/gantt/pdfExportProperties/#footer">footer</a>
                properties,which allowing us to include relevant information of exported PDF.
            </li>
            <li>
                <strong>Taskbar and Task Label Styling</strong>:Taskbar and Task Label appearance can be customized in
                the exported PDF using the
                <a target="_blank"
                    href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Gantt.Gantt.html#Syncfusion_EJ2_Gantt_Gantt_PdfQueryTaskbarInfo">pdfQueryTaskbarInfoEvent</a>.
            </li>
            <li>
                <strong> Event marker and holiday</strong>:Event marker and holiday can be cusotmized in exported PDF
                using
                <a target="_blank"
                    href="https://helpej2.syncfusion.com/documentation/api/gantt/pdfExportProperties/#ganttstyle">ganttstyle</a>
                in <a target="_blank"
                    href="https://ej2.syncfusion.com/aspnetcore/documentation/api/gantt/pdfExportProperties">pdfExportProperties</a>.
            </li>
            <li>
                <strong>Fit-to-Width Support</strong>: This feature allows the Gantt component's rows to be auto-fitted
                to the width of the PDF document's page using the
                <a target="_blank"
                    href="https://ej2.syncfusion.com/aspnetcore/documentation/api/gantt/pdfExportProperties/#fittowidthsettings">fitToWidthSettings</a>
                in <a target="_blank"
                    href="https://ej2.syncfusion.com/aspnetcore/documentation/api/gantt/pdfExportProperties">pdfExportProperties</a>.
            </li>
        </ul>
        <br>
    <p>More information on the Essential<sup>®</sup> Gantt Chart can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/gantt/getting-started#adding-gantt-component">documentation section</a>.</p>
        

        </div>
}

@section Meta{
        <meta name="description" content="This example demonstrates the Exporting in ASP.NET Core Gantt control. Explore here for more details." />
}
@section Title{
        <title>ASP.NET Core Gantt Exporting Example - Syncfusion Demos </title>
}
@section Header{
        <h1 class='sb-sample-text'>Example of Exporting in ASP.NET Core Gantt Control</h1>
}

