@page
@using EJ2CoreSampleBrowser.Models;
@using Syncfusion.EJ2.Gantt;
@section ControlsSection {

    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='ColumnResize' dataSource="@GanttData.ProjectNewData()" treeColumnIndex="1" allowResizing="true" height="450px" highlightWeekends="true"
                           projectStartDate="03/24/2024" projectEndDate="07/06/2024">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                        endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor"
                                        child="SubTasks">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" headerText="ID" width="80" minWidth="8"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Job Name" width="250" minWidth="120" maxWidth="300"></e-gantt-column>
                        <e-gantt-column field="StartDate" width="135" minWidth="8"></e-gantt-column>
                        <e-gantt-column field="EndDate" width="135" minWidth="8"></e-gantt-column>
                        <e-gantt-column field="Duration" allowResizing="false" width="120"></e-gantt-column>
                        <e-gantt-column field="Progress" headerText="Progress" textAlign="Right" width="120" minWidth="8"></e-gantt-column>
                        <e-gantt-column field="Predecessor" headerText="Dependency" textAlign="Left" width="135" minWidth="8"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-splitterSettings columnIndex="6"></e-gantt-splitterSettings>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                </ejs-gantt>
            </div>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the Gantt column resizing feature. Click and drag at the right corner of each column header to resize the column.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            The Gantt columns can be resized by clicking and dragging at the right corner of columns header. Set the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_AllowResizing">allowResizing</a> property to true to enable column resizing behavior in Gantt.
            You can also prevent the resize of a particular column
            by setting <code>columns -> allowResizing</code> to false in columns definition.
        </p>
        <br />
        <p>
            In this demo, the allowResizing feature has been enabled by setting the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_AllowResizing">allowResizing</a> property to true.
            Task Name column can be resized between a range of <code>minWidth (120 pixels)</code> and <code>maxWidth (300 pixels)</code>.
            The column resizing has been disabled in the <b>Duration</b> column.
        </p>
        <p>
            More information about column resizing can be found in this <a href="https://ej2.syncfusion.com/aspnetcore/documentation/gantt/columns/column-resizing" aria-label="Navigate to the documentation for Column Resizing in ASP.NET Core Gantt Chart control">documentation section</a>.
        </p>
        <br />
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Column Resize in ASP.NET Core Gantt control. Explore here for more details." />
}
@section Title{
    <title>ASP.NET Core Gantt Column Resize Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Column Resize in ASP.NET Core Gantt Control</h1>
}