@page
@using EJ2CoreSampleBrowser.Models;
@using Syncfusion.EJ2.Gantt;

@section ControlsSection{

    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='Indicators' dataSource="@GanttData.ProjectNewData()" treeColumnIndex="1" height="450px" highlightWeekends="true"
                           projectStartDate="03/24/2024" projectEndDate="07/06/2024">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                        endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor"
                                        child="SubTasks" indicators="Indicators">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" width="80"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Name" width="250" clipMode="EllipsisWithTooltip"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                        <e-gantt-column field="Predecessor"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-splitterSettings columnIndex="2"></e-gantt-splitterSettings>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                </ejs-gantt>
            </div>
        </div>
    </div>
    <style>

        #Indicators .designPhase::before,
        #Indicators .productionPhase::before {
            content: '\ea84';
        }

        #Indicators .researchPhase::before,
        #Indicators .salesPhase::before {
            content: '\e30d';
        }

        .bootstrap4 #Indicators .designPhase::before,
        .bootstrap4 #Indicators .productionPhase::before {
            content: '\e7d9';
        }

        .bootstrap4 #Indicators .researchPhase::before,
        .bootstrap4 #Indicators .salesPhase::before {
            content: '\e7cb';
        }

        .bootstrap5-dark #Indicators .designPhase::before,
        .bootstrap5 #Indicators .designPhase::before,
        .bootstrap5-dark #Indicators .productionPhase::before,
        .bootstrap5 #Indicators .productionPhase::before,
        .tailwind #Indicators .designPhase::before, .tailwind #Indicators .productionPhase::before,
        .tailwind-dark #Indicators .designPhase::before, .tailwind-dark #Indicators .productionPhase::before,
        .fluent #Indicators .designPhase::before, .fluent #Indicators .productionPhase::before,
        .fluent2 #Indicators .designPhase::before, .fluent2 #Indicators .productionPhase::before,
        .fluent2-dark #Indicators .designPhase::before, .fluent2-dark #Indicators .productionPhase::before,
        .fluent2-highcontrast #Indicators .designPhase::before, .fluent2-highcontrast #Indicators .productionPhase::before,
        .fluent-dark #Indicators .designPhase::before, .fluent-dark #Indicators .productionPhase::before,
        .material3-dark #Indicators .designPhase::before, .material3-dark #Indicators .productionPhase::before,
        .material3 #Indicators .designPhase::before, .material3 #Indicators .productionPhase::before,
        .material3-dark #Indicators .researchPhase::before, .material3 #Indicators .researchPhase::before {
            content: '\e72b';
        }

        .bootstrap5-dark #Indicators .researchPhase::before,
        .bootstrap5 #Indicators .researchPhase::before,
        .bootstrap5-dark #Indicators .salesPhase::before,
        .bootstrap5 #Indicators .salesPhase::before,
        .tailwind #Indicators .researchPhase::before, .tailwind #Indicators .salesPhase::before,
        .tailwind-dark #Indicators .researchPhase::before, .tailwind-dark #Indicators .salesPhase::before,
        .fluent #Indicators .researchPhase::before, .fluent #Indicators .salesPhase::before,
        .fluent2 #Indicators .researchPhase::before, .fluent2 #Indicators .salesPhase::before,
        .fluent2-dark #Indicators .researchPhase::before, .fluent2-dark #Indicators .salesPhase::before,
        .fluent2-highcontrast #Indicators .researchPhase::before, .fluent2-highcontrast #Indicators .salesPhase::before,
        .fluent-dark #Indicators .researchPhase::before, .fluent-dark #Indicators .salesPhase::before {
            content: '\e7c0';
        }

        .fabric #Indicators .researchPhase::before,
        .fabric #Indicators .salesPhase::before,
        .fabric-dark #Indicators .researchPhase::before,
        .fabric-dark #Indicators .salesPhase::before,
        .highcontrast #Indicators .researchPhase::before,
        .highcontrast #Indicators .salesPhase::before {
            content: '\e310';
        }
    </style>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes how to mention a special moment in any mentioned day for a particular task with different icon and label.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Gantt.GanttTaskFields.html#Syncfusion_EJ2_Gantt_GanttTaskFields_Indicators">indicators</a> are displayed with some custom text in the specified day of task, which are defined in dataSource. You can define the indicators with the following properties for tasks:
            <ul>
                <li><code>date</code>: Defines the date value to where we want to display the indicators.</li>
                <li><code>iconClass </code>: Defines the icon to highlight the indicator.</li>
                <li><code>name</code>: Defines text to be displayed in the mentioned date.</li>
                <li><code>tooltip</code>: The text will be displayed when the mouse is hovered over the indicator.</li>
            </ul>
        </p>
        <br />
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Indicators in ASP.NET Core Gantt control. Explore here for more details." />
}
@section Title{
    <title>ASP.NET Core Gantt Indicators Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Indicators in ASP.NET Core Gantt Control</h1>
}