@page
@using EJ2CoreSampleBrowser.Models;
@using Syncfusion.EJ2.Gantt;

@section ControlsSection {

    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='Indicators' dataSource="@GanttData.ProjectNewData()" treeColumnIndex="1" height="650px"
                    rowHeight="46" taskbarHeight="25" highlightWeekends="true" projectStartDate="03/26/2025"
                    projectEndDate="07/20/2025">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate" endDate="EndDate"
                        duration="Duration" progress="Progress" dependency="Predecessor" parentID="ParentID"
                        indicators="Indicators">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" width="80"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Name" width="250"
                            clipMode="EllipsisWithTooltip"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                        <e-gantt-column field="Predecessor"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-splitterSettings columnIndex="2"></e-gantt-splitterSettings>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                </ejs-gantt>
            </div>
        </div>
    </div>
    <style>
        #Indicators .okIcon::before {
            content: '\ea84';
        }

        #Indicators .description::before {
            content: '\e30d';
        }

        .bootstrap4 #Indicators .okIcon::before {
            content: '\e7d9';
        }

        .bootstrap4 #Indicators .description::before {
            content: '\e7cb';
        }

        .bootstrap5-dark #Indicators .okIcon::before {
            content: '\e72b';
        }

        .bootstrap5-dark #Indicators .description::before {
            content: '\e7c0';
        }

        .bootstrap5 #Indicators .okIcon::before,
        .tailwind #Indicators .okIcon::before,
        .tailwind-dark #Indicators .okIcon::before,
        .fluent #Indicators .okIcon::before,
        .fluent2 #Indicators .okIcon::before,
        .fluent2-highcontrast #Indicators .okIcon::before,
        .fluent2-dark #Indicators .okIcon::before,
        .fluent-dark #Indicators .okIcon::before,
        .bootstrap5\.3 #Indicators .okIcon::before,
        .bootstrap5\.3-dark-lite #Indicators .okIcon::before,
        .bootstrap5\.3-dark #Indicators .okIcon::before,
        .bootstrap5\.3-lite #Indicators .okIcon::before,
        .tailwind3 #Indicators .okIcon::before,
        .tailwind3-dark #Indicators .okIcon::before,
        .material3-dark #Indicators .okIcon::before,
        .material3 #Indicators .okIcon::before {
            content: '\e72b';
        }

        .bootstrap5 #Indicators .description::before,
        .tailwind #Indicators .description::before,
        .tailwind-dark #Indicators .description::before,
        .fluent #Indicators .description::before,
        .fluent2 #Indicators .description::before,
        .fluent2-highcontrast #Indicators .description::before,
        .fluent2-dark #Indicators .description::before,
        .fluent-dark #Indicators .description::before,
        .material3-dark #Indicators .description::before,
        .material3 #Indicators .description::before,
        .bootstrap5\.3 #Indicators .description::before,
        .bootstrap5\.3-dark-lite #Indicators .description::before,
        .bootstrap5\.3-dark #Indicators .description::before,
        .bootstrap5\.3-lite #Indicators .description::before,
        .tailwind3 #Indicators .description::before,
        .tailwind3-dark #Indicators .description::before {
            content: '\e7c0';
        }

        .fabric #Indicators .description::before,
        .fabric-dark #Indicators .description::before {
            content: '\e310';
        }

        .highcontrast #Indicators .description::before {
            content: '\e310';
        }
    </style>
}

@section ActionDescription {
    <div id="action-description">
        <p>
            This sample visualizes how to mention a special moment in any mentioned day for a particular task with different
            icon and label.
        </p>
    </div>
}
@section Description {

    <div id="description">
        <p>
            In this example, <a target="_blank"
                href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Gantt.GanttTaskFields.html#Syncfusion_EJ2_Gantt_GanttTaskFields_Indicators">indicators</a>
            are displayed with some custom text in the specified day of task, which are defined in dataSource. You can
            define the indicators with the following properties for tasks:
        <ul>
            <li><code>date</code>: Defines the date value to where we want to display the indicators.</li>
            <li><code>iconClass </code>: Defines the icon to highlight the indicator.</li>
            <li><code>name</code>: Defines text to be displayed in the mentioned date.</li>
            <li><code>tooltip</code>: The text will be displayed when the mouse is hovered over the indicator.</li>
        </ul>
        </p>
        <br>
    <p>More information on the Essential<sup>®</sup> Gantt Chart can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/gantt/data-markers">documentation section</a>.</p>
    </div>
}
@section Meta {
    <meta name="description"
        content="This example demonstrates the Indicators in ASP.NET Core Gantt control. Explore here for more details." />
}
@section Title {
    <title>ASP.NET Core Gantt Indicators Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Indicators in ASP.NET Core Gantt Control</h1>
}