@page
@using EJ2CoreSampleBrowser.Models;
@using Syncfusion.EJ2.Gantt;

@section ControlsSection {
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='Resources' dataSource="@GanttData.ResourceData()"
                    treeColumnIndex="1" height="450px" allowSelection="true" highlightWeekends="true"
                    resources="@GanttData.GetResourceAllocation()" taskType="FixedWork"
                    projectStartDate="03/28/2024" projectEndDate="07/28/2024"
                    toolbar="@(new List<string>() { "Add", "Edit", "Update", "Delete", "Cancel", "ExpandAll", "CollapseAll" })"
                    queryTaskbarInfo="queryTaskbarInfoEvent" actionBegin="actionBeginEvent" actionComplete="actionCompleteEvent" cellEdit="cellEditEvent">
                    <e-gantt-resourcefields id="ResourceId" name="ResourceName" unit="ResourceUnit">
                    </e-gantt-resourcefields>
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                        endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor"
                        child="SubTasks" work="Work" resourceInfo="Resources" type="TaskType">
                    </e-gantt-taskfields>
                    <e-gantt-splitterSettings columnIndex="2"></e-gantt-splitterSettings>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" visible="false"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Task Name" width="180"></e-gantt-column>
                        <e-gantt-column field="Resources" headerText="Resources" width="160" template="#resTemplate" edit="@(new {read = "read", destroy = "destroy", write = "write"})"></e-gantt-column>
                        <e-gantt-column field="Work" width="110"></e-gantt-column>
                        <e-gantt-column field="Duration" width="100"></e-gantt-column>
                        <e-gantt-column field="TaskType" headerText="Task Type" width="110"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-editsettings allowAdding="true" allowEditing="true" allowDeleting="true"
                        allowTaskbarEditing="true" showDeleteConfirmDialog="true"></e-gantt-editsettings>
                    <e-gantt-adddialogfields>
                        <e-gantt-adddialogfield type="Resources"></e-gantt-adddialogfield>
                    </e-gantt-adddialogfields>
                    <e-gantt-editdialogfields>
                        <e-gantt-editdialogfield type="Resources"></e-gantt-editdialogfield>
                    </e-gantt-editdialogfields>
                    <e-gantt-labelSettings rightLabel="Resources"></e-gantt-labelSettings>
                </ejs-gantt>
            </div>
        </div>
    </div>
    <script id="resTemplate" type="text/x-template">
        ${if(ganttProperties.resourceNames)}
            ${if(ganttProperties.resourceNames.split('[')[0].includes('Rose Fuller'))}
                <div style="width: 150px; height: 24px; border-radius: 100px; background-color: #1c5d8e; display: flex; align-items: center; justify-content: center;">
                    <span style="color: white; font-weight: 500;">${ganttProperties.resourceNames}</span>
                </div>
            ${/if}

            ${if(ganttProperties.resourceNames.split('[')[0].includes('Fuller King'))}
                <div style="width: 150px; height: 24px; border-radius: 100px; background-color: #4a7537; display: flex; align-items: center; justify-content: center;">
                    <span style="color: white; font-weight: 500;">${ganttProperties.resourceNames}</span>
                </div>
            ${/if}

            ${if(ganttProperties.resourceNames.split('[')[0].includes('Van Jack'))}
                <div style="width: 150px; height: 24px; border-radius: 100px; background-color: #b24531; display: flex; align-items: center; justify-content: center;">
                    <span style="color: white; font-weight: 500;">${ganttProperties.resourceNames}</span>
                </div>
            ${/if}

            ${if(ganttProperties.resourceNames.split('[')[0].includes('Bergs Anton'))}
                <div style="width: 150px; height: 24px; border-radius: 100px; background-color: #a53576; display: flex; align-items: center; justify-content: center;">
                    <span style="color: white; font-weight: 500;">${ganttProperties.resourceNames}</span>
                </div>
            ${/if}

            ${if(ganttProperties.resourceNames.split('[')[0].includes('Tamer Vinet'))}
                <div style="width: 150px; height: 24px; border-radius: 100px; background-color: #635688; display: flex; align-items: center; justify-content: center;">
                    <span style="color: white; font-weight: 500;">${ganttProperties.resourceNames}</span>
                </div>
            ${/if}
        ${/if}
    </script>
    <script>
        function queryTaskbarInfoEvent(args) {
            if (args.data.ganttProperties.resourceNames) {
                if (args.data.ganttProperties.resourceNames.split('[')[0].includes('Rose Fuller')) {
                    args.taskbarBgColor = '#539ed6';
                    args.milestoneColor = '#539ed6';
                    args.progressBarBgColor = '#1c5d8e';
                    args.taskbarBorderColor = '#1c5d8e';
                    if (args.data.ganttProperties.progress === 0) {
                        args.taskLabelColor = 'black';
                    }
                } else if (args.data.ganttProperties.resourceNames.split('[')[0].includes('Van Jack')) {
                    args.taskbarBgColor = '#ff826b';
                    args.milestoneColor = '#ff826b';
                    args.progressBarBgColor = '#b24531';
                    args.taskbarBorderColor = '#b24531';
                    if (args.data.ganttProperties.progress === 0) {
                        args.taskLabelColor = 'black';
                    }
                } else if (args.data.ganttProperties.resourceNames.split('[')[0].includes('Bergs Anton')) {
                    args.taskbarBgColor = '#ef6fbb';
                    args.milestoneColor = '#ef6fbb';
                    args.progressBarBgColor = '#a53576';
                    args.taskbarBorderColor = '#a53576';
                    if (args.data.ganttProperties.progress === 0) {
                        args.taskLabelColor = 'black';
                    }
                } else if (args.data.ganttProperties.resourceNames.split('[')[0].includes('Fuller King')) {
                    args.taskbarBgColor = '#87b972';
                    args.milestoneColor = '#87b972';
                    args.progressBarBgColor = '#4a7537';
                    args.taskbarBorderColor = '#4a7537';
                    if (args.data.ganttProperties.progress === 0) {
                        args.taskLabelColor = 'black';
                    }
                } else if (args.data.ganttProperties.resourceNames.split('[')[0].includes('Tamer Vinet')) {
                    args.taskbarBgColor = '#a496cf';
                    args.milestoneColor = '#a496cf';
                    args.progressBarBgColor = '#635688';
                    args.taskbarBorderColor = '#635688';
                    if (args.data.ganttProperties.progress === 0) {
                        args.taskLabelColor = 'black';
                    }
                }
            }
            if (args.taskbarType === 'ParentTask') {
                args.taskbarBgColor = '#adadad';
                args.progressBarBgColor = '#6b6b6b';
                if (args.data.ganttProperties.progress === 0) {
                    args.taskLabelColor = 'black';
                }
            }
        }

        var dropdownlistObj;
        function read(args) {
            var gantt = document.getElementsByClassName('e-gantt')[0].ej2_instances[0];
            // Get the selected value from the dropdown
            var value = dropdownlistObj.value;
            if (value == null) {
                // If no value is selected, retain the existing resource(s)
                value = gantt.treeGridModule.currentEditRow[gantt.taskFields.resourceInfo];
            } else {
                // Update the resource info with the selected value
                gantt.treeGridModule.currentEditRow[gantt.taskFields.resourceInfo] = [value];
            }
            return value;
        }

        function destroy() {
            dropdownlistObj.destroy();
        }

        function write(args) {
            var gantt = document.getElementsByClassName('e-gantt')[ 0].ej2_instances[0];
            // Ensure the currentEditRow object is initialized
            gantt.treeGridModule.currentEditRow = {};

            // Retrieve the existing resource(s) from the row data or set default
            var existingResourceIds = gantt.treeGridModule.getResourceIds(args.rowData);
            var selectedValue = (existingResourceIds && existingResourceIds.length > 0) ? existingResourceIds[0] : null;

            // Initialize the DropDownList
            dropdownlistObj = new ej.dropdowns.DropDownList({
                dataSource: gantt.resources,
                fields: { text: gantt.resourceFields.name, value: gantt.resourceFields.id },
                enableRtl: gantt.enableRtl,
                popupHeight: '350px',
                // Set the existing resource(s) as the selected value
                value: selectedValue,
            });
            // Append the dropdown to the element
            dropdownlistObj.appendTo(args.element);
        }

       function cellEditEvent(args) {
            // Restrict editing based on row data
            if (args.rowData.TaskID === 1 || args.rowData.TaskID === 5) { // Example: Prevent editing Task ID 1
                args.cancel = true; // Cancel editing for this specific cell
            }
        }

        function actionBeginEvent(args) {
            if (args.requestType === 'beforeOpenEditDialog' || args.requestType === 'beforeOpenAddDialog') {
                // Restrict editing based on row data for dialog
                if (args.rowData.TaskID === 1 || args.rowData.TaskID === 5) {
                    args.cancel = true; // Cancel editing for this specific row dialog
                }
                args.Resources.selectionSettings = {};
                args.Resources.columns.splice(0, 1);
            }
        }

        function actionCompleteEvent(args) {
            if (args.requestType === 'add' && !args.data.TaskName) {
                var taskName = 'Task Name ' + args.data.TaskID;
                args.data.TaskName = taskName;
                args.data.ganttProperties.taskName = taskName;
                args.data.taskData.TaskName = taskName;
            }
        }

    </script>
}


@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the options to allocate one or more resources to tasks based on the task requirement.
            The Work is the total labor hours necessary to complete a task.
            Work can be mapped from the data source field using the property <code>work</code> and when the work value is mapped from the data source,
            the end date and duration of the task will be calculated automatically based on the work and resource unit values from the data source.
            Work can be measured in hours, days, and minutes. It is measured in 'hours' scale by default and this can be changed by using the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_WorkUnit">workUnit</a> property.
        </p>

    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, you can see how to allocate single or multiple resources for the task. Based on the task complexity and the resource availability, you can plan and allocate the resources to task in the project. In this demo, there is a set of predefined resources and those IDs are assigned to the task. Resource information can be shown in Gantt chart by using the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_LabelSettings">labelSetting</a> property.<br /><br />
            Resources can be mapped using <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_ResourceFields">resourceFields:</a> </br>
            <code>id</code>: To map resource ID<br/>
            <code>name</code>: To map resource name
            <code>unit</code>: To map resource unit<br/><br/>
            The work, duration and resource unit fields of a task depends upon each other values and will change automatically on editing any one of these fields. But we can also set these field’s values as constant using the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_TaskType">taskType</a> property. The following values can be set to the type property:</br>

            <code>FixedDuration</code>: Duration task field will remain constant while updating resource unit or work field.<br/>

            <code>FixedWork</code>: Work field will remain constant while updating resource unit or duration fields.<br/>

            <code>FixedUnit</code>: Resource units will remain constant while updating duration or work field.
        </p>
        <p style="font-weight: 500">Injecting Module:</p>
        <p>
            Gantt control features are segregated into individual feature-wise modules. To use a selection, inject the
            <code>Selection</code> module using the <code>Gantt.Inject(Selection)</code> method. To use markers, inject the
            <code>DayMarkers</code> module using the <code>Gantt.Inject(DayMarkers)</code> method.
            To edit resource unit, task type, and duration, inject the <code>Toolbar</code> and <code>Edit</code> module.
        </p>
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Resource Allocation in ASP.NET Core Gantt control. Explore here for more details." />
}
@section Title{
    <title>ASP.NET Core Gantt Resource Allocation Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Resource Allocation in ASP.NET Core Gantt Control</h1>
}
