@page

@using EJ2CoreSampleBrowser.Models
@using Syncfusion.EJ2.Gantt;
@section ControlsSection{

    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='TimlineTemplate' dataSource="@GanttData.TimelineTemplateData()" height="450px"  allowSelection="true"
                            treeColumnIndex="1"
                           projectStartDate="03/31/2024" projectEndDate="04/23/2024" timelineTemplate="#timelineTemplates">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate" endDate="EndDate" duration="Duration" progress="Progress"
                                        dependency="Predecessor"  child="SubTasks">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" visible =false></e-gantt-column>
                        <e-gantt-column field="TaskName" width ="300"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="EndDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-timelinesettings timelineUnitSize="200">
                        <e-timelinesettings-toptier unit="Day"></e-timelinesettings-toptier>
                    </e-gantt-timelinesettings>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                    <e-gantt-splittersettings columnIndex="1"></e-gantt-splittersettings>
                </ejs-gantt>
            </div>
        </div>
    </div>

  <style>
              .e-gantt-single-timeline .e-gantt-tree-grid-pane .e-columnheader{
               height: 70px !important;
               }
                .gantt-single-timeline .e-gantt-tree-grid-pane .e-headercell{
                    height: 70px !important;
                }
                .e-gantt .e-gantt-chart .e-timeline-header-container {
                    height: 70px !important;
                }
                .e-gantt .e-gantt-chart .e-timeline-single-header-cell {
                    height: 70px !important;
                } 
            #TimlineTemplate .e-header-cell-label.e-gantt-top-cell-text {
                background-color: #fff;
            }
            .fluent2-highcontrast .e-header-cell-label.e-gantt-top-cell-text,
            .fluent2-dark .e-header-cell-label.e-gantt-top-cell-text,
            .fluent-dark .e-header-cell-label.e-gantt-top-cell-text,
            .tailwind3-dark .e-header-cell-label.e-gantt-top-cell-text,
            .highcontrast .e-header-cell-label.e-gantt-top-cell-text,  
            .material3-dark .e-header-cell-label.e-gantt-top-cell-text,
            .bootstrap5\.3-dark .e-header-cell-label.e-gantt-top-cell-text {
                background-color: #000;
            }

    </style>

                <script type="text/x-template" id="timelineTemplates">
                    ${if(tier == 'topTier')} 
                <div class="e-header-cell-label e-gantt-top-cell-text" style="width:100%;  font-weight: bold;height: 100%;display: flex; justify-content: center ; align-items: center;   "title=${date}> 
                <div style="width:100%; height: 100%; display: flex; justify-content: center ; align-items: center;flex-direction: column; " > 
                    <div style=" line-height: initial; font-weight: normal;">${weekDate(date)}</div>
                    <div style=" line-height: normal; padding-top: 5px; padding-bottom: 2px; font-weight: normal;">${formatDate(date)}</div>
                    <div style="width:20px; height: 20px; line-height: normal;">
                        <img style="width:100%; height:100%;" src =${imageString(date)}   >
                        </div>
                </div> 
                </div>
                ${/if}
    </script>



    <script>     
        // Create an Internationalization instance
        var intlObj = new ej.base.Internationalization();

        function formatDate(dateString) {
            var gantt = document.getElementById("TimlineTemplate").ej2_instances[0];
            var date = gantt.locale === 'ar' ? parseArabicDate(dateString) : parseDateString(dateString);
            return intlObj.formatDate(date, { skeleton: 'E' });
        }
        function weekDate(dateString) {
            var gantt = document.getElementById("TimlineTemplate").ej2_instances[0];
            var date = gantt.locale === 'ar' ? parseArabicDate(dateString) : parseDateString(dateString);
            return intlObj.formatDate(date, { skeleton: 'd' });
        }
        function imageString(date) {
            var gantt = document.getElementById("TimlineTemplate").ej2_instances[0];
            var imageDate = gantt.locale === 'ar' ? parseArabicDate(date) : parseDateString(date);
            return '../images/Gantt/'+ imageDate.getDay() +".svg" ;
        }
        function convertArabicNumeralsToWestern(arabicNumerals) {
            var arabicToWesternMap = { '٠': '0', '١': '1', '٢': '2', '٣': '3', '٤': '4', '٥': '5', '٦': '6', '٧': '7', '٨': '8', '٩': '9' };
            return arabicNumerals.replace(/[\u0660-\u0669]/g, (match) => {
                return arabicToWesternMap[match] || match; // Fallback to the original character if undefined 
            });
        }
        function parseArabicDate(arabicDateString) {
            // To convert the 'arabicDateString' Arabic Date to ISO Date format
            var normalizedDate = convertArabicNumeralsToWestern(arabicDateString);
            var parts = normalizedDate.split('/');
            var day = parseInt(parts[0], 10);
            var month = parseInt(parts[1], 10) - 1;
            var year = parseInt(parts[2], 10);
            return new Date(year, month, day);
        }
        function parseDateString(dateString) {
            // Check if the date string is in the format "DD.MM.YYYY"
            if (dateString.includes('.')) {
                const parts = dateString.split('.');
                const day = parseInt(parts[0], 10);
                const month = parseInt(parts[1], 10) - 1;
                const year = parseInt(parts[2], 10);
                return new Date(year, month, day);
            }
            // Fallback to default date parsing
            return new Date(dateString);
        }

    </script>

}

@section ActionDescription{
    <div id="action-description">
        <p>This sample explains the way of rendering timeline template by mapping template elements to the<a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_TimelineTemplate">
        timelineTemplate</a> property.</p>
    </div>
}
@section Description{

    <div id="description">
       <p>
        In this demo, the timelineTemplate property enables the customization of timeline cells with any HTML content, allowing for enhanced visual appeal and personalized functionality.
        <p>The template contains these context properties to design the timeline cells.</p>
        <li><code>date</code>: Defines the date of timeline date.</li>
        <li><code>value</code>: Defines the date value to display in the timeline.</li>
        <li><code>tier</code>: Defines the tier of timeline.</li>
    </p>

    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Timeline Template in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Gantt Timeline Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Timeline Template in ASP.NET Core Gantt Control</h1>
                }
