@page
@using EJ2CoreSampleBrowser.Models;
@using Syncfusion.EJ2.Gantt;

@section ControlsSection{
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='UndoRedo' dataSource="@GanttData.EditingData()" gridLines="Both" allowResizing="true" allowSorting="true" enableContextMenu="true"
                           treeColumnIndex="1" height="450px" allowSelection="true" highlightWeekends="true" allowFiltering="true" allowRowDragAndDrop="true"
                           enableUndoRedo="true" allowReordering="true"
                           projectStartDate="03/25/2024" projectEndDate="07/28/2024"
                           toolbar="@(new List<string>() { "Add", "Edit", "Update", "Delete", "Cancel", "Search",
                           "Undo", "Redo" })"
                           undoRedoActions="@(new List<string>() { "Sorting","Add","ColumnReorder","ColumnResize","ColumnState","Delete","Edit","Filtering","Indent","Outdent","NextTimeSpan","PreviousTimeSpan","RowDragAndDrop","Search"})">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                        endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor"
                                        child="SubTasks" notes="Notes">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" width="80"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Job Name" width="250" clipMode="EllipsisWithTooltip"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                        <e-gantt-column field="Predecessor"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-editsettings allowAdding="true" allowEditing="true" allowDeleting="true"
                                          allowTaskbarEditing="true" showDeleteConfirmDialog="true"></e-gantt-editsettings>
                    <e-gantt-timelinesettings>
                        <e-timelinesettings-toptier unit="Week" format="MMM dd, y"></e-timelinesettings-toptier>
                        <e-timelinesettings-bottomtier unit="Day"></e-timelinesettings-bottomtier>
                    </e-gantt-timelinesettings>
                    <e-gantt-editdialogfields>
                        <e-gantt-editdialogfield type="General"></e-gantt-editdialogfield>
                        <e-gantt-editdialogfield type="Dependency"></e-gantt-editdialogfield>
                        <e-gantt-editdialogfield type="Notes"></e-gantt-editdialogfield>
                    </e-gantt-editdialogfields>
                </ejs-gantt>
            </div>
        </div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This example showcases the undo-redo functionality within the Gantt Chart, offering users the flexibility to revert or reapply their latest actions on the Gantt Chart.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            Undo feature enables users to revert the most recent action performed in the Gantt Chart. It helps in undo the changes made to tasks, dependencies, or other elements within the Gantt Chart.
        </p>
        <p>
            Redo feature can reapply an action that was previously undone using the Undo feature. This allows users to revert their decision to undo an action.
        </p>
        <p>
            To undo a recent action, you can either press the Undo keyboard shortcut(Ctrl + Z) or click on the Undo toolbar option. To reapply an action that was undone, you can use the Redo keyboard shortcut(Ctrl + Y) or click on the Redo toolbar option.
        </p>
        <p>
            You can specify the actions to be restored using <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_UndoRedoActions" aria-label="Navigate to the undoRedoActions property reference for ASP.NET Core Gantt Chart control">
                undoRedoActions
            </a> property, such as <code>Edit</code>, <code>Add</code>, <code>Delete</code>, <code>Sorting</code>, <code>ColumnReorder</code>, <code>ColumnResize</code>, <code>Search</code>, <code>Filtering</code>, <code>ZoomIn</code>, <code>ZoomOut</code>, <code>ZoomToFit</code>, <code>ColumnState</code>, <code>Indent</code>, <code>Outdent</code>, <code>RowDragAndDrop</code>, <code>TaskbarDragAndDrop</code>, <code>PreviousTimeSpan</code>, <code>NextTimeSpan</code>.
        </p>
        <p>
            Additionally, you can also define number of undo/redo actions that should be stored. This setting can be adjusted using the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_UndoRedoStepsCount" aria-label="Navigate to the undoRedoStepsCount property reference for ASP.NET Core Gantt Chart control">
                undoRedoStepsCount
            </a> property. By default <code>undoRedoStepsCount</code> value is 10.
        </p>
        <p>
            In this demo, the Undo-Redo feature is enabled by setting <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_EnableUndoRedo" aria-label="Navigate to the enableUndoRedo property reference for ASP.NET Core Gantt Chart control">
                enableUndoRedo
            </a> to true.
        </p>
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Undo Redo in ASP.NET Core Gantt control. Explore here for more details." />
}
@section Title{
    <title>ASP.NET Core Gantt Undo Redo Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Undo Redo in ASP.NET Core Gantt Control</h1>
}

