@{
    ViewBag.Title = "Forms";
    string titleValue = "Succinctly E-Book about TypeScript";
    string commentValue = "<p>The extensive adoption of JavaScript for application development, and the ability to use HTML and JavaScript to create Windows Store apps, has made JavaScript a vital part of the Windows development ecosystem. Microsoft has done extensive work to make JavaScript easier to use</p>.";
    var popupSettings = new InPlaceEditorPopupSettings { Model = new { width = "document.querySelector('#inplace-editor-control.form-layout ').offsetWidth" } };
    var tagValue = new string[] { "TypeScript", "JavaScript" };
    string[] data = new string[] { "Android", "JavaScript", "jQuery", "TypeScript", "Angular", "React", "Vue", "Ionic" };
    var tagData = new { mode = "Box", dataSource = data, placeholder = "Enter your tags" };
    var tagPopup = new InPlaceEditorPopupSettings { Model = new { width= "auto" }  };
    string[] validation1 = new string[] { "true", "Enter valid tags" };
    var tagValidation = new { Tag = new { required = validation1 } };
    string[] validation2 = new string[] { "true", "Enter valid title" };
    var titleValidation = new { Title = new { required = validation2 } };
    var titleData = new { placeHolder = "Enter your question title" };
    string[] rteItems = new string[] { "Bold", "Italic", "Underline", "FontColor", "BackgroundColor", "LowerCase", "UpperCase", "|", "OrderedList", "UnorderedList" };
    var commentData = new { toolbarSettings = new { enableFloating = false, items = rteItems } };
    string[] validation3 = new string[] { "true", "Enter valid comments" };
    var commentValidation = new { rte = new { required = validation3 } };
    var modeData = new string[] { "Inline", "Popup" };
}


@using Syncfusion.EJ2;
@using Syncfusion.EJ2.InPlaceEditor;
@using Syncfusion.EJ2.DropDowns;
@using Syncfusion.EJ2.Popups;
@section ControlsSection{
    <div class="col-lg-8 control-section inplace-editor-control-section form-layout" id='inplace-editor-control'>
        <div class="content-wrapper" style="margin-bottom: 25px">
            <div id="confirmation">
                <div id="submitDialog"></div>
                <form id="formId" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" style="text-align: left;font-size: 14px;">
                            Title
                        </label>
                        <ejs-inplaceeditor id="inplace_title_editor" data-underline='false' mode="Inline" emptyText="Enter your question title" name="Title" validationRules="titleValidation" value="titleValue" model="titleData" created="titleCreated">
                        </ejs-inplaceeditor>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" style="text-align: left;font-size: 14px;">
                            Comments
                        </label>
                        <ejs-inplaceeditor id="inplace_comment_editor" data-underline='false' mode="Inline" type="RTE" editableOn="EditIconClick" submitOnEnter="false" emptyText="Enter your comment" name="rte" validationRules="commentValidation" value="commentValue" model="commentData" created="commentCreated">
                        </ejs-inplaceeditor>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" style="text-align: left;font-size: 14px;">
                            Tags
                        </label>
                        <ejs-inplaceeditor id="inplace_tag_editor" data-underline='false' mode="Inline" type="MultiSelect" emptyText="Enter your tags" name="Tag" validationRules="tagValidation" value="tagValue" model="tagData" popupSettings="tagPopup" created="tagCreated" actionSuccess="actionSuccess">
                        </ejs-inplaceeditor>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <table id="property" title="Properties">
            <tr>
                <td style="width: 50%;">
                    <div>Mode</div>
                </td>
                <td style="width: 50%;">
                    <ejs-dropdownlist id="editorMode" class="form-control" width="90%" dataSource="modeData" change="changeEditorMode" index="0"></ejs-dropdownlist>
                </td>
            </tr>
        </table>
    </div>
}

<style>
    .inplace-editor-control-section.form-layout .e-inplaceeditor .e-editable-component .e-clear-icon-hide,
    .e-inplaceeditor-tip .e-editable-component .e-input-group .e-clear-icon.e-clear-icon-hide {
        display: block;
        visibility: hidden;
    }

    /* custom code start */
    .inplace-editor-control-section.form-layout #confirmation {
        max-width: 500px;
        margin: auto;
    }
    /* custom code end */

    .inplace-editor-control-section.form-layout #formId {
        padding-top: 20px;
        margin-bottom: 45px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
        border-radius: 5px;
    }

    .inplace-editor-control-section.form-layout .form-horizontal .form-group {
        margin: 0 20px;
    }

        .inplace-editor-control-section.form-layout .form-horizontal .form-group > * {
            width: 100%;
        }

        .inplace-editor-control-section.form-layout .form-horizontal .form-group:last-child {
            padding-bottom: 40px;
        }

    .inplace-editor-control-section.form-layout .form-title {
        width: 100%;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.70);
    }

    .inplace-editor-control-section.form-layout .submit {
        margin: auto;
        width: 50%;
        text-align: center;
    }

    .inplace-editor-control-section.form-layout .form-horizontal .control-label {
        padding: 15px 15px 15px 0;
        font-weight: 600;
        font-size: 14px;
    }

    @@media (max-width: 768px) {
        .inplace-editor-control-section.form-layout .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
        }
    }

    #editorProperty table td {
        width: 50%;
    }

    #editorProperty .property-panel-table div {
        padding-left: 10px;
        padding-top: 10px;
    }
</style>

@section PreScripts {
    <script>
        var titleObj, tagObj, commentObj;
        function titleCreated() {
            titleObj = this;
        }
        function commentCreated() {
            commentObj = this;
        }
        function tagCreated() {
            tagObj = this;
            chipOnCreate();
        }

        function changeEditorMode(e) {
            titleObj.mode = tagObj.mode = commentObj.mode = e.itemData.value;
        }
        function actionSuccess(e) {
            e.value = chipCreation(e.value.split(','));
        }

        function chipOnCreate() {
            commentObj.popupSettings.model = { width: document.querySelector('#inplace-editor-control.form-layout').offsetWidth }
            tagObj.element.querySelector('.e-editable-value').innerHTML = chipCreation(tagObj.value);
        }
        function chipCreation(data) {
            var value = '<div class="e-chip-list">';
            [].slice.call(data).forEach((val) => {
                value += '<div class="e-chip"> <span class="e-chip-text"> ' + val + '</span></div>';
            });
            value += '</div>';
            return value;
        }
        document.getElementById('right-pane').onscroll = function () {
            var mode = document.getElementById("editorMode");
            if (mode.ej2_instances[0].value === 'Inline') { return; }
            if (titleObj.element.querySelectorAll('.e-editable-open').length > 0)
                titleObj.enableEditMode = false;
            if (commentObj.element.querySelectorAll('.e-editable-open').length > 0)
                commentObj.enableEditMode = false;
            if (tagObj.element.querySelectorAll('.e-editable-open').length > 0)
                tagObj.enableEditMode = false;
        }
    </script>
}
@section ActionDescription{
    <p>
        The sample demonstrates In-place Editor component usage with a form element. Edit the values in place to update to the post.
    </p>
}
@section Description{
    <p>
        This sample demonstrates the placing of following <code>In-place Editor</code> components with the default form
    </p>
    <p>
        <ul>
            <li>
                TextBox
            </li>
            <li>
                RichTextEditor
            </li>
            <li>
                MultiSelect
            </li>
        </ul>
    </p>
    <p>
        More information on the <code>In-place Editor</code> instantiation can be found in the <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/in-place-editor/getting-started/">
            documentation section
        </a>.
    </p>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Edit Post in ASP.NET Core In-place Editor control. Explore here for more details."/>
                }

@*custom code end*@
@section Title{
                    <title>ASP.NET Core In-place Editor Edit Post Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Edit Post in ASP.NET Core In-place Editor Control</h1>
                }