@page
@model EJ2CoreSampleBrowser_NET8.Pages.Pdf.ExtractText

@section ControlsSection{
    <div class="control-section">
        @{
            Html.BeginForm("extracttext", "pdf", FormMethod.Post, new { enctype = "multipart/form-data" } );
            {
            <div style="border: solid 1px #788DB3; line-height: 23px; padding: 10px; ">
                <div class="tablediv" style="font-size:14px">
                    <text class="rowdiv">
                        Click the button to extract the text from the PDF document using Essential PDF. Please note
                        that Microsoft Word or its equivalent is required to view the resultant document.
                    </text>
                </div>
                <br />
                <div class="tablediv" style="font-size:14px">
                    <div class="rowdiv">
                        <div class="celldiv">
                            <table style="width:100%">
                                <tr>
                                    <td align="left">                                       
                                        <input type="submit" class="e-btn" value="View Template" name="ViewTemplate" style="width: 150px; text-transform:capitalize" />
                                        <input type="submit" class="e-btn" value="Extract Text" name="extractText" style="width: 150px; text-transform:capitalize" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
                <br/>
                <div class="tablediv" style="font-size:14px">
                    <div class="rowdiv">
                        <div class="celldiv" style="border: solid 1px #788DB3; line-height: 23px; padding: 10px; ">
                            <table style="width:100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                            <td style="padding: 0px 0px 10px 0px">
                                        <text>Select a PDF file to extract text from specified page.</text>
                                    </td></tr>
                                <tr>
                                    <td align="left">                                                                             
                                        <input type="file" id="inputPdfFile" name="inputPdfFile" accept="application/pdf" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                      <br/>
                                        <text>Page number to extract text &nbsp;&nbsp;&nbsp;:</text>
                                        <input type="text" id="pageNo" name="pageNumber" value="1" style="width: 60px; height: 27px" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                                    </td>
                                </tr>                                
                                <tr>
                                    <td align="left">
                                        <br />
                                        <input type="submit" class="e-btn" value="Extract Text" name="extractTextFromFile" style="width: 150px; text-transform:capitalize" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="errorlabel" value="error">
                            <p style="color: #FF0000;">
                                @Html.Label("", (string)Model.Message)
                        </div>
                    </div>
                   
                </div>

                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div id="action-description" style="margin-top: 10px">
        This sample demonstrates how to extract the text from the PDF document.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Text Extraction in ASP.NET Core PDF library. Explore here for more details."/>
                }
@section Description{
    <div id="description" style="margin-top: 10px">
        This feature can be used to extract information such as user data, billing information from invoice, address, and so on from the PDF document for indexing and archiving.
        More information about the text extraction can be found in this documentation <a href="https://help.syncfusion.com/file-formats/pdf/working-with-text-extraction">section.</a>
    </div>
}
@section Title{
                    <title>ASP.NET Core PDF library - Text Extraction Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Text Extraction in ASP.NET Core PDF Library</h1>
                }