

@{
    ViewData["Title"] = "Tooltip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div class="col-lg-8 control-section">
            <div class="content-wrapper">
                <div class="sliderwrap">
                    <label class="userselect">Default Slider</label>
                    <ejs-slider id="default" value="30" showButtons="true" created="onCreated">
                        <e-slider-tooltipdata isVisible="true" showOn="Focus"  placement="Before"></e-slider-tooltipdata>
                    </ejs-slider>
                </div>
                <div class="sliderwrap">
                    <label class="userselect">Range Slider</label>
                    <ejs-slider id="range" type="Range" value=ViewBag.sliderValue showButtons="true">
                        <e-slider-tooltipdata isVisible="true" showOn="Focus"  placement="Before"></e-slider-tooltipdata>
                    </ejs-slider>
                </div>
            </div>
        </div>

        <div class="col-lg-4 property-section">
            <table id="property" title="Properties">
                <tbody>
                    <tr>
                        <td style="width: 50%">
                            <div class="userselect">Placement</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px">
                            <div>
                                <ejs-dropdownlist id="placement" placeholder="Tooltip position" change="onPlacementChange" dataSource=ViewBag.placement index="0" popupHeight="200">
                                </ejs-dropdownlist>
                            </div>
                        </td>
                    </tr>

                    <tr id="slider-showon">
                        <td style="width: 50%">
                            <div class="userselect">ShowOn</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px">
                            <div>
                                <ejs-dropdownlist id="showOn" dataSource=ViewBag.showON change="onShowOnChange" index="1" popupHeight="200">
                                </ejs-dropdownlist>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

@section Meta{
    <meta name="description" content="This example demonstrates how to visually represents Syncfusion ASP.NET Core slider values using tooltips, which can be displayed before/after of slider thumb." />
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the rendering of Slider component with tooltip. Drag the thumb over the bar for selecting the
            values between min and max to enable the tooltip.
        </p>

    </div>
}

@section Description{
    <div id="description">
        <p>Slider component displays the tooltip to indicate the current value to the user.</p>
        <p>In this demo, we have demonstrated Tooltip with Default and Range Slider.</p>
        <p>
            Buttons can be used to increment or decrement the slider value. Buttons can be enabled in Slider using showButtons property
        </p>
        <p>
            Tooltip position and opening behavior can be customized through the placement and showOn properties from property pane.
        </p>
        <p>The dragInterval is used to drag both handles using the range bar which is also applicable only to the range slider.</p>

    </div>
}
<style>

    .material #property tr#slider-showon {
        display: none;
    }

    .content-wrapper {
        width: 52%;
        margin: 0 auto;
        min-width: 185px;
    }

    .sliderwrap {
        margin-top: 45px;
        margin-left: -20%;
    }

        .sliderwrap label {
            padding-bottom: 26px;
            font-size: 13px;
            font-weight: 500;
            margin-top: 15px;
        }

    .userselect {
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
    }
</style>
<script type="text/javascript">
    function onCreated() {
        if(document.getElementById('right-pane')) {
        document.getElementById('right-pane').addEventListener('scroll', onScroll);
        }
    }
    function onPlacementChange(args) {
        defaultSlider = document.getElementById("default");
        defaultSlider.ej2_instances[0].tooltip.placement = args.value;
        rangeSlider = document.getElementById("range");
        rangeSlider.ej2_instances[0].tooltip.placement = args.value;
    }

    function onShowOnChange(args) {
        defaultSlider = document.getElementById("default");
        defaultSlider.ej2_instances[0].tooltip.showOn = args.value;
        rangeSlider = document.getElementById("range");
        rangeSlider.ej2_instances[0].tooltip.showOn = args.value;
    }
    function onScroll() {
        var slider = [document.getElementById("default").ej2_instances[0], document.getElementById("range").ej2_instances[0]];
        slider.forEach(function (slider) {
            // Refreshing each slider tooltip object position
            slider.refreshTooltip(slider.tooltipTarget);
        });
    }

</script>
