@page

@using Syncfusion.EJ2
@section ControlsSection{
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="control-label">
            Numeric TextBox
        </div>
        <ejs-numerictextbox id="numeric" format="n2" value="10" Type="text"></ejs-numerictextbox>
        <div class="control-label">
            Percentage TextBox
        </div>
        <ejs-numerictextbox id="percent" format="p2" value="0.5" min="0" max="1" step="0.01" Type="text"></ejs-numerictextbox>
        <div class="control-label">
            Currency TextBox
        </div>
        <ejs-numerictextbox id="currency" format="c2" value="100" Type="text"></ejs-numerictextbox>
    </div>
</div>

}

@section Meta{
                    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Numeric Textbox control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the default functionalities of the Numeric TextBox. Type a value in the input element to change the value dynamically, or press up/down arrow button to increase/decrease the value with a predefined step value.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The NumericTextBox provides an option to customize the display format of the numeric value using the format property. It accepts the standard numeric format string and custom numeric format string as specified in MSDN. The formatted value displays when the component is not focused.
        </p>
        <p>
            The NumericTextBox component is used to get the number inputs from the user. The input values can be increased or decreased with a predefined step value.
        </p>
        <p>
            In this demo, the default NumericTextBox is rendered with the percent and currency formats as specified in MSDN.
        </p>
        <p>
            More information about NumericTextBox can be found in this
            <a target="_blank"
               href="https://ej2.syncfusion.com/aspnetcore/documentation/numerictextbox/getting-started" aria-label="Navigate to the documentation for getting started with ASP.NET Core NumericTextBox control">
        documentation section</a>.
        </p>
    </div>
}



@*custom code start*@

<style>
    .content-wrapper {
        width: 35%;
        margin: 0 auto;
        min-width: 185px;
    }

    .e-float-input.e-numeric.e-input-group {
        margin-top: 40px;
    }

    .control-label {
        padding: 24px 0px 10px 0px;
        font-size: 12px;
    }
</style>
@*custom code end*@
@section Title{
                    <title>ASP.NET Core Numeric Textbox Default Functionalities Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Numeric Textbox Control</h1>
                }