@model string
<div style="display: flex;">
    @if (ViewBag.subMenuItems[0].Items.Count > 0)
    {
    <ejs-menu id=@(Model + "_menu2") items="ViewBag.subMenuItems" showItemOnClick="true" select="subMenuSelectHandler" beforeOpen="beforeOpen" onClose="onClose"></ejs-menu>
    }
</div>
<ejs-scripts></ejs-scripts>

