<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <config>
    <add key="dependencyVersion" value="Highest" />
  </config>
  <packageRestore>
      <add key="enabled" value="True" />
      <add key="automatic" value="True" />
    </packageRestore>
    <disabledPackageSources>
        <add key="latestnuget" value="true" />
        <add key="Package source" value="true" />
        <add key="mynuget" value="true" />
        <add key="angular" value="true" />
        <add key="javascript" value="true" />
        <add key="nugetcheck" value="true" />
        <add key="syncfusionej2" value="true" />
        <add key="16.4.0.46" value="true" />
    </disabledPackageSources>
    <activePackageSource>
      <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>