<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"></requestLimits>
        <fileExtensions allowUnlisted="true">
          <remove fileExtension="." />
          <remove fileExtension=".cs" />
          <add fileExtension="." allowed="true" />
          <add fileExtension=".cs" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <!--<handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>-->
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="inprocess" />
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <rewrite>
        <rules>
            <!-- DocIO Redirection -->
            <rule name="DocIO to Word" stopProcessing="true">
                <match url=".*" />
                <conditions>
                    <add input="{URL}" pattern="/aspnetcore/DocIO/(.*)" />
                </conditions>
                <action type="Redirect" url="https://ej2.syncfusion.com/aspnetcore/Word/{C:1}" />
            </rule>
        <!-- XlsIO Redirection -->
            <rule name="XlsIO to Excel" stopProcessing="true">
                <match url=".*" />
                <conditions>
                    <add input="{URL}" pattern="/aspnetcore/XlsIO/(.*)" />
                </conditions>
                <action type="Redirect" url="https://ej2.syncfusion.com/aspnetcore/Excel/{C:1}" />
            </rule>
            <!-- Presentation Redirection -->
            <rule name="Presentation to PowerPoint" stopProcessing="true">
                <match url=".*" />
                <conditions>
                    <add input="{URL}" pattern="/aspnetcore/Presentation/(.*)" />
                </conditions>
                <action type="Redirect" url="https://ej2.syncfusion.com/aspnetcore/PowerPoint/{C:1}" />
            </rule>
        </rules>
    </rewrite>
    <!-- Configure the "Access-Control-Allow-Origin" HTTP header to a more restrictive set of domains -->
    <!-- Configure the "X-Frame-Options" HTTP header response to protect against 'ClickJacking' attacks -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
    		<add name="Content-Security-Policy" value="default-src 'self';
            script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.syncfusion.com https://www.googletagmanager.com https://www.google-analytics.com https://cdnjs.cloudflare.com blob:;
            style-src 'self' 'unsafe-inline' data: https://*.googleapis.com https://*.syncfusion.com;
            img-src 'self' 'unsafe-inline' blob: data: https://*.syncfusion.com https://*.google-analytics.com https://*.analytics.google.com https://*.googletagmanager.com https://*.g.doubleclick.net https://*.google.com https://*.google.co.in https://*.openstreetmap.org https://*.tiles.virtualearth.net;
            media-src 'self' 'unsafe-inline' blob: data:;
            connect-src 'self' ws: https://*.syncfusion.com https://www.google-analytics.com/ http://localhost:*;
            font-src 'self' data: https://fonts.gstatic.com;
            form-action 'self';" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!-- Implemented custom error pages -->
  <system.web>
    <customErrors mode="On" />
  </system.web>
</configuration>
