@using Syncfusion.EJ2
@{ViewBag.Title = "   Essential DocIO (Word) : Clone, Merge : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("CloneandMerge", "Word", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 10px">
                        <div>
                            <input type="radio" id="Radio1" name="Group2" value="UseCloneAndMerge" checked="checked" onclick="Disable();" />
                            <label for="Radio1" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip">Use Clone And Merge</label>
                            <br />
                            <input type="radio" id="Radio2" name="Group2" value="UseImportcontents" onclick="Enable();" />
                            <label for="Radio2" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip">Use Import Contents</label>
                        </div>
                        <div style="margin-top: 10px">
                            Import Contents:
                            <select id="ImportOptions" name="ImportOptions" class="e-dropdown-btn">
                                <option value="0">KeepSourceFormatting</option>
                                <option value="1">MergeFormatting</option>
                                <option value="2" class="KeepTextOnly" hidden="true">KeepTextOnly</option>
                                <option value="3">UseDestinationStyles</option>
                                <option value="4">ListContinueNumbering</option>
                                <option value="5">ListRestartNumbering</option>
                            </select>
                        </div>
                        <div style="margin-top: 10px">
                            Save As :
                            <input type="radio" id="rdButtonDocx" name="Group1" value="WordDoc" style="margin-left: 7px" />
                            <label for="rdButtonDoc" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Doc format">DOC</label>
                            &nbsp;
                            <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px" checked="checked" />
                            <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                            &nbsp;
                            <input type="radio" id="rdButtonWordML" name="Group1" value="WordML" style="margin-left: 7px" />
                            <label for="rdButtonWordML" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as WordML format">WordML</label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        @Html.EJS().Button("createbtn").Content("Generate Document").Render()
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
    <script type="text/javascript">
        function Enable() {
            $('.KeepTextOnly').show();
        }
        function Disable() {
            $('.KeepTextOnly').hide();
        }
    </script>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to clone and merge Word documents using Essential DocIO.
    </div>
}
@section Description{
    <div>
        DocIO allows you to combine multiple documents into single document.
        <ul>
            <li>
                You can also clone the specific text, paragraph, tables, section etc. from one document to another document.
            </li>
            <li>
                Formatting options are also available for maintaining the formats between the documents.
            </li>
            <li>
                DocIO supports the import options like keep source formatting, merge formatting, text only, use destination styles, continue and restart list numbering.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about clone and merge functionality can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-word-document#cloning-a-word-document">documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This sample demonstrates how to clone and merge Word documents using Essential DocIO."/>
                }
@section Title{
                    <title>ASP.NET Core Word (DocIO) library - Clone and Merge Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Clone and Merge in ASP.NET Core Word (DocIO) Library</h1>
                }