@using Syncfusion.EJ2
@{ViewBag.Title = "   Essential DocIO (Word) : Footnotes, Endnotes : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("FootnotesandEndnotes", "Word", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 10px">
                        <div>
                            Save As :
                            <input type="radio" id="rdButtonDoc" name="Group1" value="WordDoc" style="margin-left: 7px" />
                            <label for="rdButtonDoc" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Doc format">DOC</label>
                            &nbsp;
                            <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px" checked="checked" />
                            <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                            &nbsp;
                            <input type="radio" id="rdButtonWordML" name="Group1" value="WordML" style="margin-left: 7px" />
                            <label for="rdButtonWordML" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as WordML format">WordML</label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                       @Html.EJS().Button("createbtn").Content("Generate Document").Render()
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates the insertion of footnotes and endnotes in a Word document using Essential DocIO.
    </div>
}
@section Description{
    <div>
        DocIO provides support to add the footnotes and endnotes to the Word document and customize them.
        <ul>
            <li>
                Using footnotes, you can provide additional information like detailed description, references, credits, etc., at the end of each page.
            </li>
            <li>
                Using endnotes, you can provide additional information like detailed description, references, credits, etc., at the end of the document.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about the footnotes and endnotes can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-footnotes-and-endnotes" aria-label="Documentation" >Documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Footnotes and Endnotes in ASP.NET Core Word (DocIO) library. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Word (DocIO) library - Footnotes and Endnotes Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Footnotes and Endnotes in ASP.NET Core Word (DocIO) Library</h1>
                }