@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential DocIO (Word) : Form Filling and Protection : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("formfillingandprotection", "word", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 8px">
                        <input id="viewtemplate" name="Button" class="e-btn" type="submit" value="View Template" style="width: 150px; text-transform:capitalize" />
                        &nbsp;
                        <input id="generate" name="Button" class="e-btn" type="submit" value="Generate Document" style="width:170px; text-transform:capitalize" />
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to fill a form and protect the content controls in an existing Word document using Essential DocIO.
    </div>
}
@section Description{
    <div>
        DocIO allows you to create and edit content controls in the Word Open XML Format document (DOCX, DOTX, DOCM, DOTM). With the content control support, you can create a more functional form which gives built-in form filling experience.
        <ul>
            <li>
                Content controls has several types plain text, rich text, picture, check box, combo box, drop down list, date picker, etc.
            </li>
            <li>
                You can lock/unlock the content controls from deleting or content editing by the users. It helps in creating fillable form without using document protection functionality.
            </li>
            <li>
                You can also set editing restriction that does not allow the users to edit the Word document, except filling the content controls and form fields in the Word document.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about the content controls can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-content-controls" aria-label="Documentation" >Documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Form filling and Protection in ASP.NET Core Word (DocIO) library. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Word (DocIO) library - Form filling and Protection Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Form filling and Protection in ASP.NET Core Word (DocIO) Library</h1>
                }