@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential DocIO (Word) : Form Filling : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("Forms", "Word", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 10px">
                        <div>
                            Save As :
                            <input type="radio" id="rdButtonDoc" name="Group1" value="WordDoc" style="margin-left: 7px" />
                            <label for="rdButtonDoc" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Doc format">DOC</label>
                            &nbsp;
                            <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px" checked="checked" />
                            <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                            &nbsp;
                            <input type="radio" id="rdButtonWordML" name="Group1" value="WordML" style="margin-left: 7px" />
                            <label for="rdButtonWordML" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as WordML format">WordML</label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        @Html.EJS().Button("createbtn").Content("Generate Document").Render()
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to create a simple job application form and fill the form using Essential DocIO.
    </div>
}
@section Description{
    <div>
        DocIO allows you to create a simple form using legacy form fields in the Word document, which gives built-in form filling experience.
        <ul>
            <li>
                You can create form using legacy form fields like text, check box, and drop down.
            </li>
            <li>
                You can open an existing Word document with form fields and fill them.
            </li>
            <li>
                You can also set editing restriction that does not allow the users to edit the Word document, except filling the form fields.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about the forms can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-form-fields">documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This sample demonstrates how to create a simple job application form and fill the form using Essential DocIO."/>
                }
@section Title{
                    <title>ASP.NET Core Word (DocIO) library - Forms Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Forms in ASP.NET Core Word (DocIO) Library</h1>
                }