@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential DocIO (Word) : Table Features, Format, Cell Merge, Images,        Databind : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("FormatTable", "Word", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 10px">
                        <div>
                            Save As :
                            <input type="radio" id="rdButtonDoc" name="Group1" value="WordDoc" style="margin-left: 7px" />
                            <label for="rdButtonDoc" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Doc format">DOC</label>
                            &nbsp;
                            <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px" checked="checked" />
                            <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                            &nbsp;
                            <input type="radio" id="rdButtonWordML" name="Group1" value="WordML" style="margin-left: 7px" />
                            <label for="rdButtonWordML" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as WordML format">WordML</label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        @Html.EJS().Button("createbtn").Content("Generate Document").Render()
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to format the tables in the Word document using Essential DocIO.
    </div>
}
@section Description{
    <div>
        DocIO allows to insert the tables in the Word document and apply various formatting like indent, alignment, cell margins, cell spacing, borders, shadings, etc. 
        <ul>
            <li>
                You can insert table as “in line with text” or “position relative to the page” in the Word document.
            </li>
            <li>
                You can customize the table by adding, deleting, merging and splitting the rows and cells.
            </li>
            <li>
                When the table spans across multiple pages, you can specify the header row to be repeated on each page.
            </li>
            <li>
                You can make tables in the Word document accessible by defining alternate text.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about the table formatting can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-tables#apply-formatting-to-table-row-and-cell" aria-label="Documentation" >Documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Format Table in ASP.NET Core Word (DocIO) library. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Word (DocIO) library - Format Table Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Format Table in ASP.NET Core Word (DocIO) Library</h1>
                }