@using Syncfusion.EJ2
@{ViewBag.Title = "ASP.NET Core Word (DocIO) library – Create Equation using LaTeX Example - Syncfusion Demos";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("LaTeX", "Word", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document or PDF. Please note that a Word-compatible viewer is required to open and view the Word document and a PDF viewer is required to view the resultant PDF.
                    <div style="margin-top: 10px; font-weight: bold;">
                        LaTeX to create equation :
                    </div>
                    <div style="margin-top: 10px">
                        <td><input type="text" class="buttonStyle" id="textBox1" name="LaTeX" value="f\left(x\right)={a}_{0}+\sum_{n=1}^{\infty}{\left({a}_{n}\cos{\frac{n\pi{x}}{L}}+{b}_{n}\sin{\frac{n\pi{x}}{L}}\right)}" style="width:82%;" /></td>
                    </div>
                    <div style="margin-top: 10px">
                        <div>
                            Save As :
                            <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px" checked="checked" />
                            <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                            &nbsp;
                            <input type="radio" id="rdButtonPdf" name="Group1" value="PDF" style="margin-left: 7px" />
                            <label for="rdButtonPdf" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as PDF format">PDF</label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        <input id="generate" name="Button" class="e-btn" type="submit" value="Generate Document" style="width:170px; text-transform:capitalize" />
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to create a Word document with mathematical equation using LaTeX using the .NET Word (DocIO) library.
    </div>
}
@section Description{
    <div>
        The .NET Word (DocIO) library provides support for creating mathematical equations from scratch using LaTeX and inserting them into Word documents (DOCX, DOTX, DOCM, DOTM, and XML).
        <ul>
            <li>
                You can insert an equation in line with the text or float it within a line.
            </li>
            <li>
                You can create various types of mathematical equations, including fractions, summations, integrals, matrices, and more.
            </li>
            <li>
                You can also create equations using LaTeX.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about mathematical equations can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-mathematical-equation">documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates how to create an equation using LaTeX in the ASP.NET Core Word (DocIO) library. For more details, please explore here."/>
                }
@section Title{
                    <title>ASP.NET Core Word (DocIO) library – Create Equation using LaTeX Example - Syncfusion Demos</title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of LaTeX in ASP.NET Core Word (DocIO) Library</h1>
                }