@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential DocIO (Word) : Watermark : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("Watermark", "Word", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 10px">
                        <div>
                            Watermark :
                            <input type="radio" id="Radio1" name="Group2" value="Picture" style="margin-left: 7px" checked="checked" />
                            <label for="Radio1" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip">Picture</label>
                            &nbsp;
                            <input type="radio" id="Radio2" name="Group2" value="text" style="margin-left: 7px" />
                            <label for="Radio2" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip">Text</label>
                        </div>
                        <div style="margin-top: 10px">
                            Save As :
                            <input type="radio" id="rdButtonDoc" name="Group1" value="WordDoc" style="margin-left: 7px" />
                            <label for="rdButtonDoc" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Doc format">DOC</label>
                            &nbsp;
                            <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px" checked="checked" />
                            <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                            &nbsp;
                            <input type="radio" id="rdButtonWordML" name="Group1" value="WordML" style="margin-left: 7px" />
                            <label for="rdButtonWordML" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as WordML format">WordML</label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        @Html.EJS().Button("createbtn").Content("Generate Document").Render()
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to insert text and picture watermark into the Word document using Essential DocIO.
    </div>
}
@section Description{
    <div>
        Watermark will be displayed behind the document content and usually it shows the trademark, copyright or ownership details of the document. With the help of DocIO, you can add and modify the text and image watermarks in the Word document.
    </div>
    <div style="margin-top: 15px">
        More information about the watermarks can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/applying-watermark">documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Watermark in ASP.NET Core Word (DocIO) library. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Word (DocIO) library - Watermark Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Watermark in ASP.NET Core Word (DocIO) Library</h1>
                }