@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential DocIO (Word) : XML Mapping : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("XMLMapping", "Word", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div class="rowdiv" style="margin-top: 8px">
                        <input id="generate" name="Group" class="e-btn" type="submit" value="Generate Document" style="width:170px; text-transform:capitalize" />
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to map custom XML parts to content controls in the Word document using Essential DocIO.
    </div>
}
@section Description{
    <div>
        DocIO allows you to bind content controls to XML elements that are embedded in the document. When you bind a content control to a custom XML part, two-way data binding is automatically enabled.
    </div>
    <div style="margin-top: 15px">
        More information about the content controls can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-content-controls">documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This sample demonstrates how to map custom XML parts to content controls in the Word document using Essential DocIO."/>
                }
@section Title{
                    <title>ASP.NET Core Word (DocIO) library - XML Mapping Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of XML Mapping in ASP.NET Core Word (DocIO) Library</h1>
                }