@page
@using Syncfusion.EJ2
@section ControlsSection{
@{ 
    string valueX = "85%";
}
<div class="control-section" align="center">
    <h4 id="days" style="font-family: Segoe UI;font-weight: 500; font-style:normal; font-size:15px;">Score Comparision AUS vs SL</h4>
    <ejs-rangenavigator id="container" height="120" labelPosition="Outside" tooltipRender="tooltipRender"
                        load="rangeLoad" changed="changed" align="center">
        <e-rangenavigator-tooltip enable="true"></e-rangenavigator-tooltip>
        <e-rangenavigator-rangenavigatorseriescollection>
            <e-rangenavigator-rangenavigatorseries xName="x" yName="y" type="Line" width="2">
            </e-rangenavigator-rangenavigatorseries>
            <e-rangenavigator-rangenavigatorseries xName="x" yName="y" type="Line" width="2">
            </e-rangenavigator-rangenavigatorseries>
        </e-rangenavigator-rangenavigatorseriescollection>
    </ejs-rangenavigator>


    <ejs-chart id="chart" load="chartLoad" height="350" align="center" loaded="chartLoaded">
        <e-chart-primaryxaxis edgeLabelPlacement="Shift" title="Overs">
            <e-majorgridlines width="0"></e-majorgridlines>
        </e-chart-primaryxaxis>
        <e-chart-primaryyaxis minimum="0" title="Runs">
            <e-linestyle width="0"></e-linestyle>
            <e-majorticklines width="0"></e-majorticklines>
        </e-chart-primaryyaxis>
        <e-chart-annotations>
            <e-chart-annotation content="<div id='exchangeRate'></div>" coordinateUnits="Pixel" region="Chart" x=valueX y="15%"></e-chart-annotation>
        </e-chart-annotations>
        <e-chart-tooltipsettings enable="false" shared="false"></e-chart-tooltipsettings>
        <e-chart-chartarea>
            <e-chartarea-border color="transparent" width="0"></e-chartarea-border>
        </e-chart-chartarea>
        <e-series-collection>
            <e-series xName="x" name="AUS" width="2" yName="y" type="Spline">
                <e-series-animation enable="false"></e-series-animation>
            </e-series>
            <e-series xName="x" name="SL" width="2" yName="y" type="Spline">
                <e-series-animation enable="false"></e-series-animation>
            </e-series>
        </e-series-collection>
        <e-chart-legendsettings visible="false"></e-chart-legendsettings>
    </ejs-chart>
</div>    
    <script src="~/scripts/range-navigator/double_data.js"></script>
    <script src="~/scripts/range-navigator/theme-color.js"></script>
    <script>          
        rangeLoad = function (args) {
            args.rangeNavigator.series[0].dataSource = aus;
            args.rangeNavigator.series[1].dataSource = sl;
            args.rangeNavigator.value = [31, 50];
            loadRangeNavigatorTheme(args);
            args.rangeNavigator.width = ej.base.Browser.isDevice ? "100%" : "80%";
        }

        chartLoad = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "80%";
            args.chart.series[0].dataSource = aus;
            args.chart.series[1].dataSource = sl;
            var backgroundColor = args.chart.theme === 'Highcontrast' ? 'black' : 'white';
            getAnnotaiton(aus, ej.charts.getSeriesColor(args.chart.theme)[0], args.chart, backgroundColor);
            getAnnotaiton(sl, ej.charts.getSeriesColor(args.chart.theme)[1], args.chart, backgroundColor);
        }

        chartLoaded = function (args) {            
            var series1 = args.chart.visibleSeries[0].interior;
            var series2 = args.chart.visibleSeries[1].interior;
            var html = '<table>';
            html += '<tr><td><div style="width:10px; height: 10px; border: 2px solid '
                + series1 + '; background: ' + series1 + ';"></div></td><td style="padding-left:10px;">' + ' Australia' + '</td>';
            html += '<tr><td><div style="width:10px; height: 10px; border: 2px solid '
                + series2 + '; background: ' + series2 + ';"></div></td><td style="padding-left:10px;">' + ' Sri Lanka' + '</td>';
            html += '</table>';
            args.chart.setAnnotationValue(0, '<div id="exchangeRate" style="line-height: 18px;' +
                'font-size: 13px;background: #fff; opacity:0.9; color: #464e56; ' +
                ' box-shadow:0 0 8px 0 rgba(70,78,86,.25); padding: 7px 10px;' +
                'border-radius: 3px">' +
                html +
                '</div>');
            
        }
        tooltipRender = function (args) {
            args.text[0] = Math.round(parseInt(args.text[0], 10)).toString();
        }
        changed = function (args) {
            if (document.getElementById('chart').childNodes.length > 1) {
                var chart = document.getElementById('chart').ej2_instances[0];
                chart.primaryXAxis.zoomPosition = args.zoomPosition;
                chart.primaryXAxis.zoomFactor = args.zoomFactor;
                chart.dataBind();
            }
        }
        function getAnnotaiton(args, color, chart, backgroundColor) {
            for (var i = 0; i < args.length; i++) {
                if (args[i]['isWicket']) {
                    chart.annotations.push({
                        content: '<div id= "wicket" style="width: 20px; height:20px; border-radius: 5px;' +
                            'background: ' + backgroundColor + '; border: 2px solid ' + color + '; color:' + color + '">W</div>',
                        x: args[i]['x'],
                        y: args[i]['y'],
                        coordinateUnits: 'Point'
                    });
                }
            }
        }
    </script>
}
@*custom code start*@
@section Scripts {

}

<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
                    <meta name="description" content="This example demonstrates the Numeric Axis in ASP.NET Core Range Selector control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
<p>
    This sample depicts the cricket match data between two countries with the help of numeric axis in range navigator.
</p>
}
@section Description{
<p>
    Numeric axis is used to plot numeric data in range navigator. To render numeric axis, set <code>valueType</code> to Double. Tooltip is enabled in this example, to see the tooltip in action, while the selected range is changed.
</p>
}
@section Title{
                    <title>ASP.NET Core Range Selector Numeric Axis Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Numeric Axis in ASP.NET Core Range Selector Control</h1>
                }