@using Syncfusion.EJ2
@model EJ2CoreSampleBrowser.Models.QueryTemplateModel.ActionModel

<div class="e-rule e-rule-template">
    <div class="e-rule-filter">
        <ejs-dropdownlist id=@(Model.RuleID + "_fieldddl") fields=@Model.Fields value=@Model.Rule.Field dataSource=@Model.Columns change="fieldChange">
        </ejs-dropdownlist>         
    </div>
    <div class="e-rule-operator e-operator">
        <ejs-radiobutton id=@(Model.RuleID + "_operator1") label="Is Equal" value="equal" name="{@Model.RuleID} + _operator" change ="operatorChange" checked=@(Model.Rule.Operator == "equal") ></ejs-radiobutton>
        <ejs-radiobutton id=@(Model.RuleID + "_operator2") label="Is Not Equal" value="notequal" name="{@Model.RuleID} + _operator" change ="operatorChange" checked=@(Model.Rule.Operator == "notequal") ></ejs-radiobutton>
    </div>
    <div class="e-rule-value e-value e-custom-value">
        <ejs-dropdownlist id=@(Model.RuleID + "_valueddl") fields=@Model.Fields dataSource="ViewBag.Items" value=@Model.Rule.Value change="valueChange">
        </ejs-dropdownlist>
    </div>
    <div class="e-rule-value-delete">
        <button class="e-removerule e-custom-delete e-rule-delete e-css e-btn e-small e-round">
            <span class="e-btn-icon e-icons e-delete-icon"/>
        </button>
    </div>
</div>

<ejs-scripts></ejs-scripts>