@page
@model EJ2CoreSampleBrowser_NET8.Pages.QueryBuilder.HeaderTemplateModel
@using EJ2CoreSampleBrowser.Models
@using Syncfusion.EJ2

@section ControlsSection{
    <div class="col-lg-12 control-section">
        <ejs-querybuilder id="querybuilder" rule="@Model.rule" headerTemplate="#headerTemplate" actionBegin="actionBegin">
            <e-querybuilder-columns>
                <e-querybuilder-column field="EmployeeID" label="Employee ID" type="number"></e-querybuilder-column>
                <e-querybuilder-column field="FirstName" label="First Name" type="string"></e-querybuilder-column>
                <e-querybuilder-column field="LastName" label="Last Name" type="string"></e-querybuilder-column>
                <e-querybuilder-column field="HireDate" label="Hire Date" type="date" format="dd/MM/yyyy"></e-querybuilder-column>
                <e-querybuilder-column field="Country" label="Country" type="string"></e-querybuilder-column>
            </e-querybuilder-columns>
        </ejs-querybuilder>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Header Template in ASP.NET Core Query Builder control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the Header Template functionality in QueryBuilder component using DropDownList and Button components. In this sample, user can change the Condition using DropDownList component and adding rules, groups and deleting groups by using Button component.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            This sample illustrates how to integrate HeaderTemplate in the QueryBuilder. This
            is used for creating custom user interface for the header with custom components and update the rule collection by using the component events.
        </p>
        <p>
            More information about Query Builder can be found in this
            <a target="_blank" href="http://ej2.syncfusion.com/aspnetcore/documentation/query-builder/getting-started" aria-label="Navigate to the documentation for getting started with ASP.NET Core Query Builder control">
        documentation section</a>.
            
        </p>
    </div>
}
@*custom code start*@
<style>
    .e-query-builder {
        margin: 0 auto;
    }
    .e-query-builder .cndtnbtn.e-control.e-dropdownlist.e-lib.e-input {
        padding-left: 10px;
    }
    .e-query-builder span.e-custom-group-btn {
        max-width: 100px;
        border-radius: 5px !important;
        border-width: 1px !important;
    }
    .e-query-builder .e-custom-group-btn.e-input-focus::before, .e-custom-group-btn.e-input-focus::after {
        background: transparent !important;
    }
    .e-query-builder .e-custom-group-btn {
        padding-left: 10px;
        height: 32px;
    }
    .e-query-builder .e-header {
        display: inline-block;
        float: right;
    }
    .e-query-builder .e-qb-hdr-content {
        display: inline-block;
        padding: 5px;
    }
    .e-query-builder .e-grp-btn {
        background-color: #6c757d !important;
    }
    .e-query-builder .e-cond-btn {
        background-color: #6c757d !important;
    }
    .e-query-builder .e-grp-btn:hover {
        background-color: #545c63 !important;
    }
    .e-query-builder .e-cond-btn:hover {
        background-color: #545c63 !important;
    }
    @@media only screen and (max-width: 700px) {
        .e-query-builder .e-header {
            float: none;
        }
        .e-query-builder .e-qb-hdr-content {
            padding-left: 0px !important;
            padding-right: 10px !important;
            padding-top: 10px !important;
        }
    }
</style>
@*custom code end*@

<script id="headerTemplate" type="text/x-template">
    <div class = 'e-groupheader'>
        <input type="text" class= "e-custom-group-btn"  id='${ruleID}_cndtnbtn'>
        <div class = "e-header">
            <div class = "e-qb-hdr-content">
                <button id = '${ruleID}_addGroupBtn' class = "e-control e-btn e-primary e-grp-btn">Add Group</button>
            </div>
            <div class = "e-qb-hdr-content">
                <button id = '${ruleID}_addConditionBtn' class = "e-control e-btn e-primary e-cond-btn">Add Condition</button>
            </div>
            ${if(ruleID !== 'querybuilder_group0')}
            <div class = "e-qb-hdr-content">
                <button  id= 'dltbtn' class = "e-control e-btn e-danger e-del-btn">Remove</button>
            </div>
            ${/if}
        </div>
    </div>
</script>

<script type="text/javascript">
    var querybuilder;
    function actionBegin(args) {
        if (args.requestType === 'header-template-create') {
            qryBldrObj = ej.base.getComponent(document.getElementById("querybuilder"), "query-builder");
            var ds = [{ 'key': 'AND', 'value': 'and' }, { 'key': 'OR', 'value': 'or' }];
            var btnObj = new ej.dropdowns.DropDownList({
                dataSource: ds,
                fields: { text: 'key', value: 'value' },
                value: args.condition,
                cssClass: 'e-custom-group-btn e-active-toggle',
                change: function (e) {
                    qryBldrObj.notifyChange(e.value, e.element, 'condition');
                }
            });
            btnObj.appendTo('#' + args.ruleID + '_cndtnbtn');
            var addGroup = document.getElementById(args.ruleID).querySelector('.e-grp-btn');
            if (addGroup) {
                addGroup.onclick = function (e) {
                    var addbtn = ej.base.closest(e.target, '.e-grp-btn');
                    var ddb = addbtn.id.split('_');
                    qryBldrObj.addGroups([{ condition: 'and', 'rules': [{}] }], ddb[1]);
                };
            }
            var addCond = document.getElementById(args.ruleID).querySelector('.e-cond-btn');
            if (addCond) {
                addCond.onclick = function (e) {
                    var addbtn = ej.base.closest(e.target, '.e-cond-btn');
                    var ddb = addbtn.id.split('_');
                    qryBldrObj.addRules([{}], ddb[1]);
                };
            }
            var deleteGroup = document.getElementById(args.ruleID).querySelector('.e-del-btn');
            if (deleteGroup) {
                deleteGroup.onclick = function (e) {
                    qryBldrObj.deleteGroup(ej.base.closest(e.target.offsetParent, '.e-group-container'));
                };
            }
        }
    }
</script>

@section Title{
                    <title>ASP.NET Core Query Builder Header Template Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Header Template in ASP.NET Core Query Builder Control</h1>
                }