@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <ejs-schedule id="schedule" cssClass="schedule-cell-dimension" height="650px" selectedDate="new DateTime(2018, 2, 15)" showTimeIndicator="false" eventRendered="onEventRendered">
            <e-schedule-views>
                <e-schedule-view option="Day"></e-schedule-view>
                <e-schedule-view option="Week"></e-schedule-view>
                <e-schedule-view option="WorkWeek"></e-schedule-view>
                <e-schedule-view option="Month"></e-schedule-view>
            </e-schedule-views>
            <e-schedule-eventsettings dataSource="@ViewBag.appointments"></e-schedule-eventsettings>
        </ejs-schedule>
    </div>

    <style>
        .schedule-cell-dimension.e-schedule .e-vertical-view .e-date-header-wrap table col,
        .schedule-cell-dimension.e-schedule .e-vertical-view .e-content-wrap table col {
            width: 200px;
        }

        .schedule-cell-dimension.e-schedule .e-vertical-view .e-time-cells-wrap table td,
        .schedule-cell-dimension.e-schedule .e-vertical-view .e-work-cells {
            height: 100px;
        }

        .schedule-cell-dimension.e-schedule .e-month-view .e-work-cells,
        .schedule-cell-dimension.e-schedule .e-month-view .e-date-header-wrap table col {
            width: 200px;
        }

        .schedule-cell-dimension.e-schedule .e-month-view .e-work-cells {
            height: 200px;
        }
    </style>
    <script src="~/scripts/schedule/applyCategoryColor.js"></script>
    <script type="text/javascript">
        function onEventRendered(args) {
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            applyCategoryColor(args, scheduleObj.currentView);
        }
    </script>
}

@section Meta{
    <meta name="description" content="This demo for Essential JS2 Scheduler control shows how to set the width and height of the cells by overriding the default CSS classes." />
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This demo shows how to set the width and height of the cells by overriding the default CSS classes, so that the Schedule
            events are viewable in a zoomed in style.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In this demo, the height and width of the Scheduler cells are set by overriding the default CSS class.
        </p>
    </div>
}
