@using Syncfusion.EJ2
@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div class="schedule-wrapper">
            <ejs-schedule id="schedule" height="650px">
                <e-schedule-views>
                    <e-schedule-view option="Month" displayDate="new DateTime(2022, 1, 16)" numberOfWeeks="4" maxEventsPerRow="3"></e-schedule-view>
                </e-schedule-views>
                <e-schedule-eventsettings dataSource="@ViewBag.appointments"></e-schedule-eventsettings>
            </ejs-schedule>
        </div>
    </div>
}

@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Custom Month View in ASP.NET Core Scheduler control. Explore here for more details."/>
                }
@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            This demo showcases how to customize the starting week of the month, the number of weeks rendered, and 
            the maximum number of events rendered in month view.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In this demo, the starting week of the month view is customized by using the <code>displayDate</code>
            property. The number of weeks rendered in a month is customized by using the <code>numberOfWeeks</code>
            property and the maximum number of events displayed in a single row is customized by using the
            <code>maxEventsPerRow</code> property. These properties have been configured under the <code>views</code>
            property view options. <code>displayDate</code> and <code>numberOfWeeks</code> properties can be applicable only
            for month view. The <code>maxEventsPerRow</code> property is only applicable for month, timeline, and timeline
            year views.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Scheduler Custom Month View Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Custom Month View in ASP.NET Core Scheduler Control</h1>
                }