@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            <ejs-schedule id="schedule" width="100%" height="650px" selectedDate="new DateTime(2018, 6, 20)" eventRendered="onEventRendered">
                <e-schedule-views>
                    <e-schedule-view option="Day" displayName="3 Days" interval="3"></e-schedule-view>
                    <e-schedule-view option="Week" displayName="2 Weeks" interval="2" isSelected="true"></e-schedule-view>
                    <e-schedule-view option="Month" displayName="4 Months" interval="4"></e-schedule-view>
                </e-schedule-views>
                <e-schedule-eventsettings dataSource="@ViewBag.appointments"></e-schedule-eventsettings>
            </ejs-schedule>
        </div>
    </div>
    <script src="~/scripts/schedule/applyCategoryColor.js"></script>
    <script type="text/javascript">
        function onEventRendered(args) {
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            applyCategoryColor(args, scheduleObj.currentView);
        }
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Scheduler control shows how to display n number of days, weeks and months on a single view." />
}
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This demo illustrates how to display n number of days, weeks and months on a single view.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this demo, the
            <code>interval</code> property has been defined with different values on each view such as 3 on day view, 2 on week view and 4 on month
            view. so that 3 days, 2 weeks and 4 months displayed on the respective views. This property is not applicable on
            agenda and month agenda views
        </p>
    </div>
}