@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            <ejs-schedule id="schedule" width="100%" height="650px" allowInline="true" currentView="TimelineWeek" selectedDate="new DateTime(2018, 4, 4)">
                <e-schedule-views>
                    <e-schedule-view option="TimelineWeek"></e-schedule-view>
                    <e-schedule-view option="TimelineMonth"></e-schedule-view>
                </e-schedule-views>
                <e-schedule-group resources="@ViewBag.Resources"></e-schedule-group>
                <e-schedule-resources>
                    <e-schedule-resource dataSource="@ViewBag.Categories" field="TaskId" title="Category" name="Categories" textField="text" idField="id" groupIDField='groupId' colorField="color" allowMultiple="true"></e-schedule-resource>
                </e-schedule-resources>
                <e-schedule-eventsettings dataSource="@ViewBag.datasource">
                </e-schedule-eventsettings>
            </ejs-schedule>
        </div>
    </div>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="The example showcases the inline mode of the JS Scheduler that is used to create an appointment or edit an existing appointment's subject easily and quickly." />
}
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This demo shows the experience of adding a new appointment or editing the existing appointment through inline mode.
            Click on the cells to add an appointment with the subject alone and click on the appointment to edit the subject of the appointment.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>The features enable user to add or edit the appointment through inline mode. Click on the cells or the existing appointments to enable inline mode. You can press the ENTER key on the selected cell or appointment.</p>
        <p>The feature activates when you enable the <code>allowInline</code> property.</p>
        <ul>
            <li>For adding an appointment, the appointment will be created based on the selected time and subject once you focused-out or press ENTER key.</li>
            <li>For editing an appointment, the appointment will be saved based on the modified subject.</li>
        </ul>
    </div>
}
@section Title{
    <title>ASP.NET Core Schedule Inline Editing Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Inline Editing in ASP.NET Core Schedule Control</h1>
}