@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <ejs-schedule id="schedule" height="650" selectedDate="new DateTime(2018, 2, 15)" eventRendered="onEventRendered">
            <e-schedule-eventsettings dataSource="@ViewBag.appointments"></e-schedule-eventsettings>
        </ejs-schedule>
    </div>

    <script src="~/scripts/schedule/applyCategoryColor.js"></script>
    <script type="text/javascript">
        function onEventRendered(args) {
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            applyCategoryColor(args, scheduleObj.currentView);
        }
    </script>
}

@section Meta{
    <meta name="description" content="This demo for Essential JS2 Scheduler control shows the way of binding an array of JavaScript objects (local JSON datasource)." />
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This demo shows the way of binding an array of JavaScript objects (local JSON datasource) to Schedule.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            Scheduler can be bound either to local or remote data services which will load the data by default on demand to reduce the
            data transfer and load time. In this sample, the
            <code>dataSource</code> property available within the
            <code>eventSettings</code> needs to be assigned with the valid local JSON data.
        </p>
    </div>
}
