@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div class="schedule-wrapper">
            <ejs-schedule id="schedule" width="100%" height="650px" selectedDate="new DateTime(2018, 6, 20)">
                <e-schedule-eventsettings dataSource="@ViewBag.appointments"></e-schedule-eventsettings>
                <e-schedule-views>
                    <e-schedule-view option="MonthAgenda"></e-schedule-view>
                </e-schedule-views>
            </ejs-schedule>
        </div>
    </div>

    <style>
        @@media (min-width: 481px) {
            .schedule-wrapper {
                margin: 0 25%;
            }
        }
    </style>
}

@section Meta{
    <meta name="description" content="This demo for Essential JS2 Schedule control shows the layout of Month Agenda view and how it works." />
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This demo showcases the layout of Month Agenda view and its working.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In this demo, the active view of Schedule is set to
            <code>MonthAgenda</code> and no other view options are provided to
            <code>views</code> property. This view is designed by considering the combination of both the calendar and agenda layout together,
            so that whenever a particular date is selected - the events belonging to that date will be displayed on the event
            section at the bottom. Also, the dates which holds one or more events are marked with a round indicator below that
            date.
        </p>
        <p>
            On double clicking the date cells, the user can open the default event editor to create events. The events displayed on this
            view at the bottom section can be edited or deleted either through popup options or edit event editor.
        </p>
    </div>
}

