@using Syncfusion.EJ2
@section ControlsSection{
    <div class="col-lg-9 control-section">
        <div class="schedule-wrapper">
            <ejs-schedule id="schedule" width="100%" height="650" selectedDate="new DateTime(2018, 6, 20)" Timezone="UTC" eventRendered="onEventRendered">
                <e-schedule-eventsettings dataSource="@ViewBag.appointments"></e-schedule-eventsettings>
            </ejs-schedule>
        </div>
        <div style="float: right; margin-top: 10px;">
            Source:
            <a href="http://www.fifa.com/worldcup/matches/index.html" target="_blank">www.fifa.com</a>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table id='property' title='Properties' class='property-panel-table' style="width: 100%;">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 30%">
                        <div class='col-md-4' style="padding-top: 8px">Timezone:</div>
                    </td>
                    <td style="width: 70%">
                        <div class='datepicker-control-section'>
                            <ejs-dropdownlist id="scheduletimezone" dataSource="@ViewBag.data" index="1" change="onChange" popupHeight="250" popupWidth="auto">
                                <e-dropdownlist-fields text="Name" value="Value"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data.min.js"></script>
    <script src="~/scripts/schedule/applyCategoryColor.js"></script>
    <script type="text/javascript">
        if (ej.base.Browser.isIE) {
            ej.schedule.Timezone.prototype.offset = function (date, timezone) {
                return moment.tz.zone(timezone).utcOffset(date.getTime());
            };
        }
        function onChange(args) {
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            scheduleObj.timezone = (args.value).toString();
            scheduleObj.dataBind();
        }
        function onEventRendered(args) {
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            applyCategoryColor(args, scheduleObj.currentView);
        }
    </script>

}

@section Meta{
    <meta name="description" content="This demo for Essential JS2 Schedule control shows how the events are displayed in different timings as per the selected timezone." />
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This demo visualizes the 2018 FIFA football match schedule which is depicted as events here. The timings of each event are
            associated with the timezone of the match location where it will be held. When the Schedule time zone changes, the
            events in it displays according to the selected timezone's offset time difference.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In this demo, the <code>timezone</code> of Schedule is set to UTC and each events on it holds different
            <code>startTimezone</code> and <code>endTimezone</code> values, therefore the event timings will be converted based on timezone assigned to Schedule and will be displayed
            appropriately in UTC timings.
        </p>
        <p>
            When the user selects different timezone value listed out in a dropdown on properties panel, Schedule will display the events
            accordingly to the selected timezone value as the selected timezone will be assigned to Schedule
            <code>timezone</code> property.
        </p>
    </div>
}
