@page
@model EJ2CoreSampleBrowser_NET8.Pages.PowerPoint.PPTXToPDF

@using Syncfusion.EJ2
@{ var Title = "Essential Presentation (Presentation) : PPTXToPDF : Syncfusion"; }

@section ActionDescription{
    This sample demonstrates how to convert a PowerPoint presentation to PDF.
}

@section Description{    
    <b>Features:</b>
    <br />
    <br />
    <ul>
		<li>Convert all slide elements like text, shape, SmartArt diagram, table, etc., along with its formatting.</li>
        <li>Convert with handouts option.</li>
        <li>Convert the notes pages to PDF.</li>
		<li>Charts in a slide can be converted to PDF.</li>
        <li>Converted PDF document size can be optimized.</li>
    </ul>
    <br />
}
@section ControlsSection{
    <div class="control-section">
        @{
            Html.BeginForm("pptxtopdf", "powerpoint", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <div class="rowdiv" style="margin-top: 10px;font-size:14px">
                    <p style="font-weight:normal">
                        Click the button to convert the PowerPoint presentation to PDF document by using Essential Presentation and Essential PDF.
                        <br />
                        <b>Note:</b> Adobe Reader or its equivalent is required to view the resultant document.

                    </p>
                </div>
                <div class="rowdiv2" style="margin-top: 10px">
                    <div>
                        <input type="button" value="Choose File" onclick="openPage()">
                        <input type="text" id="fileNameBox" value="Template.pptx" readonly="readonly" style="border:none" />
                        <input type="file" name="file" id="fileUpload" accept=".pptx" style="display:block;visibility:hidden;width:0;height:0;">
                        <br />
                    </div>
                    <div style="margin-top: 8px">
                        <input class="e-btn" type="submit" value="Convert to PDF" name="button" style="width:170px; text-transform:capitalize" />
                        <br />
                        <div class="text-danger">
                            @Model.Message
                        </div>
                    </div>
                </div>
                <br />
                Html.EndForm();
            }
        }
    </div>
}
<script>
    function openPage() {
        document.getElementById('fileUpload').click();
        document.getElementById('fileUpload').addEventListener('change', readFile, false);
    }
    function readFile(evt) {
        var upoadedFiles = evt.target.files;
        filename = upoadedFiles[0].name;
        document.getElementById('fileNameBox').value = filename;
    }
</script>
@section Title{
                    <title>ASP.NET Core PowerPoint (Presentation) library - PPTX To PDF Example - Syncfusion Demos </title> 
                }
@section Meta{
                    <meta name="description" content="This example demonstrates the PPTX To PDF in ASP.NET Core PowerPoint (Presentation) library. Explore here for more details."/>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of PPTX To PDF in ASP.NET Core PowerPoint (Presentation) Library</h1>
                }