@page
@model EJ2CoreSampleBrowser_NET8.Pages.Grid.AutoWrapModel

@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="@Model.datasource" allowTextWrap="true" allowPaging="true">
            <e-grid-pagesettings pageCount="5" ></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="Inventor" headerText="Inventor Name"  width="140"></e-grid-column>
                <e-grid-column field="NumberofPatentFamilies" headerText="No of Patent Families" width="185" textAlign="Right"></e-grid-column>
                <e-grid-column field="Country" headerText="Country" width="120"></e-grid-column>
                <e-grid-column field="Active" headerText="Active"  width="130"></e-grid-column>
                <e-grid-column field="Mainfieldsofinvention" headerText="Main fields of invention" width="180" ></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>    
}


@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the Grid component with the auto wrap column cell. In this sample, you can see that the <strong>main fields of invention</strong>        column cell content exceeded the available width hence it has been wrapped into multiple lines.
		</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the AutoWrap Column Cells in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
		<p>Auto wrap cell content can be enabled using <code>allowTextWrap</code> property of the Grid. Setting this property will wrap cell text on multiple lines. This feature is useful
		to view the cell content when it exceeds the cell width.</p>
		<p>Setting this property will wrap the text in both content cell and header cell.</p>
		<p>In this demo, the <code>allowTextWrap</code> property is enabled and you can also see that the <strong>main fields of invention</strong> column whose
		content exceeded the cell width is wrapped into multiple lines.
		</p>	
    </div>
}
@section Title{
                    <title>ASP.NET Core Data Grid AutoWrap Column Cells Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of AutoWrap Column Cells in ASP.NET Core Data Grid Control</h1>
                }