@page
@model EJ2CoreSampleBrowser.Pages.Grid.CheckboxSelectionModel


@{
    ViewData["Title"] = "CheckboxSelection";
}

@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="@Model.datasource" allowSorting="true" allowFiltering="true" toolbar="@(new List<string>() { "Delete" })" allowSelection="true" allowPaging="true">
            <e-grid-selectionSettings persistSelection="true"></e-grid-selectionSettings>
            <e-grid-editSettings allowDeleting="true"></e-grid-editSettings>
            <e-grid-pagesettings pageCount="2"></e-grid-pagesettings>
            <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
            <e-grid-columns>
                <e-grid-column type="checkbox" width="50"></e-grid-column>
                <e-grid-column field="OrderID" headerText="Order ID" isPrimaryKey="true" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer Name" width="150"></e-grid-column>
                <e-grid-column field="OrderDate" headerText="Order Date" textAlign="Right" format="yMd" width="130"></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight" textAlign="Right" format="C2" width="120"></e-grid-column>
                <e-grid-column field="ShipCountry" headerText="Ship Country" width="150"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the selection functionality of the Grid using checkbox selection, To select and unselect all rows use header checkbox.
            To select/unselect particular row, click the desired row. Delete one or more records using the toolbar delete button
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Checkbox Selection in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            Grid mutliple selection can be achieved with the help of checkbox in each row. To render checkbox in each grid row, you need
            to define column type as <code>checkbox</code> using
            <code>columns->type</code> property.
        </p>
        <p>
            Selection can be persisted on all the operations using
            <code>selectionSettings-> persistSelection</code> property. For persisting selection on the Grid, any one of the column should be defined as a
            primary key using
            <code>columns->isPrimaryKey</code> property.
        </p>

        <p>
            In this demo, Grid mutliple selection has been enabled with the selection persistance. You can also delete multiple records,
            by clicking the toolbar’s <code>Delete</code> button after selecting the checkboxes.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Data Grid Checkbox Selection Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Checkbox Selection in ASP.NET Core Data Grid Control</h1>
                }