@page
@model EJ2CoreSampleBrowser.Pages.Grid.EnableRtlModel
@{
    ViewData["Title"] = "EnableRtl";
}

<h2>ContextMenu</h2>

@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="@Model.DataSource" allowGrouping="true" allowFiltering="true" enableRtl="true" allowReordering="true" allowSorting="true" allowPaging="true">
            <e-grid-editSettings allowAdding="false" allowDeleting="false" allowEditing="true"></e-grid-editSettings>
            <e-grid-filterSettings type="Menu"></e-grid-filterSettings>
            <e-grid-pagesettings pageSize="10" pageCount="2">
            </e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column field="OrderID" headerText="Order ID" isPrimaryKey="true" textAlign="Right" width="120"></e-grid-column>
                    <e-grid-column field="CustomerID" headerText="Customer Name" width="150" textAlign="Left"></e-grid-column>
                    <e-grid-column field="Freight" headerText="Freight" editType="numericedit" textAlign="Right" format="C2" width="120"></e-grid-column>
                    <e-grid-column field="OrderDate"  format="yMd" headerText="Order Date" type="date" editType="datepickeredit" width="150" textAlign="Right" allowGrouping="false"></e-grid-column>
                    <e-grid-column field="ShipCountry" headerText="Ship Country" editType="dropdownedit" width="150" textAlign="Left"></e-grid-column>
                </e-grid-columns>
        </ejs-grid>
    </div>
}

@section ActionDescription{
	<div id="action-description">
        <p>
            This sample demonstrates the right-to-Left(RTL) alignment in grid component.
        </p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the RTL in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            Right-to-left(RTL) is used to render the component from right to left direction and it can be
            enabled by setting the <code>
                    enableRtl
            </code> property as true.
            In this demo, you can able to see Group drop area, header, content, pager, filter dialog, etc ... are aligned right to left direction.


        </p>

    </div>
}
@section Title{
                    <title>ASP.NET Core Data Grid RTL Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of RTL in ASP.NET Core Data Grid Control</h1>
                }