@page
@model EJ2CoreSampleBrowser.Pages.Grid.RowSpanningAPIModel
@{
    ViewData["Title"] = "RowSpanningAPI";
}

@section ControlsSection {
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="@Model.DataSource" gridLines="Both" allowSelection="false" enableHover="false" allowSorting="true" enableRowSpan="true" enableColumnSpan="true" width="auto" height="450" allowTextWrap="true">
            <e-grid-textwrapsettings wrapMode="Content"></e-grid-textwrapsettings>
            <e-grid-columns>
                <e-grid-column field="Channel" headerText="Channel" isPrimaryKey="true" freeze="Left" width="150"></e-grid-column>
                <e-grid-column field="Genre" headerText="Genre" width="120" freeze="Left"></e-grid-column>
                <e-grid-column field="Program12AM" headerText="12 AM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program1AM" headerText="1 AM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program2AM" headerText="2 AM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program3AM" headerText="3 AM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program4AM" headerText="4 AM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program5AM" headerText="5 AM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program6AM" headerText="6 AM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program7AM" headerText="7 AM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program8AM" headerText="8 AM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program9AM" headerText="9 AM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program10AM" headerText="10 AM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program11AM" headerText="11 AM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program12PM" headerText="12 PM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program1PM" headerText="1 PM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program2PM" headerText="2 PM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program3PM" headerText="3 PM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program4PM" headerText="4 PM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program5PM" headerText="5 PM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program6PM" headerText="6 PM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program7PM" headerText="7 PM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program8PM" headerText="8 PM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program9PM" headerText="9 PM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program10PM" headerText="10 PM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
                <e-grid-column field="Program11PM" headerText="11 PM" width="110" textAlign="Center" allowSorting="false"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    
}
@section ActionDescription{
	<div id="action-description">
		<p>This demo showcases how the Grid component can automatically merged cells that contain matching data across rows and columns. When program names and timings repeat, they are visually combined into a single cell for improved readability.</p>
	</div>
}

@section Meta{
    <meta name="description" content="This example demonstrates the Row Spanning API in ASP.NET Core Data Grid control. Explore here for more details."/>
}

@section Description{
    <div id="description">
        <p>
            In this sample, the channel program names, and their timings are merged using the Grid's <code>enableRowSpan</code> and <code>enableColumnSpan</code> properties. 
            The <b>Channel</b> and <b>Genre</b> columns remains fixed on the left side, enabled by the frozen column feature.
        </p>

         <p>
            More information on the row spanning can be found in this
            <a target="_blank" 
                class="code"
                href="https://ej2.syncfusion.com/aspnetcore/documentation/grid/row/row-spanning" 
                aria-label="API link for documentation">
                documentation section
            </a>
        </p>
    </div>
}

@section Title{
    <title>ASP.NET Core Data Grid Row Spanning API Example - Syncfusion Demos</title>
}

@section Header{
    <h1 class='sb-sample-text'>Example of Row Spanning API in ASP.NET Core Data Grid Control</h1>
}