@page
@model EJ2CoreSampleBrowser_NET8.Pages.Grid.SearchModel
@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="@Model.DataSource"  toolbar="@(new List<string>() {"Search" })" allowPaging="true" allowSorting="true" allowFiltering="true">
            <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
            <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
            <e-grid-columns>
                <e-grid-column field="CategoryName" headerText="Category Name" textAlign="Right" width="160"></e-grid-column>
                <e-grid-column field="ProductName" headerText="Product Name" width="170"></e-grid-column>
                <e-grid-column field="QuantityPerUnit" headerText="Quantity Per Unit" textAlign="Right" width="170"></e-grid-column>
                <e-grid-column field="UnitsInStock" headerText="Units in Stock" textAlign="Right" width="170"></e-grid-column>
                <e-grid-column field="Discontinued" headerText="Discontinued" width="150" displayAsCheckBox="true" textAlign="Center" type="boolean"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
}
@section ActionDescription{
	<div id="action-description">
		<p>
			This sample demonstrates the Grid searching feature. In this sample, use the search box from toolbar to search Grid records.
		</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Search in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
		<p>The Grid has an option to search its content using the <code>search</code> method with search key as the parameter.</p>
		<p>In this demo, The Grid toolbar provides an option to search the Grid's records. The user can type the text box in the
			toolbar and click search button or press Enter key to perform search operation. We have used <code>search
			</code> method to initiate search.</p>		
    </div>
}
@section Title{
                    <title>ASP.NET Core Data Grid Search Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Search in ASP.NET Core Data Grid Control</h1>
                }