@using Syncfusion.EJ2.Diagrams;
@using EJ2CoreSampleBrowser.Controllers.Diagram;

@section ControlsSection{
<div class="control-section">
    <ejs-diagram id="diagram" width="100%" height="700" getNodeDefaults="@ViewBag.getNodeDefaults"
        getConnectorDefaults="@ViewBag.getConnectorDefaults" setNodeTemplate='@ViewBag.setNodeTemplate' nodes="ViewBag.Nodes" connectors="ViewBag.Connectors">
    </ejs-diagram>
</div>

<script>
    //Set node default properties.
    function getNodeDefaults(obj, diagram) {
        obj.style = { fill: '#26A0DA', strokeColor: 'white' };
        return obj;
    }

    //Set connector default properties.
    function getConnectorDefaults(connector, diagram) {
        return connector;
    }

    //Set an annotation style at runtime.
    function setNodeTemplate(node) {
        if (node.annotations.length > 0) {
            for (var i = 0; i < node.annotations.length; i++) {
                node.annotations[i].style.color = 'white';
            }
        }
    }
</script>
}
@section ActionDescription{
<div id="action-description">
    <p>
        This sample represents the hospital management system using diagram's built-in UML class diagram shapes.
    </p>
</div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the UML Class Diagram in ASP.NET Core Diagram control. Explore here for more details."/>
                }
@section Description{
<div id="description">
    <p>
        This example shows how to create class shapes using diagram <code>UMLClass</code> shapes. The <code>type</code> property of the
        <code>shape</code> can be used to create <code>UMLClass</code> nodes. The <code>shape</code> property of the shape allows you to create UML
        Class shapes.
    </p>
    <br />
</div>
}
@section Title{
                 <title>ASP.NET Core Diagram UML Class Diagram Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for UML Class Diagram in ASP.NET Core Diagram Control</h1>
            }