@using Syncfusion.EJ2
@section ControlsSection{

    <div class="control-section" align="center">
        <div id="container">
            <ejs-stockchart id="stockchart" load="stockload" enablePeriodSelector="false">
                <e-stockchart-series-collection>
                    <e-stockchart-series type='Line' xName='x' yName='close' name='google'> </e-stockchart-series>
                </e-stockchart-series-collection>
            </ejs-stockchart>
        </div>
    </div>
    <script src="~/scripts/StockChartData/aapl.js"></script>
    <script>
        var data = aapl;
        function stockload(args) {
            args.stockChart.series[0].dataSource = data;
            args.stockChart.primaryXAxis = { majorGridLines: { width: 0 }, },

                args.stockChart.border = { width: 1 };
            args.stockChart.primaryYAxis = {
                lineStyle: { color: 'transparent' },
                majorTickLines: { color: 'transparent', width: 0 },
            };
            args.stockChart.chartArea = { border: { width: 0 } };
            args.stockChart.tooltip = { enable: true };
            args.stockChart.crosshair = { enable: true }
        }


    </script>
}

@section Scripts {

}

@section ActionDescription{
    <p>
        This sample visualizes stock chart with plot band on y axis.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to highlight a particular range in stock chart. Period and range selector help us to navigate different of data. AreaSeries is used to represent selected data value.
    </p>
    <br>
}