@using Syncfusion.EJ2
@using Newtonsoft.Json

@section ControlsSection {
    <div class="control-section">
        <div class='control-wrapper'>
            <div style='padding-top:60px;'>
                <ejs-multicolumncombobox id="multicolumnFiltering" dataSource="ViewBag.dataSource" popupHeight="200px"
                    placeholder="Select the country" filtering="onfiltering">
                    <e-multicolumncombobox-fields text="ShipCountry" value="OrderID"></e-multicolumncombobox-fields>
                    <e-multicolumncombobox-columns>
                        <e-multicolumncombobox-column field="OrderID" header="Order ID" width="110"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="CustomerID" header="Customer ID" width="130"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Freight" header="Freight" width="90"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="ShipCountry" header="Ship Country" width="140"></e-multicolumncombobox-column>
                    </e-multicolumncombobox-columns>
                </ejs-multicolumncombobox>
            </div>
        </div>
    </div>
    <!-- custom code start -->
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 500px;
        }

        @@media only screen and (max-width: 480px) {
            .control-wrapper {
                width: 300px;
            }
        }
    </style>
    <!-- custom code end-->
    <script type="text/javascript">
        function onfiltering(e) {
            var query = new ej.data.Query();
            query = (e.text !== '') ? query.where('Name', 'startswith', e.text, true) : query;
            e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.dataSource)), query);
        }
    </script>
}

@section Meta {
    <meta name="description" content="This example demonstrates the Filtering in ASP.NET Core MultiColumn ComboBox control. Explore here for more details." />
}
@section ActionDescription {
    <div id="action-description">
        <p>This sample demonstrates the built-in support to filter the <code>datasource</code> in the MultiColumn ComboBox.</p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            This sample illustrates to query the datasource and pass the resulted data when characters are typed in the search box triggers the <code>filtering</code> event and using the <code>updateData</code> method to display the list items in the MultiColumn ComboBox.
        </p>
    </div>
}
@section Title {
    <title>ASP.NET Core MultiColumn ComboBox Filtering Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Filtering in ASP.NET Core MultiColumn ComboBox Control</h1>
}