@using Syncfusion.EJ2

@section ControlsSection {
    <div class="control-section">
        <div class='control-wrapper'>
            <div style='padding-top:60px;'>
                <ejs-multicolumncombobox id="multicolumnRtl" dataSource="@Model.Employees" popupHeight="230px"
                    placeholder="Select an employee" enableRtl=true>
                    <e-multicolumncombobox-fields text="Name" value="Designation"></e-multicolumncombobox-fields>
                    <e-multicolumncombobox-columns>
                        <e-multicolumncombobox-column field="Eimg" header="Employee ID" width="120"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Name" header="Employee Name" width="160"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Designation" header="Designation" width="150"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Country" header="Country" width="100"></e-multicolumncombobox-column>
                    </e-multicolumncombobox-columns>
                </ejs-multicolumncombobox>
            </div>
        </div>
    </div>
    <!-- custom code start -->
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 550px;
        }

        @@media only screen and (max-width: 480px) {
            .control-wrapper {
                width: 300px;
            }
        }
    </style>
    <!-- custom code end-->
}

@section Meta {
    <meta name="description" content="This example demonstrates the Rtl in ASP.NET Core MultiColumn ComboBox control. Explore here for more details." />
}
@section ActionDescription {
    <div id="action-description">
        <p>This example demonstrates the RTL support in the MultiColumn ComboBox.</p>
    </div>
}
@section Description {
    <div id="description">
        <p>The MultiColumn ComboBox has the support to enable the right-to-left (RTL) text direction when the <code>enableRtl</code> property is enabled.</p>
    </div>
}
@section Title {
    <title>ASP.NET Core MultiColumn ComboBox Rtl Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Rtl in ASP.NET Core MultiColumn ComboBox Control</h1>
}