@using Syncfusion.EJ2

@section ControlsSection {
    <div class="control-section">
        <div class='control-wrapper'>
            <div style='padding-top:60px;'>
                <ejs-multicolumncombobox id="multicolumnSorting" dataSource="ViewBag.dataSource" popupHeight="230px"
                    placeholder="Select an order ID" allowSorting=true sortType="MultipleColumns" sortOrder="Ascending">
                    <e-multicolumncombobox-fields text="OrderID" value="CustomerID"></e-multicolumncombobox-fields>
                    <e-multicolumncombobox-columns>
                        <e-multicolumncombobox-column field="OrderID" header="Order ID" width="110"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="CustomerID" header="Customer ID" width="130"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Freight" header="Freight" width="90"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="ShipCountry" header="Ship Country" width="140"></e-multicolumncombobox-column>
                    </e-multicolumncombobox-columns>
                </ejs-multicolumncombobox>
            </div>
        </div>
    </div>
    <!-- custom code start -->
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 500px;
        }

        @@media only screen and (max-width: 480px) {
            .control-wrapper {
                width: 300px;
            }
        }
    </style>
    <!-- custom code end-->
}

@section Meta {
    <meta name="description" content="This example demonstrates the sorting in ASP.NET Core MultiColumn ComboBox control. Explore here for more details." />
}
@section ActionDescription {
    <div id="action-description">
        <p>This example demonstrates the sorting support in the MultiColumn ComboBox.</p>
    </div>
}
@section Description {
    <div id="description">
        <p>In this sample, you can click the column header to sort/unsort the column. Any field can be selected from the Fields dropdown list and its order can be changed to display headers either in ascending or descending order. Sorting can be enabled using the <code>allowSorting</code> property and the sort order can be customized using the <code>sortOrder</code> property in the MultiColumn ComboBox.</p>
    </div>
}
@section Title {
    <title>ASP.NET Core MultiColumn ComboBox sorting Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of sorting in ASP.NET Core MultiColumn ComboBox Control</h1>
}