@using Syncfusion.EJ2

@section ControlsSection {
    <div class="control-section">
        <div class='control-wrapper'>
            <div style='padding-top:55px;'>
                <ejs-multicolumncombobox id="virtual" dataSource="@Model.Records" enableVirtualization="true" popupHeight="230px"
                    placeholder="Select an engineer">
                    <e-multicolumncombobox-gridsettings rowHeight=40></e-multicolumncombobox-gridsettings>
                    <e-multicolumncombobox-fields text="Engineer" value="TaskID"></e-multicolumncombobox-fields>
                    <e-multicolumncombobox-columns>
                        <e-multicolumncombobox-column field="TaskID" header="Task ID" width="100"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Engineer" header="Engineer" width="140"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Designation" header="Designation" width="130"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Estimation" header="Estimation" width="120"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Status" header="Status" width="120"></e-multicolumncombobox-column>
                    </e-multicolumncombobox-columns>
                </ejs-multicolumncombobox>
            </div>
        </div>
    </div>
    <!-- custom code start -->
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 550px;
        }

        @@media only screen and (max-width: 480px) {
            .control-wrapper {
                width: 300px;
            }
        }
    </style>
    <!-- custom code end-->
}

@section Meta {
    <meta name="description" content="This example demonstrates the virtualization in ASP.NET Core MultiColumn ComboBox control. Explore here for more details." />
}
@section ActionDescription {
    <div id="action-description">
        <p>This example demonstrates the virtualization support in the MultiColumn ComboBox. It has 150 items bound to it. However, when you open the suggestion list only few items are loaded based on the popup height and the remaining items are loaded while scrolling.</p>
    </div>
}
@section Description {
    <div id="description">
        <p>The MultiColumn ComboBox supports virtualization, which improves UI performance for large amounts of data. To enable virtualization, set the <code>enableVirtualization</code> property to <code>true</code>. When virtualization is enabled, MultiColumn ComboBox doesn't render the entire suggestion data source on initial rendering. It loads the N number of items in the popup on initial rendering and the remaining set number of items will load while scrolling. Virtualization works with both local and remote data.</p>
    </div>
}
@section Title {
    <title>ASP.NET Core MultiColumn ComboBox virtualization Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of virtualization in ASP.NET Core MultiColumn ComboBox Control</h1>
}