@page
@model EJ2CoreSampleBrowser.Pages.PivotTable.DefaultModel
@{
}
@using Syncfusion.EJ2.PivotView
@section Meta {
    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Pivot Table control. Explore here for more details." />
}
@section ControlsSection {

    <div class="control-section">
        <div class="content-wrapper">
            <ejs-pivotview id="pivotview" width="100%" height="290">
                <e-datasourcesettings dataSource="@Model.GetDefaultData()" expandAll="false" enableSorting="true">
                    <e-formatsettings>
                        <e-field name="Amount" format="C0" maximumSignificantDigits="10" minimumSignificantDigits="1" useGrouping="true"></e-field>
                    </e-formatsettings>
                    <e-rows>
                        <e-field name="Country"></e-field>
                        <e-field name="Products"></e-field>
                    </e-rows>
                    <e-columns>
                        <e-field name="Year"></e-field>
                        <e-field name="Quarter"></e-field>
                    </e-columns>
                    <e-values>
                        <e-field name="Sold" caption="Units Sold"></e-field>
                        <e-field name="Amount" caption="Sold Amount"></e-field>
                    </e-values>
                </e-datasourcesettings>
                <e-gridSettings columnWidth="140"></e-gridSettings>
            </ejs-pivotview>
        </div>
    </div>

    <style>
        #pivotview {
            width: 100%;
            height: 100%;
        }

        .sb-sample-content-area {
            min-height: 255px !important;
        }

        .control-section {
            min-height: 255px !important;
        }
    </style>
}

@section PreScripts {
    <script>
        ej.base.enableRipple(false);
    </script>
}

@section ActionDescription {
    <div id="action-description">
        <p>This sample demonstrates basic rendering of the pivot table with drill-up and drill-down functionality bound to a relational report.</p>
    </div>
}

@section Description {
    <div id="description">
        <p>
            The pivot table is an easily configurable, presentation-quality business control used for visualizing relational data
            sources in cross-tabular format. It is displayed with drill-up and drill-down capabilities and allows users to easily
            aggregate data. Sorting, filtering, and grouping data are also supported.
        </p>
        <p>
            In this demo, the pivot table is populated with its minimum default settings.
        </p>
    </div>
}
@section Title {
    <title>ASP.NET Core Pivot Table Default Functionalities Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Pivot Table Control</h1>
}