@page
@model EJ2CoreSampleBrowser_NET8.Pages.PivotTable.Exporting

@using EJ2CoreSampleBrowser.Models
@using Syncfusion.EJ2.PivotView
@section Meta{
                    <meta name="description" content="This example demonstrates the Export in ASP.NET Core Pivot Table control. Explore here for more details."/>
}

@{
    var data = new PivotTableData().GetPivot_Data();
}
@section ControlsSection{

    <div class="col-lg-8 control-section">
        <div class="content-wrapper">
            <ejs-pivotview id="pivotview" showFieldList="true" allowExcelExport="true" allowPdfExport="true"  width="100%" height="300">
                <e-datasourcesettings dataSource="@data" expandAll="false" enableSorting="true">
                    <e-formatsettings>
                        <e-field name="Amount" format="C0" maximumSignificantDigits="10" minimumSignificantDigits="1" useGrouping="true"></e-field>
                    </e-formatsettings>
                    <e-rows>
                        <e-field name="Country"></e-field>
                        <e-field name="Products"></e-field>
                    </e-rows>
                    <e-columns>
                        <e-field name="Year"></e-field>
                        <e-field name="Order_Source" caption="Order Source"></e-field>
                    </e-columns>
                    <e-values>
                        <e-field name="In_Stock" caption="In Stock"></e-field>
                        <e-field name="Sold" caption="Units Sold"></e-field>
                        <e-field name="Amount" caption="Sold Amount"></e-field>
                    </e-values>
                    <e-filters>
                        <e-field name="Product_Categories" caption="Product Categories"></e-field>
                    </e-filters>
                </e-datasourcesettings>
                <e-gridSettings columnWidth="140"></e-gridSettings>
            </ejs-pivotview>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <table id="property" title="Properties" style="width: 100%;height:100%;">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 40%">
                        <div>
                            Export Type:
                        </div>
                    </td>
                    <td style="width: 60%;">
                        <div style="margin-left: -20px">
                            <ejs-dropdownlist id="mode" dataSource="@Model.exportData" index="0" width="160" popupWidth="auto">
                                <e-dropdownlist-fields text="Name" value="Value"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td></td>
                    <td>
                        <div style="float: right">
                            <ejs-button id="export-btn" content="Export" isPrimary="true"></ejs-button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <style>
        #pivotview {
            width: 100%;
            height: 100%;
        }
        .sb-sample-content-area {
            min-height: 255px !important;
        }
        .control-section {
            min-height: 255px !important;
        }
    </style>
    <script>
        document.getElementById('export-btn').onclick = function () {
            var pivotObj = document.getElementById('pivotview').ej2_instances[0];
            var exportType = document.getElementById('mode').ej2_instances[0];
            if (exportType.value === 'excel') {
                pivotObj.excelExport();
            }
            else if (exportType.value === 'csv') {
                pivotObj.csvExport();
            }
            else {
                pivotObj.pdfExport();
            }
        };
    </script>
}

@section PreScripts {
    <script>
        ej.base.enableRipple(false);
    </script>
}

@section ActionDescription{
   <div id="action-description">
       <p>This sample demonstrates client-side exporting of the pivot table to Excel, CSV and PDF formats.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The pivot table supports client-side exporting and exports its data to the Excel, CSV and PDF formats data using
            the
            <code>excelExport</code>,
            <code>csvExport</code> and
            <code>pdfExport</code> methods.
        </p>
        <p>
            Choose the export document type in the dropdown list available inside the property panel and click the export button to export
            the pivot table to the selected document format.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Pivot Table Export Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Export in ASP.NET Core Pivot Table Control</h1>
                }