@page
@model EJ2CoreSampleBrowser.Pages.Excel.CSVToExcel
@section ActionDescription {
    This sample demonstrates how to convert CSV documents to Excel documents using XlsIO.
}

@section Meta {
    <meta name="description" content="This example demonstrates the conversion of CSV To Excel in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}

@section Description {
    <br />Essential XlsIO allows to export CSV document to Excel.
    <br />
    <br /><b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Supports conversion of CSV documents to Excel format that includes text, numbers, formulas, and number formatting.</li>
    </ul>
}
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("csvtoexcel", "excel", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <div>
                    <p style="font-weight:normal">
                        Select the CSV document to convert to Excel and click the "Convert to Excel" button. Please note that the Microsoft Excel or an Excel viewer is required to view the Excel document.
                    </p>
                </div>
                <br />
                <div style="display:flex">
                    <label style="font-weight:normal;margin-right: 1rem;">Select document</label>
                    <input type="button" value="Browse" onclick="openPage()">
                    <input type="text" id="fileNameBox" value="CSVToExcelTemplate.csv" readonly="readonly" style="border:none;margin-left:1rem;" />
                    <input type="file" name="file" id="fileUpload" accept=".csv" style="display:block;visibility:hidden;width:0;height:0;">
                </div>
                <br />
                <div style="margin-top: 8px">
                    <input id="generate" name="Button" class="e-btn" type="submit" value="Convert to Excel" style="width:170px; text-transform:capitalize" />
                    <br />
                    <div class="text-danger">
                        @ViewBag.Message
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
    <script>
        function openPage() {
            document.getElementById('fileUpload').click();
            document.getElementById('fileUpload').addEventListener('change', readFile, false);
        }
        function readFile(evt) {
            var upoadedFiles = evt.target.files;

            filename = upoadedFiles[0].name;
            document.getElementById('fileNameBox').value = filename;
        }
    </script>
}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - Excel To PDF Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of CSV To Excel conversion in ASP.NET Core Excel (XlsIO) Library</h1>
}
