@page
@model EJ2CoreSampleBrowser.Pages.Excel.EditMacro
@section ActionDescription {
    This sample demonstrates how to edit macros using XlsIO.
}

@section Meta {
    <meta name="description" content="This example demonstrates the Edit Macro in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}

@section Description {
        Essential XlsIO supports creating macro files from scratch and edit the macro code programmatically.
    <br />
    <br /><b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Open existing macro-enabled Excel template.</li>
        <li>Modify the macro code to change the chart type.</li>
        <li>Save the edited macro-enabled file in various file formats (XLS, XLSM, XLTM).</li>
    </ul>
}
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("editmacro", "excel", FormMethod.Post);
            {
                <p style="font-weight:normal">
                    Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
                </p>
                <br />
                <div>
                    Save As :
                    <input type="radio" id="XLS" name="SaveOption" value="ExcelXls" />
                    <label for="XLS" style="font-weight:normal">XLS</label>
                    &nbsp;
                    <input type="radio" id="XLTM" name="SaveOption" value="ExcelXltm" />
                    <label for="XLTM" style="font-weight:normal">XLTM</label>
                    &nbsp;
                    <input type="radio" id="XLSM" name="SaveOption" value="ExcelXlsm" checked="checked" />
                    <label for="XLSM" style="font-weight:normal">XLSM</label>
                </div>
                <br />
                <div class="celldiv">
                    <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px;text-transform:capitalize" />
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - Edit Macro Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Edit Macro in ASP.NET Core Excel (XlsIO) Library</h1>
}