@page
@model EJ2CoreSampleBrowser.Pages.Excel.ExcelToPDFUA
@section ActionDescription {
    This sample demonstrates how to convert Excel documents to PDF/UA documents using XlsIO.
}

@section Meta {
    <meta name="description" content="This example demonstrates the conversion of Excel To PDF/UA in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}

@section Description {
    <br />Essential XlsIO allows to export Excel document to PDF/UA by using the <i>Convert</i> method of <i>ExcelToPDFConverter</i> class. supports converting a Excel document to a tagged PDF
    <br />
    <b>Note:</b> Installation of Essential PDF is necessary to run this sample.
    <br />
}
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("exceltopdfua", "excel", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <div>
                    <p style="font-weight:normal">
                        Select the Excel document to be converted to PDF/UA, and click the "ConvertToPDF" button. Please note that a PDF Viewer is required to view the resulting PDF document.
                    </p>
                </div>
                <br />
                <div style="display:flex">
                    <label style="font-weight:normal;margin-right: 1rem;">Select document</label>
                    <input type="button" value="Browse" onclick="openPage()">
                    <input type="text" id="fileNameBox" value="ExcelToPdf-UA.xlsx" readonly="readonly" style="border:none;margin-left:1rem;" />
                    <input type="file" name="file" id="fileUpload" accept=".xlsx,.xls,.xlsm,.xltm,.xltx,.csv,.tsv,.xml" style="display:block;visibility:hidden;width:0;height:0;">
                </div>
                <br />
                <div style="margin-top: 8px">
                    <input id="generate" name="Button" class="e-btn" type="submit" value="Convert to PDF" style="width:170px; text-transform:capitalize" />
                    <br />
                    <div class="text-danger">
                        @ViewData["Message"]
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
    <script>
        function openPage() {
            document.getElementById('fileUpload').click();
            document.getElementById('fileUpload').addEventListener('change', readFile, false);
        }
        function readFile(evt) {
            var upoadedFiles = evt.target.files;

            filename = upoadedFiles[0].name;
            document.getElementById('fileNameBox').value = filename;
        }
    </script>
}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - Excel To PDF Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Excel To PDF/UA conversion in ASP.NET Core Excel (XlsIO) Library</h1>
}