@page
@model EJ2CoreSampleBrowser.Pages.Excel.ExpensesReport
@section ActionDescription {
    This sample demonstrates how to create a simple Excel report for expenses with data, chart, formula, and cell formatting using XlsIO.
}

@section Meta {
    <meta name="description" content="This example demonstrates the Expenses Report in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}
@section Description {
                Expenses report is used for visualizing a company's financial statistics. This demo shows a expenses report with the difference between expected cost and actual cost for the different categories of a company’s expenses.
    <br />
    <br />
    <b>Features:</b>
    <br />
    <br />This sample demonstrates following features:
    <br />
    <br />
    <ul>
        <li>Cell formattings</li>
        <li>Chart</li>
        <li>Number formats</li>
        <li>Formulas</li>
    </ul>
}
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("expensesreport", "excel", FormMethod.Post);
            {
                <div class="rowdiv">
                    <p style="font-weight:normal">
                        Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
                    </p>
                </div>
                <br />
                <div class="rowdiv">
                    <div class="celldiv">
                        <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px; text-transform:capitalize" />
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - Expenses Report Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Expenses Report in ASP.NET Core Excel (XlsIO) Library</h1>
}