@page
@model EJ2CoreSampleBrowser_NET8.Pages.Excel.GroupShapes
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("groupshapes", "excel", FormMethod.Post);
            {
                <div class="tablediv">
                    <p style="font-weight:normal">
                        Click the "Input Template" button to view the input Excel document and click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
                    </p>
                    <br />
                    <div class="rowdiv">
                        <div>
                            <input type="radio" id="Group" name="Group1" value="Group" checked="checked" />
                            <label for="Group" style="font-weight:normal">Group</label>
                            &nbsp;
                            <input type="radio" id="Ungroup" name="Group1" value="Ungroup" />
                            <label for="Ungroup" style="font-weight:normal">Ungroup</label>
                            &nbsp;
                            <input type="radio" id="Ungroup All" name="Group1" value="Ungroup All" />
                            <label for="Ungroup All" style="font-weight:normal">Ungroup All</label>
                        </div>
                        <br />
                    </div>
                    <div class="rowdiv">
                        <div class="celldiv">
                            <input id="inputbtn" class="e-btn" type="submit" name="button" value="Input Template" style="width:160px;text-transform:capitalize" />
                            <input id="normalbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px; text-transform:capitalize" />
                        </div>
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription {
    This sample demonstrates how to use group shapes in spreadsheets using XlsIO.
}

@section Meta {
    <meta name="description" content="This example demonstrates the Group Shapes in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}

@section Description {
    <div class="rowdiv">
        Essential XlsIO allows to group multiple shapes and ungroup the shapes in worksheet. The <i>IGroupShape</i> interface is the in-memory representation of the
        group shapes in an Excel workbook.
        <br />
        <br />
        <b>Features:</b>
        <br />
        <br />
        This sample demonstrates following features:
        <br />
        <br />
        <ul>
            <li>Grouping multiple shapes into a single group shape.</li>
            <li>Ungroup the group shape and all its inner shapes.</li>
        </ul>
        <br />
    </div>
}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - Group Shapes Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Group Shapes in ASP.NET Core Excel (XlsIO) Library</h1>
}