@page
@model EJ2CoreSampleBrowser.Pages.Excel.ReadExcel
@section ActionDescription {
    This sample demonstrates how to read Excel documents using XlsIO.
}

@section Meta {
    <meta name="description" content="This example demonstrates read Excel in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}

@section Description {
    <br />Essential XlsIO allows to read Excel documents efficiently with high performance.
    <br />
    <br />
    <p>
        The below table shows the details of Excel (XlsIO) performance for reading Excel document and creating a data table with that data.
    </p>
    <table border="1">
        <tr>
            <td width="210px" align="center">
                <b>Number of rows and columns</b>
            </td>
            <td width="140px" align="center">
                <b>Time taken in ms</b>
            </td>
        </tr>
        <tr>
            <td align="center">
                30,000 rows and 50 columns
            </td>
            <td align="center">
                9130 ms
            </td>
        </tr>
    </table>
}
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("readexcel", "excel", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <div class="rowdiv">
                    <p style="font-weight:normal">
                        Click the "Input Template" button to view the input Excel document.
                    </p>
                    <p style="font-weight:normal">
                        Click the "Read Document" button to read the cell values from the Excel document.
                    </p>
                </div>
                <br />

                <div class="celldiv">
                    <input class="e-btn" type="submit" name="button" value="Input Template" style=" width:200px; text-transform:capitalize" />
                    <input class="e-btn" type="submit" name="button" value="Read Document" style=" width:200px; text-transform:capitalize" />
                </div>
                <br />
                <div style="display:flex">
                    <label>@Model.TimeTaken</label>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - Read Excel Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Read Excel in ASP.NET Core Excel (XlsIO) Library</h1>
}

