@page
@model EJ2CoreSampleBrowser.Pages.Excel.Sparklines
@section ActionDescription {
    This sample demonstrates how to create sparkline charts using XlsIO.
}

@section Meta {
    <meta name="description" content="This example demonstrates the Sparklines in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}

@section Description {
    <p>
        Sparkline is a small chart in a worksheet cell that provides visual representation of data. Essential XlsIO has the APIs for creating and manipulating sparklines. <br />
    </p>
    <br /><b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Creation of Sparkline types</li>
        <li>Sparkline creation from values fetched from a template document</li>
    </ul>
}
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("sparklines", "excel", FormMethod.Post);
            {
                <p style="font-weight:normal">
                    Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
                </p>
                <br />
                <div class="celldiv">
                    <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px; text-transform:capitalize" />
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - Sparklines Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Sparklines in ASP.NET Core Excel (XlsIO) Library</h1>
}