@page
@model EJ2CoreSampleBrowser.Pages.Excel.TemplateMarker
@section ActionDescription {
    The sample demonstrates how to import data to a predefined Excel template using template marker in Excel (XlsIO) library.
}

@section Meta {
    <meta name="description" content="This example demonstrates the Template Marker in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}

@section Description {
    <div class="rowdiv">
        <p>
            A template marker is a special marker symbol created in an Excel template that will be bound to data.
        </p>
        <br />
        <p>Essential XlsIO allows you to create and bind markers with data from various sources, such as data tables, variables, and arrays. This allows users to control the format of the data when it is bound to a template document.</p>
    </div>
}
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("templatemarker", "excel", FormMethod.Post);
            {
                <p style="font-weight:normal">
                    Click the "Input Template" button to view the input Excel document and click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
                </p>
                <br />
                <div>
                    Select data source
                    <input type="radio" id="dataTable" style="margin-left: 2.8rem" name="importOption" value="Data Table" checked="checked" />
                    <label for="XLS" style="font-weight:normal">Data Table</label>
                    &nbsp;
                    <input type="radio" id="collectionObjects" name="importOption" value="CLR Objects" />
                    <label for="XLSX" style="font-weight:normal">Collection Objects</label>
                </div>
                <br />
                <div style="display:flex;">
                    <div class="rowdiv" style="margin-right: 1rem">
                        <label style="font-weight:normal">
                            Image import options
                        </label>
                    </div>
                    <div class="rowdiv">
                        <select name="typeOfImage" id="typeOfImage" style="width:auto;" class="e-dropdown-popup">
                            <option>Image only</option>
                            <option>Image with size</option>
                            <option>Image with position</option>
                            <option selected>Image with size and position</option>
                            <option>Image fit to cell</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="celldiv">
                    <input id="inpubtn" class="e-btn" type="submit" name="button" value="Input Template" style="width:160px; text-transform:capitalize" />
                    <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px; text-transform:capitalize; margin-left: 1rem;" />
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - Template Marker Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Template Marker in ASP.NET Core Excel (XlsIO) Library</h1>
}