@page
@model EJ2CoreSampleBrowser.Pages.Excel.WhatIfAnalysis
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("whatifanalysis", "excel", FormMethod.Post);
            {
                <p style="font-weight:normal">
                    Click the "Input Template" button to view the input Excel document.
                </p>
                <p style="font-weight:normal">
                    Click the "Create Document" button to view the output Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
                </p>
                <br />
                <div class="celldiv">
                    <input id="chkboxCreateSummary" type="checkbox" name="chkbox" value="chkBox" /> Create Summary
                    <br>
                    <br>
                    <input id="inputbtn" class="e-btn" type="submit" name="button" value="Input Template" style="width:150px;padding-left:0.5em;text-transform:capitalize" />
                    <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:150px;padding-left:0.5em;text-transform:capitalize" />
                </div>
                Html.EndForm();
            }
        }
    </div>
}

@section ActionDescription {
    The sample shows how to create different scenarios of What-If Analysis using Essential XlsIO.
}

@section Meta {
    <meta name="description" content="The sample shows how to create different scenarios of What-If Analysis in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}
@section Description {
    <div class="rowdiv">
        <p>What-If Analysis is the process of changing the values in cells to see how those changes will affect the outcome of formulas on the worksheet. Essential XlsIO supports the What-If Analysis of Scenarios type.</p>
        <p>A Scenario is a set of values that Excel saves and can substitute automatically in cells on a worksheet. It is possible to create and save different groups of values on a worksheet and then switch to any of these new scenarios to view different results.</p>
    </div>
}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - What-If Analysis Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of What-If Analysis in ASP.NET Core Excel (XlsIO) Library</h1>
}