@page
@model EJ2CoreSampleBrowser.Pages.Excel.WorkbookProtection
@section ActionDescription {
    This sample demonstrates how to set protection for a workbook using Excel (XlsIO) Library.
}

@section Meta {
    <meta name="description" content="This example demonstrates the Workbook Protection in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}

@section Description {
    <div class="rowdiv">
        <p>
            You can lock the structure of a workbook, which prevents users from adding or deleting worksheets or from displaying hidden worksheets. You can also prevent users from changing the size or position of worksheet windows. Workbook structure and window protection apply to the entire workbook.
        </p>
        <br />
        <b>Features:</b>
        <br />
        <br />
        <ul>
            <li>Protecting a workbook with a password</li>
            <li>Protecting a window or structure from modification</li>
            <li>Removing protection of a workbook with a password</li>
        </ul>
        <br />
        <p>
            To protect a workbook, point to <b>Protection</b> on the <b>Tools</b> menu, and then click <b>Protect Workbook.</b> You can choose which elements you want to protect (workbook structure, windows, or both) by selecting or clearing the corresponding check boxes.
        </p>
    </div>
}
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("workbookprotection", "excel", FormMethod.Post);
            {
                <p style="font-weight:normal">
                    Click the "Protect Workbook" button to view the protected Excel document and "Unprotect Workbook" to view the unprotected Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
                </p>
                <br />
                <div>
                    Save As :
                    <input type="radio" id="XLS" name="saveOption" value="Xls" />
                    <label for="XLS" style="font-weight:normal">XLS</label>
                    &nbsp;
                    <input type="radio" id="XLSX" name="saveOption" value="xlsx" checked="checked" />
                    <label for="XLSX" style="font-weight:normal">XLSX</label>
                </div>
                <br />
                <div class="celldiv">
                    <input id="lockbtn" class="e-btn" type="submit" name="button" value="Protect Workbook" style="width:160px; text-transform:capitalize" />
                    <input id="unlockbtn" class="e-btn" type="submit" name="button" value="Unprotect Workbook" style="width:160px; text-transform:capitalize" />
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - Workbook Protection Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Workbook Protection in ASP.NET Core Excel (XlsIO) Library</h1>
}
