@page
@model EJ2CoreSampleBrowser.Pages.Excel.WorksheetProtection
@section ActionDescription {
    This sample demonstrates how to Lock and Unlock spreadsheets using Excel (XlsIO) Library.
}

@section Meta {
    <meta name="description" content="This example demonstrates the Worksheet Protection in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}

@section Description {
    <div class="rowdiv">
        <p>
            Microsoft Excel offers a special way for protecting specific data and certain worksheets with or without a password. This prevents anyone from changing, moving, or deleting important data.
        </p>
        <br />
        <p>
            Excel allows you to edit or lock a range of cells in a protected worksheet by using the <b>Protection</b> tab in the <b>Format Cells</b> dialog. By default, all cells are locked, but they are not hidden when the worksheet is protected. Worksheets can be protected by choosing the <b>Tools - Protection - Protect Sheet</b> option in Excel.
        </p>
    </div>
}
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("worksheetprotection", "excel", FormMethod.Post);
            {
                <p style="font-weight:normal">
                    Click the "Lock Worksheet" button to view the locked Excel document and "Unlock Worksheet" to view the unlocked Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
                </p>
                <br />
                <div>
                    Save As :
                    <input type="radio" id="XLS" name="saveOption" value="Xls" />
                    <label for="XLS" style="font-weight:normal">XLS</label>
                    &nbsp;
                    <input type="radio" id="XLSX" name="saveOption" value="xlsx" checked="checked" />
                    <label for="XLSX" style="font-weight:normal">XLSX</label>
                </div>
                <br />
                <div class="celldiv">
                    <input id="lockbtn" class="e-btn" type="submit" name="button" value="Lock Worksheet" style="width:160px; text-transform:capitalize" />
                    <input id="unlockbtn" class="e-btn" type="submit" name="button" value="Unlock Worksheet" style="width:160px; text-transform:capitalize" />
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - Worksheet Protection Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Worksheet Protection in ASP.NET Core Excel (XlsIO) Library</h1>
}