@page
@model EJ2CoreSampleBrowser.Pages.Excel.WriteExcel
@section ActionDescription {
    This sample demonstrates how to write Excel documents using XlsIO.
}

@section Meta {
    <meta name="description" content="This example demonstrates write Excel in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}

@section Description {
    <br />Essential XlsIO allows to create Excel documents efficiently with high performance.
    <br />
    <br />
    <p>
        The below table shows the details of Excel (XlsIO) performance for creating an Excel document.
    </p>
    <table border="1">
        <tr>
            <td width="210px" align="center">
                <b>Number of rows and columns</b>
            </td>
            <td width="140px" align="center">
                <b>Time taken in ms</b>
            </td>
        </tr>
        <tr>
            <td align="center">
                10,000 rows and 50 columns
            </td>
            <td align="center">
                1180 ms
            </td>
        </tr>
        <tr>
            <td align="center">
                20,000 rows and 50 columns
            </td>
            <td align="center">
                2670 ms
            </td>
        </tr>
        <tr>
            <td align="center">
                30,000 rows and 50 columns
            </td>
            <td align="center">
                5653 ms
            </td>
        </tr>
    </table>
}
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("writeexcel", "excel", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <div class="rowdiv">
                    <p style="font-weight:normal">
                        Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
                    </p>
                </div>
                <br />
                <div class="rowdiv">
                    <div class="celldiv">
                        <table>
                            <tr>
                                <td width="200px">Enter the number of rows</td>
                                <td><input type="number" class="buttonStyle" id="textBox1" name="lblRows" value="30000" style="width:100px" /></td>
                            </tr>
                        </table>
                    </div>
                    <br />
                    <div class="celldiv">
                        <table>
                            <tr>
                                <td width="200px">Enter the number of columns</td>
                                <td> <input type="number" class="buttonStyle" id="textBox2" name="lblColumns" value="50" style="width:100px" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br />
                <div class="rowdiv">
                    <div class="celldiv">
                        <div>
                            Save As :
                            <input type="radio" id="XLS" name="saveOption" value="Xls" onclick="Disable()" />
                            <label for="XLS" style="font-weight:normal">XLS</label>
                            &nbsp;
                            <input type="radio" id="XLSX" name="saveOption" value="Xlsx" onclick="Enable()" checked="checked" />
                            <label for="XLSX" style="font-weight:normal">XLSX</label>
                        </div>
                    </div>
                    <br />
                    <div>
                        <input id="chkImport" type="checkbox" name="import" value="ImportOnSave" />
                        <label for="import" style="font-weight:normal">Import on Save</label>
                        <br />
                        <p style="font:smaller">Import on Save option directly serialize data while saving the workbook.</p>
                    </div>
                    <br />
                    <div class="celldiv">
                        <input class="e-btn" type="submit" value="Create Document" style=" width:200px; text-transform:capitalize" />
                    </div>
                    <div class="celldiv">
                        <label id="lblStatus">

                        </label>
                    </div>
                </div>
                <script type="text/javascript">
                    function Disable() {
                        document.getElementById("chkImport").checked = false;
                        document.getElementById("chkImport").disabled = true;
                    }
                    function Enable() {
                        document.getElementById("chkImport").disabled = false;
                    }
                </script>
                Html.EndForm();
            }
        }
    </div>
}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - Write Excel Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Write Excel in ASP.NET Core Excel (XlsIO) Library</h1>
}

