@page
@model EJ2CoreSampleBrowser.Pages.Excel.YearlySales
@section ActionDescription {
     This sample demonstrates how to create a simple Excel report for yearly sales with data, chart, formulas, and cell formatting using XlsIO.
}

@section Meta {
    <meta name="description" content="This example demonstrates the Yearly Sales in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}
@section Description {
                A yearly sales report is used for visualizing a company’s yearly growth. This demo shows the product sales of a company for each month in a specific year by visualizing the data with charts.
    <br />
    <br />
    <b>Features:</b>
    <br />
    <br />This sample demonstrates following features:
    <br />
    <br />
    <ul>
        <li>Cell formattings</li>
        <li>Chart</li>
        <li>Number formats</li>
        <li>Formulas</li>
    </ul>
}
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("yearlysales", "excel", FormMethod.Post);
            {
                <div class="rowdiv">
                    <p style="font-weight:normal">
                        Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
                    </p>
                </div>
                <br />
                <div class="rowdiv">
                    <div class="celldiv">
                        <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px; text-transform:capitalize" />
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - Yearly Sales Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Yearly Sales in ASP.NET Core Excel (XlsIO) Library</h1>
}