@using Syncfusion.EJ2;
@using Syncfusion.EJ2.DropDowns;
@using EJ2CoreSampleBrowser.Controllers.Barcode;
@{
    List<ExpandOptions> position = new List<ExpandOptions>();
    position.Add(new ExpandOptions() { text = "Bottom", value = "bottom" });
    position.Add(new ExpandOptions() { text = "Top", value = "top" });

    var expandValue = "Bottom";
    List<alignment> align = new List<alignment>();
    align.Add(new alignment() { text = "Left", value = "left" });
    align.Add(new alignment() { text = "Right", value = "right" });
    align.Add(new alignment() { text = "Center", value = "center" });

    var alignmentValue = "Center";
}
@section ControlsSection{
    <div class="col-lg-8 control-section" width="64%">
        <div class="content-wrapper" style="width: 100%;height: 590px;">
            <div class='center'>
                <div class='centercontrol'>
                    <ejs-barcodegenerator id="container" width="200px" height="150px" invalid="invalidInput" type="Code128A" value="SYNCFUSION" mode="SVG"></ejs-barcodegenerator>
                </div>
            </div>
            <div class='allowedText'>
                <span style="font-weight: 600;"> Allowed Input characters :</span> support 0-9 A-Z and special character
                input.
            </div>

        </div>
    </div>
    <div class="col-lg-4 property-section" style="padding-right: 0px;padding-left: 18px;">
        <div class="property-panel-header">
            Appearance
        </div>
        <div id="propertypanel" class="e-remove-selection">
            <div class="property-section-content">
                <div class="row sb-child-row">
                    <div class="col-xs-2 top" style="padding-left: 0px;">
                        Value
                    </div>
                    <div class="col-xs-10" style="padding-left: 0px">
                        <form id="form-element" class="form-horizontal">
                            <div id='barcodevaluediv'>
                                <ejs-textbox id="barcodeValue" value="SYNCFUSION" name="password" class="form-control" change="barcodeValueChange"></ejs-textbox>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row sb-child-row">
                    <div>
                        <div class="col-xs-2 top" style="padding-left: 0px;padding-right: 20px;padding-top: 12px;">
                            Width
                        </div>
                        <div class="col-xs-3" style="width: 33%;padding-left: 0px;padding-top: 12px;">
                            <ejs-numerictextbox id="barcodewidth" format="###.##" value="200" enabled="true" step="2" min="150" max="250" change="barcodewidthChange"></ejs-numerictextbox>
                        </div>
                    </div>
                    <div>
                        <div class="rightProperty" style="padding-top: 12px;">
                            Height
                        </div>
                        <div class="col-xs-3" style="width: 33%;padding-left: 0px;padding-top: 12px;">
                            <ejs-numerictextbox id="barcodeheight" format="###.##" value="150" enabled="true" step="2" min="100" max="200" change="barcodeheightChange"></ejs-numerictextbox>
                        </div>
                    </div>
                </div>
                <div class="row sb-child-row" style="margin-top: 20px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <div class="col-xs-1" style="padding-left: 0px;">
                            <ejs-checkbox id="textVisibility" checked="true" change="textVisibilityChange"></ejs-checkbox>
                        </div>
                        <div class="col-xs-10">Text Visibility</div>
                    </div>
                    <div class="col-xs-4" style="padding-left: 0;margin-left: 13px;">
                        <div class="col-xs-1" style="padding-left: 0px;">
                            <ejs-checkbox id="svgMode" checked="true" change="svgModeChange"></ejs-checkbox>
                        </div>
                        <div class="svgTextClass">SVG Mode</div>
                    </div>
                </div>
                <div class="row sb-child-row">
                    <div style="margin-top: 15px">
                        <div class="col-xs-2" style="margin-top: 5px;padding-left: 0px;">BG Color</div>
                        <div class="col-xs-4" style="padding-left: 0px;">
                            <ejs-colorpicker id='bgColor' value="#ffffff" change="bgColorChange"></ejs-colorpicker>
                        </div>
                        <div class="col-xs-2" style="width: 18%;padding-left: 12px;margin-top: 5px;">Fore Color</div>
                        <div class="col-xs-3" style="padding-left: 2px;">
                            <ejs-colorpicker id='foreColor' value="#000000" change="foreColorChange"></ejs-colorpicker>
                        </div>
                    </div>
                </div>
                <div class="property-panel-header">
                    Margin
                </div>
                <div class="row sb-child-row">
                    <div class="col-xs-2 top" style="padding-left: 0px;"> Left</div>
                    <div class="col-xs-3" style="width: 33%;padding-left: 0px;">
                        <ejs-numerictextbox id="marginLeft" format="###.##" value="10" enabled="true" step="1" min="-10" max="30" change="marginLeftChange"></ejs-numerictextbox>
                    </div>
                    <div class="rightProperty">Right</div>
                    <div class="col-xs-3" style="width: 33%;padding-left: 0px;">
                        <ejs-numerictextbox id="MarginRight" format="###.##" value="10" enabled="true" step="1" min="-10" max="30" change="MarginRightChange"></ejs-numerictextbox>
                    </div>
                </div>

                <div class="row sb-child-row">
                    <div class="col-xs-2 top" style="padding-left: 0px;">Top</div>
                    <div class="col-xs-3" style="width: 33%;padding-left: 0px;">
                        <div style="padding-bottom: 8px">
                            <ejs-numerictextbox id="marginTop" format="###.##" value="10" enabled="true" step="1" min="-10" max="30" change="marginTopChange"></ejs-numerictextbox>
                        </div>
                    </div>
                    <div class="rightProperty">Bottom</div>
                    <div class="col-xs-3" style="width: 33%;padding-left: 0px;">
                        <ejs-numerictextbox id="MarginBottom" format="###.##" value="10" enabled="true" step="1" min="-10" max="30" change="MarginBottomChange"></ejs-numerictextbox>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="property-panel-header">
                    Text Properties
                </div>
                <div class="row sb-child-row">
                    <div class="col-xs-2 top" style="padding-left: 0px;">Top</div>
                    <div class="col-xs-3" style="width: 33%;padding-left: 0px;">
                        <ejs-numerictextbox id="TextmarginTop" format="###.##" value="0" enabled="true" step="1" min="-10" max="30" change="TextmarginTopChange"></ejs-numerictextbox>
                    </div>
                    <div class="rightProperty">Bottom</div>
                    <div class="col-xs-3" style="width: 33%;padding-left: 0px;">
                        <ejs-numerictextbox id="TextMarginBottom" format="###.##" value="0" enabled="true" step="1" min="-10" max="30" change="TextMarginBottompChange"></ejs-numerictextbox>
                    </div>
                </div>
                <div class="row sb-child-row">
                    <div class="col-xs-2 top" style="padding-left: 0px;">
                        Position
                    </div>
                    <div class="textPropertyClass">
                        <ejs-dropdownlist id="expand" dataSource="position" value="expandValue" change="expandChange"></ejs-dropdownlist>
                    </div>
                </div>
                <div class="row sb-child-row">
                    <div class="col-xs-2 top" style="padding-left: 0px;">
                        Alignment
                    </div>
                    <div class="textPropertyClass">
                        <ejs-dropdownlist id="align" dataSource="align" value="alignmentValue" change="alignChange"></ejs-dropdownlist>
                    </div>
                </div>
                <div class="row sb-child-row">
                    <div class="col-xs-3 top" style="width: 17%;padding-left: 0px;">
                        Display Text
                    </div>
                    <div class="textProperty">
                        <ejs-textbox id="displayText" value="SYNCFUSION" change="displayTextChange"></ejs-textbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .column-style {
            display: table;
            height: 35px;
            padding-right: 4px;
            padding-left: 0px;
            width: calc((100% - 12px) / 3);
        }

        .row {
            margin-left: 0px;
            margin-right: 0px;
        }

        .row-header {
            font-size: 15px;
            font-weight: 500;
        }

        .labelstyle {
            padding-top: 10px;
            float: left;
            padding-right: 10px
        }

        .propertystyle {
            padding-top: 22px;
            font-weight: 600;
            font-size: 15px;
        }

        .sb-child-row {
            margin-top: 8px;
        }

        .center {
            margin-left: 14px;
            margin-right: 17px;
            margin-top: 14px;
            min-width: 280px;
            width: auto;
            border: 2px solid lightgray;
            min-height: 40%;
            padding-top: 35px;
        }

        .col-lg-4-property-section {
            width: 36%;
        }

        .rightProperty {
            margin-top: 10px;
            width: 16.66666667%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .textProperty {
            width: 81%;
            padding-left: 0px;
            padding-right: 0;
            float: left;
            position: relative;
            min-height: 1px;
        }

        .sb-mobile-prop-pane .svgTextClass {
            width: 40px;
            padding-left: 24px;
        }

        .svgTextClass {
            width: 100px;
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }



        .sb-mobile-prop-pane .rightProperty {
            padding-left: 2px;
        }

        .sb-mobile-prop-pane .textPropertyClass {
            padding-left: 30px;
        }

        .sb-mobile-prop-pane .textProperty {
            padding-left: 30px;
            width: 77%
        }

        .textPropertyClass {
            width: 83.33333333%;
            float: left;
            padding-left: 0px;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
        }

        .allowedText {
            margin-left: 14px;
            margin-right: 17px;
            margin-top: 14px;
            width: auto;
            height: auto;
        }

        .errorMessage {
            margin-left: 14px;
            margin-right: 17px;
            margin-top: 14px;
            width: auto;
            height: auto;
        }

        .errorMessage {
            margin-left: 14px;
            margin-right: 17px;
            margin-top: 14px;
            width: auto;
            height: auto;
        }


        .top {
            margin-top: 10px;
        }

        .centercontrol {
            margin: auto;
            width: 200px;
            height: 200px;
        }

        #password-info {
            position: absolute;
        }
    </style>
    <script type="text/javascript">
        function barcodeValueChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            var formObject = new ej.inputs.FormValidator('#form-element', {});
            canShowError = false;
            formObject.validate();
            barcode.value = args.value;
            var displayText = document.getElementById("displayText").ej2_instances[0];
            displayText.value = args.value;
        }

        function barcodewidthChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.width = args.value;
        }
        function barcodeheightChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.height = args.value;
        }
        function textVisibilityChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.displayText.visibility = args.checked;
        }
        let canShowError = false;
        var customFn = (args) => {
            if (canShowError) {
                return false;
            }
            return true;
        };



        function invalidInput() {
            var barcode = document.getElementById("container").ej2_instances[0];
            var displayText = document.getElementById("displayText").ej2_instances[0];
            var options = {

                rules: {
                    'password': { minLength: [customFn, 'Invalid input'] }
                },
                keyup() {
                    if (canShowError) {
                        canShowError = false;
                    }
                },
                focusout(args) {
                    displayText.value = barcode.value = (document.getElementById('barcodeValue')).value;
                    barcode.dataBind();
                },
            };
            var formObject = new ej.inputs.FormValidator('#form-element', options);
            canShowError = true;
            formObject.validate();
        }
        function svgModeChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.mode = args.checked ? 'SVG' : 'Canvas';
        }
        function bgColorChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.backgroundColor = args.currentValue.hex
        }
        function foreColorChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.foreColor = args.currentValue.hex
        }
        function marginLeftChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.margin.left = args.value;
        }
        function MarginRightChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.margin.right = args.value;
        }
        function marginTopChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.margin.top = args.value;
        }
        function MarginBottomChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.margin.bottom = args.value;
        }

        function TextmarginTopChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.displayText.margin.top = args.value;
        }
        function TextMarginBottompChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.displayText.margin.bottom = args.value;
        }
        function expandChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.displayText.position = (args.value);
        }
        function alignChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.displayText.alignment = (args.value);
        }
        function displayTextChange(args) {
            var barcode = document.getElementById("container").ej2_instances[0];
            barcode.displayText.text = args.value;
        }

    </script>
}
@section ActionDescription{
    <p>
        This sample visualizes a barcode image that presents information with a combination of numbers, uppercase letters, and control characters such as tab and new line.
    </p>
}

@section Description{

    <p>
        This sample shows how to create the Code 128A barcode type with alphanumeric characters. The `type` property can be used to set the barcode type as ` Code128A`.
    </p>
}
@section Title{
                    <title>ASP.NET Core Barcode Code 128A Example - Syncfusion Demos </title> 
                }
@section Meta{
                    <meta name="description" content="This example demonstrates the Code 128A in ASP.NET Core Barcode control. Explore here for more details."/>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Code 128A in ASP.NET Core Barcode Control</h1>
                }