@using Syncfusion.EJ2

@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div class="e-sample-resize-container">
            <ejs-toolbar id="defaultToolbar">
                <e-toolbar-items>
                    <e-toolbar-item prefixIcon="e-icons e-cut" tooltipText="Cut"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-copy" tooltipText="Copy"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-paste" tooltipText="Paste"></e-toolbar-item>
                    <e-toolbar-item type="Separator"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-bold" tooltipText="Bold"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-underline" tooltipText="Underline"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-italic" tooltipText="Italic"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-paint-bucket" tooltipText="Color-Picker"></e-toolbar-item>
                    <e-toolbar-item type="Separator"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-align-left" tooltipText="Align-Left"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-align-right" tooltipText="Align-Right"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-align-center" tooltipText="Align-Center"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-justify" tooltipText="Align-Justify"></e-toolbar-item>
                    <e-toolbar-item type="Separator"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-list-unordered" tooltipText="Bullets"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-list-ordered" tooltipText="Numbering"></e-toolbar-item>
                    <e-toolbar-item type="Separator"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-undo" tooltipText="Undo"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-redo" tooltipText="Redo"></e-toolbar-item>
                    <e-toolbar-item type="Separator"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-upload-1" tooltipText="Upload"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-download" tooltipText="Download"></e-toolbar-item>
                    <e-toolbar-item type="Separator"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-increase-indent" tooltipText="Text Indent"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-decrease-indent" tooltipText="Text Outdent"></e-toolbar-item>
                    <e-toolbar-item type="Separator"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-erase" tooltipText="Clear"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-refresh" tooltipText="Reload"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-export" tooltipText="Export"></e-toolbar-item>
                </e-toolbar-items>
            </ejs-toolbar>
        </div>
    </div>
}

@section ActionDescription{
    <p>
        This sample demonstrates the default functionalities of the <code>Toolbar</code>. Select any command or click the left/right navigation icon or touch swipe to see the hidden commands of the Toolbar
    </p>
}

@section Description{
    <p>
        <strong>Toolbar</strong> is a graphical control on which commands / buttons will be displayed in horizontal order.
        By default scrolling display mode enabled when content exceeds the available viewing area.
    </p>
    <br>
    <p>
        You can use left / right navigation icon or touch swipe to see the hidden commands of the toolbar.
    </p>
    <ul>
        <li>
            Initially toolbar rendered with the <code> left and right navigation</code> icon and you can see hidden commands by <code>moving in right or left</code> direction.
        </li>
        <li>
            When you reach <code>right / left end of toolbar</code>, corresponding  navigation direction will be disabled.
        </li>
        <li>
            You can continuously scroll the toolbar content by holding on the navigation icon.
        </li>
        <li>
            In <code>devices</code> navigation icons are not available. you can touch swipe to see the hidden commands of the toolbar.
        </li>
    </ul>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Toolbar control. Explore here for more details."/>
                }

@*custom code start*@
<style>
    .control-wrapper {
        flex-direction: inherit
    }

    .e-sample-resize-container {
        height: 42px;
    }

    @@media only screen and (min-width: 1224px) {
        .e-sample-resize-container {
            width: 75%;
        }
    }

    @@media only screen and (min-width: 1824px) {
        .e-sample-resize-container {
            width: 50%;
        }
    }
</style>
@*custom code end*@
@section Title{
                    <title>ASP.NET Core Toolbar Default Functionalities Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Toolbar Control</h1>
                }