@page
@model EJ2CoreSampleBrowser_NET8.Pages.ComboBox.DiacriticsFiltering
@using Syncfusion.EJ2

@section ControlsSection{
<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <div style='padding-top:70px;'>
            <ejs-combobox id="list" dataSource="@Model.Data" placeholder="e.g: gul" ignoreAccent="true" allowFiltering="true"></ejs-combobox>
        </div>
    </div>
</div>
@*custom code start*@
<style>
    .control-wrapper {
        margin: 0 auto;
        width: 250px;
    }
</style>
@*custom code end*@
}
@section Meta{
<meta name="description" content="This example demonstrates the Diacritics Filtering in ASP.NET Core ComboBox control. Explore here for more details."/>
}
@section ActionDescription{
<div id="action-description">
    <p>
        This sample demonstrates the  diacritics filter functionality of the ComboBox. Type the characters ‘gul’ in the ComboBox element, it will display the suggestion list ignoring the diacritics lists.
    </p>
</div>
}
@section Description{
<div id="description">
    <p>
        The ComboBox filtering will ignore the <a href="https://en.wikipedia.org/wiki/Diacritic" target="_blank" aria-label="Navigate to the wikipedia about Diacritic"> diacritics </a> which makes it easier to filter the results in international characters lists when the <code>ignoreAccent</code> is enabled.
    </p>

    <p>This sample illustrates the international characters data.</p>
</div>

}
@section Title{
<title>ASP.NET Core ComboBox Diacritics Filtering Example - Syncfusion Demos </title>
}
@section Header{
<h1 class='sb-sample-text'>Example of Diacritics Filtering in ASP.NET Core ComboBox Control</h1>
}