@page
@model EJ2CoreSampleBrowser.Pages.ComboBox.ObjectValueBinding
@using Syncfusion.EJ2
@{
    var recordList = new ComboBoxRecord().RecordModelList();
}

@section ControlsSection{
<div class="col-lg-8 control-section">
    <div class="control-wrapper">
        <div id="default" style='padding-top:75px;'>
            <ejs-combobox id="object" dataSource="@recordList" allowObjectBinding="true" placeholder="e.g. Item 1" popupHeight="220px" change="valueChange">
                <e-combobox-fields text="Text" value="ID"></e-combobox-fields>
            </ejs-combobox>
        </div>
    </div>
</div>
<div class="col-lg-4 property-section">
    <textarea id="value" title="Properties" style="width: 100%; margin-top:90px; height: 60px; background-color: inherit;" readonly>Selected value : </textarea>
</div>

@*custom code start*@
<style>
    .control-wrapper {
        margin: 0 auto;
        width: 250px;
    }

    .property-section .right-side {
        padding-left: 10px;
    }

    .property-section .left-side {
        padding: 5px;
        width: 25%
    }
</style>
@*custom code end*@
<script type="text/javascript">
    function valueChange() {
        var listObj = document.getElementById('object').ej2_instances[0];
        var value = document.getElementById('value');
        value.innerHTML = "Selected value : " + JSON.stringify(listObj.value);
    }
</script>
}
@section Scripts{
<script type="text/javascript">
    valueChange();

</script>

}
@section Meta{
<meta name="description" content="This example demonstrates the Allow Object Binding Functionalities in ASP.NET Core ComboBox control. Explore here for more details."/>
}
@section ActionDescription{
<div id="action-description">
    <p>This sample demonstrates the object value binding functionalities of the ComboBox. Type a character in the
        ComboBox element or click the drodown icon to choose an item from the <code>options</code> list. The
        corresponding object value of the selected item is then assigned to the value property.
        In the property panel, the <code>value</code> property of the selected item's will be displayed.</p>
</div>

}
@section Description{
<div id="description">
    <p>The <code>ComboBox</code> component allows the user to type a value, or choose an option from the list of
        predefined options.Once an item is selected, its associated object value is automatically assigned to the
        <code>value</code> property. This behavior is enabled by the <code>allowObjectBinding</code> property.
    </p>
</div>
}
@section Title{
<title>ASP.NET Core ComboBox Object Value Binding Functionalities Example - Syncfusion Demos </title>
}
@section Header{
<h1 class='sb-sample-text'>Example of Object Value Binding Functionalities in ASP.NET Core ComboBox Control</h1>
}