@page
@using Syncfusion.EJ2
@using Newtonsoft.Json
@using EJ2CoreSampleBrowser.Models
@{
    var data = new Countries().CountriesList();
}

@section ControlsSection{
<div class="control-section">
    <div class='control-wrapper'>
        <div style='padding-top:75px;'>
            <ejs-combobox id="country" allowResize="true" placeholder="Select a country" dataSource="@data" popupHeight="270px">
                <e-combobox-fields text="Name" value="Code"></e-combobox-fields>
            </ejs-combobox>
        </div>
    </div>
</div>
@*custom code start*@
<style>
    .control-wrapper {
        margin: 0 auto;
        width: 250px;
    }
</style>
@*custom code end*@
}
@section Meta{
    <meta name="description" content="This example demonstrates the custom resizing functionalities in ASP.NET Core ComboBox control. Explore here for more details." />
}
@section ActionDescription{
<div id="action-description">
        <p>This example demonstrates the custom resizing functionalities of the ComboBox. You can adjust the size of the popup based on your preferences, allowing for better control over its appearance.</p>
</div>
}
@section Description{
<div id="description">
        <p>The ComboBox can be customized to adjust the size of the popup using custom resizing functionalities. By setting AllowResize to true, you enable the ability to resize the popup, allowing you to control its dimensions according to your preferences and providing better management of its appearance.</p>.
</div>
}
@section Title{
<title>ASP.NET Core ComboBox Resize Example - Syncfusion Demos </title>
}
@section Header{
<h1 class='sb-sample-text'>Example of Resize in ASP.NET Core ComboBox Control</h1>
}