@page
@model EJ2CoreSampleBrowser.Pages.AutoComplete.GroupingAndIcon
@using Syncfusion.EJ2

@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div id='groupList' class='col-lg-6' style='padding-top:15px'>
            <div class="content">
                <h4>Grouping</h4>
                <ejs-autocomplete id="vegetables" placeholder="e.g. Cabbage" showPopupButton="true" dataSource="@Model.Veg">
                    <e-autocomplete-fields groupBy="Category" value="Vegetable"></e-autocomplete-fields>
                </ejs-autocomplete>
            </div>
        </div>
        <div id='iconList' class='col-lg-6' style='padding-top:15px'>
            <div class="content">
                <h4> Icons</h4>
                <ejs-autocomplete id="icons" dataSource="@Model.Media" placeholder="e.g. Facebook" showPopupButton="true">
                    <e-autocomplete-fields value="SocialMediaName" iconCss="Class"></e-autocomplete-fields>
                </ejs-autocomplete>
            </div>
        </div>
    </div>
    @*custom code start*@
    <style>
        .content {
            margin: 0 auto;
            width: 250px;
        }
        .e-rtl .e-dropdownbase .e-fixed-head  {
            left: auto;
        }
        .e-rtl .e-dropdownbase .e-list-item .e-list-icon {
            font-size: 16px;
            vertical-align: middle;
            padding: 0 0 0 16px;
        }

        .material-dark .e-list-icon,
        .material3-dark .e-list-icon,
        .bootstrap5-dark .e-list-icon,
        .fabric-dark .e-list-icon,
        .bootstrap-dark .e-list-icon,
        .tailwind-dark .e-list-icon,
        .fluent-dark .e-list-icon,
        .highcontrast .e-list-icon {
           color: #fff;
        }
    </style>
    @*custom code end*@
    <link href="../css/dropdownlist/grouping.css" rel="stylesheet" />
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Grouping and Icon in ASP.NET Core AutoComplete control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the grouping and icons supports to the AutoComplete. Type a character in the AutoComplete element and choose an item from the categorized list/icons list.</p>
    </div>
}
@section Description{
    <p>
        The AutoComplete allows to group the relevant items under a corresponding category by mapping the
        <code>groupBy</code> field, and allows to load the list items with icons. And also enabled the
        <code>showPopupButton</code> property to show all the suggestion items while clicking on the popup button.
    </p>

    <p>The grouping sample illustrates how the vegetables are grouped based on its category.</p>

    <p>
        The 2nd AutoComplete is populated with icons which is rendered by mapping the
        <code>iconCss</code> field.
    </p>
    <p>
        More information on the grouping feature configuration can be found in this
        <a href="https://ej2.syncfusion.com/aspnetcore/documentation/auto-complete/grouping" target="_blank "aria-label="Navigate to the documentation for Grouping in ASP.NET Core AutoComplete control" > Documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET Core AutoComplete Grouping and Icon Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Grouping and Icon in ASP.NET Core AutoComplete Control</h1>
                }