@page
@model EJ2CoreSampleBrowser.Pages.AutoComplete.Resize;
@using Syncfusion.EJ2
@using Newtonsoft.Json

@section ControlsSection{
    <div class="col-lg-12 control-section" style="height: 400px;">
        <div class='control-wrapper'>
            <div style='padding-top:70px;'>
                <ejs-autocomplete id="books" allowResize="true" placeholder="Select A Bookname" dataSource="@Model.Book">
                    <e-autocomplete-fields value="BookName"></e-autocomplete-fields>
                </ejs-autocomplete>
            </div>
        </div>
    </div>
    @*custom code start*@
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 300px;
        }
    </style>
    @*custom code end*@
}
@section Meta{
    <meta name="description" content="This example demonstrates the Resize functionalities in ASP.NET Core AutoComplete control. Explore here for more details." />
                }
@section ActionDescription{
    <div id="action-description">
        <p>This example demonstrates the custom resizing functionalities of the AutoComplete. You can adjust the size of the popup based on your preferences, allowing for better control over its appearance.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>The AutoComplete can be customized to adjust the size of the popup using custom resizing functionalities. By setting AllowResize to true, you enable the ability to resize the popup, allowing you to control its dimensions according to your preferences and providing better management of its appearance.</p>.
    </div>
}
@section Title{
                    <title>ASP.NET Core AutoComplete Custom Resize Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Custom Resize in ASP.NET Core AutoComplete Control</h1>
                }