@using Syncfusion.EJ2

@{
    string[] items = new string[] { "NewFolder", "Cut", "Copy", "Paste", "Delete", "Download", "Rename", "SortBy", "Refresh", "Selection", "View", "Details"};
    string[] layout = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
}

@section ControlsSection{
    <link href="~/styles/file-manager/file-manager.css" rel="stylesheet" />
    <div class=" control-section">
        <div class="sample-container">
             <!-- File Manager custom thumbnail sample -->
            <ejs-filemanager id="filemanager" showThumbnail="false">
                <e-filemanager-ajaxsettings url="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/FileOperations"
                                            downloadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Download"
                                            uploadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Upload"
                                            getImageUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/GetImage">
                </e-filemanager-ajaxsettings>
                <e-filemanager-toolbarsettings items="items">
                </e-filemanager-toolbarsettings>
                <e-filemanager-contextmenusettings layout="layout">
                </e-filemanager-contextmenusettings>
            </ejs-filemanager>
        </div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the custom thumbnail of the File Manager. You can customize with your own icon by using the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_ShowThumbnail"> showThumbnail </a> property.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>The File Manager component is used to explore a file system through a web application, similar to the windows explorer for windows. It supports all the basic file operations such as create, rename, delete and so on.</p>

        <p>
            <b>Note: </b>File Manager's upload functionality is restricted in the online demo. If you need to test upload functionality, please install
            <a target="_blank" href="https://www.syncfusion.com/downloads">Syncfusion Essential Studio </a>on your machine and run the demo.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Custom Thumbnails in ASP.NET Core File Manager control. Explore here for more details."/>
                }


@section Title{
                    <title>ASP.NET Core File Manager Custom Thumbnails Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Custom Thumbnails in ASP.NET Core File Manager Control</h1>
                }