@using Syncfusion.EJ2

@section ControlsSection{
    <div class=" control-section">
        <div class="sample-container">
             <!-- File Manager Drag and Drop feature sample -->
            <ejs-filemanager id="filemanager" allowDragAndDrop="true">
                <e-filemanager-ajaxsettings url="https://ej2services.syncfusion.com/api/FileManager/FileOperations"
                                            downloadUrl="https://ej2services.syncfusion.com/api/FileManager/Download"
                                            uploadUrl="https://ej2services.syncfusion.com/api/FileManager/Upload"
                                            getImageUrl="https://ej2services.syncfusion.com/api/FileManager/GetImage">
                </e-filemanager-ajaxsettings>
            </ejs-filemanager>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the drag-and-drop feature of the File Manager. To drag and drop the file, select and drag a desired file or folder and drop it into the target folder. The File Manager component allows users to drag any file and drop it on any other folder in the same or different folder using the <code><a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2~Syncfusion.EJ2.FileManager.FileManager~AllowDragAndDrop.html" target="_blank">allowDragAndDrop</a></code> property.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The <b>File Manager</b> component is used to explore a file system through a web application, similar to the windows explorer for windows. It supports all the basic file operations such as create, rename, delete, refresh and so on.
        </p>
        <p>
            <b>Note: </b>File Manager's upload functionality is restricted in the online demo. If you need to test upload functionality, please install
            <a target="_blank" href="https://www.syncfusion.com/downloads">Syncfusion Essential Studio </a>on your machine and run the demo.
        </p>

    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Drag and Drop in ASP.NET Core File Manager control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core File Manager Drag and Drop Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Drag and Drop in ASP.NET Core File Manager Control</h1>
                }