@using Syncfusion.EJ2

@section ControlsSection{
    <div class=" control-section">
        <div class="sample-container">
            <ejs-filemanager id="filemanager">
                <e-filemanager-ajaxsettings url="https://realtime-firebase.azurewebsites.net/api/FirebaseProvider/FirebaseRealtimeFileOperations"
                                            downloadUrl="https://realtime-firebase.azurewebsites.net/api/FirebaseProvider/FirebaseRealtimeDownload"
                                            uploadUrl="https://realtime-firebase.azurewebsites.net/api/FirebaseProvider/FirebaseRealtimeUpload"
                                            getImageUrl="https://realtime-firebase.azurewebsites.net/api/FirebaseProvider/FirebaseRealtimeGetImage">
                </e-filemanager-ajaxsettings>
            </ejs-filemanager>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates how to utilize the Firebase realtime cloud storage database with File Manager component.To run the service, create an <a target="_blank" href="https://console.firebase.google.com/">firebase realtime database</a> and then register the firebase realtime database <i><b>Rest API link</b></i> and <i><b>rootNode</b></i> name within <code>RegisterFirebaseRealtimeDB</code> method to perform the file operations.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The <b>File Manager</b> component is used to explore a file system through a web application, similar to the windows explorer for windows. It supports all the basic file operations such as create, rename, delete, refresh and so on.
        </p>
        <p>
            <b>Note: </b>File Manager's upload functionality is restricted in online demo. To work with upload functionality, please download <a target="_blank" href="https://github.com/SyncfusionExamples/ej2-firebase-realtime-database-aspcore-file-provider">ej2-firebase-realtime-database-aspcore-file-provider</a> from the GitHub repository.
        </p>

    </div>
}

@section Meta{

    <meta content="This example demonstrates how to configure and use the firebase realtime cloud storage database service in a ASP.NET Core File Manager." />
}
