@using Syncfusion.EJ2

@{
    string[] items = new string[] { "NewFolder", "Cut", "Copy", "Paste", "Delete", "Rename", "SortBy", "Refresh", "Selection", "View", "Details" };
    string[] layout = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
    string[] file = new string[] { "Cut", "Copy", "Paste", "Delete", "Rename", "|", "Details" };
    string[] folder = new string[] { "Open", "|", "Cut", "Copy", "Paste", "|", "Delete", "Rename", "|", "Details" };
}

@section ControlsSection {
    <div class=" control-section">
        <div class="sample-container">
            <ejs-filemanager id="flatdata" fileSystemData="ViewBag.ResultData">
                <e-filemanager-toolbarsettings items="items">
                </e-filemanager-toolbarsettings>
                <e-filemanager-contextmenusettings file="file" folder="folder" layout="layout">
                </e-filemanager-contextmenusettings>
            </ejs-filemanager>
        </div>
    </div>

}

@section ActionDescription {
    <div id="action-description">
        <p>
            This sample demonstrates the flat data rendering of the File Manager component. The File Manager uses a flat data object as list of objects for rendering, eliminating the need to define <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_AjaxSettings" target="_blank" aria-label="Navigate to the AjaxSettings property reference for ASP.NET Core File Manager control">AjaxSettings</a> url.
        </p>
    </div>
}

@section Description {
    <div id="description">
        <p>The File Manager component is used to manage the files and folders in a file system . It supports all the basic file operations such as create, rename, delete, cut, copy, paste, upload, download, and  more.</p>

        <p>To load a folder data as list of objects, use the File Manager component <code><a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_FileSystemData" target="_blank" aria-label="Navigate to the fileSystemData property reference for ASP.NET Core File Manager control">fileSystemData</a></code> property.</p>
    </div>
}

@section Meta {
    <meta name="description" content="This example demonstrates how to render the File Manager with flat data in ASP.NET MVC File Manager control." />
}
@section Title {
    <title>ASP.NET Core File Manager FlatData Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of FlatData in ASP.NET Core File Manager Control</h1>
}