@using Syncfusion.EJ2

@{
    string[] items = new string[] { "NewFolder", "Cut", "Copy", "Paste", "Delete", "Download", "Rename", "SortBy", "Refresh", "Selection", "View", "Details" };
    string[] layout = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
    string[] file = new string[] { "Cut", "Copy", "Paste", "Delete", "Rename", "|", "Details" };
}

@section ControlsSection{
    <div class=" control-section">
        <div class="sample-container">
            <!-- File Manager sample with Node.js service -->
            <ejs-filemanager id="filemanager">
                <e-filemanager-ajaxsettings url="https://ej2-nodejs-service.azurewebsites.net/"
                                            downloadUrl="https://ej2-nodejs-service.azurewebsites.net/Download"
                                            uploadUrl="https://ej2-nodejs-service.azurewebsites.net/Upload"
                                            getImageUrl="https://ej2-nodejs-service.azurewebsites.net/GetImage">
                </e-filemanager-ajaxsettings>
                <e-filemanager-toolbarsettings items="items">
                </e-filemanager-toolbarsettings>
                <e-filemanager-contextmenusettings file="file" layout="layout">
                </e-filemanager-contextmenusettings>
            </ejs-filemanager>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates how to utilize the <a target="_blank" href="https://github.com/SyncfusionExamples/ej2-filemanager-node-filesystem" aria-label="Navigate to github sample for NodeJS file system provider">NodeJS file system provider</a> to manage the files in the File Manager component. The <code>ej2-filemanager-node-filesystem</code> is an npm packages for file system provider which is available in npmjs, refer this <a target="_blank" href="https://www.npmjs.com/package/%40syncfusion/ej2-filemanager-node-filesystem" aria-label="Navigate to NodeJS file system providers for Essential JS 2 File Manager">link</a> to download package.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>The File Manager component is used to explore a file system through a web application, similar to the windows explorer for windows. It supports all the basic file operations such as create, rename, delete and so on.</p>

        <p>
            <b>Note: </b>File Manager's upload functionality is restricted in online demo. To work with upload functionality, please download <a target="_blank" href="https://github.com/SyncfusionExamples/ej2-filemanager-node-filesystem" aria-label="Navigate to github sample for ej2-filemanager-node-filesystem">ej2-filemanager-node-filesystem</a> from the GitHub repository.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the NodeJS File Provider in ASP.NET Core File Manager control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core File Manager NodeJS File Provider Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of NodeJS File Provider in ASP.NET Core File Manager Control</h1>
                }