@using Syncfusion.EJ2

@section ControlsSection{
    <div class=" control-section">
        <div class="sample-container">
             <!-- File Manager full functionalities sample -->
            <ejs-filemanager id="filemanager" view="@Syncfusion.EJ2.FileManager.ViewType.Details">
                <e-filemanager-ajaxsettings url="FileOperations"
                                            downloadUrl="Download"
                                            uploadUrl="Upload"
                                            getImageUrl="GetImage">
                </e-filemanager-ajaxsettings>
            </ejs-filemanager>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the full features of the File Manager that includes toolbar, navigation pane and details view.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The <b>File Manager</b> component is used to explore a file system through a web application, similar to the windows explorer for windows. It supports all the basic file operations such as create, rename, delete, refresh and so on.
        </p>
        <p>
            <b>Note: </b>File Manager's upload functionality is restricted in the online demo. If you need to test upload functionality, please install
            <a target="_blank" href="https://www.syncfusion.com/downloads">Syncfusion Essential Studio </a>on your machine and run the demo.
        </p>

    </div>
}

@section Meta{

    <meta content="This example demonstrates full view of the File Manager like a windows explorer UI in a ASP.NET Core File Manager." />
}