@using Syncfusion.EJ2

@section ControlsSection{
    <div class=" control-section">
        <div class="sample-container">
            <!-- File Manager sample with azure service -->
            <ejs-filemanager id="filemanager">
                <e-filemanager-ajaxsettings url="https://ng2jq.syncfusion.com/ej2-sql-service/api/AzureFileManager/AzureFileoperations"
                                            downloadUrl="https://ng2jq.syncfusion.com/ej2-sql-service/api/AzureFileManager/AzureDownload"
                                            uploadUrl="https://ng2jq.syncfusion.com/ej2-sql-service/api/AzureFileManager/AzureUpload"
                                            getImageUrl="https://ng2jq.syncfusion.com/ej2-sql-service/api/AzureFileManager/AzureGetImage">
                </e-filemanager-ajaxsettings>
            </ejs-filemanager>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates how to utilize the <a target="_blank" href="https://github.com/SyncfusionExamples/ej2-sql-server-database-aspcore-file-provider">SQL server file system provider</a> with File Manager component. To run the service, configure the SQL server database connection using the <code>SetSQLConnection</code> method to set the connection name, table name and rootId of the SQL table.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>The File Manager component is used to explore a file system through a web application, similar to the windows explorer for windows. It supports all the basic file operations such as create, rename, delete and so on.</p>

        <p><b>Note: </b>File Manager’s upload functionality is restricted in the online demo. If you need to test upload functionality, please install 
        <a target="_blank" href="https://www.syncfusion.com/downloads">Syncfusion Essential Studio </a>on your machine and run the demo.</p>
    </div>
}

@section Meta{

    <meta content="This example demonstrates how to configure and use the sql server database service in a ASP.NET Core File Manager." />
}
