@using Syncfusion.EJ2

@{
    string[] items = new string[] { "NewFolder", "Cut", "Copy", "Paste", "Delete", "Download", "Rename", "SortBy", "Refresh", "View", "Details"};
    string[] layout = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
    string[] file = new string[] { "Cut", "Copy", "Paste", "Delete", "Rename", "|", "Details" };
}

@section ControlsSection{
    <div class=" control-section">
        <div class="sample-container">
            <!-- File Manager virtualization feature sample -->
            <ejs-filemanager id="filemanager" enableVirtualization="true">
                <e-filemanager-ajaxsettings url="https://ej2-aspcore-service.azurewebsites.net/api/Virtualization/FileOperations"
                                            downloadUrl="https://ej2-aspcore-service.azurewebsites.net/api/Virtualization/Download"
                                            uploadUrl="https://ej2-aspcore-service.azurewebsites.net/api/Virtualization/Upload"
                                            getImageUrl="https://ej2-aspcore-service.azurewebsites.net/api/Virtualization/GetImage">
                </e-filemanager-ajaxsettings>
                <e-filemanager-toolbarsettings items="items">
                </e-filemanager-toolbarsettings>
                <e-filemanager-contextmenusettings file="file" layout="layout">
                </e-filemanager-contextmenusettings>
            </ejs-filemanager>

        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
         <p>This sample demonstrates UI virtualization of the File Manager component. Scroll the items in details view or large icons view to load the folders/files dynamically. The folder 'Documents' and 'Text Documents' has large set of files in below sample.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>In the demo, enabled virtualization by using <code>enableVirtualization</code> property as true.</p>
        <p>
            <b>Note: </b>File Manager’s upload functionality is restricted in the online demo. If you need to test upload functionality, please install
            <a target="_blank" href="https://www.syncfusion.com/downloads" aria-label="Download Syncfusion Essential Studio">Syncfusion Essential Studio </a>on your machine and run the demo.
        </p>
    </div>
}

@section Meta{
    <meta name="description" content="This example demonstrates the how to enable the virtual scrolling feature in a ASP.NET Core File Manager control." />
}
@section Title{
    <title>ASP.NET Core File Manager Virtualization Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Virtualization in ASP.NET Core File Manager Control</h1>
}
