@page

@using Syncfusion.EJ2
@section ControlsSection {
    <div class=" control-section">
        <div id="wrapper" class="daterangepicker-section">
            <div id="daterangepicker-control">
                <ejs-daterangepicker id="daterangepicker" format="MMM yyyy" placeholder="Choose a Range" start="Year" depth="Year"></ejs-daterangepicker>
            </div>
        </div>
    </div>
}


@section ActionDescription{
    <div id="action-description">
        <p>
            The following sample demonstrates the DateRangePicker component acting as a month range picker. It allows you to select values within the range of months.
        </p>
    </div>

}

@section Description{
    <div id="description">
        <p>
            DatePicker has the <code>Start</code> and the <code>Depth</code> properties that provide options to restrict users from navigating to any Calendar view (year, month, or decade).
        </p>
    </div>

}

@section Meta{
    <meta name="description" content="This example demonstrates the Month Range Picker in ASP.NET Core DateRangePicker control. Explore here for more details." />
}

@*custom code start*@
<style>
    #date_label {
        display: block;
        width: 248px;
        color: rgba(0, 0, 0, 0.58);
        margin-left: 5px;
    }

    #daterangepicker-control {
        max-width: 300px;
        margin: 0 auto;
    }

    #wrapper {
        max-width: 246px;
        margin: 30px auto;
        padding-top: 20px;
    }
</style>
@*custom code end*@
@section Title{
    <title>ASP.NET Core DateRangePicker Month Range Picker Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Month Range Picker in ASP.NET Core DateRangePicker Control</h1>
}