@using Syncfusion.EJ2.HeatMap;
@section ControlsSection{
    @{
        var textStyle = new { size = "15px", fontWeight = "500", fontStyle = "Normal" };
        var xAxisLabel = new string[] { "Austria", "China", "France", "Germany", "Italy", "Mexico", "Spain", "Thailand", "UK", "USA" };
        var yAxisLabel = new string[] { "2010", "2011", "2012", "2013", "2014", "2015", "2016" };
        var cellBorder = new
        {
            width = "1",
            radius = 4,
            color = "white"
        };
    }
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-heatmap id='container' load="window.onHeatmapLoad"  dataSource="ViewBag.data">
                    <e-heatmap-datasourcesettings isJsonData="true" adaptorType="Cell" xDataMapping="rowid" yDataMapping="columnid" valueMapping="value"></e-heatmap-datasourcesettings>
                    <e-heatmap-titlesettings text="Most Visited Destinations by International Tourist Arrivals" textStyle="textStyle">
                    </e-heatmap-titlesettings>
                    <e-heatmap-xaxis labels="xAxisLabel"></e-heatmap-xaxis>
                    <e-heatmap-yaxis labels="yAxisLabel"></e-heatmap-yaxis>
                    <e-heatmap-palettesettings>
                        <e-palettes>
                            <e-palette color="#DCD57E"></e-palette>
                            <e-palette color="#A6DC7E"></e-palette>
                            <e-palette color="#7EDCA2"></e-palette>
                            <e-palette color="#6EB5D0"></e-palette>
                        </e-palettes>
                    </e-heatmap-palettesettings>
                    <e-heatmap-cellsettings border="cellBorder" showLabel="true" format="{value} M"></e-heatmap-cellsettings>
                </ejs-heatmap>
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href="https://en.wikipedia.org/wiki/World_Tourism_rankings" target="_blank">https://en.wikipedia.org/</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.onHeatmapLoad = function (args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
        }
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the overall Olympic medals won by the countries in all the summer Olympic events from the year 2000
            to 2016.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, you can see how to bind JSON data and configure the Heatmap using the data adaptor support. You can bind
            the JSON data with information for each row to the Heatmap using <code>isJsonData</code> and by defining
            the <code>adaptorType</code> properties. In row JSON data, the row header is mapped using the <code>xDataMapping</code>.
        </p>
        <p>
            Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
        </p>
        <br />
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the JSON Cell in ASP.NET Core HeatMap control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core HeatMap JSON Cell Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of JSON Cell in ASP.NET Core HeatMap Control</h1>
                }