@using Syncfusion.EJ2.HeatMap;
@section ControlsSection{
    @{
        var textStyle = new { size = "15px", fontWeight = "500", fontStyle = "Normal" };
        var xAxisLabel = new string[] { "China", "India", "Australia", "Mexico", "Canada", "Brazil",
"USA", "UK", "Germany", "Russia", "France", "Japan" };
        var yAxisLabel = new string[] { "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017" };

    }
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-heatmap id='container' tooltipRender="window.ontooltipRender" load="window.onHeatmapLoad" dataSource="ViewBag.dataSource">
                    <e-heatmap-titlesettings text="GDP Growth Rate for Major Economies (in Percentage)" textStyle="textStyle">
                    </e-heatmap-titlesettings>
                    <e-heatmap-xaxis labels="xAxisLabel" labelRotation="45" labelIntersectAction="None"></e-heatmap-xaxis>
                    <e-heatmap-yaxis labels="yAxisLabel"></e-heatmap-yaxis>
                    <e-heatmap-palettesettings>
                        <e-palettes>
                            <e-palette value=-1 color="#F0D6AD"></e-palette>
                            <e-palette value=0 color="#9da49a"></e-palette>
                            <e-palette value=3.5 color="#d7c7a7"></e-palette>
                            <e-palette value=6.0 color="#6e888f"></e-palette>
                            <e-palette value=7.5 color="#466f86"></e-palette>
                            <e-palette value=10 color="#19547B"></e-palette>
                        </e-palettes>
                    </e-heatmap-palettesettings>
                    <e-heatmap-legendsettings visible="false"></e-heatmap-legendsettings>
                </ejs-heatmap>
            </div>
        </div>
    </div>
    <script type="text/javascript">
          window.onHeatmapLoad = function (args) {
            var selectedTheme = themeName ? themeName : 'Material';
             args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
        }
        window.ontooltipRender = function (args) {
            args.content = [args.yLabel + ' | ' + args.xLabel + ' : ' + args.value + ' %'];
        }
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the GDP growth rate for the countries which are the world’s major economies over the years.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, you can see how to bind array object as data source for heatmap and configure the Heatmap using the data
            adaptor support. You can directly bind the array object to the Heatmap data source with default property settings.
        </p>
        <p>
            Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
        </p>
        <br />
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Row in ASP.NET Core HeatMap control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core HeatMap Row Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Row in ASP.NET Core HeatMap Control</h1>
                }