@{
    ViewData["Title"] = "Variants";
}

@using Syncfusion.EJ2

@section ControlsSection{
<div class="col-lg-12 control-section msg-variant-section">
    <div class="content-wrapper">
        <div class="col-lg-4 col-md-6 content-section">
            <h4>Filled</h4>
            <ejs-message id="msg_default_filled" variant="Filled" content="Editing is restricted"></ejs-message>
            <ejs-message id="msg_info_filled" severity="Info" variant="Filled" content="Please read the comments carefully"></ejs-message>
            <ejs-message id="msg_success_filled" severity="Success" variant="Filled" content="Your message has been sent successfully"></ejs-message>
            <ejs-message id="msg_warning_filled" severity="Warning" variant="Filled" content="There was a problem with your network connection"></ejs-message>
            <ejs-message id="msg_error_filled" severity="Error" variant="Filled" content="A problem occurred while submitting your data"></ejs-message>
        </div>
        <div class="col-lg-4 col-md-6 content-section">
            <h4>Outlined</h4>
            <ejs-message id="msg_default_outlined" variant="Outlined" content="Editing is restricted"></ejs-message>
            <ejs-message id="msg_info_outlined" severity="Info" variant="Outlined" content="Please read the comments carefully"></ejs-message>
            <ejs-message id="msg_success_outlined" severity="Success" variant="Outlined" content="Your message has been sent successfully"></ejs-message>
            <ejs-message id="msg_warning_outlined" severity="Warning" variant="Outlined" content="There was a problem with your network connection"></ejs-message>
            <ejs-message id="msg_error_outlined" severity="Error" variant="Outlined" content="A problem occurred while submitting your data"></ejs-message>
        </div>
        <div class="col-lg-4 content-section">
            <h4>Text</h4>
            <ejs-message id="msg_default" content="Editing is restricted"></ejs-message>
            <ejs-message id="msg_info" severity="Info" content="Please read the comments carefully"></ejs-message>
            <ejs-message id="msg_success" severity="Success" content="Your message has been sent successfully"></ejs-message>
            <ejs-message id="msg_warning" severity="Warning" content="There was a problem with your network connection"></ejs-message>
            <ejs-message id="msg_error" severity="Error" content="A problem occurred while submitting your data"></ejs-message>
        </div>
    </div>
</div>

<style>
    .msg-variant-section .content-section {
        margin: 0 auto;
        max-width: 520px;
        padding-top: 10px;
    }

    .msg-variant-section .e-message {
        margin: 10px 0;
    }

    .msg-variant-section .content-wrapper {
       max-width: 1560px; 
       margin: 0 auto;
    }
</style>
}

@section ActionDescription {
<div id="action-description">
    <p>This sample demonstrates the predefined appearance variants for the ASP.NET Core Message control.</p>
</div>
}
@section Description {
<div id="description">
    <p>The Message control can be displayed with predefined appearance variants. The available variants are <b>Text</b>, <b>Outlined</b> and <b>Filled</b>. The default variant type is <b>Text</b>.</p>
    <ul>
        <li><b>Text</b> - The severity is differentiated using a text color and a light background color.</li>
        <li><b>Outlined</b> - The severity is differentiated using a text color and a border without background.</li>
        <li><b>Filled</b> - The severity is differentiated using a text color and a dark background color.</li>
    </ul>
    <p>In this sample, messages are displayed with different appearances based on the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Notifications.Message.html#Syncfusion_EJ2_Notifications_Message_Variant">variant</a> property.</p>
    <p>More information about Message variants can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/message/variants">documentation</a> section.</p>
</div>
}

@section Meta {
<meta name="description" content="This example demonstrates the Variants in ASP.NET Core Message control. Explore here for more details." />
}

@section Title {
    <title>ASP.NET Core Message Variants Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Variants in ASP.NET Core Message Control</h1>
}
