@using Syncfusion.EJ2
@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div id="signature-control">
            <div class='e-sign-heading'>
                <span id="signdescription">Sign below</span>
                <span class="e-btn-options">
                 <ejs-button id="signsave" cssClass="e-primary e-sign-save" content="SAVE" disabled="true"></ejs-button>
                <ejs-button id="signclear" cssClass="e-primary e-sign-clear" content="CLEAR" disabled="true"></ejs-button>
                </span>
            </div>
            <ejs-signature id="signature" style="height: 90%; width: 100%;" change="change"></ejs-signature>
        </div>
    </div>

    <script>
        document.getElementById('signsave').onclick = function (e) {
            var signature = ej.base.getComponent(document.getElementById('signature'), 'signature');
            signature.save();
        };
        document.getElementById('signclear').onclick = function (e) {
            var signature = ej.base.getComponent(document.getElementById('signature'), 'signature');
            var clrBtn = ej.base.getComponent(document.getElementById('signclear'), 'btn');
            var saveBtn = ej.base.getComponent(document.getElementById('signsave'), 'btn');
            signature.clear();
            if (signature.isEmpty()) {
                saveBtn.disabled = true;
                clrBtn.disabled = true;
            }
        };

        function change() {
            var signature = ej.base.getComponent(document.getElementById('signature'), 'signature');
            var clrBtn = ej.base.getComponent(document.getElementById('signclear'), 'btn');
            var saveBtn = ej.base.getComponent(document.getElementById('signsave'), 'btn');
            if (!signature.isEmpty()) {
                saveBtn.disabled = false;
                clrBtn.disabled = false;
            }
        }
    </script>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Signature control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the basic rendering of the <b>Signature</b> control with the save and clear option.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>The <code>Signature</code> control is a user interface to draw the signature digitally. The <code>Signature</code> control is displayed as a container where end-user can sign their name as a verified signature inside the container.</p>
        <p>In this sample, you can draw the signature. Use the <b>Save</b> button to store your signature as an image file, and the <b>Clear</b> button to clear the signature.</p>
         <p>
              More information about Signature can be found in this
              <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/signature/getting-started"> documentation section</a>.
          </p>
    </div>
}

<script>
    function onClick(args) {
        var signature = ej.base.getComponent(document.getElementById('signature'), 'signature');
        signature.save();
    }
</script>

@*custom code start*@
<style>

    #signature-control {
        height: 300px;
        width: 100%;
        margin: 0;
    }

    #signature-control h4 {
        margin-bottom: 20px;
        text-align: center;
    }

    .e-bigger #signature-control h4 {
        font-size: 20px;
    }

    #signdescription {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .e-sign-clear {
        margin-left: 5px;
    }

    .e-btn-options {
        float: right;
        margin-bottom: 10px;
    }

</style>
@*custom code end*@

@section Title{
                    <title>ASP.NET Core Signature Default Functionalities Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Signature Control</h1>
                }