@using Syncfusion.EJ2;

@section Meta{
    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Arc Gauge control. Explore here for more details." />
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample shows the arc gauge's default rendering. It also shows the most popular social media platforms and the percentage of female users.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render a default arc gauge. The arc gauge helps in the visualization of numerical values of scales in a semi-circular manner. You can use <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.CircularGauge.CircularGaugeAxis.html" aria-label="axes">axes</a>, <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.CircularGauge.CircularGaugeRange.html" aria-label="ranges">ranges</a> and <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.CircularGauge.CircularGaugeAnnotation.html" aria-label="annotations">annotations</a> oriented properties to customize the default appearance of the arc gauge.
        </p>
        <p>
            More information on the arc gauge can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/circular-gauge/getting-started" aria-label="documentation section" aria-label="documentation section">documentation section</a>.
        </p>
    </div>
}

@section ControlsSection{
    <style>
        .titleText {
            font-family:inherit;
            font-size: 22px;
            margin-top: 17px;
        }
        .e-view.tailwind div.titleText,
        .e-view.tailwind-dark div.titleText {
            font-size: 22px;
            margin-top: 0px;
        }
        .annotation {
            font-family: inherit;
            font-size: 18px;
        }
    </style>
    <style type="text/css" media="screen and (max-width:420px)">
        .titleText {
                font-size: 15px;
                margin-top: 12px;
            }
            .annotation {
                font-size: 10px;
            }
            .e-view.tailwind div.titleText,
            .e-view.tailwind-dark div.titleText {
                font-size: 15px;
                margin-top: 0px;
            }
    </style>
    @{
        var labelFont = new Syncfusion.EJ2.CircularGauge.CircularGaugeFont { FontFamily = "Segoe UI", Opacity = 1, Size = "0px" };
    }
    <div class="control-section" style="border-right:0px;" align="center">
        <ejs-circulargauge id="circular" load="gaugeload" height="500px" title="Female (% usage) on popular social network">
            <e-circulargauge-titlestyle size="18px" fontFamily="inherit" opacity=1></e-circulargauge-titlestyle>
            <e-circulargauge-axes>
                <e-circulargauge-axis startAngle="0" endAngle="270" minimum="0" maximum="100" radius="100%">
                    <e-axis-linestyle width="0"></e-axis-linestyle>
                    <e-axis-labelstyle font="labelFont">
                    </e-axis-labelstyle>
                    <e-axis-majorticks height="0" color="transparent"></e-axis-majorticks>
                    <e-axis-minorticks height="0" color="transparent"></e-axis-minorticks>
                    <e-circulargauge-pointers></e-circulargauge-pointers>
                    <e-circulargauge-annotations>
                        <e-circulargauge-annotation content='<div class="titleText" style="color:#c8eab7;">YouTube</div>' angle="344" radius="94%" zIndex="1" />
                        <e-circulargauge-annotation content='<div class="titleText" style="color:#82cdbc;">Instagram</div>' angle="340" radius="81%" zIndex="1" />
                        <e-circulargauge-annotation content='<div class="titleText" style="color:#43b6c4;">Twitter</div>' angle="340" radius="66%" zIndex="1" />
                        <e-circulargauge-annotation content='<div class="titleText" style="color:#1d91bf;">Facebook</div>' angle="332" radius="55%" zIndex="1" />
                        <e-circulargauge-annotation content='<div class="titleText" style="color:#205ea8;">TikTok</div>' angle="328" radius="40%" zIndex="1" />
                        <e-circulargauge-annotation content='<div class="annotation">68%</div>' angle="191" radius="89%" zIndex="1" />
                        <e-circulargauge-annotation content='<div class="annotation">43%</div>' angle="125" radius="75%" zIndex="1" />
                        <e-circulargauge-annotation content='<div class="annotation">21%</div>' angle="67" radius="62%" zIndex="1" />
                        <e-circulargauge-annotation content='<div class="annotation">75%</div>' angle="215" radius="48%" zIndex="1" />
                        <e-circulargauge-annotation content='<div class="annotation">44%</div>' angle="133" radius="33%" zIndex="1" />
                    </e-circulargauge-annotations>
                    <e-circulargauge-ranges>
                        <e-circulargauge-range start="0" end="68" color="#c8eab7" radius="94%" startWidth="22" endWidth="22" />
                        <e-circulargauge-range start="74" end="100" color="#7a7f82" radius="89%" startWidth="1" endWidth="1" />
                        <e-circulargauge-range start="0" end="43" color="#82cdbc" radius="80%" startWidth="22" endWidth="22" />
                        <e-circulargauge-range start="49" end="100" color="#7a7f82" radius="75%" startWidth="1" endWidth="1" />
                        <e-circulargauge-range start="0" end="21" color="#43b6c4" radius="66%" startWidth="22" endWidth="22" />
                        <e-circulargauge-range start="28" end="100" color="#7a7f82" radius="61%" startWidth="1" endWidth="1" />
                        <e-circulargauge-range start="0" end="75" color="#1d91bf" radius="52%" startWidth="22" endWidth="22" />
                        <e-circulargauge-range start="85" end="100" color="#7a7f82" radius="47%" startWidth="1" endWidth="1" />
                        <e-circulargauge-range start="0" end="44" color="#205ea8" radius="38%" startWidth="22" endWidth="22" />
                        <e-circulargauge-range start="55" end="100" color="#7a7f82" radius="34%" startWidth="1" endWidth="1" />
                    </e-circulargauge-ranges>
                </e-circulargauge-axis>
            </e-circulargauge-axes>
        </ejs-circulargauge>
    </div>
}
<script>
    window.gaugeload = function (args) {
    @* custom code start *@
        var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
    @* custom code end *@

         if (theme.indexOf("tailwind") != -1) {
            args.gauge.axes[0].annotations[0].angle = 342;
            args.gauge.axes[0].annotations[0].radius = "92%";
            args.gauge.axes[0].annotations[1].angle = 337;
            args.gauge.axes[0].annotations[1].radius = "80%";
            args.gauge.axes[0].annotations[2].angle = 337;
            args.gauge.axes[0].annotations[2].radius = "65%";
            args.gauge.axes[0].annotations[3].angle = 326;
            args.gauge.axes[0].annotations[3].radius = "55%";
            args.gauge.axes[0].annotations[4].angle = 323;
            args.gauge.axes[0].annotations[4].radius = "39%";
            args.gauge.axes[0].annotations[5].angle = 192;
            args.gauge.axes[0].annotations[5].radius = "91%";
            args.gauge.axes[0].annotations[9].angle = 136;
            args.gauge.axes[0].annotations[9].radius = "34%";
         }
    }
</script>

@section Title{
    <title>ASP.NET Core Arc Gauge Default Functionalities Example - Syncfusion Demos </title>
}

@section Header{
    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Arc Gauge Control</h1>
}