@using Syncfusion.EJ2

@section ActionDescription{
    This sample demonstrates how to use AttendanceTracker in spreadsheets using XlsIO.
    }

@section Meta{
                    <meta name="description" content="This example demonstrates the Attendance Tracker in ASP.NET Core Excel (XlsIO) library. Explore here for more details."/>
                }

@section Description{
            Attendance Tracker or Attendance sheet is essential to any organization. This Attendance tracker is designed to keep one month data. In this application, Employee Name, Supervisor, Present Count, Absent Count, Leave Count, Unplanned%, Planned% and dates for a particular month are available.
<br />
<br />
<b>Features:</b>
<br />
<br />Essential XlsIO supports Attendance Tracker application features. This sample demonstrates following features:
<br />
<br />
<ul>
    <li>Conditional formatting</li>
    <li>Advanced options of Excel--such as color scales, data bars</li>
    <li>Number formats</li>
	<li>Formulas</li>
	<li>Text styles (bold, italic, underline, font name, and font color)</li>
</ul>
    }
@section ControlsSection{
<div class="control-section">
    @{Html.BeginForm("AttendanceTracker", "Excel", FormMethod.Post);
    {
        <div class="rowdiv">
            <p style="font-weight:normal">
                Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
            </p>
        </div>
        <br />
        <div class="rowdiv">
            <div class="celldiv">
                <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px; text-transform:capitalize" />
            </div>
        </div>
    Html.EndForm();
    }
        }        
    </div>
}
@section Title{
                    <title>ASP.NET Core Excel (XlsIO) library - Attendance Tracker Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Attendance Tracker in ASP.NET Core Excel (XlsIO) Library</h1>
                }