@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("ExcelToJSON", "Excel", FormMethod.Post);
            {
                <div class="Common">
                    <div class="tablediv">
                        <div class="rowdiv">
                            <p style="font-weight:normal">
                                Click the "Input Template" button to view the input Excel document. Please note that the Microsoft Excel viewer  or Microsoft Excel is required to view the Excel document.
                            </p>
                            <p style="font-weight:normal">
                                Click the "Convert to JSON" button to view the converted JSON file.
                            </p>
                        </div>
                        <br />
                        <div class="rowdiv">
                            <div class="celldiv">
                                <label style="font-weight:normal">
                                    Convert
                                </label>
                                &nbsp;&nbsp;&nbsp;
                                <select name="ConvertOptions" id="convertOption" style="width:120px;">
                                    <option>Workbook</option>
                                    <option>Worksheet</option>
                                    <option>Range</option>
                                </select>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" id="checkBoxAsSchema" name="checkBox" checked="checked" value="Schema" />
                                <label for="checkBoxAsSchema" style="font-weight:normal">
                                    As Schema
                                </label>
                            </div>
                            <br />
                        </div>
                        <div class="rowdiv">
                            <div class="celldiv">
                                <input id="inputTemplate" class="e-btn" type="submit" name="button" value="Input Template" style="width:150px;text-transform:capitalize" />
                                &nbsp;&nbsp;&nbsp;
                                <input id="convertToJSON" class="e-btn" type="submit" name="button" value="Convert to JSON" style="width:150px;text-transform:capitalize" />
                            </div>
                        </div>
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}

@section ActionDescription{
    This sample demonstrates the conversion of Excel documents to JSON file using Essential XlsIO.
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Excel To JSON in ASP.NET Core Excel (XlsIO) library. Explore here for more details."/>
                }
@section Description{
<p>
    Essential XlsIO supports to convert Excel data to JSON files by simply saving the workbook using the <i>SaveAsJson</i> method.
</p>
<br />
<b>Features:</b>
<br />
<br />
<ul>
    <li>Save as a simple JSON file or a JSON file with XML schema</li>
    <li>Save a workbook to JSON</li>
	<li>Save a worksheet to JSON</li>
	<li>Save a range to JSON</li>
	<li>Save as a stream with the above features</li>
</ul>
}
@section Title{
                    <title>ASP.NET Core Excel (XlsIO) library - Excel To JSON Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Excel To JSON in ASP.NET Core Excel (XlsIO) Library</h1>
                }