@using Syncfusion.EJ2;

@section ActionDescription{
    This sample demonstrates how to use form controls in spreadsheet using XlsIO.
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Form Controls in ASP.NET Core Excel (XlsIO) library. Explore here for more details."/>
                }
@section Description{
    Essential XlsIO can read and write form controls such as text boxes, check boxes, combo boxes and option buttons.
    <br />
    <br /><b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Creating rich reports with text boxes, check boxes, and combo boxes using XlsIO</li>
        <li>Text box formatting</li>
        <li>Check boxes with Cell Link</li>
        <li>Combo boxes with formatting</li>
        <li>Option button with formatting</li>
    </ul>
    <br />
}
@section ControlsSection{
<div class="control-section">
    @{Html.BeginForm("formcontrols", "excel", FormMethod.Post);
    { 
        <p style="font-weight:normal">
            Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
        </p>
        <br />
        <div>
			Save As :
			<input type="radio" id="XLS" name="SaveOption" value="Xls" />
			<label for="XLS" style="font-weight:normal">XLS</label>
			&nbsp;
			<input type="radio" id="XLSX" name="SaveOption" value="xlsx" checked="checked" />
			<label for="XLSX" style="font-weight:normal">XLSX</label>
		</div>
        <br />
        <div class="celldiv">
            <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px; text-transform:capitalize" />
        </div>
    Html.EndForm();
    }
        }
    </div>
}
@section Title{
                    <title>ASP.NET Core Excel (XlsIO) library - Form Controls Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Form Controls in ASP.NET Core Excel (XlsIO) Library</h1>
                }