@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("HTMLToWorksheet", "Excel", FormMethod.Post);
			<p style="font-weight:normal">
				Click the "Input Template" button to view the input HTML document. 
			</p>
			<p style="font-weight:normal">
				Click the "Import" button to view the output Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
			</p>
            <br />
            <div class="celldiv">
                <input id="inputbtn" class="e-btn" type="submit" name="button" value="Input Template" style="width:150px;padding-left:0.5em;text-transform:capitalize" />
                <input id="convertbtn" class="e-btn" type="submit" name="button" value="Import" style="width:150px;padding-left:0.5em;text-transform:capitalize" />
            </div>
        }
    </div>
}

@section ActionDescription{
    This sample demonstrates how to convert HTML table to worksheet using Essential XlsIO.
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Import HTML Table in ASP.NET Core Excel (XlsIO) library. Explore here for more details."/>
                }
@section Description{
    <div class="rowdiv">
      <p>
			Essential XlsIO supports importing HTML tables into Excel worksheets. The <i>ImportHtmlTable</i> method loads an HTML file and imports all the tables in the file to the worksheet.
			</p>
			 <br />
                <br />
                <b>Features:</b>
                <br />
                <ul>
                    <li>Imports HTML table</li>
                    <li>Imports with table formatting </li>
                </ul>
                <br />
    </div>
}
@section Title{
                    <title>ASP.NET Core Excel (XlsIO) library - Import HTML Table Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Import HTML Table in ASP.NET Core Excel (XlsIO) Library</h1>
                }