@using Syncfusion.EJ2;
@section ActionDescription{
    This sample deomonstrates how to layout pivot table using XlsIO.
}

@section Meta{
                    <meta name="description" content="This sample deomonstrates how to layout pivot table using .NET Excel (XlsIO) library."/>
                }

@section Description{
    When there is a need to summarize large reports, Excel allows you to summarize data through pivot table insertion. Microsoft Excel supplies various built-in styles for pivot tables, allowing the creation of pivot tables with rich formats and more flexibility in summarizing reports.
    <br />
    <br />
    <b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Create and layout pivot table from template data</li>
        <li>Format pivot table cells with cell styles</li>
        <li>Convert pivot table to PDF</li>
    </ul>
}

@section ControlsSection{
<div class="control-section">
    @{Html.BeginForm("PivotLayout", "Excel", FormMethod.Post);
        <div class="tablediv">
            <div class="rowdiv">
                <p style="font-weight:normal">
                    Click the "Create Pivot Table" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
                </p>
                <p style="font-weight:normal">
                    Click the "Convert Pivot Table" button to view the converted PDF document. PDF viewer is needed to view the converted PDF document.
                </p>
            </div>
            <br />
            <div class="rowdiv">
                <div class="celldiv">
                    <div>
						Layout options:
						<input type="radio" id="Compact" name="LayoutOption" value="Compact" checked="checked" />
						<label for="Compact" style="font-weight:normal">Compact</label>
						&nbsp;
						<input type="radio" id="Outline" name="LayoutOption" value="Outline" />
						<label for="Outline" style="font-weight:normal">Outline</label>
						&nbsp;
						<input type="radio" id="Tabular" name="LayoutOption" value="Tabular" />
						<label for="Tabular" style="font-weight:normal">Tabular</label>
					</div>
                </div>
                <br />
                <div class="celldiv">
                    <input id="createpivottable" class="e-btn" name="button" type="submit" value="Create Pivot Table" style="width: 200px;text-transform:capitalize" />
                    <input id="convertpivottable" class="e-btn" name="button" type="submit" value="Convert Pivot Table" style="width: 200px;text-transform:capitalize" />
                </div>
            </div>
        </div>
        }
    </div>
}
@section Title{
                    <title>ASP.NET Core Excel (XlsIO) library - Pivot Table Layout Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Pivot Table Layout in ASP.NET Core Excel (XlsIO) Library</h1>
                }