@using Syncfusion.EJ2;

@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("WorksheetToImage", "Excel", FormMethod.Post);
        <p style="font-weight:normal">
            Click the "Input Template" button to view the input Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
        </p>
		<p style="font-weight:normal">
            Click the "Convert To Image" button to view the converted image.
        </p>
        <br />
        
        <div class="celldiv">
            <div>
				Image Format :
				<input type="radio" id="PNG" name="SaveOption" value="png" checked="checked"/>
				<label for="PNG" style="font-weight:normal">PNG</label>
				&nbsp;
				<input type="radio" id="JPEG" name="SaveOption" value="jpeg" />
				<label for="JPEG" style="font-weight:normal">JPEG</label>
			</div>
        </div>
        <br />
        <div class="celldiv">
            <input id="inputbtn" class="e-btn" type="submit" name="button" value="Input Template" style="width:135px;padding-left:0.5em;text-transform:capitalize"/>
            <input id="convertbtn" class="e-btn" type="submit" name="button" value="Convert To Image" style="width:145px;padding-left:0.5em;text-transform:capitalize"/>
        </div>
            }
    </div>   
}
}
@section ActionDescription{
    This sample demonstrates how to convert Worksheets to images using Essential XlsIO.
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Worksheet To Image in ASP.NET Core Excel (XlsIO) library. Explore here for more details."/>
                }
@section Description{
    <div class="rowdiv">
        A worksheet is converted to an image with few limitations. The image is of any format, and can also be saved as the memory stream.
        <br />
        <br />
        <b>Features</b>
        <br />
        <ul>
            <li>Convert entire Excel worksheet into Image.</li>
            <li>Convert specific Excel range into Image.</li>
            <li>Convert Excel document with,</li>
            <li>Pivot tables</li>
            <li>Conditional formatting</li>
            <li>Styles</li>
            <li>Rich-text formatting</li>
            <li>Text alignments</li>
            <li>Images</li>
            <li>Text boxes</li>
            <li>Unicode characters</li>
        </ul>
    </div>
}
@section Title{
                    <title>ASP.NET Core Excel (XlsIO) library - Worksheet To Image Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Worksheet To Image in ASP.NET Core Excel (XlsIO) Library</h1>
                }