@using Syncfusion.EJ2.PivotView
@section ControlsSection{

    <div class="col-lg-9 control-section" style="overflow:auto">
        <div class="content-wrapper">
            <ejs-pivotview id="pivotview" width="100%" height="300">
                <e-datasourcesettings dataSource="@ViewBag.data" expandAll="false" enableSorting="true">
                    <e-formatsettings>
                        <e-field name="Amount" format="C0" maximumSignificantDigits="10" minimumSignificantDigits="1" useGrouping="true"></e-field>
                    </e-formatsettings>
                    <e-rows>
                        <e-field name="Country"></e-field>
                        <e-field name="Product_Categories" caption="Product Categories"></e-field>
                        <e-field name="Products"></e-field>
                    </e-rows>
                    <e-columns>
                        <e-field name="Year"></e-field>
                        <e-field name="Quarter"></e-field>
                        <e-field name="Order_Source" caption="Order Source"></e-field>
                    </e-columns>
                    <e-values>
                        <e-field name="In_Stock" caption="In Stock"></e-field>
                        <e-field name="Sold" caption="Units Sold"></e-field>
                        <e-field name="Amount" caption="Sold Amount"></e-field>
                    </e-values>
                </e-datasourcesettings>
                <e-gridSettings columnWidth="140"></e-gridSettings>
            </ejs-pivotview>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table id="property" title="Properties" style="width: 100%;height:100%;">
            <tbody>
                <tr style="height: 50px">
                    <td>
                        <div>
                            <ejs-radiobutton id="collapse" label="Collapse All" name="DrillOperation" checked="true" change="onChange"></ejs-radiobutton>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            <ejs-radiobutton id="expand" label="Expand All" name="DrillOperation" checked="false" change="onChange"></ejs-radiobutton>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            <ejs-radiobutton id="fy15" label="FY 2015" name="DrillOperation" checked="false" change="onChange"></ejs-radiobutton>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            <ejs-radiobutton id="fy15_q1" label="FY 2015 >> Q1" name="DrillOperation" checked="false" change="onChange"></ejs-radiobutton>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            <ejs-radiobutton id="us" label="United States" name="DrillOperation" checked="false" change="onChange"></ejs-radiobutton>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            <ejs-radiobutton id="us_clothing" label="United States >> Clothing" name="DrillOperation" checked="false" change="onChange"></ejs-radiobutton>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <style>
        #pivotview {
            width: 100%;
            height: 100%;
        }
    </style>
    <script>
        function onChange(args) {
            var id = args.event.target.id;
            var pivotObj = document.getElementById('pivotview').ej2_instances[0];
            if (id !== 'collapse') {
                pivotObj.setProperties({ dataSourceSettings: { expandAll: false, drilledMembers: [] } }, true);
            }
            else {
                pivotObj.dataSourceSettings.drilledMembers = [];
            }
            if (id === 'collapse') {
                pivotObj.dataSourceSettings.expandAll = false;
            }
            else if (id === 'expand') {
                pivotObj.dataSourceSettings.expandAll = true;
            }
            else if (id === 'fy15') {
                pivotObj.dataSourceSettings.drilledMembers = [{ name: 'Year', items: ['FY 2015'] }];
            }
            else if (id === 'fy15_q1') {
                pivotObj.dataSourceSettings.drilledMembers = [{ name: 'Year', items: ['FY 2015'] },
                { name: 'Quarter', items: ['Q1'] }];
            }
            else if (id === 'us') {
                pivotObj.dataSourceSettings.drilledMembers = [{ name: 'Country', items: ['United States'] }];
            }
            else {
                pivotObj.dataSourceSettings.drilledMembers = [{ name: 'Country', items: ['United States'] },
                { name: 'Product_Categories', items: ['Clothing'] }];
            }
        }
    </script>
}

@section PreScripts {
    <script>
        ej.base.enableRipple(false);
    </script>
}

@section ActionDescription{
   <div id="action-description">
       <p>This sample demonstrates the drill up and drill down capabilities of pivot table.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In the sample, the pivot table can be completely expanded as well as collapsed. It can be done using
            <code>expandAll</code> property in pivot table.
            <br><br>Meanwhile a particular row or column header can also be drilled during initial
            loading of the pivot table. It can be done using the
            <code>name</code> and
            <code>items</code> options inside the
            <code>drilledMembers</code> property in pivot table.
        </p>
    </div>
}
