@using Syncfusion.EJ2.PivotView
@section Meta{
                    <meta name="description" content="This example demonstrates the Local Data in ASP.NET Core Pivot Table control. Explore here for more details."/>
                }
@section ControlsSection{
    <div class="control-section" style="overflow:auto">
        <div class="content-wrapper">
            <ejs-pivotview id="pivotview" width="100%" height="290">
                <e-datasourcesettings dataSource="@ViewBag.data" expandAll="false" enableSorting="true">
                    <e-drilledmembers>
                        <e-field name="EnerType" items="@ViewBag.drilledMembers"></e-field>
                    </e-drilledmembers>
                    <e-formatsettings>
                        <e-field name="ProCost" format="C0" maximumSignificantDigits="10" minimumSignificantDigits="1" useGrouping="true"></e-field>
                        <e-field name="PowUnits" format="N0" maximumSignificantDigits="10" minimumSignificantDigits="1" useGrouping="true"></e-field>
                    </e-formatsettings>
                    <e-rows>
                        <e-field name="Year" caption="Production Year"></e-field>
                        <e-field name="HalfYear" caption="Half Year"></e-field>
                        <e-field name="Quarter" caption="Quarter Year"></e-field>
                    </e-rows>
                    <e-columns>
                        <e-field name="EnerType" caption="Energy Type"></e-field>
                        <e-field name="EneSource" caption="Energy Source"></e-field>
                    </e-columns>
                    <e-values>
                        <e-field name="PowUnits" caption="Units (GWh)"></e-field>
                        <e-field name="ProCost" caption="Cost (MM)"></e-field>
                    </e-values>
                </e-datasourcesettings>
                <e-gridSettings columnWidth="120"></e-gridSettings>
            </ejs-pivotview>
        </div>
    </div>

    <style>
        #pivotview {
            width: 100%;
            height: 100%;
        }
        .sb-sample-content-area {
            min-height: 255px !important;
        }
        .control-section {
            min-height: 255px !important;
        }
    </style>
}

@section PreScripts {
    <script>
        ej.base.enableRipple(false);
    </script>
}

@section ActionDescription{
   <div id="action-description">
       <p>This sample demonstrates basic rendering of the pivot table bound to JSON data extracted from a local file.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The pivot table supports JSON data source. The
            <code>dataSourceSettings->dataSource</code> property can be assigned with the JSON data to populate the pivot table.
        </p>
        <p>In this demo, the JSON data is assigned from an external file.</p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Pivot Table Local Data Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Local Data in ASP.NET Core Pivot Table Control</h1>
                }