@using Syncfusion.EJ2.PivotView
@section Meta{
    <meta name="description" content="This demo for Essential JS2 ASP.NET Core Pivot Table control demonstrate integration of pivot table data into a simple pivot chart" />
}
@section ControlsSection{

    <div class="col-lg-9 control-section" style="overflow:auto">
        <div class="content-wrapper">
            <ejs-pivotview id="pivotview" width="100%" height="450" showFieldList="true">
                <e-datasourceSettings dataSource="@ViewBag.data" expandAll="false" enableSorting="true">
                    <e-rows>
                        <e-field name="Country"></e-field>
                        <e-field name="Products"></e-field>
                    </e-rows>
                    <e-columns>
                        <e-field name="Year"></e-field>
                        <e-field name="Order_Source" caption="Order Source"></e-field>
                    </e-columns>
                    <e-values>
                        <e-field name="Amount" caption="Sales Amount"></e-field>
                    </e-values>
                    <e-formatsettings>
                        <e-field name="Amount" format="C" maximumsignificantdigits="10" minimumsignificantdigits="1" usegrouping="true"></e-field>
                    </e-formatsettings>
                    <e-filters>
                        <e-field name="Product_Categories" caption="Product Categories"></e-field>
                    </e-filters>
                </e-datasourceSettings>
                <e-chartSettings title="Sales Analysis" load="onChartLoad"></e-chartSettings>
                <e-displayOption view="Chart"></e-displayOption>
            </ejs-pivotview>
        </div>
    </div>

    <div class="col-lg-3 property-section">
        <table id='property' title='Properties' class='property-panel-table' style="width: 100%;">
            <tbody>
                <tr style="height: 50px">
                    <td>
                        <div>
                            <ejs-dropdownlist id="charttypes" dataSource="@ViewBag.chartTypes" change="onddlChange" index="0" floatLabelType="Auto" placeholder="Chart Types">
                                <e-dropdownlist-fields text="Name" value="Value"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        function onddlChange(args) {
            var pivotObj = document.getElementById('pivotview').ej2_instances[0];
            pivotObj.chartSettings.chartSeries.type = args.value;
        }
        function onChartLoad(args) {
            var selectedTheme = location.hash.split("/")[1];
            selectedTheme = selectedTheme ? selectedTheme : "Material";
            args.chart.theme = selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1);
        }
    </script>
}

@section PreScripts {
    <script>
        ej.base.enableRipple(false);
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates rendering a pivot chart using pivot data. Users can explore the data through drill-up and drill-down operations by clicking the grouping labels. The field list can also be used to change the report at runtime.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this sample, the pivot table control plots a chart based on the pivot report bound to it. This can be
            achieved by setting the property <code>displayOption.view</code> to <code>Chart</code>. The
            built-in options are:</br></br>

            <code>Table</code> -> Renders pivot table only, which is the default.</br>
            <code>Chart</code> -> Renders pivot chart only.</br>
            <code>Both</code> -> Renders both pivot table and pivot chart.</br>
        </p>
        <p>
            You can change the chart types using the <b>Chart Types</b> dropdown list separately.
            The chart types can be set using the <code>chartSettings.chartSeries.type</code> property. The built-in chart
            types
            are:</br></br>

            <code>Column</code></br>
            <code>Line</code></br>
            <code>Spline</code></br>
            <code>Bar</code></br>
            <code>Area</code></br>
            <code>StepArea</code></br>
            <code>SplineArea</code></br>
            <code>StackingColumn</code></br>
            <code>StackingArea</code></br>
            <code>StackingBar</code></br>
            <code>StepLine</code></br>
            <code>Pareto</code></br>
            <code>Bubble</code></br>
            <code>Scatter</code></br>
            <code>StackingColumn100</code></br>
            <code>StackingBar100</code></br>
            <code>StackingArea100</code></br></br>


            In the sample, the field list option is enabled, through which you can see the result in the chart by altering
            the report dynamically.
            </br>
        </p>
        <p>
            <strong>Injecting Module:</strong>
        </p>
        <p>
            The pivot table features are segregated into individual modules. To take advantage of chart support,
            we need to inject the <code>PivotChart</code> module using the <code>PivotView.Inject(PivotChart)</code> method.
        </p>
    </div>
}