@using Syncfusion.EJ2.PivotView
@section Meta{
    <meta name="description" content="This demo for Essential JS2 ASP.NET Core Pivot Table control demonstrate the showing and hiding grand totals and subtotals in rows, columns, or both." />
}
@section ControlsSection{

    <div class="col-lg-8 control-section">
        <div class="content-wrapper">
            <ejs-pivotview id="pivotview" width="100%" height="400">
                <e-datasourcesettings dataSource="@ViewBag.data" expandAll="false" enableSorting="true" showGrandTotals="false">
                    <e-formatsettings>
                        <e-field name="Amount" format="C0" maximumSignificantDigits="10" minimumSignificantDigits="1" useGrouping="true"></e-field>
                    </e-formatsettings>
                    <e-drilledmembers>
                        <e-field name="Country" items="@ViewBag.drilledMembers"></e-field>
                    </e-drilledmembers>
                    <e-filtersettings>
                        <e-field name="Products" items="@ViewBag.filterMembers" type="Include"></e-field>
                    </e-filtersettings>
                    <e-rows>
                        <e-field name="Country"></e-field>
                        <e-field name="Products"></e-field>
                    </e-rows>
                    <e-columns>
                        <e-field name="Year"></e-field>
                        <e-field name="Order_Source" caption="Order Source"></e-field>
                    </e-columns>
                    <e-values>
                        <e-field name="In_Stock" caption="In Stock"></e-field>
                        <e-field name="Sold" caption="Units Sold"></e-field>
                        <e-field name="Amount" caption="Sold Amount"></e-field>
                    </e-values>
                    <e-filters>
                        <e-field name="Product_Categories" caption="Product Categories"></e-field>
                    </e-filters>
                </e-datasourcesettings>
                <e-gridSettings columnWidth="140"></e-gridSettings>
            </ejs-pivotview>
        </div>
    </div>
    <div class="col-lg-4 property-section pivot-table-property-section">
        <table id="property" title="Properties" style="width: 100%;height:100%;">
            <tbody>
                <tr style="height: 50px">
                    <td>
                        <div style="font-weight: 600; font-size: 13px">
                            Hide grand totals
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            <ejs-radiobutton id="rowradio" label="Row" name="Total" value="Row" change="onChange"></ejs-radiobutton>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            <ejs-radiobutton id="columnradio" label="Column" name="Total" value="Column" change="onChange"></ejs-radiobutton>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            <ejs-radiobutton id="bothradio" label="Both" name="Total" value="Both" checked="true" change="onChange"></ejs-radiobutton>
                        </div>
                    </td>
                </tr>
				<tr style="height: 50px">
                    <td>
                        <div style="font-weight: 600; font-size: 13px">
                            Hide sub-totals
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            <ejs-multiselect id="values" placeholder="Select fields to hide its sub-totals" dataSource="@ViewBag.fielddata" mode="CheckBox" showDropDownIcon="true" showClearButton="false" enableSelectionOrder="true" select="onSelect" removed="onRemoved" open="onOpen">
                                <e-multiselect-fields text="Name"></e-multiselect-fields>
                            </ejs-multiselect>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <style>
        #pivotview {
            width: 100%;
            height: 100%;
        }

        .pivot-table-property-section {
            overflow: auto;
        }

        .pivot-table-property-section .e-multiselect {
            padding: 0;
        }
    </style>
    <script>
        function onChange(args) {
            var pivotObj = document.getElementById('pivotview').ej2_instances[0];
            pivotObj.setProperties({ dataSourceSettings: { showGrandTotals: true } }, true);
            pivotObj.setProperties({ dataSourceSettings: { showRowGrandTotals: true } }, true);
            pivotObj.setProperties({ dataSourceSettings: { showColumnGrandTotals: true } }, true);
            if (args.value === 'Column') {
                pivotObj.dataSourceSettings.showColumnGrandTotals = false;
            } else if (args.value === 'Row') {
                pivotObj.dataSourceSettings.showRowGrandTotals = false;
            } else if (args.value === 'Both') {
                pivotObj.dataSourceSettings.showGrandTotals = false;
            }
        }
        function onSelect(args) {
            var pivotObj = document.getElementById('pivotview').ej2_instances[0];
            for (var i = 0; i< pivotObj.dataSourceSettings.columns.length; i++) {
                if ((pivotObj.dataSourceSettings.columns[i].name || pivotObj.dataSourceSettings.columns[i].caption) === args.itemData.Name) {
                    pivotObj.dataSourceSettings.columns[i].showSubTotals = false;
                }
            }
            for (var i = 0; i< pivotObj.dataSourceSettings.rows.length; i++) {
                if ((pivotObj.dataSourceSettings.rows[i].name || pivotObj.dataSourceSettings.rows[i].caption) === args.itemData.Name) {
                    pivotObj.dataSourceSettings.rows[i].showSubTotals = false;
                }
            }
        }
        function onRemoved(args) {
            var pivotObj = document.getElementById('pivotview').ej2_instances[0];
            for (var i = 0; i< pivotObj.dataSourceSettings.columns.length; i++) {
                if ((pivotObj.dataSourceSettings.columns[i].name || pivotObj.dataSourceSettings.columns[i].caption) === args.itemData.Name) {
                    pivotObj.dataSourceSettings.columns[i].showSubTotals = true;
                }
            }
            for (var i = 0; i< pivotObj.dataSourceSettings.rows.length; i++) {
                if ((pivotObj.dataSourceSettings.rows[i].name || pivotObj.dataSourceSettings.rows[i].caption) === args.itemData.Name) {
                    pivotObj.dataSourceSettings.rows[i].showSubTotals = true;
                }
            }
        }
        function onOpen(args) {
            // args.popup.element.querySelector(".e-filter-parent").style.display = 'none';
        }
    </script>
}

@section PreScripts {
    <script>
        ej.base.enableRipple(false);
    </script>
}

@section ActionDescription{
   <div id="action-description">
       <p>This sample demonstrates showing and hiding grand totals and subtotals in rows, columns, or both at runtime. Also, end users can specify and hide subtotals of specific fields.</p>
    </div>
}

@section Description{
<div id="description">
    <p>
        In this sample, you can hide grand totals in row, column, or both using radio buttons available under the <b>Hide grand totals</b> category. To hide grand totals in both row and column, set the property <code>DataSourceSettings->ShowGrandTotals</code> as false. To hide the row and column grand totals separately, set the property <code>DataSourceSettings->ShowRowGrandTotals</code> and <code>DataSourceSettings->ShowColumnGrandTotals</code>as false.
    </p>
    <p>
        Also, in this sample, you can hide subtotals for specific fields too. It can be achieved by selecting appropriate fields from the drop-down available under the <b>Hide sub-totals</b> category. To hide subtotals for a specific field, set the <code>ShowSubTotals</code> property as false inside the field definition.
    </p>
</div>
}
