@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div id="container" align='center'>
            <ejs-bulletchart id="bulletgraph" height="400" minimum="5" maximum="45" interval="5"
                             titlePosition="@Syncfusion.EJ2.Charts.TextPosition.Top"
                             title="Sprint Planning" categoryField="name" valueField="completedStories"
                             subtitle="Estimated in story points"
                             targetField="requiredStories" load="onLoad">
                <e-bulletchart-animation enable="false"></e-bulletchart-animation>
                <e-bulletchart-tooltipsettings enable="true"></e-bulletchart-tooltipsettings>
                <e-bullet-range-collection>
                    <e-bullet-range end="25" opacity="1" color="#DBE7F3"></e-bullet-range>
                    <e-bullet-range end="37" opacity="1" color="#BBCEE7"></e-bullet-range>
                    <e-bullet-range end="45" opacity="1" color="#96B2D7"></e-bullet-range>
                </e-bullet-range-collection>
                <e-bulletchart-minorticklines width="0"></e-bulletchart-minorticklines>
            </ejs-bulletchart>
        </div>
    </div>
    @*custom code start*@
    <script type="text/javascript">
      var onLoad = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.bulletChart.dataSource = bulletData;
            args.bulletChart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/contrast/i, 'Contrast'));
            args.bulletChart.width = ej.base.Browser.isDevice ? "100%" : "80%";
        }
        var bulletData = [
            {
                requiredStories: 20,
                completedStories: 25,
                name: 'David'
            },
            {
                requiredStories: 25,
                completedStories: 20,
                name: 'Asif'
            },
            {
                requiredStories: 15,
                completedStories: 10,
                name: 'Thomas'
            },
            {
                requiredStories: 40,
                completedStories: 39,
                name: 'Rohit'
            },
            {
                requiredStories: 35,
                completedStories: 40,
                name: 'Virat'
            },
            {
                requiredStories: 28,
                completedStories: 25,
                name: 'Jude'
            },
            {
                requiredStories: 10,
                completedStories: 18,
                name: 'Warner'
            },
            {
                requiredStories: 30,
                completedStories: 28,
                name: 'Malik'
            }
        ];
    </script>
    @*custom code end*@
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Multiple Data in ASP.NET Core BulletChart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        This sample illustrates a bullet chart with multiple data to compare different values.
    </div>
}
@section Description{
    <div id="description">
        <p>
            Tooltip is enabled in this example. To see the tooltip in action, hover a feature bar or comparative bar on the bullet chart.
        </p>
    </div>
}
@section Scripts {
}

<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@section Title{
                 <title>ASP.NET Core BulletChart Multiple Data Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example of Multiple Data in ASP.NET Core BulletChart Control</h1>
            }