@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div class="control-wrapper">
            <div class="control-section">
                <ejs-richtexteditor id="default" value="@ViewBag.value"></ejs-richtexteditor>
            </div>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the default rendering of the rich text editor with minimum configuration.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The rich text editor is WYSIWYG ("what you see is what you get") editor that is used to create and
            edit content, and return valid HTML markup. The editor provides a standard toolbar to format content using its commands.
            The toolbar contains commands to align the text,
            insert link, insert image, insert list, undo/redo the operation, HTML view, and more.
        </p>
    </div>
}

