@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div class="control-wrapper">
            <div class="control-section">
                <ejs-richtexteditor id="default" value="@ViewBag.value"></ejs-richtexteditor>
            </div>
        </div>
    </div>

}

@*custom code start*@

@section Meta{
    <meta name="description" content="This demo for Essential JS 2  rich text editor control shows the users to add their commands to the toolbar along with the built-in commands."/>
}

@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the default rendering of the rich text editor with minimum configuration in ASP.NET CORE application.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The rich text editor is WYSIWYG ("what you see is what you get") editor that is used to create and
            edit content, and return valid HTML markup. The editor provides a standard toolbar to format content using its commands.
            The toolbar contains commands to align the text,
            insert link, insert image, insert list, undo/redo the operation, HTML view, and more.
        </p>
    </div>
}

