@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div class="control-wrapper">
            <ejs-richtexteditor id="importRTE" value="@ViewBag.rteValue" created="created"
                actionComplete="actionCompleteHandler" beforeQuickToolbarOpen="quickToolbarOpenHandler"
                quickToolbarClose="quickToolbarClosehandler">
                <e-richtexteditor-toolbarsettings items="@ViewBag.tools" ></e-richtexteditor-toolbarsettings>
            </ejs-richtexteditor>

            <ejs-uploader id="rteCustomWordUpload" allowedExtensions=".docx,.doc,.rtf" success="onUploadSuccess" asyncsettings="@ViewBag.UploaderAjaxSettings" created="uploaderCreated"
                htmlAttributes="@ViewBag.htmlAttribute">
            </ejs-uploader>
        </div>
    </div>
    <script type="text/javascript">
        var rteObj, uploaderObj;
        var hostUrl = 'https://ej2services.syncfusion.com/production/web-services/';
        function created() {
            rteObj = this;
            var importDoc = rteObj.element.querySelector('#custom_tbarbtn_1');
            importDoc.onclick = function (e) {
                uploaderObj.element.click();
            }
        }
        function uploaderCreated() {
            uploaderObj = this;
        }
        function onUploadSuccess(args) {
            rteObj.executeCommand('insertHTML', args.e.currentTarget.response, { undo: true });
        }
        function actionCompleteHandler(e) {
            if (e.requestType === 'SourceCode') {
                rteObj.getToolbar().querySelector('#custom_tbarbtn_1').parentElement.classList.add('e-overlay');
            } else if (e.requestType === 'Preview') {
                rteObj.getToolbar().querySelector('#custom_tbarbtn_1').parentElement.classList.remove('e-overlay');
            }
        }
        function quickToolbarOpenHandler(e) {
            if (!ej.base.isNullOrUndefined(e.targetElement) && e.targetElement.nodeName === 'IMG') {
                rteObj.getToolbar().querySelector('#custom_tbarbtn_1').parentElement.classList.add('e-overlay');
            }
        }
        function quickToolbarClosehandler(e) {
            if (!ej.base.isNullOrUndefined(args.element) && args.element.classList.contains('e-rte-image-popup')) {
                rteObj.getToolbar().querySelector('#custom_tbarbtn_1').parentElement.classList.remove('e-overlay');
            }
        }
    </script>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Import the Word document in the ASP.NET Core Rich Text Editor control. Explore here for more details."/>
                }

@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>This example illustrates how to efficiently import the Word document into the Rich Text Editor.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this demo, the Word document can be imported as Rich Text Editor content by clicking the import to
            Word icon, browsing for the document, and uploading it to the server, where it is converted to HTML and
            then sent to the Rich Text Editor as its value.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Rich Text Editor Import from Word Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Import from Word in ASP.NET Core Rich Text Editor Control</h1>
                }