@using Syncfusion.EJ2
@section ControlsSection{
    <div class="col-lg-8 control-section">
        <div class="control-wrapper">
            <div class="control-section">
                <ejs-richtexteditor id="inline" created="created" value="@ViewBag.value">
                    <e-richtexteditor-format width="auto"></e-richtexteditor-format>
                    <e-richtexteditor-inlinemode enable="true" onSelection="true"></e-richtexteditor-inlinemode>
                    <e-richtexteditor-fontfamily width="auto"></e-richtexteditor-fontfamily>
                    <e-richtexteditor-toolbarsettings items="@ViewBag.items"></e-richtexteditor-toolbarsettings>
                </ejs-richtexteditor>
            </div>
        </div>
    </div>
    <div class="col-lg-4 property-section" id="all-option-table">
        <table id="property" title="Properties">
            <tbody>
                <tr>
                    <td style="padding-right: 10px">
                        <div style="padding-left: 0;padding-top: 0">
                            <ejs-checkbox id="select" label="Show on Selection" checked="true" change="select_onChange"></ejs-checkbox>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <style>
        .control-section {
            padding-top: 35px;
        }
    </style>
}

@*custom code start*@

@section Meta{
    <meta name="description" content="This demo for Essential JS 2  rich text editor control demonstrates on how to activate the editor on demand while editing the content."/>
}

@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the toolbar show on inline mode. Toolbar show while selection on the below editable content and
            it hide on focus out from edit area.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The rich text editor provides an option to display toolbar on demand using mode property. Set mode as inline to enable
            inline editor. The toolbar becomes visible only when the content is selected
        </p>
    </div>
}

<script>
    var defaultRTE;
    function created() {
        defaultRTE = this;
    }
    function select_onChange(args) {
        defaultRTE.inlineMode.onSelection = args.checked;
        defaultRTE.dataBind();
    }
</script>

