@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns;
@using EJ2CoreSampleBrowser_NET6.Models
@{
    var sportsData = new EmailData().EmailList();
    char nameMentionChar = '@';

}
@section ControlsSection{
<div class="control-section">
    <div class="sample-container">
        <div class="default-section">
            <ejs-richtexteditor id="mention_integration" placeholder="Type @@ and tag the name" actionBegin="actionBegin">
                    <e-content-template>
                        <p>Hello <span contenteditable="false" class="e-mention-chip"><a href="mailto:maria@gmail.com" title="maria@gmail.com">@@Maria</a></span>&#8203;</p>
                        <p>Welcome to the mention integration with rich text editor demo. Type <code>@@</code> character and tag user from the suggestion list. </p>
                    </e-content-template>
            </ejs-richtexteditor>
            <ejs-mention id="mention" target="#mention_integration_rte-edit-view" mentionChar="@nameMentionChar" dataSource="@sportsData" popupHeight="200px" popupWidth="250px" allowSpaces="true" suggestionCount="8" displayTemplate="<a href='mailto:${EmailId}' title=${EmailId}>${Name}</a>" itemTemplate="<table><tr><td><div id='mention-TemplateList'><img class='mentionEmpImage' src='../images/Mention/${Eimg}.png' alt='employee'/><span class='e-badge e-badge-success e-badge-overlap e-badge-dot e-badge-bottom ${Status}'></span></div></td><td><span class='person'>${Name}</span><span class='email'>${EmailId}</span></td></tr></table>">
                 <e-mention-fields text="Name"></e-mention-fields>                                                                                                                                                                                      
            </ejs-mention>
        </div>
    </div>
</div>

    <style>
        #mention-TemplateList {
        position: relative;
        display: inline-block;
        padding:2px;
    }
    .person {
        display: block;
        line-height: 18px;
        text-indent: 5px;
        font-size: 16px;
    }
    .email {
        display: block;
        line-height: 22px;
        text-indent: 2px;
    }
    .mentionEmpImage {
        display: inline-block;
        width: 46px;
        height: 46px;
        padding: 3px;
        border-radius: 25px;
    }
    #mention-TemplateList .e-badge-success {
        left: 76%;
        bottom: 4px;
        top: auto;
    }
    #mention_integration_rte-edit-view_popup .e-dropdownbase .e-list-item {
        line-height: 8px;
    }
    #mention-TemplateList .e-badge-success.away {
        background-color: #fedd2d;
		color: #fff;
    }
	#mention-TemplateList .e-badge-success.busy {
        background-color: #de1a1a;
		color: #fff;
    }
    #mention-TemplateList .e-badge.e-badge-dot {
        height: 10px;
        width: 10px;
    }
    #mention_integration .e-mention-chip{
        cursor: pointer;
    }
    </style>
    <script type="text/javascript">

        function actionBegin(args) {
            if (args.requestType === 'EnterAction') {
                args.cancel = true;
            }
        }
        
    </script>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Mention Integration in ASP.NET Core Rich Text Editor control. Explore here for more details."/>
                }

@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>This example shows how to integrate @@mention component within Rich Text Editor component. Type <code>@@</code> character and select a user from the suggestion list.</p>
    </div>
}
@section Description{
    <div id="description">
        <p> The @@Mention is a component used to display a list of items that users can select or tag from the suggested list. In this demo, configured the following properties with popup dimensions.</p>
            <ul>
                <li><code>allowSpaces</code> - Allows to search a word with space.</li>
                <li><code>suggestionCount</code> - Control the items in suggestion list.</li>
                <li><code>itemTemplate</code> - Used to display the customized appearance in suggestion list.</li>
            </ul>
        
    </div>
}
@section Title{
                    <title>ASP.NET Core Rich Text Editor Mention Integration Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Mention Integration in ASP.NET Core Rich Text Editor Control</h1>
                }