@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div class="control-wrapper">
            <div class="button-content" style="text-align: center">
                <div class="center">
                    Click/Touch the button to view the sample
                </div>
                <div class="center">
                      <a class="e-btn" id="newTab">Open in new tab</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var URL = location.href.replace(location.search, "");
            document.getElementById("newTab").setAttribute("href", URL.split("RichTextEditor")[0] + "RichTextEditor/OnlineEditor");
            document.getElementById("newTab").setAttribute("target", "_blank");
        });
    </script>
    <style>
         .center {
            margin-top: 20px;
         }
    </style>
}

@*custom code start*@

@section Meta{
    <meta name="description" content="This example demonstrates the Online Html Editor in ASP.NET Core Rich Text Editor control. Explore here for more details."/>
}

@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates an HTML content LIVE editing scenario using ASP.NET Core Rich Text Editor. Click the <code>Open in new tab</code> button and you can edit the content in Rich Text Editor and also in the source code view.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>This sample Rich Text Editor enabled most of the features to edit the content quickly such as insert image, table, etc... The source code view is formatted using the <code>Code-mirror</code> plugin.</p>
    </div>
}
@section Title{
    <title>ASP.NET Core Rich Text Editor Online Html Editor Example - Syncfusion Demos </title> 
}
@section Header{
    <h1 class="sb-sample-text">Example of Online Html Editor in ASP.NET Core Rich Text Editor Control</h1>
}
