@using Syncfusion.EJ2
@section ControlsSection{
    <div class="col-lg-8 control-section">
        <div class="content-wrapper" id="all-option-sample">
            <ejs-richtexteditor id="types" height="720px" created="created" actionBegin="handleFullScreen"
                                actionComplete="actionCompleteHandler">
                <e-content-template>
                    <div>
                        <p>The Rich Text Editor is a WYSIWYG ('what you see is what you get') editor useful to create and edit content, and return the valid HTML markup or markdown of the content</p>
                        <p><b> Toolbar </b></p>
                        <ol>
                            <li> <p>The Toolbar contains commands to align the text, insert a link, insert an image, insert list, undo / redo operations, HTML view, etc </p></li>
                            <li> <p>The Toolbar is fully customizable </p></li>
                        </ol>
                        <p><b> Links </b></p>
                        <ol>
                            <li><p>You can insert a hyperlink with its corresponding dialog</p> </li>
                            <li> <p>Attach a hyperlink to the displayed text. </p></li>
                            <li><p>Customize the quick toolbar based on the hyperlink </p> </li>
                        </ol>
                        <p><b> Validation </b></p>
                        <ul><li><p>The editor’s content can be validated on form submission by applying validation rules and validation message </p></li></ul>
                        <p><b> Locale.</b></p>
                        <ul><li><p>The editor provides an option to localize its static strings to adapt the editor to a local language.</p></li></ul>
                        <p><b> Image.</b></p>
                        <ol>
                            <li><p>Allows you to insert images from an online source as well as the local computer</p> </li>
                            <li><p>You can upload an image</p></li>
                            <li> <p>Provides an option to customize the quick toolbar for an image </p> </li>
                        </ol>
                        <img alt='Logo' style="width:300px" src='@Url.Content("~/images/RichTextEditor/RTEImage-Feather.png")' />
                    </div>
                </e-content-template>
                <e-richtexteditor-toolbarsettings type="Expand" enableFloating="false" items="@ViewBag.items"></e-richtexteditor-toolbarsettings>
            </ejs-richtexteditor>
        </div>
    </div>

    <div class="col-lg-4 property-section" id="all-option-table">
        <table id="property" title="Properties">
            <tbody>
                <tr>
                    <td style="padding-right: 10px">
                        <div class="type-prop">
                            <ejs-dropdownlist id="typeddl" dataSource="@ViewBag.data" placeholder="Types" floatLabelType=@Syncfusion.EJ2.Inputs.FloatLabelType.Auto created="dropcreated"
                                              change="onChange" text="Expand">
                                <e-dropdownlist-fields text="text" value="value"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <ejs-checkbox id="float" checked="false" label="Enable Floating" change="checkchange"></ejs-checkbox>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <style>
        /* custom code start */
        .sb-header {
            z-index: 100;
        }

        .property-panel-table div {
            padding-left: 0;
        }

        .sb-content.e-view.hide-header {
            top: 0 !important;
        }

        .sb-header.e-view.hide-header {
            display: none;
        }
        /* custom code end */
    </style>
    <script type="text/javascript">
        var rteObj, dropdownInstance;
        function created() {
            rteObj = this;
        }
        function dropcreated() {
            dropdownInstance = this;
        }
        function onChange() {
            switch (dropdownInstance.value) {
                case 1:
                    rteObj.toolbarSettings.type = ej.richtexteditor.ToolbarType.Expand;
                    break;
                case 2:
                    rteObj.toolbarSettings.type = ej.richtexteditor.ToolbarType.MultiRow;
                    break;
                case 3:
                    rteObj.toolbarSettings.type = ej.richtexteditor.ToolbarType.Scrollable;
                    break;
            }
        }
        function handleFullScreen(e) {
            var sbCntEle = document.querySelector('.sb-content.e-view');
            var sbHdrEle = document.querySelector('.sb-header.e-view');
            if (e.targetItem === 'Maximize') {
                if (ej.base.Browser.isDevice && ej.base.Browser.isIos) {
                    ej.base.addClass([sbCntEle, sbHdrEle], ['hide-header']);
                }
            }
            else if (e.targetItem === 'Minimize') {
                if (ej.base.Browser.isDevice && ej.base.Browser.isIos) {
                    ej.base.removeClass([sbCntEle, sbHdrEle], ['hide-header']);
                }
            }
        }
        function actionCompleteHandler() {
            setTimeout(function () { rteObj.toolbarModule.refreshToolbarOverflow(); }, 400);
        }
        function checkchange(args) {
            rteObj.toolbarSettings.enableFloating = args.checked;
        }
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the different behavior of toolbar support in the Rich Text Editor. Change the toolbar type as multiRow or expand from the property panel to see its appearance . Check or uncheck the floating toolbar in property panel to have a view of its behavior.</p>
    </div>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Type in ASP.NET Core Rich Text Editor control. Explore here for more details."/>
                }

@*custom code end*@

@section Description{
    <div id="description">
        <p>
            The Rich Text Editor allows you to configure different types of toolbar using <code>toolbarSettings.type</code> property. The types of
            toolbar are:
        </p>
        <ul>
            <li><code>Expand</code>: The toolbar hides the overflowing items in the next row. Click the expand arrow to view overflowing toolbar items</li>
            <li><code>Multi Row</code>: The toolbar hides the overflowing items in the next row.</li>
            <li><code>Floating</code>: set boolean value to toolbarSettings.enableFloating property to enable or disable the floating toolbar. </li>
             <li><code>Scrollable</code>: All the elements are displayed in a single line with horizontal scrolling enabled.</li>
        </ul>
    </div>
}
@section Title{
                    <title>ASP.NET Core Rich Text Editor Type Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Type in ASP.NET Core Rich Text Editor Control</h1>
                }