@using Syncfusion.EJ2
@section ControlsSection{
    <div class=" control-section">
        <div class="timepicker-section">
            <div id="wrapper" class="timepicker-control">
                <div class="tabs-wrap">
                    <div class="wrap">
                        <ejs-timepicker id="timepicker" placeholder="Select a time"></ejs-timepicker>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*custom code start*@
<style>
    #wrapper {
        max-width: 246px;
        margin: 30px auto;
        padding-top: 20px;
    }

    .tabs-wrap {
        padding: 0 0px 10px;
    }

    .e-bigger .control-section {
        margin-top: 60px;
    }
</style>
@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            The following sample demonstrates the default functionalities of the TimePicker. Click/Touch the TimePicker popup icon to select a desired time and the selected time value will be displayed in the TimePicker element.
        </p>
    </div>

}

@section Description{
    <div id="description">
        <p>
            A <code>TimePicker</code> is an interactive component that provides an option to select a value from popup list or
            set a desired time value.
        </p>
        <p>
            More information about the TimePicker and it's configuration can be found in the
            <a href="https://ej2.syncfusion.com/aspnetcore/documentation/timepicker/getting-started" target="_blank "aria-label="Navigate to the documentation for getting started with ASP.NET Core TimePicker control" > Documentation section</a>.
        </p>
    </div>

}

@section Meta{
                    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core TimePicker control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core TimePicker Default Functionalities Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core TimePicker Control</h1>
                }
