@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential Presentation (Presentation) : PPTXToImage : Syncfusion";}
@{Html.BeginForm("PPTXToImage", "Presentation", FormMethod.Post); }

@section ActionDescription{
    This sample demonstrates how to convert the PowerPoint slide to an image.
}

@section Description{    
    <b>Features:</b>
    <br />
    <br />
    <ul>	
	<li>Convert all slide elements like text, shape, SmartArt diagram, table, etc., along with its formatting.</li>
    <li>Charts in a slide can be converted to image.</li>
	<li>Slides can be converted to JPEG, PNG formats.</li>
    </ul>
    <br />
}
@section ControlsSection{
    <div class="control-section">
        <div class="rowdiv" style="margin-top: 10px;font-size:14px">
            <p  style="font-weight:normal">
               Click the button to convert the first slide of the PowerPoint presentation to an image by using Essential Presentation.
            </p>
        </div>
        <br />
        <div class="rowdiv">
            <input id="inputbtn" class="e-btn" type="submit" name="view" value="INPUT TEMPLATE" style="width:150px;" />
            <input id="modifybtn" class="e-btn" type="submit" name="view" value="CONVERT TO IMAGE" style="width:190px;" />
        </div>
        <br />        
    </div>
}
@section Title{
                    <title>ASP.NET Core Presentation PPTX To Image Example - Syncfusion Demos </title> 
                }
@section Meta{
                    <meta name="description" content="This example demonstrates the PPTX To Image in ASP.NET Core Presentation control. Explore here for more details."/>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of PPTX To Image in ASP.NET Core Presentation Control</h1>
                }