@using Syncfusion.EJ2

@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div class="control_wrapper">
            <div id="target" class="pane1">
                <ejs-splitter id="outerSplitter" height="400px" orientation="Vertical">
                    <e-splitter-panes>
                        <e-splitter-pane size="53%" min="30%">
                            <e-content-template>
                                <div>
                                    <ejs-splitter id="innerSplitter" height="100%" width="100%">
                                        <e-splitter-panes>
                                            <e-splitter-pane size="29%" min="23%">
                                                <e-content-template>
                                                    <div>
                                                        <div>
                                                            <div class='content'>
                                                                <h3 class='h3'>HTML</h3><div class='code-preview'>
                                                                    &lt;<span>!DOCTYPE html></span><div>&lt;<span>html></span></div>
                                                                    <div>&lt;<span>body></span></div>&lt;<span>div</span> id='custom-image'><div style='margin-left: 5px'>&lt;<span>img</span> src='src/albert.png'></div>
                                                                    <div>&lt;<span>div</span>&gt;</div><div>&lt;<span>/body></span></div><div>&lt;<span>/html></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </e-content-template>
                                            </e-splitter-pane>
                                            <e-splitter-pane size="20%" min="15%">
                                                <e-content-template>
                                                    <div>
                                                        <div>
                                                            <div class='content'>
                                                                <h3 class='h3'>CSS</h3><div class='code-preview'>
                                                                    <span>img {</span><div id='code-text'>margin:<span>0 auto;</span></div>
                                                                    <div id='code-text'>display:<span>flex;</span></div><div id='code-text'>height:<span>70px;</span></div><span>}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </e-content-template>
                                            </e-splitter-pane>
                                            <e-splitter-pane size="35%" min="35%">
                                                <e-content-template>
                                                    <div>
                                                        <div>
                                                            <div class='content'>
                                                                <h3 class='h3'>JavaScript</h3><div class='code-preview'>
                                                                    <span>var </span>
                                                                    image = document.getElementById('custom-image');<div>image.addEventListener('click', function() {</div>
                                                                    <div style='padding-left: 20px;'>// Code block for click action</div><span> }</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </e-content-template>
                                            </e-splitter-pane>
                                        </e-splitter-panes>
                                    </ejs-splitter>
                                </div>
                            </e-content-template>
                        </e-splitter-pane>
                        <e-splitter-pane>
                            <e-content-template>
                                <div>
                                    <div class='content'>
                                        <h3 class='h3'>Preview of sample</h3>
                                        <div class='splitter-image'>
                                            <img class='img1' src='https://ej2.syncfusion.com/demos/src/listview/images/albert.png' style='width: 20%;margin: 0 auto;'>
                                        </div>
                                    </div>
                                </div>
                            </e-content-template>
                        </e-splitter-pane>
                    </e-splitter-panes>
                </ejs-splitter>
            </div>
        </div>
    </div>
}

<style>
    #code-text {
        margin-left: 5px;
    }

    .code-preview {
        margin-top: 15px;
        font-size: 12px;
    }
    /* custom code start */
    #target {
        margin: 20px auto;
        max-width: 600px;
    }
    /* custom code end */

    .control-section {
        min-height: 370px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .h3 {
        font-size: 14px;
        margin: 4px;
    }

    .content {
        padding: 12px;
    }

    .splitter-image {
        margin: 0 auto;
        display: flex;
        height: 115px;
        margin-top: 10px;
    }
	
	#innerSplitter {
        border: none;
    }
</style>

    @section ActionDescription{
        <div id="action-description">
            This example demonstrates the splitter control that is used to design code editor-like application using multiple panes.
            You can resize its panes vertically as well as horizontally.
        </div>
    }

    @section Description{
        <div id="description">
            <p>
                The Splitter is used to design code editor-like application using multiple panes.
                In this code editor layout, display HTML, CSS, and JavaScript (JS) code as horizontal panes at the top and output of
                sample at the bottom pane.
            </p>

        </div>
    }

    @*custom code start*@

    @section Meta{
                    <meta name="description" content="This example demonstrates the Code Editor Layout in ASP.NET Core Splitter control. Explore here for more details."/>
                }

    @*custom code end*@
@section Title{
                    <title>ASP.NET Core Splitter Code Editor Layout Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Code Editor Layout in ASP.NET Core Splitter Control</h1>
                }
