@using Syncfusion.EJ2
@using Syncfusion.EJ2.Spreadsheet

@section ControlsSection{
    <div class="control-section">
        <ejs-spreadsheet id="spreadsheet" showRibbon=false showFormulaBar=false>
            <e-spreadsheet-sheets>
                <e-spreadsheet-sheet name="Monthly Budget" selectedRange="D13">
                    <e-spreadsheet-rows>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Category">
                                    <e-spreadsheet-cellstyle fontWeight="Bold" textAlign="Center"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell value="Planned cost">
                                    <e-spreadsheet-cellstyle fontWeight="Bold" textAlign="Center"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell value="Actual cost">
                                    <e-spreadsheet-cellstyle fontWeight="Bold" textAlign="Center"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell value="Difference">
                                    <e-spreadsheet-cellstyle fontWeight="Bold" textAlign="Center"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Food"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$7000"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$8120"></e-spreadsheet-cell>
                                <e-spreadsheet-cell formula="=B2-C2" format="$#,##0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Loan"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$1500"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$1500"></e-spreadsheet-cell>
                                <e-spreadsheet-cell formula="=B3-C3" format="$#,##0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Medical"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$300"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$0"></e-spreadsheet-cell>
                                <e-spreadsheet-cell formula="=B4-C4" format="$#,##0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Clothing"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$400"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$140"></e-spreadsheet-cell>
                                <e-spreadsheet-cell formula="=B5-C5" format="$#,##0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Education"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$900"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$750"></e-spreadsheet-cell>
                                <e-spreadsheet-cell formula="=B6-C6" format="$#,##0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Insurance"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$30"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$30"></e-spreadsheet-cell>
                                <e-spreadsheet-cell formula="=B7-C7" format="$#,##0.00" ></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Utilities"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$130"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$160"></e-spreadsheet-cell>
                                <e-spreadsheet-cell formula="=B8-C8" format="$#,##0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Enterainment"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$500"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$730"></e-spreadsheet-cell>
                                <e-spreadsheet-cell formula="=B9-C9" format="$#,##0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Maintainance"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$50"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$70"></e-spreadsheet-cell>
                                <e-spreadsheet-cell formula="=B10-C10" format="$#,##0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Transportation"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$250"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$400"></e-spreadsheet-cell>
                                <e-spreadsheet-cell formula="=B11-C11" format="$#,##0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Gifts/Donations"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$0"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="$100"></e-spreadsheet-cell>
                                <e-spreadsheet-cell formula="=B12-C12" format="$#,##0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=2 value="Total Difference:">
                                    <e-spreadsheet-cellstyle fontWeight="Bold" textAlign="Right"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell formula="=D2+D12" format="$#,##0.00">
                                    <e-spreadsheet-cellstyle fontWeight="Bold"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                    </e-spreadsheet-rows>
                    <e-spreadsheet-columns>
                        <e-spreadsheet-column width=110></e-spreadsheet-column>
                        <e-spreadsheet-column width=115></e-spreadsheet-column>
                        <e-spreadsheet-column width=110></e-spreadsheet-column>
                        <e-spreadsheet-column width=100></e-spreadsheet-column>
                    </e-spreadsheet-columns>
                </e-spreadsheet-sheet>
            </e-spreadsheet-sheets>
        </ejs-spreadsheet>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Cell Data Binding in ASP.NET Core Spreadsheet control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample illustrates a monthly budget for a home using planned versus actual costs with cell data binding feature.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The <code>Spreadsheet</code> component supports data binding for individual cells in a sheet. You can set value,
            styles and format to a cell using following properties:
            <ul>
                <li><code>index</code> - Specify index for a cell.</li>
                <li><code>value</code> - Specify cell value.</li>
                <li><code>style</code> - Specify style for the cell.</li>
                <li><code>format</code> - Apply number formatting for the cell.</li>
            </ul>
        </p>
        <p>
            More information about cell data binding feature can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/spreadsheet/getting-started-core">
                documentation
            </a> section.
        </p>
    </div>
}

@*custom code start*@

<style>

    .control-section {
        height: 550px;
    }
    #sb-content .e-spreadsheet .e-tab .e-tab-text {
        display: inherit;
    }
</style>

@*custom code end*@
@section Title{
                 <title>ASP.NET Core Spreadsheet Cell Data Binding Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example of Cell Data Binding in ASP.NET Core Spreadsheet Control</h1>
            }