@using Syncfusion.EJ2
@using Syncfusion.EJ2.Spreadsheet

@section ControlsSection{
    <div class="control-section">
        <ejs-spreadsheet id="spreadsheet" showRibbon=false showFormulaBar=false created="createdHandler" beforeCellRender="beforeCellRender">
            <e-spreadsheet-sheets>
                <e-spreadsheet-sheet name="Order Details" showGridLines=false>
                    <e-spreadsheet-ranges>
                        <e-spreadsheet-range dataSource="ViewBag.orderDetails"></e-spreadsheet-range>
                    </e-spreadsheet-ranges>
                    <e-spreadsheet-rows>
                        <e-spreadsheet-row height=36>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Order ID">
                                    <e-spreadsheet-cellstyle textAlign="Right"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell value="Customer Name">
                                    <e-spreadsheet-cellstyle textIndent="2pt"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell value="Order Date">
                                    <e-spreadsheet-cellstyle textAlign="Right"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell>
                                    <e-spreadsheet-cellstyle textIndent="2pt"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell index=5 value="Postal Code">
                                    <e-spreadsheet-cellstyle textAlign="Right"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell index=7>
                                    <e-spreadsheet-cellstyle textAlign="Center"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell>
                                    <e-spreadsheet-cellstyle textAlign="Right"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell>
                                    <e-spreadsheet-cellstyle textIndent="2pt"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                        <e-spreadsheet-row height=42></e-spreadsheet-row>
                    </e-spreadsheet-rows>
                    <e-spreadsheet-columns>
                        <e-spreadsheet-column width=80></e-spreadsheet-column>
                        <e-spreadsheet-column width=140></e-spreadsheet-column>
                        <e-spreadsheet-column width=100></e-spreadsheet-column>
                        <e-spreadsheet-column width=232></e-spreadsheet-column>
                        <e-spreadsheet-column width=120></e-spreadsheet-column>
                        <e-spreadsheet-column width=100></e-spreadsheet-column>
                        <e-spreadsheet-column width=100></e-spreadsheet-column>
                        <e-spreadsheet-column width=120></e-spreadsheet-column>
                        <e-spreadsheet-column width=80></e-spreadsheet-column>
                    </e-spreadsheet-columns>
                </e-spreadsheet-sheet>
            </e-spreadsheet-sheets>
        </ejs-spreadsheet>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Cell Formatting in ASP.NET Core Spreadsheet control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the <code>Spreadsheet</code> cell formatting feature by applying different styles to a range of cells.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            Cell formatting allows you to highlight cell data that appears in the Spreadsheet. It can be enabled
            or disabled using the <code>
                <a target="_blank" href="https://help.syncfusion.com/cr/cref_files/aspnetcore-js2/Syncfusion.EJ2~Syncfusion.EJ2.Spreadsheet.Spreadsheet~AllowCellFormatting.html">allowCellFormatting</a>
            </code> property.
        </p>
        <p>
            In this sample, gridlines are hidden using the <code>showGridLines</code> property and the styles are
            applied using the <code>
                <a target="_blank" href="https://help.syncfusion.com/cr/cref_files/aspnetcore-js2/Syncfusion.EJ2~Syncfusion.EJ2.Spreadsheet.Cell~Style.html">style</a>
            </code> property and <code>
                <a target="_blank" href="https://ej2.syncfusion.com/documentation/api/spreadsheet/#cellFormat">cellFormat</a>
            </code> method.
        </p>
        <p>
            More information about <code>cell formatting</code> can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/spreadsheet/getting-started-core">
                documentation
            </a> section.
        </p>
    </div>
}

<script>
    function createdHandler() {
        if (this.activeSheetIndex === 0 && this.sheets[this.activeSheetIndex].name === 'Order Details') {
            //Skip setting cell formatting for other sheets
            if (this.sheets[this.activeSheetIndex].name !== 'Order Details') { return; }
            //Applying cell formatting dynamically using cellFormat method
            this.cellFormat({ fontWeight: 'bold', backgroundColor: '#4b5366', color: '#ffffff', fontSize: '12pt' }, 'A1:I1');
            this.cellFormat({ fontWeight: 'bold', textIndent: '2pt' }, 'B2:B16');
            this.cellFormat({ fontStyle: 'italic', textIndent: '2pt' }, 'D2:D16');
            this.cellFormat({ textIndent: '2pt' }, 'E1:E16');
            this.cellFormat({ textIndent: '2pt' }, 'G1:G16');
            this.cellFormat({ textAlign: 'center', fontWeight: 'bold' }, 'H2:H16');
            this.cellFormat({ fontFamily: 'Helvetica New', verticalAlign: 'middle' }, 'A1:I16');
            //Applying border to a range
            this.setBorder({ border: '1px solid #e0e0e0' }, 'A1:I16', 'Outer');
            this.setBorder({ border: '1px solid #e0e0e0' }, 'A2:I15', 'Horizontal');

        }
    }

    function beforeCellRender(args) {
        if (this.activeSheetIndex === 0 && this.sheets[this.activeSheetIndex].name === 'Order Details') {
            if (args.cell && args.cell.value) {
                //Applying cell formatting before rendering the particular cell
                switch (args.cell.value) {
                    case 'Delivered':
                        this.cellFormat({ color: '#10c469', textDecoration: 'line-through' }, args.address);
                        break;
                    case 'Shipped':
                        this.cellFormat({ color: '#62c9e8' }, args.address);
                        break;
                    case 'Pending':
                        this.cellFormat({ color: '#FFC107', textDecoration: 'underline' }, args.address);
                        break;
                    case 'Cancelled':
                        this.cellFormat({ color: '#ff5b5b' }, args.address);
                        break;
                }
            }
        }
    }
</script>

@*custom code start*@

<style>

    .control-section {
        height: 550px;
    }
    #sb-content .e-spreadsheet .e-tab .e-tab-text {
        display: inherit;
    }
</style>

@*custom code end*@
@section Title{
                 <title>ASP.NET Core Spreadsheet Cell Formatting Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example of Cell Formatting in ASP.NET Core Spreadsheet Control</h1>
            }