@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <ejs-spreadsheet id="spreadsheet" showRibbon="false" showFormulaBar="false" allowEditing="false" created="createdHandler" beforeSelect="beforeSelectHandler" beforeCellRender="beforeCellRenderHandler">
            <e-spreadsheet-scrollsettings enableVirtualization="false" isFinite="true"></e-spreadsheet-scrollsettings>
            <e-spreadsheet-selectionsettings mode="None"></e-spreadsheet-selectionsettings>
            <e-spreadsheet-sheets>
                <e-spreadsheet-sheet name="Registration Form" rowCount="40" colCount="30" showGridLines="false">
                    <e-spreadsheet-rows>
                        <e-spreadsheet-row height="55">
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index="1" value="Interview Registration Form">
                                    <e-spreadsheet-cellstyle fontWeight="Bold" textAlign="Center" verticalAlign="Middle" textDecoration="Underline" fontSize="12pt"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row height="45">
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index="1" value="Name">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row height="45">
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index="1" value="Date of Birth:">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row height="45">
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index="1" value="Gender:">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row height="45">
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index="1" value="Year of Experience:">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row height="45">
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index="1" value="Areas of Interest:">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row height="45">
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index="1" value="Mobile Number:">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row height="45">
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index="1" value="Email:">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row height="82">
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index="1" value="Address:">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                    </e-spreadsheet-rows>
                    <e-spreadsheet-columns>
                        <e-spreadsheet-column index="1" width="190"></e-spreadsheet-column>
                        <e-spreadsheet-column width="350"></e-spreadsheet-column>
                    </e-spreadsheet-columns>
                    <e-spreadsheet-ranges>
                        <e-spreadsheet-range template="<input />" address="C2:C3"></e-spreadsheet-range>
                        <e-spreadsheet-range template='<div><input type="radio" name="gender" value="male" /><input type="radio" name="gender" value="female"/></div>' address="C4"></e-spreadsheet-range>
                        <e-spreadsheet-range template="<input />" address="C5:C8"></e-spreadsheet-range>
                        <e-spreadsheet-range template='<textarea rows="3"/>' address="C9"></e-spreadsheet-range>
                        <e-spreadsheet-range template='<button class="e-btn e-flat" style="float:right">Add</button>' address="C11"></e-spreadsheet-range>
                    </e-spreadsheet-ranges>
                </e-spreadsheet-sheet>
            </e-spreadsheet-sheets>
        </ejs-spreadsheet>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Cell Templates in ASP.NET Core Spreadsheet control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates cell template feature with interview registration form scenario using input components.
        </p>
    </div>

}

@section Description{
    <div id="description">
        <p>
            In this demo, cell template is applied to `C2:C9` and instantiated with input components like TextBox, DropDownList,
            RadioButton, MultiSelect, DatePicker etc.
        </p>
        <p>
            More information about cell template feature can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/spreadsheet/getting-started-core">
                documentation
            </a> section.
        </p>
    </div>
}

<script>
    function createdHandler() {
        //Applies format to specified range
        this.cellFormat({ fontWeight: 'bold' }, 'B2:B9');
    }
    function beforeSelectHandler(args) {
        //Prevents selection
        args.cancel = true;
    }
    function beforeCellRenderHandler(args) {
        //Initializing input components before cell rendering
        if (this.activeSheetIndex === 0) {
            var target = args.element.firstElementChild;
            switch (args.address) {
                case 'B1':
                    args.element.colSpan = 2;
                    break;
                case 'C2':
                    new ej.inputs.TextBox({ placeholder: 'Name' }, target);
                    break;
                case 'C3':
                    new ej.calendars.DatePicker({ placeholder: 'DOB', }, target);
                    break;
                case 'C4':
                    new ej.buttons.RadioButton({ label: 'Male' }, args.element.firstElementChild.firstElementChild);
                    new ej.buttons.RadioButton({ label: 'Female' }, args.element.firstElementChild.lastElementChild);
                    break;
                case 'C5':
                    var experience =  ['0 - 1 year', '1 - 3 years', '3 - 5 years', '5 - 10 years'];
                    new ej.dropdowns.DropDownList({
                        placeholder: 'Experience',
                        dataSource: experience
                    }, target);
                    break;
                case 'C6':
                    var languages = ['JAVA', 'C#', 'SQL'];
                    new ej.dropdowns.MultiSelect({
                        showClearButton: false,
                        placeholder: 'Areas of Interest',
                        dataSource: languages
                    }, target);
                    break;
                case 'C7':
                    new ej.inputs.TextBox({
                        placeholder: 'Mobile Number'
                    }, target);
                    break;
                case 'C8':
                    new ej.inputs.TextBox({
                        placeholder: 'Email'
                    }, target);
                    break;
                case 'C9':
                    new ej.inputs.TextBox(null, target);
                    break;
            }
        }
    }
</script>

@*custom code start*@

<style>
    .control-section {
        height: 550px;
    }

    #sb-content .e-spreadsheet .e-tab .e-tab-text {
        display: inherit;
    }

    .e-spreadsheet .e-cell .e-radio-wrapper {
        margin: 5px;
    }

    .e-spreadsheet .e-cell .e-radio-wrapper:first-child {
            margin-left: 0;
    }

    .e-spreadsheet .e-cell .e-radio + label .e-label {
        color: rgba(0, 0, 0, 0.87);
    }

</style>

@*custom code end*@
@section Title{
                    <title>ASP.NET Core Spreadsheet Cell Templates Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Cell Templates in ASP.NET Core Spreadsheet Control</h1>
                }