@using Syncfusion.EJ2
@using Syncfusion.EJ2.Spreadsheet

@section ControlsSection{
    <div class="control-section">
        <ejs-spreadsheet id="spreadsheet" showRibbon=false dataBound="dataBoundEvent">
            <e-spreadsheet-sheets>
                <e-spreadsheet-sheet name="Stock Details" selectedRange="F15">
                    <e-spreadsheet-rangesettings>
                        <e-spreadsheet-rangesetting dataSource="ViewBag.formulaData"></e-spreadsheet-rangesetting>
                    </e-spreadsheet-rangesettings>
                    <e-spreadsheet-rows>
                        <e-spreadsheet-row height=40>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=3 value="High (+)"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="Low (-)"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row index=11 height=25>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=3 value="Average profit:"></e-spreadsheet-cell>
                                <e-spreadsheet-cell index=5 formula="=AVERAGE(F2:F11)" format="0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row height=25>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=3 value="Maximum stock value:"></e-spreadsheet-cell>
                                <e-spreadsheet-cell index=5 formula="=MAX(D2:D11)" format="0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row height=25>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=3 value="Minimum stock value:"></e-spreadsheet-cell>
                                <e-spreadsheet-cell index=5 formula="=MIN(E2:E11)"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row height=25>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=3 value="Non-profitable days:"></e-spreadsheet-cell>
                                <e-spreadsheet-cell index=5 formula="=COUNTIF(F2:F11,'<=0')"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                    </e-spreadsheet-rows>
                    <e-spreadsheet-columns>
                        <e-spreadsheet-column width=100></e-spreadsheet-column>
                        <e-spreadsheet-column width=130></e-spreadsheet-column>
                        <e-spreadsheet-column width=140></e-spreadsheet-column>
                        <e-spreadsheet-column width=140></e-spreadsheet-column>
                        <e-spreadsheet-column width=130></e-spreadsheet-column>
                        <e-spreadsheet-column width=130></e-spreadsheet-column>
                    </e-spreadsheet-columns>
                </e-spreadsheet-sheet>
            </e-spreadsheet-sheets>
        </ejs-spreadsheet>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Formula in ASP.NET Core Spreadsheet control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the analysis of a company's stock value for a certain period with formula feature.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The <code>Spreadsheet</code> component provides a built-in calculation library that supports most commonly used
            formulas.
            In this demo, a formula is specified to a cell using the <code>formula</code> property.
        </p>
        <p>
            More information about formula support can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/spreadsheet/getting-started-core">
                documentation
            </a> section.
        </p>
    </div>
}

<script>
    function dataBoundEvent() {
        if (this.activeSheetTab === 1 && this.sheets[this.activeSheetTab - 1].name === 'Stock Details') {
            this.cellFormat({ fontWeight: 'bold', backgroundColor: '#4ECDC4', textAlign: 'center', fontSize: '14px' }, 'A1:F1');
            this.cellFormat({ backgroundColor: '#F2F2F2' }, 'A2:F11');
            this.cellFormat({ fontWeight: 'bold', backgroundColor: '#C6EFCE' }, 'A12:F15');
            this.numberFormat('0.00', 'F2:F11');
        }
    }
</script>

@*custom code start*@

<style>

    .control-section {
        height: 550px;
    }
    #sb-content .e-spreadsheet .e-tab .e-tab-text {
        display: inherit;
    }
</style>

@*custom code end*@
@section Title{
                 <title>ASP.NET Core Spreadsheet Formula Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for Formula in ASP.NET Core Spreadsheet Control</h1>
            }