@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <ejs-spreadsheet id="spreadsheet" showFormulaBar="false" showRibbon="false" created="createdHandler" openUrl="ImageOpen" saveUrl="ImageSave">
            <e-spreadsheet-sheets>
                <e-spreadsheet-sheet name="Weekly Diet Planner" selectedRange="B4" showGridLines="false">
					<e-spreadsheet-rows>
						<e-spreadsheet-row height=20>
						</e-spreadsheet-row>
						<e-spreadsheet-row height=150>
							<e-spreadsheet-cells>
								<e-spreadsheet-cell index=1>
									<e-cell-images>
										<e-cell-image src="@ViewData["Base64ImageUrl"]" height=149 width=907 top=20 left=20 ></e-cell-image>
										</e-cell-images>
										</e-spreadsheet-cell>
							</e-spreadsheet-cells>
						</e-spreadsheet-row>
						<e-spreadsheet-row height=20>
						</e-spreadsheet-row>
						<e-spreadsheet-row height=50>
							<e-spreadsheet-cells>
								<e-spreadsheet-cell index=1 value="Weekly Diet Planner"></e-spreadsheet-cell>
							</e-spreadsheet-cells>
						</e-spreadsheet-row>
						<e-spreadsheet-row height=20>
						</e-spreadsheet-row>
						<e-spreadsheet-row height=50>
							<e-spreadsheet-cells>
								<e-spreadsheet-cell index=2 value="BREAKFAST"></e-spreadsheet-cell>
								<e-spreadsheet-cell value="LUNCH"></e-spreadsheet-cell>
								<e-spreadsheet-cell value="DINNER"></e-spreadsheet-cell>
								<e-spreadsheet-cell value="SNACKS"></e-spreadsheet-cell>
							</e-spreadsheet-cells>
						</e-spreadsheet-row>
						<e-spreadsheet-row height=50>
							<e-spreadsheet-cells>
								<e-spreadsheet-cell index=1 value="S"></e-spreadsheet-cell>
								<e-spreadsheet-cell value="Bacon, Eggs, and Toast">
								</e-spreadsheet-cell>
							</e-spreadsheet-cells>
						</e-spreadsheet-row>
						<e-spreadsheet-row height=50>
							<e-spreadsheet-cells>
								<e-spreadsheet-cell index=1 value="M"></e-spreadsheet-cell>
								<e-spreadsheet-cell value="Strawberry Waffles"></e-spreadsheet-cell>
							</e-spreadsheet-cells>
						</e-spreadsheet-row>
						<e-spreadsheet-row height=50>
							<e-spreadsheet-cells>
								<e-spreadsheet-cell index=1 value="T"></e-spreadsheet-cell>
								<e-spreadsheet-cell value="Pancakes and Maple Syrup"></e-spreadsheet-cell>
							</e-spreadsheet-cells>
						</e-spreadsheet-row>
						<e-spreadsheet-row height=50>
							<e-spreadsheet-cells>
								<e-spreadsheet-cell index=1 value="W"></e-spreadsheet-cell>
								<e-spreadsheet-cell value="Sausage and Egg Sandwich"></e-spreadsheet-cell>
							</e-spreadsheet-cells>
						</e-spreadsheet-row>
						<e-spreadsheet-row height=50>
							<e-spreadsheet-cells>
								<e-spreadsheet-cell index=1 value="T"></e-spreadsheet-cell>
							</e-spreadsheet-cells>
						</e-spreadsheet-row>
						<e-spreadsheet-row height=50>
							<e-spreadsheet-cells>
								<e-spreadsheet-cell index=1 value="F"></e-spreadsheet-cell>
							</e-spreadsheet-cells>
						</e-spreadsheet-row>
						<e-spreadsheet-row height=50>
							<e-spreadsheet-cells>
								<e-spreadsheet-cell index=1 value="S"></e-spreadsheet-cell>
							</e-spreadsheet-cells>
						</e-spreadsheet-row>
					</e-spreadsheet-rows>
                            <e-spreadsheet-columns>
                                <e-spreadsheet-column width="20"></e-spreadsheet-column>
                                <e-spreadsheet-column width="100"></e-spreadsheet-column>
                                <e-spreadsheet-column width="208"></e-spreadsheet-column>
                                <e-spreadsheet-column width="200"></e-spreadsheet-column>
								<e-spreadsheet-column width="200"></e-spreadsheet-column>
                                <e-spreadsheet-column width="200"></e-spreadsheet-column>
                            </e-spreadsheet-columns>
            </e-spreadsheet-sheet>
          </e-spreadsheet-sheets>
        </ejs-spreadsheet>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Image in ASP.NET Core Spreadsheet control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
		<p>
			This sample explains about the image feature by using weekly diet planner as an example. You can change the height and width of the picture by resizing and move it to another position by drag and drop.
		</p>
    </div>

}

@section Description{
	<div id="description">
		<p>
			In this demo, the image has been inserted in the specific cell position by using the <code>image</code> property in the cell object. You can also insert an image by using the <code>insertImage</code> method.
			To enable or disable this feature use the <code>allowImage</code> property in Spreadsheet.
		</p>
		<p>
			This sample is configured with import and export options. Use <b>Ctrl + O</b> to open an excel file and <b>Ctrl + S</b> to save an excel file with a picture.
		</p>
		<p>
			More information about the Spreadsheet component can be found in this
			<a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/spreadsheet/getting-started-core" aria-label="documentation">
				documentation
			</a> section.
		</p>
	</div>
}

<script>
	//Application level customization
    function createdHandler() {
            this.merge('B2:F2');
            this.merge('B4:F4');
            this.cellFormat({ fontSize: '28pt', fontFamily: 'Arial', color: '#3a3838', verticalAlign: 'middle', textAlign: 'center' }, 'B4');
            this.cellFormat({ fontSize: '16pt', fontFamily: 'Calibri', color: '#757171', verticalAlign: 'middle' }, 'B6:F6');
            this.cellFormat({ fontSize: '14pt', fontFamily: 'Calibri', color: '#757171', verticalAlign: 'middle', textAlign: 'center' }, 'B7:B13');
            this.cellFormat({ fontSize: '14pt', color: '#000000', verticalAlign: 'middle' }, 'C7:F13');
            this.setBorder({ border: '1px solid #e0e0e0' }, 'B7:F13', 'Horizontal');

            }
</script>

@*custom code start*@

<style>
    .control-section {
        height: 590px;
    }
	.e-spreadsheet .e-main-panel .e-main-content {
		margin-left: 0 !important;
	}

	#sb-content .e-spreadsheet .e-tab .e-tab-text {
		display: inherit;
	}

	/* newTab support styles */
	.ej2-new .sb-header,
	.ej2-new .sb-bread-crumb,
	.ej2-new #action-description,
	.ej2-new #description-section,
	.ej2-new #description {
		display: none
	}

	.ej2-new .container-fluid,
	.ej2-new .container-fluid .control-section,
	#sidebar-section {
		padding: 0px;
	}

	.ej2-new .sample-browser > .content.e-view {
		top: 0px;
		padding: 0px;
		text-align: initial;
		height: 100%;
		overflow: hidden;
	}

	.ej2-new .control-section .control-section {
		height: 100vh;
	}
</style>

@*custom code end*@
@section Title{
                    <title>ASP.NET Core Spreadsheet Image Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Image in ASP.NET Core Spreadsheet Control</h1>
                }