@using Syncfusion.EJ2
@using Syncfusion.EJ2.Spreadsheet

@section ControlsSection {
    <div class="control-section">
        <ejs-spreadsheet id="spreadsheet" openUrl="NotesOpen" saveUrl="NotesSave" created="createdHandler">
            <e-spreadsheet-sheets>
                <e-spreadsheet-sheet name="Cart">
                    <e-spreadsheet-ranges>
                        <e-spreadsheet-range dataSource="ViewBag.notesData" startCell="B3"></e-spreadsheet-range>
                    </e-spreadsheet-ranges>
                    <e-spreadsheet-rows>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Shopping Cart" colSpan=6 rowSpan=2>
                                    <e-spreadsheet-cellstyle fontSize="20pt" fontWeight="Bold" textAlign="Center" backgroundColor="#279377" verticalAlign="Middle" color="#ffffff"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row index="2">
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Product ID">
                                    <e-spreadsheet-cellstyle fontWeight="Bold" textAlign="Center"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell>
                                    <e-spreadsheet-cellstyle fontWeight="Bold" textAlign="Center"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell>
                                    <e-spreadsheet-cellstyle fontWeight="Bold" textAlign="Center"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell>
                                    <e-spreadsheet-cellstyle fontWeight="Bold" textAlign="Center"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell>
                                    <e-spreadsheet-cellstyle fontWeight="Bold" textAlign="Center"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell>
                                    <e-spreadsheet-cellstyle fontWeight="Bold" textAlign="Center"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="101">
                                    <e-spreadsheet-cellstyle textAlign="Left"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="102">
                                    <e-spreadsheet-cellstyle textAlign="Left"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="103">
                                    <e-spreadsheet-cellstyle textAlign="Left"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="104">
                                    <e-spreadsheet-cellstyle textAlign="Left"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="105">
                                    <e-spreadsheet-cellstyle textAlign="Left"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="106">
                                    <e-spreadsheet-cellstyle textAlign="Left"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="107">
                                    <e-spreadsheet-cellstyle textAlign="Left"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="108">
                                    <e-spreadsheet-cellstyle textAlign="Left"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="109">
                                    <e-spreadsheet-cellstyle textAlign="Left"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=4 value="Total Amount">
                                    <e-spreadsheet-cellstyle border="1px solid #A6A6A6" fontWeight="Bold" textAlign="Center" verticalAlign="Middle"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell formula="=Sum(F4:F12)" format="$#,##0.00">
                                    <e-spreadsheet-cellstyle border="1px solid #A6A6A6" fontWeight="Bold" textAlign="Right" verticalAlign="Middle"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                    </e-spreadsheet-rows>
                    <e-spreadsheet-columns>
                        <e-spreadsheet-column width=88></e-spreadsheet-column>
                        <e-spreadsheet-column width=120></e-spreadsheet-column>
                        <e-spreadsheet-column width=100></e-spreadsheet-column>
                        <e-spreadsheet-column width=100></e-spreadsheet-column>
                        <e-spreadsheet-column width=100></e-spreadsheet-column>
                        <e-spreadsheet-column width=110></e-spreadsheet-column>
                    </e-spreadsheet-columns>
                </e-spreadsheet-sheet>
            </e-spreadsheet-sheets>
        </ejs-spreadsheet>
    </div>
}
@section Meta {
    <meta name="description" content="This example demonstrates the Notes feature in ASP.NET Core Spreadsheet control. Explore here for more details." />
}

@section ActionDescription {
    <div id="action-description">
        <p>
            This sample demonstrates the <b>Notes</b> feature using the shopping cart scenario as an example. When you hover your mouse over the red indicator in the right corner of the cell, any note attached to the cell will be displayed.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            The <b>Notes</b> feature allows you to add comments while reviewing a document. You can enable or disable the notes option using the <code>enableNotes</code> property; by default, it's enabled. To insert a note into cells, use the
            <b>"Add Note"</b> context menu option. Once added, notes can be edited or removed using the <b>"Edit Note"</b> and
            <b>"Delete Note"</b> context menu options respectively.
        </p>
        <p>The following keyboard shortcuts apply to the <b>Notes</b> feature:</p>
        <ul>
            <li>
                <span class="key-class"><kbd>Shift</kbd> + <kbd>F2</kbd></span>
                <span>- Add a note to the current cell.</span>
            </li>
            <li>
                <span class="key-class"><kbd>Esc</kbd></span>
                <span>- Save and close the note.</span>
            </li>
        </ul>
    </div>
}

<script>
    function createdHandler() {
        this.numberFormat('$#,##0.00', 'F4:F12');
        this.numberFormat('$###', 'E4:E12');
        this.freezePanes(3, 0);
        this.cellFormat({ textAlign: 'left' }, 'A4:A12');
        this.updateCell({ values: 'Coffee Maker', notes: 'This product has been the most profitable this month.' }, "B4");
        this.updateCell({ values: 'Apple Pencil', notes: 'This product has had the lowest sales in terms of quantity this month.' }, "B5");
        this.updateCell({ values: 'Juicer', notes: 'This product has been the least profitable this month.' }, "B6");
        this.updateCell({ values: 'Tea Kettle', notes: 'This product has had the highest sales in terms of quantity this month.' }, "B8");
    }
</script>

@*custom code start*@

<style>
    .key-class {
        display: inline-block;
        width: 130px;
    }

    .control-section {
        height: 550px;
    }
</style>

@*custom code end*@
@section Title {
    <title>ASP.NET Core Spreadsheet Notes Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Notes in ASP.NET Core Spreadsheet Control</h1>
}
