@using Syncfusion.EJ2
@using Syncfusion.EJ2.Spreadsheet

@section ControlsSection{
    <div class="control-section">
        <ejs-spreadsheet id="spreadsheet" showRibbon=false showFormulaBar=false created="createdHandler">
            <e-spreadsheet-sheets>
                <e-spreadsheet-sheet name="Restaurant Invoice" selectedRange="E17">
                    <e-spreadsheet-ranges>
                        <e-spreadsheet-range dataSource="ViewBag.numberFormatData" startCell="A3"></e-spreadsheet-range>
                    </e-spreadsheet-ranges>
                    <e-spreadsheet-rows>
                        <e-spreadsheet-row height=30>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Customer Name"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="Cristi Espinos"></e-spreadsheet-cell>
                                <e-spreadsheet-cell index=3 value="Waiter Name"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="Raye Whines"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row height=30>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell value="Table No."></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="8"></e-spreadsheet-cell>
                                <e-spreadsheet-cell index=3 value="Date"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="5/7/2019"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row index=14>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=1 value="Subtotal:"></e-spreadsheet-cell>
                                <e-spreadsheet-cell index=4 formula="=SUBTOTAL(9,E4:E14)" format="$#,##0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=1 value="Discount (8%):"></e-spreadsheet-cell>
                                <e-spreadsheet-cell index=4 formula="=PRODUCT(8,E15)/100" format="$#,##0.00"></e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=1 value="Total Amount:">
                                    <e-spreadsheet-cellstyle fontWeight="Bold"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                                <e-spreadsheet-cell index=4 formula="=SUM(E15-E16)" format="$#,##0.00">
                                    <e-spreadsheet-cellstyle fontWeight="Bold"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                    </e-spreadsheet-rows>
                    <e-spreadsheet-columns>
                        <e-spreadsheet-column width=120></e-spreadsheet-column>
                        <e-spreadsheet-column width=180></e-spreadsheet-column>
                        <e-spreadsheet-column width=100></e-spreadsheet-column>
                        <e-spreadsheet-column width=120></e-spreadsheet-column>
                        <e-spreadsheet-column width=120></e-spreadsheet-column>
                    </e-spreadsheet-columns>
                </e-spreadsheet-sheet>
            </e-spreadsheet-sheets>
        </ejs-spreadsheet>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Number Formatting in ASP.NET Core Spreadsheet control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates number formatting feature with a restaurant invoice.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In this demo, number formatting is applied to specific cells by using the <code>format</code> property,
            and a range of cells by using the <code>numberFormat</code> method.
        </p>
        <p>
            In the Amount column, we have used Custom number formatting to highlight the values less than 350 and greater than 350 with red and blue colors respectively.
        </p>
        <p>
            More information about number formatting can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/spreadsheet/getting-started-core">
                documentation
            </a> section.
        </p>
    </div>
}

<script>
    function createdHandler() {
        //Applied style and number formatting to range of the active sheet
        this.cellFormat({ fontWeight: 'bold' }, 'A1:E2');
        this.cellFormat({ textAlign: 'center', fontWeight: 'bold' }, 'A3:E3');
        this.cellFormat({ textAlign: 'center' }, 'A4:A14');
        this.cellFormat({ textAlign: 'center' }, 'C4:C14');
        this.cellFormat({ backgroundColor: '#F9FBE7' }, 'A4:E15');
        this.cellFormat({ backgroundColor: '#1E88E5', color: '#F5F5F5' }, 'A1:E2');
        this.cellFormat({ backgroundColor: '#BBDEFB' }, 'A3:E3');
        this.cellFormat({ backgroundColor: '#B3E5FC' }, 'A15:E17');
        this.numberFormat('$#,##0.00', 'D4:E14');
        this.numberFormat('$#,##0.00', 'E15:E17');
        this.numberFormat('[Red][<=350]$#,##0.00;[Blue][>350]$#,##0.00', 'E4:E14');
    }
</script>

@*custom code start*@

<style>
    .control-section {
        height: 550px;
    }
    #sb-content .e-spreadsheet .e-tab .e-tab-text {
        display: inherit;
    }
</style>

@*custom code end*@
@section Title{
                    <title>ASP.NET Core Spreadsheet Number Formatting Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Number Formatting in ASP.NET Core Spreadsheet Control</h1>
                }