@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <ejs-spreadsheet password="spreadsheet" openUrl="ProtectsheetOpen" saveUrl="ProtectsheetSave" id="spreadsheet" created="createdHandler" beforeCellRender="beforeCellRenderHandler">
            <e-spreadsheet-sheets>
                <e-spreadsheet-sheet name="EMI Calculator" isProtected="true">
                    <e-spreadsheet-rows>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=1 value="Home Loan Calculator">
                                    <e-spreadsheet-cellstyle fontWeight="Bold" textAlign="Center"></e-spreadsheet-cellstyle>
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=1 value="Loan Amount:"></e-spreadsheet-cell>
                                <e-spreadsheet-cell format="$#,##0.00" value="100000">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=1 value="Interest Rate:"></e-spreadsheet-cell>
                                <e-spreadsheet-cell format="0.00%" value="0.08">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=1 value="Periods (terms in year):"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="1">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=1 value="Start Date:"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="03-03-2020">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=1 value="Loan EMI:"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="8698.84" format="$#,##0.00">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=1 value="Number of Payments:"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="12">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=1 value="Total Repayment Amount:"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="104386.11" format="$#,##0.00">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                        <e-spreadsheet-row>
                            <e-spreadsheet-cells>
                                <e-spreadsheet-cell index=1 value="Total Interest  Amount:"></e-spreadsheet-cell>
                                <e-spreadsheet-cell value="4386.11" format="$#,##0.00">
                                </e-spreadsheet-cell>
                            </e-spreadsheet-cells>
                        </e-spreadsheet-row>
                    </e-spreadsheet-rows>
                            <e-spreadsheet-columns>
                                <e-spreadsheet-column index="1" width="190"></e-spreadsheet-column>
                                <e-spreadsheet-column width="100"></e-spreadsheet-column>
                            </e-spreadsheet-columns>
            </e-spreadsheet-sheet>
                <e-spreadsheet-sheet isProtected="true" name="EMI Schedule">
                    <e-spreadsheet-ranges>
                        <e-spreadsheet-range dataSource="ViewBag.ProtectSheetData" showFieldAsHeader="true"></e-spreadsheet-range>
                    </e-spreadsheet-ranges>
                    <e-spreadsheet-columns>
                        <e-spreadsheet-column index="1" width="110"></e-spreadsheet-column>
                        <e-spreadsheet-column width="85"></e-spreadsheet-column>
                        <e-spreadsheet-column width="85"></e-spreadsheet-column>
                        <e-spreadsheet-column width="80"></e-spreadsheet-column>
                        <e-spreadsheet-column width="90"></e-spreadsheet-column>
                    </e-spreadsheet-columns>
                </e-spreadsheet-sheet>
            </e-spreadsheet-sheets>
        </ejs-spreadsheet>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Protection in ASP.NET Core Spreadsheet control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates protect sheet and protect workbook with EMI calculation scenario as an example. To unprotect the sheet, click the unprotect sheet button in the Data tab. Meanwhile, to unprotect the workbook, click the unprotect workbook button in the data tab and provide the password as <code>spreadsheet</code> in the dialog box.
        </p>
    </div>

}

@section Description{
    <div id="description">
        <p>
            Protect sheet helps you to prevent the users from modifying the data in the spreadsheet. Protect workbook helps you to protect the workbook with a password. In this demo, the `EMI Schedule` sheet is locked using <code>isProtected</code> property inside the `Sheet` property and protect the workbook with a password using <code>password</code> property.
        </p>
        <p>
            More information about protect sheet and lock cell feature can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/spreadsheet/getting-started-core" aria-label="documentation section">
                documentation
            </a> section.
        </p>
    </div>
}

<script>
    var numberFormat = ej.spreadsheet.getFormatFromType('Currency');
    function createdHandler() {
        //Applied style and number formatting to a range
        this.cellFormat({ fontWeight: 'bold', textAlign: 'center' }, 'EMI Schedule!A1:F1');
        this.numberFormat("$#,##0.00", 'EMI Schedule!C2:F13');
        this.numberFormat('m/d/yyyy', 'EMI Calculator!C5:C5');
        this.numberFormat('m/d/yyyy', 'EMI Schedule!B2:B13');

    }
    function beforeCellRenderHandler(args) {
        //Merged cells using custom code
        if (this.activeSheetIndex === 0 && args.address === 'B1') {
            args.element.colSpan = 2;
        }
    }
</script>

@*custom code start*@

<style>
    .control-section {
        height: 550px;
    }
    #sb-content .e-spreadsheet .e-tab .e-tab-text {
        display: inherit;
    }
</style>

@*custom code end*@
@section Title{
                    <title>ASP.NET Core Spreadsheet Protection Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Protection in ASP.NET Core Spreadsheet Control</h1>
                }