@page
@using EJ2CoreSampleBrowser.Models;
@using Syncfusion.EJ2

@section ControlsSection{

    <div class="control-section">

        <ejs-treegrid id="TreeGrid" dataSource="@WrapTask.GetWrapData()" allowTextWrap="true" height="400" allowPaging="true" childMapping="Subtasks" treeColumnIndex="1" allowFiltering="true" allowSorting="true">
            <e-treegrid-filtersettings type="Excel"></e-treegrid-filtersettings>
            <e-treegrid-pagesettings pageSize="8"></e-treegrid-pagesettings>
            <e-treegrid-columns>
                <e-treegrid-column field="TaskID" headerText="Task ID" textAlign="Right" width="140"></e-treegrid-column>
                <e-treegrid-column field="TaskName" headerText="Task Name" width="240"></e-treegrid-column>
                <e-treegrid-column field="Description" headerText="Description (Comprehensive Objectives for Deliverables)" textAlign="Left" width="370"></e-treegrid-column>
                <e-treegrid-column field="EmployeeName" headerText="Assigned To" textAlign="Left" width="180"></e-treegrid-column>
                <e-treegrid-column field="Priority" headerText="Priority" textAlign="Center" width="150"></e-treegrid-column>
                <e-treegrid-column field="Status" headerText="Status" textAlign="Center" width="130"></e-treegrid-column>
                <e-treegrid-column field="StartDate" headerText="Start Date" textAlign="Right" format="yMd" type="date" width="160"></e-treegrid-column>
                <e-treegrid-column field="EndDate" headerText="End Date" textAlign="Right" format="yMd" type="date" width="160"></e-treegrid-column>
            </e-treegrid-columns>
        </ejs-treegrid>

    </div>
}

@*custom code start*@

@section Meta{
    <meta name="description" content="This example demonstrates the AutoWrap Column Cells in ASP.NET Core Tree Grid control. Explore here for more details." />
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the Tree Grid with the text wrap option enabled
        for both headers and cell content. This setting ensures that long header
        text and cell values are fully visible by wrapping onto multiple lines
        instead of being truncated with an ellipsis. </p>
    </div>
}

@section Description{
    <div id="description">
    <p>In this demo, the <strong>"Title"</strong> and <strong>"Description"</strong> columns
        exceeds the available width, so its header and cell content are wrapped
        across multiple lines for better readability. Text wrapping is enabled
        by setting the Tree Grid's <code><a aria-label="API link for documentation"
                target="_blank" class="code"
                href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.treegrid.treegrid.html#Syncfusion_EJ2_TreeGrid_TreeGrid_AllowTextWrap">allowTextWrap</a></code>
        property to <strong>true</strong>, which automatically applies wrapping
        to both header and cell content.</p>
    <p>
        More information about text wrap can be found in this
        <a target="_blank"
            href="https://ej2.syncfusion.com/aspnetcore/documentation/tree-grid/cell/auto-wrap">
            documentation
        </a>section.
    </p>
    </div>
}

@*custom code end*@
@section Title{
    <title>ASP.NET Core Tree Grid AutoWrap Column Cells Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of AutoWrap Column Cells in ASP.NET Core Tree Grid Control</h1>
}
