@page
@using EJ2CoreSampleBrowser.Models;
@using Syncfusion.EJ2

@{
    ViewData["Title"] = "ColumnChooser";
}
<h2>ColumnChooser</h2>

@section ControlsSection{
    <div class="control-section">

        <ejs-treegrid id="TreeGrid" dataSource="@TreeData.GetDefaultData()" showColumnChooser="true" toolbar="@( new List<string>() { "ColumnChooser"})" height="380" childMapping="Children" treeColumnIndex="1">
            <e-treegrid-columns>
                <e-treegrid-column field="TaskId" headerText="Task ID" textAlign="Right" width="95"></e-treegrid-column>
                <e-treegrid-column field="TaskName" headerText="Task Name" width="220" showInColumnChooser="false"></e-treegrid-column>
                <e-treegrid-column field="StartDate" headerText="Start Date" textAlign="Right" format="yMd" type="date" width="115"></e-treegrid-column>
                <e-treegrid-column field="EndDate" headerText="End Date" textAlign="Right" format="yMd" type="date" width="115"></e-treegrid-column>
                <e-treegrid-column field="Duration" headerText="Duration" textAlign="Right" width="100"></e-treegrid-column>
                <e-treegrid-column field="Progress" headerText="Progress" textAlign="Right" width="105"></e-treegrid-column>
                <e-treegrid-column field="Priority" headerText="Priority" width="100"></e-treegrid-column>
            </e-treegrid-columns>
        </ejs-treegrid>

    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the Tree Grid column chooser feature. Click or tap the column chooser
            icon in the toolbar to open column chooser and you can select columns to hide/show from the checkbox list.
        </p>
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Column Chooser in ASP.NET Core Tree Grid control. Explore here for more details." />
}
@section Description{
    <div id="description">
        <p>
            The Tree Grid columns can be shown/hidden dynamically by using column chooser. To enable column chooser behavior, set <code>
                showColumnChooser
            </code> property as true. You can also prevent the display of a column in column chooser by setting
            <code>columns->showInColumnChooser</code> as false in columns definition.

        </p>
        <br />
        <p>
            In this demo, when the user clicks or taps column chooser icon from the toolbar then the column chooser menu will open. User can
            show or hide the columns by changing the state of the checkbox.
        </p>
    </div>
}
@section Title{
    <title>ASP.NET Core Tree Grid Column Chooser Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Column Chooser in ASP.NET Core Tree Grid Control</h1>
}
