@page
@using EJ2CoreSampleBrowser.Models;

@{
    ViewData["Title"] = "StickyHeader";
}

<h2>StickyHeader</h2>

@section ControlsSection{
    <div class="control-section">
        <ejs-treegrid id="TreeGrid" dataSource="@TreeData.GetDefaultData()" clipMode="EllipsisWithTooltip" enableStickyHeader="true" childMapping="Children" treeColumnIndex="1">
            <e-treegrid-columns>
                <e-treegrid-column field='TaskId' headerText='Task ID' width='70' textAlign='Right'></e-treegrid-column>
                <e-treegrid-column field='TaskName' headerText='Task Name' width='200' clipMode="EllipsisWithTooltip"></e-treegrid-column>
                <e-treegrid-column field='StartDate' headerText='Start Date' width='90' format="yMd" textAlign='Right'></e-treegrid-column>
                <e-treegrid-column field='EndDate' headerText='End Date' width='90' format="yMd" textAlign='Right'></e-treegrid-column>
                <e-treegrid-column field='Duration' headerText='Duration' width='80' textAlign='Right'></e-treegrid-column>
                <e-treegrid-column field='Progress' headerText='Progress' width='80' textAlign='Right'></e-treegrid-column>
                <e-treegrid-column field='Priority' headerText='Priority' width='90'></e-treegrid-column>
            </e-treegrid-columns>
        </ejs-treegrid>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the Tree Grid component with the sticky header feature. In this sample, while scrolling the demo page,
            the Tree Grid header will be fixed at the top of its parent element.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>he headers can be fixed while scrolling a TreeGrid's first scrollable parent element. This can be done by setting the enableStickyHeader <code>
            <a target="_blank" class="code" href="https://ej2.syncfusion.com/aspnetcore/documentation/tree-grid/scrolling" aria-label="Navigate to the enableStickyHeader property reference for ASP.NET Core Tree Grid control">enableStickyHeader</a></code> property.
        </p>
        <p>In this demo, while scrolling the demo page, the Tree Grid header will be stick to the top of its parent element.</p>
		<p>More information on the sticky header can be found in this
		<a target="_blank"
        href="https://ej2.syncfusion.com/aspnetcore/documentation/tree-grid/getting-started-core">
		documentation section.
        </p>
    </div>
}
@section Title{
    <title>ASP.NET Core Tree Grid Sticky Header Example - Syncfusion Demos </title>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Sticky Header in ASP.NET Core Tree Grid control. Explore here for more details." />
}
@section Header{
    <h1 class='sb-sample-text'>Example of Sticky Header in ASP.NET Core Tree Grid Control</h1>
}