@page
@using EJ2CoreSampleBrowser.Models
@using Syncfusion.EJ2
@using Newtonsoft.Json
@{
    var data = new Countries().CountriesList();
}
@section ControlsSection{
    <div class="col-lg-12 control-section" style="height: 400px;">
        <div class='control-wrapper'>
            <div style='padding-top:75px;'>
                <ejs-dropdownlist id="country" placeholder="Select a country" allowResize="true" dataSource="@data">
                    <e-dropdownlist-fields text="Name" value="Code"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
        </div>
    </div>

    @*custom code start*@
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 250px;
        }
    </style>
    @*custom code end*@
}
@section Meta{
    <meta name="description" content="This example demonstrates the custom resizing functionalities in ASP.NET Core Dropdown List control. Explore here for more details." />
                }
@section ActionDescription{
    <div id="action-description">
        <p>This example demonstrates the custom resizing functionalities of the DropDownList. You can adjust the size of the popup based on your preferences, allowing for better control over its appearance.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>The DropDownList can be customized to adjust the size of the popup using custom resizing functionalities. By setting AllowResize to true, you enable the ability to resize the popup, allowing you to control its dimensions according to your preferences and providing better management of its appearance.</p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Dropdown List Resize Example - Syncfusion Demos </title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of Resize in ASP.NET Core Dropdown List Control</h1>
                }