@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div class="control_wrapper">
            <ejs-kanban id="Kanban" keyField="Status" dataSource="@ViewBag.data">
                <e-kanban-columns>
                    <e-kanban-column headerText="To Do" keyField="Open"></e-kanban-column>
                    <e-kanban-column headerText="In Progress" keyField="InProgress"></e-kanban-column>
                    <e-kanban-column headerText="Testing" keyField="Testing"></e-kanban-column>
                    <e-kanban-column headerText="Done" keyField="Close"></e-kanban-column>
                </e-kanban-columns>
                <e-kanban-cardsettings headerField="Id" contentField="Summary"></e-kanban-cardsettings>
            </ejs-kanban>
        </div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This example demonstrates the default functionalities of the Kanban control. You can drag and drop the cards
            across multiple states of the Kanban board by default.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The sample is configured with a minimal setting that is mandatory to render Kanban layout and cards. The
            <code>DataSource</code>,<code>Columns</code>, and <code>CardSettings</code> are essential fields to render the Kanban control. By default, you can
            drag and drop the cards across all stages of Kanban.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Kanban control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Kanban Default Functionalities Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Kanban Control</h1>
                }