@page

@using EJ2CoreSampleBrowser.Models
@using Syncfusion.EJ2
@using Newtonsoft.Json;

@{
    var scheduleEvents = new ScheduleEventsData();
    var holidayEvents = new HolidayList();
    int currentYear = DateTime.Now.Year;
    var appointments = scheduleEvents.GetAppointmentData();
    var holidays = holidayEvents.GetHolidayData(currentYear);

    var combinedData = new List<IScheduleEvent>();
    combinedData.AddRange(holidays);
    combinedData.AddRange(appointments);

    var datasource = JsonConvert.SerializeObject(combinedData);
}

@section ControlsSection {
    <div class="col-lg-9 control-section">
        <div class="content-wrapper">
            <ejs-schedule id="schedule" width="100%" cssClass="schedule-holiday-calendar" height="100%" rowAutoHeight="true" selectedDate="new DateTime(2024, 8, 5)" actionBegin="onActionBegin" eventRendered="onEventRender" dragStop="onEventDragOrResize" resizeStop="onEventDragOrResize" cellClick="clickOnHoliday" cellDoubleClick="clickOnHoliday">
                <e-schedule-views>
                    <e-schedule-view option="Month"></e-schedule-view>
                </e-schedule-views>
                <e-schedule-eventsettings dataSource="@datasource"></e-schedule-eventsettings>
            </ejs-schedule>
        </div>
        <div>
            <ejs-toast id="schedule-reminder" title="Information!" target=".e-schedule" cssClass="e-toast-info" icon="e-info toast-icons">
                <e-toast-position X="Right" Y="Top"></e-toast-position>
            </ejs-toast>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table id="property" title="" style="width: 100%">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 100%;">
                        <div>
                            <ejs-checkbox id="holiday-list" checked="true" label="Holiday events" change="updateHolidayListCollection"></ejs-checkbox>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 100%;">
                        <div>
                            <ejs-checkbox id="event-schedule" checked="true" label='Scheduling event on holiday' change="updateHolidayEventCollection"></ejs-checkbox>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="~/scripts/schedule/applyCategoryColor.js"></script>
    <script type="text/javascript">

        var holidayEventCollection = true;
        var holidayListCollection = true;

        var combinedData = @Html.Raw(datasource);

        var holidayList = combinedData.filter(event => event.IsHoliday === true);

        function updateHolidayEventCollection(args) {
            holidayEventCollection = args.checked;
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            scheduleObj.refreshEvents();
        }

        function updateHolidayListCollection(args) {
            holidayListCollection = args.checked;
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            scheduleObj.refreshEvents();
        }

        function isEventWithinHolidayRange(eventStartDate, eventEndDate) {
            var isInRange = false;
            for (var i = 0; i < holidayList.length; i++) {
                var holiday = holidayList[i];
                var holidayStartDate = new Date(holiday.StartTime);
                var holidayEndDate = new Date(holiday.EndTime);
                if ((eventStartDate >= holidayStartDate &&
                    eventStartDate <= holidayEndDate) ||
                    (eventEndDate >= holidayStartDate && eventEndDate <= holidayEndDate) ||
                    (eventStartDate <= holidayStartDate && eventEndDate >= holidayEndDate)
                ) {
                    isInRange = true;
                    break;
                }
            }
            return isInRange;
        }

        function showToastForAction(actionName, holidayDateRange) {
            if (!holidayDateRange) return;
            var messages = {
                resizeStop: 'You cannot resize an event within the holiday date range',
                dragStop: 'You cannot drop an event within the holiday date range',
                eventCreate: 'You cannot add an event within the holiday date range',
                eventChange: 'You cannot edit an event within the holiday date range',
            };
            if (messages[actionName]) {
                var toast = document.getElementById('schedule-reminder').ej2_instances[0];
                toast.content = messages[actionName];
                toast.show();
            }
        }

        function onActionBegin(args) {
            var isHolidayDateRange = false;
            if (args.requestType === 'eventCreate') {
                var eventData = args.data[0];
                isHolidayDateRange =
                    !holidayEventCollection &&
                    !eventData.RecurrenceRule &&
                    isEventWithinHolidayRange(eventData.StartTime, eventData.EndTime);
            } else if (args.requestType === 'eventChange') {
                var data = args.data;
                isHolidayDateRange =
                    !holidayEventCollection &&
                    isEventWithinHolidayRange(data.StartTime, data.EndTime);
            }
            args.cancel = isHolidayDateRange;
            showToastForAction(args.requestType, isHolidayDateRange);
        }

        function clickOnHoliday(args) {
            args.cancel =
                !holidayEventCollection &&
                isEventWithinHolidayRange(
                    args.startTime,
                    args.endTime.setMinutes(args.endTime.getMinutes() - 1)
                );
        }

        function onEventRender(args) {
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            var event = args.data;
            if (!holidayEventCollection) {
                if (!event.IsHoliday && event.IsAllDay) {
                    event.EndTime.setMinutes(event.EndTime.getMinutes() - 1);
                }
                args.cancel =
                    !event.IsHoliday &&
                    isEventWithinHolidayRange(event.StartTime, event.EndTime);
            }
            if (event.IsHoliday && !holidayListCollection) {
                args.cancel = true;
            }
            applyCategoryColor(args, scheduleObj.currentView);
        }

        function onEventDragOrResize(args) {
            var isHolidayDateRange =
                !holidayEventCollection &&
                isEventWithinHolidayRange(args.data.StartTime,
                    args.data.EndTime.setMinutes(args.data.EndTime.getMinutes() - 1));
            args.cancel = isHolidayDateRange;
            showToastForAction(args.name, isHolidayDateRange);
        }
    </script>

    <style>
        .schedule-holiday-calendar.e-schedule .e-appointment.e-read-only .e-appointment-details .e-subject.e-text-center {
            text-align: left;
        }
    </style>
}

@*custom code start*@
@section Meta {
    <meta name="description" content="This example demonstrates the Holiday Calendar in ASP.NET Core schedule control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription {
    <div id="action-description">
        <p>
            This demo illustrates how to add and remove holiday events and perform CRUD operations on holiday dates in the
            Scheduler.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            This sample demonstrates how to perform CRUD operations on holiday dates in a calendar. If a user wants to
            schedule an appointment on a holiday, they should check the <code>Scheduling event on holiday</code> checkbox.
            This will enable them to add an appointment on a holiday date.If a holiday list is displayed in the calendar, the
            <code>Holiday events</code> checkbox will be checked. The holiday list is highlighted in a different color.
        </p>
        <ul>
            <li>
                When an action is performed to drag and resize an event, if the <code>Scheduling event on holiday</code>
                checkbox is checked, the appointment can be scheduled on holiday dates. If it is unchecked, the appointment
                cannot have CRUD actions performed on it, and a warning message will be displayed.
            </li>
            <li>
                If a recurring event is added on a holiday date and the <code>Scheduling event on holiday</code> checkbox is
                checked, it allows the event to occur on that dates. If the checkbox is unchecked, it prevents the event from
                occurring, based on the dates in the holiday collection.
            </li>
        </ul>
    </div>
}
@section Title {
    <title>ASP.NET Core schedule Holiday Calendar - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Holiday Calendar in ASP.NET Core schedule Control</h1>
}
