@using Syncfusion.EJ2


@section ControlsSection{
    <div class=" col-lg-8 control-section">
        <div id="wrapper" class="daterangepicker-section">
            <div id="daterangepicker-control">
                <ejs-daterangepicker id="daterangepicker" placeholder="Select a range"></ejs-daterangepicker>
            </div>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <div class="radio-control" id="property" title="Select a Locale">
            <div class="row">
                <ejs-radiobutton id="en" name="locale" label="English" value="en" change="onchange"></ejs-radiobutton>
            </div>
            <div class="row">
                <ejs-radiobutton id="de" name="locale" label="German" value="de" change="onchange" checked="true"></ejs-radiobutton>
            </div>
            <div class="row">
                <ejs-radiobutton id="ar" name="locale" label="Arabic" value="ar" change="onchange"></ejs-radiobutton>
            </div>
        </div>
    </div>
}

<script>
    function onchange(args) {
        /*Apply selected format to the component*/
        var culture = args.value;
        daterangepicker.locale = culture;
        daterangepicker.enableRtl = (daterangepicker.locale === 'ar');
        if (culture !== 'en') {
            loadCultureFiles(culture);
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        daterangepicker = document.getElementById('daterangepicker').ej2_instances[0];
        var L10n = ej.base.L10n;
        L10n.load({
            'de': {
                'daterangepicker': {
                    placeholder: 'Einen Bereich auswählen',
                    startLabel: 'Anfangsdatum',
                    endLabel: 'Enddatum',
                    applyText: 'Sich bewerben',
                    cancelText: 'Stornieren',
                    selectedDays: 'Ausgewählte Tage',
                    days: 'Tage',
                    customRange: 'benutzerdefinierten Bereich'
                }
            },
            'en': {
                'daterangepicker': {
                    placeholder: 'Select a range ',
                    startLabel: 'Start Date',
                    endLabel: 'End Date',
                    applyText: 'Apply',
                    cancelText: 'Cancel',
                    selectedDays: 'Selected Days',
                    days: 'Days',
                    customRange: 'Custom Range'
                }
            },
            'ar': {
                'daterangepicker': {
                    placeholder: 'حدد نطاقا',
                    startLabel: 'تاريخ البدء',
                    endLabel: 'تاريخ الانتهاء',
                    applyText: 'تطبيق',
                    cancelText: 'إلغاء',
                    selectedDays: 'الأيام المحددة',
                    days: 'أيام',
                    customRange: 'نطاق مخصص'
                }
            }
        });
        loadCultureFiles('de');
        daterangepicker.locale = 'de';
    });
    function loadCultureFiles(name) {
        var files = ['ca-gregorian.json', 'numbers.json', 'timeZoneNames.json'];
        if (name === 'ar') {
            files.push('numberingSystems.json');
        }
        var loader = ej.base.loadCldr;
        var loadCulture = function (prop) {
            var val, ajax;
            if (name === 'ar' && prop === files.length - 1) {
                ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../scripts/cldr-data/supplemental/' + files[prop], 'GET', false);
            } else {
                ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../scripts/cldr-data/main/' + name + '/' + files[prop], 'GET', false);
            }
            ajax.onSuccess = function (value) {
                val = value;
            };
            ajax.send();
            loader(JSON.parse(val));
        };
        for (var prop = 0; prop < files.length; prop++) {
            loadCulture(prop);
        }
    }
</script>

@*custom code start*@
<style>
    .property-section {
        width: 200px;
    }

    #wrapper {
        max-width: 280px;
        margin: 30px auto;
        padding-top: 50px;
    }
</style>

@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            In this sample, the DateRangePicker has been configured with
            <code>German</code> culture. To change this current culture, go to the properties panel at the right side and select a culture from
            the available options.For mobile mode touch the icon at the right side and select a culture from the available options.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            DateRangePicker component was rendered with
            <code>German</code> culture. Here the date separator, week header, and month text content are updated based on the current culture.
            You can also change the component culture by selecting it from the culture options in the properties panel.
        </p>
        <p>
            More information on the globalization configuration can be found in the
            <a href="https://ej2.syncfusion.com/aspnetcore/documentation/daterangepicker/globalization/" target="_blank"> documentation section</a>.
        </p>
    </div>


}



