@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations
@using Syncfusion.EJ2.DropDowns
@{
    List<object> data = new List<object>() {
        new {
            header = "Events",
            subItems = new List<object>() {
                new { text= "Conferences" },
                new { text= "Music" },
                new { text= "Workshops" }
            }
        },
        new {
            header = "Movies",
            subItems = new List<object>() {
                new { text= "Now Showing" },
                new { text= "Coming Soon" }
            }
        },
        new {
            header = "Directory",
            subItems = new List<object>() {
                new { text= "Media Gallery" },
                new { text= "Newsletters" }
            }
        },
        new {
            header = "Queries",
            subItems = new List<object>() {
                new { text= "Our Policy" },
                new { text= "Site Map"},
                new { text= "24x7 Support"}
            }
        },
        new { header= "Services" }
    };

    MenuFieldSettings menuFields = new MenuFieldSettings()
    {
        IconCss = "icon",
        Text = new string[] { "header", "text", "value" },
        Children = new string[] { "subItems", "options" }
    };

    List<object> headerData = new List<object>()
    {
        new { text= "Events" },
        new { text= "Movies"},
        new { text= "Directory" },
        new {text= "Queries" },
        new { text= "Services" }
    };

    List<object> ddlData = new List<object>()
    {
        new { value = "Horizontal", text = "Horizontal" },
        new { value = "Vertical", text = "Vertical" },
    };
}
@section Meta{
                    <meta name="description" content="This example demonstrates the API in ASP.NET Core Menu Bar control. Explore here for more details."/>
                }
@section ControlsSection{
    <div class="control-section">
        <div class="col-lg-8 control-section">
            <div class="menu-control">
                <ejs-menu id="menu" items="data" fields="menuFields">
                </ejs-menu>
            </div>
        </div>

        <div class="col-lg-4 property-section">
            <table id="property" title="Properties" style="width: 100%">
                <tbody>
                    <tr>
                        <td style="width: 50%;padding-top:10px">
                            <div>Orientation</div>
                        </td>
                        <td style="width: 50%;padding-top:10px">
                            <div style="max-width: 200px">
                                <ejs-dropdownlist id="ddl" dataSource="ddlData" popupHeight="200px" change="ddlChange" index="0">
                                    <e-dropdownlist-fields value="value" text="text"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;padding-top:10px">
                            <div>Enable / Disable item</div>
                        </td>
                        <td style="width: 50%;padding-top:10px">
                            <div style="max-width: 200px">
                                <ejs-multiselect id="enableDisable" dataSource="headerData" popupHeight="200px" width="160px" mode="CheckBox" placeHolder="Select item" showDropDownIcon="true" change="enableDisableChange"></ejs-multiselect>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;padding-top:15px">
                            <div>Show Item on Click</div>
                        </td>
                        <td style="width: 50%;padding-top:15px">
                            <ejs-checkbox id="show-btn" change="checkBoxChange"></ejs-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the customization of <code>Menu</code> component by using its properties from the property pane. Select any combination of properties from the property pane to customize <code>Menu</code> component.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>In this demo, default menu is rendered with minimal configuration.</p>
        <p>This sample can be customized further with the combination of <code>Menu</code> properties from the property pane. For example,</p>
        <ul>
            <li>
                You can switch to <b>Vertical</b> and <b>Horizontal</b> modes by clicking and selecting the
                <code>orientation</code> mode from <i>Orientation</i> dropdownlist.
            </li>
            <li>
                You can enable or disable menu items by clicking and selecting the item
                from <i>Enable item</i> or <i>Disable item</i> dropdownlists.
            </li>
            <li>
                You can also enable the show menu item on mouse click <code>ShowItemOnClick</code> property by checking the
                <i>Show item on Click</i> checkbox.
            </li>
        </ul>
        <p>
            More information about Menu can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/menu/getting-started/">
                documentation section
            </a>.
        </p>
    </div>
}

@section Scripts {
    <script>
        // Getting Menu control instance
        var menuObj = ej.base.getComponent(document.getElementById('menu'), 'menu');
    </script>
}

<script>
    function ddlChange(args) {
        menuObj.orientation = args.value;
    }

    function enableDisableChange(args) {
        if (args.value) {
            menuObj.enableItems(['Events', 'Movies', 'Directory', 'Queries', 'Services'], true);
            menuObj.enableItems(args.value, false);
        }
    }

    function checkBoxChange(args) {
        menuObj.showItemOnClick = args.checked;
    }
</script>
@*custom code start*@
<style>
    /**
    * ej2 Menu styles
    */
    .menu-control {
        margin-top: 45px;
        text-align: center;
    }

    .property-panel-content {
        padding: 0 10px 10px 0;
        overflow: auto;
    }

    .tailwind .property-panel-content,
    .tailwind-dark .property-panel-content,
    .fabric .property-panel-content,
    .fabric-dark .property-panel-content {
        overflow: hidden;
    }

    .control-section .property-panel-table .e-multiselect {
        padding: 0;
    }
</style>
@*custom code end*@
@section Title{
                    <title>ASP.NET Core Menu Bar API Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of API in ASP.NET Core Menu Bar Control</h1>
                }