@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations

@section ControlsSection{
    <div class="control-section">
        <div class="menu-control">
            <ejs-menu id="menu" items="ViewBag.data" fields="ViewBag.menuFields" template="#menuTemplate"></ejs-menu>
        </div>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Template in ASP.NET Core Menu Bar control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the template functionalities of the menu component.
            Mouse hover or clicking the menu item displays the sub menu pop-up items with its customized templates.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The menu component has an option to customize menu items using the <code>property</code>, so that the menu items can be rendered according to the requirement.
        </p>
        <p>
            For more information, refer to the
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/menu/data-source-binding-and-custom-menu-items/#custom-menu-items">
                templates
            </a> section in the documentation.
        </p>
    </div>
}

<!-- Template to render Menu -->
    <script id="menuTemplate" type="text/x-template">
        ${if(category)}
        ${category}
        ${else if (value)}
        <div style="width: 100%;display: flex;justify-content: space-between;">
            ${if(url)}
            <img class="e-avatar e-avatar-small" src="@Url.Content("~/css/menu/images/${url}.png")" />
            ${/if}
            <span style="width:100%;">${value}</span>
            ${if(count)}
            <span class="e-badge e-badge-success">${count}</span>
            ${/if}
        </div>
        ${else}
        <div tabindex="0" class="e-card">
            <div class="e-card-header">
                <div class="e-card-header-caption">
                    <div class="e-card-header-title">About Us</div>
                </div>
            </div>
            <div class="e-card-content">
                ${about.value}
            </div>
            <div class="e-card-actions">
                <button class="e-btn e-outline" style="pointer-events: auto;">
                    Read More
                </button>
            </div>
        </div>
        ${/if}
    </script>
<style>
    .menu-control {
        margin-top: 45px;
        text-align: center;
    }

    /* Common ul & li styles */
    .e-bigger .e-menu-wrapper ul.e-ul,
    .e-menu-wrapper ul.e-ul {
        padding: 0;
    }
    .e-bigger .e-menu-wrapper ul.e-ul .e-menu-item,
    .e-menu-wrapper ul.e-ul .e-menu-item {
        display: flex;
        padding: 0 10px;
        outline-color: transparent;
    }
    .e-menu-wrapper .e-ul .e-menu-item{
        height: 36px;
        line-height: 36px;
    }

    /** Avatar customization */
    .e-menu-wrapper ul .e-menu-item .e-avatar {
        background-color: inherit;
        font-size: 8px;
        margin-right: 8px;
        align-self: center;
        width: auto;
        overflow: visible;
    }
    .e-bigger .e-menu-wrapper ul .e-menu-item .e-avatar {
        font-size: 10px;
    }

    /** Badge customization */
    .e-menu-wrapper ul .e-menu-item .e-badge {
        margin-left: 10px;
        align-self: center;
        overflow: visible;
    }

    /** Card customization */
    .e-menu-wrapper ul.e-ul .e-menu-item .e-card {
        width: 290px;
        font-size: inherit;
        background-color: inherit;
        border-color: transparent;
    }
    .e-bigger .e-menu-wrapper ul.e-ul .e-menu-item .e-card {
        width: 320px;
    }
    .e-menu-wrapper ul.e-ul .e-menu-item .e-card .e-card-content {
        white-space: normal;
        color: inherit;
        padding-top: 0;
        text-align: justify;
        font-size: inherit;
    }
    .e-menu-wrapper ul.e-ul .e-menu-item#about {
        height: auto;
        padding: 0;
    }
    .e-menu-wrapper ul.e-ul .e-menu-item#about.e-focused {
        background-color: transparent;
        outline-color: transparent;
        pointer-events: none;
    }
</style>
@section Title{
                    <title>ASP.NET Core Menu Bar Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Template in ASP.NET Core Menu Bar Control</h1>
                }