@page
@model EJ2CoreSampleBrowser.Pages.TextArea.TextAreaFor

@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div id="wrapper" class="textarea-section">
            <div id="textarea-control">
                <form method="post">
                    <ejs-textarea id="textareafor" name="comments" placeholder="Comments" floatLabelType="Auto" ejs-for="@Model.Textareas.comments"  rows="5" cols="300"></ejs-textarea>
                    <div id="errorMessage">
                        <span asp-validation-for="Textareas.comments"></span>
                    </div>
                    <div id="submitbutton">
                        <ejs-button id="submitButton" content="Post"></ejs-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@*custom code start*@
<style>

    #wrapper {
        max-width: 246px;
        margin: 30px auto;
        padding-top: 50px;
    }

    #wrapper .e-multi-line-input {
        max-width: 100%;
    }

    #submitbutton {
        margin-top: 20px;
        margin-left: 65px;
    }

    #control-content #wrapper .field-validation-error {
        color: red;
    }
</style>
@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the strongly typed extension support in the <code>TextArea</code>. The TextArea value is set to textarea from code behind and its set to textarea in a view page by invoking the strongly typed TextAreaFor helper.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            Click the submit button to post the selected value in the textarea. When posting the null value, a validation error message will be shown below the textarea.
        </p>
    </div>
}

@section Meta{
    <meta name="description" content="This example demonstrates the TextAreaFor in ASP.NET Core TextArea control. Explore here for more details." />
                }
@section Title{
                    <title>ASP.NET Core TextBox TextAreaFor Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of TextAreaFor in ASP.NET Core TextArea Control</h1>
                }