@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential DocIO (Word) : Bookmark : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("Bookmarks", "DocIO", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 10px">
                        <div>
                            Save As :
                            <input type="radio" id="rdButtonDoc" name="Group1" value="WordDoc" style="margin-left: 7px" />
                            <label for="rdButtonDoc" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Doc format">DOC</label>
                            &nbsp;
                            <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px" checked="checked" />
                            <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                            &nbsp;
                            <input type="radio" id="rdButtonWordML" name="Group1" value="WordML" style="margin-left: 7px" />
                            <label for="rdButtonWordML" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as WordML format">WordML</label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        <input id="generate" name="Button" class="e-btn" type="submit" value="Generate Document" style="width:170px; text-transform:capitalize" />
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to insert bookmarks into the Word document using Essential DocIO.
    </div>
}
@section Description{
    <div>
        Bookmark helps to identify a part of the document for future reference. The document elements like paragraph, table, etc., can be marked with a bookmark and it can be accessed by its name.
        <ul>
            <li>
                With DocIO, you can insert and delete bookmarks in the Word document.
            </li>
            <li>
                Using bookmark navigator, you can navigate through the document elements and select a specific bookmark in the Word document.
            </li>
            <li>
                Once after selecting a bookmark, you can edit, modify or delete the contents within that bookmark.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about the bookmarks can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-bookmarks">documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Bookmarks in ASP.NET Core DocIO control. Explore here for more details."/>
                }
@section Title{
                 <title>ASP.NET Core DocIO Bookmarks Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for Bookmarks in ASP.NET Core DocIO Control</h1>
            }