@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential DocIO (Word) : Text Formatting: Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("FormatText", "DocIO", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 10px">
                        <div>
                            Save As :
                            <input type="radio" id="rdButtonDoc" name="Group1" value="WordDoc" style="margin-left: 7px" />
                            <label for="rdButtonDoc" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Doc format">DOC</label>
                            &nbsp;
                            <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px" checked="checked" />
                            <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                            &nbsp;
                            <input type="radio" id="rdButtonWordML" name="Group1" value="WordML" style="margin-left: 7px" />
                            <label for="rdButtonWordML" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as WordML format">WordML</label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        @Html.EJS().Button("createbtn").Content("Generate Document").Render()
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to format the text in the Word document using Essential DocIO.
    </div>
}
@section Description{
    <div>
        DocIO allows to customize appearance of the text with various formats such as character/text level formatting, paragraph level formatting and list level formatting.                         <ul>
            <li>
                Character formatting includes the font properties like font family, size, style, underline, highlight, etc.
            </li>
            <li>
                Paragraph formatting includes indents, spacing, alignment etc.
            </li>
            <li>
                List level format includes bullet and numbered list formatting.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about the text formatting can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-paragraph#working-with-text">documentation</a>
        section.
    </div>
}
@section Meta{
    <meta name="description" content="Example [C#] to format text in the Word document in ASP.NET Core using Syncfusion .NET Word (DocIO) library." />
}