@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential DocIO (Word) : GroupShapes : Syncfusion";}
@section ControlsSection{
<div class="control-section">
    @{Html.BeginForm("GroupShapes", "DocIO", FormMethod.Post);
            {
        <div style="margin-top: 10px;font-size:14px">
            Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
            <div style="margin-top: 10px">
                <div>
                    Save As :
                    <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px" checked="checked" />
                    <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                    &nbsp;
                    <input type="radio" id="rdButtonWordML" name="Group1" value="WordML" style="margin-left: 7px" />
                    <label for="rdButtonWordML" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as WordML format">WordML</label>
                    &nbsp;
                    <input type="radio" id="rdButtonPdf" name="Group1" value="Pdf" style="margin-left: 7px" />
                    <label for="rdButtonPdf" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as PDF">PDF</label>
                </div>
            </div>
            <div style="margin-top: 8px">
                <input id="generate" name="Button" class="e-btn" type="submit" value="Generate Document" style="width:170px; text-transform:capitalize" />
            </div>
        </div>
                Html.EndForm();
            }
    }
</div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to create a Word document with Group shapes using Essential DocIO.
    </div>
}
@section Description{
    <div>
        With DocIO, you can create an Group shape and insert it into the Word Open XML Format document (DOCX, DOTX, DOCM, DOTM). You can add text to the shape and format the shape in the document.
        <ul>
            <li>
                You can insert shape with "position relative to the page" in the Word document.
            </li>
            <li>
                You can group and ungroup the shapes in Word document.
            </li>
            <li>
                You can make shapes in the Word document accessible by defining alternate text.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about the Group shapes can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-paragraph#working-with-shapes">documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Group Shapes in ASP.NET Core DocIO control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core DocIO Group Shapes Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Group Shapes in ASP.NET Core DocIO Control</h1>
                }