@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential DocIO (Word) : Hello World : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("HelloWorld", "DocIO", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 10px">
                        <div>
                            Save As :
                            <input type="radio" id="rdButtonDoc" name="Group1" value="WordDoc" style="margin-left: 7px" />
                            <label for="rdButtonDoc" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Doc format">DOC</label>
                            &nbsp;
                            <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px" checked="checked" />
                            <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                            &nbsp;
                            <input type="radio" id="rdButtonWordML" name="Group1" value="WordML" style="margin-left: 7px" />
                            <label for="rdButtonWordML" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as WordML format">WordML</label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        @Html.EJS().Button("createbtn").Content("Generate Document").Render()
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to create a simple Word document with text, image and table using Essential DocIO. 
    </div>
}
@section Description{
    <div>
        <ul>
            <li>
                With the help of DocIO, you can create document with few lines of code.
            </li>
            <li>
                Create Word document from Scratch.
            </li>
            <li>
                Open the existing Word document from file system or stream, modify and save it back.
            </li>
            <li>
                Transverse through the document, manipulate content and formatting with the help of intuitive document object model
            </li>
            <li>
                Save the Word document to a local file, stream, or stream it to the client browser.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about the basics of DocIO can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/getting-started">documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Hello World in ASP.NET Core DocIO control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core DocIO Hello World Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Hello World in ASP.NET Core DocIO Control</h1>
                }