@using Syncfusion.EJ2
@{ViewBag.Title = "   Essential DocIO (Word) : TOC, Table of Contents : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("TableofContents", "DocIO", FormMethod.Post);
            {
                <div style="margin-top: 10px; font-size:14px">
                    Click the button to view the generated Word document or PDF. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document and PDF viewer is required to view the resultant PDF.
                    <div style="margin-top: 10px">
                        <input type="checkbox" id="UpdateTOC" name="UpdateTOC" value="Update" />
                        <label for="UpdateTOC" style="font-size:14px;font-weight:normal;text-align:match-parent" />
                        Update Table of Contents
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div style="margin-top: 10px">
                        Save As :
                        <input type="radio" id="rdButtonDoc" name="Group1" value="WordDoc" style="margin-left: 7px" />
                        <label for="rdButtonDoc" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Doc format">DOC</label>
                        &nbsp;
                        <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px" checked="checked" />
                        <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                        &nbsp;
                        <input type="radio" id="rdButtonWordML" name="Group1" value="WordML" style="margin-left: 7px" />
                        <label for="rdButtonWordML" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as WordML format">WordML</label>
                        &nbsp;
                        <input type="radio" id="rdButtonPdf" name="Group1" value="Pdf" style="margin-left: 7px" />
                        <label for="rdButtonPdf" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Pdf format">PDF</label>
                        &nbsp;
                    </div>
                    <div style="margin-top: 8px">
                        <input class="e-btn" type="submit" value="Generate Document" style="width:170px;text-transform:capitalize" />
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to insert and update the Table of Contents (TOC) in a Word document using Essential DocIO.
    </div>
}
@section Description{
    <div>
        DocIO supports to insert Table of Contents based on custom and default heading styles, include page numbers, hyperlinks to easily navigate to specific topic or heading within the document, specify the outline levels.
        <ul>
            <li>
                You can draft books in Word document with table of contents that provides outline of the book like chapter, section titles, sub titles with its commencing page number.
            </li>
            <li>
                You can update or rebuild the Table of Contents in an existing Word document.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about the Table of Contents can be found in this 
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-table-of-contents">documentation</a>
        section.
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Table of Contents in ASP.NET Core DocIO control. Explore here for more details." />
}
@section Title{
    <title>ASP.NET Core DocIO Table of Contents Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Table of Content in ASP.NET Core DocIO Control</h1>
}