@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential DocIO (Word) : Word To PDF : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("WordToPDF", "DocIO", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the resultant PDF document being converted from Word document using Essential DocIO and Essential PDF. Please note that PDF viewer is required to view the resultant PDF.
                    <div style="margin-top: 10px">
                        <div>
                            <input type="button" value="Choose File" onclick="openPage()">
                            <input type="text" id="fileNameBox" value="WordtoPDF.docx" readonly="readonly" style="border:none" />
                            <input type="file" name="file" id="fileUpload" accept=".doc,.docx,.rtf,.dot,.dotm,.dotx,docm,.xml" style="display:block;visibility:hidden;width:0;height:0;">
                            <br />
                        </div>
                        <div style="margin-top: 8px">
                            PDF Options
                            <br />
                            <input type="checkbox" name="renderingMode1" value="PreserveStructureTags" id="preserveStructureTags" />
                            <label for="preserveStructureTags" style="font-weight:normal">
                                Preserve structure tags, generates PDF document with accessiblity support.
                            </label>
                            <br />
                            <input type="checkbox" name="renderingMode2" value="PreserveFormFields" checked="true" id="preserveFormFields" />
                            <label for="preserveFormFields" style="font-weight:normal">
                                Preserve form fields, generates PDF document with PDF form fields for equivalent Word document form fields.
                            </label>
                            <br />
                            <input type="checkbox" name="renderingMode3" value="PreserveWordHeadingsToPDFBookmarks" checked="true" id="preserveWordHeadingsToPDFBookmarks" />
                            <label for="preserveWordHeadingsToPDFBookmarks" style="font-weight:normal">
                                Convert Word headings to PDF bookmarks, generates PDF document with bookmarks for Word document paragraph with heading style and outline level.
                            </label>
                            <br />
                            <input type="checkbox" name="renderingMode4" value="ShowRevisions" checked="true" id="showRevisions" />
                            <label for="showRevisions" style="font-weight:normal">
                                Show the revision marks in the generated PDF for tracked changes or revisions in the Word document.
                            </label>
                            <br />
                            <input type="checkbox" name="renderingMode5" value="ShowComments" checked="true" id="showComments" />
                            <label for="showComments" style="font-weight:normal">
                                Show the comments in the generated PDF for comments in the Word document.
                            </label>
                        </div>
                        <div style="margin-top: 8px">
                            <input class="e-btn" type="submit" value="Convert to PDF" name="button" style="width:170px; text-transform:capitalize" />
                            <br />
                            <div class="text-danger">
                                @ViewBag.Message
                            </div>
                        </div>
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>

}
<script>
    function openPage() {
        document.getElementById('fileUpload').click();
        document.getElementById('fileUpload').addEventListener('change', readFile, false);
    }
    function readFile(evt) {
        var upoadedFiles = evt.target.files;

        filename = upoadedFiles[0].name;
        document.getElementById('fileNameBox').value = filename;
    }
</script>

@section ActionDescription{
    <div>
        This sample illustrates how to convert Word document to PDF using Essential DocIO and Essential PDF.
    </div>
}
@section Description{
    <div>
        DocIO provides support to render Word document from flow to fixed page model and export as PDF or Image. With this support to render Word document,
        <ul>
            <li>
                You can generate invoice and other reports in PDF, starting from Word document.
            </li>
            <li>
                You can view or print the contents of Word document by converting as PDF and loading generated PDF via PDF viewer.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about Word to PDF conversion can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/word-to-pdf">documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Word to PDF in ASP.NET Core DocIO control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core DocIO Word to PDF Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Word to PDF in ASP.NET Core DocIO Control</h1>
                }