@using Syncfusion.EJ2
@{
    List<object> listdata = new List<object>();
    listdata.Add(new
    {
        text = "Audi A4",
        id = "9bdb",
        category = "Audi"
    });
    listdata.Add(new
    {
        text = "Audi A4",
        id = "9bdb",
        category = "Audi"
    });
    listdata.Add(new
    {
        text = "Audi A5",
        id = "4589",
        category = "Audi"
    });

    listdata.Add(new
    {
        text = "Audi A6",
        id = "e807",
        category = "Audi"
    });
    listdata.Add(new
    {
        text = "Audi A7",
        id = "a0cc",
        category = "Audi"
    });
    listdata.Add(new
    {
        text = "Audi A8",
        id = "5e26",
        category = "Audi"
    });
    listdata.Add(new
    {
        text = "BMW 501",
        id = "f849",
        category = "BMW"
    });
    listdata.Add(new
    {
        text = "BMW 502",
        id = "7aff",
        category = "BMW"
    });
    listdata.Add(new
    {
        text = "BMW 503",
        id = "b1da",
        category = "BMW"
    });
    listdata.Add(new
    {
        text = "BMW 507",
        id = "de2f",
        category = "BMW"
    });
    listdata.Add(new
    {
        text = "BMW 3200",
        id = "b2b1",
        category = "BMW"
    });
    List<object> data = new List<object>();
    data.Add(new { text = "Hennessey Venom", id = "list-01" });
    data.Add(new { text = "Bugatti Chiron", id = "list-02" });
    data.Add(new { text = "Bugatti Veyron Super Sport", id = "list-03" });
    data.Add(new { text = "SSC Ultimate Aero", id = "list-04" });
    data.Add(new { text = "Koenigsegg CCR", id = "list-05" });
    data.Add(new { text = "McLaren F1", id = "list-06" });
    data.Add(new { text = "Aston Martin One- 77", id = "list-07" });
    data.Add(new { text = "Jaguar XJ220", id = "list-08" });
    data.Add(new { text = "McLaren P1", id = "list-09" });
    data.Add(new { text = "Ferrari LaFerrari", id = "list-10" });
    data.Add(new { text = "Mercedes-Benz Aston Martin", id = "list-11" });
    data.Add(new { text = "Zenvo ST1", id = "list-12" });
    data.Add(new { text = "Lamborghini Veneno", id = "list-13" });
}
@section ControlsSection{
    <div class="control-section">
        <div id="flat-list">
            <h4>Flat List</h4>
            <!-- ListView element -->
            <ejs-listview enable="true" id="listview" dataSource="data" showCheckBox="true">
            </ejs-listview>
        </div>
        <div id="group-list">
            <h4>Group List</h4>
            <!-- Group ListView element -->
            <ejs-listview enable="true" id="listviewgrp" dataSource="listdata" showCheckBox="true">
                <e-listview-fieldsettings groupBy="category">
                </e-listview-fieldsettings>
            </ejs-listview>
        </div>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Checklist in ASP.NET Core ListView control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the checkbox functionalities of the ListView. Click multiple list item to check or uncheck the items.</p>

    </div>
}

@section Description{
    <div id="description">
        <p>
            The ListView component has checkbox feature, which is used to select multiple items from the list. This feature can be enabled using the
            <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/cref_files/aspnetcore-js2/Syncfusion.EJ2~Syncfusion.EJ2.Lists.ListView~ShowCheckBox.html' aria-label="ShowCheckBox">ShowCheckBox</a></code>property.
        </p>

        <p>In this sample, the checkbox is enabled on default list and group list.</p>

    </div>
}

<style>
    #listview, #listviewgrp {
        border: 1px solid #dddddd;
        border-radius: 3px;
    }

    .control-section {
        overflow: auto;
    }

    body.material-dark .control-section{
        color:#ffffff;
    }

    #flat-list,
    #group-list {
        width: 49%;
        margin: auto;
        margin-bottom: 15px;
    }

        #flat-list h4, #group-list h4 {
            padding-left: 16px;
        }

    #flat-list {
        float: left;
        padding-left: 16px;
    }

    #group-list {
        float: right;
        padding-right: 16px;
    }

    body.bootstrap5 .e-listview .e-text-content *{
        vertical-align: middle;
    }
</style>
@section Title{
                    <title>ASP.NET Core ListView Checklist Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Checklist in ASP.NET Core ListView Control</h1>
                }