@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div id="flat-list">
            <h4>Flat List</h4>
            <!-- ListView element -->
            <ejs-listview enable="true" id="listview" dataSource="ViewBag.dataSource">
            </ejs-listview>
        </div>
        <div id="group-list">
            <h4>Group List</h4>
            <!-- Group ListView element -->
            <ejs-listview enable="true" id="listviewgrp" dataSource="ViewBag.groupData">
                <e-listview-fieldsettings groupBy="category">
                </e-listview-fieldsettings>
            </ejs-listview>
        </div>
    </div>
}

@section Meta{
    <meta name="description" content="This example demonstrates how to initialize Syncfusion ASP.NET Core flat & group listview. Click any list item to select and play with ListView." />
}

@section ActionDescription{
    <div id="action-description">
         <p>This sample demonstrates the default functionalities of the ListView. Click any list item to select and highlight an item.</p>

    </div>
}

@section Description{
    <div id="description">
        <p>ListView component represent data in interactive hierarchical structure interface across different layouts or views, that also has the features of data-binding, template rendering, and grouping.</p>

        <p>The group list allows to group the relevant items under a logical category by mapping the <code>groupBy</code> field.</p>

        <p>In this sample, <b>Cars</b> are grouped based on their <b>category</b>.</p>

    </div>
}

<style>
    #listview, #listviewgrp {
        border: 1px solid #dddddd;
        border-radius: 3px;
    }

    .control-section {
        overflow: auto;
    }

    #flat-list,
    #group-list {
        width: 49%;
        margin: auto;
        margin-bottom: 15px;
    }

        #flat-list h4, #group-list h4 {
            padding-left: 16px;
        }

    #flat-list {
        float: left;
        padding-left: 16px;
    }

    #group-list {
        float: right;
        padding-right: 16px;
    }
</style>
