@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <ejs-listview enable="true" id="nestedlist" dataSource="ViewBag.dataSource" showHeader="true" headerTitle="Folder" showIcon="true">
            <e-listview-fieldsettings iconCss="icon" tooltip="text">
            </e-listview-fieldsettings>
        </ejs-listview>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Nested List in ASP.NET Core ListView control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
         <p>This sample demonstrates the nested list functionalities, which allows to navigate
        to the sub list-items by clicking on any item and navigate back to list-item by using top left back icon.
        </p>


    </div>
}

@section Description{
    <div id="description">
        <p>ListView component supports Nested list. To achieve list navigation, the <code>child</code> property should be defined for the nested list in the array of JSON.</p>

    <p>This sample have Nested folder with the sub folders/files.</p>

    </div>
}

    <style>
    .e-listview .e-list-icon {
        height: 24px;
        width: 30px;
    }

    .folder {
        background-repeat: no-repeat;
        background-image: url('@Url.Content("~/css/listview/images/file_icons.png")');
        background-position: -5px -466px;
        background-size: 302%;
    }

    .file {
        background-repeat: no-repeat;
        background-image: url('@Url.Content("~/css/listview/images/file_icons.png")');
        background-position: -5px -151px;
        background-size: 302%;
    }

    #nestedlist {
        max-width: 500px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
    </style>
@section Title{
                 <title>ASP.NET Core ListView Nested List Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for Nested List in ASP.NET Core ListView Control</h1>
            }