@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section progress-bar-parent">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 paligncenter">
                <div id="label-container">
                    <ejs-progressbar id="label-container"
                                     type="Circular"
                                     value=80
                                     width="160px"
                                     height="160px"
                                     cornerRadius="Round"
                                     startAngle="180"
                                     endAngle="180"
                                     minimum="0"
                                     maximum="100"
                                     load="progressLoad">
                        <e-progressbar-progressbarannotations>
                            <e-progressbar-progressbarannotation content='<div id="point1" style="font-size:20px;font-weight:bold;color:#b52123;fill:#b52123"><span>80%</span></div>'>

                            </e-progressbar-progressbarannotation>
                        </e-progressbar-progressbarannotations>
                        <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                    </ejs-progressbar>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 paligncenter">
                <div id="pause-container">
                    <ejs-progressbar id="pause-container"
                                     type="Circular"
                                     value=100
                                     width="160px"
                                     height="160px"
                                     minimum="0"
                                     maximum="100"
                                     progressCompleted="progressCompleted"
                                     load="progressLoad">
                        <e-progressbar-progressbarannotations>
                            <e-progressbar-progressbarannotation content="<img src='./../scripts/Progressbar/material-pause.svg'></img>">

                            </e-progressbar-progressbarannotation>
                        </e-progressbar-progressbarannotations>
                        <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                    </ejs-progressbar>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 paligncenter">
                <div id="download-container">
                    <ejs-progressbar id="download-container"
                                     type='Circular'
                                     value=100
                                     width='160px'
                                     height='160px'
                                     cornerRadius="Round"
                                     startAngle="180"
                                     endAngle="180"
                                     minimum="0"
                                     maximum="100"
                                     progressCompleted="progressCompleted1"
                                     load="progressLoad">
                        <e-progressbar-progressbarannotations>
                            <e-progressbar-progressbarannotation content="<img src='./../scripts/Progressbar/material-Download.svg'></img>">

                            </e-progressbar-progressbarannotation>
                        </e-progressbar-progressbarannotations>
                        <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                    </ejs-progressbar>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 reload-btn">
                <button id="reLoad" class="e-control e-btn e-lib e-outline e-primary">Reload</button>
            </div>
        </div>
    </div>
    <style>

        #control-container {
            padding: 0px !important;
        }

        .progress-bar-parent {
            margin-top: 8%;
            text-align: center;
        }

        .paligncenter {
            text-align: center;
        }

        .plabeltxt {
            font-size: 20px;
            font-weight: bold;
        }

        .reload-btn {
            text-align: center;
            margin-top: 3%;
        }

        #reLoad {
            border-radius: 4px;
            text-transform: capitalize;
        }

        .annotaion-pro {
            font-size: 20px;
            font-weight: bold;
            color: #b52123;
            fill: #b52123
        }
    </style>

    <script>
        var clearTimeout1;
        var clearTimeout2;
        var annotationColors = { material: '#e91e63', fabric: '#0078D6', bootstrap: '#317ab9', bootstrap5: '#0D6EFD', bootstrap5dark: '#0D6EFD', bootstrap4: '#007bff', highcontrast: '#FFD939', tailwind: '#4F46E5', bootstrapdark: '#9A9A9A', fabricdark: '#9A9A9A', materialdark: '#9A9A9A', tailwinddark: '#22D3EE' };
        var progressLoad = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.progressBar.theme = (selectedTheme.charAt(0).toUpperCase() +
                selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
            if (args.progressBar.element.id === 'label-container') {
                args.progressBar.annotations[0].content = '<div id="point1" class="plabeltxt" style="color: ' + annotationColors[selectedTheme.replace(/-/i, '')] + ' "><span>80%</span></div>';
            } else if (args.progressBar.element.id === 'download-container') {
                args.progressBar.annotations[0].content = "<img src=\"./../scripts/Progressbar/" + selectedTheme.replace(/-/i, '') + "-Download.svg\"></img>";
            } else {
                args.progressBar.annotations[0].content = "<img src=\"./../scripts/Progressbar/" + selectedTheme.replace(/-/i, '') + "-pause.svg\"></img>";
            }
        }
        var Load = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.progressBar.theme = (selectedTheme.charAt(0).toUpperCase() +
                selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
        };
        var clearTimeout1, clearTimeout2;
        var progressCompleted1 = function (args) {
            clearTimeout(clearTimeout1);
            clearTimeout1 = setTimeout(function () {
                var downloadProgress = document.getElementById("download-container").ej2_instances[0];
                downloadProgress.annotations[0].content = "<img src=\"./../scripts/Progressbar/" + (downloadProgress.theme).toLowerCase() + "-Tick.svg\"></img>";
                downloadProgress.dataBind();
            }, 2000);
        }
        var progressCompleted = function (args) {
            clearTimeout(clearTimeout2);
            clearTimeout2 = setTimeout(function () {
                var pausePlay = document.getElementById("pause-container").ej2_instances[0];
                pausePlay.annotations[0].content = "<img src=\"./../scripts/Progressbar/" + (pausePlay.theme).toLowerCase() + "-Play.svg\"></img>";
                pausePlay.dataBind();
            }, 2000);
        }
        var replayBtn = document.getElementById('reLoad');
        replayBtn.onclick = function () {
            var inverseSemiProgress = document.getElementById('label-container').ej2_instances[0];
            var verticalProgress = document.getElementById('pause-container').ej2_instances[0];
            var semiProgress = document.getElementById('download-container').ej2_instances[0];
            inverseSemiProgress.refresh();
            verticalProgress.refresh();
            semiProgress.refresh();
        };
    </script>
}
@section ActionDescription{
    <p>
        This sample illustrates a circular progress bar to show <code>progressCompleted</code> event with <code>annotation</code>.
    </p>
}
@section Description{
    <p>
        This demo for Essential JS2 Progress Bar control shows the progress bar with custom content with the help of annotation.
    </p>
}
@section Title{
    <title>ASP.NET Core ProgressBar Custom Contents Example - Syncfusion Demos </title>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Custom Contents in ASP.NET Core ProgressBar control. Explore here for more details." />
}
@section Header{
    <h1 class='sb-sample-text'>Example of Custom Contents in ASP.NET Core ProgressBar Control</h1>
}