@using Syncfusion.EJ2
@section ControlsSection {
    <div class="control-section">
        <div class="row linear-parent">
            <div id="percentage" class="linear-progress">
                <ejs-progressbar id="percentage1"
                                 type='Linear'
                                 height="30"
                                 width="100%"
                                 minimum="0"
                                 maximum="100"
                                 trackThickness="24"
                                 progressThickness="24"
                                 cornerRadius='Square'
                                 showProgressValue="true"
                                 value="40"
                                 role="Success"
                                 load="progressLoad">
                    <e-progressbar-labelstyle text="40% Complete (Success)" textAlignment="Center" color="#ffffff"></e-progressbar-labelstyle>
                    <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                </ejs-progressbar>
            </div>
            <div id="ratio" class="linear-progress">
                <ejs-progressbar id="ratio1"
                                 type='Linear'
                                 height='30'
                                 width='100%'
                                 minimum="0"
                                 maximum="100"
                                 trackThickness=24
                                 progressThickness=24
                                 cornerRadius='Square'
                                 showProgressValue=true
                                 value=50
                                 role="Info"
                                 load="progressLoad">
                    <e-progressbar-labelstyle text="50% Complete (Info)" textAlignment="Center" color="#ffffff"></e-progressbar-labelstyle>
                    <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                </ejs-progressbar>
            </div>
            <div id="acutal" class="linear-progress">
                <ejs-progressbar id="acutal1"
                                 type='Linear'
                                 height='30'
                                 width='100%'
                                 minimum="0"
                                 maximum="100"
                                 trackThickness="24"
                                 progressThickness="24"
                                 value=60
                                 cornerRadius='Square'
                                 showProgressValue=true
                                 role="Warning"
                                 load="progressLoad">
                    <e-progressbar-labelstyle text="60% Complete (Warning)" textAlignment="Center" color="#ffffff"></e-progressbar-labelstyle>
                    <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                </ejs-progressbar>
            </div>
            <div id="custom" class="linear-progress">
                <ejs-progressbar id="custom1"
                                 type='Linear'
                                 height='30'
                                 width='100%'
                                 minimum="0"
                                 maximum="100"
                                 trackThickness=24
                                 progressThickness=24
                                 cornerRadius='Square'
                                 showProgressValue=true
                                 value=70
                                 role="Danger"
                                 load="progressLoad">
                    <e-progressbar-labelstyle text="70% Complete (Danger)" textAlignment="Center" color="#ffffff"></e-progressbar-labelstyle>
                    <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                </ejs-progressbar>
            </div>
        </div>
        <div class="row linear-button">
            <button id="reLoad" class="e-control e-btn e-lib e-outline e-primary">Reload</button>
        </div>
    </div>
    <style>
        #control-container {
            padding: 0px !important;
        }

        .linear-parent {
            text-align: center;
            margin-top: 2%;
        }

        .linear-button {
            text-align: center;
        }

        .linear-progress {
            width: 80%;
            margin: auto;
            margin-bottom: 3%;
        }

        #reLoad {
            border-radius: 4px;
            text-transform: capitalize;
        }
    </style>
    <script>
        var progressLoad = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.progressBar.theme = (selectedTheme.charAt(0).toUpperCase() +
                selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
            if (args.progressBar.theme === 'Material') {
                args.progressBar.trackColor = '#EAEAEA';
            }
        };

        var replayBtn = document.getElementById('reLoad');
        replayBtn.onclick = function () {
            var PercentProgress = document.getElementById('percentage1').ej2_instances[0];
            var RatioProgress = document.getElementById('ratio1').ej2_instances[0];
            var ActualProgress = document.getElementById('acutal1').ej2_instances[0];
            var customProgress = document.getElementById('custom1').ej2_instances[0];
            PercentProgress.refresh();
            ActualProgress.refresh();
            RatioProgress.refresh();
            customProgress.refresh();
        };
    </script>
}
@section ActionDescription{
    <p>
        This sample illustrates a linear progress bar to demonstrate different types of labels rendering.
    </p>
}
@section Description{
    <p>
        This demo for Essential JS2 Progress Bar control shows the linear progress bar with different labels format with help of <code>textRender</code> event.
    </p>

}
@section Title{
                    <title>ASP.NET Core Progress Bar Labels Example - Syncfusion Demos </title> 
                }
@section Meta{
                    <meta name="description" content="This example demonstrates the Labels in ASP.NET Core Progress Bar control. Explore here for more details."/>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Labels in ASP.NET Core Progress Bar Control</h1>
                }