@using Syncfusion.EJ2
@section ControlsSection {
    <div class="control-section" align="center">
        <div class="row" style="align-items: center; text-align: center;">
            <div class="col-lg-12 col-md-12" style="text-align: center">
                <div>
                    <ejs-progressbar id="linearProcesscontainer"
                                     type='Linear'
                                     minimum="0"
                                     maximum="100"
                                     isIndeterminate=true
                                     height='30'
                                     width='90%'
                                     value=40
                                     trackThickness=10
                                     progressThickness=10>
                    </ejs-progressbar>
                </div>
                <div class="col-lg-4 col-md-4" style="text-align: center"></div>
                <div class="col-lg-4 col-md-4" style="text-align: center">
                    <div>
                        <ejs-progressbar id="circularprogresscontainer"
                                         type='Circular'
                                         isIndeterminate=true
                                         height='350'
                                         width='350'
                                         value=40
                                         trackThickness=10
                                         progressThickness=10 minimum="0" maximum="100">
                            <e-progressbar-progressbarannotations>
                                <e-progressbar-progressbarannotation content='<div style="font-size:35px;font-weight:bold;color:#0078D6;fill:#0078D6"><span>Loading...</span></div>' annotationAngle=90 annotationRadius='-40%'></e-progressbar-progressbarannotation>
                            </e-progressbar-progressbarannotations>
                        </ejs-progressbar>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="text-align: center">
                </div>
            </div>
        </div>
    </div>
    <style>

        #control-container {
            padding: 0px !important;
        }
    </style>

    <script>
        var progressLoad = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.progressBar.theme = (selectedTheme.charAt(0).toUpperCase() +
                selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
        };
    </script>
}
@section ActionDescription{
    <p>
        This sample illustrates a circular and linear progress bar to demonstrate indeterminate mode and annotation.
    </p>
}
@section Description{
    <p>
        This demo for Essential JS2 Progress Bar control shows the indeterminate mode of progress bar
    </p>
}
<style>
    #control-container {
        padding: 0px !important;
    }
</style>