@using Syncfusion.EJ2
@section ControlsSection {
    <div class="control-section" align="center">
        <div class="e-input-group parent-progress">
            <ejs-textbox id="progresslinearpassword"
                         placeholder='New Password'
                         cssClass='e-outline'
                         floatLabelType='Auto'
                         type='password'
                         width='20%'
                         input='input1'>
            </ejs-textbox>
            <div style="margin-left: 7px;">
                <ejs-textbox id="progresspassword"
                             placeholder='New Password'
                             cssClass='e-outline'
                             floatLabelType='Auto'
                             type='password'
                             width='96%'
                             input='input'>
                </ejs-textbox>
            </div>
            <span style="text-align: center">
                <ejs-progressbar id="progresscontainer"
                                 type='Circular'
                                 height='30px'
                                 width='30px'
                                 minimum=0
                                 maximum=16
                                 value=0
                                 trackThickness=1
                                 load="load2"
                                 progressThickness=2>
                    <e-progressbar-margin left="5" bottom="0" top="0" right="0"></e-progressbar-margin>
                </ejs-progressbar>
            </span>
        </div>
        <div class="row">
            <div class="parent-progress1" style="margin-left: -55%">
                <span class="e-progress-linear">
                    <ejs-progressbar id="progresslinearcontainer"
                                     type='Linear'
                                     height='30px'
                                     width='60%'
                                     minimum=0
                                     maximum=16
                                     value=0
                                     trackThickness=4
                                     trackColor="transparent"
                                     load="load1"
                                     progressThickness=4 segmentCount="4">
                        <e-progressbar-margin left="5" bottom="0" top="0" right="0"></e-progressbar-margin>
                    </ejs-progressbar>
                </span>
            </div>
            <div class="col-lg-12 e-label" style="margin-left: -32%">
                <label id="label" style="text-align: center"></label>
            </div>
        </div>
    </div>
    <style>

        #control-container {
            padding: 0px !important;
        }

        .progress-icon {
            background: transparent;
            border: 0px !important;
        }

        #progresscontainer {
            left: -5%;
            background-color: transparent;
            padding: 4px;
        }

        #progresslinearcontainer {
            right: -10%;
        }

        .progress-row1 {
            margin-left: 10%;
        }

        .progress-row2 {
            margin-left: 10%;
        }

        .parent-progress {
            margin-left: 1%;
            margin-top: 9%;
            border: 0px !important;
        }

        .parent-progress1 {
            margin-left: 10%;
            border: 0px !important;
            width: 33%;
        }

        .e-progress-label {
            margin-left: 9%;
            border: 0px !important;
        }
    </style>

    <script>
        var load1 = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.progressBar.theme = (selectedTheme.charAt(0).toUpperCase() +
                selectedTheme.slice(1)).replace(/dark/i, 'Dark').replace(/light/i, 'Light').replace(/contrast/i, 'Contrast');
        }

        var load2 = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.progressBar.theme = (selectedTheme.charAt(0).toUpperCase() +
                selectedTheme.slice(1)).replace(/dark/i, 'Dark').replace(/light/i, 'Light').replace(/contrast/i, 'Contrast');
            if (selectedTheme.toLowerCase() !== 'material') {
                args.progressBar.element.style.marginTop = '64%';
            }
        }
        var input = function (args) {
            var progressbar = document.getElementById("progresscontainer").ej2_instances[0];
            var outlineTextBox = document.getElementById("progresspassword").ej2_instances[0];
            var passLength = args.value.length;
            progressbar.value = passLength;
            if (passLength === 0) {
                outlineTextBox.placeholder = 'Very Weak';
                progressbar.progressColor = '#eb4f34';
            } else if (passLength < 6) {
                outlineTextBox.placeholder = 'Weak';
                progressbar.progressColor = '#eb8034';
            } else if (passLength < 9) {
                outlineTextBox.placeholder = 'Medium';
                progressbar.progressColor = '#ebb134';
            } else if (passLength < 12) {
                outlineTextBox.placeholder = 'Strong';
                progressbar.progressColor = '#cdeb34';
            } else {
                outlineTextBox.placeholder = 'Very Strong';
                progressbar.progressColor = '#68eb34';
            }
            progressbar.value = progressbar.value > 16 ? 16 : progressbar.value;
            progressbar.refresh();
        }
        var input1 = function (args) {
            var progressLinearbar = document.getElementById("progresslinearcontainer").ej2_instances[0];
            var outlineLinearTextBox = document.getElementById("progresslinearpassword").ej2_instances[0];
             var passLength = args.value.length;
                var label = document.getElementById("label");
                progressLinearbar.value = passLength;
            if (passLength <= 8) {
                outlineLinearTextBox.placeholder = 'Password';
                progressLinearbar.progressColor = '#E42E2F ';
                label.textContent = "Weak";
                label.style.color = '#E42E2F ';
            }
            else if (passLength <= 12) {
                outlineLinearTextBox.placeholder = 'Password';
                progressLinearbar.progressColor = '#FF9305';
                label.textContent = "Good";
                label.style.color = '#FF9305';
            }
            else {
                outlineLinearTextBox.placeholder = 'Password';
                progressLinearbar.progressColor = '#2BB20E';
                label.textContent = "Strong";
                label.style.color = '#2BB20E ';
            }
            if (passLength === 0) {
                label.textContent = '';
                label.style.color = '#2BB20E ';
                progressLinearbar.trackColor = 'transparent';
            }
            progressLinearbar.value = progressLinearbar.value > 16 ? 16 : progressLinearbar.value;
            progressLinearbar.refresh();
        }
    </script>
    <style>
        #control-container {
            padding: 0px !important;
        }

        #progresscontainer {
            left: -7%;
            padding: 4px;
        }
        .parent-progress {
            margin-left: 10%;
            margin-top: 9%;
            border-bottom: 0px !important;
        }

        .parent-progress1 {
            margin-left: -38%;
            border-bottom: 0px !important;
        }

        .e-label {
            margin-left: -30.5%;
            border-bottom: 0px !important;
        }

        .e-float-input.e-control-wrapper.e-outline {
            margin-left: 60px;
        }
    </style>
}
@section ActionDescription{
    <p>
        This sample illustrates a circular and linear progress bar to demonstrate dynamic update based on text box input values.
    </p>
}
@section Description{
    <p>
        This demo for Essential JS2 Progress Bar control shows the dynamic update of linear and circular progress bar.
    </p>
}
@section Title{
                 <title>ASP.NET Core ProgressBar Password Strength Example - Syncfusion Demos </title>
             }
@section Meta{
                <meta name="description" content="This example demonstrates the Password Strength in ASP.NET Core ProgressBar control. Explore here for more details."/>
            }
@section Header{
                <h1 class='sb-sample-text'>Example of Password Strength in ASP.NET Core ProgressBar Control</h1>
            }