@using Syncfusion.EJ2
@section ControlsSection {

    <div class="control-section">
        <div class="row linear-parent">
            <div class="col-lg-12 col-md-12" style="margin-top:1%">
                <div id="tinycontainer" class="linear-progress">
                    <ejs-progressbar id="tinycontainerr"
                                     minimum="0"
                                     maximum="100"
                                     type='Linear'
                                     value=10
                                     width='90%'
                                     height='60'
                                     trackThickness=4
                                     progressThickness=4>
                        <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                    </ejs-progressbar>
                </div>
                <div class="col-lg-12 col-md-12 progressbar-label" id="tinytext" style="font-size: small;">Tiny</div>
            </div>
            <div class="col-lg-12 col-md-12" style="margin-top:2.5%">
                <div id="smallcontainer" class="linear-progress">
                    <ejs-progressbar id="smallcontainer"
                                     minimum="0"
                                     maximum="100"
                                     type='Linear'
                                     value=20
                                     width='90%'
                                     height='60'
                                     trackThickness=14
                                     progressThickness=14>
                        <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                    </ejs-progressbar>
                </div>
                <div class="col-lg-12 col-md-12 progressbar-label" id="smalltext" style="font-size: small;">Small</div>
            </div>
            <div class="col-lg-12 col-md-12" style="margin-top:2.5%">
                <div id="mediumcontainer" class="linear-progress">
                    <ejs-progressbar id="mediumcontainer"
                                     minimum="0"
                                     maximum="100"
                                     type='Linear'
                                     value=30
                                     width='90%'
                                     height='60'
                                     trackThickness=24
                                     progressThickness=24>
                        <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                    </ejs-progressbar>
                </div>
                <div class="col-lg-12 col-md-12 progressbar-label" id="mediumtext" style="font-size: small;">Medium</div>
            </div>
            <div class="col-lg-12 col-md-12" style="margin-top:2.5%">
                <div id="largecontainer" class="linear-progress">
                    <ejs-progressbar id="largecontainer"
                                     minimum="0"
                                     maximum="100"
                                     type='Linear'
                                     value=40
                                     width='90%'
                                     height='60'
                                     trackThickness=34
                                     progressThickness=34>
                        <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                    </ejs-progressbar>
                </div>
                <div class="col-lg-12 col-md-12 progressbar-label" id="largetext" style="font-size: small; margin-top: 3px;">Large</div>
            </div>
            <div class="col-lg-12 col-md-12" style="margin-top:2.5%">
                <div id="bigcontainer" class="linear-progress">
                    <ejs-progressbar id="bigcontainerr"
                                     minimum="0"
                                     maximum="100"
                                     type='Linear'
                                     value=50
                                     width='90%'
                                     height='60'
                                     trackThickness=44
                                     progressThickness=44>
                        <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                    </ejs-progressbar>
                </div>
                <div class="col-lg-12 col-md-12 progressbar-label" id="bigtext" style="font-size: small; margin-top: 3px;">Big</div>
            </div>
        </div>
    </div>
    <style>
        #control-container {
            padding: 0px !important;
        }

        .linear-parent {
            text-align: center;
        }

        .progressbar-label {
            margin-top: -2%;
            font-size: 16px;
            text-align: center;
        }

        .linear-progress {
            width: 80%;
            margin: auto;
        }
    </style>
}
@section ActionDescription{
    <p>
        This sample illustrates a circular and linear progress bar to demonstrate rendering with multiple segments.
    </p>
}
@section Description{
    <p>
        This demo for Essential JS2 Progress Bar control shows the progress bar rendering with segments
    </p>
}