@using Syncfusion.EJ2
@section ControlsSection {
    <div class="control-section">
        <div class="row linear-parent">
            <div class="col-lg-12 col-md-12 linear-row">
                <div class="row">
                    <div class="col-lg-12 col-md-12 progressbar-label" style="margin-left: 16%">Tiny</div>
                    <div class="col-lg-12 col-md-12">
                        <div class="linear-progress" style="margin-left: 11.5%">
                            <ejs-progressbar id="tinycontainerr"
                                             minimum="0"
                                             maximum="100"
                                             type='Linear'
                                             value=10
                                             width='90%'
                                             height='60'
                                             trackThickness=4
                                             progressThickness=4
                                             load="progressLoad"
                                             >
                                <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                            </ejs-progressbar>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 linear-row">
                    <div class="col-lg-12 col-md-12 progressbar-label left-label">Small</div>
                    <div class="linear-progress">
                        <ejs-progressbar id="smallcontainer"
                                         minimum="0"
                                         maximum="100"
                                         type='Linear'
                                         value=20
                                         width='90%'
                                         height='60'
                                         trackThickness=14
                                         progressThickness=14
                                         load="progressLoad"
                                         >
                            <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                        </ejs-progressbar>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 linear-row">
                    <div class="col-lg-12 col-md-12 progressbar-label left-label">Medium</div>
                    <div class="linear-progress">
                        <ejs-progressbar id="mediumcontainer"
                                         minimum="0"
                                         maximum="100"
                                         type='Linear'
                                         value=30
                                         width='90%'
                                         height='60'
                                         trackThickness=24
                                         progressThickness=24
                                         load="progressLoad"
                                         >
                            <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                        </ejs-progressbar>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 linear-row">
                    <div class="col-lg-12 col-md-12 progressbar-label left-label">Large</div>
                    <div class="linear-progress">
                        <ejs-progressbar id="largecontainer"
                                         minimum="0"
                                         maximum="100"
                                         type='Linear'
                                         value=40
                                         width='90%'
                                         height='60'
                                         trackThickness=34
                                         progressThickness=34
                                         load="progressLoad"
                                         >
                            <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                        </ejs-progressbar>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 linear-row">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 progressbar-label">Big</div>
                        <div class="col-lg-12 col-md-12">
                            <div class="linear-progress">
                                <ejs-progressbar id="bigcontainerr"
                                                 minimum="0"
                                                 maximum="100"
                                                 type='Linear'
                                                 value=50
                                                 width='90%'
                                                 height='60'
                                                 trackThickness=44
                                                 progressThickness=44
                                                 load="progressLoad"
                                                 >
                                    <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                                </ejs-progressbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var progressLoad = function (args) {
                var selectedTheme = location.hash.split('/')[1];
                selectedTheme = selectedTheme ? selectedTheme : 'Material';
                args.progressBar.theme = (selectedTheme.charAt(0).toUpperCase() +
                    selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
            };

        </script>
        <style>


            .e-progressbar {
                overflow: hidden;
            }

            .actual-txt {
                font-size: 14px;
            }

            #control-container {
                padding: 0px !important;
            }

            .replay-progressbar {
                right: 100px;
            }

            .linear-row {
                padding: 2%;
            }

            .linear-parent {
                text-align: center;
            }

            .left-label {
                margin-left: 13.5% !important;
            }

            .progressbar-label {
                text-align: left;
                font-family: Roboto-Regular;
                font-size: 12px;
                color: #3D3E3C;
                letter-spacing: 0;
                margin-top: -2%;
                margin-left: 14.5%;
            }

            .linear-progress {
                width: 80%;
                margin: auto;
            }
        </style>
}
@section ActionDescription{
    <p>
        This sample illustrates a linear progress bar with track thickness and animation support.
    </p>
}
@section Description{
    <p>
        This demo for Essential JS2 Progress Bar control shows the linear progress bar with different track width.
    </p>
}
