@using Syncfusion.EJ2
@{
    var defaultanimation = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.Zoom };
}

@section ControlsSection {
    <div class="col-lg-12 control-section" id="target">
        <div id="customization">
            <div class="animate">
                <ejs-button id="Zoom" isPrimary="true" cssClass="e-outline" content="Zoom"></ejs-button>
            </div>
            <div class="animate">
                <ejs-button id="FlipXDown" isPrimary="true" cssClass="e-outline" content="FlipX Down"></ejs-button>
            </div>
            <div class="animate">
                <ejs-button id="FlipXUp" isPrimary="true" cssClass="e-outline" content="FlipX Up"></ejs-button>
            </div>
            <div class="animate">
                <ejs-button id="FlipYLeft" isPrimary="true" cssClass="e-outline" content="FlipY Left"></ejs-button>
            </div>
            <div class="animate">
                <ejs-button id="FlipYRight" isPrimary="true" cssClass="e-outline" content="FlipY Right"></ejs-button>
            </div>
        </div>
        <ejs-dialog id="animationDialog" allowDragging="true" visible="true" isModal="true" animationSettings="defaultanimation" width="285px" target="#target"
                    showCloseIcon="true" header="Animation Dialog" created="created">
            <e-content-template>
                <span>The dialog is configured with animation effect. It is opened or closed with 'Zoom In or Out' animation.</span>
            </e-content-template>
            <e-dialog-buttons>
                <e-dialog-dialogbutton buttonModel="ViewBag.defaultbutton" click="dlgButtonClick"></e-dialog-dialogbutton>
            </e-dialog-buttons>
        </ejs-dialog>
    </div>
}

@section PreScripts{
    <script>
        var dialogObj;
        function created() {
            dialogObj = this;
        }
        var list = document.getElementsByClassName('animate');
        for (var i = 0; i < list.length; i++) {
            list[i].addEventListener('click', function (e) {
                onAnimationChange(e);
            });
        }
        function onAnimationChange(e) {
            var effects = e.target.id;
            var txt = e.target.parentElement.innerText;
            txt = (txt == "Zoom In/Out") ? "Zoom In or Out" : txt;
            dialogObj.content = 'The dialog is configured with animation effect. It is opened or closed with "' + txt + '" animation.';
            dialogObj.animationSettings = { effect: effects, duration: 400 };
            dialogObj.show();
        }
        function dlgButtonClick() {
            dialogObj.hide();
        }
    </script>
}

<style>
    html,
    body,
    #container {
        height: 100%;
        overflow: hidden;
        width: 100%;
        position: relative;
        min-height: 400px;
    }

    .text {
        text-transform: capitalize;
    }

    #customization {
        display: table;
        margin: 0 auto;
    }

    .animate {
        display: table-cell;
        padding-left: 20px;
    }
</style>

@section ActionDescription{
    <div id="action-description">
        <p>
            This example demonstrates how to open or close the dialog with animation effects by clicking the appropriate button.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The dialog can be opened or closed with animation effect using the <code>animationSettings</code> property.
            You can also customize the duration of animation and delay to begin animation.
            Disables the dialog's animation by setting the animation effect as none.
        </p>
    </div>
}

@*custom code start*@

@section Meta{
    <meta name="description" content="This example demonstrates how to open or close the ASP.NET Core dialog with various animation effects, and how to customize the animation duration and delay." />
}

@*custom code end*@
