@using Syncfusion.EJ2
@{ 
    var defaultanimation = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.None };
}
@section ControlsSection {
<div class="col-lg-12 control-section" id="target">
    <ejs-button id="normalbtn" content="Open"></ejs-button>
    <ejs-dialog id="default_dialog" animationSettings="defaultanimation" width="500px" target="#target" open="dialogOpen" Content="<p>In the Succinctly series, Syncfusion created a robust, free library of more than 130 technical e - books formatted for PDF, Kindle, and EPUB.<br> <br>The Succinctly series was born in 2012 out of a desire to provide concise technical e-books for software developers.Each title in the Succinctly series is written by a carefully chosen expert and provides essential content in about 100 pages.</p>"
               close="dialogClose" showCloseIcon="true" header="About SYNCFUSION succintly series">
        <e-dialog-buttons>
            <e-dialog-dialogbutton buttonModel="ViewBag.button" click="dlgButtonClick"></e-dialog-dialogbutton>
        </e-dialog-buttons>
    </ejs-dialog>
</div>
}

<style>
    .control-section {
        padding-left: 10px;
    }

    @@media screen and (min-width: 150px) and (max-width: 480px) {
        .control-section {
            margin-bottom: 30px;
        }

        .control-wrapper {
            margin-bottom: 0px;
        }
    }
</style>

@section PreScripts{
    <script>
        document.getElementById("normalbtn").addEventListener('click', function () {
            var dialogObj = document.getElementById("default_dialog")
            dialogObj.ej2_instances[0].show();
        });
        function dialogClose() {
            document.getElementById("normalbtn").style.display = "block";
        }
        function dialogOpen() {
            document.getElementById("normalbtn").style.display = "none";
        }
        function dlgButtonClick() {
            window.open('https://www.syncfusion.com/company/about-us');
         }
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the default rendering of the dialog component with minimum configuration. Click close or press ESC to close the dialog. Click “open” to show the dialog again, if it is closed.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The dialog component is used to display information and get input from the user. The dialog component is classified as modal and non-modal dialog depend on its interaction with parent application.
        </p>
        <ul>
            <li>
                Modal - It creates overlay that disable interaction with the parent application, and user should respond with modal before continuing with other applications.
            </li>
            <li>
                Non-modal - It does not prevent user interaction with parent application.
            </li>
        </ul>
    </div>
}

@section Meta{
    <meta name="description" content="This sample demonstrates the default rendering of the dialog component, which supports modal and non-modal (modeless) behavior based on its interaction state." />
}