@using Syncfusion.EJ2
@section ControlsSection{

    <div class="control-section">
        <div id="container" align='center'>
            <ejs-chart id="BollingerContainer" title="AAPL - 2012-2017"
                       load="window.onChartLoad">
                <e-chart-tooltipsettings enable="true" shared="true">
                </e-chart-tooltipsettings>
                <e-chart-legendsettings visible="false">
                </e-chart-legendsettings>
                <e-chart-primaryxaxis title="Price" valueType="DateTime" zoomFactor="0.2" zoomPosition="0.6">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-crosshairtooltip enable="true"></e-crosshairtooltip>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis title="Price"
            labelFormat="${value}"  rowIndex=1 opposedPosition=true plotOffset="25" minimum="50" maximum="170" interval="30" >
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-zoomsettings enableSelectionZooming="true" mode="X"></e-chart-zoomsettings>
                <e-chart-crosshairsettings enable=true lineType="Vertical"></e-chart-crosshairsettings>
                <e-chart-axes>
                    <e-chart-axis name="secondary"
                                  opposedPosition=true rowIndex=0 title="ATR">
                        <e-majorgridlines width="0"></e-majorgridlines>
                        <e-majorticklines width="0"></e-majorticklines>
                        <e-linestyle width="0"></e-linestyle>
                        <e-striplines>
                            <e-stripline start="0" end="14" text="" color="#6063ff" visible="true" opacity="0.1" zIndex="Behind"></e-stripline>
                        </e-striplines>
                    </e-chart-axis>
                </e-chart-axes>
                <e-chart-rows>
                    <e-chart-row height="40%"></e-chart-row>
                    <e-chart-row height="60%"></e-chart-row>
                </e-chart-rows>
                <e-series-collection>
                    <e-series xName="x" yName="y" low="low" high="high" close="close" volume="volume" open="open" width=2
                              name="Apple Inc" bearFillColor="#2ecd71" bullFillColor="#e74c3d"
                              type="@Syncfusion.EJ2.Charts.ChartSeriesType.Candle"></e-series>
                </e-series-collection>
                <e-indicators>
                    <e-indicator type="@Syncfusion.EJ2.Charts.TechnicalIndicators.Atr"
                                 xName='x' field="Close" yAxisName='secondary' fill="blue" period=3 seriesName="Apple Inc">
                    </e-indicator>
                </e-indicators>
            </ejs-chart>
        </div>
    </div>
    <script src="~/scripts/chart/financial-data.js"></script>
    @*custom code start*@
    <script type="text/javascript">        
        window.onChartLoad = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            args.chart.series[0].dataSource = window.chartData;
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "80%";
        }
    </script>
        @*custom code end*@
}
    @*custom code start*@
@section Scripts {

}

<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
                    <meta name="description" content="This example demonstrates the Atr in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample illustrates a stock chart with candle series and an average true range indicator.
        Trackball shows the information about the stock and signal value of a day.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the Average True Range Indicator. You can use <code>border</code>,
        <code>fill</code> properties to customize the area.
    </p>
    <p>
        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>   
    <p>
        More information on the Average True Range Indicator can be found in this
        <a target="_blank" href="http://ej2.syncfusion.com/documentation/chart/api-series.html#type-chartseriestype">documentation section</a>.
    </p>
}
@section Title{
                 <title>ASP.NET Core Chart Atr Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example of Atr in ASP.NET Core Chart Control</h1>
            }