@using Syncfusion.EJ2
@section ControlsSection{
    
  <div class="col-lg-12 control-section" align="center">
            <ejs-chart id="container" title="Employees Age Group in Various Departments"
                       load="load" pointRender="pointRender">
                <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis minimum="10" maximum="60" interval="10" title="Age">
                    <e-majorgridlines width="1"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-chart-tooltipsettings enable="true" header="">
                </e-chart-tooltipsettings>
                <e-chart-legendsettings visible="false">
                </e-chart-legendsettings>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-series-collection>
                    <e-series dataSource="ViewBag.ChartPoints" xName="Department" yName="Age"
                              name="Department" type="@Syncfusion.EJ2.Charts.ChartSeriesType.BoxAndWhisker">
                        <e-series-marker visible="true" height="7" width="7"></e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
        
        <script src="~/scripts/chart/financial-data.js"></script>
        <script type="text/javascript">
        @*custom code start*@
            function load(args) {
                var selectedTheme = location.hash.split('/')[1];
                selectedTheme = selectedTheme ? selectedTheme : 'Material';
                args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
                args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
                args.chart.primaryXAxis.labelIntersectAction = ej.base.Browser.isDevice ? 'None' : 'Rotate45';
                args.chart.primaryXAxis.labelRotation = ej.base.Browser.isDevice ? -45 : 0;
            }
        @*custom code end*@
            function pointRender(args) {
                var selectedTheme = location.hash.split('/')[1];
                selectedTheme = selectedTheme ? selectedTheme : 'Material';
                var materialColors = ["#00bdae", "#404041", "#357cd2", "#e56590", "#f8b883", "#70ad47", "#dd8abd", "#7f84e8", "#7bb4eb",
                    "#ea7a57", "#404041", "#00bdae"];
                var fabricColors = ["#4472c4", "#ed7d31", "#ffc000", "#70ad47", "#5b9bd5",
                    "#c1c1c1", "#6f6fe2", "#e269ae", "#9e480e", "#997300", "#4472c4", "#70ad47", "#ffc000", "#ed7d31"];
                var bootstrapColors = ["#a16ee5", "#f7ce69", "#55a5c2", "#7ddf1e", "#ff6ea6",
                    "#7953ac", "#b99b4f", "#407c92", "#5ea716", "#b91c52"];
                var highContrastColors = ["#79ECE4", "#E98272", "#DFE6B6", "#C6E773", "#BA98FF",
                    "#FA83C3", "#00C27A", "#43ACEF", "#D681EF", "#D8BC6E"];
                var fluentColors = ['#1AC9E6', '#DA4CB2', '#EDBB40', '#AF4BCF', '#FF7266', '#1BD565', '#EE993D', '#5887FF', '#EC548D',
                    '#7D39C0'];
                var fluentDarkColors = ['#1AC9E6', '#DA4CB2', '#EDBB40', '#AF4BCF', '#FF7266', '#1BD565', '#EE993D', '#5887FF', '#EC548D',
                    '#7D39C0'];
                if (selectedTheme && selectedTheme.indexOf('fabric') > -1) {
                    args.fill = fabricColors[args.point.index % 10];
                } else if (selectedTheme === 'material') {
                    args.fill = materialColors[args.point.index % 10];
                } else if (selectedTheme === 'highcontrast') {
                    args.fill = highContrastColors[args.point.index % 10];
                } else if (selectedTheme === 'fluent') {
                   args.fill = fluentColors[args.point.index % 10];
                } else if (selectedTheme === 'fluent-dark') {
                   args.fill = fluentDarkColors[args.point.index % 10];
                } else {
                    args.fill = bootstrapColors[args.point.index % 10];
                }
            }

        </script>
    }
    @section ActionDescription{
        <div id="action-description">
            <p>
                This <a target="_blank" href="https://www.syncfusion.com/aspnet-core-ui-controls/charts/chart-types/box-and-whisker-chart">ASP.NET Core Box and Whisker Chart</a> example visualizes the employee’s age group in various departments of a company with box and whisker chart.
            </p>
        </div>
    }
    @section Description{
        <div id="description">
            <p>
                In this example, you can see how to render and configure a box and whisker chart or box plot. This chart is used to visualize a group of numerical data through their data quartiles. Box plots may also have lines extending vertically from the boxes (whiskers) indicating variability outside the upper and lower quartiles. <code>Marker</code> and <code>DataLabel</code> are used to represent individual data and its values.
            </p>
            <p>
                <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch enabled devices.
            </p>
            <p>
                More information about the box and whisker series can be found in this
                <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/box-whisker">documentation section</a>.
            </p>
        </div>
    }
    @*custom code start*@
    @section Scripts {
    }

    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
@section Meta{
                    <meta name="description" content="This example demonstrates the Box and Whisker in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section Title{
                    <title>ASP.NET Core Chart Box and Whisker Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Box and Whisker in ASP.NET Core Chart Control</h1>
                }