@using Syncfusion.EJ2
@section ControlsSection{
   <div class="control-section">
        <div id="container" align='center'>
            <ejs-chart id="lineContainer" title="Internet Users – 2016" load="load" pointRender="labelRender" >
                <e-chart-tooltipsettings enable="true" format="${point.tooltip}">
                </e-chart-tooltipsettings>
                <e-chart-legendsettings visible="false"></e-chart-legendsettings>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-primaryxaxis title="Country" valueType="Category" enableTrim="false">
                    <e-majorgridlines width="0"></e-majorgridlines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis minimum=0 maximum=800
                                edgeLabelPlacement="Shift">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                    <e-labelstyle color="Transparent"></e-labelstyle>
                </e-chart-primaryyaxis>
                <e-series-collection>
                    <e-series dataSource="ViewBag.dataSource" name="Users" xName="x" width="2" tooltipMappingName="country" opacity="1" yName="y" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Bar">
                        <e-series-marker>
                            <e-series-datalabel visible="true" position="Top">
                                <e-font color="#ffffff" fontWeight="600"></e-font>  
                            </e-series-datalabel>
                        </e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>

    <script>
        function labelRender(args) {
            var selectedTheme = themeName ? themeName : 'Material';
            var materialColors = ['#00bdae', '#404041', '#357cd2', '#e56590', '#f8b883', '#70ad47', '#dd8abd', '#7f84e8', '#7bb4eb',
                '#ea7a57', '#404041', '#00bdae'];
            var fabricColors = ['#4472c4', '#ed7d31', '#ffc000', '#70ad47', '#5b9bd5',
                '#c1c1c1', '#6f6fe2', '#e269ae', '#9e480e', '#997300', '#4472c4', '#70ad47', '#ffc000', '#ed7d31'];
            var bootstrapColors = ['#a16ee5', '#f7ce69', '#55a5c2', '#7ddf1e', '#ff6ea6',
                '#7953ac', '#b99b4f', '#407c92', '#5ea716', '#b91c52'];
            var highContrastColors = ['#79ECE4', '#E98272', '#DFE6B6', '#C6E773', '#BA98FF',
                '#FA83C3', '#00C27A', '#43ACEF', '#D681EF', '#D8BC6E'];
            if (selectedTheme && selectedTheme.indexOf('fabric') > -1) {
                args.fill = fabricColors[args.point.index % 10];
            }
            else if (selectedTheme === 'material') {
                args.fill = materialColors[args.point.index % 10];
            }
            else if (selectedTheme === 'highcontrast') {
                args.fill = highContrastColors[args.point.index % 10];
            }
            else {
                args.fill = bootstrapColors[args.point.index % 10];
            }
        };

        function load(args) {
            @* custom code start *@
            var indexedTheme = themeName ? themeName : 'Material';
            args.chart.theme = (indexedTheme.charAt(0).toUpperCase() + indexedTheme.slice(1).replace(/dark/i, "Dark").replace(/light/i, "Light"));
            @* custom code end *@ 
            args.chart.primaryYAxis.labelFormat = ej.base.Browser.isDevice ? '{value}' : '{value}M';
            args.chart.title = ej.base.Browser.isDevice ? 'Internet Users in Million – 2016' : 'Internet Users – 2016';
        }

    </script>

}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Category Axis in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample demonstrates the rendering of category axis in the chart with internet users of different countries.
    </p>
}
@section Description{
    <div id="description">
        <p>
            Category axis is used to represent the categories in data. To render category axis, set <code>valueType</code> in axis to <code>Category</code>.
            Category label can placed between the ticks or on the ticks, based on <code>labelPlacement</code> property.
        </p>
        <p>
            Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
        </p>     
    </div>
}
@section Title{
                 <title>ASP.NET Core Chart Category Axis Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example of Category Axis in ASP.NET Core Chart Control</h1>
            }