@using Syncfusion.EJ2
@section ControlsSection{
  <div class="control-section">
        <div id="container" align='center'>
            <ejs-chart id="lineContainer" title="Alaska Weather Statistics - 2016" load=" load" >
                <e-chart-tooltipsettings enable="false" format="${point.x}th Over : <b>${point.y} Runs</b>">
                </e-chart-tooltipsettings>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-primaryxaxis valueType="DateTime" labelFormat="MMM"
                                edgeLabelPlacement="Shift">
                    <e-majorgridlines width="0"></e-majorgridlines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis minimum="-20" maximum="30" interval="10" edgeLabelPlacement="Shift" labelFormat="{value}°C" >
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-minorticklines width="0"></e-minorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-series-collection>
                    <e-series dataSource="ViewBag.dataSource" name="Warmest" xName="xValue" width="2" opacity="1" yName="yValue1" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                        <e-series-marker visible="true" height="10" width="10" shape="Pentagon">
                            <e-series-datalabel visible="true" position="Top"></e-series-datalabel>
                        </e-series-marker>
                    </e-series>
                    <e-series dataSource="ViewBag.dataSource" name="Coldest" xName="xValue" width="2" opacity="1" yName="yValue2" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                        <e-series-marker visible="true" height="10" width="10" shape="Diamond">
                            <e-series-datalabel visible="true" position="Bottom"></e-series-datalabel>
                        </e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
    @*custom code start*@
    <script>
        function load(args) {
            var indexedTheme = location.hash.split('/')[1];
            indexedTheme = indexedTheme ? indexedTheme : 'Material';
            args.chart.theme = (indexedTheme.charAt(0).toUpperCase() + indexedTheme.slice(1).replace(/dark/i, "Dark").replace(/light/i, "Light"));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "60%";
        }
    </script>
    @*custom code end*@

}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the DateTime Axis in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the rendering of date time axis in the chart with weather statistics analysis of Alaska for a year.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            DateTime data is used in this sample and data values are represented using dataLabel. Date time axis uses date time scale and displays the date time values as axis labels. To render dateTime axis, set <code>valueType</code> in axis to <code>DateTime</code>.
            Format for the axis label will be calculated based on intervalType of axis or we can set the format through labelFormat property in axis.
        </p>
        <br></br>
       
        <p>
            More information on the DateTime axis can be found in this &nbsp;
            <a target="_blank" href="http://ej2.syncfusion.com/react/documentation/chart/api-axis.html#valuetype-valuetype">documentation section</a>.
        </p>
    </div>
}
@section Title{
                 <title>ASP.NET Core Chart DateTime Axis Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for DateTime Axis in ASP.NET Core Chart Control</h1>
            }