@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-pane">
    <div class="control-section row">
        <ejs-accumulationchart id="container" title="Recruitment Process" enableAnimation="false" load="load">
            <e-accumulationchart-tooltipsettings enable="false" format="${point.x} : <b>${point.y}</b>"></e-accumulationchart-tooltipsettings>
            <e-accumulationchart-legendsettings visible="false">
            </e-accumulationchart-legendsettings>
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="ViewBag.ChartPoints" xName="InterviewProcess" yName="Candidates" type="@Syncfusion.EJ2.Charts.AccumulationType.Funnel" neckHeight="18%" height="80%" gapRatio="0.03" explode="false">
                    <e-accumulationseries-datalabel visible="true" name="DataLabelMappingName" position="@Syncfusion.EJ2.Charts.AccumulationLabelPosition.Inside">
                        <e-font fontWeight="600"></e-font>
                        <e-connectorstyle length="20px"></e-connectorstyle>
                    </e-accumulationseries-datalabel>
                </e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>
    </div>
    </div>
    <script>

            @*custom code start*@
        function load(args) {
            var indexedTheme = location.hash.split('/')[1];
            indexedTheme = indexedTheme ? indexedTheme : 'Material';
            args.accumulation.theme = (indexedTheme.charAt(0).toUpperCase() + indexedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            args.accumulation.series[0].width = ej.base.Browser.isDevice ? "90%" : "45%";
            args.accumulation.series[0].neckWidth = ej.base.Browser.isDevice ? "25%" : "15%";
            args.accumulation.series[0].dataSource[1].DataLabelMappingName = ej.base.Browser.isDevice ? "Personal <br> Interview: 58" : "Personal Interview: 58";
            args.accumulation.series[0].dataSource[2].DataLabelMappingName = ej.base.Browser.isDevice ? "Telephonic <br> Interview: 85" : "Telephonic Interview: 85";
        }
        @*custom code end*@
    </script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Funnel in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{

    <div id="action-description">
        <p>
            This <a target="_blank" href="https://www.syncfusion.com/aspnet-core-ui-controls/charts/chart-types/funnel-chart">ASP.NET Core Funnel Chart</a> example shows a funnel chart for recruitment process. Datalabels show information about the points.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            In this example, you can see how to render and configure a funnel chart. The labels are smartly arranged to avoid overlapping. The width and height of the funnel chart can be customized using the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.AccumulationSeries.html#Syncfusion_EJ2_Charts_AccumulationSeries_NeckWidth">NeckWidth</a> and
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.AccumulationSeries.html#Syncfusion_EJ2_Charts_AccumulationSeries_NeckHeight">NeckHeight</a> properties.
        </p>
        <p>
            More information about the funnel series can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/accumulation-chart/funnel">documentation section</a>.
        </p>
    </div>

}
@section Title{
                    <title>ASP.NET Core Chart Funnel Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Funnel in ASP.NET Core Chart Control</h1>
                }