@using Syncfusion.EJ2
@section ControlsSection{
 <div class="control-section">
        <div id="container" align='center'>
            <ejs-chart id="BollingerContainer" title="AAPL Historical"
                      load="window.onChartLoad" >
                <e-chart-tooltipsettings enable="true" shared="true">
                </e-chart-tooltipsettings>
                <e-chart-primaryxaxis valueType="DateTime" >
                    <e-crosshairtooltip enable="true"></e-crosshairtooltip>
                    <e-majorgridlines width="0"></e-majorgridlines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis title="Price" minimum=100 maximum=180 interval=20 labelFormat="${value}" >
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-legendsettings visible="false">
                </e-chart-legendsettings>
                <e-chart-crosshairsettings enable=true lineType="Vertical">
                    <e-crosshairsettings-line width=" 0"></e-crosshairsettings-line>
                </e-chart-crosshairsettings>
                <e-series-collection>
                    <e-series xName="x" yName="y" low="low" high="high" name="Apple Inc"
                              type="@Syncfusion.EJ2.Charts.ChartSeriesType.Hilo"></e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
    <script src="~/scripts/chart/financial-data.js"></script>
    <script type="text/javascript">
        window.onChartLoad = function (args) {
            @*custom code start*@
            var selectedTheme = themeName ? themeName : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/dark/i, "Dark").replace(/light/i, "Light"));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "60%";
            @*custom code end*@
            var date1 = new Date(2017,01,01);
            var returnValue = window.chartData.filter(filterValue);
            function filterValue(value) {
                return value.x >= date1;
            }
            args.chart.series[0].dataSource = returnValue;
            args.chart.primaryXAxis.minimum = new Date(2016, 12, 31);
            args.chart.primaryXAxis.maximum = new Date(2017, 09, 30);
        }
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Chart control shows how to render the hilo series." />
}
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the AAPL historical data with default HILO series in the chart.
            Tooltip and crosshair show the information about the data and period.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render and configure the Hilo type series. You can use <code>border</code>,
            <code>fill</code> properties to customize the area.
        </p>
        <p>
            Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
        </p>

        
        <p>
            More information on the Hilo series can be found in this
            <a target="_blank" href="http://ej2.syncfusion.com/documentation/chart/api-series.html#type-chartseriestype">documentation section</a>.
        </p>
    </div>
}
@*custom code start*@
@section Scripts {
}

<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@*custom code end*@
