@using Syncfusion.EJ2
@section ControlsSection{

    <div class="control-section">
        <div id="container" align='center'>
            <ejs-chart id="lineContainer"  load="window.onChartLoad" title="Particulate Levels in Rainfall">
                <e-chart-tooltipsettings enable="true" shared="true" enableAnimation="false">
                </e-chart-tooltipsettings>
                <e-chart-primaryxaxis valueType="DateTime" labelFormat="y" intervalType="Years" edgeLabelPlacement="Shift" >
                    <e-majorgridlines width="0"></e-majorgridlines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis rangePadding="None" minimum=4 maximum=10 title="Particulate Matter(PM)" >   
                   <e-linestyle width="0"></e-linestyle>
                   <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-legendsettings visible="false">
                </e-chart-legendsettings>
                <e-series-collection>
                    <e-series width=1 name="Rainfall" xName="XValue" yName="YValue" pointColorMapping="color" type="@Syncfusion.EJ2.Charts.ChartSeriesType.MultiColoredLine"></e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
    <script src="~/scripts/chart/financial-data.js"></script>
    <script>
        window.onChartLoad = function (args) {
            @*custom code start*@
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            @*custom code end*@
            var dataValues = [];
            var colors = ['red', 'green', '#ff0097', 'crimson', 'blue', 'darkorange', 'deepskyblue',
                'mediumvioletred', 'violet', 'peru', 'gray', 'deeppink', 'navy'];
            window.rainFallData.map(function (value, index) {
                dataValues.push({
                    XValue: new Date(2017, -index, 1), YValue: value.toFixed(2),
                    color: colors[Math.floor(index / 16)]
                });
            });
            args.chart.series[0].dataSource = dataValues;
            args.chart.series[0].width = 1.5;
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "60%";
        }
    </script>
}
@*custom code start*@
@section Scripts {

}

<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
                    <meta name="description" content="This example demonstrates the Multi Colored Line in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample visualizes the particulate levels in rainfall with multi colored line series in the chart.
        Data points are enhanced with individual color and tooltip.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure each point in line type series.
        Multi colored line charts are used to represent time-dependent data to show the trends at equal intervals with their individual colors by using <code>pointColorMapping</code>.
    </p>
    <p>
        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap a point in touch enabled devices.
    </p>
    <br>
    
}
@section Title{
                    <title>ASP.NET Core Chart Multi Colored Line Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Multi Colored Line in ASP.NET Core Chart Control</h1>
                }