@using Syncfusion.EJ2
@section ControlsSection{
     <div class="control-section">
        <div id="container" align='center'>
            <ejs-chart id="lineContainer" title="England vs West Indies" load="load" axisLabelRender="axis" >
                <e-chart-tooltipsettings enable="true" format="${point.x}th Over : <b>${point.y} Runs</b>">
                </e-chart-tooltipsettings>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-primaryxaxis title="Death Overs"
                                minimum=15
                                maximum=21
                                interval=1>
                    <e-majorgridlines width="0"></e-majorgridlines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis>
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                    <e-labelstyle color="transparent"></e-labelstyle>
                </e-chart-primaryyaxis>
                <e-series-collection>
                    <e-series dataSource="ViewBag.dataSource" name="England" xName="xValue" width="2" opacity="1" yName="yValue1" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column" fill="#1e90ff">
                        <e-series-marker>
                            <e-series-datalabel position="Top" visible="true">
                                <e-font fontWeight="600"></e-font>
                            </e-series-datalabel>
                        </e-series-marker>
                    </e-series>
                    <e-series dataSource="ViewBag.dataSource" name="West Indies" xName="xValue" width="2" opacity="1" yName="yValue2" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column" fill="#b22222">
                        <e-series-marker>
                            <e-series-datalabel position="Top" visible="true">
                                <e-font fontWeight="600"></e-font>
                            </e-series-datalabel>
                        </e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>

    <script>
        @*custom code start*@
        function load(args) {
            var indexedTheme = location.hash.split('/')[1];
            indexedTheme = indexedTheme ? indexedTheme : 'Material';
            args.chart.theme = (indexedTheme.charAt(0).toUpperCase() + indexedTheme.slice(1).replace(/dark/i, "Dark").replace(/light/i, "Light"));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "60%";
        }
       @*custom code end*@
        function axis(args) {
            if (args.axis.orientation === 'Horizontal') {
                args.cancel = args.value === 15 || args.value === 21;
            }
        }
    </script>

}
    @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Numeric Axis in ASP.NET Core Chart control. Explore here for more details."/>
                }
    @*custom code end*@
@section ActionDescription{

    <p>
        This sample demonstrates the rendering of numeric axis in the chart with England and West indies cricket match data.
    </p>
}
@section Description {
    <div id="description">
        <p>
            Numeric axis is used to plot numeric data in chart. To render numeric axis, set <code>valueType</code> in axis to <code>Double</code>.
        </p>
        <p>
            Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
        </p>
        <p>
            More information on the Numeric axis can be found in this &nbsp;
            <a target="_blank" href="http://ej2.syncfusion.com/react/documentation/chart/api-axis.html#valuetype-valuetype">documentation section</a>.
        </p>
    </div>

}
@section Title{
                 <title>ASP.NET Core Chart Numeric Axis Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example of Numeric Axis in ASP.NET Core Chart Control</h1>
            }