@using Syncfusion.EJ2
@section ControlsSection{
   
  <div class="control-section" align='center'>
        <ejs-accumulationchart id="container" enableAnimation="true" enableSmartLabels="true">
            <e-accumulationchart-tooltipsettings enable="true"></e-accumulationchart-tooltipsettings>
            <e-accumulationchart-legendsettings visible="true">
            </e-accumulationchart-legendsettings>
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="ViewBag.dataSource" xName="xValue" yName="yValue"  innerRadius="20%" radius="r">
                    <e-accumulationseries-datalabel name="xValue" visible="true" position="Outside">
                    </e-accumulationseries-datalabel>
                </e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>
    </div>

    <script>
        
    </script>
}
}
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Chart control shows how to render and configure the legends in pie charts." />
}
@section ActionDescription{

    <div id="action-description">
        This sample compares countries by population density and total area by using the various radius in pie series.
    </div>
}
@section Description {
    <div id="description">
        In this example, you can see how to render doughnut chart with different radius. You can use <code>radius</code> mapping property to achieve this feature. <code>dataLabel</code> is used to represent individual data and its value.

        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.

    </div>

}

