@using Syncfusion.EJ2
@section ControlsSection{

    <div class="control-section" align='center'>
        <ejs-accumulationchart id="container" useGroupingSeparator=true enableAnimation="true" enableSmartLabels="true" load="load">
            <e-accumulationchart-tooltipsettings enable="true"></e-accumulationchart-tooltipsettings>
            <e-accumulationchart-legendsettings visible="true" reverse="true">
            </e-accumulationchart-legendsettings>
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="ViewBag.dataSource" xName="xValue" yName="yValue" innerRadius="20%" radius="r">
                    <e-accumulationseries-datalabel name="xValue" visible="true" position="Outside">
                    </e-accumulationseries-datalabel>
                </e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>
    </div>
    @*custom code start*@
    <script>
        function load(args) {
            var indexedTheme = themeName ? themeName : 'Material';
            args.accumulation.theme = (indexedTheme.charAt(0).toUpperCase() + indexedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
        }
    </script>
    @*custom code end*@
}
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Chart control shows how to render and configure the legends in pie charts." />
}
@*custom code end*@
@section ActionDescription{

    <div id="action-description">
        <p>
        This sample compares countries by population density and total area by using various radius in pie series.
        </p>
    </div>
}
@section Description {
    <div id="description">
       <p>In this example, you can see how to render doughnut chart with different radius. You can use <code>radius</code> mapping property to achieve this feature. <code>dataLabel</code> is used to represent individual data and its value. In addition, the sample shows how to shift the order of the legend for the doughnut chart by using the <code>reverse</code> property.</p>

        <p><code>Tooltip</code> is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.</p>
        <br>

    <p>
        More information on the pie series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/accumulation-chart/pie-dough-nut/">documentation section</a>.
    </p>

    </div>

}

