@using Syncfusion.EJ2
@using System.Security.Principal
@section ControlsSection{
    <div class="control-section">   
    <div id="container" align='center' style="display:block; width: 92%">
        <ejs-chart id="container" load="load" title="Temperature Variation by Month">
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.DateTime" labelFormat="dd MMM">
                <e-majorgridlines width="0"></e-majorgridlines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis  labelFormat="{value}˚C" minimum="-10" maximum="25" interval="5">
                <e-linestyle width="0"></e-linestyle>
                <e-majorticklines width="0"></e-majorticklines>
            </e-chart-primaryyaxis>
            <e-series-collection>
                <e-series xName="x" high="high" low="low" opacity="0.5" type="@Syncfusion.EJ2.Charts.ChartSeriesType.RangeStepArea">
                    <e-series-border width="2"></e-series-border>
                </e-series>
            </e-series-collection>
            <e-chart-legendsettings visible="false"></e-chart-legendsettings>
            <e-chart-tooltipsettings enable="true" shared="false" format="Temperature : <b>${point.low} - ${point.high}</b>" header="<b>${point.x}</b>">
            </e-chart-tooltipsettings>
        </ejs-chart>
    </div>
    </div>
    <script src="~/scripts/chart/stock-chart-data.js"></script>
    <script type="text/javascript">
        var ChartPoints  = chartDataValues;
        function load(args) {
            var selectedTheme = location.hash.split("/")[1];
            selectedTheme = selectedTheme ? selectedTheme : "Material";
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.series[0].dataSource = ChartPoints ;
            args.chart.primaryXAxis.edgeLabelPlacement = ej.base.Browser.isDevice ? 'Shift' : 'Hide';
            
            switch (selectedTheme) {
                case 'bootstrap5':
                {
                    args.chart.series[0].fill = '#BDD9F5';
                    args.chart.series[0].border.color = '#539DE3';
                }
                break;
                case 'fluent':
                {
                    args.chart.series[0].fill = '#C3A6DB';
                    args.chart.series[0].border.color = '#9E71C2';
                }
                break;
            }
        };
    </script> 
}
@*custom code start*@
@section Scripts {

}

<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
                    <meta name="description" content="This example demonstrates the Range Area in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This ASP.NET Core range step area chart example illustrates the minimum and maximum temperatures for different days using the default range step area series. 
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a range step area type chart. You can use <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartSeries.html#Syncfusion_EJ2_Charts_ChartSeries_Border">Border</a> and <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartSeries.html#Syncfusion_EJ2_Charts_ChartSeries_Fill">Fill</a> properties to customize the range step area. Both <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/data-markers">Marker</a> and <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/data-labels">DataLabel</a> are used to represent data points and their values.
    </p>
    <p>
        The <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/tool-tip">Tooltip</a> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
    </p>
    <p>
        More information about the range step area series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/range-step-area">documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET Core Chart Range Step Area Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Range Step Area in ASP.NET Core Chart Control</h1>
                }