@using Syncfusion.EJ2
@section ControlsSection{
   <div class="control-section col-lg-9" align="center">
        <ejs-accumulationchart id="container" title="Mobile Browser Statistics" load="load" enableAnimation="false">
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="ViewBag.dataSource" xName="xValue" yName="yValue" name="Agricultural" startAngle="270" endAngle="90" radius="90%" innerRadius="40%" explode="true">                
                    <e-accumulationseries-datalabel visible="true" name="text" position="Outside">
                        <e-font fontWeight="600"></e-font>
                    </e-accumulationseries-datalabel>
                  
                </e-accumulation-series>
            </e-accumulation-series-collection>
            <e-accumulationchart-legendsettings visible="false"></e-accumulationchart-legendsettings>
            <e-accumulationchart-tooltipsettings enable="true"></e-accumulationchart-tooltipsettings>
        </ejs-accumulationchart>
    </div>

    <div class="col-lg-3 property-section">
        <table id="property" title="Properties" style="width: 100%">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 50%">
                        <div>
                            Start Angle
                        </div>
                    </td>
                    <td style="width: 40%;">
                        <div data-role="rangeslider">
                            <input type="range" name="range-min" id="range-min" value="270" min="0" max="360" style="width:90%">
                        </div>
                    </td>
                    <td style="width: 30%;">
                        <p id="startangle" style="font-weight: normal;padding-top:15px">270</p>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 30%">
                        <div>
                            End Angle                            
                        </div>
                    </td>
                    <td style="width: 70%;">
                        <div data-role="rangeslider">
                            <input type="range" name="range-max" id="range-max" value="90" min="0" max="360" style="width:90%">
                        </div>
                    </td>
                    <td style="width: 30%;">
                        <p id="endangle" style="font-weight: normal;padding-top:15px">90</p>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 40%">
                        <div>
                            Inner Radius
                        </div>
                    </td>
                    <td style="width: 60%;">
                        <div data-role="rangeslider">
                            <input type="range" name="range-max" id="inner-radius" value="40" min="0" max="50" style="width:90%">
                        </div>
                    </td>
                    <td style="width: 30%;">
                        <p id="innerradius" style="font-weight: normal; padding-top: 15px">0.40</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
    @*custom code start*@
        window.load = function(args) {
            var indexedTheme = location.hash.split('/')[1];
            indexedTheme = indexedTheme ? indexedTheme : 'Material';
            args.accumulation.theme = (indexedTheme.charAt(0).toUpperCase() + indexedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
        }
    @*custom code end*@    
        document.getElementById('inner-radius').onpointermove = document.getElementById('inner-radius').ontouchmove =
            document.getElementById('inner-radius').onchange = (e) => {
                var pie = document.getElementById("container").ej2_instances[0];
                var innerradius = +(document.getElementById('inner-radius')).value;
                if (pie.series[0].innerRadius !== innerradius + '%') {
                    pie.series[0].innerRadius = innerradius + '%';
                    document.getElementById('innerradius').innerHTML = (innerradius / 100).toFixed(2);
                    pie.series[0].animation.enable = false;
                    pie.removeSvg();
                    pie.refreshSeries();
                    pie.refreshChart();
                }
            };
       
        document.getElementById('range-min').onpointermove = document.getElementById('range-min').ontouchmove =
            document.getElementById('range-min').onchange = (e) => {
                var pie = document.getElementById("container").ej2_instances[0];
                var rangeMin = (document.getElementById('range-min'));
                if (pie.series[0].startAngle !== parseFloat(rangeMin.value)) {
                    pie.series[0].startAngle = parseFloat(rangeMin.value);
                    document.getElementById('startangle').innerHTML = rangeMin.value;
                    pie.series[0].animation.enable = false;
                    pie.removeSvg();
                    pie.refreshSeries();
                    pie.refreshChart();
                }
            };
        
        document.getElementById('range-max').onpointermove = document.getElementById('range-max').ontouchmove =
            document.getElementById('range-max').onchange = (e) => {
                var pie = document.getElementById("container").ej2_instances[0];
                var rangeMax = (document.getElementById('range-max'));
                if (pie.series[0].endAngle !== parseFloat(rangeMax.value)) {
                    pie.series[0].endAngle = parseFloat(rangeMax.value);
                    document.getElementById('endangle').innerHTML = rangeMax.value;
                    pie.series[0].animation.enable = false;
                    pie.removeSvg();
                    pie.refreshSeries();
                    pie.refreshChart();
                }
            };
    </script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Semi Pie in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{

    <div id="action-description">
        This sample illustrates the agriculture land percentages of various countries by using a pie series. It has options to change the angle and radius of the series.
    </div>
}
@section Description {
    <p> In this example, you can see how to render semi pie and doughnut chart. Using <code>startAngle</code>, <code>endAngle</code> properties, we can achieve this semi pie chart. Property panel to change the angle is provided with this sample.</p>
    <p> <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.</p>

}
@section Title{
                    <title>ASP.NET Core Chart Semi Pie Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Semi Pie in ASP.NET Core Chart Control</h1>
                }