@using Syncfusion.EJ2
@section ControlsSection{
    @{
        var Shift = "Shift";
        var Trim = "Trim";
        var Outside = "Outside";
    }
    <div class="control-section col-md-8" align="center">
        <ejs-chart id="container" title="Internet Users in Millons" pointRender="labelRender" load="load">
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-chart-primaryxaxis valueType="Category" labelIntersectAction="Hide" interval="1">
                <e-majorgridlines width="0"></e-majorgridlines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis>
                <e-majorgridlines width="0"></e-majorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
                <e-linestyle width="0"></e-linestyle>
                <e-labelstyle size="0px"></e-labelstyle>
            </e-chart-primaryyaxis>
            <e-series-collection>
                <e-series dataSource="ViewBag.dataSource" name="Users" xName="x" width="2" opacity="1" yName="y" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column">
                    <e-series-marker>
                        <e-series-datalabel visible="true" position="Top" >
                            <e-font color="#ffffff" fontWeight="600"></e-font>
                        </e-series-datalabel>
                    </e-series-marker>
                </e-series>
            </e-series-collection>
            <e-chart-legendsettings visible="false"></e-chart-legendsettings>
            <e-chart-tooltipsettings enable="true"></e-chart-tooltipsettings>
        </ejs-chart>
    </div>
    <div class="col-md-4 property-section">
        <table id="property" title="Properties" style="width: 100%">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 40%">
                        <div>Intersect Action:</div>
                    </td>
                    <td style="width: 60%;">

                        <ejs-dropdownlist id="intersect" dataSource="@ViewBag.interSect" change="intersect" value="Trim" popupHeight="220px"></ejs-dropdownlist>

                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 60%">
                        <div>Edge Label Placement:</div>
                    </td>
                    <td style="width: 40%;">
                        <ejs-dropdownlist id="edgeLabel" dataSource="@ViewBag.edgeLabel" change="edgeLabel" value="Shift" popupHeight="220px"></ejs-dropdownlist>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 60%">
                        <div>Label Position:</div>
                    </td>
                    <td style="width: 40%;">
                        <ejs-dropdownlist id="labelPosition" dataSource="@ViewBag.labelPosition" value="Outside" change="labelPosition" index="0" popupHeight="220px"></ejs-dropdownlist>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 50%">
                        <div>
                            Enable Trim:
                        </div>
                    </td>
                    <td style="width: 50%;">
                        <div>
                            <input type="checkbox" id="Trim" unchecked="">
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 60%">
                        <div>Maximum Label Width:</div>
                    </td>
                    <td style="width: 40%;">
                        <div style='margin-top: 0px;'>
                            <ejs-numerictextbox id="labelWidth" min="1" value="34" width="120" change="labelWidth"></ejs-numerictextbox>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        function labelRender(args) {
            var selectedTheme = themeName ? themeName : "Material";
            var materialColors = ["#00bdae", "#404041", "#357cd2", "#e56590", "#f8b883", "#70ad47", "#dd8abd", "#7f84e8", "#7bb4eb",
                "#ea7a57", "#404041", "#00bdae"];
            var fabricColors = ["#4472c4", "#ed7d31", "#ffc000", "#70ad47", "#5b9bd5",
                "#c1c1c1", "#6f6fe2", "#e269ae", "#9e480e", "#997300", "#4472c4", "#70ad47", "#ffc000", "#ed7d31"];
            var bootstrapColors = ["#a16ee5", "#f7ce69", "#55a5c2", "#7ddf1e", "#ff6ea6",
                "#7953ac", "#b99b4f", "#407c92", "#5ea716", "#b91c52"];
            var highContrastColors = ["#79ECE4", "#E98272", "#DFE6B6", "#C6E773", "#BA98FF",
                "#FA83C3", "#00C27A", "#43ACEF", "#D681EF", "#D8BC6E"];
            var fluentColors = ["#614570", "#4C6FB1", "#CC6952", "#3F579A", "#4EA09B", "#6E7A89", "#D4515C", "#E6AF5D", "#639751",
                 "#9D4D69"];
            var fluentDarkColors = ["#8AB113", "#2A72D5", "#43B786", "#584EC6", "#E85F9C", "#6E7A89", "#EA6266", "#EBA844", "#26BC7A", 
                 "#BC4870"];

            if (selectedTheme && selectedTheme.indexOf("fabric") > -1) {
                args.fill = fabricColors[args.point.index % 10];
            }
            else if (selectedTheme === "material") {
                args.fill = materialColors[args.point.index % 10];
            }
            else if (selectedTheme === "highcontrast") {
                args.fill = highContrastColors[args.point.index % 10];
            }
            else if (selectedTheme === 'fluent') {
                 args.fill = fluentColors[args.point.index % 10];
            } 
            else if (selectedTheme === 'fluent-dark') {
                 args.fill = fluentDarkColors[args.point.index % 10];
            }
            else {
                args.fill = bootstrapColors[args.point.index % 10];
            }
        };
        @*custom code start*@
        function load(args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
        }
         @*custom code end*@
        function intersect(args) {
            var chart = document.getElementById('container').ej2_instances[0];
            chart.primaryXAxis.labelIntersectAction = this.value;
            chart.series[0].animation.enable = false;
            chart.refresh();
        }
        function edgeLabel(args) {
            var chart = document.getElementById('container').ej2_instances[0];
            chart.primaryXAxis.edgeLabelPlacement = this.value;
            chart.series[0].animation.enable = false;
            chart.dataBind();
        }
        function labelPosition(args) {
            var chart = document.getElementById('container').ej2_instances[0];
            chart.primaryXAxis.labelPosition = this.value;
            chart.series[0].animation.enable = false;
            chart.refresh();
        }
        document.getElementById('Trim').onchange = function () {
            var chart = document.getElementById('container').ej2_instances[0];
            var element = (document.getElementById('Trim'));
            chart.primaryXAxis.enableTrim = element.checked;
            chart.series[0].animation.enable = false;
            chart.refresh();
        };
        function labelWidth(args) {
            var chart = document.getElementById('container').ej2_instances[0];
            var width = document.getElementById("labelWidth").ej2_instances[0];
            chart.series[0].animation.enable = false;
            chart.primaryXAxis.maximumLabelWidth = width.value;
            chart.series[0].animation.enable = false;
            chart.refresh();
        }
    </script>

}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Smart Axis Labels in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{

    <div id="action-description">
        <p>
            This sample illustrates the Rio Olympic’s gold medal count by using smart labels in the chart. The smart label placement for a series can be shown, when it contains more of points.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            In this example, you can see how to arrange the axis labels and how to trim the axis label smartly. When the Axis labels overlap with each other based on
            the chart dimensions and label size, you can use the <code>labelIntersectAction</code> property of the axis
            to avoid overlapping.
        </p>
        <p>
            Chart supports the following, which can be set using <code>labelIntersectAction</code> property.
        </p>
        <ul>
            <li><code>Hide</code> - Hide the label when it intersects.</li>
            <li><code>Trim</code> - Trim the label when it intersects.</li>
            <li><code>Wrap</code> - Wrap the label when it intersects.</li>
            <li><code>MultipleRows</code> - Arrange the label in multiple row when it intersects.</li>
            <li><code>Rotate45</code> - Rotate the label to 45 degree when it intersects.</li>
            <li><code>Rotate90</code> - Rotate the label to 90 degree when it intersects.</li>
            <li><code>None</code> - Shows all the labels.</li>
        </ul>
        <br>
        <p>
            Chart supports three types of edge labels placement which can be set using the <code>edgeLabelPlacement</code> property.
        </p>
        <ul>
            <li><code>None</code> - No action will be performed.</li>
            <li><code>Hide</code> - Edge label will be hidden .</li>
            <li><code>Shift</code> - Shifts the edge labels.</li>
        </ul>
    </div>

}
@section Title{
                    <title>ASP.NET Core Chart Smart Axis Labels Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Smart Axis Labels in ASP.NET Core Chart Control</h1>
                }