@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section" align="center">
        
        <ejs-accumulationchart id="container" title="Rio Olympics Gold" load="load" enableBorderOnMouseMove="false" enableSmartLabels="true">
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="ViewBag.ChartPoints" xName="Country" yName="Medal" startAngle="60">
                    <e-accumulationseries-datalabel visible="true" name="DataLabelMappingName" position="@Syncfusion.EJ2.Charts.AccumulationLabelPosition.Outside">
                        <e-connectorstyle type="@Syncfusion.EJ2.Charts.ConnectorType.Curve" length="20px"></e-connectorstyle>
                        <e-font fontWeight="600"></e-font>
                    </e-accumulationseries-datalabel>
                </e-accumulation-series>
            </e-accumulation-series-collection>
            <e-accumulationchart-legendsettings visible="false"></e-accumulationchart-legendsettings>
            <e-accumulationchart-tooltipsettings enable="true" format="<b>${point.x}</b><br> Gold Medals: <b>${point.y}</b>" header=""></e-accumulationchart-tooltipsettings>
        </ejs-accumulationchart>
    </div>

    <script>
        function load(args) {
            var indexedTheme = location.hash.split('/')[1];
            indexedTheme = indexedTheme ? indexedTheme : 'Material';
            args.accumulation.theme = (indexedTheme.charAt(0).toUpperCase() + indexedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            args.accumulation.series[0].radius = ej.base.Browser.isDevice ? "40%" : "65%";
            args.accumulation.series[0].dataSource[0].DataLabelMappingName = ej.base.Browser.isDevice ? "USA: 46" : "United States of America: 46";
            args.accumulation.series[0].dataSource[4].DataLabelMappingName = ej.base.Browser.isDevice ? "KZ: 3" : "Kazhakastan: 3";
            args.accumulation.series[0].dataSource[5].DataLabelMappingName = ej.base.Browser.isDevice ? "NZ: 4" : "New Zealand: 4";
            args.accumulation.series[0].dataSource[6].DataLabelMappingName = ej.base.Browser.isDevice ? "KR: 9" : "South Korea: 9";
            args.accumulation.series[0].dataSource[7].DataLabelMappingName = ej.base.Browser.isDevice ? "GB: 27" : "Great Britain: 27";
            args.accumulation.series[0].dataSource[8].DataLabelMappingName = ej.base.Browser.isDevice ? "CH: 3" : "Switzerland: 3";
            args.accumulation.series[0].dataSource[9].DataLabelMappingName = ej.base.Browser.isDevice ? "ASTL: 8" : "Australia: 8";
            args.accumulation.series[0].dataSource[10].DataLabelMappingName = ej.base.Browser.isDevice ? "NL: 8" : "Netherlands: 8";
            args.accumulation.series[0].dataSource[12].DataLabelMappingName = ej.base.Browser.isDevice ? "Uzbekistan: <br> 4" : "Uzebekistan: 4";
            args.accumulation.series[0].dataSource[16].DataLabelMappingName = ej.base.Browser.isDevice ? "AR: 3" : "Argentina: 3";
            args.accumulation.series[0].dataSource[17].DataLabelMappingName = ej.base.Browser.isDevice ? "SA: 2" : "South Africa: 2";
            args.accumulation.series[0].dataSource[18].DataLabelMappingName = ej.base.Browser.isDevice ? "KP: 2" : "North Korea: 2";
        }
    </script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Smart Labels in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{

    <p>
        This sample shows the gold medal count scored by each country at the Rio Olympic Games using smart labels on the chart.
    </p>
}
@section Description {
    <div id="description">
        <p>
            In this example, you can see how the labels can be arranged smartly without overlapping. You can use the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.AccumulationChart.html#Syncfusion_EJ2_Charts_AccumulationChart_EnableSmartLabels">EnableSmartLabels</a> property to enable or disable the support.
        </p>
        <p>
            <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
        </p>
        <p>
            More information on the smart labels can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/accumulation-chart/data-label#smart-labels">documentation section</a>.
        </p>
    </div>

}
@section Title{
                    <title>ASP.NET Core Chart Smart Labels Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Smart Labels in ASP.NET Core Chart Control</h1>
                }