@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div id="container" align="center">
            <ejs-chart id="splineContainer" load="window.onChartLoad" title="Gross Domestic Product Growth">
                <e-chart-primaryxaxis valueType="Category" labelIntersectAction="Rotate45" interval="1">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-minorgridlines width="0"></e-minorgridlines>
                    <e-minorticklines width="0"></e-minorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis rangePadding="None" interval="20" title="GDP (%) per Annum">
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-series-collection>
                    <e-series dataSource="ViewBag.dataSource" xName="x" yName="y" name="UK" width="2" opacity="1" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingColumn100"></e-series>
                    <e-series dataSource="ViewBag.dataSource1" xName="x" yName="y" name="Germany" width="2" opacity="1" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingColumn100"></e-series>
                    <e-series dataSource="ViewBag.dataSource2" xName="x" yName="y" name="France" width="2" opacity="1" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingColumn100"></e-series>
                    <e-series dataSource="ViewBag.dataSource3" xName="x" yName="y" name="Italy" width="2" opacity="1" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingColumn100"></e-series>
                </e-series-collection>
                <e-chart-tooltipsettings enable="true" format="${point.x} : <b>${point.y} (${point.percentage}%)</b>"></e-chart-tooltipsettings>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
            </ejs-chart>
        </div>
    </div>
    @*custom code start*@
    <script>
        window.onChartLoad = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/dark/i, "Dark").replace(/light/i, "Light"));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "80%";
        }
    </script>
@*custom code end*@
}
@*custom code start*@
@section Scripts {

}
@section Meta{
                    <meta name="description" content="This example demonstrates the 100% Stacked Column in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes percentage of domestic product growth of four different countries with default 100% stacked column series in chart.
            Legend in the sample shows the information about the series.
        </p>
    </div>
}
@section Description{
    <div>
        <p>
            In this example, you can see how to render and configure the 100% stacking column type charts. You can use <code>border</code>,
            <code>fill</code> properties to customize the vertical bar.
        </p>
        <p>
            Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
        </p>
        <br>

        <p>
            More information on the stacking column series can be found in this
            <a target="_blank" href="http://ej2.syncfusion.com/documentation/chart/api-series.html#type-chartseriestype">documentation section</a>.
        </p>
    </div>
}
@*custom code start*@
<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@*custom code end*@
@section Title{
                 <title>ASP.NET Core Chart 100% Stacked Column Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for 100% Stacked Column in ASP.NET Core Chart Control</h1>
            }