@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section" align="center">

        <ejs-chart id="lineContainer" load="load" title="Electricity - Production">
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-chart-tooltipsettings enable="true">
            </e-chart-tooltipsettings>
            <e-chart-legendsettings enableHighlight="true"></e-chart-legendsettings>
            <e-chart-primaryxaxis edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift">
                <e-majorgridlines width="0"></e-majorgridlines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis title="Production (Billion as kWh)" labelFormat="{value}B" >
                <e-majorticklines width="0"></e-majorticklines>
                <e-linestyle width="0"></e-linestyle>
            </e-chart-primaryyaxis>
            <e-series-collection>
                <e-series dataSource="ViewBag.ChartPoints" name="Renewable" xName="Period" opacity="0.6" yName="RenewableResourcesProduction" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StepArea">
                    <e-series-border width="2"></e-series-border>
                </e-series>
                <e-series dataSource="ViewBag.ChartPoints" name="Non-Renewable" xName="Period" width="2" opacity="0.6" yName="NonRenewableResourcesProduction" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StepArea">
                    <e-series-border width="2"></e-series-border>
                </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>

    <script>
        function load(args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
}
@*custom code start*@
@section Scripts {

}

<style>

    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
                    <meta name="description" content="This example demonstrates the Step Area in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This <a target="_blank" href="https://www.syncfusion.com/aspnet-core-ui-controls/charts/chart-types/step-area-chart" aria-label="Navigate to explore the syncfusion ASP.NET Core Step Area Chart">ASP.NET Core Step Area Chart</a> example visualizes electricity generation data using renewable and non-renewable resources in a step area chart.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a step area chart. This series forms a step progress by connecting points through vertical and horizontal lines with the area being filled.
    </p>
    <p>
        More information about the step area series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/step-area" aria-label="Navigate to the documentation for Step area in ASP.NET CORE Charts component">documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET Core Chart Step Area Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Step Area in ASP.NET Core Chart Control</h1>
                }