@using Syncfusion.EJ2
@section ControlsSection{
    @{ #line 3 "D:\Workings\samples-2018vol1-release\master wraper samples\asp core samples\asp core master samples\Views\Chart\Trackball.cshtml"
        /**/
    }
    <div class="control-section">
        <div id="container" align='center'>
            <ejs-chart id="lineContainer" title="Average Sales per Person" load="window.onChartLoad">
                <e-chart-tooltipsettings enable="true" shared="true"></e-chart-tooltipsettings>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-crosshairsettings enable="true" lineType="Vertical"></e-chart-crosshairsettings>
                <e-chart-primaryxaxis valueType="DateTime" labelFormat="y" intervalType="Years" edgelabelPalcement="Shift" >
                    <e-majorgridlines width="0"></e-majorgridlines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis labelFormat="{value}M" rangePadding="None" title="Revenue" minimum="10" maximum="80" >
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-series-collection>
                    <e-series dataSource="ViewBag.dataSource" name="John" xName="xValue" width="2" opacity="1" yName="yValue" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                        <e-series-marker visible="true" height="10" width="10"></e-series-marker>
                    </e-series>
                    <e-series dataSource="ViewBag.dataSource" name="Andrew" xName="xValue" width="2" opacity="1" yName="yValue1" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                        <e-series-marker visible="true" height="10" width="10"></e-series-marker>
                    </e-series>
                    <e-series dataSource="ViewBag.dataSource" name="Thomas" xName="xValue" width="2" opacity="1" yName="yValue2" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                        <e-series-marker visible="true" height="10" width="10"></e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
    @*custom code start*@
    <script type="text/javascript">
        window.onChartLoad = function (args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/dark/i, "Dark").replace(/light/i, "Light"));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "60%";
        }
    </script>
    @*custom code end*@
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Chart control demonstrates the trackball behavior in chart." />
}
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample illustrates trackball feature in chart. To show trackball, hover or long press the chart and you can see the point value near to the mouse point.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            This sample demonstrates the trackball behavior in chart. Trackball is used to track a data point closer to the current mouse position or touch contact point.
            You can show tooltip for individual point or group of points closer to mouse position using <code>shared</code> properties in tooltip.
        </p>
        <p>
            Hover the chart area to view trackball and its tooltip. Touch and hold to enable trackball in touch enabled devices.
        </p>
        <br></br>
        <p><b>Injecting Module</b></p>
        <p>
            Chart component features are segregated into individual feature-wise modules. To use Trackball, we need to inject
            <code>Tooltip</code> module into <code>services</code>.
        </p>
        <p>
            More information on the Tooltip and Trackball can be found in this &nbsp;
            <a target="_blank" href="http://ej2.syncfusion.com/react/documentation/chart/api-tooltipSettingsModel.html">documentation section</a>.
        </p>
    </div>
    }