@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div id="container" align="center">
            <ejs-chart id="container" title="Company Revenue and Profit" 
                      load="window.onChartLoad"  textRender="textRender" axisLabelRender="axisLabelRender">
                <e-chart-primaryxaxis valueType="Category" plotOffset="20">
                    <e-majorgridlines width="0"></e-majorgridlines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis minimum="0" maximum="5000" interval="1000" title="Expenditure">
                    <e-majorgridlines width="0"></e-majorgridlines>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-tooltipsettings enable="true">
                </e-chart-tooltipsettings>
                <e-chart-legendsettings visible="false"></e-chart-legendsettings>
                <e-series-collection>
                    <e-series dataSource="ViewBag.dataSource" width=2 negativeFillColor="#e56590"
                              xName="x" yName="y" intermediateSumIndexes="ViewBag.intermediateSumIndexes" sumIndexes="ViewBag.sumIndexes"
                              name="USA" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Waterfall">
                        <e-series-marker>
                            <e-series-datalabel visible="true">
                                <e-font color="#ffffff"></e-font>
                            </e-series-datalabel>
                        </e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
    <script src="~/scripts/chart/financial-data.js"></script>
    <script type="text/javascript">
        @*custom code start*@
        window.onChartLoad = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "60%";
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/dark/i, "Dark").replace(/light/i, "Light"));
        }
        @*custom code  end*@
        function axisLabelRender(args) {
            if (args.axis.name === 'primaryYAxis') {
                args.text = '$' + Number(args.text) / 1000 + 'B';
            }
        }
        function textRender(args) {
            var value = Number(args.text) / 1000;
            value = Math.round((value * 100)) / 100;
            args.text = value.toString();
        }
    </script>
}
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Chart control shows how to render the waterfall series." />
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the revenue and profits of a company by using default waterfall series in the chart. Tooltip shows the information about the profits earned by each department on the company.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render and configure the Waterfall type chart. You can use <code>border</code>,
            <code>fill</code> properties to customize the column. <code>dataLabel</code> is used to represent individual data
            and its value.
        </p>
        <p>
            Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
        </p>

       
        <p>
            More information on the Waterfall series can be found in this
            <a target="_blank" href="http://ej2.syncfusion.com/documentation/chart/api-series.html#type-chartseriestype">documentation section</a>.
        </p>
    </div>
}
    @*custom code start*@
@section Scripts {
}

    <style>
    #control-container {
        padding: 0px !important;
    }

    #container_Series_0_Connector_ {
        stroke-dasharray: 10px 10px;
        stroke-linejoin: round; stroke-linecap: round;
        -webkit-animation: dash 1s linear infinite;
        animation: dash 1s linear infinite;
    }

    @@-webkit-keyframes dash {
        100% {
            stroke-dashoffset: -20px;
        }
    }

    @@keyframes dash {
        100% {
            stroke-dashoffset: -20px;
        }
    }
    </style>
    @*custom code end*@