@using Syncfusion.EJ2

@section ControlsSection{
    <div class="col-lg-12 control-section indicator-type-section">
        <div class="col-lg-6 carousel-sample">
            <h4>Default Indicator</h4>
            <ejs-carousel id="defaultIndicator" cssClass="indicator-type" autoPlay=false indicatorsType="Default">
                <e-carousel-items>
                    <e-carousel-item template="#templateItem1"></e-carousel-item>
                    <e-carousel-item template="#templateItem2"></e-carousel-item>
                    <e-carousel-item template="#templateItem3"></e-carousel-item>
                    <e-carousel-item template="#templateItem4"></e-carousel-item>
                    <e-carousel-item template="#templateItem5"></e-carousel-item>
                </e-carousel-items>
            </ejs-carousel>
        </div>
        <div class="col-lg-6 carousel-sample">
            <h4>Dynamic Indicator</h4>
            <ejs-carousel id="dynamicIndicator" cssClass="indicator-type" autoPlay=false indicatorsType="Dynamic">
                <e-carousel-items>
                    <e-carousel-item template="#templateItem1"></e-carousel-item>
                    <e-carousel-item template="#templateItem2"></e-carousel-item>
                    <e-carousel-item template="#templateItem3"></e-carousel-item>
                    <e-carousel-item template="#templateItem4"></e-carousel-item>
                    <e-carousel-item template="#templateItem5"></e-carousel-item>
                </e-carousel-items>
            </ejs-carousel>
        </div>
        <div class="col-lg-6 carousel-sample">
            <h4>Fraction Indicator</h4>
            <ejs-carousel id="fractionIndicator" cssClass="indicator-type" autoPlay=false indicatorsType="Fraction">
                <e-carousel-items>
                    <e-carousel-item template="#templateItem1"></e-carousel-item>
                    <e-carousel-item template="#templateItem2"></e-carousel-item>
                    <e-carousel-item template="#templateItem3"></e-carousel-item>
                    <e-carousel-item template="#templateItem4"></e-carousel-item>
                    <e-carousel-item template="#templateItem5"></e-carousel-item>
                </e-carousel-items>
            </ejs-carousel>
        </div>
        <div class="col-lg-6 carousel-sample">
            <h4>Progress Indicator</h4>
            <ejs-carousel id="progressIndicator" cssClass="indicator-type" autoPlay=false indicatorsType="Progress">
                <e-carousel-items>
                    <e-carousel-item template="#templateItem1"></e-carousel-item>
                    <e-carousel-item template="#templateItem2"></e-carousel-item>
                    <e-carousel-item template="#templateItem3"></e-carousel-item>
                    <e-carousel-item template="#templateItem4"></e-carousel-item>
                    <e-carousel-item template="#templateItem5"></e-carousel-item>
                </e-carousel-items>
            </ejs-carousel>
        </div>
    </div>
}

@section ActionDescription{
    <p>
        This sample demonstrates the types of indicators in the <a
            href="https://www.syncfusion.com/aspnet-core-ui-controls/carousel" target="_blank">ASP.NET Core Carousel </a>
        component.
    </p>
}

@section Description{
    <p>
        The <code>ASP.NET Core Carousel</code> component the available types of indicators Carousel are showcased. They are
        <code>Default</code>, <code>Dynamic</code>, <code>Progress</code> and <code>Fraction</code>, and can be set using the <strong>indicatorsType</strong> property.
    </p>
    <p><code>Default</code> - The Carousel displays indicators with a bullet design</p>
    <p><code>Dynamic</code> - The Carousel applies dynamic animation to the indicators.</p>
    <p><code>Progerss</code> - The Carousel displays slides numerically as indicators.</p>
    <p><code>Fraction</code> - The Carousel displays indicators like a progress bar.</p>
}

@section Meta{
    <meta name="description"
        content="This example demonstrates the the types of indicators in the ASP.NET Core Carousel control. Explore here for more details." />
}

<style>
    .indicator-type-section .carousel-sample {
        margin: -0.5em 0 5.6em 0;
        height: 200px;
    }

    .indicator-type .e-carousel-items .e-carousel-item .img-container {
        height: 100%;
    }

    .indicator-type.e-carousel .e-next-icon::before,
    .indicator-type.e-carousel .e-previous-icon::before {
        color: black;
    }

    .indicator-type {
        border: 1px solid #d7d7d7;
    }

    .indicator-type .e-slide {
        height: 100%;
        width: 100%;
        margin-top: 4em;
        font-size: 21px;
        text-align: center;
        color: black;
    }

    .indicator-type.e-carousel .e-carousel-indicators.e-dynamic .e-indicator-bars .e-indicator-bar:not(.e-active),
    .indicator-type.e-carousel .e-carousel-indicators.e-default .e-indicator-bars .e-indicator-bar:not(.e-active) div {
        background-color: gray;
    }

    .indicator-type.e-carousel .e-carousel-indicators.e-fraction .e-indicator-bars {
        color: black;
    }

    .indicator-type.e-carousel .e-carousel-items .e-carousel-item {
        background-color: #f9f8f8;
    }
    .indicator-type.e-carousel .e-progress {
        background: none;
    }

    @@media screen and(max-width: 768px) {
        .indicator-type-section .carousel-sample {
            margin: 5em 0;
        }

        .indicator-type-section .row {
            margin-top: -5em;
        }
    }
</style>

<script id="templateItem1" type="text/x-template">
    <div class="e-slide">Slide 1</div>
</script>

<script id="templateItem2" type="text/x-template">
   <div class="e-slide">Slide 2</div>
</script>

<script id="templateItem3" type="text/x-template">
    <div class="e-slide">Slide 3</div>
</script>

<script id="templateItem4" type="text/x-template">
    <div class="e-slide">Slide 4</div>
</script>

<script id="templateItem5" type="text/x-template">
    <div class="e-slide">Slide 5</div>
</script>

@section Title{
    <title>ASP.NET Core Carousel Indicators Type Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Indicators Type in ASP.NET Core Carousel Control</h1>
}
