@using Syncfusion.EJ2

@section ControlsSection{
    <div class="col-lg-12 control-section overview-carousel-section">
        <div class="e-sample-resize-container carousel-sample">
            <div style="height:calc(100% - 4rem);">
                <div class="carousel-content">
                    <div class="carousel-navigations">
                        <ejs-button id="previousBtn" class="carousel-navigation" cssClass="e-flat e-round"
                                    iconCss="e-icons e-arrow-left"></ejs-button>
                    </div>
                    <ejs-carousel id="overviewCarousel" cssClass="overview-carousel" dataSource="@ViewBag.dataSource" itemTemplate="#itemTemplate"
                                  width="calc(100% - 10rem)" buttonsVisibility="Hidden" showIndicators="false" slideChanging="onSlideChange">
                    </ejs-carousel>
                    <div class="carousel-navigations">
                        <ejs-button id="nextBtn" class="carousel-navigation" cssClass="e-flat e-round"
                                    iconCss="e-icons e-arrow-right"></ejs-button>
                    </div>
                </div>
            </div>
            <div style="height:4rem;">
                <div class="carousel-footer">
                    <div class="indicator-container">
                        <ejs-button id="indicator0" class="indicator active-indicator" data-index="0" cssClass="e-flat e-round"></ejs-button>
                        <ejs-button id="indicator1" class="indicator" data-index="1" cssClass="e-flat e-round"></ejs-button>
                        <ejs-button id="indicator2" class="indicator" data-index="2" cssClass="e-flat e-round"></ejs-button>
                        <ejs-button id="indicator3" class="indicator" data-index="3" cssClass="e-flat e-round"></ejs-button>
                        <ejs-button id="indicator4" class="indicator" data-index="4" cssClass="e-flat e-round"></ejs-button>
                    </div>
                    <div class="button-container">
                        <button id="playPauseBtn"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='source_link'>
        Source: &nbsp;
        <table>
            <tr>
                <td>
                    <a href="https://store.google.com/?hl=en-GB" target='_blank'>https://store.google.com</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.apple.com/in/iphone-13-pro/" target='_blank'>https://www.apple.com</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.nokia.com/phones/en_in/nokia-xr-20?sku=VMA750B9FI1CN0" target='_blank'>https://www.nokia.com</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.oneplus.in/oneplus-9rt" target='_blank'>https://www.oneplus.in</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.samsung.com/in/smartphones/galaxy-s21-5g/" target='_blank'>https://www.samsung.com</a>
                </td>
            </tr>
        </table>
    </div>
}

@section ActionDescription{
    <p>
        This sample demonstrates the basic rendering of the <strong>ASP.NET Core Carousel</strong> component with items.
    </p>
}

@section Description{
    <p>
        The <code>ASP.NET Core Carousel</code> component is commonly used as a slideshow of images and contents. In this demo,
        the external navigators and indicators are rendered outside the carousel by hiding the default navigators and
        indicators using
        <code>buttonsVisibility</code> and <code>showIndicators</code> properties.The slide items are rendered using
        <code>dataSource</code> and customized using <code>itemTemplate</code>.
    </p>
    <p>
        The external navigation of slide items is handled using public methods <code>prev</code> and <code>next</code> and
        changing <code>selectedIndex</code> property.
    </p>
    <p>
        More information about ASP.NET Core Carousel component can be found in this <a target='_blank' href="https://ej2.syncfusion.com/documentation/carousel/getting-started/">documentation section</a>.
    </p>
}

@section Meta{
    <meta name="description" content="This example demonstrates the Overview in ASP.NET Core Carousel control. Explore here for more details." />
}

<style>
    .overview-carousel-section .carousel-sample {
        border-radius: 1rem;
        color: #6c757d;
        height: 400px;
        margin: 0 auto 2em;
        width: 600px;
    }

    .overview-carousel .e-carousel-items .e-carousel-item .card {
        height: 100%;
    }

    .overview-carousel .e-carousel-items .e-carousel-item .card-body {
        height: 100%;
        padding: 1rem;
    }

        .overview-carousel .e-carousel-items .e-carousel-item .card-body .card-header {
            align-items: center;
            display: flex;
            font-weight: 500;
            height: 3rem;
            justify-content: center;
        }

            .overview-carousel .e-carousel-items .e-carousel-item .card-body .card-header .card-title {
                font-size: 1.5rem;
                text-transform: uppercase;
            }

        .overview-carousel .e-carousel-items .e-carousel-item .card-body .card-content {
            display: flex;
            height: calc(100% - 3rem);
        }

            .overview-carousel .e-carousel-items .e-carousel-item .card-body .card-content .card-left-content,
            .overview-carousel .e-carousel-items .e-carousel-item .card-body .card-content .card-right-content {
                padding: 2rem;
                width: 50%;
            }

                .overview-carousel .e-carousel-items .e-carousel-item .card-body .card-content .card-left-content .img-container {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 100%;
                }

                .overview-carousel .e-carousel-items .e-carousel-item .card-body .card-content .card-right-content table {
                    table-layout: fixed;
                    width: 100%;
                }

                    .overview-carousel .e-carousel-items .e-carousel-item .card-body .card-content .card-right-content table td.card-text {
                        font-size: 1.4rem;
                    }

                    .overview-carousel .e-carousel-items .e-carousel-item .card-body .card-content .card-right-content table td {
                        padding-bottom: 1rem;
                    }

                    .overview-carousel .e-carousel-items .e-carousel-item .card-body .card-content .card-right-content table tr td:first-child {
                        font-weight: 500;
                    }

    .carousel-content {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
    }

        .carousel-content .carousel-navigations {
            align-items: center;
            display: flex;
            height: 5rem;
            justify-content: center;
            width: 5rem;
        }

    .carousel-footer {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
    }

        .carousel-footer .indicator-container,
        .carousel-footer .button-container {
            align-items: center;
            display: flex;
            height: 2rem;
            justify-content: center;
            gap: 0.5rem;
        }

            .carousel-footer .indicator-container .indicator {
                border-color: inherit;
                border-radius: 50%;
                cursor: pointer;
                height: 1.4rem;
                margin: 0.5rem;
                transition: all 0.5s ease-in-out;
                width: 1.4rem;
                padding: 4px;
            }

    .bootstrap5.e-bigger .carousel-footer .button-container .play-button span,
    .bootstrap5-dark.e-bigger .carousel-footer .button-container .play-button span,
    .fluent.e-bigger .carousel-footer .button-container .play-button span,
    .fluent-dark.e-bigger .carousel-footer .button-container .play-button span,
    .tailwind.e-bigger .carousel-footer .button-container .play-button span,
    .tailwind-dark.e-bigger .carousel-footer .button-container .play-button span {
        line-height: normal;
    }

    .carousel-footer .indicator-container .indicator.active-indicator {
        background-color: #6c757d;
    }

    .carousel-footer .button-container {
        padding-left: 2.4rem;
    }

    #source_link {
        float: right;
        margin-right: 10px;
    }

    .bootstrap-dark .overview-carousel-section .carousel-sample,
    .bootstrap5-dark .overview-carousel-section .carousel-sample,
    .material-dark .overview-carousel-section .carousel-sample,
    .fabric-dark .overview-carousel-section .carousel-sample,
    .highcontrast .overview-carousel-section .carousel-sample,
    .tailwind-dark .overview-carousel-section .carousel-sample {
        background-color: inherit;
        color: inherit;
    }

    .bootstrap4 .carousel-footer .indicator-container .indicator:not(.active-indicator) {
        background-color: transparent;
        border-color: #6c757d;
    }

    .bootstrap-dark .carousel-footer .button-container .e-btn.e-active,
    .bootstrap5-dark .carousel-footer .button-container .e-btn.e-active,
    .material-dark .carousel-footer .button-container .e-btn.e-active,
    .fabric-dark .carousel-footer .button-container .e-btn.e-active,
    .highcontrast .carousel-footer .button-container .e-btn.e-active,
    .tailwind-dark .carousel-footer .button-container .e-btn.e-active {
        color: #fff;
    }

    @@media screen and (max-width: 480px) {
        .overview-carousel-section .carousel-sample {
            width: 100%;
        }

        .overview-carousel .e-carousel-items .e-carousel-item .card-body .card-content .card-left-content {
            padding: 2rem;
            width: 100%;
        }

        .overview-carousel .e-carousel-items .e-carousel-item .card-body .card-content .card-right-content {
            display: none;
        }

        #source_link {
            margin-top: -10px;
            margin-right: 0px;
        }
    }

    .bootstrap5 .overview-carousel-section .carousel-sample .carousel-navigations button span,
    .bootstrap5-dark .overview-carousel-section .carousel-sample .carousel-navigations button span,
    .fluent .overview-carousel-section .carousel-sample .carousel-navigations button span,
    .fluent-dark .overview-carousel-section .carousel-sample .carousel-navigations button span,
    .tailwind .overview-carousel-section .carousel-sample .carousel-navigations button span,
    .tailwind-dark .overview-carousel-section .carousel-sample .carousel-navigations button span {
        font-size: 20px !important;
        line-height: normal;
    }

    .tailwind .overview-carousel-section .carousel-sample .carousel-footer .button-container span,
    .tailwind-dark .overview-carousel-section .carousel-sample .carousel-footer .button-container span {
        font-size: 20px;
    }

    .bootstrap .overview-carousel-section .e-icons.e-arrow-right:before,
    .bootstrap-dark .overview-carousel-section .e-icons.e-arrow-right:before {
        content: "\e84d";
    }

    .bootstrap .overview-carousel-section .carousel-navigations button span,
    .bootstrap .overview-carousel-section .carousel-footer .button-container button span {
        color: #6c757d !important;
    }
</style>

<script id="itemTemplate" type="text/x-template">
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <div class="card-title">${title}</div>
            </div>
            <div class="card-content">
                <div class="card-left-content">
                    <div class="img-container" style="background-image: url(${imageUrl})">
                        <img src=${imageUrl} alt=${title} style="height:100%; width: 100%" />
                    </div>
                </div>
                <div class="card-right-content">
                    <table>
                        <thead>
                            <tr>
                                <td class="card-text" colSpan="2">Product Details</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Model</td>
                                <td>${model}</td>
                            </tr>
                            <tr>
                                <td>Brand</td>
                                <td>${brand}</td>
                            </tr>
                            <tr>
                                <td>RAM</td>
                                <td>${ram}</td>
                            </tr>
                            <tr>
                                <td>ROM</td>
                                <td>${rom}</td>
                            </tr>
                            <tr>
                                <td>Platform</td>
                                <td>${platform}</td>
                            </tr>
                            <tr>
                                <td>Version</td>
                                <td>${version}</td>
                            </tr>
                            <tr>
                                <td>Launched on</td>
                                <td>${releaseDate}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById("previousBtn").addEventListener('click', function () {
            var carouselObj = document.querySelector('.e-carousel').ej2_instances[0];
            carouselObj.prev();
        });
        document.getElementById("nextBtn").addEventListener('click', function () {
            var carouselObj = document.querySelector('.e-carousel').ej2_instances[0];
            carouselObj.next();
        });
        var playPauseBtn = new ej.buttons.Button({ cssClass: 'e-flat e-round', iconCss: 'e-icons e-pause', isToggle: true }, '#playPauseBtn');
        playPauseBtn.element.onclick = function () {
            var carouselObj = document.querySelector('.e-carousel').ej2_instances[0];
            carouselObj.autoPlay = !playPauseBtn.element.classList.contains('e-active');
            carouselObj.dataBind();
            playPauseBtn.iconCss = playPauseBtn.element.classList.contains('e-active') ? 'e-icons e-play' : 'e-icons e-pause';
        };
        var btnEle = document.querySelectorAll('.indicator');
        for (var i = 0; i < btnEle.length; i++) {
            btnEle[i].addEventListener('click', function (e) {
                var carouselObj = document.querySelector('.e-carousel').ej2_instances[0];
                carouselObj.selectedIndex = parseInt(e.target.dataset.index, 10);
                carouselObj.dataBind();
            });
        };
    });

    function onSlideChange(args) {
        var indicators = [].slice.call(document.querySelectorAll('.indicator'));
        ej.base.removeClass(indicators, 'active-indicator');
        ej.base.addClass([indicators[args.nextIndex]], 'active-indicator');
    }
</script>

@section Title{
    <title>ASP.NET Core Carousel Overview Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Overview in ASP.NET Core Carousel Control</h1>
}
