@using Syncfusion.EJ2

@section ControlsSection{
    <div class="col-lg-12 control-section partial-carousel-section">
        <div class="e-sample-resize-container carousel-sample">
            <ejs-carousel id="defaultCarousel" cssClass="partial-carousel" autoPlay=true partialVisible=true>
                <e-carousel-items>
                    <e-carousel-item template="#templateItem1"></e-carousel-item>
                    <e-carousel-item template="#templateItem2"></e-carousel-item>
                    <e-carousel-item template="#templateItem3"></e-carousel-item>
                    <e-carousel-item template="#templateItem4"></e-carousel-item>
                    <e-carousel-item template="#templateItem5"></e-carousel-item>
                </e-carousel-items>
            </ejs-carousel>
        </div>
    </div>
}

@section ActionDescription{
    <p>
        This sample demonstrates the partial visible functionality of the <a href="https://www.syncfusion.com/aspnet-core-ui-controls/carousel" target="_blank">ASP.NET Core Carousel </a> component.
    </p>
}

@section Description{
    <p>
        The <code>ASP.NET Core Carousel</code> component shows partially visible previous/next slides by setting the <code>partialVisible</code> property to true. 
        By default, this property is set to <code>false</code>.
    </p>
    <p>
        See also 
     </p>
     <p>
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/carousel/getting-started">ASP.NET Core Carousel Getting Started</a>.
    </p>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Partial Visible in ASP.NET Core Carousel control. Explore here for more details."/>
                }

<style>
    .partial-carousel-section .carousel-sample {
        margin: 0 auto 2em;
        max-width: 650px;
        height: 300px;
    }

    .partial-carousel .e-carousel-items .e-carousel-item .img-container {
        height: 100%;
        width: 100%;
        margin: 0 10px;
    }

    .partial-carousel .e-carousel-items .e-carousel-item .img-caption {
        bottom: 4em;
        color: #fff;
        font-size: 12pt;
        height: 2em;
        position: relative;
        padding: 0.3em 1em;
        text-align: center;
        width: 100%;
    }

    @@media screen and (max-width: 480px) {
        .partial-carousel-section .carousel-sample {
            height: 110px;
        }

        .partial-carousel .e-carousel-items .e-carousel-item .img-caption {
            position: absolute;
            top: 0;
            font-size: 12px;
            text-align: left;
        }
    }
</style>

<script id="templateItem1" type="text/x-template">
    <figure class="img-container">
        <img src="./../css/carousel/images/bridge.jpg" alt="bridge" style="height:100%; width: 100%" />
        <figcaption class="img-caption">Golden Gate Bridge, San Francisco</figcaption>
    </figure>
</script>

<script id="templateItem2" type="text/x-template">
    <figure class="img-container">
        <img src="./../css/carousel/images/trees.jpg" alt="spring_trees" style="height:100%; width: 100%" />
        <figcaption class="img-caption">Spring Flower Trees</figcaption>
    </figure>
</script>

<script id="templateItem3" type="text/x-template">
    <figure class="img-container">
        <img src="./../css/carousel/images/waterfall.jpg" alt="waterfall" style="height:100%; width: 100%" />
        <figcaption class="img-caption">Oddadalen Waterfalls, Norway</figcaption>
    </figure>
</script>

<script id="templateItem4" type="text/x-template">
    <figure class="img-container">
        <img src="./../css/carousel/images/sea.jpg" alt="sea" style="height:100%; width: 100%" />
        <figcaption class="img-caption">Anse Source d'Argent, Seychelles</figcaption>
    </figure>
</script>

<script id="templateItem5" type="text/x-template">
    <figure class="img-container">
        <img src="./../css/carousel/images/rocks.jpeg" alt="rocks" style="height:100%; width: 100%" />
        <figcaption class="img-caption">Stonehenge, England</figcaption>
    </figure>
</script>

@section Title{
                    <title>ASP.NET Core Carousel Partial Visible Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Partial Visible in ASP.NET Core Carousel Control</h1>
                }
