@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        @Html.Partial("_SwitchPartial")
        <ejs-pdfviewer 
            id="pdfviewer" 
            documentPath="https://cdn.syncfusion.com/content/pdf/handwritten-signature.pdf" 
            resourceUrl="https://cdn.syncfusion.com/ej2/23.2.6/dist/ej2-pdfviewer-lib" 
            documentLoad="documentloaded" 
            change="change" 
            style="height:641px;">
        </ejs-pdfviewer>
    </div>
}

@section Meta{
    <meta name="description"
        content="This example demonstrates the Handwritten Signature in ASP.NET Core PDF Viewer control. Explore here for more details." />
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the Handwritten signature and initial support of the PDF Viewer. The signature or
            initial support reduces the paperwork of reviewing the contents and it is verified digitally.</p>
    </div>
}

@section Description{
    <div id="action-description">
        <p>
            In the PDF Viewer component, we can explicitly open the Handwritten signature dialog or initial dialog using the
            method setAnnotationMode.
        </p>
    </div>
    <div id="description">
        <p>
            More information on the PDF Viewer instantiation can be found on this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/pdfviewer/getting-started/">
                documentation section
            </a>.
        </p>

    </div>
}
@*custom code start*@
<style>
    .e-pv-signature-dialog-height,
    .e-pv-signature-window {
        z-index: 100010 !important;
    }

    .e-pv-signature-dialog-height .e-dlg-overlay {
        z-index: 100000 !important;
    }
</style>
@*custom code end*@
<script type="text/javascript">
    window.onload = function () {
    }
    function documentloaded(args) {
        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        pdfViewer.annotation.setAnnotationMode('HandWrittenSignature');
    }
</script>

@section Title{
    <title>ASP.NET Core PDF Viewer Handwritten Signature Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Handwritten Signature in ASP.NET Core PDF Viewer Control</h1>
}
