@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <ejs-pdfviewer id="pdfviewer" style="height:641px;"></ejs-pdfviewer>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Handwritten Signature in ASP.NET Core PDF Viewer control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the Handwritten signature and initial support of the PDF Viewer. The signature or initial support reduces the paperwork of reviewing the contents and it is verified digitally.</p>
    </div>
}

@section Description{
    <div id="action-description">
        <p>
         In the PDF Viewer component, we can explicitly open the Handwritten signature dialog or initial dialog using the method setAnnotationMode.
        </p>
    </div>
    <div id="description">
        <p>
            More information on the PDF Viewer instantiation can be found on this
            <a target="_blank"
               href="https://ej2.syncfusion.com/aspnetcore/documentation/pdfviewer/getting-started/">
                documentation section
            </a>.
        </p>

    </div>
}
@*custom code start*@
<style>
    .control-section {
        height: 716px;
        width: 100%;
    }
</style>
@*custom code end*@
<script type="text/javascript">
    window.onload = function () {
        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        pdfViewer.serviceUrl = window.baseurl + 'api/PdfViewer';
        pdfViewer.annotation.setAnnotationMode('HandWrittenSignature');
        pdfViewer.load("HandwrittenSignature.pdf", null);
    }
</script>
@section Title{
                    <title>ASP.NET Core PDF Viewer Handwritten Signature Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Handwritten Signature in ASP.NET Core PDF Viewer Control</h1>
                }