@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        @Html.Partial("_SwitchPartial")
        <ejs-pdfviewer
            id="pdfviewer"
            documentPath="https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf"
            resourceUrl="https://cdn.syncfusion.com/ej2/23.2.6/dist/ej2-pdfviewer-lib"
            documentLoad="documentloaded"
            style="height:641px;">
        </ejs-pdfviewer>
    </div>
}

@section Meta{
    <meta name="description"
        content="This example demonstrates the Default Functionalities in ASP.NET Core PDF Viewer control. Explore here for more details." />
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample showcases the page organization features of the PDF Viewer component, allowing users to effortlessly insert, delete, rearrange, copy, undo, redo, and rotate pages. Additionally, users can select all pages for collective adjustments and save changes instantly or download the edited document.</p>
    </div>
}

@section Description{
    <div id="action-description">
    <p>
        Explore the comprehensive page organization capabilities of the PDF Viewer component through this sample. Users can seamlessly manage the PDF documents with the following functionalities:
    </p>
    <ul>
        <li>Add new pages to the document to integrate additional content seamlessly.</li>
        <li>Remove unnecessary pages with ease, streamlining document management.</li>
        <li>Resolve orientation issues by rotating pages clockwise <code>right</code>  or counterclockwise <code>left</code> as required.</li>
        <li>Conveniently select all pages for uniform adjustments and modifications.</li>
        <li>Rearrange pages by dragging and dropping selected pages to the desired position.</li>
        <li>Copy pages by selecting the thumbnails and using the copy option; duplicates are added next to the selected pages.</li>
        <li>Undo and redo actions are available at the organize pages dialog.</li>
        <li>Enjoy real-time updates as any changes made to the page organization are instantly reflected within the PDF Viewer, when you click on the <code>Save</code> button.</li>
        <li>Utilize the <code>Save As</code> feature to preserve edits, enabling users to download the modified version of the PDF document for future reference.</li> 
    </ul> 
    </div>
    <div id="description">
        <p>
            More information on the PDF Viewer instantiation can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/pdfviewer/getting-started" aria-label="Navigate to the documentation for getting started with ASP.NET Core PDF Viewer control">
        documentation section</a>.
            </a>.
        </p>

    </div>
}

<script type="text/javascript">
    var isInitialLoading = true;
    window.onload = function () {
    }
    function documentloaded(args) {
        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        if (isInitialLoading) {
            pdfViewer.isPageOrganizerOpen = true;
            isInitialLoading = false;
        }
        else {
            pdfViewer.isPageOrganizerOpen = false;
        }
    }
</script>

@section Title{
    <title>ASP.NET Core PDF Viewer Default Functionalities Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core PDF Viewer Control</h1>
}
