@model EJ2CoreSampleBrowser.Models.SignatureValidationMessage 
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("DigitalSignatureValidation", "PDF", FormMethod.Post);
            {
                <div class="tablediv" style="font-size:14px">
                    <text class="rowdiv">
                        Click the button to validate the digital signature using Essential PDF.
                    </text>
                </div>
                <div class="tablediv" style="font-size:14px">
                    <div class="rowdiv">
                        <div class="celldiv">
                            <table style="width:100%">
                                <tr>
                                    <td align="left">
                                        <br />
                                        <input type="submit" class="e-btn" value="Validate Signature" name="SignatureValidation" style="width: 150px; text-transform:capitalize" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                Html.EndForm();
            }}
        <br />
        @Html.TextAreaFor(s => s.Message, 1, 1, new { @style = "width:850px; height:175px",@readonly="readonly" })
    </div>

}

    @section Meta{
                    <meta name="description" content="This example demonstrates the Digital Signature Validation in ASP.NET Core PDF control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core PDF Digital Signature Validation Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Digital Signature Validation in ASP.NET Core PDF Control</h1>
                }