@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("ExtractText", "PDF", FormMethod.Post);
            {

                <div class="tablediv" style="font-size:14px">
                    <text class="rowdiv">
                        Click the button to extract the text from the PDF document using Essential PDF. Please note
                        that Microsoft Word or its equivalent is required to view the resultant document.
                    </text>
                </div>
                <div class="tablediv" style="font-size:14px">
                    <div class="rowdiv">
                        <div class="celldiv">
                            <table style="width:100%">
                                <tr>
                                    <td align="left">
                                        <br />
                                        <input type="submit" class="e-btn" value="View Template" name="ViewTemplate" style="width: 150px; text-transform:capitalize" />
                                        <input type="submit" class="e-btn" value="Extract Text" name="Extract" style="width: 150px; text-transform:capitalize" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                Html.EndForm();
            }}
    </div>
}
@section ActionDescription{
    <div id="action-description" style="margin-top: 10px">
        This sample demonstrates how to extract the text from the PDF document.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Text Extraction in ASP.NET Core PDF library. Explore here for more details."/>
                }
@section Description{
    <div id="description" style="margin-top: 10px">
        This feature can be used to extract information such as user data, billing information from invoice, address, and so on from the PDF document for indexing and archiving.
        More information about the text extraction can be found in this documentation <a href="https://help.syncfusion.com/file-formats/pdf/working-with-text-extraction">section.</a>
    </div>
}
@section Title{
                    <title>ASP.NET Core PDF library - Text Extraction Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Text Extraction in ASP.NET Core PDF Library</h1>
                }