@model EJ2CoreSampleBrowser.Models.FindPDFCorruptionMessage
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("FindPDFCorruption", "PDF", FormMethod.Post);
            {
                <div class="tablediv" style="font-size:14px">
                    <text class="rowdiv">
                        Click the button to find PDF document corruption by using Essential PDF.
                    </text>
                </div>
                <div class="tablediv" style="font-size:14px">
                    <div class="rowdiv">
                        <div class="celldiv">
                            <table style="width:100%">
                                <tr>
                                    <td align="left">
                                        <br />
                                        <input type="submit" class="e-btn" value="Find corruption" name="FindCorruption" style="width: 150px; text-transform:capitalize" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                Html.EndForm();
            }}
        <br />
        @Html.TextAreaFor(s => s.Message, 1, 1, new { @style = "width:100%; height:56px" })
    </div>

}
@section Description{
    <div style="font-size:medium;color:red">
       Note:
        </div>
    <div>
        <ul>
            <li>
                This feature allows you to find only PDF syntax level corruptions.
            </li>
        </ul>
    </div>
    }
    @section Meta{
        <meta name="description" content="Example [C#] to find the PDF document corruption in ASP.NET Core using Syncfusion .NET PDF library." />
    }