@model EJ2CoreSampleBrowser.Models.FindPDFCorruptionMessage
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("findpdfcorruption", "pdf", FormMethod.Post);
            {
                <div class="tablediv" style="font-size:14px">
                    <text class="rowdiv">
                        Click the button to find PDF document corruption by using Essential PDF.
                    </text>
                </div>
                <div class="tablediv" style="font-size:14px">
                    <div class="rowdiv">
                        <div class="celldiv">
                            <table style="width:100%">
                                <tr>
                                    <td align="left">
                                        <br />
                                        <input type="submit" class="e-btn" value="Find Corruption" name="FindCorruption" style="width: 150px; text-transform:capitalize" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                Html.EndForm();
            }}
        <br />
        @Html.TextAreaFor(s => s.Message, 1, 1, new { @style = "width:100%; height:56px", @readonly="readonly" })
    </div>

}
@section Description{
   <div>
                This feature allows you to find only PDF syntax level corruptions.
   </div>
    }
    @section Meta{
                    <meta name="description" content="This example demonstrates the Find PDF Corruption in ASP.NET Core PDF library. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core PDF library - Find PDF Corruption Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Find PDF Corruption in ASP.NET Core PDF Library</h1>
                }