@model EJ2CoreSampleBrowser.Models.FindTextMessage
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("FindText", "PDF", FormMethod.Post);
        {
            <div class="tablediv" style="font-size:14px">
                <text class="rowdiv">
                    Click the button to find a text from the PDF document using Essential PDF.
                </text>
            </div>
            <div class="tablediv" style="font-size:14px">
                <div class="rowdiv">
                    <div class="celldiv">
                            <table style="width:100%">
                                <tr>
                                    <td align="left">
                                        <br />
                                        <input type="submit" class="e-btn" value="View Template" name="ViewTemplate" style="width: 150px; text-transform:capitalize" />
                                        &ensp;
                                        <input type="submit" class="e-btn" value="Find Text" name="Find" style="width: 150px; text-transform:capitalize" />
                                    </td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>

        Html.EndForm();
    }}
        <br />
        @Html.TextAreaFor(s => s.Message, 1, 1, new { @style = "width:100%; height:56px",@readonly="readonly" })
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Find Text in ASP.NET Core PDF control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core PDF Find Text Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Find Text in ASP.NET Core PDF Control</h1>
                }