@using Syncfusion.EJ2

@{ViewBag.Title = "    Essential PDF : Form Filling : Syncfusion";}

@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("FormFilling", "PDF", FormMethod.Post);
            {
                <div style="font-size:14px">
                    <div class="Outer" style="font-size:14px">
                        Click the Create PDF button to view a PDF document generated using pdf template
                        form, loaded in memory, it&#8217;s fields filled with appropriate data by using
                        Essential PDF. Please note that Adobe Reader or its equivalent is required to view
                        the resultant document
                    </div>
                    <br />
                    <div>
                        <ejs-checkbox id="flatten" name="flatten" value="From Flatten" />
                        <label style="font-weight:normal; font-size:14px" for="Form Flatten">Form Flatten</label>
                    </div>
                    <br />
                    <div>
                        <input id="viewtemplate" class="e-btn" type="submit" name="submit1" value="View Template" style="width: 150px; text-transform:capitalize" />
                    </div>
                    <br />
                    <div>
                        <input id="createpdf" class="e-btn" type="submit" name="submit" style="width:150px; text-transform:capitalize" value="Generate PDF" />
                    </div>
                </div>
                Html.EndForm();
            }}
    </div>
}
@section ActionDescription{
    <p>
        This sample demonstrates how to fill and flatten the form fields to personalize your PDF document.It is also possible to create, edit, and delete the form fields using the Essential PDF library.
    </p>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Form Filling in ASP.NET Core PDF library. Explore here for more details." />
}
@section Description{
    <p>
        This feature can be used in filling forms from the database or from user, and read form fields for transferring user data to database.
        More information about the forms can be found in this documentation <a href="https://help.syncfusion.com/file-formats/pdf/working-with-forms">section.</a>
    </p>
}
@section Title{
    <title>ASP.NET Core PDF library - Form Filling Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Form Filling in ASP.NET Core PDF Library</h1>
}