@using Syncfusion.EJ2

@{ViewBag.Title = "    Essential PDF : Html To Pdf : Syncfusion";}


@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("HtmltoPDF", "PDF", FormMethod.Post);
            {
                <iframe src="https://boldpdftools.com/demos/html-to-pdf" style="height:600px;width:815px;border:none;" title="HTML to PDF Demo "></iframe>
                Html.EndForm();
            }}

    </div>
}
@section ActionDescription{
    <div id="action-description" style="margin-top: 10px">
        This sample demonstrates how to convert a URL to PDF using the <a href="https://www.syncfusion.com/document-processing/pdf-framework/net/html-to-pdf">HTML to PDF</a> C# library. This PDF is reliable and accurate. This sample also contains many customization options and <a href="https://help.syncfusion.com/file-formats/pdf/converting-html-to-pdf">features</a>.
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstrates the HTML to PDF in ASP.NET Core PDF library. Explore here for more details." />
}
@section Description{
<div id="description" style="margin-top: 10px">
<p>
The Syncfusion <a href="https://www.syncfusion.com/document-processing/pdf-framework/net/html-to-pdf">HTML to PDF converter</a> is a .NET library for converting webpages, SVG, MHTML, and HTML to PDF files using C#. It is reliable and accurate. Also, all graphics, images, text, fonts, and the layout of the original HTML document or webpage are preserved in the converted file.
</p>
<p>
The HTML-to-PDF converter works seamlessly in various platforms: <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/azure#azure-app-service-linux">Azure App Services</a>, <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/azure#azure-app-function-linux">Azure Functions</a>, <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/aws#steps-to-convert-html-to-pdf-in-aws-lambda">AWS Lambda</a>, <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/docker">Docker</a>, <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/windows-forms">WinForms</a>, <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/wpf">WPF</a>, <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/blazor">Blazor</a>, <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/aspnet-mvc">ASP.NET MVC</a>, <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/net-core">ASP.NET Core</a> with <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/windows-forms">Windows</a>, <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/linux">Linux</a>, and <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/mac">MacOS</a>.
</p>
<b>Key features</b>
    <ul>
        <li>Converts any <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/features#url-to-pdf">webpage to PDF</a>.</li>
        <li>Converts any raw <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/features#html-string-to-pdf">HTML string to PDF</a>.</li>
        <li>Converts a <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/features#html-form-to-pdf-form">HTML form to a fillable PDF form</a>.</li>
        <li>Automatically creates a <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/features#table-of-contents">Table of Contents</a>.</li>
        <li>Automatically creates a <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/features#bookmarks">bookmark hierarchy</a>.</li>
        <li>Converts only a <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/features#partial-webpage-to-pdf">part of the web page to PDF</a>.</li>
        <li>Supports PDF header and footer.</li>
        <li>Repeats HTML table header and footer in PDF.</li>
		<li>Supports HTML5, CSS3, SVG, and Web fonts.</li>
		<li>Converts any <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/features#url-to-image">HTML to an image</a>.</li>
		<li>Converts any <a href="https://help.syncfusion.com/file-formats/pdf/convert-html-to-pdf/features#url-to-image">SVG to image</a>.</li>
    </ul>
</div>
}
@section Title{
    <title>ASP.NET Core PDF library - HTML to PDF Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of HTML to PDF in ASP.NET Core PDF Library</h1>
}
