@using Syncfusion.EJ2

@{ViewBag.Title = "    Essential PDF : Html To Pdf : Syncfusion";}

@{Html.BeginForm("HtmltoPDF", "PDF", FormMethod.Post); }
@section ControlsSection{
    <div class="control-section">

        <iframe src="https://essentialpdf.syncfusion.com/demos/html-to-pdf" style="height:600px;width:815px;border:none;" title="HTML to PDF Demo "></iframe>



    </div>
}
@section ActionDescription{
    <div id="action-description" style="margin-top: 10px">
        This sample demonstrates how to convert URL to PDF. Many customization options and <a href="https://www.syncfusion.com/products/file-formats/pdf/html-to-pdf">features</a>
        are available in this conversion.
    </div>
}
@section Meta{
    <meta name="description" content="Example [C#] to convert HTML to PDF in ASP.NET MVC using Syncfusion .NET PDF library." />
}
@section Description{
    <div id="description" style="margin-top: 10px">
        More information about the HTML to PDF conversion can be found in this documentation <a href="https://help.syncfusion.com/file-formats/pdf/converting-html-to-pdf">section.</a>
    </div>
}




