@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("OverlayDocuments", "Pdf", FormMethod.Post);
            {

                <label>
                    @ViewData["Error"]
                </label>
                <div class="tablediv" style="font-size:14px">
                    Click the button to generate a PDF document by applying the border specified in
                    the &#8220;Border template&#8221; on all the pages in the &#8220;Source Template"
                    using Essential PDF. Please note that Adobe Reader or its equivalent is required
                    to view the resultant document.
                </div>
                <br />
                <div class="tablediv" style="font-size:14px">
                    <div class="rowdiv">
                        <div class="celldiv">
                            <div>
                                <input type="submit" class="e-btn" value="Generate PDF" style="width: 150px; text-transform:capitalize" />
                            </div>
                        </div>
                    </div>
                </div>

                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div id="action-description" style="margin-top: 10px">
        This sample demonstrates how to overlay two different PDF documents into a single PDF document.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Overlay Documents in ASP.NET Core PDF control. Explore here for more details."/>
                }
@section Description{
    <div id="description" style="margin-top: 10px">
        This feature can be used to draw template pages from one document into another for easy designing.
    </div>
}
@section Title{
                    <title>ASP.NET Core PDF Overlay Documents Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Overlay Documents in ASP.NET Core PDF Control</h1>
                }