@section ControlsSection{
    <div class="control-section">
        @{ViewBag.Title = "    Essential DocIO (Word) : Word To PDF : Syncfusion";}

        @{Html.BeginForm("WordToPDF", "PDF", FormMethod.Post, new { enctype = "multipart/form-data" });

            {

                <div class="tablediv" style="font-size:14px">
                    <div class="rowdiv">
                        <text>
                            Click the button to view the resultant PDF document being converted from Word document using Essential DocIO and Essential PDF. Please note that PDF viewer is required to view the resultant PDF.
                        </text>
                        <br />
                        <br />
                        <text>Select Document</text>
                        <br />                       
                        @Html.TextBox("file", "", new { type = "file", accept = ".doc,.docx,.rtf,.dot,.dotm,.dotx,docm,.xml" }) <br />
                    </div>
                   <div class="rowdiv">
                        <div class="celldiv">
                            <input class="e-btn" type="submit" value="Convert to PDF" name="button" style="width:150px; text-transform:capitalize" />
                        </div>
                        <br />
                        <div class="text-danger">
                            @ViewBag.Message
                        </div>
                    </div>
                </div>

                Html.EndForm();
            }}
    </div>
}
@section ActionDescription{
    <div id="action-description" style="margin-top: 10px">
        This sample demonstrates how to convert word document to PDF. The Essential PDF supports customization in the conversion such as changing image quality, font embedding and more.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Word To PDF in ASP.NET Core PDF control. Explore here for more details."/>
                }
@section Description{
    <div id="description" style="margin-top: 10px">
        More information about the Word to PDF conversion can be found in this documentation <a href="https://help.syncfusion.com/file-formats/pdf/working-with-document-conversions#converting-word-documents-to-pdf">section.</a>
    </div>
}
@section Title{
                    <title>ASP.NET Core PDF Word To PDF Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Word To PDF in ASP.NET Core PDF Control</h1>
                }