@page
@model EJ2CoreSampleBrowser_NET8.Pages.DropDownTree.CustomTemplate
@using Syncfusion.EJ2

@section ControlsSection{

    <div class="col-lg-12 control-section">
        <div class="control-wrapper" style='padding-top:75px;'>
            <ejs-dropdowntree id="tree" popupHeight="200px" customTemplate="${value.length} item(s) selected" placeholder="Select items" mode="Custom" showCheckBox="true">
                <e-dropdowntree-treeSettings autoCheck="true"></e-dropdowntree-treeSettings>
                <e-dropdowntree-fields dataSource="@Model.Parent" value="id" parentValue="pid" text="name" hasChildren="hasChild" expanded="expanded"></e-dropdowntree-fields>
            </ejs-dropdowntree>
        </div>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Custom Template in ASP.NET Core Dropdown Tree control. Explore here for more details."/>
                }
@section ActionDescription{
   <p>This sample explains you about the custom template support of the Dropdown Tree. When you click the checkbox, the selected items will be visualized based on the given custom template.
   </p>
}

@section Description{
    <p>The <code>Dropdown Tree</code> control allows the user to select more than one value while enabling the checkbox or multi selection support.</p>
    <p>The user can visualize the custom template instead of the selected item texts in the Dropdown Tree by enabling the <code>mode</code> type as <code>Custom</code>. User can also customize the given template by using the <code>customTemplate</code> property.
    </p>
    <p>In this demo, the Dropdown Tree is populated with the checkbox and custom template feature.</p>
}

<style>
    .control-wrapper {
        margin: 0 auto;
        width: 250px;
    }
</style>

@section Title{
                    <title>ASP.NET Core Dropdown Tree Custom Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Custom Template in ASP.NET Core Dropdown Tree Control</h1>
                }