@page
@model EJ2CoreSampleBrowser.Pages.DropDownTree.DefaultFunctionalities

@using Syncfusion.EJ2
@{
    char[] value = { 'C', 'h', 'i', 'l', 'd', 's' };
    string Child = new string(value);
}
@section ControlsSection{
    <div class="col-lg-8 control-section">
        <div class="control-wrapper" style='padding-top:75px;'>
            <ejs-dropdowntree id="tree" popupHeight="200px" placeholder="Select a file or folder" change="valueChange" changeOnBlur="false">
                <e-dropdowntree-fields child="Child" dataSource="@Model.Parent" value="NodeId" parentValue="pid" text="NodeText" hasChildren="hasChild" expanded="Expanded"></e-dropdowntree-fields>
            </ejs-dropdowntree>
        </div>
    </div>
    <div class="col-lg-4 property-section dropdowntree-default">
        <table id="property" title="Properties" style="width: 100%; margin:10px">
            <tr>
                <td class="left-side">Value</td>
                <td>:<span id='value' class="right-side"></span></td>
            </tr>
            <tr>
                <td class="left-side">Text</td>
                <td>:<span id='text' class="right-side"></span></td>
            </tr>
        </table>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Dropdown Tree control. Explore here for more details."/>
                }
@section ActionDescription{
    <p>
        This sample explains you about the default functionalities of the Dropdown Tree control. Click the Dropdown Tree
        element, and then select an item from the hierarchical structure <code>options</code> list.
        The selected item's <code>value</code> and <code>text</code> property values will be shown the in
        property panel.
    </p>
}

@section Description{
    <p>
        The <code>Dropdown Tree</code> control contains a hierarchical structure list of predefined values from that the
        user can choose a
        single
        value.
    </p>
    <p>
        The default sample explains you about  the use of Dropdown Tree that allows the end-users to select an item from the
        hierarchical structure
        <code>options</code> list. The selected item's <code>value</code> and <code>text</code> property values will be
        displayed in the property
        panel.
    </p>
}

<script type="text/javascript">
    function valueChange() {
        var ddTreeObj = document.getElementById("tree").ej2_instances[0];
        var value = document.getElementById('value');
        var text = document.getElementById('text');
        // update the text and value property values in property panel based on selected item in DropDownTree
        value.innerHTML = ddTreeObj.value;
        text.innerHTML = ddTreeObj.text;
    }
</script>

@*custom code start*@
<style>
    .control-wrapper {
        margin: 0 auto;
        width: 250px;
    }

    .property-section .right-side {
        padding-left: 10px;
    }

    .dropdowntree-default.property-section .left-side {
        padding: 5px;
        width: 25%
    }
</style>
@*custom code end*@

@section Title{
                    <title>ASP.NET Core Dropdown Tree Default Functionalities Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Dropdown Tree Control</h1>
                }