@page
@model EJ2CoreSampleBrowser_NET8.Pages.DropDownTree.IconsAndImages

@using Syncfusion.EJ2
@{
    string Child = "Child";
}
@section ControlsSection{
    <div class="control-section dropdowntree-icons">
        <div class="control-wrapper">
            <ejs-dropdowntree id="tree" popupHeight="200px" placeholder="Select a folder or file">
                <e-dropdowntree-fields dataSource="@Model.Parent" child="Child" value="NodeId" text="NodeText" expanded="Expanded" iconCss="Icon" imageURL="Image"></e-dropdowntree-fields>
            </ejs-dropdowntree>
        </div>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Icons and Images in ASP.NET Core Dropdown Tree control. Explore here for more details."/>
                }
@section ActionDescription{
    <p>
        This sample explains you about the Dropdown Tree item that can be configured by the icons or images. Click on the
        icon or double click on it to expand or collapse and to show the icons or images that are configured with the
        items.
    </p>
}

@section Description{
    <p>
        The <code>Dropdown Tree</code> control has the built-in option to customize each item's appearance with the
        icons and images by mapping the <code>iconCss</code> and <code>imageURL</code> fields.
    </p>
    <p>In this demo, the Dropdown Tree is showcased like a file system with custom icons and images.</p>
}

<style>
     .dropdowntree-icons .control-wrapper {
        width: 80%;
        margin: 0 auto;
        max-width: 380px;
        padding-top: 15px
    }

    .e-ddt .e-list-img {
        width: 25px;
        height: 25px;
    }
    .e-ddt .e-list-icon {
        background-repeat: no-repeat;
        background-image: url('@Url.Content("~/images/dropdown-tree/file_icons.png")');
        height: 20px;
    }
    /* Specify the icon positions based upon class name */
    .e-ddt .e-list-icon.folder { background-position: -197px -552px }
    .e-bigger .e-ddt .e-list-icon.folder { background-position: -197px -550px; }
    .e-ddt .e-list-icon.docx { background-position: -197px -20px }
    .e-ddt .e-list-icon.ppt { background-position: -197px -48px }
    .e-ddt .e-list-icon.pdf { background-position: -197px -104px }
    .e-ddt .e-list-icon.images { background-position: -197px -132px }
    .e-ddt .e-list-icon.zip { background-position: -197px -188px }
    .e-ddt .e-list-icon.audio { background-position: -197px -244px }
    .e-ddt .e-list-icon.video { background-position: -197px -272px }
    .e-ddt .e-list-icon.exe { background-position: -197px -412px }
</style>

@section Title{
                    <title>ASP.NET Core Dropdown Tree Icons and Images Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Icons and Images in ASP.NET Core Dropdown Tree Control</h1>
                }