@page
@model EJ2CoreSampleBrowser_NET8.Pages.DropDownTree.LocalData
@using Syncfusion.EJ2

@{
    char[] value = { 'c', 'h', 'i', 'l', 'd' };
    string Child = new string(value);
}
@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div class="col-lg-6 nested-data">
            <div class="content">
                <h4>Hierarchical Data</h4>
                <ejs-dropdowntree id="local" placeholder="Select a item" popupHeight="200px">
                    <e-dropdowntree-fields child="Child" dataSource="@Model.continents" value="code" text="name" expanded="expanded"></e-dropdowntree-fields>
                </ejs-dropdowntree>
            </div>
        </div>
        <div class="col-lg-6 list-data">
            <div class="content">
                <h4>List Data</h4>
                <ejs-dropdowntree id="list" placeholder="Select a item" popupHeight="200px">
                    <e-dropdowntree-fields dataSource="@Model.listdata" value="id" parentValue="pid" text="name" hasChildren="hasChild" expanded="expanded"></e-dropdowntree-fields>
                </ejs-dropdowntree>
            </div>
        </div>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Local Data in ASP.NET Core Dropdown Tree control. Explore here for more details."/>
                }
@section ActionDescription{
    <p>
        This sample demonstrates explains you about the different local data binding supports of the Dropdown Tree control. Click the Dropdown Tree element,
        and then
        select an item from the hierarchical structure suggestion list.
    </p>
}

@section Description{
    <p>
        The Dropdown Tree control loads the data through the <code>dataSource</code> property, where the data can be
        either local data or remote data. In case of local data, the data structure can be hierarchical data or list
        data (with self-referential format i.e., mapped with the <b>value</b> and <b>parentValue</b> fields).
    </p>
    <p>
        In this demo, the first Dropdown Tree is bound with the hierarchical data that contains the array of nested objects.
        And, the second Dropdown Tree is bound with the list type data where the parent-child relation is referred by the
        <b>value</b> and <b>parentValue</b> mapping fields.
    </p>
}
@*custom code start*@
<style>
    .nested-data,
    .list-data {
        padding: 15px;
        margin-bottom: 25px;
    }

    .content {
        margin: 0 auto;
        width: 250px;
    }
</style>
@*custom code end*@
@section Title{
                    <title>ASP.NET Core Dropdown Tree Local Data Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Local Data in ASP.NET Core Dropdown Tree Control</h1>
                }