@using Syncfusion.EJ2

@section ActionDescription{
    This sample demonstrates how to use AutoShapes in spreadsheets using XlsIO.
    }

@section Meta{
                    <meta name="description" content="This example demonstrates the AutoShapes in ASP.NET Core XlsIO control. Explore here for more details."/>
                }

@section Description{
            AutoShapes help you to draw objects on your document. You can create various shapes using <i>AutoShapeType</i> enumeration. Once you insert an AutoShape, you can also put a text inside it and you can move or resize them as you wish.
<br />
<br />The <i>IShape</i> interface is the in-memory representation of the AutoShapes in an Excel workbook. These are used to create Autoshapes and to set properties for those shapes. The <i>ITextFrame</i> interface can be used to set various shape text formats.
<br />
<br />
<b>Features:</b>
<br />
<br />Essential XlsIO supports all major AutoShape features.This sample demonstrates following features:
<br />
<br />
<ul>
    <li>Shape Text</li>
    <li>Text Alignment</li>
    <li>SolidFill</li>
</ul>
    }
@section ControlsSection{
<div class="control-section">
    @{Html.BeginForm("AutoShapes", "XlsIO", FormMethod.Post);
        <div class="rowdiv">
            <p style="font-weight:normal">
				Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
			</p>
        </div>
        <br />
        <div class="rowdiv">
            <div class="celldiv">
                <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px;" />
            </div>
        </div>
        }
    </div>
}
@section Title{
                    <title>ASP.NET Core XlsIO AutoShapes Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of AutoShapes in ASP.NET Core XlsIO Control</h1>
                }