@using Syncfusion.EJ2

@section ActionDescription{
    This sample demonstrates how to use CallCenterDashboard in spreadsheets using XlsIO.
    }

@section Meta{
                    <meta name="description" content="This example demonstrates the Call Center dashboard in ASP.NET Core XlsIO control. Explore here for more details."/>
                }

@section Description{
            Call Center dashboard helps in assessing the performance in different levels such as call center level, agent level, and department level over a period of time.
	<br />
	<br />
	<b>Features:</b>
	<br />
	<br />Essential XlsIO supports Call Center dashboard application features. This sample demonstrates following features:
	<br />
	<br />
	<ul>
        <li>Number formats</li>
		<li>Formulas</li>
        <li>Cell style formattings (Borders, Font, Alignment, Fill color)</li>
        <li>Rich-text formatting</li>
        <li>Macros for scroll-bars and option buttons</li>
        <li>Advanced conditional formatting with icon sets</li>
        <li>Sparklines</li>
        <li>Charts</li>
	</ul>
    }
@section ControlsSection{
<div class="control-section">
    @{Html.BeginForm("CallCenterDashboard", "XlsIO", FormMethod.Post);
        <div class="rowdiv">
            <p style="font-weight:normal">
                Click the "Input Template" button to view the input Excel document and click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
            </p>
        </div>
        <br />
        <div class="rowdiv">
            <div class="celldiv">
                <input id="inputbtn" class="e-btn" type="submit" name="button" value="Input Template" style="width:160px;" />
				<input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px;" />
            </div>
        </div>
        }        
    </div>
}
@section Title{
                    <title>ASP.NET Core XlsIO Call Center Dashboard Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Call Center dashboard in ASP.NET Core XlsIO Control</h1>
                }