@using Syncfusion.EJ2

@section ActionDescription{
    This sample demonstrates how to apply conditional formats using XlsIO.
    }

@section Meta{
                    <meta name="description" content="This example demonstrates the Conditional Formatting in ASP.NET Core XlsIO control. Explore here for more details."/>
                }

@section Description{
<p>
    Microsoft Excel provides enhanced conditional formatting support. Conditional formatting allows you to apply formatting to one or more cells based on the value of the cell or the value of a formula.
    XlsIO also supports applying more than three conditional formats to the same cell, similar to Excel 2007 and above.<br />
</p>
<br />
<b>Note:</b> It is not possible to apply more than three conditional formats in earlier versions of Excel. <br />
<br />
<b>Features:</b>
<br />
<br />
<ul>
    <li>Writing conditional formatting on a range of cells</li>
    <li>Advanced options of Excel, such as color scales, icon sets, and data bars</li>
</ul>
}
@section ControlsSection{
<div class="control-section">
    @{Html.BeginForm("ConditionalFormatting", "XlsIO", FormMethod.Post);
        <p style="font-weight:normal">
                Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
        </p>
        <br />
        <div>
			Save As :
			<input type="radio" id="XLS" name="SaveOption" value="Xls" />
			<label for="XLS" style="font-weight:normal">XLS</label>
			&nbsp;
			<input type="radio" id="XLSX" name="SaveOption" value="xlsx" checked="checked" />
			<label for="XLSX" style="font-weight:normal">XLSX</label>
		</div>
        <br />
        <div class="celldiv">
            <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px; text-transform:capitalize" />
        </div>
        }
    </div>
}
@section Title{
                    <title>ASP.NET Core XlsIO Conditional Formatting Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Conditional Formatting in ASP.NET Core XlsIO Control</h1>
                }