@using Syncfusion.EJ2

@section ActionDescription{
    This sample demonstrates how to create a simple spreadsheet document using XlsIO.
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Create in ASP.NET Core XlsIO control. Explore here for more details."/>
                }

@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("Create", "XlsIO", FormMethod.Post);
            <p style="font-weight:normal">
                Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
            </p>
            <br />
            <div>
				Save As :
				<input type="radio" id="XLS" name="SaveOption" value="ExcelXls" />
				<label for="XLS" style="font-weight:normal">XLS</label>
				&nbsp;
				<input type="radio" id="XLSX" name="SaveOption" value="Xlsx" checked="checked" />
				<label for="XLSX" style="font-weight:normal">XLSX</label>
			</div>
            <br />
            <div class="celldiv">
                <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px; text-transform:capitalize" />
            </div>
            }
        </div>
}
@section Title{
                    <title>ASP.NET Core XlsIO Create Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Create in ASP.NET Core XlsIO Control</h1>
                }