@using Syncfusion.EJ2


@section ActionDescription{
    This sample demonstrates how to use data validation in spreadsheets using XlsIO.
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Data Validation in ASP.NET Core XlsIO control. Explore here for more details."/>
                }

@section Description{
    Data validation helps to control the kind of information that is entered in a worksheet cells. It provides users with the following options:
    <br />
    <br />
    <ul>
        <li>A list of choices</li>
        <li>Restriction of entries to specific type or size</li>
    </ul>
    <br />
    Essential XlsIO has support for reading and writing data validations. This sample focuses on writing a data validation in an Excel template.<br />
    <br /><b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Text validation</li>
        <li>Validating input text length based on the given constraints</li>
    </ul>
}
@section ControlsSection{
<div class="control-section">
    @{Html.BeginForm("DataValidation", "XlsIO", FormMethod.Post);
        <p style="font-weight:normal">
            Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
        </p>
        <br />
        <div>
			Save As :
			<input type="radio" id="XLS" name="SaveOption" value="Xls" />
			<label for="XLS" style="font-weight:normal">XLS</label>
			&nbsp;
			<input type="radio" id="XLSX" name="SaveOption" value="xlsx" checked="checked" />
			<label for="XLSX" style="font-weight:normal">XLSX</label>
		</div>
        <br />
        <div class="celldiv">
            <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px;" />
        </div>
        }
    </div>    
}
@section Title{
                    <title>ASP.NET Core XlsIO Data Validation Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Data Validation in ASP.NET Core XlsIO Control</h1>
                }