@using Syncfusion.EJ2;
@section ActionDescription{
    This sample deomonstrates how to convert spreadsheets to PDF documents using XlsIO.
}

@section Meta{
    <meta name="description" content="This sample demonstrates how to convert Excel to PDF in ASP.NET Core as web services using Syncfusion XlsIO (Excel) library." />
}

@section Description{
    This sample illustrates the conversion of a MS Excel document to a PDF format.
    <br />
    <br />Essential XlsIO allows to export the Excel document into PDF document. Use the Convert method of ExcelToPDFConverter class to convert the Excel to PDF and save the PDF document. This enabling user easily converts the Excel document to PDF document.
    <br />
    <br /><b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Supports conversion of a Excel document to PDF document</li>
    </ul>
    <br />
    <b>Note:</b> Installation of Essential PDF is necessary to run this sample
    <br />
}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("ExcelToPDF", "XlsIO", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <br />
                <br />
                <label>Select Document</label>
                <br />
                <input type="file" name="file" />
                <br />
                <br />
                <div style="margin-top: 10px;font-size:14px">
                    Clicking the button below will result in a PDF document being converted from Excel document using Essential XlsIO and Essential PDF.
                    Please note that you need to have a PDF viewer installed in order to view the generated PDF file. 
                    <br />
                    <br />
                    <h5>  PDF Page Setup options </h5>
                    <div class="celldiv">
                        <input type="radio" id="noScaleRadioBtn" name="Group1" value="NoScaling" style="margin-left: 7px" />
                        <label for="noScaleRadioBtn" style="font-size:13px;font-weight:normal;text-align:match-parent">
                            NoScaling
                        </label>
                        &nbsp;
                        <input type="radio" id="allRowsRadioBtn" name="Group1" value="FitAllRowsOnOnePage" style="margin-left: 7px" />
                        <label for="allRowsRadioBtn" style="font-size:13px;font-weight:normal;text-align:match-parent">
                            FitAllRowsOnOnePage
                        </label>
                        &nbsp;
                        <input type="radio" id="allColumnRadioBtn" name="Group1" value="FitAllColumnsOnOnePage" style="margin-left: 7px" />
                        <label for="allColumnRadioBtn" style="font-size:13px;font-weight:normal;text-align:match-parent">
                            FitAllColumnsOnOnePage
                        </label>
                        &nbsp;
                        <input type="radio" id="fitSheetRadioBtn" name="Group1" value="FitSheetOnOnePage" style="margin-left: 7px" checked="checked" />
                        <label for="fitSheetRadioBtn" style="font-size:13px;font-weight:normal;text-align:match-parent">
                            FitSheetOnOnePage
                        </label>
                    </div>
                </div>
                <br />
                <div style="margin-top: 8px">
                    <input id="generate" name="Button" class="e-btn" type="submit" value="Convert to PDF" style="width:170px; text-transform:capitalize" />
                    <br />
                    <div class="text-danger">
                        @ViewBag.Message
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
