@section ActionDescription{
    This sample deomonstrates how to convert spreadsheets to PDF documents using XlsIO.
}

@section Meta{
    <meta name="description" content="This sample demonstrates how to convert Excel to PDF in ASP.NET Core as web services using Syncfusion XlsIO (Excel) library." />
}

@section Description{
    This sample illustrates the conversion of a MS Excel document to a PDF format.
    <br />
    <br />Essential XlsIO allows to export the Excel document into PDF document. Use the Convert method of ExcelToPDFConverter class to convert the Excel to PDF and save the PDF document. This enabling user easily converts the Excel document to PDF document.
    <br />
    <br /><b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Supports conversion of a Excel document to PDF document</li>
    </ul>
    <br />
    <b>Note:</b> Installation of Essential PDF and ExcelChartToImageConverter is necessary to run this sample
    <br />
}

@section ControlsSection{
    <form name="form1" method="post" action="https://js.syncfusion.com/ejservices/api/xlsio/converttopdf" enctype="multipart/form-data">
        <div class="control-section">
            <div class="tablediv">
                <div class="rowdiv">
                    <p  style="font-weight:normal">
                        Clicking the button below will result in a PDF document being converted from Excel document using Essential XlsIO and Essential PDF.
                        Please note that you need to have a PDF viewer installed in order to view the generated PDF file.
                    </p>
                    <br />
                    <br />
                    <label>Select Document</label>
                    <br />
                    @Html.TextBox("file", "", new { type = "file", accept = ".xlsx,.xls,.xlsm,.xltx", @style = "display:inline" })
                    <input class="e-btn" type="submit" value="Convert to PDF" name="button" style="width:150px" />
                </div>
                <br />
            </div>
        </div>
    </form>
}
