@using Syncfusion.EJ2

@section ActionDescription{
    This sample demonstrates how to apply formatting to the cells using XlsIO.
    }

@section Meta{
                    <meta name="description" content="This example demonstrates the Format Cells in ASP.NET Core XlsIO control. Explore here for more details."/>
                }

@section Description{
    <p>
        Formatting worksheets makes them more attractive and easier to use. Excel provides various options for setting font, font size, color, and background.
        The "Format Cells" dialog in Excel has six tabs, each with several characteristics that allow you to set various formats for a cell. You can set number formats, horizontal and vertical alignment, text control operations, font and font styles, and borders for the cells.<br />
    </p>
    <br />
    <b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Various styles such as colors, font settings, borders, and alignments</li>
        <li>Number formats</li>
        <li>Patterns</li>
        <li>Conditional formatting</li>
        <li>RTF</li>
        <li>Image insertion</li>
    </ul>
}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("FormatCells", "XlsIO", FormMethod.Post);
            <p style="font-weight:normal">
                Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
            </p>
            <br />
            <div>
				Save As :
				<input type="radio" id="XLS" name="SaveOption" value="Xls" />
				<label for="XLS" style="font-weight:normal">XLS</label>
				&nbsp;
				<input type="radio" id="XLSX" name="SaveOption" value="xlsx" checked="checked" />
				<label for="XLSX" style="font-weight:normal">XLSX</label>
			</div>
            <br />
            <div class="celldiv">
                <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px; text-transform:capitalize" />
            </div>
            }
        </div>
}
@section Title{
                    <title>ASP.NET Core XlsIO Format Cells Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Format Cells in ASP.NET Core XlsIO Control</h1>
                }