@using Syncfusion.EJ2

@section ActionDescription{
    This sample demonstrates how to create sparkline charts using XlsIO.
    }

@section Meta{
                    <meta name="description" content="This example demonstrates the Sparklines in ASP.NET Core XlsIO control. Explore here for more details."/>
                }

@section Description{
<p>
    Sparkline is a small chart in a worksheet cell that provides visual representation of data. Essential XlsIO has the APIs for creating and manipulating sparklines. <br />
</p>
<br /><b>Features:</b>
<br />
<br />
<ul>
    <li>Creation of Sparkline types</li>
    <li>Sparkline creation from values fetched from a template document</li>
</ul>
}
@section ControlsSection{
<div class="control-section">
    @{Html.BeginForm("Sparklines", "XlsIO", FormMethod.Post);
        <p style="font-weight:normal">
            Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
        </p>
        <br />
        <div class="celldiv">
            <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px;" />
        </div>
        }
    </div>
}
@section Title{
                    <title>ASP.NET Core XlsIO Sparklines Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Sparklines in ASP.NET Core XlsIO Control</h1>
                }