@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("WorksheetToHTML", "XlsIO", FormMethod.Post);
        <p style="font-weight:normal">
            Click the button below to view the converted HTML document using Essential XlsIO.
        </p>
        <br />

        <div class="celldiv">
            <table>
                <tr>
                    <td>
                        <h5>Convert Type:</h5>
                    </td>
                    <td>
                    &nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.EJS().RadioButton("radio1").Label("Workbook").Name("SaveOption").Value("Workbook").Checked(true).Render()
                    </td>
                    <td>
                        &nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.EJS().RadioButton("radio2").Label("Worksheet").Name("SaveOption").Value("Worksheet").Checked(false).Render()
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="celldiv">
            <input id="inputbtn" class="e-btn" type="submit" name="button" value="Input Template" style="width:150px;padding-left:0.5em"/>
            <input id="convertbtn" class="e-btn" type="submit" name="button" value="Convert" style="width:150px;padding-left:0.5em"/>
        </div>
            }
    </div>   
}
}
@section ActionDescription{
    This sample demonstrates how to convert Worksheets to html files using Essential XlsIO.
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Worksheet To HTML in ASP.NET Core XlsIO control. Explore here for more details."/>
                }
@section Description{
    <div class="rowdiv">
        This sample demonstrates how a worksheet or workbook is converted to HTML. The
        output file can be saved to disc and also as a memory stream.
        <br />
    </div>
}
@section Title{
                    <title>ASP.NET Core XlsIO Worksheet To HTML Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Worksheet To HTML in ASP.NET Core XlsIO Control</h1>
                }