@page
@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div class="rating-control">
            <div class="rating-content">
                <label>Basic</label><br/>         
                <ejs-rating id="rating"></ejs-rating>
            </div>
            <div class="rating-content">
                <label>Reset</label><br/>            
                <ejs-rating id="rating1" value=3 allowReset=true></ejs-rating>
            </div>
            <div class="rating-content">
                <label>Single Selection</label><br/>            
                <ejs-rating id="rating2" value=3 enableSingleSelection=true></ejs-rating>
            </div>            
            <div class="rating-content">
                <label>ReadOnly</label><br/>            
                <ejs-rating id="rating3" value=3 readOnly=true></ejs-rating>
            </div>
            <div class="rating-content">
                <label>Disabled</label><br/>           
                <ejs-rating id="rating4" value=3 disabled=true></ejs-rating>
            </div>
            <div class="rating-content">
                <label>Items Count</label><br/>            
                <ejs-rating id="rating5" value=3 itemsCount=8></ejs-rating>
            </div>
        </div>
    </div>
}

<style>
    .rating-control .rating-content {
        width: 240px;
        margin: 15px 0;
        min-height: 75px;
        padding:0;
        text-align: center;
    }

    .e-bigger .rating-control .rating-content {
        width: 330px;
        margin: 15px 0;
        min-height: 75px;
        padding:0;
        text-align: center;
    }

    .rating-control{
        margin: 6% auto;
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>

@section Meta{
<meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Rating control. Explore here for more details." />
}
@section ActionDescription{
<div id="action-description">
    <p>
        This sample demonstrates the default functionalities of the Rating control. The control lets a user provide a star rating or view other people's ratings on a numeric scale for any service provided, such as for movies, applications, or products.
    </p>
</div>
}
@section Description{
<div id="description">
       <p>
           This example showcases the usage of the <code>allowReset</code>, <code>readOnly</code>, <code>enableSingleSelection</code>, <code>itemsCount</code> and <code>disabled</code> properties in the ASP.NET Core Rating control.
       </p>
</div>
}
@section Title{
<title>ASP.NET Core Rating DefaultFunctionalities Example - Syncfusion Demos </title>
}
@section Header{
<h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Rating Control</h1>
}