@page
@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div class="rating-control">                      
            <ejs-rating id="rating" value=3 allowReset=true></ejs-rating> 
        </div>
    </div>
}

<style>
    .rating-control {
        text-align: center;
        margin: 6% auto;
    }
</style>

@section Meta{
<meta name="description" content="This example demonstrates the Keyboard Functionalities in ASP.NET Core Rating control. Explore here for more details." />
}
@section ActionDescription{
<div id="action-description">
    <p>
        This demo showcases the keyboard shortcuts applicable in the Rating control.
    </p>
</div>
}
@section Description{
<div id="description">
    <i>The below key combinations can be used in Rating to perform various actions.</i>
    <ul>
        <li>
            <span class="key-class"><kbd>Tab</kbd></span>
            <span> -Focus</span>
        </li>
        <li>
            <span class="key-class"><kbd>Left Arrow</kbd></span>
            <span> - Increase in RTL and decrease in LTR.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Right Arrow</kbd></span>
            <span> - Decrease in RTL and increase in LTR.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Down arrow</kbd></span>
            <span> - Decreases the value.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Up arrow</kbd></span>
            <span> - Increases the value.</span>
        </li>
    </ul>
</div>
}
@section Title{
<title>ASP.NET Core Rating Keyboard Navigation Example - Syncfusion Demos </title>
}
@section Header{
<h1 class='sb-sample-text'>Example of Keyboard Navigation in ASP.NET Core Rating Control</h1>
}