@using Syncfusion.EJ2


@section ControlsSection{
    <div class=" col-lg-8 control-section">
        <div id="wrapper" class="datepicker-section">
            <div id="datepicker-control">
                <ejs-datepicker id="datepicker" format="dd-MMM-yy" value="@ViewBag.value"></ejs-datepicker>
            </div>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <div class="radio-control" id="property" title="Select a Format">
            <div class="row">
                <ejs-radiobutton id="format1" name="format" checked="true" label="dd-MMM-yy" value="dd-MMM-yy" change="onchange"></ejs-radiobutton>
            </div>
            <div class="row">
                <ejs-radiobutton id="format2" name="format" label="yyyy-MM-dd" value="yyyy-MM-dd" change="onchange"></ejs-radiobutton>
            </div>
            <div class="row">
                <ejs-radiobutton id="format3" name="format" label="dd-MMMM" value="dd-MMMM" change="onchange"></ejs-radiobutton>
            </div>
        </div>
    </div>
}

<script>
    function onchange(args) {
        var datepickerOBJ = document.getElementById('datepicker').ej2_instances[0];
        /*Apply selected format to the component*/
        datepickerOBJ.format = args.value;
    }
</script>

<style>
    #wrapper {
        max-width: 246px;
        margin: 30px auto;
        padding-top: 20px;
    }

    .property-section {
        width: 250px;
    }
</style>

@section Meta{
    <meta name="Highly flexible DatePicker for ASP.NET Core with customizable options for date and time formats based on the preferred culture for improved readability" />
}


@section ActionDescription{
    <div id="action-description">
        <p>
            In this sample, the DatePicker has been configured with the <code>dd-MMM-yy</code> date format. To change this current date format, go to the properties panel at the right side and select a date format from the dropdown options.
        </p>
    </div>

}

@section Description{
    <div id="description">
        <p>
            Date Formats sample illustrates the support of custom date format in the DatePicker component by
            using the <code>format</code> property. You can also change the date format by selecting it from the format options in the properties
            panel.
        </p>
        <p>
            More information on the date format configuration can be found in the <a href="https://ej2.syncfusion.com/aspnetcore/documentation/datepicker/date-format.html" target="_blank">documentation section</a>.
        </p>
    </div>

}




