@using Syncfusion.EJ2
@section ControlsSection{

    <div class="col-lg-8 control-section multiline">
        <div class="multiline_wrapper">
            <ejs-textbox id="default" placeholder="Enter your address" multiline="true" floatLabelType="Auto"></ejs-textbox>
        </div>
    </div>

    <div class="col-lg-4 property-section">
        <table id="property" class="multiline-property" title="Properties">
            <tr>
                <td class="left-side">Float Label Type</td>
                <td>
                    <ejs-dropdownlist id="floatText" dataSource="@ViewBag.data" placeholder="Select float type" text="Auto" popupHeight="220px" change="floatHandler">
                        <e-dropdownlist-fields text="text" value="floatValue"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                </td>
            </tr>
            <tr>
                <td class="left-side">Disabled</td>
                <td>
                    <ejs-checkbox id="sample" cssClass="multiline" checked="false" change="enabledHandler"></ejs-checkbox>
                </td>
            </tr>
            <tr>
                <td class="left-side">Read only</td>
                <td>
                    <ejs-checkbox id="sample1" cssClass="multiline" checked="false" change="readonlyHandler"></ejs-checkbox>
                </td>
            </tr>
            <tr>
                <td class="left-side">Rows</td>
                <td>
                    <ejs-numerictextbox id="rowvalue" format="##" value="2" min="1" max="20" step="1" Type="text" change="rowHandler"></ejs-numerictextbox>
                </td>
            </tr>
        </table>
    </div>
}
@*custom code start*@

<style>
    .multiline_wrapper {
        margin: 40px 200px;
    }

    .multiline-property .left-side {
        font-size: 14px;
        padding: 8px;
        width: 50%;
    }
    .multiline-property.property-panel-table div.multiline {
        padding-left: 0px;
    }

</style>
@*custom code end*@

@section PreScripts {
    <script>
        function floatHandler(args) {
            var textareaObj = document.getElementById("default")
            switch (args.value) {
                case 'Auto':
                    textareaObj.ej2_instances[0].floatLabelType = 'Auto';
                    break;
                case 'Always':
                    textareaObj.ej2_instances[0].floatLabelType = 'Always';
                    break;
                case 'Never':
                    textareaObj.ej2_instances[0].floatLabelType = 'Never';
                    break;
            }
        }
        function enabledHandler(args) {
            var textareaObj = document.getElementById("default")
            textareaObj.ej2_instances[0].enabled = !args.checked;
        }
        function readonlyHandler(args) {
            var textareaObj = document.getElementById("default")
            textareaObj.ej2_instances[0].readonly = args.checked;
        }
        function rowHandler(args) {
            var textareaObj = document.getElementById("default")
            textareaObj.ej2_instances[0].addAttributes({ rows: args.value });
        }
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This example demonstrates the multiline functionalities of the textbox control. 
            Enter or fill the textbox with multiple rows of text. 
            Choose the corresponding option from the property panel to update the multiline textbox.
        </p>
    </div>
}

@section Description{
    <div id="description">
       <p>The Multiline Textbox is used to edit or display multiple lines of text that helps you to accept address, description, comments, feedbacks, and more in a form. 
                In this sample, rendered multiline textbox from <b>textarea</b> tag and the following options are available to customize it:</p>
        <ul>
                <li>Choose float label types either 'Never', 'Always', or 'Auto' to float the placeholder text.</li>
                <li>To make a read-only multiline textbox, check the "read-only" option.</li>
                <li>Disable the textbox by unchecking an "enabled" option.</li>
                <li>Change the number of rows count to restrict the length of the input.</li> 
            </ul>
        <p>Note: After resizing the multiline textbox manually, the selected rows option from the property panel is not updated to the multiline textbox.</p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Multiline TextBox in ASP.NET Core TextBoxes control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core TextBoxes Multiline TextBox Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Multiline TextBox in ASP.NET Core TextBoxes Control</h1>
                }