@using Syncfusion.EJ2
@*@model directive allows you to access the model values*@
@model EJ2CoreSampleBrowser.Controllers.TextBoxes.TextBoxValue
@section ControlsSection{
    <div class="control-section">
        <div id="wrapper" class="textbox-section">
            <div id="textbox-control">
                <form method="post">
                    <ejs-textbox id="textboxfor" name="firstname" placeholder="First Name" floatLabelType="Auto" ejs-for="@Model.firstname"></ejs-textbox>
                    <div id="errorMessage">
                        <span asp-validation-for="firstname"></span>
                    </div>
                    <div id="submitbutton">
                        <ejs-button id="submitButton" content="Post"></ejs-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@*custom code start*@
<style>

    #wrapper {
        max-width: 246px;
        margin: 30px auto;
        padding-top: 50px;
    }

    #submitbutton {
        margin-top: 20px;
        margin-left: 65px;
    }

    #control-content #wrapper .field-validation-error {
        color: red;
    }
</style>
@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the strongly typed extension support in the <code>Textbox</code>. The Textbox value is set to textbox from code behind and its set to textbox in a view page by invoking the strongly typed TextboxFor helper.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            Click the submit button to post the selected value in the textbox. When posting the null value, a validation error message will be shown below the textbox.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the TextboxFor in ASP.NET Core TextBoxes control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core TextBoxes TextboxFor Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of TextboxFor in ASP.NET Core TextBoxes Control</h1>
                }