@page
@model EJ2CoreSampleBrowser.Pages.Chart.BoxandWhiskerModel
@using Syncfusion.EJ2

@section ControlsSection{

    <div class="col-lg-12 control-section" align="center">
        <ejs-chart id="container" title="Employees Age Group in Various Departments"
                   load="load" pointRender="chartpointRender">
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category" interval="1">
                <e-majorgridlines width="0"></e-majorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis minimum="10" maximum="60" interval="10" title="Age">
                <e-majorgridlines width="1"></e-majorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
                <e-linestyle width="0"></e-linestyle>
            </e-chart-primaryyaxis>
            <e-chart-tooltipsettings enable="true" header="">
            </e-chart-tooltipsettings>
            <e-chart-legendsettings visible="false">
            </e-chart-legendsettings>
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-series-collection>
                <e-series dataSource="@Model.ChartPoints" xName="Department" yName="Age"
                          name="Department" type="@Syncfusion.EJ2.Charts.ChartSeriesType.BoxAndWhisker" boxPlotMode="Normal">
                    <e-series-marker visible="true" height="7" width="7"></e-series-marker>
                </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>

    <script src="~/scripts/chart/financial-data.js"></script>
    <script src="~/scripts/chart/theme-color.js"></script>
    <script type="text/javascript">
        function load(args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.primaryXAxis.labelIntersectAction = ej.base.Browser.isDevice ? 'None' : 'Rotate45';
            args.chart.primaryXAxis.labelRotation = ej.base.Browser.isDevice ? -45 : 0;
        }
        function chartpointRender(args) {
            pointRender(args);
        }
    </script>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This <a target="_blank" href="https://www.syncfusion.com/aspnet-core-ui-controls/charts/chart-types/box-and-whisker-chart" aria-label="Navigate to explore the syncfusion ASP.NET Core Box and Whisker Chart">ASP.NET Core Box and Whisker Chart</a> example visualizes the employee’s age group in various departments of a company with box and whisker chart.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render and configure a box and whisker chart or box plot. This chart is used to visualize a group of numerical data through their data quartiles. Box plots may also have lines extending vertically from the boxes (whiskers) indicating variability outside the upper and lower quartiles. <code>Marker</code> and <code>DataLabel</code> are used to represent individual data and its values.
        </p>
        <p>
            <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch enabled devices.
        </p>
        <p>
            More information about the box and whisker series can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/box-whisker" aria-label="Navigate to the documentation for Box and Whisker in ASP.NET Core Chart control">documentation section</a>.
        </p>
    </div>
}
@*custom code start*@
@section Scripts{
}

<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
    <meta name="description" content="This example demonstrates the Box and Whisker in ASP.NET Core Chart control. Explore here for more details." />
}
@*custom code end*@
@section Title{
    <title>ASP.NET Core Chart Box and Whisker Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Box and Whisker in ASP.NET Core Chart Control</h1>
}
