@page
@model EJ2CoreSampleBrowser.Pages.Chart.BubbleModel
@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div id="container" align="center">
            <ejs-chart id="BubbleContainer" title="World Countries Details"
                       load="load" pointRender="pointRender">
                <e-chart-tooltipsettings enable="true" enableMarker="false" header="<b>${point.tooltip}</b>" format="Literacy Rate : <b>${point.x}%</b> <br/>GDP Annual Growth Rate : <b>${point.y}</b><br/>Population : <b>${point.size} Billion</b>">
                </e-chart-tooltipsettings>
                <e-chart-legendsettings visible="false">
                </e-chart-legendsettings>
                <e-chart-primaryxaxis minimum=65 maximum=102 interval=5 crossesAt="5"></e-chart-primaryxaxis>
                <e-chart-primaryyaxis minimum=0 maximum=10 interval=2.5 crossesAt="85"></e-chart-primaryyaxis>
                <e-series-collection>
                    <e-series dataSource="@Model.ChartPoints" minRadius=3 maxRadius=8 xName="Literacy" yName="GDPGrowth"
                              size="BubbleSize" name="Pound" tooltipMappingName="Text" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Bubble">
                        <e-series-border width="2"></e-series-border>
                        <e-series-marker>
                            <e-series-datalabel name="TooltipMappingName" visible="true" position="@Syncfusion.EJ2.Charts.LabelPosition.Middle">
                                <e-font fontWeight="500" color="#ffffff"></e-font>
                            </e-series-datalabel>
                        </e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
    <script src="~/scripts/chart/theme-color.js"></script>
    <script type="text/javascript">
        function load(args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.series[0].dataSource[2].TooltipMappingName = ej.base.Browser.isDevice ? "ID" : "Indonesia";
            args.chart.series[0].dataSource[4].TooltipMappingName = ej.base.Browser.isDevice ? "BR" : "Brazil";
            args.chart.series[0].dataSource[5].TooltipMappingName = ej.base.Browser.isDevice ? "DE" : "Germany";
            args.chart.series[0].dataSource[6].TooltipMappingName = ej.base.Browser.isDevice ? "EG" : "Egypt";
            args.chart.series[0].dataSource[8].TooltipMappingName = ej.base.Browser.isDevice ? "JP" : "Japan";
            args.chart.series[0].dataSource[12].TooltipMappingName = ej.base.Browser.isDevice ? "HK" : "Hong Kong";
            args.chart.series[0].dataSource[15].TooltipMappingName = ej.base.Browser.isDevice ? "AUS" : "Australia";
            args.chart.series[0].dataSource[17].TooltipMappingName = ej.base.Browser.isDevice ? "TW" : "Taiwan";
        }
        function pointRender(args) {
            bubblePointRender(args);
        }
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the Bubble in ASP.NET Core Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This <a target="_blank" href="https://www.syncfusion.com/aspnet-core-ui-controls/charts/chart-types/bubble-chart" aria-label="Navigate to explore the syncfusion ASP.NET Core Bubble Chart">ASP.NET Core Bubble Chart</a> example visualizes the literacy rates and GDP growth rates of countries. A tooltip shows more information about the countries.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render and configure the bubble chart. The bubble chart is a type of chart that shows three dimensions of the data. Each point is drawn as a bubble, where the bubble's size depends on the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartSeries.html#Syncfusion_EJ2_Charts_ChartSeries_Size" aria-label="Navigate to the Size property reference for ASP.NET Core ChartSeries">Size</a> property. You can also use the
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartSeries.html#Syncfusion_EJ2_Charts_ChartSeries_Fill" aria-label="Navigate to the Fill property reference for ASP.NET Core ChartSeries">Fill</a> property to customize the data appearance.
        </p>
        <p>
            <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
        </p>
        <p>
            More information about the bubble series can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/bubble" aria-label="Navigate to the documentation for bubble in ASP.NET Core Chart control">documentation section</a>.
        </p>
    </div>
}
@*custom code start*@
@section Scripts{
}

<style>

    #control-container {
        padding: 0px !important;
    }
</style>
@*custom code end*@
@section Title{
    <title>ASP.NET Core Chart Bubble Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Bubble in ASP.NET Core Chart Control</h1>
}
