@page
@using Syncfusion.EJ2

@section ControlsSection{

    <div class="control-section" align="center">

        <ejs-chart id="chart" align="center" title="AAPL Historical" load="load" axisLabelRender="axisLabelRender">
            <e-chart-tooltipsettings enable="true" shared="true" header="" format="<b>Apple Inc.(AAPL)</b> <br> High : <b>${point.high}</b> <br> Low : <b>${point.low}</b> <br> Open : <b>${point.open}</b> <br> Close : <b>${point.close}</b> <br> Volume : <b>${point.volume}</b>">
            </e-chart-tooltipsettings>
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.DateTime">
                <e-crosshairtooltip enable="true"></e-crosshairtooltip>
                <e-majorgridlines width="0"></e-majorgridlines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis title="Volume" opposedPosition="true" labelFormat="{value}M">
                <e-majorgridlines width="1"></e-majorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
                <e-linestyle width="0"></e-linestyle>
            </e-chart-primaryyaxis>
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-chart-legendsettings visible="false"></e-chart-legendsettings>
            <e-chart-rows>
                <e-chart-row height="30%"></e-chart-row>
                <e-chart-row height="70%"></e-chart-row>
            </e-chart-rows>
            <e-chart-axes>
                <e-chart-axis name="secondary" opposedPosition=true rowIndex=1 rangePadding="@Syncfusion.EJ2.Charts.ChartRangePadding.None"
                              labelFormat="n0" title="Price" plotOffset=20 maximum="150">
                    <e-linestyle width="0"></e-linestyle>
                    <e-majorgridlines width="1"></e-majorgridlines>
                </e-chart-axis>
            </e-chart-axes>
            <e-series-collection>
                <e-series xName="x" yName="volume" enableTooltip="false" name="volume"
                          type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column"></e-series>
                <e-series xName="x" low="low" high="high" open="open" close="close" volume="volume" name="Apple Inc.(AAPL)" yAxisName="secondary" bearFillColor="#2ecd71" bullFillColor="#e74c3d"
                          type="@Syncfusion.EJ2.Charts.ChartSeriesType.Candle"></e-series>
            </e-series-collection>
        </ejs-chart>
    </div>
    <script src="~/scripts/chart/hilo-data.js"></script>
    <script type="text/javascript">
        var ChartPoints = hiloData;
        var zoomFactor, zoomPosition;
        var pointColors = [];
        var selectedTheme = location.hash.split('/')[1];
        selectedTheme = selectedTheme ? selectedTheme : 'Fluent2';
        var theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-highContrast/i, 'HighContrast').replace(/5.3/i, '5'));

        function load(args) {
            args.chart.theme = theme;
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.series[0].dataSource = ChartPoints;
            args.chart.series[1].dataSource = ChartPoints;
        }

        function axisLabelRender(args) {
            args.text = args.text.replace("0000000M", "M");
        };

    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the Candle Stick in ASP.NET Core Chart control. Explore here for more details." />
}
@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the AAPL stock price with a default candlestick series. The tooltip and crosshair show information about the stock price.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render and configure the candlestick series. This chart shows financial data and trends at equal intervals. It can often be combined with line and column charts to show the closing value of the stock and volume of the data.
        </p>
        <p>
            <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
        </p>
        <p>
            More information about the candle series can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/candle" aria-label="Navigate to the documentation for candle in ASP.NET Core Chart control">documentation section</a>.
        </p>
    </div>
}
@*custom code start*@
@section Scripts{
}

<style>

    #control-container {
        padding: 0px !important;
    }
</style>
@*custom code end*@
@section Title{
    <title>ASP.NET Core Chart Candle Stick Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Candle Stick in ASP.NET Core Chart Control</h1>
}
