@page
@model EJ2CoreSampleBrowser.Pages.Chart.DonutModel
@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section" align='center'>
        <ejs-accumulationchart id="container" load="load" enableSmartLabels="true" enableBorderOnMouseMove="false">
            <e-accumulationchart-legendsettings visible="false" position="@Syncfusion.EJ2.Charts.LegendPosition.Top">
            </e-accumulationchart-legendsettings>
            <e-accumulationchart-tooltipsettings enable="true" format="<b>${point.x}</b><br>Browser Share: <b>${point.y}%</b>" header="" enableHighlight="true"></e-accumulationchart-tooltipsettings>
            <e-accumulationchart-centerlabel text="Mobile<br>Browser<br>Statistics<br>2024" hoverTextFormat="${point.x}<br>Browser Share<br>${point.y}%">
            </e-accumulationchart-centerlabel>
            <e-accumulation-series-collection>
                <e-accumulation-series xName="Browser" yName="Users" innerRadius="65%" name="Project" borderRadius="3" explodeOffset="10%" explodeIndex=0 startAngle="62" dataSource="@Model.ChartPoints">
                    <e-accumulationseries-datalabel visible="true" name="DataLabelMappingName" position="@Syncfusion.EJ2.Charts.AccumulationLabelPosition.Outside">
                        <e-font fontWeight="600"></e-font>
                        <e-connectorstyle type="@Syncfusion.EJ2.Charts.ConnectorType.Curve" length="20px"></e-connectorstyle>
                    </e-accumulationseries-datalabel>
                    <e-accumulationseries-border width="1" color="#ffffff"></e-accumulationseries-border>
                </e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>
    </div>
    <script src="~/scripts/chart/theme-color.js"></script>
    <script>       
        function load(args) {
            loadAccumulationChartTheme(args);
            args.accumulation.series[0].radius = ej.base.Browser.isDevice ? "40%" : "70%";
            args.accumulation.series[0].startAngle = ej.base.Browser.isDevice ? 70 : 60;
            args.accumulation.centerLabel.textStyle.size = ej.base.Browser.isDevice ? "7px" : "15px";
            args.accumulation.series[0].dataLabel.connectorStyle.length = ej.base.Browser.isDevice ? '10px' : '20px';
            args.accumulation.series[0].dataLabel.font.size = ej.base.Browser.isDevice ? '8px' : '12px';
        }
        function pointRender(args) {
            donutPointRender(args);
        }
    </script>
}

@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the Donut in ASP.NET Core Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This ASP.NET Core donut chart example visualizes mobile browser statistics. Data labels and the center label provide information about the data in the series.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render and configure a donut chart. To create a donut in the pie series, we use the <code>innerRadius</code> property. The <code>centerLabel</code> property allows you to specify the default text that will be rendered in the center. You can also customize the text that will render when the mouse pointer is hovered over one of the donut slices using the <code>hoverTextFormat</code> property.
        </p>
        <p> <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap a point in touch enabled devices.</p>
        <p>
            More information about the doughnut series can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/accumulation-chart/pie-dough-nut#doughnut-chart" aria-label="Navigate to the documentation for Doughnut Chart in ASP.NET Core accumulation Chart control">documentation section</a>.
        </p>
    </div>
}
@section Title{
    <title>ASP.NET Core Chart Donut Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Donut in ASP.NET Core Chart Control</h1>
}

