@page
@model EJ2CoreSampleBrowser.Pages.Chart.DrilldownModel
@using Syncfusion.EJ2

@{
    
    var datalabel = new
    {
        visible = true,
        position = "Inside",
        name = "text",
        font = new
        {
            fontWeight = "600"
        }
    };
}
@section ControlsSection{
    <div class="control-section" align="center">
        <div id="link">
            <a id="category" onclick="mouseClick()" style="visibility:hidden; display:inline-block">
                Sales by Category
            </a>
            <p style="visibility:hidden; display:inline-block" id="symbol">&nbsp;&gt;&gt;&nbsp;</p>
            <p id="text" style="display:inline-block;"></p>
        </div>
        <ejs-accumulationchart id="container" textRender="textRender" pointClick="pointClick" title="Automobile Sales by Region - 2023" subTitle="Source: wikipedia.org" load="load" enableBorderOnMouseMove="false" enableSmartLabels="true">
            <e-accumulationchart-legendsettings visible="false">
            </e-accumulationchart-legendsettings>
            <e-accumulation-series-collection>
                <e-accumulation-series explode="false" type="Pie" xName="x" yName="y" startAngle=-30 endAngle=330 dataSource="@Model.ChartData" name="Automobile Sales" borderRadius=3 radius="70%">
                    <e-accumulationseries-datalabel visible="true" position=Outside>
                        <e-font fontWeight="600"></e-font>
                    </e-accumulationseries-datalabel>
                    <e-accumulationseries-border width=1 color="#ffffff"></e-accumulationseries-border>
                </e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>
    </div>
    <style>
        #category:hover {
            cursor: pointer;
        }

        path[id^=container_Series_0_Point_] {
            cursor: pointer !important;
        }
    </style>
    <script src="~/scripts/chart/theme-color.js"></script>
    <script>
        var asiaPacific = [{ x: 'China', y: 66.7 }, { x: 'Japan', y: 17.8 }, { x: 'India', y: 11.1 }, { x: 'South Korea', y: 3.3 }, { x: 'Others', y: 1.1 }];
        var europe = [{ x: 'Germany', y: 32 }, { x: 'UK', y: 20 }, { x: 'France', y: 16 }, { x: 'Italy', y: 12 }, { x: 'Spain', y: 8 }, { x: 'Others', y: 12 }];
        var northAmerica = [{ x: 'USA', y: 75 }, { x: 'Canada', y: 15 }, { x: 'Mexico', y: 10 }];
        var latinAmerica = [{ x: 'Brazil', y: 57.1 }, { x: 'Argentina', y: 21.4 }, { x: 'Chile', y: 14.3 }, { x: 'Others', y: 7.1 }];
        var middleEastAfrica = [{ x: 'South Africa', y: 33.3 }, { x: 'Egypt', y: 26.7 }, { x: 'UAE', y: 23.3 }, { x: 'Others', y: 16.7 }];
        var textRender = function (args) {
            args.text = args.point.x + ' ' + args.point.y + '%';
        };

        var mouseClick = function (args) {
            var pie = document.getElementById("drilledContainer").ej2_instances[0];
            pie.series = [
                {
                    dataSource: [{ x: 'Asia-Pacific', y: 45 }, { x: 'Europe', y: 25 }, { x: 'North America', y: 25 }, {x: 'Latin America', y: 7}, { x: 'Middle East & Africa', y: 3 }],
                    dataLabel: {
                        visible: true, position: 'Outside', enableRotation: false, connectorStyle: { type: 'Curve' }, font: { fontWeight: '600', color: 'black' }
                    },
                    radius: '70%', name: 'Automobile Sales', xName: 'x', yName: 'y', startAngle: -30, endAngle: 330, innerRadius: '0%',
                    explode: false
                }
            ];
            pie.series[0].animation.enable = false;
            pie.textRender = function (args) { args.text = args.point.x + ' ' + args.point.y + '%'; }
            pie.title = 'Automobile Sales by Category';
            pie.element.id = "container";
            pie.annotations = [{
                content: '<div id="back" onclick="pointClick()" style="visibility:hidden; cursor:pointer; padding: 3px; width: 30px; height: 30px;">' +
                    '<img src="./../scripts/chart/images/back.png"/>', region: 'Series', x: '50%', y: '50%'
            }];
            pie.refresh();
            document.getElementById('text').style.visibility = 'hidden';
            document.getElementById('symbol').style.visibility = 'hidden';
            document.getElementById('category').style.visibility = 'hidden';
            document.getElementById('back').style.visibility = 'hidden';
        }
        var textRender = function (args) { args.text = args.point.x + ' ' + args.point.y + '%'; };
        function load(args) {
            loadAccumulationChartTheme(args);
            args.accumulation.series[0].dataLabel.font.size = ej.base.Browser.isDevice ? '8px' : '12px';
            args.accumulation.series[0].dataLabel.connectorStyle.type = 'Curve';
        };
        var pointClick = function (args) {
            if (args.series.name !== 'Automobile Sales') {
                return null;
            }
            pie = document.getElementById("container").ej2_instances[0];
            switch (args.pointIndex) {
                case 0:
                    pie.series[0].name = '';
                    pie.series[0].dataSource = asiaPacific;
                    pie.title = 'Automobile Sales in the Asia-Pacific region';
                    document.getElementById('text').innerHTML = 'Asia-Pacific';
                    break;
                case 1:
                    pie.series[0].name = '';
                    pie.series[0].dataSource = europe;
                    pie.title = 'Automobile Sales in the Europe region';
                    document.getElementById('text').innerHTML = 'Europe';
                    break;
                case 2:
                    pie.series[0].name = '';
                    pie.series[0].dataSource = northAmerica;
                    pie.title = 'Automobile Sales in the North America region';
                    document.getElementById('text').innerHTML = 'North America';
                    break;
                case 3:
                    pie.series[0].name = '';
                    pie.series[0].dataSource = latinAmerica;
                    pie.title = 'Automobile Sales in the Latin America region';
                    document.getElementById('text').innerHTML = 'Latin America';
                    break;
                case 4:
                    pie.series[0].dataSource = middleEastAfrica;
                    pie.title = 'Automobile Sales in the Middle East & Africa region';
                    document.getElementById('text').innerHTML = 'Middle East & Africa';
                    break;
            }

            pie.element.id = "drilledContainer";
            pie.annotations = [{
                content: '<div id="back" onclick="mouseClick()" style="visibility:visible; cursor:pointer; padding: 3px; width: 30px; height: 30px;">' +
                    '<img src="./../scripts/chart/images/back.png" ' + (themeName === 'highcontrast' || themeName === 'fluent2-highcontrast' || themeName.indexOf('dark') > -1 ? 'style="filter: invert(100%);"' : '') + ' /></div>', region: 'Series', x: '50%', y: '50%'
            }];
            pie.series[0].innerRadius = '40%';
            pie.series[0].radius = '80%';
            pie.series[0].explode = false;
            pie.series[0].animation.enable = false;
            pie.series[0].dataLabel.connectorStyle.length = ej.base.Browser.isDevice ? '5%' : '10%';
            pie.series[0].dataLabel.position = ej.base.Browser.isDevice ? 'Inside' : 'Outside';
            pie.series[0].dataLabel.enableRotation = ej.base.Browser.isDevice ? true : false;
            pie.series[0].dataLabel.font.color = '';
            pie.legendSettings.visible = false;
            pie.visibleSeries[0].explodeIndex = null;
            pie.enableSmartLabels = true;
            document.getElementById('category').style.visibility = 'visible';
            document.getElementById('symbol').style.visibility = 'visible';
            document.getElementById('text').style.visibility = 'visible';
        };
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the Drilldown in ASP.NET Core Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates a drill down chart with a pie for automobiles sales by region. By clicking one category, you can navigate to other sub-categories where countries are differentiated.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to achieve the drilldown concept using a pie chart. Automobile sales are shown in different categories. By clicking each category, you can navigate to the next level, which shows the sales by categories made by each company. <code>Datalabel</code> are used in this sample to show information about the data points.
        </p>
    </div>
}
@section Title{
    <title>ASP.NET Core Chart Drilldown Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Drilldown in ASP.NET Core Chart Control</h1>
}

