@page
@model EJ2CoreSampleBrowser.Pages.Chart.PieLegendModel
@using Syncfusion.EJ2

@section ControlsSection{
  <div class="control-section" align='center'>
        <ejs-accumulationchart id="container" load="load" enableBorderOnMouseMove="false" selectionMode="@Syncfusion.EJ2.Charts.AccumulationSelectionMode.Point">
            <e-accumulationchart-center x="50%" y="50%"></e-accumulationchart-center>
            <e-accumulationchart-tooltipsettings enable="true" format="<b>${point.x}</b><br>Percentage: <b>${point.y}%</b>" header="" enableHighlight="true"></e-accumulationchart-tooltipsettings>
            <e-accumulationchart-legendsettings visible="true" toggleVisibility="false" textWrap=Wrap position="@Syncfusion.EJ2.Charts.LegendPosition.Bottom">
            </e-accumulationchart-legendsettings>
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="@Model.PieChartPoints" xName="X" yName="Y" borderRadius=3 innerRadius="50%" explode="false" explodeOffset="10%" explodeIndex="0">
                    <e-accumulationseries-datalabel visible="false">
                    </e-accumulationseries-datalabel>
                    <e-accumulationseries-border width=1 color="#ffffff"></e-accumulationseries-border>
                </e-accumulation-series>
            </e-accumulation-series-collection>
            <e-accumulationchart-accumulationannotations>
                <e-accumulationchart-accumulationannotation X="50%" Y="50%" region="@Syncfusion.EJ2.Charts.Regions.Series"></e-accumulationchart-accumulationannotation>
            </e-accumulationchart-accumulationannotations>
        </ejs-accumulationchart>
    </div>
    <script src="~/scripts/chart/theme-color.js"></script>
    <script>
        function load(args) {
            loadAccumulationChartTheme(args);
            args.accumulation.legendSettings.position = 'Bottom';
            args.accumulation.annotations[0].content = ej.base.Browser.isDevice ? " " : "<div style='font-Weight:600;font-size:14px'>Internet Users <br> by Country<br>2025</div>";
            args.accumulation.series[0].radius = ej.base.Browser.isDevice ? "80%" : "85%";
        }
    </script>
}

    @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Pie with Legend in ASP.NET Core Chart control. Explore here for more details."/>
                }
    @*custom code end*@
@section ActionDescription{

    <div id="action-description">
        <p>
            This sample shows statistics on internet usage by country using the donut chart with legends shown at the bottom of the chart.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            In this example, you can see how to render a donut chart with legends. You can use <code>radius</code> and <code>innerRadius</code> properties to render the donut.
        </p>
        <p>
            More information about the legend feature can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/accumulation-chart/legend" aria-label="Navigate to the documentation for legend in ASP.NET Core accumulation-chart">documentation section</a>.
        </p>
    </div>

}
@section Title{
                    <title>ASP.NET Core Chart Pie with Legend Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Pie with Legend in ASP.NET Core Chart Control</h1>
                }