@page
@model EJ2CoreSampleBrowser.Pages.Chart.PieRadiusModel
@using Syncfusion.EJ2
@section ControlsSection{

    <div class="control-section" align='center'>
        <ejs-accumulationchart id="container" title="Global Distribution of Population and Land Area by Country - 2025" subTitle="Source: wikipedia.org" enableBorderOnMouseMove="false" enableAnimation="true" enableSmartLabels="true" load="load" tooltipRender="TooltipRender">
            <e-accumulationchart-tooltipsettings enableHighlight="true" enable="true" header="" format="<b>${point.x}</b><br>Area in square km: <b>${point.y}</b><br>Population density per square km: <b>${point.tooltip}</b>"></e-accumulationchart-tooltipsettings>
            <e-accumulationchart-legendsettings visible="false">
            </e-accumulationchart-legendsettings>
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="@Model.ChartPoints" xName="Country" yName="Population" borderRadius=3 innerRadius="20%" radius="Radius" tooltipMappingName="Radius">
                    <e-accumulationseries-datalabel name="text" visible="true">
                        <e-font fontWeight="600"></e-font>
                        <e-connectorstyle length="20px" type="@Syncfusion.EJ2.Charts.ConnectorType.Curve"></e-connectorstyle>
                    </e-accumulationseries-datalabel>
                    <e-accumulationseries-border width=1 color="#ffffff"></e-accumulationseries-border>
                </e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>
    </div>
    <script src="~/scripts/chart/theme-color.js"></script>
    <script>
        function load(args) {
            loadAccumulationChartTheme(args);
            args.accumulation.series[0].dataLabel.position = ej.base.Browser.isDevice ? "Inside" : "Outside";
            args.accumulation.series[0].dataLabel.font.size = ej.base.Browser.isDevice ? "7px" : "12px";
            args.accumulation.series[0].dataLabel.name = ej.base.Browser.isDevice ? "text" : "Country";
            args.accumulation.series[0].dataLabel.connectorStyle.length = ej.base.Browser.isDevice ? '10px' : '20px';
            args.accumulation.series[0].dataLabel.textWrap = ej.base.Browser.isDevice ? 'Wrap' : 'Normal';

            args.accumulation.series[0].dataSource[0].Radius = ej.base.Browser.isDevice ? "110" : "100";
            args.accumulation.series[0].dataSource[1].Radius = ej.base.Browser.isDevice ? "120" : "118.7";
        }
        function TooltipRender(args) {
            args.text = args.text.replace(args.data.pointY.toString(), args.data.pointY.toLocaleString());
        }
    </script>
}

@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Pie with Various Radius in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{

    <div id="action-description">
        <p>
            This sample compares countries by population density and total area using various radius in a pie series.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            In this example, you can see how to render a donut chart with different radius. You can use the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.AccumulationSeries.html#Syncfusion_EJ2_Charts_AccumulationSeries_Radius" aria-label="Navigate to the Radius property reference for ASP.NET Core AccumulationSeries">Radius</a> mapping property to achieve this feature.
            <code>DataLabel</code>  are used to represent individual data and its values.
        </p>
        <p>
            <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
        </p>
        <p>
            More information about the pie series can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/accumulation-chart/pie-dough-nut#various-radius-pie-chart" aria-label="Navigate to the documentation for Various Radius Pie Chart in ASP.NET Core Accumulation Chart control">documentation section</a>.
        </p>
    </div>

}
@section Title{
                    <title>ASP.NET Core Chart Pie with Various Radius Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Pie with Various Radius in ASP.NET Core Chart Control</h1>
                }