@page
@model EJ2CoreSampleBrowser.Pages.Chart.PyramidModel
@using Syncfusion.EJ2
@section ControlsSection{
  <div class="control-section">
        <div id="container" align='center'>
            <ejs-accumulationchart id="container" title="Food Comparison Chart" load="load">
                <e-accumulationchart-legendsettings visible="false">
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable="true" format="${point.x}: <b>${point.y}cal</b>" header=""></e-accumulationchart-tooltipsettings>
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@Model.ChartPoints" xName="Foods" yName="Calories" type="@Syncfusion.EJ2.Charts.AccumulationType.Pyramid" width="45%" height="80%"
                                           neckWidth="15%" gapRatio="0.03" name="Food">
                        <e-accumulationseries-datalabel visible="true" position="@Syncfusion.EJ2.Charts.AccumulationLabelPosition.Outside" name="DataLabelMappingName">
                            <e-font fontWeight="600"></e-font>
                            <e-connectorstyle length="20px"></e-connectorstyle>
                        </e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
            </ejs-accumulationchart>
        </div>
    </div>
    <script>
        function load(args) {
            var indexedTheme = location.hash.split('/')[1];
            indexedTheme = indexedTheme ? indexedTheme : 'Fluent2';
            args.accumulation.theme = (indexedTheme.charAt(0).toUpperCase() + indexedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-highContrast/i, 'HighContrast').replace(/5.3/i, '5'));
            args.accumulation.series[0].dataLabel.textWrap = ej.base.Browser.isDevice ? "Wrap" : "Normal";
            args.accumulation.series[0].dataLabel.maxWidth = ej.base.Browser.isDevice ? 80 : NaN;
            args.accumulation.series[0].dataSource[4].DataLabelMappingName = ej.base.Browser.isDevice ? "Bread, Rice,<br> Pasta: 930 cal" : "Bread, Rice, Pasta: 930 cal";
        }
    </script>
}

@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Pyramid in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{

    <div id="action-description">
        <p>
            This <a target="_blank" href="https://www.syncfusion.com/aspnet-core-ui-controls/charts/chart-types/pyramid-chart" aria-label="Navigate to explore the syncfusion ASP.NET Core Pyramid Chart">ASP.NET Core Pyramid Chart</a> visualizes food comparison data by using pyramid series.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            In this example, you can see how to render and configure a pyramid chart. This chart is shaped like a triangle, with lines dividing it into sections of varying widths. Depending on the Y coordinate, the width indicates a level of hierarchy among other categories. The <code>DataLabel</code> represents individual data and its value.
        </p>
        <p>
            <code>Tooltip</code> is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
        </p>
        <p>
            More information about the pyramid series can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/accumulation-chart/pyramid" aria-label="Navigate to the documentation for ASP.NET Core Pyramid Chart">documentation section</a>.
        </p>
    </div>

}
@section Title{
                    <title>ASP.NET Core Chart Pyramid Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Pyramid in ASP.NET Core Chart Control</h1>
                }