@page
@model EJ2CoreSampleBrowser.Pages.Chart.CornerRadiusModel
@using Syncfusion.EJ2
@section ControlsSection {

    <div class="control-section" align='center'>
        <ejs-accumulationchart id="container" title="Global Operating System Usage Share - 2024" subTitle="Source: wikipedia.org" load="load" pointRender="pointRender" enableAnimation=true enableBorderOnMouseMove="false">
            <e-accumulationchart-tooltipsettings enableHighlight="true" enable="true" format="<b>${point.x}</b><br>Operating System Usage: <b>${point.y}%</b>" header=""></e-accumulationchart-tooltipsettings>
            <e-accumulationchart-legendsettings visible="false">
            </e-accumulationchart-legendsettings>
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="@Model.ChartPoints" xName="X" yName="Y" name="Project" innerRadius="50%" borderRadius="8" type="@Syncfusion.EJ2.Charts.AccumulationType.Pie" explode=false startAngle="120">
                    <e-accumulationseries-datalabel visible="true" name="Text" position="@Syncfusion.EJ2.Charts.AccumulationLabelPosition.Outside">
                        <e-font fontWeight="600" size="12px"></e-font>
                        <e-connectorstyle length="20px" type="Curve"></e-connectorstyle>
                    </e-accumulationseries-datalabel>
                    <e-accumulationseries-border width="0.5" color="#ffffff">
                    </e-accumulationseries-border>
                </e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>
    </div>
    <script src="~/scripts/chart/theme-color.js"></script>
    <script>
        var load = function (args) {
            loadAccumulationChartTheme(args);
            args.accumulation.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.accumulation.series[0].radius = ej.base.Browser.isDevice ? "25%" : "70%";
        };

        var pointRender = function (args) {
            roundedCornnerPointRender(args);
        };
    </script>
}

@*custom code start*@
@section Meta {
    <meta name="description" content="This example demonstrates the Corner Radius in ASP.NET Core Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription {

    <div id="action-description">
        <p>
            This sample demonstrates the global usage share of operating systems across all platforms in 2024 using a donut chart with rounded corners.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            In this example, you can see how to render and configure a donut chart with customized corners for each slice. By specifying a value for <code>BorderRadius</code>, you can create rounded corners for each slice, giving the chart a modern and polished look.
        </p>
        <p>
            <code>Tooltips</code> are enabled in this example. To see the tooltips in action, hover over a slice or tap on it on touch-enabled devices.
        </p>
        <p>
            More information about the donut series can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/accumulation-chart/pie-dough-nut#doughnut-chart" aria-label="Navigate to the documentation for Donut Chart in ASP.NET Core Accumulation Chart control">documentation section</a>.
        </p>
    </div>

}
@section Title {
    <title>ASP.NET Core Chart Rounded Corner Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Corner Radius in ASP.NET Core Chart Control</h1>
}
