@section ControlsSection{
    <div class="control-section">
        <!-- sample level element  -->
        <div class="col-lg-12 col-sm-12 col-md-12 center">
            Click the button to view the sample
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12 center">
            @Html.ActionLink("Open in New Tab", "ParagraphFormatView", "DocumentEditor", null, new { @class = "e-btn", @target = "_blank" })
        </div>
    </div>
}
@section ActionDescription{
    <div id="action-description">
        <p>This example demonstrates paragraph formatting options in document editor such as indentation, spacing, and text
            alignment.</p>
    </div>
}

@section Description{
    <div id="description">
        <div>
            <p>In this example, paragraph formatting features in the document editor can be found.</p>
            <ul>
                <li>Indentation: Left, right, first line, and hanging.</li>
                <li>Text alignment: Left, right, center, and justified.</li>
                <li>Paragraph spacing–before and after the paragraph.</li>
                <li>Line spacing.</li>
                <li>List format.</li>
            </ul>
            <p style="display: block"> More information about the document editor features can be found in this <a target="_blank"
                    href="https://ej2.syncfusion.com/aspnetcore/documentation/document-editor/getting-started-core.html">documentation section.</a>
            </p>
        </div>
    </div>
}

@section Scripts{
    <script></script>
}
@section Meta{
    <meta name="description" content="The Document Editor supports paragraph formatting such as indentation, paragraph spacing, line spacing, and text alignment."/>
}

<style>
    .center {
        text-align: center;
        font-size: 13px;
        font-weight: 400;
        margin-top: 20px;
    }
</style>
