@using Syncfusion.EJ2


@section ControlsSection{
    <div class="control-section">

        <ejs-treegrid id="TreeGrid" dataSource="ViewBag.dataSource" allowPaging="true" childMapping="Children" height="350" treeColumnIndex="1">
            <e-treegrid-selectionsettings persistSelection="true"></e-treegrid-selectionsettings>
            <e-treegrid-columns>
                <e-treegrid-column type="checkbox" width="50"></e-treegrid-column>
                <e-treegrid-column field="TaskId" headerText="Task ID" isPrimaryKey="true" textAlign="Right" width="95"></e-treegrid-column>
                <e-treegrid-column field="TaskName" headerText="Task Name" width="220"></e-treegrid-column>
                <e-treegrid-column field="StartDate" headerText=" Start Date" textAlign="Right" format="yMd" type="date" width="115"></e-treegrid-column>
                <e-treegrid-column field="Duration" headerText="Duration" textAlign="Right" width="100"></e-treegrid-column>
                <e-treegrid-column field="Progress" headerText="Progress" textAlign="Right" width="105"></e-treegrid-column>
                <e-treegrid-column field="Priority" headerText="Priority" width="100"></e-treegrid-column>
            </e-treegrid-columns>
        </ejs-treegrid>

    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Checkbox Selection in ASP.NET Core Tree Grid control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the selection functionality of the TreeGrid using checkbox selection, To select and unselect all rows use header checkbox.
            To select/unselect particular row, click the desired row.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            TreeGrid mutliple selection can be achieved with help of checkbox in each row. To render checkbox in each treegrid row, you need
            to define column type as <code>checkbox</code> using
            <code>columns->type</code> property.
        </p>
        <p>
            Selection can be persisted on all the operations using
            <code>selectionSettings-> persistSelection</code> property. For persisting selection on the TreeGrid, any one of the column should be defined as a
            primary key using <code> columns->isPrimaryKey</code> property.
        </p>

        <p>
            In this demo, Tree Grid mutliple selection has been enabled with selection persistance.
        </p>
        <p>
            More information on the TreeGrid instantiation can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/tree-grid/selection/check-box-selection">documentation section</a>.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Tree Grid Checkbox Selection Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Checkbox Selection in ASP.NET Core Tree Grid Control</h1>
                }