@using Syncfusion.EJ2


@section ControlsSection{
    <div class="control-section">

        <ejs-treegrid id="TreeGrid" dataSource="ViewBag.dataSource" showColumnMenu="true" allowPaging="true" height="350" childMapping="Children" treeColumnIndex="1" allowFiltering="true" allowSorting="true">
            <e-treegrid-pagesettings pageSize="10"></e-treegrid-pagesettings>
            <e-treegrid-filtersettings type="Menu"></e-treegrid-filtersettings>
            <e-treegrid-columns>
                <e-treegrid-column field="TaskId" headerText="Task ID" textAlign="Right" width="100"></e-treegrid-column>
                <e-treegrid-column field="TaskName" headerText="Task Name" width="190"></e-treegrid-column>
                <e-treegrid-column field="StartDate" headerText=" Start Date" textAlign="Right" format="yMd" type="date" width="120"></e-treegrid-column>
                <e-treegrid-column field="Duration" headerText="Duration" textAlign="Right" width="110"></e-treegrid-column>
                <e-treegrid-column field="Progress" headerText="Progress" textAlign="Right" width="110"></e-treegrid-column>
            </e-treegrid-columns>
        </ejs-treegrid>

    </div>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Column Menu in ASP.NET Core Tree Grid control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the default functionalities of the Column Menu. Click on multiple icon of each column to open the column menu.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            TreeGrid has an option to show column menu while click on multiple icon of each column. The column menu has an integrated option to interact the features like sorting, filtering, column chooser and and autoFit.
            This features can be enabled by defining the <code>
                showColumnMenu
            </code> as true. The default items are
            <br>
        </p>
        <ul>
            <li><code>SortAscending</code> - Sort the current column in ascending order.</li>
            <li><code>SortDescending</code> - Sort the current column in descending order.</li>
            <li><code>AutoFit</code> - Auto fit current column.</li>
            <li><code>AutoFitAll</code> - Auto fit all columns.</li>
            <li><code>ColumnChooser</code> - Choose the column visibility.</li>
            <li><code>Filter</code> - Filter option is shown to filter the current column.
        </ul>

        <p>
            In this demo, Column Menu feature has enabled by defining <code>
                showColumnMenu
            </code> as true with sorting, filtering, column chooser and autoFit options.
        </p>
        <br />
        <p>
            More information on the data binding can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/tree-grid/columns/column-menu">documentation section</a>.
        </p>
    </div>
}

@*custom code end*@
@section Title{
                    <title>ASP.NET Core Tree Grid Column Menu Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Column Menu in ASP.NET Core Tree Grid Control</h1>
                }