
@{
    ViewData["Title"] = "DetailTemplate";
}

<h2>DetailTemplate</h2>

@section ControlsSection{
    <div class="control-section">

        <ejs-treegrid id="TreeGrid" dataSource="ViewBag.datasource" height="335" childMapping="Children" treeColumnIndex="0" detailTemplate="#detailtemplate">
            <e-treegrid-columns>
                <e-treegrid-column field="Name" headerText="First Name" width="160"></e-treegrid-column>
                <e-treegrid-column field="DOB" headerText="DOB" width="85" type="date" format="yMd" textAlign='Right'></e-treegrid-column>
                <e-treegrid-column field="Designation" headerText="Designation" width="147"></e-treegrid-column>
                <e-treegrid-column field="EmpID" headerText="EmployeeID" width="125"></e-treegrid-column>
                <e-treegrid-column field="Country" headerText="Country" width="148"></e-treegrid-column>
            </e-treegrid-columns>
        </ejs-treegrid>
    </div>

    <script id="detailtemplate" type="text/x-template">
        <div style="position:relative;display:inline-block;float:left;font-weight:bold;width:10%;padding:5px 4px 2px 27px;">
            <img src="/images/TreeGrid/${FullName}.png" alt="${FullName}" />
        </div>
        <div style="padding-left: 10px;display: inline-block;width: 66%;text-wrap: normal;font-size:13px;font-family:'Segoe UI';">
            <div class="e-description" style="word-wrap: break-word;">
                <b>${Name}</b> was born on ${DOB.toLocaleDateString()}. Now lives at ${Address}, ${Country}. ${Name} holds a position of <b>${Designation}</b> in our WA department, (Seattle USA).
            </div>
            <div class="e-description" style="word-wrap: break-word;margin-top:5px;">
                <b style="margin-right:10px;">Contact:</b>${Contact}
            </div>
        </div>
    </script>
}

@*custom code start*@

@section Meta{
    <meta name="description" content="This example shows how to customize the rows of the Tree Grid component using the RowTemplate feature of Essential JS2 TreeGrid." />
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the TreeGrid component with the detail template feature.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The detail row template provides an additional information about a data row. The
            <code>
                <a target="_blank" class="code">
                    detailTemplate
                </a>
            </code>
            property accepts either string or HTML element`s ID value, which will be used as the template for the detail
            row.
        </p>
        <p>In this demo, we have presented Employee Information with image in the detail row.</p>
        <p>The template expression should be provided inside <code>${...}</code> interpolation syntax.</p>
    </div>
}

@*custom code end*@

