@using Syncfusion.EJ2


@section ControlsSection{
    <div class="control-section">

        <ejs-treegrid id="TreeGrid" dataSource="ViewBag.dataSource" height="380" childMapping="Children" treeColumnIndex="1">
            <e-treegrid-columns>
                <e-treegrid-column field="TaskId" headerText="Task ID" textAlign="Right" width="95"></e-treegrid-column>
                <e-treegrid-column field="TaskName" headerText="Task Name" width="220"></e-treegrid-column>
                <e-treegrid-column field="StartDate" headerText=" Start Date" textAlign="Right" format="yMd" type="date" width="115"></e-treegrid-column>
                <e-treegrid-column field="EndDate" headerText=" End Date" textAlign="Right" format="yMd" type="date" width="115"></e-treegrid-column>
                <e-treegrid-column field="Duration" headerText="Duration" textAlign="Right" width="100"></e-treegrid-column>
                <e-treegrid-column field="Progress" headerText="Progress" textAlign="Right" width="105"></e-treegrid-column>
                <e-treegrid-column field="Priority" headerText="Priority" textAlign="Right" width="100"></e-treegrid-column>
            </e-treegrid-columns>
        </ejs-treegrid>

    </div>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Local Data in ASP.NET Core Tree Grid control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This demo shows the way of binding an array of JavaScript objects (local JSON datasource) to TreeGrid
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            TreeGrid can be bound either to local or remote data services.
            The <code>
                dataSource
            </code> property can be assigned either with the array of JavaScript objects or using <code>DataManager</code>.
        </p>
        <p>In this demo, the array of JavaScript objects is assigned as the data source to the TreeGrid.</p>
        <br />

        <p>
            More information on the data binding can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/tree-grid/data-binding/local-data">documentation section</a>.
        </p>
    </div>
}

@*custom code end*@
@section Title{
                    <title>ASP.NET Core Tree Grid Local Data Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Local Data in ASP.NET Core Tree Grid Control</h1>
                }