@using Syncfusion.EJ2


@section ControlsSection{
    <div class="col-lg-9 control-section">
        <div class="content-wrapper">
            <div class="control-section">
                <ejs-treegrid id="TreeGrid" dataSource="ViewBag.dataSource" allowPaging="true" actionComplete="onComplete" childMapping="Children" height="350" treeColumnIndex="1">
                    <e-treegrid-pagesettings pageSizes="true" pageSize="10" pageCount="2"></e-treegrid-pagesettings>
                    <e-treegrid-columns>
                        <e-treegrid-column field="TaskId" headerText="Task ID" textAlign="Right" width="80"></e-treegrid-column>
                        <e-treegrid-column field="TaskName" headerText="Task Name" width="200"></e-treegrid-column>
                        <e-treegrid-column field="StartDate" headerText=" Start Date" textAlign="Right" format="yMd" type="date" width="100"></e-treegrid-column>
                        <e-treegrid-column field="Duration" headerText="Duration" textAlign="Right" width="90"></e-treegrid-column>
                        <e-treegrid-column field="Progress" headerText="Progress" textAlign="Right" width="90"></e-treegrid-column>
                    </e-treegrid-columns>
                </ejs-treegrid>
            </div>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table id="property" title="Properties" style="width: 100%">
            <tr>
                <td style="width: 50%">
                    <div>Allow Paging</div>
                </td>
                <td style="width: 50%;padding-right: 10px;">
                    <div>
                        <ejs-checkbox id="paging" checked="true" change="paging"></ejs-checkbox>
                    </div>
                </td>
            </tr>
            <tr class='con-prop1'>
                <td style="width: 50%">
                    <div style="padding-top: 7px;">
                        Page Size Mode
                    </div>
                </td>
                <td style="width: 50%;  padding:10px 10px 10px 0px;">
                    <div id='dropdown'>
                        <ejs-dropdownlist id="sizemode" dataSource="@ViewBag.dropdata" change="sizeModeChange" index="0" popupHeight="220px">
                            <e-dropdownlist-fields text="mode" value="id"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                </td>
            </tr>
            <tr class='con-prop2'>
                <td style="width: 50%">
                    <div style="padding-top: 7px;">
                        Page Size
                    </div>
                </td>
                <td style="width: 50%;  padding:10px 10px 10px 0px">
                    <div id='numericbox'>
                        <ejs-numerictextbox id="pagesize" width="100" change="pageSizechange" min="1" max="36" value="10" format="##"></ejs-numerictextbox>
                    </div>
                </td>
            </tr>
            <tr class='con-prop2'>
                <td style="width: 50%">
                    <div style="padding-top: 7px">
                        Page Count
                    </div>
                </td>
                <td style="width: 50%; padding:10px 10px 10px 0px">
                    <div>
                        <ejs-numerictextbox id="pagecount" width="100" min="1" max="4" value="2" format="##" change="pageCountChange"></ejs-numerictextbox>
                    </div>
                </td>
            </tr>
            <tr class='con-prop2'>
                <td style="width: 50%">
                    <div style="padding-top: 7px">
                        Current Page
                    </div>
                </td>
                <td style="width: 50%; padding:10px 10px 10px 0px">
                    <div>
                        <ejs-numerictextbox id="currentpage" width="100" min="1" max="17" value="1" change="currentPageChange" format="##"></ejs-numerictextbox>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script>
        function onComplete(args) {
            var currentPage = document.getElementById("currentpage").ej2_instances[0];
            if (args.requestType === 'paging')
                currentPage.value = parseInt(args.currentPage, 10);
        }
        function pageSizechange(args) {
            var treegrid = document.getElementById("TreeGrid").ej2_instances[0];
            var currentPage = document.getElementById("currentpage").ej2_instances[0];
            this.value = this.value > treegrid.pageSettings.totalRecordsCount ?
                treegrid.pageSettings.totalRecordsCount : this.value;
            treegrid.pageSettings.pageSize = this.value;
            currentPage.max = Math.ceil(treegrid.pageSettings.totalRecordsCount / treegrid.pageSettings.pageSize);
        }

        function sizeModeChange(e) {
            var type = e.value;
            var treegrid = document.getElementById("TreeGrid").ej2_instances[0];
            var pageSize = document.getElementById("pagesize").ej2_instances[0];
            if (type === 'Root') {
                treegrid.pageSettings = { pageSizeMode: 'Root', pageSize: 2 };
            } else {
                treegrid.pageSettings = { pageSizeMode: 'All', pageSize: pageSize.value };
            }
            toggleInputs(type === 'All');
        }

        function pageCountChange(e) {
            var treegrid = document.getElementById("TreeGrid").ej2_instances[0];
            this.value = this.value > 8 ? 8 : this.value;
            treegrid.pageSettings.pageCount = this.value;
        }

        function currentPageChange() {
            var treegrid = document.getElementById("TreeGrid").ej2_instances[0];
            this.value = this.value > this.max ? this.max : this.value;
            var pageNumber = this.value;
            treegrid.goToPage(pageNumber);
        }

        function paging(args) {
            var treegrid = document.getElementById("TreeGrid").ej2_instances[0];
            treegrid.allowPaging = args.checked;
            toggleInputs(treegrid.allowPaging, true);
        };

        function toggleInputs(state, isPager) {
            if (!ej.base.isNullOrUndefined(isPager)) {
                (document.getElementsByClassName('con-prop1')[0]).style.display = state ? 'table-row' : 'none';
            }
            var flag = sizemode.value === 'All';
            var elem = document.getElementsByClassName('con-prop2');
            for (var i = 0; i < elem.length; i++) {
                (elem[i]).style.display = state && flag ? 'table-row' : 'none';
            }
        }
    </script>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Paging API in ASP.NET Core Tree Grid control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the usage of paging API in TreeGrid. In this sample, use the properties panel to change the page size mode, page size, page count and current page of the TreeGrid.</p>
    </div>
}

@section Description{
    <div id="description">

        <p>
            Paging allows you to display the contents of the TreeGrid in page segments. The number of items on a page is determined by
            the <code>pageSettings->pageSize</code> property. If no value is specified for the <code>pageSettings->pageSize</code> property, the TreeGrid will display 12 items on a page. By default, paging is disabled. To enable paging,
            set <code>allowPaging</code> property to true.
        </p>
        <p>In this demo,</p>
        <ul>
            <li>Click the <strong>Allow Paging</strong> check box to enable/disable paging feature.</li>
            <li>Change the value of <strong>Page Size Mode</strong> Dropdown to change <code>pageSettings->pageSizeMode.</code></li>
            <li>Change the value of <strong>Page Size</strong> textbox to change <code>pageSettings->pageSize.</code></li>
            <li>Change the value of <strong>Page Count</strong> textbox to change <code>pageSettings->pageCount.</code></li>
            <li>
                Change the value of <strong>Current Page</strong> textbox to change
                <code> pageSettings->currentPage.</code>
            </li>
        </ul>

        <p>
            More information on the paging configuration can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/tree-grid/paging">documentation section</a>.
        </p>
    </div>
}

@*custom code end*@
@section Title{
                    <title>ASP.NET Core Tree Grid Paging API Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Paging API in ASP.NET Core Tree Grid Control</h1>
                }