@using Syncfusion.EJ2


@section ControlsSection{
    <div class="control-section">

        <ejs-treegrid id="TreeGrid" rowHeight="83" dataSource="ViewBag.datasource" height="380" childMapping="Children" treeColumnIndex="0" rowTemplate="#rowtemplate">
            <e-treegrid-columns>
                <e-treegrid-column field="EmpID" headerText="Employee ID" width="180"></e-treegrid-column>
                <e-treegrid-column field="Name" headerText="Employee Name"></e-treegrid-column>
                <e-treegrid-column field="Address" headerText="Employee Details" width="350"></e-treegrid-column>
                <e-treegrid-column field="DOB" headerText="DOB"></e-treegrid-column>
            </e-treegrid-columns>
        </ejs-treegrid>
    </div>

    @*custom code start*@

    <style type="text/css">
        .border {
            border-color: #e0e0e0;
            border: 1px solid #e0e0e0;
            border-width: 1px 0px 0px 0px;
        }

        img {
            width: 60px;
            height: 60px;
            vertical-align: baseline;
            border-radius: 50px;
            margin-left: 20px;
            background-repeat: no-repeat;
        }
    </style>

    @*custom code end*@

    <script id="rowtemplate" type="text/x-template">
        <tr>
            <td class="border" style='padding-left:18px;'>
                <div>${EmpID}</div>
            </td>
            <td class="border" style='padding: 10px 0px 0px 20px;'>
                <div style="font-size:14px;">
                    ${Name}
                    <p style="font-size:9px;">${Designation}</p>
                </div>
            </td>
            <td class="border">
                <div>
                    <div style="position:relative;display:inline-block;">
                        <img src="@Url.Content("../images/TreeGrid/${FullName}.png")" alt="${FullName}" />
                    </div>
                    <div style="display:inline-block;">
                        <div style="padding:5px;">${Address}</div>
                        <div style="padding:5px;">${Country}</div>
                        <div style="padding:5px;font-size:12px;">${Contact}</div>
                    </div>
                </div>
            </td>
            <td class="border" style='padding-left: 20px;'>
                <div>${DOB.toLocaleDateString()}</div>
            </td>
        </tr>
    </script>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Row Template in ASP.NET Core Tree Grid control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the Tree Grid component with the row template feature. In this sample, we have rendered each Tree Grid
            row using the template.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The Tree Grid provides a way to use a custom layout for its rows using template feature. The
            <code>
                <a target="_blank" class="code"
                   href="https://ej2.syncfusion.com/aspnetcore/documentation/tree-grid/row/">
                    rowTemplate
                </a>
            </code> property accepts either string or HTML element`s ID value, which will be used
            as the template for the row.
        </p>
        <p>
            In this demo, we have presented Employee Information with Employee Photo and employee details like Name, Address etc.
        </p>
        <p>The template expression should be provided inside <code>${...}</code> interpolation syntax.</p>
    </div>
}

@*custom code end*@
@section Title{
                    <title>ASP.NET Core Tree Grid Row Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Row Template in ASP.NET Core Tree Grid Control</h1>
                }