@{
    ViewData["Title"] = "VirtualScrolling";
}

<h2>VirtualScrolling</h2>

@section ControlsSection{
    
    @{

        var data = ViewBag.datasource;
    }
    <div class="control-section">
    
        <div>
            <ejs-treegrid id="TreeGrid" height="600" dataSource="ViewBag.datasource" enableVirtualization="true"  childMapping="Children" treeColumnIndex="1">
                <e-treegrid-columns>
                    <e-treegrid-column field="TaskID" headerText="Player Jersey" textAlign="Right" width="120"></e-treegrid-column>
                    <e-treegrid-column field="FIELD1" headerText="Player Name" width="120"></e-treegrid-column>
                    <e-treegrid-column field="FIELD2" headerText="Year" textAlign="Right" width="100"></e-treegrid-column>
                    <e-treegrid-column field="FIELD3" headerText="Stint" textAlign="Right" width="120"></e-treegrid-column>
                    <e-treegrid-column field="FIELD4" headerText="TMID" textAlign="Right" width="120"></e-treegrid-column>
                </e-treegrid-columns>
            </ejs-treegrid>
        </div>
    </div>
    
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the Tree Grid component with the virtual scrolling feature. Scroll the Tree Grid content vertically to load rows.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Virtual Scrolling in ASP.NET Core Tree Grid control. Explore here for more details."/>
                }
@section Description{
    <div id="description">
        <p>
            The Tree Grid UI virtualization allows you to render only rows visible within the view-port without buffering the entire datasource.
            To enable the virtualization, set <code>
                <a target="_blank" class="code"
                    enableVirtualization
                </a>
            </code> property as true.
        </p>
        <p>
            Note: The <code>
                <a target="_blank" class="code"
                    height
                </a>
            </code> property must be defined when enabling <code>
                <a target="_blank" class="code"
                    enableVirtualization
                </a>
            </code>.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Tree Grid Virtual Scrolling Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Virtual Scrolling in ASP.NET Core Tree Grid Control</h1>
                }