@{
    ViewData["Title"] = "Ticks";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<object> placement = new List<object>();
    placement.Add(new { value = "Before", text = "Before" });
    placement.Add(new { value = "After", text = "After" });
    placement.Add(new { value = "Both", text = "Both" });
    placement.Add(new { value = "None", text = "None" });
    var rangeValue = new int[] { 30, 70 };
}


@using Syncfusion.EJ2
@section ControlsSection{
        <div class="col-lg-8 control-section">
            <div class="content-wrapper">
                <div class="sliderwrap">
                    <label class="userselect">Default Slider</label>
                    <ejs-slider id="default" min="0.1" max="0.9" value="0.3" step="0.05">
                        <e-slider-ticksdata placement=Before showSmallTicks="true" largeStep="0.2" smallStep="0.05"></e-slider-ticksdata>
                    </ejs-slider>
                </div>
                <div class="sliderwrap">
                    <label class="userselect">Range Slider</label>
                    <ejs-slider id="range" min="10" max="90" step="5" type="Range" value=rangeValue>
                        <e-slider-ticksdata placement=Before showSmallTicks="true" largeStep="20" smallStep="5"></e-slider-ticksdata>
                    </ejs-slider>
                </div>
            </div>
        </div>
        <div class="col-lg-4 property-section">
            <table id="property" title="Properties">
                <tbody>
                    <tr>
                        <td style="width: 50%">
                            <div class="userselect">Placement</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px">
                            <div>
                                <ejs-dropdownlist id="drop" placeholder="Ticks position" dataSource="@placement" index="0" change="onPlacementChange" popupHeight="200">
                                </ejs-dropdownlist>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div class="userselect">Disabled</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px">
                            <div style="padding-left: 0;padding-top: 0">
                                <ejs-checkbox id="disabled" checked="false" change="enableDisableTooltip" ></ejs-checkbox>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
}
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Ticks in ASP.NET Core Range Slider control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the rendering of Slider component with ticks placement. Drag the thumb over the bar for selecting
            the values between min and max.
        </p>

    </div>
}

@section Description{
    <div id="description">
        <p>
            The ticks are the visual representation of the Slider values. The ticks are differentiated as small and large ticks based
            on its size. The ticks position can be defined by the
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Inputs.SliderTicksData.html#Syncfusion_EJ2_Inputs_SliderTicksData_SmallStep" aria-label="Navigate to the SmallStep property reference for ASP.NET Core SliderTicksData">smallStep</a> and
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Inputs.SliderTicksData.html#Syncfusion_EJ2_Inputs_SliderTicksData_LargeStep" aria-label="Navigate to the LargeStep property reference for ASP.NET Core SliderTicksData">largeStep </a>properties.
        </p>
        <p> In this demo, ticks position with default and range Slider is demonstrated.</p>
        <ul>
            <li>Default Slider – In this sample, the small and large ticks are rendered with the frequency of 0.05 and 0.20.</li>
            <li>Range Slider – In this sample, the small and large ticks are rendered with the frequency of 5 and 20.</li>
        </ul>
        <p> The ticks placement of Slider and disable Slider component from the property pane can also be changed.</p>
        <p>The following properties are used to restrict the value range for the slider:</p>
        <ul>
            <li>
                <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Inputs.Slider.html#Syncfusion_EJ2_Inputs_Slider_Step" aria-label="Navigate to the step property reference for ASP.NET Core RangeSlider control">step </a> - defines incremental or decremental step value for slider.
            </li>
            <li>
                <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Inputs.Slider.html#Syncfusion_EJ2_Inputs_Slider_Min" aria-label="Navigate to the min property reference for ASP.NET Core RangeSlider control">min </a> – specifies minimum value of the slider.
            </li>
            <li>
                <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Inputs.Slider.html#Syncfusion_EJ2_Inputs_Slider_Max" aria-label="Navigate to the max property reference for ASP.NET Core RangeSlider control">max </a> – to specifies maximum value of the slider.
            </li>
        </ul>
        <p>
            For more information, refer to the
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Inputs.Slider.html#Syncfusion_EJ2_Inputs_Slider_Ticks" aria-label="Navigate to the ticks property reference for ASP.NET Core RangeSlider control">ticks</a> section from the documentation.
        </p>

    </div>
}


<style>
    .content-wrapper {
        width: 52%;
        margin: 0 auto;
        min-width: 185px;
    }

    .sliderwrap {
        margin-top: 45px;
    }

    .e-bigger .content-wrapper {
        width: 80%;
    }

    .sliderwrap label {
        padding-bottom: 50px;
        font-size: 13px;
        font-weight: 500;
        margin-top: 15px;
    }

    .userselect {
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
    }
</style>
<script type="text/javascript">
    function onPlacementChange(args) {
        defaultTicks = document.getElementById("default")
        defaultTicks.ej2_instances[0].ticks.placement = args.value;
        rangeTicks = document.getElementById("range")
        rangeTicks.ej2_instances[0].ticks.placement = args.value;
    }

    function enableDisableTooltip(args) {
        defaulttooltip = document.getElementById("default")
        defaulttooltip.ej2_instances[0].enabled = !args.checked;
        rangetooltip = document.getElementById("range")
        rangetooltip.ej2_instances[0].enabled = !args.checked;
    }
</script>
@section Title{
                    <title>ASP.NET Core Range Slider Ticks Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Ticks in ASP.NET Core Range Slider Control</h1>
                }