@page

@using Syncfusion.EJ2

@section ControlsSection {
    <div class="control-section">
        <div id="chip-draganddrop-wrapper">
            <div class="chips-headers">Customize your order with add-ons</div>
            <div class="sample-padding">
                <ejs-chiplist id="choice-container" allowDragAndDrop>
                    <e-chips>
                        <e-chip text="Extra cheese" cssClass="e-info"></e-chip>
                        <e-chip text="Spicy Level: Medium" cssClass="e-danger"></e-chip>
                        <e-chip text="Spicy Level: Low" cssClass="e-success"></e-chip>
                        <e-chip text="Fast Delivery" cssClass="e-warning"></e-chip>
                        <e-chip text="Gift Wrapping" cssClass="e-primary"></e-chip>
                        <e-chip text="Eco-Friendly Packaging" cssClass="e-success"></e-chip>
                    </e-chips>
                </ejs-chiplist>
                <ejs-chiplist id="selection-container" allowDragAndDrop></ejs-chiplist>
            </div>
        </div>
    </div>
}
@section Meta {
    <meta name="description" content="This example demonstrates the drag and drop functionalities in ASP.NET Core Chips control. Explore here for more details." />
}

@section ActionDescription {
    <div id="action-description">
        <p>
            This ASP.NET Core Chips sample demonstrates the drag and drop functionality of Chips. To drag and drop a chip element, select and drag the desired chip and drop it at the target index within the required container.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            The <code>Chips</code> control allows users to drag any chip and drop it on any index in a container using <code>allowDragAndDrop</code> property. Additionally, it supports dropping a chip to an external chips container.
        </p>
    </div>
}
<script>
</script>
<style>
    #chip-draganddrop-wrapper .sample-padding {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chips-headers {
        font-size: 12px;
        text-align: center;
        padding-top: 10px;
    }

    #choice-container {
        width: 400px;
        min-height: 100px;
        min-width: 150px;
        border: 2px solid #2C3E50;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-right: 30px;
    }

    #selection-container {
        width: 400px;
        min-height: 100px;
        min-width: 150px;
        border: 2px solid #8E44AD;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
@section Title {
    <title>ASP.NET Core Chips drag and drop functionalities Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of drag and drop functionalities in ASP.NET Core Chips Control</h1>
}