@page

@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div class="control-wrapper">
            <ejs-richtexteditor id="ajax" created="onCreated"></ejs-richtexteditor>
        </div>
    </div>
    <script type="text/javascript">
        var rteObj;
        function onCreated() {
            rteObj = this;
            var fetch = new ej.base.Fetch('../Pages/RichTextEditor/Ajax_content.html', 'GET');
            fetch.send().then();
            fetch.onSuccess = function (data) {
                rteObj.setProperties({ value: data });
            };
        }
    </script>
}

@*custom code start*@

@section Meta{
    <meta name="description" content="This example demonstrates the Fetch Content in ASP.NET Core Rich Text Editor control. Explore here for more details."/>
}

@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates how to load content to the editor from an external source using <code>Fetch library</code>. </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The Rich Text Editor allows you to load content from an external source. The sample content is loaded from “Ajax_content.html” file using Fetch library, and when the event is <code>successful</code> the content is loaded into the editor using <code>value</code> property
        </p>
    </div>
}
@section Title{
    <title>ASP.NET Core Rich Text Editor Ajax Content Example - Syncfusion Demos </title> 
}
@section Header{
    <h1 class='sb-sample-text'>Example of Ajax Content in ASP.NET Core Rich Text Editor Control</h1>
}