@page

@using EJ2CoreSampleBrowser.Models
@using Syncfusion.EJ2

@{
    var enterData = new FormatOption().EnterOption();
    var shiftEnterData = new FormatOption().ShiftEnterOption();
}

@section ControlsSection{
    <div class="control-section">
        <div class="control-wrapper">
            <div class="control-section">
                <table class="api">
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <ejs-dropdownlist id="enterOption" dataSource="@enterData" index="0" popupHeight="200px" change="enterChange" placeholder="When pressing the enter key" floatLabelType="Always">
                                        <e-dropdownlist-fields text="Text" value="Format"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <ejs-dropdownlist id="shiftEnterOption" dataSource="@shiftEnterData" index="0" popupHeight="200px" change="shiftEnterChange" placeholder="When pressing the shift + enter key" floatLabelType="Always">
                                        <e-dropdownlist-fields text="Text" value="Format"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <ejs-richtexteditor id="default" created="created" saveInterval="1" height="220" change="onChange">
                    <e-content-template>
                        <p>In Rich text Editor, the enter key and shift + enter key actions can be customized using the enterKey and shiftEnterKey APIs. And the possible values are as follows:</p><ul><li>P - When 'P' is configured, pressing enter or shift + enter will create a 'p' tag</li><li>DIV - When 'DIV' is configured, pressing enter or shift + enter will create a 'div' tag</li><li>BR - When 'BR' is configured, pressing enter or shift + enter will create a 'br' tag</li></ul>
                    </e-content-template>
                </ejs-richtexteditor>
                <br>
                <label>Code View </label>
                <div id="codeView" class="codeView"></div>
            </div>
        </div>
    </div>
    <link href="~/css/richtexteditor/codemirror.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/css/css.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/htmlmixed/htmlmixed.js" type="text/javascript"></script>
    <script type="text/javascript">
        var rteObj;
        function created() {
            rteObj = this;
            onChange();
        }
        function enterChange(args) {
            if (args.value === 'P') {
                rteObj.enterKey = 'P';
                rteObj.value = `<p>In Rich text Editor, the enter key and shift + enter key actions can be customized using the enterKey and shiftEnterKey APIs. And the possible values are as follows:</p><ul><li>P - When 'P' is configured, pressing enter or shift + enter will create a 'p' tag</li><li>DIV - When 'DIV' is configured, pressing enter or shift + enter will create a 'div' tag</li><li>BR - When 'BR' is configured, pressing enter or shift + enter will create a 'br' tag</li></ul>`;
            } else if (args.value === 'DIV') {
                rteObj.enterKey = 'DIV';
                rteObj.value = `<div>In Rich text Editor, the enter key and shift + enter key actions can be customized using the enterKey and shiftEnterKey APIs. And the possible values are as follows:</div><ul><li>P - When 'P' is configured, pressing enter or shift + enter will create a 'p' tag</li><li>DIV - When 'DIV' is configured, pressing enter or shift + enter will create a 'div' tag</li><li>BR - When 'BR' is configured, pressing enter or shift + enter will create a 'br' tag</li></ul>`;
            } else if (args.value === 'BR') {
                rteObj.enterKey = 'BR';
                rteObj.value = `In Rich text Editor, the enter key and shift + enter key actions can be customized using the enterKey and shiftEnterKey APIs. And the possible values are as follows:<ul><li>P - When 'P' is configured, pressing enter or shift + enter will create a 'p' tag</li><li>DIV - When 'DIV' is configured, pressing enter or shift + enter will create a 'div' tag</li><li>BR - When 'BR' is configured, pressing enter or shift + enter will create a 'br' tag</li></ul>`;
            }
            onChange();
        }
        function shiftEnterChange(args) {
            if (args.value === 'BR') {
                rteObj.shiftEnterKey = 'BR';
            } else if (args.value === 'DIV') {
                rteObj.shiftEnterKey = 'DIV';
            } else if (args.value === 'P') {
                rteObj.shiftEnterKey = 'P';
            }
        }
        function onChange() {
            var id = rteObj.getID() + 'mirror-view';
            var codeView = document.getElementById('codeView');
            var mirrorView;
            if (document.getElementById(id)) {
                mirrorView = document.getElementById(id);
                mirrorView.innerHTML = '';
            } else {
                mirrorView = ej.base.createElement('div', { className: 'e-content codeViewContent' });
                mirrorView.id = id;
                codeView.appendChild(mirrorView);
            }
            mirrorView.style.display = 'block';
            if (rteObj.value !== null) {
                CodeMirror(mirrorView, {
                    value: rteObj.value,
                    mode: 'text/html',
                    lineWrapping: true,
                    readOnly: true
                });
            }
        }
    </script>
    <style>
        .api {
            width: 75%;
        }
        .api td {
            padding-right: 100px;
            margin-top: 3px;
        }
        @@media only screen and (max-width: 600px) {
            .api {
                width: 100%;
            }
            .api td {
                display: block;
            }
        }
        @@media only screen and (min-width: 600px) and (max-width: 1000px) {
            .api {
                width: 100%;
            }
        }

        .control-section {
            padding: 20px;
        }

        .codeView {
            border: 1px solid rgba(0,0,0,0.12);
            height: 200px;
            width: 100%;
        }
        .bootstrap-dark .codeView{
            border:1px solid rgb(80,80,80);
        }
        .highcontrast .codeView {
            border:1px solid rgb(255,255,255);
        }
        .CodeMirror {
            height: 190px;
        }

        .codeViewContent {
            padding-left: 16px;
        }
    </style>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Enter Key Configuration in ASP.NET Core Rich Text Editor control. Explore here for more details."/>
                }

@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the API usage to customize the enter key and shift + enter key actions in the Rich Text Editor content. Code view represents the current rich text editor value when pressing typing any content or pressing enter key or shift + enter keys.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>In this demo, ensure the API's behaviors by</p>
        <ul>
            <li>Changing the value of <code>enterKey</code> dropdown to customize the enter key action when it is pressed.</li>
            <li>Changing the value of <code>shiftEnterKey</code> dropdown to customize the shift + enter key action when it is pressed.</li>
        </ul>
    </div>
}
@section Title{
                    <title>ASP.NET Core Rich Text Editor Enter Key Configuration Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Enter Key Configuration in ASP.NET Core Rich Text Editor Control</h1>
                }