@page

@using Syncfusion.EJ2

@{
    string hostUrl = "https://ej2-aspcore-service.azurewebsites.net/";
    var ajaxSettings = new
    {
        url = hostUrl + "api/FileManager/FileOperations",
        getImageUrl = hostUrl + "api/FileManager/GetImage",
        uploadUrl = hostUrl + "api/FileManager/Upload",
        downloadUrl = hostUrl + "api/FileManager/Download"
    };
    var tools = new[] { "FileManager", "Image" };
}
@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper" id="file-browser-sample">
            <ejs-richtexteditor id="fileBrowser">
                <e-content-template>
                    <div>
                        <p>Rich Text Editor allows inserting images from online sources as well as the local computers where you want to insert the image in your content.</p>
                        <p><b>Get started Quick Toolbar to click on the image</b></p>
                        <p>It is possible to add custom style on the selected image inside the RichTextEditor through the quick toolbar.</p>
                        <img alt='Logo' style='width: 300px; height: 300px; transform: rotate(0deg);' src='@Url.Content("~/images/RichTextEditor/RTEImage-Feather.png")' />
                    </div>
                </e-content-template>
                <e-richtexteditor-toolbarsettings items="@tools"></e-richtexteditor-toolbarsettings>
                <e-richtexteditor-filemanagersettings enable="true" path="/Pictures/Food" ajaxSettings="@ajaxSettings"></e-richtexteditor-filemanagersettings>
            </ejs-richtexteditor>
        </div>
    </div>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the File Browser in ASP.NET Core Rich Text Editor control. Explore here for more details."/>
                }

@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the option to insert the image into the RichTextEditor content using FileManager.
            Click the open folder button from the toolbar item to insert the image.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The FileManager feature provides an option to insert the image into the editor and its supports various cloud service.
            It supports all the basic file operations such as create, rename, delete, cut, copy, paste, upload, download and so on.
        </p>
        <p><b>Note:</b> File Manager’s upload functionality is restricted in online demo.</p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Rich Text Editor File Browser Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of File Browser in ASP.NET Core Rich Text Editor Control</h1>
                }