@page

@using Syncfusion.EJ2

@{
    var items = new object[]
    {
        "Bold", "Italic", "Underline", "|", "Formats", "Alignments", "OrderedList",
        "UnorderedList", "|", "CreateLink", "Image", "|", "SourceCode", "EmojiPicker", "|", "Undo", "Redo"
    };
}

@section ControlsSection{
    <div class="control-section">
        <div class="control-wrapper">
            <ejs-richtexteditor id="insertemot">
                <e-richtexteditor-toolbarsettings items="@items"></e-richtexteditor-toolbarsettings>
                <e-content-template>
                   <div style="display:block;">
                       <p style="margin-right:10px">An emoji picker in a Rich Text Editor is a tool that allows users to easily add emojis or emoticons to their text. Typically, it is a small window or panel that displays a variety of emojis, arranged in different categories, such as smileys, animals, food, and so on. Users can select the desired emoji by clicking on it or by typing its name in a search bar. </p>
                    </div>
                </e-content-template>
            </ejs-richtexteditor>
        </div>
    </div>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Insert Emoticons in ASP.NET Core Rich Text Editor control. Explore here for more details."/>
                }

@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates how to insert an emoji into the content of a Rich Text Editor. First, click the emoji button in the toolbar. This will open the emoji picker popup. Next, click on the desired emoji in the picker to insert it into the editor.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>The <b>Emoji Picker</b> feature allows you to insert an emoji into an editor. The emoji picker has a grid of emojis grouped by categories, such as smileys, animals, food, and travel. You are able to scroll through the emojis and click on one to insert it into the editor.</p>
        <p>In this demo, to enable this feature, configure the <b>EmojiPicker</b> command in the  <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.RichTextEditor.RichTextEditorToolbarSettings.html#Syncfusion_EJ2_RichTextEditor_RichTextEditorToolbarSettings_Items" aria-label="Navigate to the Items property reference for ASP.NET Core RichTextEditorToolbarSettings"> toolbarSettings.items </a></p>
        <p>You can also insert an emoji by pressing the colon (:) which will open the emoji picker. Choose an emoji from the picker and insert it into the editor. The feature also provides the option to filter emojis based on the typing character.</p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Rich Text Editor Insert Emoticons Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Insert Emoticons in ASP.NET Core Rich Text Editor Control</h1>
                }