@page
@model EJ2CoreSampleBrowser.Pages.RichTextEditor.RichTextEditorFor

@using Syncfusion.EJ2

@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div class="control-wrapper">
            <div style='padding-top:40px;'>
                <form method="post">
                    <ejs-richtexteditor ejs-for="@Model.rteModel.Value" id="RTEfor">
                    </ejs-richtexteditor>
                    <div id="errorMessage">
                        <span asp-validation-for="@Model.rteModel.Value"></span>
                    </div>
                    <div id="submitbutton">
                        <ejs-button id="submitButton" content="Submit"></ejs-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<style>
    #submitbutton {
        margin: 10px auto;
        text-align: center;
    }

    #errorMessage {
        color: red;
    }
</style>
@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the RichTextEditorFor in ASP.NET Core Rich Text Editor control. Explore here for more details."/>
                }

@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the strongly-typed extension support in <code>Rich Text Editor</code>. The value of the Rich Text Editor is set from code behind and it is set to Rich Text Editor in a view page by invoking the strongly-typed RichTextEditorFor helper.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            Click the submit button to post the value in the Rich Text Editor. The validation error message will be shown below the Rich Text Editor, when posting the null value.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Rich Text Editor RichTextEditorFor Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of RichTextEditorFor in ASP.NET Core Rich Text Editor Control</h1>
                }