@page
@using Syncfusion.EJ2
@using Syncfusion.EJ2.RichTextEditor
@{
    var items = new object[]
    {
        "Bold", "Italic", "Underline", "StrikeThrough", "SuperScript", "SubScript", "|",
        "FontName", "FontSize", "FontColor", "BackgroundColor", "|",
        "LowerCase", "UpperCase",
        "Formats", "Alignments", "|", "NumberFormatList", "BulletFormatList", "|",
        "Outdent", "Indent", "|",
        "CreateLink", "Image", "Video", "Audio", "CreateTable", "CodeBlock", "|", "FormatPainter", "ClearFormat", "|", "EmojiPicker", "|",
        "SourceCode", "|", "Undo", "Redo"
    };
    RichTextEditorSlashMenuSettings SlashMenuSettings = new RichTextEditorSlashMenuSettings
     {
        Items = new object[] { "Paragraph", "Heading 1", "Heading 2", "Heading 3", "Heading 4", "OrderedList", "UnorderedList",
                    "CodeBlock", "Blockquote", "Link", "Image", "Video", "Audio", "Table", "Emojipicker",
                    new {
                        text= "Meeting notes",
                        description= "Insert a meeting note template.",
                        iconCss= "e-icons e-description",
                        type= "Custom",
                        command= "MeetingNotes"
                    },
                    new {
                        text= "Signature",
                        description= "Insert a signature template.",
                        iconCss= "e-icons e-signature",
                        type= "Custom",
                        command= "Signature"
                    }               
            }
    };
    
}
@section ControlsSection {
    <div class="control-section">
        <div class="control-wrapper">
            <ejs-richtexteditor id="smartEditor" created="created" slashMenuItemSelect="slashMenuItemSelect"
                placeholder="Type '/' and choose format">
                <e-richtexteditor-toolbarsettings items="@items"></e-richtexteditor-toolbarsettings>
                <e-richtexteditor-slashmenusettings enable="true"
                    items="@SlashMenuSettings.Items"></e-richtexteditor-slashmenusettings>
            </ejs-richtexteditor>
        </div>
    </div>

    <script type="text/javascript">
        var rteObj;
        const meetingNotes = '<p><strong>Meeting Notes</strong></p><table class="e-rte-table" style="width: 100%; min - width: 0px; height: 150px; "> <tbody> <tr style="height: 20%; "> <td style="width: 50%; "><strong>Attendees</strong></td> <td style="width: 50%; " class=""><br></td> </tr> <tr style="height: 20%; "> <td style="width: 50%; "><strong>Date &amp; Time</strong></td> <td style="width: 50%; "><br></td> </tr> <tr style="height: 20%; "> <td style="width: 50%; "><strong>Agenda</strong></td> <td style="width: 50%; "><br></td> </tr> <tr style="height: 20%; "> <td style="width: 50%; "><strong>Discussed Items</strong></td> <td style="width: 50%; "><br></td> </tr> <tr style="height: 20%; "> <td style="width: 50%; "><strong>Action Items</strong></td> <td style="width: 50%; "><br></td> </tr> </tbody> </table>';

        const signature = '<p><br></p><p>Warm regards,</p><p>John Doe<br>Event Coordinator<br>ABC Company</p>';

        function created() {
            rteObj = this;
        }
        function slashMenuItemSelect(args) {
            if (args.itemData.command === "MeetingNotes") {
                rteObj.executeCommand("insertHTML", meetingNotes, { undo: true });
            }
            if (args.itemData.command === "Signature") {
                rteObj.executeCommand("insertHTML", signature, { undo: true });
            }
        }
    </script>
}

@*custom code start*@

@section Meta{
    <meta name="description" content="This example demonstrates the Smart Suggestion in ASP.NET Core Rich Text Editor control. Explore here for more details."/>
}

@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>This example demonstrates how to use the slash menu feature of the Rich Text Editor to apply formats, open
            dialogs easily.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>This sample demonstrates the <code>SlashMenu</code> feature of the Rich Text Editor, which allows users to apply
            formatting such as headings, lists, quotes, open insert dialogs, and execute custom commands within the editor.
            The slash menu can be triggered by typing the "/" character in the editor.</p>
        <p>In this example, the slash menu is enabled by setting the <code>enable</code> property within the
            <code>slashMenuSettings</code> to <code>true</code>.
        </p>
        <p>This example includes two <b>Custom Slash menu items</b> that allow you to easily insert meeting notes and a
            signature into the content.</p>
        <p>The slash menu is configured with the following properties:</p>
        <ul>
            <li>
                <p><code>enable</code>: Enables or disables the slash menu in the editor. The default value is
                    <code>false</code>.
                </p>
            </li>
            <li>
                <p><code>items</code>: Defines the items displayed in the slash menu popup. Custom items can also be added,
                    and their actions can be handled using the <code>slashMenuItemSelect</code> event.</p>
            </li>
        </ul>
        <p><b>Adding Custom Slash Menu Items</b></p>
        <p>The custom items can be added to the slash menu by defining the <code>items</code> child property within
            <code>slashMenuSettings</code>. The <code>items</code> property accepts a string of items and also an array of
            objects, where each object represents a custom slash menu item. These objects can include the following
            properties:
        </p>
        <ul>
            <li><code>text</code> - Sets the text displayed for the slash menu item.</li>
            <li><code>command</code> - Specifies the action to be executed when the slash menu item is clicked.</li>
            <li><code>type</code> - Groups related items within the slash menu.</li>
            <li><code>iconCss</code> - Sets the CSS class for the icon associated with the item.</li>
            <li><code>description</code> - Provides a description for the slash menu item.</li>
        </ul>
    </div>
}
@section Title{
    <title>ASP.NET Core Rich Text Editor Smart Suggestion Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Smart Suggestion in ASP.NET Core Rich Text Editor Control</h1>
}
