@using Syncfusion.EJ2.Gantt;
@section ControlsSection{

    <div class="col-lg-9 control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='ColumnReorder' dataSource="ViewBag.dataSource" actionComplete="actionComplete" treeColumnIndex="1" allowReordering="true" height="450px" highlightWeekends="true"
                           projectStartDate="03/24/2019" projectEndDate="07/06/2019">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                        endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor"
                                        child="SubTasks">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" headerText="ID" width="100"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Name" width="250"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="EndDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                        <e-gantt-column field="Predecessor" headerText="Dependency"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-splitterSettings columnIndex="3"></e-gantt-splitterSettings>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                </ejs-gantt>
            </div>
        </div>
    </div>

    <div class="col-lg-3 property-section">
        <table id="property" title="Properties" style="width: 100%">
            <tr style="height: 50px">
                <td style="width: 30%">
                    <div style="padding-top: 10px">Column</div>
                </td>
                <td style="width: 80%;">
                    <div>
                        <ejs-dropdownlist id="Columns" width="100px" popupWidth="100px" dataSource="@ViewBag.columns" index="0" popupHeight="220px" change="columnChange">
                            <e-dropdownlist-fields text="text" value="value"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                </td>
            </tr>
            <tr style="height: 50px">
                <td style="width: 50%">
                    <div>Column Position</div>
                </td>
                <td style="width: 50%;">
                    <div>
                        <ejs-dropdownlist id="ColumnIndex" dataSource="@ViewBag.indexes" index="0" popupHeight="220px" change="indexChange">
                            <e-dropdownlist-fields text="text" value="value"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <script>
        

        function actionComplete(args) {
            if (args.requestType === 'reorder') {
                var dropDownObj = document.getElementById("Columns").ej2_instances[0], ganttObj = document.getElementById("ColumnReorder").ej2_instances[0];
                var columnName = (dropDownObj.value), index = ganttObj.treeGrid.getColumnIndexByField(columnName);
                document.getElementById("ColumnIndex").ej2_instances[0].value = index.toString();
            }
        }
        
        function columnChange(e) {
            var ganttObj = document.getElementById("ColumnReorder").ej2_instances[0];
            var dropDownIndex = document.getElementById("ColumnIndex").ej2_instances[0];
            var columnName = e.value;
            var index = ganttObj.treeGrid.getColumnIndexByField(columnName);
            dropDownIndex.value = index.toString();
        }
        function indexChange(e) {
            var index = e.value;
            var ganttObj = document.getElementById("ColumnReorder").ej2_instances[0];
            var dropDownColumn = document.getElementById("Columns").ej2_instances[0];
            var columnName = dropDownColumn.value;
            ganttObj.reorderColumns(columnName, ganttObj.treeGrid.columns[index].field);
        }
    </script>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the reordering feature of the Gantt columns. Select column name and index from properties panel to reorder the columns.
            You can also reorder columns by simply dragging and dropping them to the desired position.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            Reordering can be enabled by setting the <code>allowReordering</code> property to true.
            Reordering can be done by dragging and dropping the column header from one index to another index within the TreeGrid part.
        </p>
        <p>The location in which the column to be placed will be indicated by two arrows symbols.</p>
        <p>
            In this demo, you can either reorder columns by dragging and dropping or by selecting column name and column index from dropdown to reorder the columns.
        </p>
        <p>
            More information about column reordering can be found in this documentation section.
        </p>
        <br />
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Column Reorder in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Gantt Column Reorder Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Column Reorder in ASP.NET Core Gantt Control</h1>
                }