@using Syncfusion.EJ2.Gantt;
@section ControlsSection{

    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='ColumnTemplate' dataSource="ViewBag.dataSource" rowHeight="60" height="450px" highlightWeekends="true"
                           projectStartDate="03/24/2019" projectEndDate="07/06/2019" resources="ViewBag.projectResources">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate" endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor"
                                        child="SubTasks" resourceInfo="ResourceId">
                    </e-gantt-taskfields>
                    <e-gantt-resourcefields id="ResourceId" name="ResourceName">
                    </e-gantt-resourcefields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" headerText="Task ID"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Task Name" width="250"></e-gantt-column>
                        <e-gantt-column field="ResourceId" headerText="Resources" template="#template" width="250"></e-gantt-column>
                        <e-gantt-column field="StartDate" headerText="Start Date" width="150"></e-gantt-column>
                        <e-gantt-column field="Duration" headerText="Duration" width="150"></e-gantt-column>
                        <e-gantt-column field="Progress" headerText="Progress" width="150"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-splitterSettings columnIndex="3"></e-gantt-splitterSettings>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                </ejs-gantt>
            </div>
        </div>
    </div>
    <script id="template" type="text/x-template">
        ${if(ganttProperties.resourceNames)}
        <div class="columnTemplate">
            <img src="@Url.Content(" ../images/Gantt/${ganttProperties.resourceNames}.png")" style="height:40px;width:40px" />
            <div style="display:inline-block;width:100%;position:relative;left:10px">${ganttProperties.resourceNames}</div>
        </div>
        ${/if}
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the usage of template columns in Gantt.
            In this sample, we have shown custom images in the Resources column.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            The Gantt provides a way to use a custom layout for each cell using the column template feature.  The <code>columns -> template</code> property accepts either string or HTML element`s ID value,
            which will be used as the template for the cell.
        </p>
        <p>
            In this demo, using column template, resource column has been presented with employee photo,
            and the <code>columns -> template</code> is assigned with the ID of a SCRIPT element whose content is used as the template.
        </p>
        <p> The template expression should be provided inside <code>${...}</code> interpolation syntax.</p>
        <p>
            More information about Column Template can be found in this documentation section.
        </p>
        <br />
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Column Template in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Gantt Column Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Column Template in ASP.NET Core Gantt Control</h1>
                }