@using Syncfusion.EJ2.Gantt;
@section ControlsSection{
   
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='ColumnMenu' dataSource="ViewBag.dataSource" treeColumnIndex="1" showColumnMenu="true" allowFiltering="true" allowSorting="true" allowResizing="true" height="450px" highlightWeekends="true"
                           projectStartDate="03/24/2019" projectEndDate="07/06/2019">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                        endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor"
                                        child="SubTasks">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" headerText="ID" width="100"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Name" width="250"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="EndDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                        <e-gantt-column field="Predecessor" headerText="Dependency"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-splitterSettings columnIndex="4"></e-gantt-splitterSettings>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                </ejs-gantt>
            </div>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the default functionalities of the  column menu. Click on multiple icon of each column to open the column menu.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            Gantt has an option to show column menu while clicking multiple icon of each column. The column menu has an integrated option to interact with the features such as sorting, filtering, column chooser, and autoFit.
            This feature can be enabled by setting <code>showColumnMenu</code> to true.
            The default items are,
            <br>
        </p>
        <ul>
            <li><code>SortAscending</code> - Sorts the current column in ascending order.</li>
            <li><code>SortDescending</code> - Sorts the current column in descending order.</li>
            <li><code>AutoFit</code> - Auto-fit current column.</li>
            <li><code>AutoFitAll</code> - Auto-fit all columns.</li>
            <li><code>ColumnChooser</code> - Chooses the column visibility.</li>
            <li><code>Filter</code> - Filters the current column.
        </ul>
        <br />

        <p>
            In this demo, the column menu feature is enabled by setting <code>showColumnMenu</code> to true with sorting, filtering, column chooser, and autoFit options.
        </p>
        <p>
            More information about column menu can be found in this documentation section.
        </p>
        <br />
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Column Menu in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Gantt Column Menu Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Column Menu in ASP.NET Core Gantt Control</h1>
                }