@using Syncfusion.EJ2.Gantt;
@section ControlsSection{
   
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='DefaultFunctionalities' dataSource="ViewBag.dataSource" height="450px" treeColumnIndex="1" highlightWeekends="true"
                           projectStartDate="03/24/2019" projectEndDate="07/06/2019">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                        endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor"
                                        child="SubTasks">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" width="80"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Job Name" width="250" clipMode="EllipsisWithTooltip"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                        <e-gantt-column field="Predecessor"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                </ejs-gantt>
            </div>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the various phases involved in the manufacturing process of a product, which transforms from a conceptual model to a sellable product.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, you can see how to render a Gantt chart with the provided data source. The default timeline
            view week-day mode is applied to Gantt chart. The dependency lines are enabled in this example to represent the
            execution order or the hierarchy between the phases.
            Tooltip is enabled for all the UI in this example. To see the tooltip in action, hover the mouse over or tap
            taskbars, timeline units, and dependency lines in touch enabled devices.
        </p>
        <br />
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Gantt Default Functionalities Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Gantt Control</h1>
                }