@using Syncfusion.EJ2.Gantt;

@section ControlsSection{

    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='DragAndDrop' dataSource="ViewBag.dataSource" height="450px" allowRowDragAndDrop="true" highlightWeekends="true" treeColumnIndex="1"
                           projectStartDate="03/24/2019" projectEndDate="07/06/2019" allowTaskbarDragAndDrop="true">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                        endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor"
                                        child="SubTasks">
                    </e-gantt-taskfields>
                    <e-gantt-editsettings allowAdding="true" allowEditing="true" allowDeleting="true"
                                      allowTaskbarEditing="true" showDeleteConfirmDialog="true"></e-gantt-editsettings>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" headerText="ID" width="80"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Name" width="250"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                        <e-gantt-column field="Predecessor" headerText="Dependency"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-splittersettings columnIndex="3"></e-gantt-splittersettings>
                    <e-gantt-selectionsettings type="Multiple"></e-gantt-selectionsettings>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                </ejs-gantt>
            </div>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the Gantt component with the row drag and drop feature. You can rearrange the gantt rows by using drag icon on the left side of the gantt column. Here, you can drag and drop the gantt rows into the required position.</p>
    </div>
}
@section Description{

    <div id="description">
        <p>Row drag and drop feature can be enabled by settting <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Gantt.Gantt.html#Syncfusion_EJ2_Gantt_Gantt_AllowRowDragAndDrop">
                allowRowDragAndDrop
            </a> property as true. In this demo, taskbar drag and drop between rows can be enabled by setting <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Gantt.Gantt.html#Syncfusion_EJ2_Gantt_Gantt_AllowTaskbarDragAndDrop">
                allowTaskbarDragAndDrop
            </a> as true.</p>
        <br />
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Row Drag and Drop in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Gantt Row Drag and Drop Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Row Drag and Drop in ASP.NET Core Gantt Control</h1>
                }
