@using Syncfusion.EJ2.Gantt;
@section ControlsSection{
   
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='EventMarkers' dataSource="ViewBag.dataSource" treeColumnIndex="1" height="450px" highlightWeekends="true"
                           projectStartDate="03/24/2019" projectEndDate="07/06/2019">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                        endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor"
                                        child="SubTasks">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" width="80"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Name" width="250" clipMode="EllipsisWithTooltip"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                        <e-gantt-column field="Predecessor"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-splitterSettings columnIndex="2"></e-gantt-splitterSettings>
                    <e-gantt-eventmarkers>
                        <e-gantt-eventmarker day="04/02/2019" label="Project starts" ></e-gantt-eventmarker>
                        <e-gantt-eventmarker day="04/09/2019" label="Design phase"></e-gantt-eventmarker>
                        <e-gantt-eventmarker day="04/19/2019" label="Research phase"></e-gantt-eventmarker>
                        <e-gantt-eventmarker day="05/23/2019" label="Production phase"></e-gantt-eventmarker>
                        <e-gantt-eventmarker day="06/20/2019" label="Sales and marketing phase"></e-gantt-eventmarker>
                    </e-gantt-eventmarkers>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                </ejs-gantt>
            </div>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>
        <p>This sample visualizes how to notify the important dates in the project timeline.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, the <code>eventMarkers</code> are used like a bookmark to show the different stages of the project life cycle. You can show the desired text on the date. The Event Markers model has the below properties to customize the marker:
            <ul>
                <li><code>cssClass</code>: Used to assign external CSS styles to that particular marker.</li>
                <li><code>day</code>: Used to set date of the event marker.</li>
                <li><code>label</code>: The desired text can be shown on the vertical line using this property.</li>
            </ul>
        </p>
        <br />
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Event Markers in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Gantt Event Markers Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Event Markers in ASP.NET Core Gantt Control</h1>
                }