@using Syncfusion.EJ2.Gantt;
@section ControlsSection{

    <div class="col-lg-9 control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='Events' dataSource="ViewBag.dataSource" height="450px" highlightWeekends="true" allowSelection="true" treeColumnIndex="1"
                        allowReordering="true" allowResizing="true" allowSorting="true" enableContextMenu="true" showColumnMenu="true"
                        toolbar="@(new List<string>() { "Add", "Edit", "Update", "Delete", "Cancel", "ExpandAll", "CollapseAll", "Search" })"
                        projectStartDate="03/24/2019" projectEndDate="07/06/2019" load="load" dataBound="ganttdataBound" created="created" toolbarClick="toolbarClick"
                        beforeTooltipRender="beforeTooltipRender" actionBegin="actionBegin" actionComplete="actionComplete" cellEdit="cellEdit" endEdit="endEdit"
                        taskbarEditing="taskbarEditing" taskbarEdited="taskbarEdited" rowSelecting="rowSelecting" rowSelected="rowSelected" rowDeselecting="rowDeselecting" 
                        rowDeselected="rowDeselected" columnDragStart="columnDragStart" columnDrag="columnDrag" columnDrop="columnDrop" expanding="expanding" expanded="expanded"
                        collapsing="collapsing" collapsed="collapsed" columnMenuClick="columnMenuClick" columnMenuOpen="columnMenuOpen" contextMenuClick="contextMenuClick"
                        contextMenuOpen="contextMenuOpen" resizeStart="resizeStart" resizeStop="resizeStop" resizing="resizing" splitterResizeStart="splitterResizeStart"
                        splitterResizing="splitterResizing" splitterResized="splitterResized" recordDoubleClick="recordDoubleClick" onTaskbarClick="onTaskbarClick">

                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                            endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor" child="SubTasks">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" width="70"></e-gantt-column>
                        <e-gantt-column field="TaskName" width="250"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="EndDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Predecessor"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-editsettings allowAdding="true" allowEditing="true" allowDeleting="true" allowTaskbarEditing="true"></e-gantt-editsettings>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                    <e-gantt-splittersettings columnIndex="2"></e-gantt-splittersettings>
                </ejs-gantt>
            </div>
        </div>
    </div>

    <div class="col-lg-3 property-section">
        <table id="property" title="Event Trace">
            <tr>
                <td>
                    <div class="eventarea" style="height: 346px;overflow: auto">
                        <span class="EventLog" id="EventLog" style="word-break: normal;"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;padding: 20px 10px 10px 80px;">
                    <div>
                        <ejs-button id="Clear" content="Clear"></ejs-button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <script>
        function load() {
            appendElement('Gantt <b>load</b> event called<hr>');
        }
        function ganttdataBound() {
            appendElement('Gantt <b>dataBound</b> event called<hr>');
        }
        function created() {
            appendElement('Gantt <b>created</b> event called<hr>');
        }
        function toolbarClick() {
            appendElement('Gantt <b>toolbarClick</b> event called<hr>');
        }
        function beforeTooltipRender() {
            appendElement('Gantt <b>beforeTooltipRender</b> event called<hr>');
        }
        function actionBegin() {
            appendElement('Gantt <b>actionBegin</b> event called<hr>');
        }
        function actionComplete() {
            appendElement('Gantt <b>actionComplete</b> event called<hr>');
        }
        function cellEdit() {
            appendElement('Gantt <b>cellEdit</b> event called<hr>');
        }
        function endEdit() {
            appendElement('Gantt <b>endEdit</b> event called<hr>');
        }
        function taskbarEditing() {
            appendElement('Gantt <b>taskbarEditing</b> event called<hr>');
        }
        function taskbarEdited() {
            appendElement('Gantt <b>taskbarEdited</b> event called<hr>');
        }
        function rowSelecting() {
            appendElement('Gantt <b>rowSelecting</b> event called<hr>');
        }
        function rowSelected() {
            appendElement('Gantt <b>rowSelected</b> event called<hr>');
        }
        function rowDeselecting() {
            appendElement('Gantt <b>rowDeselecting</b> event called<hr>');
        }
        function rowDeselected() {
            appendElement('Gantt <b>rowDeselected</b> event called<hr>');
        }
        function columnDragStart() {
            appendElement('Gantt <b>columnDragStart</b> event called<hr>');
        }
        function columnDrag() {
            appendElement('Gantt <b>columnDrag</b> event called<hr>');
        }
        function columnDrop() {
            appendElement('Gantt <b>columnDrop</b> event called<hr>');
        }
        function expanding() {
            appendElement('Gantt <b>expanding</b> event called<hr>');
        }
        function expanded() {
            appendElement('Gantt <b>expanded</b> event called<hr>');
        }
        function collapsing() {
            appendElement('Gantt <b>collapsing</b> event called<hr>');
        }
        function collapsed() {
            appendElement('Gantt <b>collapsed</b> event called<hr>');
        }
        function columnMenuClick() {
            appendElement('Gantt <b>columnMenuClick</b> event called<hr>');
        }
        function columnMenuOpen() {
            appendElement('Gantt <b>columnMenuOpen</b> event called<hr>');
        }
        function contextMenuClick() {
            appendElement('Gantt <b>contextMenuClick</b> event called<hr>');
        }
        function contextMenuOpen() {
            appendElement('Gantt <b>contextMenuOpen</b> event called<hr>');
        }
        function resizeStart() {
            appendElement('Gantt <b>resizeStart</b> event called<hr>');
        }
        function resizing() {
            appendElement('Gantt <b>resizing</b> event called<hr>');
        }
        function resizeStop() {
            appendElement('Gantt <b>resizeStop</b> event called<hr>');
        }
        function splitterResizeStart() {
            appendElement('Gantt <b>splitterResizeStart</b> event called<hr>');
        }
        function splitterResizing() {
            appendElement('Gantt <b>splitterResizing</b> event called<hr>');
        }
        function splitterResized() {
            appendElement('Gantt <b>splitterResized</b> event called<hr>');
        }
        function recordDoubleClick() {
            appendElement('Gantt <b>recordDoubleClick</b> event called<hr>');
        }
        function onTaskbarClick() {
            appendElement('Gantt <b>onTaskbarClick</b> event called<hr>');
        }
        function appendElement(html) {
            var span = document.createElement('span');
            span.innerHTML = html;
            var log = document.getElementById('EventLog');
            log.insertBefore(span, log.firstChild);
        }
        document.getElementById('Clear').onclick = function () {
            document.getElementById('EventLog').innerHTML = '';
        };
    </script>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates all the events that occur on all the Gantt operations with the help of Event Trace panel.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            The Gantt triggers events based on its actions. The events can be used as an extension point to perform custom operations.
        </p>
        <p>
            In this demo, perform Gantt actions such as load, created, dataBound, toolbarClick, beforeTooltipRender, actionBegin, actionComplete, cellEdit,
            endEdit, taskbarEditing, taskbarEdited, rowSelecting, rowSelected, rowDeselecting, rowDeselected, columnDragStart, columnDrag,
            columnDrop, expanding, expanded, collapsing, collapsed, columnMenuClick, columnMenuOpen, contextMenuClick, contextMenuOpen, resizeStart,
            resizing, resizeStop, splitterResizeStart, splitterResizing, splitterResized, recordDoubleClick, onTaskbarClick and
            see the <strong>Event Trace</strong> panel for the events emitted.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Events in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                 <title>ASP.NET Core Gantt Events Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for Events in ASP.NET Core Gantt Control</h1>
            }