@using Syncfusion.EJ2.Gantt;
@section ControlsSection{

    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='Indicators' dataSource="ViewBag.dataSource" height="450px" highlightWeekends="true"
                           projectStartDate="03/24/2019" projectEndDate="07/06/2019">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                        endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor"
                                        child="SubTasks" indicators="Indicators">
                    </e-gantt-taskfields>
                    <e-gantt-splitterSettings columnIndex="2"></e-gantt-splitterSettings>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                </ejs-gantt>
            </div>
        </div>
    </div>
    <style>

        #Indicators .designPhase::before,
        #Indicators .productionPhase::before {
            content: '\ea84';
        }

        #Indicators .researchPhase::before,
        #Indicators .salesPhase::before {
            content: '\e30d';
        }

        .bootstrap4 #Indicators .designPhase::before,
        .bootstrap4 #Indicators .productionPhase::before {
            content: '\e7d9';
        }

        .bootstrap4 #Indicators .researchPhase::before,
        .bootstrap4 #Indicators .salesPhase::before {
            content: '\e7cb';
        }
        
        .bootstrap5-dark #Indicators .designPhase::before,
        .bootstrap5 #Indicators .designPhase::before,
        .bootstrap5-dark #Indicators .productionPhase::before,
        .bootstrap5 #Indicators .productionPhase::before {
            content: '\e72b';
        }
        
        .bootstrap5-dark #Indicators .researchPhase::before,
        .bootstrap5 #Indicators .researchPhase::before,
        .bootstrap5-dark #Indicators .salesPhase::before,
        .bootstrap5 #Indicators .salesPhase::before {
            content: '\e7c0';
        }
        
        .fabric #Indicators .researchPhase::before,
        .fabric #Indicators .salesPhase::before,
        .highcontrast #Indicators .researchPhase::before,
        .highcontrast #Indicators .salesPhase::before {
            content: '\e310';
        }
		.tailwind #Indicators .designPhase::before,
		.tailwind #Indicators .productionPhase::before,
		.tailwind-dark #Indicators .designPhase::before,
		.tailwind-dark #Indicators .productionPhase::before {
			content: '\e7b0';
		}
		.tailwind #Indicators .researchPhase::before,
        .tailwind #Indicators .salesPhase::before,
		.tailwind-dark #Indicators .researchPhase::before,
        .tailwind-dark #Indicators .salesPhase::before {
			content: '\e7b6';
		}
    </style>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes how to mention a special moment in any mentioned day for a particular task with different icon and label.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, <code>indicators</code> are displayed with some custom text in the specified day of task, which are defined in dataSource. You can define the indicators with the following properties for tasks:
            <li><code>date</code>: Defines the date value to where we want to display the indicators.</li>
            <li><code>iconClass </code>: Defines the icon to highlight the indicator.</li>
            <li><code>name</code>: Defines text to be displayed in the mentioned date.</li>
            <li><code>tooltip</code>: The text will be displayed when the mouse is hovered over the indicator.</li>
        </p>
        <br />
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Indicators in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Gantt Indicators Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Indicators in ASP.NET Core Gantt Control</h1>
                }