@using Syncfusion.EJ2.Gantt;
@section ControlsSection{
     @{
        List<object> toolbarItems = new List<object> { "ExpandAll", "CollapseAll" };
        toolbarItems.Add(new {
            type =  "Input", align= "Right", template= "#ToolbarTemplate"});
            
    }
    <div id="ToolbarTemplate">
                    <div>
                        <ejs-dropdownlist id="Drop" dataSource="ViewBag.data" placeHolder= "view" width= "90px" change="change">
                            <e-dropdownlist-fields text="type" value="id"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
    </div>
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='OverView' dataSource="ViewBag.dataSource" height="500px" highlightWeekends="true"  allowSelection="true" treeColumnIndex="1" viewType= 'ProjectView' allowSorting= "true" allowFiltering= "true" gridLines= "Vertical" allowReordering= "true" allowResizing="true"
                           projectStartDate="12/24/2021" projectEndDate="10/26/2022" load="load" resources="ViewBag.projectResources" toolbar="toolbarItems" taskbarHeight= "24" rowHeight= "36">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate" parentID = "ParentID"
                                        endDate="EndDate" duration="TimeLog" progress="Progress" dependency="Predecessor" resourceInfo="Assignee">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" headerText="ID" width="80" visible ="false"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Product Release" width="285" clipMode="EllipsisWithTooltip"></e-gantt-column>
                        <e-gantt-column field="Assignee" width= "170" headerText="Assignee" template= "#columnTemplate"></e-gantt-column>
                        <e-gantt-column field='Status', minWidth= "100", width= "120", headerText= 'Status', template= '#columnTemplate1'></e-gantt-column>
                        <e-gantt-column field='Priority', minWidth= '80', width= '100', headerText= 'Priority', template= '#columnTemplate2'></e-gantt-column>
                        <e-gantt-column field='Work', width= '120', headerText= 'Planned Hours'></e-gantt-column>
                        <e-gantt-column field='TimeLog', width= '120', headerText= 'Work Log'></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-resourcefields id="ResourceId" name="ResourceName" unit="ResourceUnit">
                    </e-gantt-resourcefields>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                    <e-gantt-splittersettings columnIndex="4"></e-gantt-splittersettings>
                    <e-gantt-eventmarkers>
                            <e-gantt-eventmarker day="04/04/2022" label="Q-1 Release" cssClass= 'e-custom-event-marker' ></e-gantt-eventmarker>
                            <e-gantt-eventmarker day="06/30/2022" label="Q-2 Release" cssClass= 'e-custom-event-marker'></e-gantt-eventmarker>
                            <e-gantt-eventmarker day="09/29/2022" label="Q-3 Release" cssClass= 'e-custom-event-marker'></e-gantt-eventmarker>
                        </e-gantt-eventmarkers>
                        <e-gantt-selectionsettings mode="Row" type="Single" enableToggle="true"></e-gantt-selectionsettings>
                        <e-gantt-holidays>
                            <e-gantt-holiday from="01/01/2022" to="01/01/2022" label="New Year holiday" cssClass= "e-custom-holiday"></e-gantt-holiday>
                            <e-gantt-holiday from="12/25/2021" to="12/26/2021" label="Christmas holidays" cssClass= "e-custom-holiday"></e-gantt-holiday>
                       </e-gantt-holidays>
                       <e-gantt-labelSettings rightLabel="Assignee" taskLabel= '${Progress}%'></e-gantt-labelSettings>
                       <e-gantt-timelinesettings timelineUnitSize="50" showTooltip= "true">
                            <e-timelinesettings-toptier unit="Month" format="MMM yyyy"></e-timelinesettings-toptier>
                            <e-timelinesettings-bottomtier unit="Day" count= '4' format= "dd"></e-timelinesettings-bottomtier>
                        </e-gantt-timelinesettings>
                        <e-gantt-editsettings allowEditing="true" allowTaskbarEditing="true"></e-gantt-editsettings>
                        <e-gantt-tooltipsettings showTooltip="true">
                        </e-gantt-tooltipsettings>
                        <e-gantt-filtersettings type="Menu"></e-gantt-filtersettings>
                </ejs-gantt>
            </div>
        </div>
        
    </div>
   
<script id="columnTemplate" type="text/x-template">
        ${if(ganttProperties.resourceNames)}
        <div class="columnTemplate">
            <img src="@Url.Content(" ../images/Gantt/${ganttProperties.resourceNames}.png")" style="height:25px;width:25px" />
            <div style="display:inline-block;width:100%;position:relative;${isRtl()}">${ganttProperties.resourceNames}</div>
        </div>
        ${/if}
</script>

<script type="text/x-template" id="columnTemplate1">
    ${if(taskData.Status)}
    <div style="${Status(taskData.Status)}"><span style="${StatusContent(taskData.Status)}">${taskData.Status}</span></div>
    ${/if}
</script>
<script type="text/x-template" id="columnTemplate2">
    ${if(taskData.Priority)}
    <div style="${Priority(taskData.Priority)}"><span style="${PriorityContent(taskData.Priority)}">${taskData.Priority}</span></div>
    ${/if}
</script>
<style>
    .e-gantt-child-taskbar,
    .e-gantt-parent-taskbar
    {
        border-radius:10px !important
    }
</style>

<script>
var theme;
var style;
var CurrentTheme;
var statusStyleColor;
var priorityStyle;
var priorityContentStyle;
var statusContentstyleColor;
     function load() {
        var i=0;
            var themeCollection = ['bootstrap5', 'bootstrap', 'bootstrap4', 'fluent', 'fabric', 'fusionnew', 'material3', 'material', 'highcontrast', 'tailwind'];
            var cls = document.body.className.split(' ');
            theme = cls.indexOf('bootstrap5') > 0 ? 'bootstrap5' : cls.indexOf('bootstrap') > 0 ? 'bootstrap' : cls.indexOf('tailwind') > 0 ? 'tailwind' :
                cls.indexOf('fluent') > 0 ? 'fluent' : cls.indexOf('fabric') > 0 ? 'fabric' :
                    cls.indexOf('material3') > 0 ? 'material3' : cls.indexOf('bootstrap4') > 0 ? 'bootstrap4' : cls.indexOf('material') > 0 ? 'material' :
                        cls.indexOf('fusionnew') > 0 ? 'fusionnew' : cls.indexOf('highcontrast') > 0 ? 'highcontrast' : ''
            var check = themeCollection.indexOf(theme);
            if (check >= 0) {
                CurrentTheme = true;
            }
            else {
                CurrentTheme = false;
            }
        }
        function isRtl() {
            let gantt = document.getElementsByClassName('e-gantt')[0].ej2_instances[0];
            if (gantt.enableRtl) {
               return 'right:10px;';
           } else {
               return 'left:10px;';
           }
        }

function Status(status) {
    switch (status) {
        case "In Progress":
            statusStyleColor = (CurrentTheme) ? "#DFECFF" : "#2D3E57";
            style = "display: flex; padding: 1px 12px; gap: 10px; width: 96px; height: 24px; border-radius: 24px; background:" + statusStyleColor;
            break;
        case "Open":
            style = "background-color: red; color: white; border-radius: 15px; padding:6px";
            break;
        case "On Hold":
            statusStyleColor = (CurrentTheme) ? "#E4E4E7" : "#3C3B43";
            style = "display: flex; border-radius: 24px; padding: 1px 12px; gap: 10px; width: 78px; height: 24px; background:" + statusStyleColor;
            break;
        case "Completed":
            statusStyleColor = (CurrentTheme) ? "#DFFFE2" : "#16501C";
            style = "display: flex; padding: 1px 12px; gap: 10px; width: 98px; height: 24px; border-radius: 24px;background:" + statusStyleColor;
            break;
        case "High":
            statusStyleColor = (CurrentTheme) ? "#FFEBE9" : "#48211D";
            style = "display: flex; padding: 1px 12px; gap: 10px; width: 55px; height: 24px; border-radius: 24px; background:" + statusStyleColor;
            break;
    }
    return style;
}

function StatusContent(status) {
    switch (status) {
        case "In Progress":
            statusContentstyleColor = (CurrentTheme) ? "#006AA6" : "#34B6FF";
            style = "width: 72px; height: 22px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; text-align: center; color: " + statusContentstyleColor;
            break;
        case "Open":
            style = "background-color: red; color: white; border-radius: 15px; padding:6px";
            break;
        case "On Hold":
            statusContentstyleColor = (CurrentTheme) ? "#766B7C" : "#CDCBD7";
            style = "width: 54px; height: 22px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; text-align: center; color: " + statusContentstyleColor;
            break;
        case "Completed":
            statusContentstyleColor = (CurrentTheme) ? "#00A653" : "#92FFC8";
            style = "width: 74px; height: 22px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; text-align: center; color: " + statusContentstyleColor;
            break;
        case "High":
            statusContentstyleColor = (CurrentTheme) ? "#FF3740" : "#FFB5B8";
            style = "width: 31px; height: 22px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; text-align: center; color: " + statusContentstyleColor;
            break;
    }
    return style;
}

function Priority (priority) {
    switch (priority) {
        case "Low":
            priorityStyle = (CurrentTheme) ? "#FFF6D1" : "#473F1E";
            style = "display: flex; padding: 1px 12px; gap: 10px; width: 52px; height: 24px; border-radius: 24px; background: " + priorityStyle;
            break;
        case "Normal":
            priorityStyle = (CurrentTheme) ? "#F5DFFF" : "#4D2F5A";
            style = "display: flex; padding: 1px 12px; gap: 10px; width: 73px; height: 24px; border-radius: 24px; background: " + priorityStyle;
            break;
        case "Critical":
            priorityStyle = (CurrentTheme) ? "#FFEBE9" : "#48211D";
            style = "display: flex; padding: 1px 12px; gap: 10px; width: 72px; height: 24px; border-radius: 24px; background: " + priorityStyle;
            break;
        case "High":
            priorityStyle = (CurrentTheme) ? "#FFEBE9" : "#48211D";
            style = "display: flex; padding: 1px 12px; gap: 10px; width: 55px; height: 24px; border-radius: 24px; background: " + priorityStyle;
            break;
    }
    return style;
}

function PriorityContent(priority) {
    switch (priority) {
        case "Low":
            priorityContentStyle = (CurrentTheme) ? "#70722B" : "#FDFF88";
            style = "width: 28px; height: 22px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; text-align: center; color: " + priorityContentStyle;
            break;
        case "Normal":
            priorityContentStyle = (CurrentTheme) ? "#7100A6" : "#E3A9FF";
            style = "width: 49px; height: 22px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; text-align: center; color: " + priorityContentStyle;
            break;
        case "Critical":
            priorityContentStyle = (CurrentTheme) ? "#FF3740" : "#FFB5B8";
            style = "width: 48px; height: 22px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; text-align: center; color: " + priorityContentStyle;
            break;
        case "High":
            priorityContentStyle = (CurrentTheme) ? "#FF3740" : "#FFB5B8";
            style = "width: 31px; height: 22px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; text-align: center; color: " + priorityContentStyle;
            break;
    }
    return style;
}

function change(e) {
    var ganttObj = document.getElementById("OverView").ej2_instances[0];
    var position = e.value;
    
    if (position === 'Grid') {
        ganttObj.splitterSettings.position = '100%';
    }
    else if (position === 'Chart') {
        ganttObj.splitterSettings.position = '0%';
    }
    else {
        ganttObj.splitterSettings.position = '';
    }
    
    ganttObj.refresh();
}

</script>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample shows an overview of the EJ2 Gantt Chart features that visualize the progress of each feature of the product towards its release and make it easier to monitor the scheduling of the dependent items.
        </p>
    </div>
}
@section Description{
    <p>This example shows the three-quarter release planning of product features rendered in the EJ2 Gantt chart. It tracks the quarterly release planning of product status, resources, and task scheduling.</p>
    <p>EJ2 Gantt Chart features such as Sorting, Filtering, Column resizing, Column menu, column template and so on are used in this demo.</p>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Overview Template in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Gantt Overview Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Overview Template in ASP.NET Core Gantt Control</h1>
                }