@using Syncfusion.EJ2.Gantt;
@section ControlsSection{

    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='SelfReferenceData' dataSource="ViewBag.dataSource" height="450px" highlightWeekends="true" allowSelection="true" treeColumnIndex="1"
                           projectStartDate="01/28/2019" projectEndDate="03/10/2019">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                        endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor" parentID="ParentID">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" width="60"></e-gantt-column>
                        <e-gantt-column field="TaskName" width="250"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="EndDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Predecessor"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                    <e-gantt-splittersettings columnIndex="2"></e-gantt-splittersettings>
                </ejs-gantt>
            </div>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the way of binding self-referential flat data to the Gantt control.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            Gantt can be bound either to local or remote data services.
            The <code>dataSource</code> property can be assigned either with the array of JavaScript objects or an
            instance of <code>DataManager</code>.
        </p>
        <p>
            In this demo, the array of self-referential flat data with <code>parentID</code> is assigned as data source to
            the Gantt.
        </p>

    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Self Reference Data in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                 <title>ASP.NET Core Gantt Self Reference Data Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for Self Reference Data in ASP.NET Core Gantt Control</h1>
            }