@using Syncfusion.EJ2.Gantt;
@section ControlsSection{
    <div class="col-lg-9 control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='SortingAPI' dataSource="ViewBag.dataSource" height="450px" highlightWeekends="true" allowSorting="true" treeColumnIndex="1"
                            projectStartDate="03/25/2019" projectEndDate="07/28/2019">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                            endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor" child="SubTasks">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" headerText="ID" width="70"></e-gantt-column>
                        <e-gantt-column field="TaskName" width="250"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="EndDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                    <e-gantt-splittersettings columnIndex="2"></e-gantt-splittersettings>
                </ejs-gantt>
            </div>
        </div>
    </div>

    <div class="col-lg-3 property-section">
        <table id="property" title="Properties">
            <tr>
                <td style="width: 30%">
                    <div>
                        Column
                    </div>
                </td>
                <td style="width: 70%;padding-right: 10px">
                    <div>
                        <ejs-dropdownlist id="Columns" dataSource="ViewBag.data1" popupWidth="100px" value="@("TaskId")">
                            <e-dropdownlist-fields text="type" value="id"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%">
                    <div>
                        Direction
                    </div>
                </td>
                <td style="width: 70%;padding-right: 10px">
                    <div>
                        <ejs-dropdownlist id="Direction" dataSource="ViewBag.data2" popupWidth="100px" value="@("Ascending")">
                            <e-dropdownlist-fields text="type" value="id"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%">
                    <div>
                        <ejs-button id="Sort" content="Sort"></ejs-button>
                    </div>
                </td>
                <td style="width: 70%;padding:10px 10px 10px 0px">
                    <div>
                        <ejs-button id="Clear" content="Clear"></ejs-button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <script>
        document.getElementById('Sort').onclick = function () {
            var ganttObj = document.getElementById("SortingAPI").ej2_instances[0];
            var columnName = Columns.value;
            var sortType = Direction.value;
            ganttObj.sortModule.sortColumn(columnName, sortType, false);
        };
        document.getElementById('Clear').onclick = function () {
            var ganttObj = document.getElementById("SortingAPI").ej2_instances[0];
            ganttObj.clearSorting();
        };
    </script>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            The sorting feature enables you to order data in a particular direction. It can be enabled by setting
            <code>allowSorting</code> to <code>true</code>.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            The sorting feature enables you to order data in a particular direction. It can be enabled by setting the
            <code>allowSorting</code> to true.
        </p>
        <p>
            To sort a Gantt column, click the column header. The icons (ascending) and (descending) specify the sort
            direction of a column.
        </p>
        <p>
            By default, the multi-sorting feature is enabled in Gantt. To sort multiple columns, hold the
            <strong>CTRL</strong> key, and then click the column header. To clear sort for a column, hold the
            <strong>SHIFT</strong> key, and then click the column header.
        </p>
        <p>
            In this demo, select the column and direction from the properties panel, and then click the Sort button. Use the
            Clear button to remove sort for the sorted column.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Sorting API in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                 <title>ASP.NET Core Gantt Sorting API Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for Sorting API in ASP.NET Core Gantt Control</h1>
            }