@using Syncfusion.EJ2.Gantt;
@section ControlsSection{

    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='TooltipTemplate' dataSource="ViewBag.dataSource" height="450px" highlightWeekends="true" allowSelection="true"
                           renderBaseline="true" treeColumnIndex="1" resources="ViewBag.resources" resourceIDMapping="ResourceId" resourceNameMapping="ResourceName"
                           projectStartDate="03/24/2019" projectEndDate="05/04/2019">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate" endDate="EndDate" duration="Duration" progress="Progress" 
                            dependency="Predecessor" resourceInfo="ResourceId" baselineStartDate="BaselineStartDate" baselineEndDate="BaselineEndDate" child="SubTasks">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" width="60"></e-gantt-column>
                        <e-gantt-column field="TaskName" width="250"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="EndDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Predecessor"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                        <e-gantt-column field="BaselineStartDate"></e-gantt-column>
                        <e-gantt-column field="BaselineEndDate"></e-gantt-column>
                        <e-gantt-column field="ResourceId"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-tooltipsettings showTooltip="true" taskbar="#TaskbarTooltip" baseline="#BaselineTooltip"></e-gantt-tooltipsettings>
                    <e-gantt-labelSettings leftLabel="TaskName" rightLabel="ResourceId"></e-gantt-labelSettings>
                    <e-gantt-splittersettings columnIndex="2"></e-gantt-splittersettings>
                </ejs-gantt>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="TaskbarTooltip">
        <table>
            ${if(ganttProperties.resourceNames)}
            <tr>
                <td rowspan="3" style="padding:3px"><img src="../images/Gantt/${ganttProperties.resourceNames}.png" height="40px" /></td>
                <td style="padding:3px">Task done By:</td>
                <td style="padding:3px">${ganttProperties.resourceNames}</td>
            </tr>
            ${/if}
            <tr>
                <td style="padding:3px">Starts On:</td>
                <td style="padding:3px">${this.getFormatedDate(StartDate)}</td>
            </tr>
            <tr>
                <td style="padding:3px">Ends On:</td>
                <td style="padding:3px">${this.getFormatedDate(EndDate)}</td>
            </tr>
        </table>
    </script>
    <script type="text/x-template" id="BaselineTooltip">
        <table>
            <tbody>
                <tr>
                    <td>Planned Start Date: </td>
                    <td>${this.getFormatedDate(BaselineStartDate)}</td>
                </tr>
                <tr>
                    <td>Planned End Date: </td>
                    <td>${this.getFormatedDate(BaselineEndDate)}</td>
                </tr>
                <tr>
                    <td>Current Start Date: </td>
                    <td>${this.getFormatedDate(StartDate)}</td>
                </tr>
                <tr>
                    <td>Current End Date: </td>
                    <td>${this.getFormatedDate(EndDate)}</td>
                </tr>
            </tbody>
        </table>
    </script>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample explains the way of rendering tooltip template for taskbar and baseline by mapping template
            elements to the property of taskbar and baseline in <code>tooltipSettings</code>.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            Tooltip can be enabled or disabled using <code>tooltipSettings.showTooltip</code> property.In this demo, the
            tooltip template is rendered for <code>taskbar</code> and <code>baseline</code> using the
            <code>tooltipSettings.taskbar</code> and <code>tooltipSettings.baseline</code> properties.
        </p>
        <p>
            The baseline feature enables the user to view the deviation between the planned dates and the actual dates of
            the tasks in a project. Baselines can be enabled in Gantt chart by enabling the <code>renderBaseline</code>
            property along
            with mapping the data source values for <code>baselineStartDate</code> and <code>baselineEndDate</code>
            properties.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Tooltip Template in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                 <title>ASP.NET Core Gantt Tooltip Template Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for Tooltip Template in ASP.NET Core Gantt Control</h1>
            }