@using Syncfusion.EJ2.Gantt;
@section ControlsSection{
    @{
        List<object> toolbarItems = new List<object> { "ExpandAll", "CollapseAll" };
        toolbarItems.Add(new { text = "Quick Filter", tooltipText = "Quick Filter", id = "Quick Filter", prefixIcon = "e-quickfilter" });
        toolbarItems.Add(new { text = "Clear Filter", tooltipText = "Clear Filter", id = "Quick Filter" });
    }

    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='ToolbarTemplate' dataSource="ViewBag.dataSource" height="450px" highlightWeekends="true" allowSelection="true" treeColumnIndex="1"
                           allowFiltering="true" toolbar="toolbarItems" toolbarClick="toolbarClick" projectStartDate="03/24/2019" projectEndDate="07/06/2019">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                        endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor" child="SubTasks">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" width="70"></e-gantt-column>
                        <e-gantt-column field="TaskName" width="250"></e-gantt-column>
                        <e-gantt-column field="StartDate"></e-gantt-column>
                        <e-gantt-column field="EndDate"></e-gantt-column>
                        <e-gantt-column field="Duration"></e-gantt-column>
                        <e-gantt-column field="Predecessor"></e-gantt-column>
                        <e-gantt-column field="Progress"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                    <e-gantt-splittersettings columnIndex="2"></e-gantt-splittersettings>
                </ejs-gantt>
            </div>
        </div>
    </div>

    <style>
        .e-gantt .e-quickfilter::before {
            content: '\e7ee';
        }
        .fabric #ToolbarTemplate .e-quickfilter::before,
        .highcontrast #ToolbarTemplate .e-quickfilter::before {
            content: '\e21c';
        }

        .bootstrap #ToolbarTemplate .e-quickfilter::before {
            content: '\e946';
        }

        .bootstrap4 #ToolbarTemplate .e-quickfilter::before {
            content: '\e714';
        }
        .bootstrap5 #ToolbarTemplate .e-quickfilter::before,
        .bootstrap5-dark #ToolbarTemplate .e-quickfilter::before {
            content: '\e7f7';
        } 
        .tailwind #ToolbarTemplate  .e-quickfilter::before {
            content: '\e71b';
        }
        .tailwind-dark #ToolbarTemplate .e-quickfilter::before {
            content: '\e71b';
        }
        .bootstrap-dark #ToolbarTemplate .e-quickfilter::before {
            content: '\e946';
        }
        .fabric-dark #ToolbarTemplate .e-quickfilter::before{
            content: '\e21c';
        }

    </style>

    <script>
        function toolbarClick(args) {
            var ganttObj = document.getElementById("ToolbarTemplate").ej2_instances[0];
            if (args.item.text === 'Quick Filter') {
                ganttObj.filterByColumn('TaskName', 'startswith', 'Identify');
            }
            if (args.item.text === 'Clear Filter') {
                ganttObj.clearFiltering();
            }
        }
    </script>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample explains the way of rendering built-in and custom toolbar items at the same time.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            Custom toolbar items can be added by defining the toolbar as a collection of ItemModels.
            Actions for this customized toolbar items are defined in the <code>toolbarClick</code> event.
        </p>
        <p>
            In this sample, the custom toolbar element <code>Quick Filter</code> and <code>Clear Filter</code> are rendered
            along with predefined toolbar
            items ExpandAll and CollapseAll.
            While clicking the <code>Quick Filter</code> toolbar item, the filtering occurs for
            <code>Task Name</code>column.Filtered column that can be cleared using the <code>Clear Filter</code>
            toolbar item.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Toolbar Template in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Gantt Toolbar Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Toolbar Template in ASP.NET Core Gantt Control</h1>
                }