@using Syncfusion.EJ2.Gantt;
@section ControlsSection{

    <div class="control-section">
        <div class="col-lg-9 control-section">
            <div class="content-wrapper">
                <div id="container">
                    <ejs-gantt id='WorkingTimeRange' dataSource="ViewBag.dataSource" height="450px" highlightWeekends="true"
                               projectStartDate="04/02/2019" projectEndDate="07/06/2019" durationUnit="Hour">
                        <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                            endDate="EndDate" duration="Duration" progress="Progress" dependency="Predecessor"
                                            child="SubTasks">
                        </e-gantt-taskfields>
                        <e-gantt-splitterSettings columnIndex="2"></e-gantt-splitterSettings>
                        <e-gantt-timelineSettings>
                            <e-timelinesettings-toptier unit="Day"></e-timelinesettings-toptier>
                            <e-timelinesettings-bottomtier unit="Hour"></e-timelinesettings-bottomtier>
                        </e-gantt-timelineSettings>
                        <e-gantt-labelSettings leftLabel="TaskName"></e-gantt-labelSettings>
                    </ejs-gantt>
                </div>
            </div>
        </div>
        <div class="col-lg-3 property-section">
            <table id="property" title="Properties" style="width: 100%">
                <colgroup>
                    <col style="width:55%" />
                    <col style="width:45%" />
                </colgroup>
                <tr>
                    <td style="width:55%">
                        <div>Work Start Time</div>
                    </td>
                    <td style="width:70%">
                        <div style="padding-top: 0px">
                            <ejs-numerictextbox id="WorkStartTime" min="0" max="24" value="8" change="updateTime" showSpinButton="true" step="0.5">
                            </ejs-numerictextbox>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:55%">
                        <div>Work End Time</div>
                    </td>
                    <td style="width:45%">
                        <div style="padding-top: 0px">
                            <ejs-numerictextbox id="WorkEndTime" min="0" max="24" value="17" change="updateTime" showSpinButton="true" step="0.5">
                            </ejs-numerictextbox>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        var isTimeUpdated = false;
        function updateTime(args) {
            var defaultDate = "08/08/2016", startDate = new Date(defaultDate), endDate = new Date(defaultDate);
            var workStartTime = document.getElementById("WorkStartTime").ej2_instances[0],
                workEndTime = document.getElementById("WorkEndTime").ej2_instances[0],
                ganttChart = document.getElementById("WorkingTimeRange").ej2_instances[0];
            var decPlace = workStartTime.value - Math.floor(workStartTime.value);
            startDate.setHours(workStartTime.value);
            startDate.setMinutes(decPlace * 60);
            decPlace = workEndTime.value - Math.floor(workEndTime.value);
            endDate.setHours(workEndTime.value);
            endDate.setMinutes(decPlace * 60);

            /*Validate time value and update the time range*/
            if (startDate.getTime() < endDate.getTime() && isTimeUpdated == false) {
                var workingTime = [{ from: workStartTime.value, to: workEndTime.value }];
                ganttChart.dayWorkingTime = workingTime;
                isTimeUpdated = false;
            }
            else {
                isTimeUpdated = true;
                workStartTime.value = ganttChart.dayWorkingTime[0].from;
                workEndTime.value = ganttChart.dayWorkingTime[ganttChart.dayWorkingTime.length - 1].to;
            }
            isTimeUpdated = false;
        }
    </script>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the support for changing the working hours in a day. The selected start and end hours from the property panel will be applied to each task available in the project.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, you can see how to render a Gantt chart with the provided data source and customizable working hours in a day. You can split the working hours in a day to one or more range. So, You can also provide the <code>dayWorkingTime</code> property value as array of object collection. Gantt chart also supports different <code>durationUnit</code> values as follows:
            <li><code>day</code></li>
            <li><code>hour</code></li>
            <li><code>minute</code></li>
        </p>
        <p>
            Given duration in dataSource will be considered with this unit. In this demo, the <code>hour</code> unit is used to render taskbars in day hour timeline mode. Gantt chart supports only 24hours format as of now. The working hours will differ between organizations. This feature will be helpful to keep track of each task and resource task status based on the working time of company.
        </p>
        <br />
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Working Time Range in ASP.NET Core Gantt control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Gantt Working Time Range Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Working Time Range in ASP.NET Core Gantt Control</h1>
                }