@page
@model EJ2CoreSampleBrowser.Pages.Button.CheckBoxFor

@{
    ViewData["Title"] = "CheckboxFor";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div class="checkbox-control">
            <form method="post">
                <ejs-checkbox id='checkboxfor' label="Terms and Conditions" ejs-for='@Model.model.check'></ejs-checkbox>
                <span id="error-message" asp-validation-for="@Model.model.check"></span>
                <ejs-button id="submit-button" content="Submit"></ejs-button>
            </form>
        </div>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the CheckBox in ASP.NET Core Button control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>Click the submit button to post the current state of the CheckBox. When submitting the unchecked CheckBox, validation error message will be shown by using Data Annotation.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            This sample demonstrates For extensions tag helper support in CheckBox. You can bind model property to the CheckBox by adding an attribute `ejs-for` and assign model property to it.
            While submitting form, the model property will be based on <code>checked</code> state of the CheckBox.
        </p>
        <p>
            More information about CheckBox can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/check-box/getting-started" aria-label="Navigate to the documentation for Getting Started with ASP.NET Core CheckBox Control">
                documentation section
            </a>.
        </p>
    </div>
}

@*custom code start*@
<style>
    .control-section {
        text-align: center;
    }

    .checkbox-control {
        width: 260px;
        margin: 0 auto;
        margin-top: 10%;
    }

    #error-message {
        color: red;
        display: block;
        margin: 10px 0;
    }
</style>
@*custom code end*@
@section Title{
                    <title>ASP.NET Core Button CheckBox Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of CheckBox in ASP.NET Core Button Control</h1>
                }