@page
@model EJ2CoreSampleBrowser_NET8.Pages.Button.RadioButtonFor

@{
    ViewData["Title"] = "RadioButtonFor";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div class="radio-control">
        <form method="post">
            <h4 class="row">Select the Gender</h4>
            <div class="row">
                <ejs-radiobutton id="radio1" label="Male" value="male" ejs-for="@Model.model.gender"></ejs-radiobutton>
            </div>
            <div class="row">
                <ejs-radiobutton id="radio2" label="Female" value="female" ejs-for="@Model.model.gender"></ejs-radiobutton>
            </div>
            <span id="error-message" asp-validation-for="@Model.model.gender"></span>
            <ejs-button id="submit-button" content="Submit"></ejs-button>
            </form>
        </div>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the RadioButton in ASP.NET Core Button control. Explore here for more details."/>
                }
@section ActionDescription{
<div id="action-description">
    <p>Click the submit button to post the value of the selected RadioButton. When submitting the female RadioButton, validation error message will be shown by using Data Annotation.</p>
</div>
    }

@section Description{
<div id="description">
    <p>
        This sample demonstrates For extensions tag helper support in RadioButton. You can bind model property to the RadioButton by adding an attribute `ejs-for` and assign model property to it.
        While submitting form, the model property will be based on <code>value</code> of the selected RadioButton.
    </p>
    <p>
    <p>
        More information about RadioButton can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/radio-button/getting-started" aria-label="Navigate to the documentation for getting started with ASP.NET Core RadioButton control.">
            documentation section
        </a>.
    </p>
</div>
}

@*custom code start*@
<style>
.radio-control {
        width: 165px;
        margin: 0 auto;
        margin-top: 6%;
    }
    .control-section .row {
        margin: 20px 0;
    }

    .e-bigger .radio-control h4 {
        font-size: 20px;
    }

    #error-message {
        color: red;
        display: block;
        margin: 10px 0;
    }
</style>
@*custom code end*@
@section Title{
                    <title>ASP.NET Core Button RadioButton Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of RadioButton in ASP.NET Core Button Control</h1>
                }