@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div id='local-data'>
            <div class='control-wrapper'>
                <h4> Local Data</h4>
                <ejs-multiselect id="local" placeholder="Select games" dataSource="@ViewBag.localdata">
                    <e-multiselect-fields text="Game" value="Id"></e-multiselect-fields>
                </ejs-multiselect>
            </div>
        </div>
        <div id='remote-data'>
            <div class='control-wrapper'>
                <h4>Remote Data</h4>
                <ejs-multiselect id="remote" placeholder="Select names" query="@ViewBag.query"
                                sortOrder="@ViewBag.sort">
                    <e-data-manager adaptor="WebApiAdaptor" url="https://ej2services.syncfusion.com/production/web-services/api/Employees" crossDomain="true"></e-data-manager>
                    <e-multiselect-fields text="FirstName" value="EmployeeID"></e-multiselect-fields>
                </ejs-multiselect>
            </div>
        </div>
    </div>
    <style>
        .control-fluid, .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }
        
        .control-content .control-section{
            border-width: 0px !important;
        }

        .control-section .control-wrapper {
            width: 80%;
            margin: 0 auto;
            min-width: 185px;
            padding-top: 15px;
        }

        .e-bigger .control-section .control-wrapper {
            width: 100%;
        }

        .e-multi-select-wrapper .e-chips > .e-chipcontent {
            max-width: 80%;
            white-space: nowrap;
        }
    </style>

}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the different data binding supports of the MultiSelect. Click the MultiSelect element and choose
            one or more items from the suggestion list. At the very first time, when clicked on the remote data MultiSelect,
            the loader icon will be shown until the remote request get the data from server and display it.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The MultiSelect loads the data either from local data sources or remote data services through the
            <code>dataSource</code> property. It supports the data type of
            <code>array</code> or
            <code>DataManager</code>.
        </p>
        <p>
            The DataManager, that act as an interface between service endpoint and MultiSelect, will require the following minimal
            information to interact with service endpoint properly.
        </p>
        <ul>
            <li>
                <code>DataManager->url</code> - Defines the service endpoint to fetch data.
            </li>
            <li>
                <code>DataManager->adaptor</code> - Defines the adaptor option. By default,
                <code>ODataAdaptor</code> is used for remote binding.
            </li>
        </ul>
        <p>
            Adaptor is responsible for processing response and request from/to the service endpoint.
            <code>syncfusion/ejs-data</code> package provides some predefined adaptors that are designed to interact with particular service endpoints. They
            are:
        </p>
        <ul>
            <li>
                <code>UrlAdaptor</code> - Use this to interact any remote services.
            </li>
            <li>
                <code>ODataAdaptor</code> - Use this to interact with OData endpoints.
            </li>
            <li>
                <code>ODataV4Adaptor</code> - Use this to interact with OData V4 endpoints.
            </li>
            <li>
                <code>WebApiAdaptor</code> - Use this to interact with Web API created under OData standards.
            </li>
            <li>
                <code>WebMethodAdaptor</code> - Use this to interact with web methods.
            </li>
        </ul>
        <p>
            In this sample, the local data is bound to a collection of sports data and the remote data is bound to a collection of
            customer data as an instance of
            <code>DataManager</code>.
        </p>
        <p>
            More information on the data binding feature configuration can be found in the
            <a href="http://ej2.syncfusion.com/aspnet/documentation/?syntax=tag" target="_blank"> documentation section</a>.
        </p>
    </div>
}