@using Syncfusion.EJ2
@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div class="control-wrapper">
            <h4>Diacritics Filtering</h4>
            <ejs-multiselect id="list" dataSource="@ViewBag.data" placeholder="e.g: gul" ignoreAccent="true" allowFiltering="true"></ejs-multiselect>
        </div>
    </div>
    <style>
        .control-fluid, .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }

        .control-content .control-section{
            border-width: 0px !important;
        }
        
        .control-section .control-wrapper {
            width: 80%;
            margin: 0 auto;
            min-width: 185px;
        }

        .e-bigger .control-section .control-wrapper {
            width: 100%;
        }
    </style>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Diacritics Filtering in ASP.NET Core MultiSelect Dropdown control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the diacritics filter functionality of the MultiSelect. Type  the characters ‘gul’ in the MultiSelect element and  it displays the suggestion list ignoring the diacritics lists.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
        The MultiSelect filtering will ignore the <a href="https://en.wikipedia.org/wiki/Diacritic" target="_blank"> diacritics </a> which  makes it easier to filter the results in international characters lists when the <code>ignoreAccent</code> is enabled.
        </p>

        <p>This sample illustrates using the international characters data.</p>
    </div>
}
@section Title{
                    <title>ASP.NET Core MultiSelect Dropdown Diacritics Filtering Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Diacritics Filtering in ASP.NET Core MultiSelect Dropdown Control</h1>
                }