@using Syncfusion.EJ2
@using Newtonsoft.Json
@{
    var data = new Countries().CountriesList();
    var query = "new ej.data.Query()";
}
@section ControlsSection{
    <div class="col-lg-12 control-section" style="height: 400px;">
        <div class='control-wrapper'>
            <h4>Filtering</h4>
            <ejs-multiselect id="list" placeholder="Select countries" query="@query" dataSource="@data"
                            allowFiltering="true" filtering="onFiltering">
                <e-multiselect-fields text="Name" value="Code"></e-multiselect-fields>
            </ejs-multiselect>
        </div>
    </div>
    <style>
        .control-fluid, .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }

        .control-content .control-section{
            border-width: 0px !important;
        }

        .control-section .control-wrapper {
            width: 80%;
            margin: 0 auto;
            min-width: 185px;
            padding-top: 15px
        }

        .e-bigger .control-section .control-wrapper {
            width: 100%;
        }

        .e-multi-select-wrapper .e-chips > .e-chipcontent {
            max-width: 80%;
            white-space: nowrap;
            line-height: normal;
        }
    </style>
    <script type="text/javascript">
        function onFiltering(e) {
            var query = new ej.data.Query();
            // frame the query based on search string with filter type.
            query = (e.text !== '') ? query.where('Name', 'startswith', e.text, true) : query;
            // pass the filter data source, filter query to updateData method.
            e.updateData(@Html.Raw(JsonConvert.SerializeObject(data)), query);
        }
    </script>


}

@section Meta{
                    <meta name="description" content="This example demonstrates the Filtering in ASP.NET Core MultiSelect Dropdown control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the filtering functionalities of the MultiSelect. Type a character in the MultiSelect element
            and choose one or more items from the
            <code>filtered</code> list.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The MultiSelect has built-in support to filter the data source when
            <code>allowFiltering</code> is enabled. It performs when characters are typed in the component. In
            <code>filtering</code> event, you can filter down the data source and return the resulted data to MultiSelect via
            <code>updateData</code> method to display its list items.
        </p>
        <p>
            This sample illustrates that, query the data source and pass the resulted data to MultiSelect through the
            <code>updateData</code> method in
            <code>filtering</code> event.
        </p>
        <p>
            More information on the filtering feature configuration can be found in the
            <a href="https://ej2.syncfusion.com/aspnetcore/documentation/multi-select/filtering/" target="_blank"> documentation section</a>.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core MultiSelect Dropdown Filtering Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Filtering in ASP.NET Core MultiSelect Dropdown Control</h1>
                }