@using Syncfusion.EJ2
@{
    var groupdata = new Vegetables().VegetablesList();
}
@section ControlsSection{
    <div class="control-section">
        <div class="control-wrapper">
            <h4>Grouping</h4>
            <ejs-multiselect id="group" placeholder="Select a vegetables" dataSource="@groupdata">
                <e-multiselect-fields groupBy="Category" text="Vegetable" value="Id"></e-multiselect-fields>
            </ejs-multiselect>
        </div>
    </div>
    <style>
        .control-fluid, .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }

        .control-content .control-section{
            border-width: 0px !important;
        }

        .e-rtl .e-dropdownbase .e-fixed-head  {
            left: auto;
        }

        .e-popup.e-multi-select-list-wrapper.e-rtl .e-dropdownbase.e-rtl.e-dd-group .e-list-item {
            padding-right: 2em !important;
        }

        .material-dark .e-list-icon,
        .material3-dark .e-list-icon,
        .bootstrap5-dark .e-list-icon,
        .fabric-dark .e-list-icon,
        .bootstrap-dark .e-list-icon,
        .tailwind-dark .e-list-icon,
        .fluent-dark .e-list-icon,
        .highcontrast .e-list-icon {
           color: #fff;
        }

    </style>
    <link href="../css/multiselect/grouping.css" rel="stylesheet" />

}
@section Meta{
                    <meta name="description" content="This example demonstrates the Grouping in ASP.NET Core MultiSelect Dropdown control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the grouping supports of the MultiSelect. Type a character in the MultiSelect element
            or click on this element to choose one or more items from the categorized list.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The MultiSelect allows to group the relevant items under a corresponding category by mapping the
            <code>groupBy</code> field, and allows to load the list items.
        </p>

        <p>The grouping sample illustrates how the vegetables are grouped based on its category.</p>

        <p>
            More information on the grouping feature configuration can be found in the
            <a href="https://ej2.syncfusion.com/aspnetcore/documentation/multi-select/grouping/" target="_blank "aria-label="Documentation section" > Documentation section</a>.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core MultiSelect Dropdown Grouping Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Grouping in ASP.NET Core MultiSelect Dropdown Control</h1>
                }