@using Syncfusion.EJ2
@*@model directive allows you to access the model values*@
@model EJ2CoreSampleBrowser.Controllers.MultiselectValue
@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div class="control-wrapper">
            <div style='padding-top:70px;'>
                <form method="post">
                    <ejs-multiselect id="multiselectfor" name="val" dataSource="@Model.data" placeholder="e.g. Basketball" ejs-for="@Model.val"></ejs-multiselect>
                    <div id="errorMessage">
                        <span asp-validation-for="val"></span>
                    </div>
                    <div id="submitbutton">
                        <ejs-button id="submitButton" content="Submit"></ejs-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<style>

    .control-wrapper {
        margin: 0 auto;
        width: 250px;
    }

    #submitbutton {
        margin: 10px auto;
        text-align: center;
    }

    #errorMessage {
        color: red;
        text-align: center
    }
</style>

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the strongly-typed extension support in <code>Multiselect</code>. The value of Multiselect is set from code behind and it is set to Multiselect in view page by invoking the strongly-typed MultiSelectFor helper.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            Click the submit button to post the selected value in the Multiselect. When posting the null value, validation error message will be shown below the Multiselect.
        </p>
    </div>
}