@using Syncfusion.EJ2
@section ControlsSection{
    <div class="col-lg-12 control-section" style="height: 400px;">
        <div class='control-wrapper'>
            <h4>Template</h4>
            <ejs-multiselect id="template" dataSource="@ViewBag.data" placeholder="Select an employees"
                            headerTemplate="@Html.Raw("<div class=\"header\"> <span>Photo</span> <span style=\"margin-left:17px\" class=\"info\">Employee Info</span></div>)")"
                            itemTemplate="@Html.Raw("<div><img class=\"empImage\" src=\"../css/dropdownlist/images/Employees/${Eimg}.png\" alt=\"employee\"/><div class=\"ename\"> ${Name} </div><div class=\"job\">  ${Designation} </div></div>")"
                            valueTemplate="@Html.Raw("<div style=\"width:100%;height:100%;\"><img class=\"value\" src=\"../css/dropdownlist/images/Employees/${Eimg}.png\" height=\"26px\" width=\"26px\" alt=\"employee\"/><div class=\"name\"> ${Name} </div></div>")"
                            mode="Box">
                <e-multiselect-fields text="Name"></e-multiselect-fields>
            </ejs-multiselect>
        </div>
    </div>
    <style>
        .control-fluid,.container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }
        .control-section .control-wrapper {
            width: 80%;
            margin: 0 auto;
            min-width: 185px;
            padding-top: 15px;
        }

        .e-bigger .control-section .control-wrapper {
            width: 100%;
        }

        .header {
            font-weight: 600;
            color: rgba(0, 0, 0, .54);
            height: 48px;
            padding: 15px 0 0 16px;
            font-size: 16px;
            background-color: #f5f5f5;
        }

        .fabric .header {
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            color: #0078d7;
            font-weight: 400;
        }

        .bootstrap .header {
            background-color: #f5f5f5;
            border-bottom: 1px solid #ccc;
            color: #777;
            font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
            font-weight: 600;
            font-size: 15px;
            height: 48px;
            padding: 15px 0 0 16px;
        }

        .e-bigger.bootstrap .header {
            height: 44px;
            font-size: 13px;
        }

        .highcontrast .header {
            color: #fff;
            background-color: #000;
        }

        .bootstrap4 .header {
            color: #6c757d;
        }

        .ename {
            display: block !important;
            font-size: 16px;
            margin-top: 8px;
        }

        .name {
            padding: 3px 28px;
            line-height: 1.2em;
        }

        .job {
            font-size: 14px;
            margin-top: -15px;
            margin-bottom: 7px;
        }

        .bootstrap .job {
            font-size: 14px;
            margin-top: 0px;
            margin-bottom: 7px;
        }

        .e-bigger.bootstrap .job {
            font-size: 14px;
            margin-top: -15px;
            margin-bottom: 7px;
        }

        .empImage {
            margin: 6px 16px;
            size: 50px;
            float: left;
        }

        .value {
            border-radius: 50%;
            float: left;
            margin-top: 14px;
            position: relative;
            left: 0px;
            height: 24px;
            width: 24px;
        }

        .highcontrast .value {
            margin-top: 0px;
        }

        .highcontrast .name {
            padding: 3px 28px;
        }

        .bootstrap .value {
            left: -9px;
            height: 28px;
            width: 28px;
            margin-top: 18px;
        }

        .fabric .value {
            margin-top: 20px;
        }

        .material .name {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 0 0 30px;
            bottom: 19px;
            position: relative;
            margin-right: -16px;
        }

        .bootstrap .name {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 1px 0 0 26px;
            bottom: 23px;
            position: relative;
            margin-right: -24px;
        }

        .e-bigger .value {
            margin-top: 0px;
            height: 30px;
            width: 30px;
        }

        .e-bigger.fabric .value {
            margin-top: 2px;
        }

        .e-bigger.material .value {
            margin-top: 17px;
        }

        .e-bigger .name {
            padding: 0 0 0 36px;
            bottom: 24px;
            width: 121px;
        }

        .e-bigger.highcontrast .name {
            padding: 5px 0 0 36px;
            bottom: 24px;
            width: 121px;
        }


        .fabric .name {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 0 3px 30px;
            position: relative;
            bottom: 21px;
            margin-right: -23px;
        }

        .fabric.e-bigger .name {
            padding: 7px 0 0 32px;
            width: 100%;
            position: relative;
            overflow: initial;
            text-overflow: unset;
            bottom: 0px;
            margin-right: -6px;
        }

        .bootstrap.e-bigger .name {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 0 0 29px;
            position: relative;
            bottom: 23px;
            margin-right: -24px;
        }
        .tailwind .name {
            padding: 5px 28px;
        }
        .tailwind.e-bigger .name {
            padding: 7px 0 0 32px;
        }
        .tailwind .value {
            margin-top: 1px;
        }
        .tailwind.e-bigger .value {
            margin-top: 0px;
        }
        
        .bootstrap.e-bigger .value {
            left: -9px;
            margin-top: 17px;
        }

        .e-bigger .value {
            position: relative;
        }

        #template_popup.e-popup .e-list-item * {
            display: block;
            text-indent: 0;
        }

        .e-bigger #template_popup .e-dropdownbase .e-list-item {
            line-height: 42px;
            height: 80px;
        }

        .e-bigger #template_popup.e-popup .empImage {
            margin: 10px 16px;
        }

        .e-multi-select-wrapper .e-chips {
            max-width: 166px;
            overflow: hidden;
        }

        .e-multi-select-wrapper .e-chips {
            padding: 0 4px 0 0px
        }

        .e-multi-select-wrapper .e-chips.e-mob-chip.e-chip-selected {
            padding: 0 0 0 0px;
        }

        .bootstrap.e-bigger .e-chips.e-mob-chip.e-chip-selected .value {
            left: 0px;
        }

        .material.e-bigger .name {
            padding: 2px 0 0 36px;
            bottom: 24px;
            width: 100%;
            position: relative;
        }

        .material.e-bigger .e-chips.e-mob-chip.e-chip-selected .name {
            left: 0px;
            width: 110px;
            position: relative;
        }

        .fabric .e-multi-select-wrapper .e-chips.e-mob-chip.e-chip-selected .e-chips-close.e-icon {
            left: 0px;
        }
        .control-content .control-section{
            border-width: 0px !important;
        }
       .bootstrap4 .value {
            margin-left: -4px;
            height: 22px;
            width: 22px;
            margin-top: 1px;
        }

        .bootstrap4 .name {
            padding: 3px 22px;
            line-height: 1.5em;
            margin-top: 1px;
        }

        .bootstrap4 #template_popup.e-popup .empImage {
            margin: 1px 16px;
        }

        .bootstrap4 #template_popup.e-popup .job {
            margin-top: 0;
        }

        .e-bigger.bootstrap4 #template_popup.e-popup .job {
            margin-top: -15px;
        }
        .tailwind #template_popup.e-popup .job {
            margin-top: -7px;
            margin-bottom: 5px;
        }   

        .e-bigger.tailwind #template_popup.e-popup .job {
            margin-top: -15px;
            margin-bottom: 5px;
        }

        .e-bigger.bootstrap4 .value {
            margin-top: 1px;
            height: 26px;
            width: 26px;
            margin-left: -6px;
        }

        .bootstrap4.e-bigger .name {
            padding: 0 0 0 25px;
            line-height: 2.0em;
            margin-top: 0px;
        }

        .bootstrap5 #template_popup.e-popup .job,
        .bootstrap-dark #template_popup.e-popup .job,
        .bootstrap5-dark #template_popup.e-popup .job,
        .tailwind-dark #template_popup.e-popup .job {
            margin-top: 0;
        }
        .e-bigger.bootstrap5 #template_popup.e-popup .job,
        .e-bigger.bootstrap-dark #template_popup.e-popup .job,
        .e-bigger.bootstrap5-dark #template_popup.e-popup .job,
        .e-bigger.tailwind-dark #template_popup.e-popup .job {
            margin-top: -15px;
        }
        .fluent-dark .header {
            background: #252423;
            color: #2899F5;
        }

        .bootstrap5-dark .header {
            background: #343A40;
            color: #7B848D;
        }

        .fluent .header {
            color: #2899F5;
        }

        .tailwind-dark .header {
            background: #374151;
            color: rgb(255, 255, 255);
        }

        .material-dark .header {
            background: rgb(66, 66, 66);
            color: rgb(255, 255, 255);
        }

        .fabric-dark .header {
            background: rgb(40, 39, 39);
            color: rgb(255, 255, 255);
        }

        .bootstrap-dark .header {
            background: rgb(49, 49, 49);
            color: rgb(255, 255, 255);
        }
        .fluent .e-multi-select-wrapper .e-chips,
        .fluent-dark .e-multi-select-wrapper .e-chips {
            padding: 0px 10px 0 4px;
        }
        
        .fluent .value,
        .fluent-dark .value {
            margin-top: 0;
        }
        
        .e-bigger.fluent .name,
        .e-bigger.fluent-dark .value .name {
            line-height: 2em;
        }
    </style>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Template in ASP.NET Core MultiSelect Dropdown control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the template functionalities of the MultiSelect. Type a character in the MultiSelect element
            or click on this element to choose one or more items from the customized list.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The MultiSelect has been provided with several options to customize each list items, group title, selected value, header
            and footer elements.
        </p>

        <p>This sample uses the following list of templates in MultiSelect.</p>
        <ul>
            <li>
                <code>ItemTemplate</code> - To customize the list item's content.
            </li>
            <li>
                <code>ValueTemplate</code> - To customize the value element content that holds the selected item's text.
            </li>
            <li>
                <code>HeaderTemplate</code> - To customize the header element.
            </li>
        </ul>
        <p>
            More information on the template feature configuration can be found in the
            <a href="https://ej2.syncfusion.com/aspnetcore/documentation/multi-select/templates/" target="_blank"> documentation section</a>.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core MultiSelect Dropdown Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Template in ASP.NET Core MultiSelect Dropdown Control</h1>
                }