@using Syncfusion.EJ2
@using Syncfusion.EJ2.Layouts

@{
    List<TimelineItem> items = new List<TimelineItem>();
    items.Add(new TimelineItem { Content = "Ordered \n 9:15 AM, January 1, 2024", DotCss = "state-success", CssClass = "completed" });
    items.Add(new TimelineItem { Content = "Shipped \n 12:20 PM, January 4, 2024", DotCss = "state-success", CssClass = "completed" });
    items.Add(new TimelineItem { Content = "Out for delivery \n 07:00 AM, January 8, 2024", DotCss = "state-progress", CssClass = "intermediate" });
    items.Add(new TimelineItem { Content = "Delivered \n Estimated delivery by 09:20 AM" });
}

@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div class="default-timeline-section">
            <ejs-timeline id="default">
                <e-timeline-items>
                    @for (int i = 0; i < items.Count; i++)
                    {
                        <e-timeline-item content="@items[i].Content" cssClass="@items[i].CssClass" dotCss="@items[i].DotCss"></e-timeline-item>
                    }
                </e-timeline-items>
            </ejs-timeline>
        </div>
    </div>
}

<style>
    /* Customized dot color */
    .default-timeline-section .state-progress {
        outline-color: #007bff;
        background-color: #007bff;
        --dot-size: 25px;
    }

    .default-timeline-section .state-success {
        outline-color: #28a745;
        background-color: #28a745;
    }

    /* Customized connector color */
    .default-timeline-section .completed.e-connector::after {
        border-color: #28a745;
    }

    .default-timeline-section .intermediate.e-connector::after {
        border-style: dashed;
    }

    .default-timeline-section {
        height: 350px;
        width: 520px;
        margin: 30px auto 30px calc(50% - 350px);
    }
</style>

@section Meta{
    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Timeline Control. Explore here for more details." />
}
@section ActionDescription{
<div id="action-description">
    <p>This sample demonstrates the default functionalities of the Timeline control including the highlighted customization.</p>
</div>
}
@section Description{
<div id="description">
    <p>
        The Timeline control enables users to display a series of data in chronological order, such as user activities, tracking progress, and more.
        In this example, we have used the <code>content</code> property to display the item's content, <code>dotCss</code> property to customize the dot with background color and <code>cssClass</code> to customize the last connector as dashed style.
    </p>
</div>
}
@section Title{
    <title>ASP.NET Core Timeline DefaultFunctionalities Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Timeline Control</h1>
}
