@section ControlsSection{
    @{
        var labelFont = new Syncfusion.EJ2.LinearGauge.LinearGaugeLabel { Font = new Syncfusion.EJ2.LinearGauge.LinearGaugeFont { FontFamily = "inherit" } };
        var titleStyle = new Syncfusion.EJ2.LinearGauge.LinearGaugeTitleStyleLinearGauge { FontFamily = "inherit", FontWeight = "499" };
    }
    <div class="control-section">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12"
             style="display: flex;justify-content: center; align-items: center;">
                <div style="margin: auto;padding: 10px;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div id='horizontal' style="padding:6px;cursor:pointer;width:86px;color:black;font-size:15px;border:1px solid #0074E3;background-color:white;text-align:center">
                                        Horizontal
                                    </div>
                                </td>
                                <td>
                                    <div id='vertical' style="padding:6px;cursor:pointer;width:86px;color:white;font-size:15px;border:1px solid #0074E3;background-color: #0074E3;text-align:center">
                                        Vertical
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <pre style="background-color: inherit; border:hidden"></pre>
        <div id="containerBox" style="float: left;padding: 4%;"></div>
        <div id='containerOutside' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load="gaugeLoad" id='outsideBar' Background='Transparent' Title='Outside'
                         TitleStyle='titleStyle' Width='150px' Height='350px' style='display:block;' orientation='Vertical'>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true" labelStyle="labelFont">
                        <e-axis-majorticks Interval="20" Height="7" Width="1"></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3"></e-axis-minorticks>
                        <e-axis-line Width="5"></e-axis-line>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Type="Bar" Value="70" Color="#0074E3" Height=5 Width=5 AnimationDuration=1500 Position=Outside Placement=Near></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
        <div id='containerCross' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load="gaugeLoad" id='crossBar' Background='Transparent' Title='Cross'
                         TitleStyle='titleStyle' Width='150px' Height='350px' style='display:block;' orientation='Vertical'>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true" labelStyle="labelFont">
                        <e-axis-majorticks Interval="20" Height="7" Width="1"></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3"></e-axis-minorticks>
                        <e-axis-line Width="5"></e-axis-line>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Type="Bar" Value="70" Color="#0074E3" Height=5 Width=5 AnimationDuration=1500 Position=Cross Placement=Near></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
        <div id='containerInside' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load="gaugeLoad" id='insideBar' Title='Inside' TitleStyle='titleStyle'
                         Width='150px' Height='350px' style='display:block;' Background='Transparent' orientation='Vertical'>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true" labelStyle="labelFont">
                        <e-axis-majorticks Interval="20" Height="7" Width="1"></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3"></e-axis-minorticks>
                        <e-axis-line Width="5"></e-axis-line>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Type="Bar" Value="70" Color="#0074E3" Height=5 Width=5 AnimationDuration=1500 Position=Inside Placement=Near></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
        <div id='containerGradient' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load="gaugeLoad" id='gradientBar' Title='Gradient shader'
                         TitleStyle='titleStyle' Width='150px' Height='350px' style='display:block;' Background='Transparent'
                         orientation='Vertical'>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true" labelStyle="labelFont">
                        <e-axis-majorticks Interval="20" Height="7" Width="1"></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3"></e-axis-minorticks>
                        <e-axis-line Width="5"></e-axis-line>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Type="Bar" Value="70" Color="#0074E3" Offset="2" Height=5 Width=5 AnimationDuration=1500 Position=Outside Placement=Near ></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
        <div id='containerMultiple' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load="gaugeLoad" id='multipleBar' Title='Multiple bar pointers'
                         TitleStyle='titleStyle' Width='150px' Height='350px' style='display:block;' Background='Transparent'
                         orientation='Vertical'>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true" labelStyle="labelFont">
                        <e-axis-majorticks Interval="20" Height="7" Width="1"></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3"></e-axis-minorticks>
                        <e-axis-line Width="5"></e-axis-line>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Type="Bar" Value="10" Color="#0074E3" Height=5 Width=5 AnimationDuration=1500 Position=Inside Placement=Near></e-lineargauge-pointer>
                            <e-lineargauge-pointer Type="Bar" Value="70" Color="red" Height=5 Width=5 AnimationDuration=1500 Position=Outside Placement=Near></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
    </div>
    <!-- custom code start -->
    <style>
        .control-section {
            min-height: 450px;
        }
    </style>
    <!-- custom code end -->
}

<script>
    var outsideBarGauge, crossBarGauge, insideBarGauge, gradientBarGauge, multipleBarGauge;
    var pointerLinearGradient = {
        startValue: '0%',
        endValue: '100%',
        colorStop: [
            { color: '#FB7D55', offset: '0%', opacity: 1 },
            { color: '#ECC85B', offset: '50%', opacity: 1 },
            { color: '#6FC78A', offset: '100%', opacity: 1 }]
    };

    window.gaugeLoad = function (args) {
    @* custom code start *@
        var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
    @* custom code end *@
        args.gauge.animationDuration = 3000;
        if (args.gauge.element.id === 'outsideBar') {
            outsideBarGauge = args.gauge;
        }
        if (args.gauge.element.id === 'crossBar') {
            crossBarGauge = args.gauge;
        }
        if (args.gauge.element.id === 'insideBar') {
            insideBarGauge = args.gauge;
        }
        if (args.gauge.element.id === 'gradientBar') {
            gradientBarGauge = args.gauge;
            gradientBarGauge.axes[0].pointers[0].linearGradient = pointerLinearGradient;
        }
        if (args.gauge.element.id === 'multipleBar') {
            multipleBarGauge = args.gauge;
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('horizontal').addEventListener('click', function () {
            outsideBarGauge.width = crossBarGauge.width = insideBarGauge.width = gradientBarGauge.width = multipleBarGauge.width = '450px';
            outsideBarGauge.height = crossBarGauge.height = insideBarGauge.height = gradientBarGauge.height = multipleBarGauge.height = '150px';
            outsideBarGauge.orientation = crossBarGauge.orientation = insideBarGauge.orientation = gradientBarGauge.orientation = multipleBarGauge.orientation = "Horizontal";
            document.getElementById('horizontal').style.color = "white";
            document.getElementById('horizontal').style.backgroundColor = "#0074E3";
            document.getElementById('vertical').style.color = "black";
            document.getElementById('vertical').style.backgroundColor = "white";
            document.getElementById('containerOutside').className = document.getElementById('containerCross').className =
                document.getElementById('containerInside').className = document.getElementById('containerGradient').className =
                document.getElementById('containerMultiple').className = "col-xs-12 col-sm-12 col-lg-12 col-md-12";
                document.getElementById('containerBox').style.padding = "0%";

        });
        document.getElementById('vertical').addEventListener('click', function () {
            outsideBarGauge.width = crossBarGauge.width = insideBarGauge.width = gradientBarGauge.width = multipleBarGauge.width = '150px';
            outsideBarGauge.height = crossBarGauge.height = insideBarGauge.height = gradientBarGauge.height = multipleBarGauge.height = '350px';
            outsideBarGauge.orientation = crossBarGauge.orientation = insideBarGauge.orientation = gradientBarGauge.orientation = multipleBarGauge.orientation = "Vertical";
            document.getElementById('vertical').style.color = "white";
                document.getElementById('vertical').style.backgroundColor = "#0074E3";
            document.getElementById('horizontal')['style']['color'] = "black";
            document.getElementById('horizontal')['style']['backgroundColor'] = "white";
            document.getElementById('containerOutside').className = document.getElementById('containerCross').className =
                document.getElementById('containerInside').className = document.getElementById('containerGradient').className =
                document.getElementById('containerMultiple').className = "col-xs-4 col-sm-4 col-lg-2 col-md-2";
                document.getElementById('containerBox').style.padding = "4%";

        });
    });

</script>

@section Meta{
    <meta name="description" content="This example demonstrates the Bar Pointer in ASP.NET Core LinearGauge control. Explore here for more details." />
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample shows the various bar pointer shapes available in the linear gauge. Additionally, multiple bar pointer and animation support are enabled.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render and configure bar pointer in the linear gauge. The
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.LinearGauge.LinearGaugePointer.html">e-lineargauge-pointer</a> collection is useful for displaying multiple pointers. The properties available in
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.LinearGauge.LinearGaugePointer.html">e-lineargauge-pointer</a> help in the customization of the bar pointer in the linear gauge.
        </p>
        <p>
            More information on the bar pointer can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/linear-gauge/pointers#bar-pointer">documentation section</a>.
        </p>
    </div>
}
@section Title{
    <title>ASP.NET Core LinearGauge Bar Pointer Example - Syncfusion Demos </title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of Bar Pointer in ASP.NET Core LinearGauge Control</h1>
                }