@section ControlsSection{
    @{
        var labelFont = new Syncfusion.EJ2.LinearGauge.LinearGaugeLabel { Font = new Syncfusion.EJ2.LinearGauge.LinearGaugeFont { FontFamily = "inherit", Color = "#F93106" } };
        var labelFont1 = new Syncfusion.EJ2.LinearGauge.LinearGaugeFont { FontFamily = "inherit" };
        var titleStyle = new Syncfusion.EJ2.LinearGauge.LinearGaugeTitleStyleLinearGauge { FontFamily = "inherit", FontWeight = "499" };
    }
    <div class="control-section">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12"
             style="display: flex;justify-content: center; align-items: center;">
                <div style="margin: auto;padding: 10px;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div id='horizontal' style="padding:6px;cursor:pointer;width:86px;color:black;font-size:15px;border:1px solid #0074E3;background-color:white;text-align:center">
                                        Horizontal
                                    </div>
                                </td>
                                <td>
                                    <div id='vertical' style="padding:6px;cursor:pointer;width:86px;color:white;font-size:15px;border:1px solid #0074E3;background-color: #0074E3;text-align:center">
                                        Vertical
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <pre style="background-color: inherit; border:hidden"></pre>
        <div id="containerBox">
            <div id='containerone' class="col-xs-5 col-sm-5 col-lg-3 col-md-3" style="display: flex;justify-content: center; align-items: center;">
                <ejs-lineargauge load="gaugeLoad" id='customLabels' Background='Transparent'
                             Title='Custom labels' TitleStyle='titleStyle' Width='150px' Height='350px' style='display:block;'
                             orientation='Vertical'>
                    <e-lineargauge-axes>
                        <e-lineargauge-axis Minimum="5" Maximum="20" OpposedPosition="true">
                            <e-axis-majorticks Interval="5" Height="7" Width="1"></e-axis-majorticks>
                            <e-axis-minorticks Interval="2.5" Height="3"></e-axis-minorticks>
                            <e-axis-line Width="5"></e-axis-line>
                            <e-axis-labelstyle format="${value}" font=labelFont1></e-axis-labelstyle>
                            <e-lineargauge-pointers>
                                <e-lineargauge-pointer Width=0></e-lineargauge-pointer>
                            </e-lineargauge-pointers>
                        </e-lineargauge-axis>
                    </e-lineargauge-axes>
                </ejs-lineargauge>
            </div>
            <div id='containertwo' class="col-xs-5 col-sm-5 col-lg-3 col-md-3" style="display: flex;justify-content: center; align-items: center;">
                <ejs-lineargauge AxisLabelRender='axisLabelRender' load="gaugeLoad" id='textLabels'
                             Background='Transparent' Title='Text labels' TitleStyle='titleStyle' Width='150px'
                             Height='350px' style='display:block;' Orientation='Vertical'>
                    <e-lineargauge-axes>
                        <e-lineargauge-axis Minimum="5" Maximum="20" OpposedPosition="true">
                            <e-axis-majorticks Interval="5" Height="0"></e-axis-majorticks>
                            <e-axis-minorticks Interval="2.5" Height="0"></e-axis-minorticks>
                            <e-axis-line Width="5"></e-axis-line>
                            <e-axis-labelstyle offset=10 font=labelFont1></e-axis-labelstyle>
                            <e-lineargauge-pointers>
                                <e-lineargauge-pointer Type="Marker" MarkerType="Circle" Value="20" Color="#0DC9AB" Height=15 Width=15 offset="7" Placement=Near></e-lineargauge-pointer>
                                <e-lineargauge-pointer Type="Marker" MarkerType="Circle" Value="15" Color="#0DC9AB" Height=15 Width=15 offset="7" Placement=Near></e-lineargauge-pointer>
                                <e-lineargauge-pointer Type="Marker" MarkerType="Circle" Value="10" Color="#0DC9AB" Height=15 Width=15 offset="7" Placement=Near></e-lineargauge-pointer>
                                <e-lineargauge-pointer Type="Marker" MarkerType="Circle" Value="5" Color="#E5E7EB" Height=15 Width=15 offset="7" Placement=Near></e-lineargauge-pointer>
                            </e-lineargauge-pointers>
                            <e-lineargauge-ranges>
                                <e-lineargauge-range Start="10" End="15" Color="#0DC9AB" StartWidth="5" EndWidth="5"></e-lineargauge-range>
                                <e-lineargauge-range Start="15" End="20" Color="#0DC9AB" StartWidth="5" EndWidth="5"></e-lineargauge-range>
                            </e-lineargauge-ranges>
                        </e-lineargauge-axis>
                    </e-lineargauge-axes>
                </ejs-lineargauge>
            </div>
            <div id='containerthree' class="col-xs-5 col-sm-5 col-lg-3 col-md-3" style="display: flex;justify-content: center; align-items: center;">
                <ejs-lineargauge load="gaugeLoad" id='labelOffset' Title='Label offset'
                             TitleStyle='titleStyle' Width='150px' Height='350px' style='display:block;' Background='Transparent'
                             Orientation='Vertical'>
                    <e-lineargauge-axes>
                        <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true">
                            <e-axis-majorticks Interval="20" Height="7" Width="1"></e-axis-majorticks>
                            <e-axis-minorticks Interval="10" Height="3"></e-axis-minorticks>
                            <e-axis-line Width="5"></e-axis-line>
                            <e-axis-labelstyle Offset=5 font=labelFont1></e-axis-labelstyle>
                            <e-lineargauge-pointers>
                                <e-lineargauge-pointer Width=0></e-lineargauge-pointer>
                            </e-lineargauge-pointers>
                        </e-lineargauge-axis>
                    </e-lineargauge-axes>
                </ejs-lineargauge>
            </div>
            <div id='containerfour' class="col-xs-5 col-sm-5 col-lg-3 col-md-3" style="display: flex;justify-content: center; align-items: center;">
                <ejs-lineargauge load="gaugeLoad" id='labelCustomization'
                             title='Label customization' titleStyle='titleStyle' width='150px' height='350px'
                             style='display:block;' background='Transparent' orientation='Vertical'>
                    <e-lineargauge-axes>
                        <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true" labelStyle="labelFont">
                            <e-axis-majorticks Interval="20" Height="7" Width="1"></e-axis-majorticks>
                            <e-axis-minorticks Interval="10" Height="3"></e-axis-minorticks>
                            <e-axis-line Width="5"></e-axis-line>
                            <e-lineargauge-pointers>
                                <e-lineargauge-pointer Width=0></e-lineargauge-pointer>
                            </e-lineargauge-pointers>
                        </e-lineargauge-axis>
                    </e-lineargauge-axes>
                </ejs-lineargauge>
            </div>
        </div>
    </div>
    <!-- custom code start -->
    <style>
        .control-section {
            min-height: 450px;
        }
    </style>
    <!-- custom code end -->
}

<script>
    var customLabels, textLabels, labelOffset, labelCustomization;
    window.gaugeLoad = function (args) {
    @* custom code start *@
        var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
    @* custom code end *@
        if (args.gauge.element.id === 'customLabels') {
            customLabels = args.gauge;
            args.gauge.animationDuration = 3000;
        }
        if (args.gauge.element.id === 'textLabels') {
            textLabels = args.gauge;
        }
        if (args.gauge.element.id === 'labelOffset') {
            labelOffset = args.gauge;
            args.gauge.animationDuration = 3000;
        }
        if (args.gauge.element.id === 'labelCustomization') {
            labelCustomization = args.gauge;
            args.gauge.animationDuration = 3000;
        }
    }
    
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('horizontal').addEventListener('click', function () {
            customLabels.width = textLabels.width = labelOffset.width = labelCustomization.width = '450px';
            customLabels.height = textLabels.height = labelOffset.height = labelCustomization.height = '150px';
            customLabels.orientation = textLabels.orientation = labelOffset.orientation = labelCustomization.orientation = "Horizontal";
                document.getElementById('horizontal').style.color = "white";
            document.getElementById('horizontal').style.backgroundColor = "#0074E3";
                document.getElementById('vertical').style.color = "black";
                document.getElementById('vertical').style.backgroundColor = "white";
                document.getElementById('containerone').className = document.getElementById('containertwo').className =
                    document.getElementById('containerthree').className = document.getElementById('containerfour').className = "col-xs-12 col-sm-12 col-lg-12 col-md-12";

        });
        document.getElementById('vertical').addEventListener('click', function () {
            customLabels.width = textLabels.width = labelOffset.width = labelCustomization.width = '150px';
            customLabels.height = textLabels.height = labelOffset.height = labelCustomization.height = '350px';
            customLabels.orientation = textLabels.orientation = labelOffset.orientation = labelCustomization.orientation = "Vertical";
               document.getElementById('vertical').style.color = "white";
                document.getElementById('vertical').style.backgroundColor = "#0074E3";
                document.getElementById('horizontal')['style']['color'] = "black";
                document.getElementById('horizontal')['style']['backgroundColor'] = "white";
                document.getElementById('containerone').className = document.getElementById('containertwo').className =
                    document.getElementById('containerthree').className = document.getElementById('containerfour').className = "col-xs-5 col-sm-5 col-lg-3 col-md-3";

        });
    });
    function axisLabelRender(args) {
        if (args.text == "20")
            args.text = "Ordered";
        else if (args.text == "15")
            args.text = "Packed";
        else if (args.text == "10")
            args.text = "Shipped";
        else if (args.text == "5")
            args.text = "Delivered";
        else
            args.text = " ";
    }
</script>

@section Meta{
    <meta name="description" content="This example demonstrates the Labels in ASP.NET Core LinearGauge control. Explore here for more details." />
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the various options for customizing the axis labels, such as styling, formatting, replacing text, and setting offset in the linear gauge.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render and configure axis labels in the linear gauge. The properties in the
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.LinearGauge.LinearGaugeLabel.html">e-axis-labelstyle</a> can be used to style, format, and offset the label, while the label's text can be changed dynamically via the
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.LinearGauge.LinearGauge.html#Syncfusion_EJ2_LinearGauge_LinearGauge_AxisLabelRender">AxisLabelRender</a> event.
        </p>
        <p>
            More information on the axis labels can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/linear-gauge/axis#labels-customization">documentation section</a>.
        </p>
    </div>
}
@section Title{
    <title>ASP.NET Core LinearGauge Labels Example - Syncfusion Demos </title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of Labels in ASP.NET Core LinearGauge Control</h1>
                }