@section ControlsSection{
    @{
        var labelFont = new Syncfusion.EJ2.LinearGauge.LinearGaugeFont { FontFamily = "inherit" };
        var titleStyle = new Syncfusion.EJ2.LinearGauge.LinearGaugeTitleStyleLinearGauge { FontFamily = "inherit", FontWeight = "499" };
    }
    <div class="control-section">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12"
             style="display: flex;justify-content: center; align-items: center;">
                <div style="margin: auto;padding: 10px;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div id='horizontal' style="padding:6px;cursor:pointer;width:86px;color:black;font-size:15px;border:1px solid #0074E3;background-color:white;text-align:center">
                                        Horizontal
                                    </div>
                                </td>
                                <td>
                                    <div id='vertical' style="padding:6px;cursor:pointer;width:86px;color:white;font-size:15px;border:1px solid #0074E3;background-color: #0074E3;text-align:center">
                                        Vertical
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <pre style="background-color: inherit; border:hidden"></pre>
        <div id="containerBox" style="float: left;padding: 4%;"></div>
        <div id='containerone' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load='gaugeLoad' id='linearDefault' Background='Transparent'
                         Title='Default' titleStyle='titleStyle' Width='150px' Height='350px' style='display:block;height:100px;'
                         Orientation='Vertical'>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true">
                        <e-axis-majorticks Interval="20" Height="7" Width="1" Position=Outside></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3" Position=Outside></e-axis-minorticks>
                        <e-axis-line Width="5"></e-axis-line>
                        <e-axis-labelstyle Position=Outside font=labelFont></e-axis-labelstyle>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Width=0></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                        <e-lineargauge-ranges>
                            <e-lineargauge-range Start="0" End="100" Color="#F45656" StartWidth="10" EndWidth="10" Offset="5"></e-lineargauge-range>
                        </e-lineargauge-ranges>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
        <div id='containertwo' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load='gaugeLoad' id='linearExponential' Background='Transparent'
                         Title='Exponential' titleStyle='titleStyle' Width='150px' Height='350px'
                         style='display:block;height:100px;' Orientation='Vertical'>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true">
                        <e-axis-majorticks Interval="20" Height="7" Width="1" Position=Outside></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3" Position=Outside></e-axis-minorticks>
                        <e-axis-line Width="5"></e-axis-line>
                        <e-axis-labelstyle Position=Outside font=labelFont></e-axis-labelstyle>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Width=0></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                        <e-lineargauge-ranges>
                            <e-lineargauge-range Start="0" End="50" Color="#F45656" StartWidth="2" EndWidth="15" Offset="5"></e-lineargauge-range>
                            <e-lineargauge-range Start="50" End="100" Color="#F45656" StartWidth="15" EndWidth="50" Offset="5"></e-lineargauge-range>
                        </e-lineargauge-ranges>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
        <div id='containerthree' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load='gaugeLoad' id='linearConcave' Title='Concave'
                         TitleStyle='titleStyle' Width='150px' Height='350px' style='display:block;height:130px;'
                         Background='Transparent' Orientation='Vertical'>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true">
                        <e-axis-majorticks Interval="20" Height="7" Width="1" Position=Outside></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3" Position=Outside></e-axis-minorticks>
                        <e-axis-line Width="5"></e-axis-line>
                        <e-axis-labelstyle Position=Outside font=labelFont></e-axis-labelstyle>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Width=0></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                        <e-lineargauge-ranges>
                            <e-lineargauge-range Start="0" End="50" Color="#F45656" StartWidth="50" EndWidth="20" Offset="5"></e-lineargauge-range>
                            <e-lineargauge-range Start="50" End="100" Color="#F45656" StartWidth="20" EndWidth="50" Offset="5"></e-lineargauge-range>
                        </e-lineargauge-ranges>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
        <div id='containerfour' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load='gaugeLoad' id='linearGradient' Title='Gradient shader'
                         TitleStyle='titleStyle' Width='150px' Height='350px' style='display:block;height:100px;'
                         Background='Transparent' Orientation='Vertical' [axes]='axesGradient'>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true">
                        <e-axis-majorticks Interval="20" Height="7" Width="1" Position=Outside></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3" Position=Outside></e-axis-minorticks>
                        <e-axis-line Width="5"></e-axis-line>
                        <e-axis-labelstyle Position=Outside font=labelFont></e-axis-labelstyle>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Width=0></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                        <e-lineargauge-ranges>
                            <e-lineargauge-range Start="0" End="100" StartWidth="50" EndWidth="50" Offset="5"></e-lineargauge-range>
                        </e-lineargauge-ranges>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
        <div id='containerfive' class="col-xs-4 col-sm-4 col-lg-2 col-md-2" style="display: flex;justify-content: center; align-items: center;">
            <ejs-lineargauge load='gaugeLoad' id='linearMultiple' Title='Multiple ranges'
                         TitleStyle='titleStyle' Width='150px' Height='350px' style='display:block;height:100px;'
                         Background='Transparent' Orientation='Vertical'>
                <e-lineargauge-axes>
                    <e-lineargauge-axis Minimum="0" Maximum="100" OpposedPosition="true">
                        <e-axis-majorticks Interval="20" Height="7" Width="1" Position=Outside></e-axis-majorticks>
                        <e-axis-minorticks Interval="10" Height="3" Position=Outside></e-axis-minorticks>
                        <e-axis-line Width="5"></e-axis-line>
                        <e-axis-labelstyle Position=Outside font=labelFont></e-axis-labelstyle>
                        <e-lineargauge-pointers>
                            <e-lineargauge-pointer Width=0></e-lineargauge-pointer>
                        </e-lineargauge-pointers>
                        <e-lineargauge-ranges>
                            <e-lineargauge-range Start="0" End="30" Color="#FB7D55" StartWidth="50" EndWidth="50" Offset="5"></e-lineargauge-range>
                            <e-lineargauge-range Start="30" End="65" Color="#ECC85B" StartWidth="50" EndWidth="50" Offset="5"></e-lineargauge-range>
                            <e-lineargauge-range Start="65" End="100" Color="#6FC78A" StartWidth="50" EndWidth="50" Offset="5"></e-lineargauge-range>
                        </e-lineargauge-ranges>
                    </e-lineargauge-axis>
                </e-lineargauge-axes>
            </ejs-lineargauge>
        </div>
    </div>
    <!-- custom code start -->
    <style>
        .control-section {
            min-height: 450px;
        }
    </style>
    <!-- custom code end -->
}

<script>
    var linearDefaultGauge, linearExponentialGauge, linearConcaveGauge, linearGradientGauge, linearMultipleGauge;
      var rangeLinearGradient = {
            startValue: '0%',
            endValue: '100%',
            colorStop: [
            { color: '#FB7D55', offset: '0%', opacity: 1 },
            { color: '#ECC85B', offset: '50%', opacity: 1 },
            { color: '#6FC78A', offset: '100%', opacity: 1 }]
        };

    window.gaugeLoad = function (args) {
    @* custom code start *@
        var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
    @* custom code end *@
        args.gauge.animationDuration = 3000;
        if (args.gauge.element.id === 'linearDefault') {
            linearDefaultGauge = args.gauge;
        }
        if (args.gauge.element.id === 'linearExponential') {
            linearExponentialGauge = args.gauge;
        }
        if (args.gauge.element.id === 'linearConcave') {
            linearConcaveGauge = args.gauge;
        }
        if (args.gauge.element.id === 'linearGradient') {
            linearGradientGauge = args.gauge;
            linearGradientGauge.axes[0].ranges[0].linearGradient = rangeLinearGradient;
        }
        if (args.gauge.element.id === 'linearMultiple') {
            linearMultipleGauge = args.gauge;
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('horizontal').addEventListener('click', function () {
            linearDefaultGauge.width = linearExponentialGauge.width = linearConcaveGauge.width = linearGradientGauge.width = linearMultipleGauge.width = '450px';
            linearDefaultGauge.height = linearExponentialGauge.height = linearConcaveGauge.height = linearGradientGauge.height = linearMultipleGauge.height = '150px';
            linearDefaultGauge.orientation = linearExponentialGauge.orientation = linearConcaveGauge.orientation = linearGradientGauge.orientation = linearMultipleGauge.orientation = "Horizontal";
            document.getElementById('horizontal').style.color = "white";
            document.getElementById('horizontal').style.backgroundColor = "#0074E3";
            document.getElementById('vertical').style.color = "black";
            document.getElementById('vertical').style.backgroundColor = "white";
            document.getElementById('containerone').className = document.getElementById('containertwo').className =
                document.getElementById('containerthree').className = document.getElementById('containerfour').className =
                document.getElementById('containerfive').className = "col-xs-12 col-sm-12 col-lg-12 col-md-12";
            document.getElementById('containerBox').style.padding = "0%";
        });
        document.getElementById('vertical').addEventListener('click', function () {
            linearDefaultGauge.width = linearExponentialGauge.width = linearConcaveGauge.width = linearGradientGauge.width = linearMultipleGauge.width = '150px';
            linearDefaultGauge.height = linearExponentialGauge.height = linearConcaveGauge.height = linearGradientGauge.height = linearMultipleGauge.height = '350px';
            linearDefaultGauge.orientation = linearExponentialGauge.orientation = linearConcaveGauge.orientation = linearGradientGauge.orientation = linearMultipleGauge.orientation = "Vertical";
            document.getElementById('vertical').style.color = "white";
            document.getElementById('vertical').style.backgroundColor = "#0074E3";
            document.getElementById('horizontal')['style']['color'] = "black";
            document.getElementById('horizontal')['style']['backgroundColor'] = "white";
            document.getElementById('containerone').className = document.getElementById('containertwo').className =
                document.getElementById('containerthree').className = document.getElementById('containerfour').className =
                document.getElementById('containerfive').className = "col-xs-4 col-sm-4 col-lg-2 col-md-2";
            document.getElementById('containerBox').style.padding = "4%";

        });
    });

</script>

@section Meta{
    <meta name="description" content="This example demonstrates the Range in ASP.NET Core LinearGauge control. Explore here for more details." />
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the various customization options for the linear gauge's range. For example, an exponential appearance, a gradient color, and a multiple range.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render and configure ranges in the linear gauge. The
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.LinearGauge.LinearGaugeRange.html">e-lineargauge-ranges</a> and
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.LinearGauge.LinearGaugeLinearGradient.html">linearGradient</a> are used to display multiple ranges, perform range customization, and apply gradient colors, respectively.
        </p>
        <p>
            More information on the ranges can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/linear-gauge/ranges">documentation section</a>.
        </p>
    </div>
}
@section Title{
    <title>ASP.NET Core LinearGauge Range Example - Syncfusion Demos </title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of Range in ASP.NET Core LinearGauge Control</h1>
                }