@page

@using Syncfusion.EJ2;
@using Syncfusion.EJ2.CircularGauge;

@section Meta{
    <meta name="description" content="This example demonstrates the Patterns in ASP.NET Core Arc gauge control. Explore here for more details." />
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample includes a wide range of arc gauges with varying appearances based on the built-in features and customization options.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render an arc gauge in various styles. You can use <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.CircularGauge.CircularGaugeAxis.html" aria-label="axes">axes</a>, <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.CircularGauge.CircularGaugeRange.html" aria-label="ranges">ranges</a>, <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.CircularGauge.CircularGaugePointer.html" aria-label="pointers">pointers</a> and <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.CircularGauge.CircularGaugeAnnotation.html" aria-label="annotations">annotations</a> oriented properties to customize the appearance of the arc gauge, in order to achieve the desired outcome.
        </p>
        <p>
            More information on the arc gauge can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/circular-gauge/getting-started" aria-label="documentation section">documentation section</a>.
        </p>
    </div>
}

@section ControlsSection{
    <div class="control-section" style="border:0px; overflow: auto">
        <table>
            <tr>
                <td class="gaugeAlign">
                    @{
                        var labelFont = new Syncfusion.EJ2.CircularGauge.CircularGaugeFont
                        {
                            Size = "12px", FontFamily="inherit" 
                        };
                        var labels = new Syncfusion.EJ2.CircularGauge.CircularGaugeFont
                        {
                            Size = "0px", FontFamily="inherit"
                        };

                    }
                    <ejs-circulargauge id="container1" load="gaugeload1" width="280px" height="300px">
                            <e-circulargauge-axes>
                            <e-circulargauge-axis startAngle="230" endAngle="130" radius="100%" labelStyle="@new CircularGaugeLabel { Font=labelFont,Position=Position.Outside, Offset=20 }">
                                <e-axis-linestyle width="30" color="#f6f7f9"></e-axis-linestyle>
                                
                                <e-axis-majorticks height="0" interval="10" color="transparent"></e-axis-majorticks>
                                <e-axis-minorticks width="0" color="transparent"></e-axis-minorticks>
                                <e-circulargauge-pointers>
                                    <e-circulargauge-pointer color="#7edfb4" type="RangeBar" value="38" radius="120%" pointerWidth="28">
                                        <e-pointer-animation enable="true" duration="1800"></e-pointer-animation>
                                    </e-circulargauge-pointer>
                                    <e-circulargauge-pointer color="black" type="Marker" markerShape="Rectangle" value="38" radius="100%" markerWidth="28" markerHeight="3">
                                        <e-pointer-animation enable="true" duration="1800"></e-pointer-animation>
                                    </e-circulargauge-pointer>
                                    </e-circulargauge-pointers>
                                    <e-circulargauge-annotations>
                                        <e-circulargauge-annotation content='<div style="font-size:30px;font-family:inherit;">38</div>' angle="1" radius="-20%" zIndex="1"></e-circulargauge-annotation>
                                    </e-circulargauge-annotations>
                                    <e-circulargauge-ranges>
                                        <e-circulargauge-range start="0" end="38" color="#7edfb4" radius="86%" startWidth="10" endWidth="10">
                                        </e-circulargauge-range>
                                        <e-circulargauge-range start="38" end="50" color="#7edfb4" radius="87%" startWidth="10" endWidth="10"></e-circulargauge-range>
                                        <e-circulargauge-range start="50" end="75" color="#f99d4c" radius="87%" startWidth="10" endWidth="10"></e-circulargauge-range>
                                        <e-circulargauge-range start="75" end="100" color="#e96920" radius="87%" startWidth="10" endWidth="10"></e-circulargauge-range>
                                    </e-circulargauge-ranges>
                            </e-circulargauge-axis>
                        </e-circulargauge-axes>
                    </ejs-circulargauge>
                </td>
                <td class="gaugeAlign">
                    <ejs-circulargauge id="container2" load="gaugeload2" centerY="60%" width="280px" height="300px">
                        <e-circulargauge-axes>
                            <e-circulargauge-axis startAngle="270" endAngle="90" radius="80%" labelStyle="@new CircularGaugeLabel{Position=Position.Outside, Font=labels}">
                                <e-axis-linestyle width="30" color="#f6f7f9"></e-axis-linestyle>
                                <e-axis-majorticks height="0" color="transparent"></e-axis-majorticks>
                                <e-axis-minorticks height="0" width="0" color="transparent"></e-axis-minorticks>
                                <e-circulargauge-pointers>
                                        <e-circulargauge-pointer type="RangeBar" pointerWidth="40" color="#d6f5e8" value="75" radius="128%"></e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="RangeBar" pointerWidth="30" color="#7edfb4" value="75" radius="115%"></e-circulargauge-pointer>
                                </e-circulargauge-pointers>
                                <e-circulargauge-annotations>
                                    <e-circulargauge-annotation content='<div style="font-size:22px;margin-left:7px;font-family:inherit;">75%</div>' angle="1" radius="0%" zIndex="1"></e-circulargauge-annotation>
                                    <e-circulargauge-annotation content='<div style="font-size:22px;font-family:inherit;">0%</div>' angle="255" radius="102%" zIndex="1"></e-circulargauge-annotation>
                                    <e-circulargauge-annotation content='<div style="font-size:22px;font-family:inherit;">100%</div>' angle="105" radius="105%" zIndex="1"></e-circulargauge-annotation>
                                </e-circulargauge-annotations>
                            </e-circulargauge-axis>
                        </e-circulargauge-axes>
                    </ejs-circulargauge>
                    </td>
				<td class="gaugeAlign">
					<ejs-circulargauge id="container3" load="gaugeload3" width="280px" height="300px">
						<e-circulargauge-axes>
                            <e-circulargauge-axis startAngle="220" endAngle="140" minimum="0" maximum="600" radius="80%" labelStyle="@new CircularGaugeLabel{Position=Position.Outside, Font=labels}">
                                <e-axis-linestyle width="0" color="transparent"></e-axis-linestyle>
                                <e-axis-majorticks height="0" interval="100" color="transparent"></e-axis-majorticks>
                                <e-axis-minorticks height="0" width="0" color="transparent"></e-axis-minorticks>
                                <e-circulargauge-annotations>
                                    <e-circulargauge-annotation content='<div style="font-size:30px;font-family:inherit;"> 450 </div>' angle="0" radius="-10%" zIndex="1"></e-circulargauge-annotation>
                                    <e-circulargauge-annotation content='<div style="font-size:12px;font-family:inherit;"> 300 </div>' angle="2" radius="112%" zIndex="1"></e-circulargauge-annotation>
                                    <e-circulargauge-annotation content='<div style="font-size:12px;font-family:inherit;"> 400 </div>' angle="48" radius="112%" zIndex="1"></e-circulargauge-annotation>
                                    <e-circulargauge-annotation content='<div style="font-size:12px;font-family:inherit;"> 500 </div>' angle="92" radius="112%" zIndex="1"></e-circulargauge-annotation>
                                </e-circulargauge-annotations>
                                <e-circulargauge-ranges>
                                    <e-circulargauge-range start="0" end="298" color="#ff5353" roundedCornerRadius="10" startWidth="12" endWidth="12">
                                    </e-circulargauge-range>
                                    <e-circulargauge-range start="300" end="397" color="#ffd223" roundedCornerRadius="10" startWidth="12" endWidth="12">
                                    </e-circulargauge-range>
                                    <e-circulargauge-range start="400" end="497" color="#77e6b4" roundedCornerRadius="10" startWidth="12" endWidth="12">
                                    </e-circulargauge-range>
                                    <e-circulargauge-range start="500" end="600" color="#21d683" roundedCornerRadius="10" startWidth="12" endWidth="12">
                                    </e-circulargauge-range>
                                </e-circulargauge-ranges>
                                <e-circulargauge-pointers>
                                    <e-circulargauge-pointer color="white" value="450" markerShape="Circle" type="Marker" radius="94%" markerWidth="17" markerHeight="17">
                                        <e-pointer-border color="#77e6b4" width="7"></e-pointer-border>
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                    </e-circulargauge-pointer>
                                    </e-circulargauge-pointers>
                            </e-circulargauge-axis>
                        </e-circulargauge-axes>
					</ejs-circulargauge>
				</td>
            </tr>
            <tr>
                <td class="gaugeAlign">
					<ejs-circulargauge id="container4" load="gaugeload4" width="280px" height="300px">
						<e-circulargauge-axes>
                            <e-circulargauge-axis startAngle="220" endAngle="140" minimum="0" maximum="100" radius="80%" labelStyle="@new CircularGaugeLabel{Position=Position.Outside, Font=labels}">
                                <e-axis-linestyle width="0"></e-axis-linestyle>
                                <e-axis-majorticks height="0" color="transparent"></e-axis-majorticks>
                                <e-axis-minorticks height="0" width="0" color="transparent"></e-axis-minorticks>
                                <e-circulargauge-annotations>
                                        <e-circulargauge-annotation content='<div class="titleText" style="font-size:30px;font-family:inherit;">21%</div>' angle="1" radius="-5%" zIndex="1"></e-circulargauge-annotation>
                                </e-circulargauge-annotations>
                                    <e-circulargauge-ranges>
                                    <e-circulargauge-range start="0" end="100" radius="90%" color="#E0E0E0" roundedCornerRadius="20" startWidth="25" endWidth="25">
                                    </e-circulargauge-range>
                                    <e-circulargauge-range start="70" end="100" color="#ed5e4b" radius="90%" roundedCornerRadius="20" startWidth="25" endWidth="25">
                                    </e-circulargauge-range>
                                    <e-circulargauge-range start="21" end="75" radius="90%" color="#ffe852" startWidth="25" endWidth="25">
                                    </e-circulargauge-range>
                                    </e-circulargauge-ranges>
                                    <e-circulargauge-pointers>
                                    <e-circulargauge-pointer color="#a8f789" value="21" type="RangeBar" roundedCornerRadius="10" radius="90%" pointerWidth="25">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                    </e-circulargauge-pointer>
                                    <e-circulargauge-pointer color="white" value="22" type="Marker" markerShape="Circle" radius="80%" markerWidth="30" markerHeight="30">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                    </e-circulargauge-pointer>
                                    <e-circulargauge-pointer color="#a8f789" value="22" type="Marker" markerShape="Circle" radius="80%" markerWidth="18" markerHeight="18">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                    </e-circulargauge-pointer>
                                    </e-circulargauge-pointers>
                            </e-circulargauge-axis>
                        </e-circulargauge-axes>
					</ejs-circulargauge>
                </td>
                <td class="gaugeAlign">
                    <ejs-circulargauge id="container5" load="gaugeload5" width="280px" height="300px">
                        <e-circulargauge-axes>
                            <e-circulargauge-axis startAngle="220" endAngle="140" minimum="0" maximum="100" radius="80%" labelStyle="@new CircularGaugeLabel{Position=Position.Outside, Font=labels}">
                                <e-axis-linestyle width="0"></e-axis-linestyle>
                                <e-axis-majorticks height="0" color="transparent"></e-axis-majorticks>
                                <e-axis-minorticks height="0" width="0" color="transparent"></e-axis-minorticks>
                                <e-circulargauge-annotations>
                                    <e-circulargauge-annotation content='<div style="font-size:30px;font-family:inherit;">54%</div>' angle="170" radius="12%" zIndex="1"></e-circulargauge-annotation>
                                </e-circulargauge-annotations>
                                <e-circulargauge-ranges>
                                    <e-circulargauge-range start="0" end="100" radius="90%" color="#E0E0E0" roundedCornerRadius="20" startWidth="30" endWidth="30">
                                    </e-circulargauge-range>
                                    <e-circulargauge-range start="3" end="30" color="#a8f789" radius="105%" roundedCornerRadius="10" startWidth="10" endWidth="10">
                                    </e-circulargauge-range>
                                    <e-circulargauge-range start="31" end="70" radius="105%" color="#ffe852" startWidth="10" endWidth="10" roundedCornerRadius="10">
                                    </e-circulargauge-range>
                                    <e-circulargauge-range start="71" end="96" radius="105%" color="#ed5e4b" startWidth="10" endWidth="10" roundedCornerRadius="10">
                                    </e-circulargauge-range>
                                    </e-circulargauge-ranges>
                                    <e-circulargauge-pointers>
                                        <e-circulargauge-pointer type="RangeBar" radius="90%" color="#ffe852" value="54" roundedCornerRadius="20" pointerWidth="30">
                                            <e-pointer-border color="grey" width="0"></e-pointer-border>
                                            <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                    </e-circulargauge-pointers>
                            </e-circulargauge-axis>
                        </e-circulargauge-axes>
                    </ejs-circulargauge>
                </td>
                <td class="gaugeAlign">
                    <ejs-circulargauge id="container6" load="gaugeload6" width="280px" height="300px">
                        <e-circulargauge-axes>
                            <e-circulargauge-axis startAngle="220" endAngle="140" minimum="0" maximum="100" radius="80%" labelStyle="@new CircularGaugeLabel{Position=Position.Outside, Font=labels}">
                                <e-axis-linestyle width="0"></e-axis-linestyle>
                                <e-axis-majorticks height="0" color="transparent"></e-axis-majorticks>
                                <e-axis-minorticks height="0" width="0" color="transparent"></e-axis-minorticks>
                                <e-circulargauge-pointers>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="0" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="1" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="2" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="3" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="4" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="5" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="6" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="7" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="8" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="9" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="10" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="11" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="12" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="13" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="14" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="15" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="16" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="17" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="18" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="19" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="20" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="21" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="22" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="23" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="24" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="25" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="26" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="27" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="28" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="29" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="30" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="31" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="32" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="33" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="34" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="35" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="36" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="37" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="38" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="39" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="40" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="41" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="42" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="43" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="44" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="45" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="46" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="47" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="48" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="49" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="50" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="51" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="52" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="53" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="54" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="55" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="56" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="57" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="58" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="59" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="60" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="61" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="62" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="63" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="64" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="65" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="66" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="67" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="68" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="69" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="70" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="71" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="72" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="73" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="74" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="75" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="76" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="77" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="78" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer type="Marker" markerShape="Rectangle" radius="90%" color="#7edfb4" value="79" markerWidth="38" markerHeight="3">
                                        <e-pointer-animation enable="false"></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                    </e-circulargauge-pointers>
                                    <e-circulargauge-annotations>
                                        <e-circulargauge-annotation content='<div class="annotationText">80% <br/> <div> Completed </div> </div>' angle="10" radius="7%" zIndex="1"></e-circulargauge-annotation>
                                    </e-circulargauge-annotations>
                                    <e-circulargauge-ranges>
                                        <e-circulargauge-range start="0" end="100" radius="110%" color="#f6f7f9" startWidth="37" endWidth="37">
                                        </e-circulargauge-range>
                                    </e-circulargauge-ranges>
                            </e-circulargauge-axis>
                        </e-circulargauge-axes>
                    </ejs-circulargauge>
                </td>
            </tr>
        </table>
    </div>
    <style>
        .annotationText {
            font-size: 18px;
            text-align: center;
            margin-top: 15px;
            margin-left: 8px;
        }
        .e-view.tailwind div.annotationText,
        .e-view.tailwind-dark div.annotationText {
            font-size: 18px;
            text-align: center;
            margin-top: -10px;
            margin-left: 3px;
        }
        .titleText {
            margin-left: 11px;
            margin-top: 4px;
        }
        .e-view.tailwind div.titleText,
        .e-view.tailwind-dark div.titleText {
            margin-top: -13px;
            margin-left: 5px;
        }
        .gaugeAlign {
            width: 50%;
        }
    </style>
}
<script>
    var rangeLinearGradient = {
         startValue: '65%',
         endValue: '100%',
         colorStop: [
            { color: '#ffe852', offset: '20%', opacity: 0.9 },
            { color: '#ed5e4b', offset: '100%', opacity: 0.9 },
         ]
     };
    window.gaugeload1 = function (args) {
        @* custom code start *@
            var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
        @* custom code end *@

        if (theme.indexOf("tailwind") != -1) {
            args.gauge.axes[0].annotations[0].angle = 188;
            args.gauge.axes[0].annotations[0].radius = "15%";
        }
    }

    window.gaugeload2 = function (args) {
        @* custom code start *@
            var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
        @* custom code end *@

        if (theme.indexOf("tailwind") != -1) {
            args.gauge.axes[0].annotations[0].angle = 12;
            args.gauge.axes[0].annotations[0].radius = "18%";
            args.gauge.axes[0].annotations[1].angle = 258;
            args.gauge.axes[0].annotations[1].radius = "102%";
            args.gauge.axes[0].annotations[2].angle = 102;
            args.gauge.axes[0].annotations[2].radius = "105%";
        }
    }

    window.gaugeload3 = function (args) {
        @* custom code start *@
            var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
        @* custom code end *@

        if (theme.indexOf("tailwind") != -1) {
            args.gauge.axes[0].annotations[0].angle = 194;
            args.gauge.axes[0].annotations[0].radius = "8%";
        }
    }

    window.gaugeload4 = function (args) {
    @* custom code start *@
                var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
    @* custom code end *@
      window.gauge = args.gauge;
	  var axis = args.gauge.axes[0];
      axis.ranges[2].linearGradient = rangeLinearGradient;

      if (theme.indexOf("tailwind") != -1) {
            args.gauge.axes[0].annotations[0].angle = 174;
            args.gauge.axes[0].annotations[0].radius = "17%";
        }
    }

    window.gaugeload5 = function (args) {
        @* custom code start *@
            var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
        @* custom code end *@

        if (theme.indexOf("tailwind") != -1) {
            args.gauge.axes[0].annotations[0].angle = 174;
            args.gauge.axes[0].annotations[0].radius = "12%";
        }
    }

    window.gaugeload6 = function (args) {
        @* custom code start *@
            var theme = themeName ? themeName : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
        @* custom code end *@

        if (theme.indexOf("tailwind") != -1) {
            args.gauge.axes[0].annotations[0].angle = 180;
            args.gauge.axes[0].annotations[0].radius = "6%";
        }
    }
</script>

@section Title{
    <title>ASP.NET Core Arc Gauge Patterns Example - Syncfusion Demos </title>
}

@section Header{
    <h1 class='sb-sample-text'>Example of Patterns in ASP.NET Arc Gauge Control</h1>
}