@using Syncfusion.EJ2
@{
    ViewBag.Title = "    Essential Presentation (PowerPoint) : Find and Highlight : Syncfusion";
}

@section ActionDescription{
    This sample demonstrates how to find a specific text and highlight it in an existing PowerPoint presentation using Find functionality of .NET PowerPoint library.
}

@section Description{
    <b>Features:</b>
    <br />
    <br />
    <div>
        .NET PowerPoint library allows you to find the text in the PowerPoint presentation and then to manipulate it.
        <ul>
            <li>You can find the first occurrence or all the occurrences of the text in the PowerPoint presentation.</li>
            <li>You can find the text from specific slide, notes slide, master slide or layout slide.</li>
            <li>You can find the text by matching case, whole word and all occurrence or first occurrence alone.</li>
            <li>You can also find the content that spans across several lines.</li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about the Find functionality can be found in this
        <a href="https://help.syncfusion.com/file-formats/presentation/working-with-find-and-replace" aria-label="Documentation" >Documentation</a>
        section.
    </div>
    <br />
}
@section ControlsSection{
    <div class="control-section">
        @{
            Html.BeginForm("findandhighlight", "powerpoint", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated PowerPoint document or PDF file. Please note that a Microsoft PowerPoint viewer is required to view the resultant presentation document and a PDF viewer is required to view the resultant PDF.
                    <div style="margin-top: 10px">
                        Text to Highlight :
                        <input type="text" class="e-input" id="textBox" style="width: 150px" name="Group" value="product" />
                    </div>
                    <div style="margin-top: 10px">
                        <input type="checkbox" name="MatchCase" value="MatchCase" id="matchcase" />
                        Match case
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" name="MatchWholeWord" value="MatchWholeWord" id="matchwholeword" checked />
                        Match whole word
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" name="HighlightFirst" value="HighlightFirst" id="highlightfirst" />
                        Highlight only the first occurrence
                    </div>
                    <div style="margin-top: 10px">
                        <div>
                            Save As :
                            <input type="radio" id="rdButtonPPTX" name="Group1" value="PPTX" style="margin-left: 7px"  checked="checked" />
                            <label for="rdButtonPPTX" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as PPTX format">PPTX</label>
                            &nbsp;
                            <input type="radio" id="rdButtonPdf" name="Group1" value="PDF" style="margin-left: 7px" />
                            <label for="rdButtonPdf" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as PDF format">PDF</label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        <input id="viewtemplate" name="button" class="e-btn" type="submit" value="View Input Template" style="width: 150px; text-transform:capitalize" />
                        &nbsp;
                        <input id="generate" name="button" class="e-btn" type="submit" value="Highlight" style="width:140px; text-transform:capitalize" />
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}

@section Meta{
    <meta name="description" content="This example demonstrates the Find and Highlight in ASP.NET Core PowerPoint (Presentation) library. Explore here for more details." />
                }
@section Title{
    <title>ASP.NET Core PowerPoint (Presentation) library - Find and Highlight Example - Syncfusion Demos </title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of Find and Highlight in ASP.NET Core PowerPoint (Presentation) Library</h1>
                }