@page

@using Syncfusion.EJ2

@{
    string[] toolbarItems = new string[] { "NewFolder", "Cut", "Copy", "Paste", "Delete", "Download", "Rename", "SortBy", "Refresh", "Selection", "View", "Details" };
    string[] layout = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
    string[] file = new string[] { "Cut", "Copy", "|", "Delete", "Download", "Rename", "|", "Details" };
    var items = new string[] { "NewFolder", "Cut", "Copy", "Paste", "Delete", "Download", "Rename", "SortBy", "Refresh", "Selection", "View", "Details" };

}

@section ControlsSection{
    <div class="col-lg-8 control-section">
        <div class="control_wrapper">
             <!-- File Manager API sample -->
            <ejs-filemanager id="filemanager" view="@Syncfusion.EJ2.FileManager.ViewType.LargeIcons" enableRangeSelection="true">
                <e-filemanager-ajaxsettings url="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/FileOperations"
                                            downloadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Download"
                                            uploadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Upload"
                                            getImageUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/GetImage">
                </e-filemanager-ajaxsettings>
                <e-filemanager-navigationpanesettings visible="false"></e-filemanager-navigationpanesettings>
                <e-filemanager-toolbarsettings items="toolbarItems">
                </e-filemanager-toolbarsettings>
                <e-filemanager-contextmenusettings file="file" layout="layout">
                </e-filemanager-contextmenusettings>
            </ejs-filemanager>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <div id="property" title="Properties">
            <table id="property" title="Properties">
                <tbody>
                     <tr>
                        <td style="width: 50%">
                            <div style="font-size:14px">Enable Range Selection</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px;text-align: center;">
                            <div>
                                <ejs-checkbox id="rangeSelection" checked="true" name="toolbar" change="onToolChange"></ejs-checkbox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div style="font-size:14px">Toolbar</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px;text-align: center;">
                            <div>
                                <ejs-checkbox id="toolbar" checked="true" name="toolbar" change="onToolChange"></ejs-checkbox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div style="font-size:14px">showFileExtension</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px;text-align: center;">
                            <div>
                                <ejs-checkbox id="fileExtension" checked="true" name="toolbar" change="onToolChange"></ejs-checkbox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div style="font-size:14px">showThumbnail</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px;text-align: center;">
                            <div>
                                <ejs-checkbox id="thumbnail" checked="true" name="toolbar" change="onToolChange"></ejs-checkbox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div style="font-size:14px">Disable Toolbar Item</div>
                        </td>
                        <td style="width: 50%;padding-left: 10px;text-align: center;">
                            <div>
                                <ejs-dropdownlist id="disable" dataSource="items" placeholder="Select item" popupHeight="220px" change="onDisableItemChange"></ejs-dropdownlist>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div style="font-size:14px">Enable Toolbar Item</div>
                        </td>
                        <td style="width: 50%;padding-left: 10px;text-align: center;">
                            <div>
                                <ejs-dropdownlist id="enable" dataSource="items" placeholder="Select item" popupHeight="220px" change="onEnableItemChange"></ejs-dropdownlist>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            The property pane in this sample displays the features available in the File Manager component. The visibility of the toolbar, multi-selection, file extensions, range selection,
            and image thumbnails can be easily controlled by checking or unchecking the respective checkboxes. Additionally, specific toolbar items can be
            enabled or disabled by selecting values in the Dropdown List.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>In this demo, the above mentioned requirements are achieved by using the following API properties and method of the File Manager component. </p>

        <p><a target='_blank' href='https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_ToolbarSettings' aria-label="Navigate to the toolbarSettings property reference for ASP.NET Core File Manager control">toolbarSettings</a> defines the group of items in the toolbar that are aligned horizontally.</p>
        <p><a target='_blank' href='https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_ShowFileExtension' aria-label="Navigate to the showFileExtension property reference for ASP.NET Core File Manager control">showFileExtension</a> property shows or hides the file extension in the File Manager.</p>
        <p><a target='_blank' href='https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_ShowThumbnail' aria-label="Navigate to the showThumbnail property reference for ASP.NET Core File Manager control">showThumbnail</a> property shows or hides thumbnail images in the large icons view. . </p>
        <p><a target='_blank' href='https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_EnableRangeSelection'>enableRangeSelection</a> property allows multiple items selection with mouse dragging. </p>
        <p><code>enableToolbarItems</code> specifies which items should be enabled in the toolbar.</p>
        <p><code>disableToolbarItems</code> specifies which items should be disabled in the toolbar.</p>

        <p>
            <b>Note: </b>File Manager's upload functionality is restricted in the online demos for security reasons. If you need to test upload functionality, please install
            <a target="_blank" href="https://www.syncfusion.com/downloads" aria-label="Download Syncfusion Essential Studio">Syncfusion Essential Studio<sup>&reg;</sup> </a>on your machine and run the demo.
        </p>
    </div>
}
@section PreScripts{
    <script>

        function onToolChange(args) {
            var fileObject = document.getElementById('filemanager').ej2_instances[0];
            if (args.event.currentTarget.firstElementChild.childNodes[0].id == "toolbar") {
                fileObject.toolbarSettings.visible = args.checked;
            }
            if (args.event.currentTarget.firstElementChild.childNodes[0].id == "fileExtension") {
                fileObject.showFileExtension = args.checked;
            }
            if (args.event.currentTarget.firstElementChild.childNodes[0].id == "thumbnail") {
                fileObject.showThumbnail = args.checked;
            }
            if (args.event.currentTarget.firstElementChild.childNodes[0].id == "rangeSelection") {
                fileObject.enableRangeSelection  = args.checked;
            }
        }

        function onDisableItemChange(args) {
            var fileObject = document.getElementById('filemanager').ej2_instances[0];
            var enableDropDownList = document.getElementById('enable').ej2_instances[0];
            if (args.itemData != null) {
                fileObject.disableToolbarItems([args.itemData.value]);
                if (args.value === enableDropDownList.value) {
                    enableDropDownList.value = null;
                }
            }
        }

        function onEnableItemChange(args) {
            var fileObject = document.getElementById('filemanager').ej2_instances[0];
            var disableDropDownList = document.getElementById('disable').ej2_instances[0];
            if (args.itemData != null) {
                fileObject.enableToolbarItems([args.itemData.value]);
                if (args.value === disableDropDownList.value) {
                    disableDropDownList.value = null;
                }
            }
        }

    </script>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the API in ASP.NET Core File Manager control. Explore here for more details."/>
                }

<style>
    .property-panel-table div {
        padding-left: 0;
        padding-top: 0;
    }

    #navPane {
        padding-top: 5px;
    }

    #property tr {
        height: 50px;
    }

    #tool {
        padding-top: 5px;
    }

    body.material-dark .property-panel-section {
        color: #ffffff;
    }

    #navPane_toggle,
    #tool_toggle {
        width: 100px;
    }
</style>
@section Title{
                    <title>ASP.NET Core File Manager API Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of API in ASP.NET Core File Manager Control</h1>
                }
