@page

@using Syncfusion.EJ2

@{
    string[] items = new string[] { "NewFolder", "Cut", "Copy", "Paste", "Delete", "Download", "Rename", "SortBy", "Refresh", "Selection", "View", "Details" };
    string[] layout = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
    string[] file = new string[] { "Cut", "Copy", "|", "Delete", "Download", "Rename", "|", "Details" };
}

@section ControlsSection{
    <div class=" control-section">
        <div class="sample-container">
            <ejs-filemanager id="filemanager">
                <e-filemanager-ajaxsettings url="https://realtime-firebase.azurewebsites.net/api/FirebaseProvider/FirebaseRealtimeFileOperations"
                                            downloadUrl="https://realtime-firebase.azurewebsites.net/api/FirebaseProvider/FirebaseRealtimeDownload"
                                            uploadUrl="https://realtime-firebase.azurewebsites.net/api/FirebaseProvider/FirebaseRealtimeUpload"
                                            getImageUrl="https://realtime-firebase.azurewebsites.net/api/FirebaseProvider/FirebaseRealtimeGetImage">
                </e-filemanager-ajaxsettings>
                <e-filemanager-toolbarsettings items="items">
                </e-filemanager-toolbarsettings>
                <e-filemanager-contextmenusettings file="file" layout="layout">
                </e-filemanager-contextmenusettings>
            </ejs-filemanager>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates how to utilize the <a target="_blank" href="https://github.com/SyncfusionExamples/firebase-realtime-database-aspcore-file-provider" aria-label="Navigate to GitHub sample for firebase-realtime-database-aspcore-file-provider">Firebase Realtime Database file system provider</a> with File Manager component. It supports all basic file operations such as create, rename, delete, cut, copy, paste, upload, download, and more.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>To run the service, create a <a target="_blank" href="https://console.firebase.google.com/">firebase realtime database</a> and then register the database's <code>Rest API link</code>, <code>root node name</code>, and <code>service account key path </code> in the <code>RegisterFirebaseRealtimeDB</code> method to perform the file operations.</p>
                <p>Checkout this <a target="_blank" href="https://github.com/SyncfusionExamples/firebase-realtime-database-aspcore-file-provider" aria-label="Navigate to GitHub sample for firebase-realtime-database-aspcore-file-provider">Firebase Realtime Database file system provider</a> from the GitHub repository to connect with <code>RegisterFirebaseRealtimeDB</code> method.</p>
        <p>
            <b>Note: </b>File Manager's upload functionality is restricted in online demos for security reasons. To work with upload functionality, please download <a target="_blank" href="https://github.com/SyncfusionExamples/firebase-realtime-database-aspcore-file-provider" aria-label="Navigate to GitHub sample for firebase-realtime-database-aspcore-file-provider">firebase-realtime-database-aspcore-file-provider</a> from the GitHub repository.
        </p>

    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Firebase Realtime File Provider in ASP.NET Core File Manager control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core File Manager Firebase Realtime File Provider Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Firebase Realtime File Provider in ASP.NET Core File Manager Control</h1>
                }