@page

@using Syncfusion.EJ2

@{
    string[] items = new string[] { "NewFolder", "Cut", "Copy", "Paste", "Delete", "Download", "Rename", "SortBy", "Refresh", "Selection", "View", "Details"};
    string[] layout = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
    string[] file = new string[] { "Cut", "Copy", "|", "Delete", "Download", "Rename", "|", "Details" };
}

@section ControlsSection{
    <div class=" control-section">
        <div class="sample-container">
             <!-- File Manager full functionalities sample -->
            <ejs-filemanager id="filemanager" view="@Syncfusion.EJ2.FileManager.ViewType.Details">
                <e-filemanager-ajaxsettings url="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/FileOperations"
                                            downloadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Download"
                                            uploadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Upload"
                                            getImageUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/GetImage">
                </e-filemanager-ajaxsettings>
                <e-filemanager-toolbarsettings items="items">
                </e-filemanager-toolbarsettings>
                <e-filemanager-contextmenusettings file="file" layout="layout">
                </e-filemanager-contextmenusettings>
            </ejs-filemanager>
        </div>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            The File Manager component is an efficient tool for managing files and folders, providing a comprehensive set of features such as a <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_ToolbarSettings" target="_blank" aria-label="Navigate to the toolbar property reference for ASP.NET Core File Manager control"> toolbar</a>, <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_NavigationPaneSettings" target="_blank" aria-label="Navigate to the navigation pane property reference for ASP.NET Core File Manager control"> navigation pane</a> and <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_DetailsViewSettings" target="_blank" aria-label="Navigate to the details view property reference for ASP.NET Core File Manager control"> details view</a>, which make it easy to create, rename, delete, cut, copy, paste, upload, download, and more. With its user-friendly interface, users can easily navigate through folders and effortlessly select their desired files or folders.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>The File Manager component is a great tool for navigating a file system within a web application, offering functionality similar to Windows Explorer. It supports essential file operations, including <code>creating</code>, <code>renaming</code>, <code>deleting</code>, <code>refreshing</code>, and more.</p>
        <p>The <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_AjaxSettings" target="_blank" aria-label="Navigate to the ajax settings property reference for ASP.NET Core File Manager control"> ajaxSettings </a> must be defined when initializing the File Manager, as it uses the URLs specified in <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_AjaxSettings" target="_blank" aria-label="Navigate to the ajax settings property reference for ASP.NET Core File Manager control"> ajaxSettings </a> to send file operation requests to the server.</p>
        <p>The context menu can be customized using the <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_ContextMenuSettings" target="_blank" aria-label="Navigate to the context menu property reference for ASP.NET Core File Manager control"> contextMenuSettings </a> API, which is used to add new menu items.</p>
        <p>The custom toolbar items can be added and customized using the <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_ToolbarSettings" target="_blank" aria-label="Navigate to the toolbar property reference for ASP.NET Core File Manager control"> toolbarSettings </a> API. If a new toolbar is needed, it can be added using the <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_ToolbarSettings" target="_blank" aria-label="Navigate to the toolbar property reference for ASP.NET Core File Manager control"> toolbarSettings </a>.</p>
        <p>
            <b>Note: </b>File Manager's upload functionality is restricted in the online demos for security reasons. If you need to test upload functionality, please install
            <a target="_blank" href="https://www.syncfusion.com/downloads" aria-label="Download Syncfusion Essential Studio">Syncfusion Essential Studio </a>on your machine and run the demo.
        </p>

    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Overview in ASP.NET Core File Manager control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core File Manager Overview Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Overview in ASP.NET Core File Manager Control</h1>
                }