@page

@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div class="sample-container">
            <!-- File Manager Sequential upload feature sample -->
            <ejs-filemanager id="filemanager">
                <e-filemanager-ajaxsettings url="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/FileOperations"
                                            downloadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Download"
                                            uploadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Upload"
                                            getImageUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/GetImage">
                </e-filemanager-ajaxsettings>
                <e-filemanager-uploadsettings sequentialUpload="true" directoryUpload="true"></e-filemanager-uploadsettings>
                <e-filemanager-toolbaritems>
                    <e-filemanager-toolbaritem Name="NewFolder"></e-filemanager-toolbaritem>
                    <e-filemanager-toolbaritem Name="Upload"></e-filemanager-toolbaritem>
                    <e-filemanager-toolbaritem Name="SortBy"></e-filemanager-toolbaritem>
                    <e-filemanager-toolbaritem Name="Refresh"></e-filemanager-toolbaritem>
                    <e-filemanager-toolbaritem Name="Cut"></e-filemanager-toolbaritem>
                    <e-filemanager-toolbaritem Name="Copy"></e-filemanager-toolbaritem>
                    <e-filemanager-toolbaritem Name="Paste"></e-filemanager-toolbaritem>
                    <e-filemanager-toolbaritem Name="Delete"></e-filemanager-toolbaritem>
                    <e-filemanager-toolbaritem Name="Download"></e-filemanager-toolbaritem>
                    <e-filemanager-toolbaritem Name="Rename"></e-filemanager-toolbaritem>
                    <e-filemanager-toolbaritem Name="Selection"></e-filemanager-toolbaritem>
                    <e-filemanager-toolbaritem Name="View"></e-filemanager-toolbaritem>
                    <e-filemanager-toolbaritem Name="Details"></e-filemanager-toolbaritem>
                </e-filemanager-toolbaritems>
            </ejs-filemanager>
        </div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample showcases the File Manager's sequential upload feature. When enabled, files are uploaded one at a time in the order they were added, ensures sequencing and better control over network usage.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>In this demo, a sequential upload is enabled by setting <a href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.FileManager.FileManagerUploadSettings.html#Syncfusion_EJ2_FileManager_FileManagerUploadSettings_DirectoryUpload" target="_blank">sequentialUpload</a> to <code>true</code> in the File Manager's upload settings. When enabled, files are uploaded one after another in the order they were added, helping preserve the intended sequence and manage bandwidth more effectively.</p>
    </div>
}

@section Meta{
    <meta name="description" content="This example demonstrates how to enable sequential file uploads in the ASP.NET Core File Manager control." />
}
@section Title{
    <title>ASP.NET Core File Manager Sequential Upload Example - Syncfusion Demos</title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Sequential Upload in ASP.NET Core File Manager Control</h1>
}