@using Syncfusion.EJ2
@section ControlsSection{
<div class="control-section">
    <div class="control_wrapper">
        <ejs-treeview id="treedata" sortOrder="Ascending" >
            <e-treeview-fields dataSource="ViewBag.dataSource" child="ViewBag.child" id="nodeId"  text="nodeText" hasChildren="hasChild" expanded="expanded" iconCss="icon" imageURL="image" ></e-treeview-fields>
        </ejs-treeview>

    </div>
</div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Icons and Images in ASP.NET Core TreeView control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>This <a href="https://www.syncfusion.com/aspnet-core-ui-controls/treeview" target="_blank">ASP.NET Core TreeView example</a> demonstrates the node can be configured by icons/images in TreeView. Click on icon or double click on node to expand/collapse it, and show the icons/images that configured with nodes.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The TreeView component has the built-in option to customize each node's appearance with the icons and images by mapping the iconCss and imageUrl fields.
        </p>
        <p>
            In this demo, the TreeView is showcased like a file system with custom icons and images.
        </p>
    </div>
}
@*custom code start*@
<style>
    .control_wrapper {
        max-width: 500px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
    .e-treeview .e-list-img {
        width: 25px;
        height: 25px;
    }
    /* Loading sprite image for TreeView */
    .e-treeview .e-list-icon {
        background-repeat: no-repeat;
        background-image: url('@Url.Content("~/css/treeview/images/file_icons.png")');
        height: 20px;
    }
    /* Specify the icon positions based upon class name */
    .e-treeview .e-list-icon.folder { background-position: -197px -552px }
    .e-treeview .e-list-icon.docx { background-position: -197px -20px }
    .e-treeview .e-list-icon.ppt { background-position: -197px -48px }
    .e-treeview .e-list-icon.pdf { background-position: -197px -104px }
    .e-treeview .e-list-icon.images { background-position: -197px -132px }
    .e-treeview .e-list-icon.zip { background-position: -197px -188px }
    .e-treeview .e-list-icon.audio { background-position: -197px -244px }
    .e-treeview .e-list-icon.video { background-position: -197px -272px }
    .e-treeview .e-list-icon.exe { background-position: -197px -412px }
</style>
@*custom code end*@
@section Title{
                    <title>ASP.NET Core TreeView Icons and Images Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Icons and Images in ASP.NET Core TreeView Control</h1>
                }