@using Syncfusion.EJ2
@section ControlsSection{

    <div class="control-section">
        <div class="control_wrapper">
            <ejs-treeview id="treedata" allowMultiSelection="true">
                <e-treeview-fields dataSource="ViewBag.dataSource" id="id" parentId="pid" text="name" hasChildren="hasChild" expanded="expanded" selected="is_selected"></e-treeview-fields>
            </ejs-treeview>
        </div>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Multiple Selection in ASP.NET Core TreeView control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the multiple node selection functionalities of the TreeView. To select multiple nodes, press the CTRL key and select the desired nodes; or select any node and by pressing SHIFT key select another node, this selects all the nodes in-between the selected nodes.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The TreeView component allows to select multiple nodes by enabling the allowMultiSelection property.
        </p>
        <p>
            In this demo, the TreeView is enabled with multiple selection
        </p>
        <p>
            More information about Treeview can be found in this
            <a target="_blank"
               href="https://ej2.syncfusion.com/aspnetcore/documentation/treeview/multiple-selection/">
                documentation section
            </a>.
        </p>
    </div>
}
@*custom code start*@
<style>
    .control_wrapper {
        max-width: 500px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
</style>
@*custom code end*@
@section Title{
                    <title>ASP.NET Core TreeView Multiple Selection Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Multiple Selection in ASP.NET Core TreeView Control</h1>
                }