@using Syncfusion.EJ2
@{
    List<object> treedata = new List<object>();
    treedata.Add(new
    {
        id = 1,
        name = "Discover Music",
        hasChild = true,
        expanded = true
    });
    treedata.Add(new
    {
        id = 2,
        pid = 1,
        name = "Hot Singles",

    });
    treedata.Add(new
    {
        id = 3,
        pid = 1,
        name = "Rising Artists"
    });

    treedata.Add(new
    {
        id = 4,
        pid = 1,
        name = "Live Music"
    });
    treedata.Add(new
    {
        id = 5,
        hasChild = true,
        name = "Sales and Events",

    });
    treedata.Add(new
    {
        id = 6,
        pid=5,
        name = "100 Albums - $5 Each",
    });
    treedata.Add(new
    {
        id = 7,
        pid = 5,
        name = "Hip-Hop and R&B Sale"
    });
    treedata.Add(new
    {
        id = 8,
        pid = 5,
        name = "CD Deals"
    });
    treedata.Add(new
    {
        id = 10,
        hasChild = true,
        name = "Categories"
    });
    treedata.Add(new
    {
        id = 11,
        pid=10,
        name = "Bestselling Albums",
               
    });
    treedata.Add(new
    {
        id = 12,
        pid = 10,
        name = "New Releases"
    });
    treedata.Add(new
    {
        id = 13,
        pid = 10,
        name = "Bestselling Songs"
    });
    treedata.Add(new
    {
        id = 14,
        hasChild = true,
        name = "MP3 Albums"
    });
    treedata.Add(new
    {
        id = 15,
        pid = 14,
        name = "Rock"

    });
    treedata.Add(new
    {
        id = 16,
        name = "Gospel",
        pid = 14,

    });
    treedata.Add(new
    {
        id = 17,
        pid = 14,
        name = "Latin Music"

    });
    treedata.Add(new
    {
        id = 18,
        pid = 14,
        name = "Jazz"

    });
    treedata.Add(new
    {
        id = 19,
        hasChild = true,
        name = "More in Music"

    });
    treedata.Add(new
    {
        id = 20,
        pid = 19,
        name = "Music Trade-In"
    });
    treedata.Add(new
    {
        id = 21,
        name = "Redeem a Gift Card",
        pid = 19
    });
    treedata.Add(new
    {
        id = 22,
        pid = 19,
        name = "Band T-Shirts"

    });
}
@section ControlsSection{

    <div class="control-section">
        <div class="control_wrapper">
            <ejs-treeview id="treedata" allowEditing="true">
                <e-treeview-fields dataSource="treedata" id="id" parentId="pid" text="name" hasChildren="hasChild" expanded="expanded" selected="is_selected"></e-treeview-fields>
            </ejs-treeview>
        </div>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Node Editing in ASP.NET Core TreeView control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>This <a href="https://www.syncfusion.com/aspnet-core-ui-controls/treeview" target="_blank">ASP.NET Core TreeView example</a> demonstrates the node editing functionalities of the TreeView. Double click on the node or press F2 key on selected node to edit node text in input textbox. Press enter key or click outside of the input element to save the node or press escape key to cancel the modified text.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The TreeView component has the built-in option to edit and modify the node text in inline by enabling the allowEditing property.
        </p>
        <p>
            More information about Treeview can be found in this
            <a target="_blank"
               href="https://ej2.syncfusion.com/aspnetcore/documentation/treeview/node-editing/">
                documentation section
            </a>.
        </p>
    </div>
}
@*custom code start*@
<style>
    .control_wrapper {
        max-width: 500px;
        margin: 0 auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
</style>
@*custom code end*@
@section Title{
                    <title>ASP.NET Core TreeView Node Editing Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Node Editing in ASP.NET Core TreeView Control</h1>
                }