@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div class="control_wrapper">
            <ejs-treeview id="treedata" enablertl="true">
                <e-treeview-fields dataSource="ViewBag.dataSource" id="id" parentId="pid" text="name" hasChildren="hasChild" expanded="expanded"></e-treeview-fields>
            </ejs-treeview>

        </div>
    </div>
}
@section Meta{
    <meta name="description" content="This sample demonstrates the right to left direction (RTL) direction of the tree view node." />
}
@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the RTL mode of the TreeView. The node displays its content from right-to-left direction. Click on node to select it, and click on icon or double click on node to expand/collapse it.</p>
    </div>
}
@section Description{
    <div id="description">
        The TreeView component supports the right-to-left (RTL) direction of nodes, and this is enabled by the enableRtl property.
    </div>

}
<style>
    .control_wrapper {
        max-width: 500px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }

    .control-wrapper {
        max-height: 1000px;
        max-width: 500px;
    }
</style>