@{
    ViewData["Title"] = "BatchEditing";
}

<h2>BatchEditing</h2>

@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="ViewBag.dataSource"  toolbar="@(new List<string>() { "Add","Delete","Update","Cancel" })" allowPaging="true">
            <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Batch"></e-grid-editSettings>
            <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="OrderID" headerText="Order ID" isPrimaryKey="true" validationRules="@(new { required=true, number=true})" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer Name" validationRules="@(new { required=true})" width="150"></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight" validationRules="@(new { required=true})" textAlign="Right" editType="numericedit" format="C2" width="120"></e-grid-column>
                <e-grid-column field="OrderDate" headerText="Order Date" editType="datepickeredit" format="yMd" width="170"></e-grid-column>
                <e-grid-column field="ShipCountry" headerText="Ship Country" editType="dropdownedit" width="150"></e-grid-column>
             </e-grid-columns>
        </ejs-grid>
    </div>
}

@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates CRUD operations in Grid. You can perform CRUD operations as follows,</p>
         <ul>
                <li><code>Add</code> -  To add new record, click Add toolbar button </li>
                <li><code>Edit</code> - To edit record, double click a cell </li>
                <li><code>Delete</code> - To delete record, click toolbar Delete button after selected a row </li>
                <li><code>Update</code>,<code>Cancel</code> - You can save or discard changes by click toolbar Update and Cancel button respectively</li>
        </ul>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Batch Editing in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">		   
		<p> The Grid supports CRUD operations. This CRUD operations can be configured in Grid using
        <code>editSettings</code>. Also, it has different modes to manipulate the datasource.
    </p>
    <p>The available modes are,</p>
    <ul>
        <li><code>Inline</code></li>
        <li><code>Dialog</code></li>
        <li><code>Batch</code></li>
    </ul>
    <p>
        In this demo, Batch mode is enabled for editing by defining <code>
            editSettings.mode</code> as <code>batch</code>. You can start editing by double clicking a cell and can change the cell value.
        The edited cell will be highlighted while navigating to a new cell, so that you know which cells had been edited.
        You can bulk save the edited data to the datasource by click on the toolbar's <code>update</code> button
        or by externally invoking the <code>
            batchSave</code> method.
    </p>
	</div>
}
@section Title{
                    <title>ASP.NET Core Data Grid Batch Editing Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Batch Editing in ASP.NET Core Data Grid Control</h1>
                }