@{
    ViewData["Title"] = "ColumnResize";
}

<h2>ColumnResize</h2>

@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="ViewBag.dataSource" height="400" allowResizing="true">
            <e-grid-columns>
                <e-grid-column field="OrderID" headerText="Order ID" minWidth="120" width="200" maxWidth="300" textAlign="Right" ></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer Name" minWidth="8" width="200" ></e-grid-column>
                <e-grid-column field="OrderDate" headerText=" Order Date" textAlign="Right" format="yMd" minWidth="8" width="200"></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight" textAlign="Right" format="C2" width="150" minWidth="8"></e-grid-column>
                <e-grid-column field="ShipName"  headerText="Ship Name" minWidth="8" width="300"></e-grid-column>
                <e-grid-column field="ShippedDate" headerText="Shipped Date" textAlign="Right" format="yMd" allowResizing="false" width="200"></e-grid-column>
                <e-grid-column field="ShipCountry"  headerText="Ship Country" minWidth="8" width="200"></e-grid-column>
                <e-grid-column field="ShipCity"  headerText="Ship City"  minWidth="8" width="200"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

   

}

@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the Grid column resizing feature. Click and drag at the right corner of each column header to
        resize the column.
		</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Column Resize in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
		<p>The Grid columns can be resized by clicking and dragging at the right corner of columns header. To enable column, resize
        behavior, set <code>allowResizing</code> property as true. You can also prevent the resize of the particular column by setting
        <code>columns->allowResizing</code> as false in columns definition. And, by double clicking at the right corner of column header,
        the respective column width will get auto adjusted to its fit by <code>autoFitColumns</code> method.

		</p>
		<br/>

		<p>
			In this demo, allowResizing feature have enabled through by setting the <code> allowResizing </code> property to
			true and <b>Order ID</b> column can be resized between the range of <code>minWidth (120px)</code> and <code>maxWidth (300px).</code> 
			Also, column resizing has been disabled in the <b>Shipped Date</b> column.
		</p>

    </div>
}
@section Title{
                    <title>ASP.NET Core Data Grid Column Resize Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Column Resize in ASP.NET Core Data Grid Control</h1>
                }