@{
    ViewData["Title"] = "ColumnMenu";
}

<h2>ColumnMenu</h2>
@section ControlsSection{
    <div class="control-section">      

            <ejs-grid id="Grid" dataSource="ViewBag.datasource" allowGrouping="true" allowSorting="true" allowFiltering="true" allowPaging="true" showColumnMenu="true">
               <e-grid-filterSettings type="CheckBox"></e-grid-filterSettings>
                <e-grid-groupsettings showGroupedColumn="true"></e-grid-groupsettings>
                <e-grid-columns>
                    <e-grid-column field="OrderID" headerText="Order ID"  textAlign="Right" width="200"></e-grid-column>
                    <e-grid-column field="CustomerID" headerText="Customer Name" ></e-grid-column>                    
                    <e-grid-column field="Freight" headerText="Freight" textAlign="Right" format="C2" editType="numericedit"></e-grid-column>
                    <e-grid-column field="ShipName" headerText="Ship Name" width="200"></e-grid-column>
                    <e-grid-column field="ShipCountry" visible="false" headerText="Ship Country"  width="200"></e-grid-column>
                    <e-grid-column field="ShipCity" headerText="Ship City" width="200"></e-grid-column>
                </e-grid-columns>


            </ejs-grid>
        
    </div>
}

@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the default functionalities of the ColumnMenu. Click on multiple icon of each column to open the column menu.</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Column Menu in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
		    <p>
				Grid has option to show column menu when click on multiple icon of each column. The column menu has integrated options to interact the features like sorting, grouping, filtering, column chooser and autoFit.  
				This features can be enabled by defining the <code>showColumnMenu</code> as true. The default items are
				<br>
			</p>
			<ul>
					<li><code>SortAscending</code> - Sort the current column in ascending order.</li>
					<li><code>SortDescending</code> - Sort the current column in descending order.</li>
					<li><code>Group</code> - Group the current column.</li>
					<li><code>Ungroup</code> - Ungroup the current column.</li>
					<li><code>AutoFit</code> - Auto fit current column.</li>
					<li><code>AutoFitAll</code> - Auto fit all columns.</li>
					<li><code>ColumnChooser</code> - Choose the column visibility.</li>
					<li><code>Filter</code> - Show the filter option as given in <code>filterSetting-> type</code>.</li>
			</ul>
			
			<br/>

			<p>
				In this demo, Column Menu feature has enabled by defining <code> showColumnMenu </code> as true with sorting, grouping, filtering, column chooser and autoFit options.
				 
			</p>

    </div>
}
@section Title{
                 <title>ASP.NET Core Data Grid Column Menu Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for Column Menu in ASP.NET Core Data Grid Control</h1>
            }