@{
    ViewData["Title"] = "ColumnResize";
}

<h2>ColumnResize</h2>

@section ControlsSection{
    <div class="control-section">
        <div style="overflow-x: auto; margin-left: 4px;">
            <ejs-grid id="Grid" dataSource="ViewBag.dataSource" height="400" allowResizing="true" width="850" autoFit="true">
                <e-grid-columns>
                    <e-grid-column field="OrderID" headerText="Order ID" minWidth="100" width="150" maxWidth="200" textAlign="Right" ></e-grid-column>
                    <e-grid-column field="CustomerID" headerText="Customer Name" minWidth="8" width="150" ></e-grid-column>
                    <e-grid-column field="Freight" headerText="Freight" textAlign="Right" format="C2" width="120" minWidth="8"></e-grid-column>
                    <e-grid-column field="ShippedDate" headerText="Shipped Date" textAlign="Right" format="yMd" allowResizing="false" width="150"></e-grid-column>
                    <e-grid-column field="ShipCountry"  headerText="Ship Country" minWidth="8" width="150"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

   

}

@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the Grid column rendering with a specified width. This sample also shows how to enable the resizing feature. Click and drag the right corner of each column header to resize it.
		</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Column Resize in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            By default, if the total width of the columns is less than the width of the Grid, columns will automatically fill to the grid's width. The Grid's AutoFit feature prevents Grid columns from filling more than their specified width by enabling the <code>autoFit</code> as true.
        </p>
        <br/>

		<p>The Grid columns can be resized by clicking and dragging at the right edge of column's header. To enable column, resize behavior, set the <code>allowResizing</code> property to true. You can also prevent the resize of a particular column by setting
        <code>columns->allowResizing</code> to false in columns definition. And, by double clicking at the right edge of column header, the respective column width will get auto adjusted to its fit using the <code>autoFitColumns</code> method.

		</p>
		<br/>

		<p>
			In this demo, the allowResizing feature is enabled by setting the <code>allowResizing</code> property to true and <b>Order ID</b> column can be resized
            between the range of <code>minWidth (100px)</code> and <code>maxWidth (200px).</code> 
			Also, column resizing is disabled for the <b>Shipped Date</b> column.
		</p>

    </div>
}
@section Title{
                    <title>ASP.NET Core Data Grid Column Resize Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Column Resize in ASP.NET Core Data Grid Control</h1>
                }