@{
    ViewData["Title"] = "ColumnChooser";
}

<h2>ColumnChooser</h2>
@section ControlsSection{
    <div class="control-section">        
        <ejs-grid id="Grid" dataSource="ViewBag.datasource"  showColumnChooser="true" toolbar="@( new List<string>() { "ColumnChooser"})"  allowPaging="true">
            <e-grid-columns>
                <e-grid-column field="OrderID" headerText="Order ID" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer Name" width="150"></e-grid-column>
                <e-grid-column field="OrderDate" headerText=" Order Date"  textAlign="Right" format="yMd" width="130"></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight"  textAlign="Right" format="C2" width="120"></e-grid-column>
                <e-grid-column field="ShippedDate" headerText="Shipped Date"  textAlign="Right" format="yMd" width="140"></e-grid-column>                
                <e-grid-column field="ShipCountry" visible="false" headerText="Ship Country" width="150"></e-grid-column>
                <e-grid-column field="ShipCity"  visible="false" headerText="Ship City" width="150"></e-grid-column> 
            </e-grid-columns>
        </ejs-grid>
    </div>
}


@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the Grid column chooser feature. Click the column chooser
        icon in the toolbar to open column chooser and you can select columns to hide/show from the checkbox list. 
		</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Column Chooser in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
		<p>The Grid columns can be shown/hidden dynamically by using column chooser. To enable column chooser behavior, set <code>showColumnChooser
        </code> property as true. You can also prevent the display of a column in column chooser by setting
        <code>columns->showInColumnChooser</code> as false in columns definition.

    </p>
    <br/>

    <p>
        In this demo, when the user clicks column chooser icon from the toolbar then the column chooser menu will open. User can
        show or hide the columns by changing the state of the checkbox.
    </p>	
    </div>
}
@section Title{
                 <title>ASP.NET Core Data Grid Column Chooser Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for Column Chooser in ASP.NET Core Data Grid Control</h1>
            }