@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <ejs-grid id="Grid" TValue='ViewBag.type' dataSource="ViewBag.dataSource" toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" allowPaging="true">
                <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true"></e-grid-editSettings>
            </ejs-grid>
        </div>
    </div>


}
@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the data annotation feature of the Grid component.</p>
    </div>
}

@section Meta{
    <meta name="description" content="Example of Data Annotation in ASP.NET Core Data Grid Control." />
}

@section Description{
    <div id="description">
        <p>DataGrid is a generic component that can be strongly bound to any business object via data annotation. <code> Data annotation</code> is used to change the display format, validate fields by checking end-user input, and display messages to them by defining rules in model classes.</p>
        <p>The user must import the namespace <b>System.ComponentModel.DataAnnotations</b> before using the data annotation. Users can change the Display Format, Header text of the Column, Editable, and set any one of the columns should be defined as a primary key using the <code>GridColumn</code> component's <code>IsPrimaryKey</code> property for a specific field using the data annotation attributes.</p>
        <p>
            The DataGrid in this demo had been modified as follows.
            <ul>
                <li>The Grid's columns are generated automatically by a property in the model class.</li>
                <li>The <a target='_blank' href='https://learn.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.displayattribute?view=net-8.0' aria-label="Navigate to the Microsoft documentation for DisplayAttribute">DisplayAttribute</a> was used to change the column header text.</li>
                <li>The <a target='_blank' href='https://learn.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.displayformatattribute?view=net-8.0' aria-label="Navigate to the Microsoft documentation for DisplayFormatAttribute">DisplayFormatAttribute</a> was used to change the display format of the Freight column.</li>
                <li>Disabled using the <a target='_blank' href='https://learn.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.editableattribute?view=net-8.0' aria-label="Navigate to the Microsoft documentation for EditableAttribute">EditableAttribute</a>, you can make changes to the property ShipCity.</li>
                <li>Using the <a target='_blank' href='https://learn.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.keyattribute?view=net-8.0' aria-label="Navigate to the Microsoft documentation for KeyAttribute">KeyAttribute</a>, the OrderID property's primary key has been set.</li>
                <li>The <a target='_blank' href='https://learn.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.requiredattribute?view=net-8.0' aria-label="Navigate to the Microsoft documentation for RequiredAttribute">RequiredAttribute</a> is used for validation of the property CustomerID.</li>
                <li>Validation <a target='_blank' href='https://learn.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.rangeattribute?view=net-8.0' aria-label="Navigate to the Microsoft documentation for RangeAttribute">RangeAttribute</a> is applied to the Freight property via the Range attribute.</li>
                <li>The <a target='_blank' href='https://learn.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.stringlengthattribute?view=net-8.0' aria-label="Navigate to the Microsoft documentation for StringLengthAttribute">StringLengthAttribute</a> is used for validation of the property CustomerID.</li>
            </ul>
        </p>
        <p> More information about the Data annotation feature can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/grid/data-annotation" aria-label="Navigate to the documentation for Data Annotation in Grid control" >Documentation</a> section.</p>
    </div>
}
@section Title{
    <title>ASP.NET Core Data Grid Annotation Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Data Annotation in ASP.NET Core Data Grid Control</h1>
}
