@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="((System.Data.DataTable)ViewBag.datasource)" allowPaging="true">
            <e-grid-columns>
                <e-grid-column field="OrderID" headerText="Order ID" textAlign="Right" width="140"></e-grid-column>
                <e-grid-column field="EmployeeID" headerText="Employee ID" textAlign="Right" width="90"></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer ID" width="70"></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight" format="C2" textAlign="Right" width="90"></e-grid-column>
                <e-grid-column field="ShipCountry" headerText="Ship Country" width="110"></e-grid-column>
                <e-grid-column field="OrderDate" headerText="Order Date" format="yMd" textAlign="Right" width="80"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
}


@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the way of binding Grid component with DataTable. 
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the DataTable Binding in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">      
        <p>
            DataTable represents a table with relational data which has in-built schema to work easily with data column and data row objects.
        </p>
        <p>You can bind DataTable to the grid by using DataSource property. While binding DataTable like above, grid actions such as Sorting, Filtering, Grouping, Paging etc., will handle at client side.</p>
		<p>
           <br/> More information about the DataTable can be found in this
              <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/grid/databinding.html#datatable">
               documentation section</a>.
         </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Data Grid DataTable Binding Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of DataTable Binding in ASP.NET Core Data Grid Control</h1>
                }