
@{
    ViewData["Title"] = "DefaultPaging";
}



@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="ViewBag.datasource"  allowPaging="true" height="365">

            <e-grid-pagesettings pageCount="4" pageSizes="true"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="OrderID" headerText="Order ID" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer Name" width="150"></e-grid-column>
                <e-grid-column field="OrderDate" headerText=" Order Date" textAlign="Right" format="yMd" width="130"></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight" textAlign="Right" format="C2" width="120"></e-grid-column>
                <e-grid-column field="ShippedDate" headerText="Shipped Date" textAlign="Right" format="yMd" width="140"></e-grid-column>
                <e-grid-column field="ShipCountry" headerText="Ship Country" width="150"></e-grid-column>

            </e-grid-columns>
        </ejs-grid>
    </div>
   
}
@section ActionDescription{
	<div id="action-description">
		<p>
			This sample demonstrates the Grid paging feature. In this sample, click the numeric items to navigate to particular page.
			You can also change the page size using the dropdown.
		</p>
	</div>
}


@section Meta{
    <meta name="description" content="This demo for Essential JS 2 grid control shows how you can display the contents of the grid in page segments using the paging feature."/>
}

@section Description{
    <div id="description">
		 <p>Paging allows you to display the contents of the Grid in page segments. By default, paging is disabled. To enable paging,
			set <code>allowPaging</code> property to true. <code>
			pageSettings->pageSizes</code> property enables a dropdown in pager which allows you to change the number of records in the Grid dynamically.
		</p>
		<p>
			In this demo, the Grid is rendered with
			<code>pageSettings->pageSizes</code>set to true and
			<code>pageSettings->pageCount</code> is set to 4.
		</p>	
    </div>
}