
@{
    ViewData["Title"] = "Filtering";
}

@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="ViewBag.datasource"   allowFiltering="true" allowPaging="true">
           <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="CategoryName" headerText="Category Name"  textAlign="Right" width="160"></e-grid-column>
                <e-grid-column field="ProductName" headerText="Product Name" width="170"></e-grid-column>
                <e-grid-column field="QuantityPerUnit" headerText="Quantity Per Unit" textAlign="Right" width="170"></e-grid-column>
                <e-grid-column field="UnitsInStock" headerText="Units in Stock" textAlign="Right"  width="170"></e-grid-column>               
                <e-grid-column field="Discontinued" headerText="Discontinued" width="150" displayAsCheckBox="true" textAlign="Center" type="boolean"></e-grid-column>
            </e-grid-columns>

        </ejs-grid>
    </div>   
}

@section ActionDescription{
	<div id="action-description">
		 <p>
			This sample demonstrates the Grid Default Filtering feature. In this sample, type the value in the filterbar and press enter
			to filter particular column.
		</p>
	</div>
}

@section Meta{
    <meta name="description" content="This demo for Essential JS 2 grid control shows how to place a filter bar row in the header to filter grid rows."/>
}

@section Description{
    <div id="description">
		  <p>The filtering feature enables the user to view the reduced amount of records based on filter criteria. It can be enabled
			by setting <code>allowFiltering</code> property as true. A filter bar row will be rendered next to header which allows the end-users to filter
			data by entering text within its cells.</p>
		<p>Filterbar uses two modes which specifies how to start filtering. They are,</p>
		<ul>
			<li><code>Onenter</code> - Enabled by default, filter will be initiated after pressing <code>Enter</code> key.</li>
			<li><code>Immediate</code> - Filter will start after user ends typing. This uses a time delay of <i>1500ms</i> to initiate
				filter after use stops typing. It can be overridden using the <code>filterSettings->immediateModeDelay</code> property.</li>
		</ul>
		<p>In this demo, you can type the text in the filter bar cells to filter the Grid. </p>
		<br/>
    </div>
}