@using Syncfusion.EJ2
@{
    ViewData["Title"] = "Drag and Drop within grid";
    var alertanimation = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.None };
}

@section ControlsSection{
    <div class="control-section">

        <ejs-grid id="Grid" created="created" dataSource="ViewBag.dataSource" allowRowDragAndDrop="true" allowSorting="true" allowGrouping="true" height="400">
        <e-grid-selectionsettings type="Multiple"></e-grid-selectionsettings>
            <e-grid-columns>
                <e-grid-column field="OrderID" headerText="Order ID" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer Name" width="150"></e-grid-column>
                <e-grid-column field="OrderDate" headerText=" Order Date" format="yMd" width="130"></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight" format="C2" width="120"></e-grid-column>
                <e-grid-column field="ShippedDate" headerText="Shipped Date"  format="yMd" width="140"></e-grid-column>
                <e-grid-column field="ShipCountry" allowGrouping="false" headerText="Ship Country" width="150"></e-grid-column>
            </e-grid-columns>
      </ejs-grid>
       
    </div>
    <ejs-dialog id="alert_dialog" animationSettings="alertanimation" visible="false" target=".control-section" width="300px" header="Grouping" content="Grouping is disabled for this column">
        <e-dialog-buttons>
            <e-dialog-dialogbutton buttonModel="ViewBag.alertbutton" click="alertBtnClick"></e-dialog-dialogbutton>
        </e-dialog-buttons>
    </ejs-dialog>
    <script>

        function created(args) {
            var grid = document.getElementById('Grid').ej2_instances[0];
            grid.on("columnDragStart", columnDragStart, this);
        }
        function columnDragStart(args) {
            if (args.column.field === "ShipCountry") {
                var dialogObj = document.getElementById('alert_dialog').ej2_instances[0];
                dialogObj.show();
            }
        }
        function alertBtnClick() {
            var dialogObj = document.getElementById('alert_dialog').ej2_instances[0];
            dialogObj.hide();
        }
    </script>
 }

@section ActionDescription{
	<div id="action-description">
	    <p>This sample demonstrates the Grid component with the row drag and drop feature within same grid. You can rearrange the grid rows by using drag icon in left side of grid column.Here you can drag and drop the grid rows between the decided rows. </p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Row Drag and Drop within Grid in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>Row drag and drop enabled by setting  
            <code><a target="_blank" class="code"
        href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Grids.Grid.html#Syncfusion_EJ2_Grids_Grid_AllowRowDragAndDrop">allowRowDragAndDrop</a></code> property as true.</p>
        <p>Grouping can be enabled by setting  
            <code><a target="_blank" class="code"
        href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Grids.Grid.html#Syncfusion_EJ2_Grids_Grid_AllowGrouping">allowGrouping</a></code> property as true.</p>
        <p>
            The row drag and drop functionality is enabled with grouped records in the grid.
            Now, you can drag and drop the records from one group to another group of your choice.
        </p>     
    </div>
}
@section Title{
                    <title>ASP.NET Core Data Grid Row Drag and Drop within Grid Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Row Drag and Drop within Grid in ASP.NET Core Data Grid Control</h1>
                }
