@using Syncfusion.EJ2


@section ControlsSection{
    <div class="control-section">

     <ejs-grid id="Grid"  dataSource="ViewBag.dataSource" allowRowDragAndDrop="true" height="400">
        <e-grid-selectionsettings type="Multiple"></e-grid-selectionsettings>
            <e-grid-columns>
                <e-grid-column field="OrderID" headerText="Order ID" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer Name" width="150"></e-grid-column>
                <e-grid-column field="OrderDate" headerText=" Order Date" format="yMd" width="130"></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight" format="C2" width="120"></e-grid-column>
                <e-grid-column field="ShippedDate" headerText="Shipped Date"  format="yMd" width="140"></e-grid-column>
                <e-grid-column field="ShipCountry"  headerText="Ship Country" width="150"></e-grid-column>
            </e-grid-columns>
      </ejs-grid>
       
    </div>    
 }

@section ActionDescription{
	<div id="action-description">
	    <p>This sample demonstrates the Grid component with the row drag and drop feature within same grid. You can rearrange the grid rows by using drag icon in left side of grid column.Here you can drag and drop the grid rows between the decided rows. </p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Row Drag and Drop within Grid in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>Row drag and drop enabled by settting <code> allowRowDragAndDrop </code> property as true.  
    </div>
}
@section Title{
                    <title>ASP.NET Core Data Grid Row Drag and Drop within Grid Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Row Drag and Drop within Grid in ASP.NET Core Data Grid Control</h1>
                }