@{
    ViewData["Title"] = "DynamicObject binding";
}

@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="DynamicObjectGrid" dataSource="ViewBag.DynamicData" allowPaging="true" allowSorting="true" allowFiltering="true" toolbar="@(new List<string>() {"Add", "Edit", "Delete", "Update", "Cancel"})">
            <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" newRowPosition="Top"></e-grid-editSettings>
            <e-grid-columns>
                <e-grid-column field="OrderID" headerText="Order ID" isPrimaryKey="true" validationRules="@(new { required=true, number=true})" width="140"></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer Name" validationRules="@(new { required=true})" width="150"></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight" validationRules="@(new { required=true})" textAlign="Right" editType="numericedit" format="C2" width="140"></e-grid-column>
                <e-grid-column field="ShipCountry" headerText="Ship Country" editType="dropdownedit" width="150"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample shows how to use DynamicObject data binding with CRUD operations, sorting and filtering in the Grid component.
        </p>
    </div>
}

@section Meta{
    <meta name="description" content="This example demonstrates the DynamicObject type data binding in ASP.NET MVC Data Grid control. Explore here for more details." />
                }

@section Description{

    <div id="description">

        <p>
           The Grid supports DynamicObject data binding. The <code>DataSource</code> property can be assigned as list of DynamicObject.
        </p>
        <p>More information about data binding can be found in this
         <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/grid/data-binding/data-binding">documentation </a>section.
        </p>

    </div>

}
@section Title{
    <title>ASP.NET MVC Data Grid DynamicObject type data binding Example - Syncfusion Demos </title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of DynamicObject type data binding with Grid component in ASP.NET MVC Data Grid Control</h1>
                }