
@{
    ViewData["Title"] = "FrozenRows";
}



@section ControlsSection{
    <div class="col-lg-8 control-section">
    <div class="control-wrapper">
        <ejs-grid id="Grid" dataSource="ViewBag.datasource" height="410" frozenColumns="1" frozenRows="2" allowResizing="true" allowSelection="false"  allowSorting="true">
            <e-grid-columns>
                <e-grid-column field="OrderID" headerText="Order ID" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight" textAlign="Right" format="C2" width="120"></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer Name" width="150"></e-grid-column>
                <e-grid-column field="OrderDate" headerText=" Order Date" textAlign="Right" format="yMd" width="130"></e-grid-column>
                <e-grid-column field="ShippedDate" headerText="Shipped Date" textAlign="Right" format="yMd" width="140"></e-grid-column>
                <e-grid-column field="ShipName" headerText="Ship Name" width="170"></e-grid-column>
                <e-grid-column field="ShipAddress" headerText="Ship Name" width="170"></e-grid-column>
                <e-grid-column field="ShipCity" headerText="Ship City" width="150"></e-grid-column>
                <e-grid-column field="ShipCountry" headerText="Ship Country" width="150"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<div class="col-lg-4 property-section">

    <h4>Properties</h4>

    <table id="property" title="Properties" style="width: 100%;">
        <tr>
            <td class="left-side">Frozen Rows</td>
            <td style="padding-bottom:10px">
                <ejs-numerictextbox id="rows" min=0 max=5 format="n" value=2></ejs-numerictextbox>
            </td>
        </tr>
        <tr>
            <td class="left-side">Frozen Columns</td>
            <td style="padding-bottom:10px">
                <ejs-numerictextbox id="columns" min=0  max=2 format="n"  value=1></ejs-numerictextbox>
            </td>
        </tr>
        <tr>
            <td class="left-side"></td>
            <td>
                <ejs-button id="set" content="SET" ></ejs-button>
            </td>
        </tr>
      </table>
</div>

    <script>
        document.getElementById("set").addEventListener("click",function() { 

            var grid = document.getElementById("Grid").ej2_instances[0], rows = document.getElementById("rows").ej2_instances[0], columns = document.getElementById("columns").ej2_instances[0] ;
            grid.frozenColumns = columns.value;
            grid.frozenRows = rows.value;
        })
    </script>
}
@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the frozen rows and columns feature of the Grid. Scroll the movable content vertically/horizontally to view the frozen rows/columns
		with the content.</p>
	</div>
}

@section Meta{
    <meta name="description" content="This demo for Essential JS 2 grid control shows how the rows and columns can be frozen or pinned."/>
}

@section Description{
    <div id="description">
		<p>
			The freezing feature enables the user to freeze certain rows/columns to scroll remaining movable content. This can be achieved by setting <b>frozenRows</b> and <b>frozenColumns</b> property.
		</p>
		<p>
			In this demo sample, the first column and two rows are set to frozen by using the  <code>frozenRows</code>  and 
			<code>frozenColumns</code>  properties.
		</p>

    </div>
}

