
<link href="~/styles/Grid/gridfont.css" rel="stylesheet" />
@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="ViewBag.datasource">
            <e-grid-columns>
                <e-grid-column field="EmployeeID" headerText="Employee ID" headerTemplate="#employeetemplate" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column field="FirstName" headerText="First Name" width="140"></e-grid-column>
                <e-grid-column field="BirthDate" headerText="Birth Date" headerTemplate="#datetemplate" format='yMd' textAlign="Right" width="130"></e-grid-column>
                <e-grid-column field="City" headerText="City" width="120"></e-grid-column>
                <e-grid-column field="Country" width="140"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

    <script id="datetemplate" type="text/x-template">
        <span class="e-icon-calender e-icons headericon"></span> Order Date
    </script>
    <script id="employeetemplate" type="text/x-template">
        <span class="e-icon-userlogin e-icons employee"></span> Emp ID
    </script>
    <style>
   
        .e-grid .e-icon-userlogin::before {
            font-family: 'e-grid-headertemplate';
            width: 15px !important;
            content: '\e7d4';
        }

        .e-grid .e-icon-calender::before {
            font-family: 'e-grid-headertemplate';
            width: 15px !important;
            content: '\e7b5';
        }
    </style>


}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the Grid header template feature. In this sample, we have shown custom icons in the column headers.
        </p>
    </div>
}

@section Meta{
    <meta name="description" content="This demo for Essential JS 2 grid control shows the usage of the header template feature."/>
}

@section Description{
    <div id="description">
        <p>
            The Grid provides a way to use a custom element in header element.
            <code>columns->headertemplate</code> property accepts either string or HTML element`s ID value, which will be used as the template
            for the header cell.
        </p>
        <p>
            In this demo, we have render customized template for EmployeeID and BirthDate column headers.
        </p>

    </div>
}
