


@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="ViewBag.datasource" allowPaging="true">
            <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="OrderID" headerText="Order ID" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer Name" width="150"></e-grid-column>
                <e-grid-column field="OrderDate" headerText=" Order Date" textAlign="Right" format="yMd" width="130"></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight" textAlign="Right" format="C2" width="120"></e-grid-column>
                <e-grid-column field="ShippedDate" headerText="Shipped Date" textAlign="Right" format="yMd" width="140"></e-grid-column>                
                <e-grid-column field="ShipCountry" headerText="Ship Country" width="150"></e-grid-column>
            </e-grid-columns>

        </ejs-grid>
    </div>
}

@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the way of data binding Grid component with List object(list binding data source).
		</p>
	</div>
}

@section Meta{
    <meta name="description" content="This demo for Essential JS 2 grid control shows how to bind with a local data source."/>
}

@section Description{
    <div id="description">
		<p>The Grid supports data binding. The <code>dataSource</code> property can be assigned either with the list of
		objects or instance of <code>DataManager</code>.</p>
		<p>In this demo, the list of objects is assigned as the data source to the Grid.</p>		
    </div>
}
