

@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="ViewBag.datasource" toolbar="@(new List<string>() {"Print" })"  allowPaging="true">

            <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="OrderID" headerText="Order ID" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer Name" width="150"></e-grid-column>
                <e-grid-column field="OrderDate" headerText=" Order Date" textAlign="Right" format="yMd" width="130"></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight" textAlign="Right" format="C2" width="120"></e-grid-column>               
                <e-grid-column field="ShipCountry" headerText="Ship Country" width="150"></e-grid-column>
            </e-grid-columns>

        </ejs-grid>
    </div>
}
@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the option to print the Grid. Click the print button from the toolbar item to print Grid.</p>
	</div>
}

@section Meta{
    <meta name="description" content="This demo for Essential JS 2 grid control shows how to print the grid content."/>
}

@section Description{
    <div id="description">		   
		<p>The Grid can be printed using the <code>print
        </code> method. While printing the pager and scrollbar will be removed if they are enabled in Grid.</p>
    <p>By default, all pages will be printed. We can print current page alone by setting the <code>printMode
    </code> property value as <code>currentpage</code>.</p>
    <p>In this demo, The Grid toolbar provides an option to print the Grid.</p>
	</div>
}
