
@{
    ViewData["Title"] = "Reorder";
}

<h2>Reorder</h2>

@section ControlsSection{

    <div class="col-lg-8 control-section">
        <div class="control-wrapper">
            <ejs-grid id="Grid" dataSource="ViewBag.datasource" actionComplete="actionComplete" allowReordering="true">
                <e-grid-columns>
                    <e-grid-column field="EmployeeID" headerText="Employee ID" textAlign="Right" width="125"></e-grid-column>
                    <e-grid-column field="FirstName" headerText="Name" width="120"></e-grid-column>
                    <e-grid-column field="Title" headerText="Title" width="170"></e-grid-column>
                    <e-grid-column field="HireDate" headerText="Hire Date" format='yMd' textAlign="Right" width="135"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
  </div>

 <div class="col-lg-4 property-section">
            <h4>Properties</h4>

            <table id="property" title="Properties" style="width: 100%;">
                <tr>
                    <td class="left-side">Column</td>
                    <td style="padding-bottom:10px">
                        <ejs-dropdownlist id="column" dataSource="@ViewBag.columns" value="@("EmployeeID")" change="columnChange" popupHeight="220px">
                            <e-dropdownlist-fields text="text" value="value"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </td>
                </tr>
                <tr>
                    <td class="left-side">Column Index</td>
                    <td>
                        <ejs-dropdownlist id="columnIndex" dataSource="@ViewBag.index" value="@("0")" index="2" change="indexChange" popupHeight="220px">
                            <e-dropdownlist-fields text="text" value="value"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </td>
                </tr>               
            </table>
        </div>

    <script>
        function actionComplete(args) { 


         if (args.requestType === 'reorder') {
                var dropdown = document.getElementById("column").ej2_instances[0], grid = document.getElementById("Grid").ej2_instances[0];
                var field = (dropdown.value), index = grid.getColumnIndexByField(field);
                document.getElementById("columnIndex").ej2_instances[0].value = index.toString();
            }
        }

        function columnChange(args) { 
            var grid = document.getElementById("Grid").ej2_instances[0];
            var field = this.value;
            var index =grid.getColumnIndexByField(field);
            document.getElementById("columnIndex").ej2_instances[0].value = index.toString();

        }
        function indexChange(args) { 
            var grid = document.getElementById("Grid").ej2_instances[0], dropdown = document.getElementById("column").ej2_instances[0];
            var field = (dropdown.value);
            var toColumnIndex = this.value;
            grid.reorderColumns(field, (grid.columns[toColumnIndex]).field);
        }
    </script>
}
@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates reordering of the Grid columns. Select column name and index from properties panel to reorder
        the columns. You can also reorder columns by simply drag and drop in the desired column position.
		</p>
	</div>
}

@section Meta{
    <meta name="description" content="This demo for ASP.NET Core grid control shows the reordering columns features."/>
}

@section Description{
    <div id="description">
		<p>Reordering can be enabled by setting <code>allowReordering</code> property as true. Reordering can be done by drag and drop the column header from one index to another
			index within the Grid.</p>
		<p>The location in which the column to be placed, will be indicated by two arrows symbols.</p>
		<p>In this demo, you can either reorder columns by drag and drop or by selecting column name and column index to reorder
			from the dropdown.
		</p>	
    </div>
}

