@{
    ViewData["Title"] = "RowHover";
}

<h2>RowHover</h2>

@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="ViewBag.datasource" enableHover="true" allowPaging="true" allowSorting="true" allowFiltering="true" toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" >
            <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
            <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
            <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true"></e-grid-editSettings>
            <e-grid-columns>
                <e-grid-column field="ProductID" headerText="Product ID" textAlign="Right" width="160" isPrimaryKey="true" validationRules="@(new { required=true, number=true})"></e-grid-column>
                <e-grid-column field="ProductName" headerText="Product Name" width="170" validationRules="@(new { required=true, minLength=5})"></e-grid-column>
                <e-grid-column field="UnitPrice" headerText="Unit Price" format="C2" textAlign="Right" width="170"></e-grid-column>
                <e-grid-column field="UnitsInStock" headerText="Units in Stock" textAlign="Right" width="170"></e-grid-column>
                <e-grid-column field="Discontinued" headerText="Discontinued" width="150" displayAsCheckBox="true" textAlign="Center" type="boolean" editType="booleanedit"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
}

@section ActionDescription{
	<div id="action-description">
		 <p>This sample demonstrates the Grid component with the row hover feature. Move the mouse over the Grid rows to see the
			hover effect.
		</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Row Hover in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
		     <p>Row Hover feature enables us to identify the current row by highlighting them with the mouse hovers. This can be enabled
				by setting the <code>enableHover</code> property as true.
			</p>
			<p>In this demo,by enabling the enableHover property, now you can move the mouse over Grid rows to see the hover effect.</p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Data Grid Row Hover Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Row Hover in ASP.NET Core Data Grid Control</h1>
                }