@page
@model EJ2CoreSampleBrowser_NET8.Pages.Maps.MapLabel

@using Syncfusion.EJ2;

@{
    var labelStyle = new Syncfusion.EJ2.Maps.MapsFont
    {
        FontFamily = "Segoe UI"
    };
    var usmap = new MapLabel().getusMap();
}

@section ControlsSection{

<div class="col-md-8 control-section">
                <ejs-maps id="maps" load="window.onMapLoad" loaded="window.onCreated">
                    <e-maps-zoomsettings enable="false"></e-maps-zoomsettings>
                    <e-maps-layers>
                        <e-maps-layer shapeData="@usmap">
                            <e-layersettings-datalabelsettings visible="true" labelPath="name" smartLabelMode="@Syncfusion.EJ2.Maps.SmartLabelMode.Trim"></e-layersettings-datalabelsettings>
                            <e-layersettings-shapesettings autofill="true"></e-layersettings-shapesettings>
                            <e-layersettings-tooltipsettings visible="true" valuePath="name" font="labelStyle"></e-layersettings-tooltipsettings>
                        </e-maps-layer>
                    </e-maps-layers>
                </ejs-maps>
            </div>

<div class="col-md-4 property-section">
                <table id="property" title="Properties" style="width: 100%;">
                    <tbody>
                        <tr style="height: 50px">
                            <td>
                                <div>Show Labels</div>
                            </td>
                            <td>
                                <div>
                                    <input type="checkbox" checked id="select">
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 50px">
                            <td>
                                <div>Smart label mode</div>
                            </td>
                            <td>
                                <div>
                                    <select id="smartlabelmode" style="margin-left: -25px">
                                        <option value="Trim">Trim</option>
                                        <option value="None">None</option>
                                        <option value="Hide">Hide</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 50px">
                            <td>
                                <div>Intersect action</div>
                            </td>
                            <td>
                                <div>
                                    <select id="intersectaction" style="margin-left: -25px">
                                        <option value="None">None</option>
                                        <option value="Trim">Trim</option>
                                        <option value="Hide">Hide</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
}
<style>
    .property-panel-header {
        margin-left: 10px;
    }
</style>
<script>
    window.onload = function () {
        var intersectaction = new ej.dropdowns.DropDownList({
            index: 0,
            placeholder: 'Select intersect action',
            width: '100%',
            change: function () {
                maps.layers[0].dataLabelSettings.intersectionAction = intersectaction.value;
                maps.refresh();
            }
        });
        intersectaction.appendTo('#intersectaction');
        var smartlabelmode = new ej.dropdowns.DropDownList({
            index: 0,
            placeholder: 'Select smartlabel mode',
            width: '100%',
            change: function () {
                maps.layers[0].dataLabelSettings.smartLabelMode = smartlabelmode.value;
                maps.refresh();
            }
        });
        smartlabelmode.appendTo('#smartlabelmode');
        document.getElementById('select').onchange = function () {
            var element = (document.getElementById('select'));
            maps.layers[0].dataLabelSettings.visible = element.checked;
            maps.refresh();
        };
    };
    var maps;
    function onCreated() {
        maps = document.getElementById('maps').ej2_instances[0];
    }
    @* custom code start *@
    function onMapLoad(args) {
        var theme = themeName ? themeName : "Material";
        args.maps.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
    }
    @* custom code end *@
</script>

@section Meta{
                    <meta name="description" content="This example demonstrates the Labels in ASP.NET Core Maps control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
            <p>
               This sample visualizes the names of all the states in USA in data labels. Options have been provided to change the intersect action and smart labels mode of the data labels.
           </p>
        </div>
}
@section Description{
        <div id="description">
            <p>
               In this example, you can see how to render the data labels for each shape in a map. Data labels are used to display the values of the shapes. You can use the <code>autoFill</code> property in the <code>shapeSettings</code> to apply the default palette colors to the shapes.
        
            </p>
            <p>
            Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a shape or tap a shape in touch enabled devices.
            </p>
        <br/>
            <p style="font-weight: 500">Injecting Module</p>
            <p>
             Maps component features are segregated into individual feature-wise modules. To use a data label, inject the <code>DataLabel</code> module using the <code>Maps.Inject(DataLabel)</code> method.
            </p>
        </div>
}
@section Title{
                    <title>ASP.NET Core Maps Labels Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Labels in ASP.NET Core Maps Control</h1>
                }