@page

@using Syncfusion.EJ2.Maps;

@{
    var TextStyle = new MapsFont { Size = "16px", FontFamily = "inherit" };
    var Markers = new List<Syncfusion.EJ2.Maps.MapsMarker>
    {

        new Syncfusion.EJ2.Maps.MapsMarker
        {
            Visible = true, Height = 15, Width = 15, Shape = MarkerType.Circle, AnimationDuration = 0, Fill="#b38600",
            DataSource = new [] {
                new { latitude= 48.8584, longitude= 2.2945, name= "Eiffel Tower", state= "Paris", country= "France" },
                new { latitude= 48.8606, longitude= 2.3376, name= "Louvre Museum", state= "Paris", country= "France" },
                new { latitude= 48.8529, longitude= 2.3500, name= "Notre-Dame Cathedral", state= "Paris", country= "France" },
                new { latitude= 48.6360, longitude= 1.5115, name= "Mont Saint-Michel", state= "Normandy", country= "France" },
                new { latitude= 48.8049, longitude= 2.1204, name= "Versailles", state= "Normandy", country= "France" },
                new { latitude= 43.7102, longitude= 7.2620, name= "French Riviera", state= "Provence-Alpes-Côte d Azur", country= "France" },
                new { latitude= 47.6167, longitude= 1.5167, name= "Château de Chambord", state= "Centre-Val de Loire", country= "France" },
                new { latitude= 48.8738, longitude= 2.2950, name= "Arc de Triomphe", state= "Paris", country= "France" },
                new { latitude= 48.8566, longitude= 2.3522, name= "Sainte-Chapelle", state= "Paris", country= "France" },
                new { latitude= 49.4144, longitude= 0.8322, name= "The D-Day Landing Beaches", state= "Normandy", country= "France" }
            },
            Border = new MapsBorder {
                 Color = "#e6f2ff",
                 Width = 2,
                 Opacity = 1
            },
            ClusterSettings = new Syncfusion.EJ2.Maps.MapsMarkerClusterSettings
            {
                AllowClustering = true,
                AllowDeepClustering= false,
                AllowClusterExpand= true,
                Shape= MarkerType.Image,
                Height= 40, Width= 40,
                LabelStyle= new MapsFont {
                    Color= "white",
                    Size= "10px"
                },
                ImageUrl= "../styles/images/maps/cluster-france.svg"
            },
            TooltipSettings = new MapsTooltipSettings{ Visible=true, ValuePath="name", Format= "<b>Name:</b> ${name} <br/> <b>State:</b> ${state} <br/> <b>Country:</b> ${country}" },
        },
        new Syncfusion.EJ2.Maps.MapsMarker
        {
            Visible = true, Height = 15, Width = 15, Shape = MarkerType.Circle, AnimationDuration = 0, Fill="#bf4040",
            DataSource = new [] {
               new { latitude= 35.019028, longitude= -85.339439, name= "Ruby Falls", state= "Tennessee", country= "United States of America" },
               new { latitude= 35.654613, longitude= -105.996979, name= "Meow Wolf Santa Fe", state= "New Mexico", country= "United States of America" },
               new { latitude= 36.107216, longitude= -115.175804, name= "City Center of Las Vegas", state= "Nevada", country= "United States of America" },
               new { latitude= 36.879047, longitude= -111.510498, name= "Horseshoe Bend", state= "Arizona", country= "United States of America" },
               new { latitude= 36.011955, longitude= -113.810951, name= "Grand Canyon West Skywalk", state= "Arizona", country= "United States of America" },
               new { latitude= 44.460438, longitude= -110.828377, name= "Old Faithful", state= "Wyoming", country= "United States of America" },
               new { latitude= 33.839165, longitude= -118.391113, name= "Redondo Beach Pier", state= "California", country= "United States of America" },
               new { latitude= 36.117615, longitude= -115.168381, name= "High Roller, Las Vegas", state= "Nevada", country= "United States of America" },
               new { latitude= 36.082027, longitude= -115.172897, name= "Welcome to Fabulous Las Vegas Sign", state= "Nevada", country= "United States of America" },
               new { latitude= 28.521894, longitude= -80.681702, name= "Kennedy Space Center Visitor Complex", state= "Florida", country= "United States of America" }
            },
            Border = new MapsBorder {
                 Color = "#e6f2ff",
                 Width = 2,
                 Opacity = 1
            },
            ClusterSettings = new Syncfusion.EJ2.Maps.MapsMarkerClusterSettings
            {
                AllowClustering = true,
                AllowDeepClustering= false,
                AllowClusterExpand= true,
                Shape= MarkerType.Image,
                Height= 40, Width= 40,
                LabelStyle= new MapsFont {
                    Color= "white",
                    Size= "10px"
                },
                ImageUrl= "../styles/images/maps/cluster-usa.svg"
            },
            TooltipSettings = new MapsTooltipSettings{ Visible=true, ValuePath="name", Format= "<b>Name:</b> ${name} <br/> <b>State:</b> ${state} <br/> <b>Country:</b> ${country}" },
        },
        new Syncfusion.EJ2.Maps.MapsMarker
        {
            Visible = true, Height = 15, Width = 15, Shape = MarkerType.Circle, AnimationDuration = 0, Fill="#00b3b3",
            DataSource = new [] {
              new { latitude= 26.985901, longitude= 75.850700, name= "Amber Fort, Amer", state= "Rajastan", country= "India" },
              new { latitude= 22.957390, longitude= 77.625275, name= "Bhimbetka, Raisen District", state= "Madhya Pradesh", country= "India" },
              new { latitude= 26.809330, longitude= 75.540527, name= "Bagru Fort, Bagru", state= "Rajasthan", country= "India" },
              new { latitude= 25.489504, longitude= 80.330116, name= "Kalinjar Fort, Banda", state= "Uttar Pradesh", country= "India" },
              new { latitude= 27.988890, longitude= 76.388336, name= "Neemrana", state= "Rajasthan", country= "India" },
              new { latitude= 17.382330, longitude= 78.401604, name= "Golconda Fort", state= "Hyderabad", country= "India" },
              new { latitude= 28.657211, longitude= 77.233978, name= "Bhagirath Palace", state= "New Delhi", country= "India" },
              new { latitude= 18.544689, longitude= 73.825478, name= "Raj Bhavan", state= "Maharashtra", country= "India" },
              new { latitude= 22.718435, longitude= 75.855217, name= "Rajwada, Indore", state= "Madhya Pradesh", country= "India" },
              new { latitude= 27.173891, longitude= 78.042068, name= "The Taj Mahal", state= "Uttar Pradesh", country= "India" }
            },
            Border = new MapsBorder {
                 Color = "#e6f2ff",
                 Width = 2,
                 Opacity = 1
            },
            ClusterSettings = new Syncfusion.EJ2.Maps.MapsMarkerClusterSettings
            {
                AllowClustering = true,
                AllowDeepClustering= false,
                AllowClusterExpand= true,
                Shape= MarkerType.Image,
                Height= 40, Width= 40,
                LabelStyle= new MapsFont {
                    Color= "white",
                    Size= "10px"
                },
                ImageUrl= "../styles/images/maps/cluster-india.svg"
            },
            TooltipSettings = new MapsTooltipSettings{ Visible=true, ValuePath="name", Format= "<b>Name:</b> ${name} <br/> <b>State:</b> ${state} <br/> <b>Country:</b> ${country}" },
        },
        new Syncfusion.EJ2.Maps.MapsMarker
        {
            Visible = true, Height = 15, Width = 15, Shape = MarkerType.Circle, AnimationDuration = 0, Fill="#b366ff",
            DataSource = new [] {
              new { latitude= 40.4319, longitude= 116.5704, name= "Great Wall of China", state= "Beijing", country= "China" },
              new { latitude= 39.9163, longitude= 116.3972, name= "Forbidden City", state= "Beijing", country= "China" },
              new { latitude= 34.3848, longitude= 109.2734, name= "Terracotta Army", state= "Shaanxi Province", country= "China" },
              new { latitude= 39.8825, longitude= 116.4122, name= "Temple of Heaven", state= "Beijing", country= "China" },
              new { latitude= 39.9990, longitude= 116.2754, name= "Summer Palace", state= "Beijing", country= "China" },
              new { latitude= 30.2470, longitude= 120.1614, name= "Hangzhou", state= "Zhejiang Province", country= "China" },
              new { latitude= 31.2400, longitude= 121.4900, name= "Shanghai Tower", state= "Shanghai", country= "China" }
            },
            Border = new MapsBorder {
                 Color = "#e6f2ff",
                 Width = 2,
                 Opacity = 1
            },
            ClusterSettings = new Syncfusion.EJ2.Maps.MapsMarkerClusterSettings
            {
                AllowClustering = true,
                AllowDeepClustering= false,
                AllowClusterExpand= true,
                Shape= MarkerType.Image,
                Height= 40, Width= 40,
                LabelStyle= new MapsFont {
                    Color= "white",
                    Size= "10px"
                },
                ImageUrl= "../styles/images/maps/cluster-china.svg"
            },
            TooltipSettings = new MapsTooltipSettings{ Visible=true, ValuePath="name", Format= "<b>Name:</b> ${name} <br/> <b>State:</b> ${state} <br/> <b>Country:</b> ${country}" },
        }
    };
}
@section ControlsSection {

    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-maps id="maps" width="100%" load="window.onMapLoad" format="n" useGroupingSeparator="true">
                    <e-maps-titlesettings alignment="@Syncfusion.EJ2.Maps.Alignment.Center" text="Popular attractions around the world" textStyle="@TextStyle">
                    </e-maps-titlesettings>
                    <e-maps-zoomsettings zoomFactor="2" enable="true"></e-maps-zoomsettings>
                    <e-maps-layers>
                        <e-maps-layer urlTemplate="https://tile.openstreetmap.org/level/tileX/tileY.png" markerSettings="@Markers">
                        </e-maps-layer>
                    </e-maps-layers>
                </ejs-maps>
            </div>
        </div>
    </div>
}
<script>
    var allowLoading = true;
    function onMapLoad(args) {
        if (allowLoading) {
            allowLoading = false;
        @* custom code start *@
            var theme = themeName ? themeName : "Material";
            args.maps.theme = (theme.charAt(0).toUpperCase() +
                theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
        @* custom code end *@
            args.maps.zoomSettings.toolbarSettings.buttonSettings.toolbarItems = ['Zoom', 'ZoomIn', 'ZoomOut', 'Pan', 'Reset'];
        }
    }
</script>
@section Description {
    <div id="description">
        <p>
            In this example, markers represent popular attractions from around the world, with each set as a separate data source for each country. The marker cluster feature is enabled for these markers to provide a clearer and more organized view. To do so, enable the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Maps.MapsMarkerClusterSettings.html#Syncfusion_EJ2_Maps_MapsMarkerClusterSettings_AllowClustering">AllowClustering</a> property within <code>ClusterSettings</code>, which groups nearby markers together. Each cluster displays a tooltip with details such as the name, state, and country of the attraction. The <code>ClusterSettings</code> can be further customized with options like <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Maps.MapsMarkerClusterSettings.html#Syncfusion_EJ2_Maps_MapsMarkerClusterSettings_Shape">Shape</a>, <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Maps.MapsMarkerClusterSettings.html#Syncfusion_EJ2_Maps_MapsMarkerClusterSettings_Width">Width</a>, <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Maps.MapsMarkerClusterSettings.html#Syncfusion_EJ2_Maps_MapsMarkerClusterSettings_Height">Height</a>, and <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Maps.MapsMarkerClusterSettings.html#Syncfusion_EJ2_Maps_MapsMarkerClusterSettings_LabelStyle">LabelStyle</a> to adjust the appearance of the cluster. Additionally, the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Maps.MapsMarkerClusterSettings.html#Syncfusion_EJ2_Maps_MapsMarkerClusterSettings_AllowClusterExpand">AllowClusterExpand</a> property is enabled, allowing users to expand a cluster by clicking on it, revealing the individual markers in an equidistant layout.
        </p>
    </div>
}
@section ActionDescription {
    <div id="action-description">
        <p>
            This sample showcases popular attractions from multiple countries, displayed as markers and marker clusters on an OpenStreetMap. The marker clusters are enabled for each country, with distinct settings representing each country on the map.
        </p>
    </div>
}

@section Title {
    <title>ASP.NET Core Maps OSM With Marker Clustering Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of OSM With Marker Clustering in ASP.NET Core Maps Control</h1>
}
