@using Syncfusion.EJ2
@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
                    <div class="control-label">
                        Mobile Number
                    </div>
                    <ejs-maskedtextbox id="mask1" mask="000-000-0000"  ></ejs-maskedtextbox>
                    <div class="control-label">
                        Country ISO Code
                    </div>
                        <ejs-maskedtextbox id="mask2" mask=">LL / LLL" ></ejs-maskedtextbox>
                    <div class="control-label">
                        D.O.B
                    </div>
                    <ejs-maskedtextbox id="mask3" mask="00/00/0000 " ></ejs-maskedtextbox>
                    <div class="control-label">
                        Product Key
                    </div>
                    <ejs-maskedtextbox id="mask4" mask=">AAAAA-AAAAA-AAAAA-AAAAA" ></ejs-maskedtextbox>
                </div>
            </div>
}

@section Meta{
    <meta name="description" content="The Masked Textbox allows the user to enter only the valid input based on the provided mask format. The mask format can be any Phone number, Country ISO code, Date, Time, Social security number, product key and so on." />
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates that the default functionalities of MaskedTextBox component. Enter numeric value for “Mobile Number” textbox then press tab key and then enter “Country ISO Code” in alphabetic format, then type “D.O.B” in numeric format. Finally enter the “Product Key” in alpha numeric format.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The <b>MaskedTextBox</b> is a textbox extended component that allows the user to enter only the valid input based on the provided mask. It is used to get the input with specific formats like Phone number, Date, Time, IP, Social security number, etc.
        </p>
        <p>
            MaskedTextBox supports the list of mask elements based on the standard MSDN mask elements.
            </p>
        <p>
            More information about MaskedTextBox can be found in this
            <a target="_blank"
               href="http://ej2.syncfusion.com/aspnetcore/documentation/maskedtextbox/getting-started.html">
                documentation section
            </a>.
        </p>
    </div>
}

<style>
    .content-wrapper {
        width: 30%;
        margin: 0 auto;
        min-width: 185px;
    }

    .control-label {
        padding: 10px 0px 5px 0px;
        font-size: 12px;
    }
</style>
