@page
@model EJ2CoreSampleBrowser.Pages.CircularChart3D.DonutModel

@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section" align="center">
        <ejs-circularchart3d id="donutContainer" load="load" title="Top Selling Electric Cars in China" enableRotation="true" tilt="-30" highlightMode="@Syncfusion.EJ2.Charts.CircularChart3DHighlightMode.Point">
            <e-circularchart3d-tooltipsettings enable="true" header="${point.x}" format="Sales Count: <b>${point.y}</b>">
            </e-circularchart3d-tooltipsettings>
            <e-circularchart3d-legendsettings visible="false">
            </e-circularchart3d-legendsettings>
            <e-circularchart3d-series-collection>
                <e-circularchart3d-series dataSource="@Model.ChartPoints" xName="X" yName="Y" innerRadius="65%">
                    <e-circularchart3d-series-datalabel visible="true" position="@Syncfusion.EJ2.Charts.CircularChart3DLabelPosition.Outside" name="X">
                        <e-font fontWeight="600"></e-font>
                    </e-circularchart3d-series-datalabel>
                </e-circularchart3d-series>
            </e-circularchart3d-series-collection>
        </ejs-circularchart3d>
    </div>
    <script src="~/scripts/CircularChart3D/theme-color.js"></script>
    <script>
        function load(args) {
            loadCircular3DChartTheme(args);
            args.chart.series[0].radius = ej.base.Browser.isDevice ? "45%" : "75%";
            args.chart.series[0].dataLabel.connectorStyle.length = ej.base.Browser.isDevice ? "20px" : "40px";
            args.chart.series[0].dataLabel.font.size = ej.base.Browser.isDevice ? "10px" : "12px";
        }
    </script>
}
@*custom code start*@
@section Scripts {
}
<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
    <meta name="description" content="This example demonstrates the 3D Circular Chart Donut in ASP.NET Core 3D Circular Chart control. Explore here for more details." />
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample visualizes the top-selling electric cars in China using a 3D donut chart. Data points are enhanced with tooltip.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a 3D donut chart. The donut chart is a circular graphic, which is ideal for displaying categories as a proportion or a percentage of the whole. To create a donut in the pie series, use the <code>InnerRadius</code> property.
        You can rotate and tilt the donut chart using a mouse or touch-enabled devices.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point on touch-enabled devices.
    </p>
}
@section Title{
    <title>ASP.NET Core 3D Circular Chart Donut Example - Syncfusion Demos </title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of 3D Circular Chart Donut in ASP.NET Core 3D Circular Chart Control</h1>
                }