@page
@model EJ2CoreSampleBrowser.Pages.CircularChart3D.PieWithLegendModel

@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section" align="center">
        <ejs-circularchart3d id="donutContainer" load="load" title="Browser Market Shares in November 2023" rotation="15" tilt="-15" highlightMode="@Syncfusion.EJ2.Charts.CircularChart3DHighlightMode.Point">
            <e-circularchart3d-tooltipsettings enable="true" header="" format="<b>${point.x}</b><br>Browser Share: <b>${point.y}%</b>">
            </e-circularchart3d-tooltipsettings>
            <e-circularchart3d-legendsettings visible="true" enableHighlight="true">
            </e-circularchart3d-legendsettings>
            <e-circularchart3d-series-collection>
                <e-circularchart3d-series dataSource="@Model.ChartPoints" xName="X" yName="Y" innerRadius="55%" radius="75%">
                    <e-circularchart3d-series-datalabel visible="true" name="Text" enableRotation="true" position="@Syncfusion.EJ2.Charts.CircularChart3DLabelPosition.Inside">
                        <e-font fontWeight="600"></e-font>
                        <e-connectorstyle length="20px"></e-connectorstyle>
                    </e-circularchart3d-series-datalabel>
                </e-circularchart3d-series>
            </e-circularchart3d-series-collection>
        </ejs-circularchart3d>
    </div>
    <script src="~/scripts/CircularChart3D/theme-color.js"></script>
    <script>
        function load(args) {
            loadCircular3DChartTheme(args);
            args.chart.legendSettings.position = ej.base.Browser.isDevice ? "Bottom" : "Right";
        }
    </script>
}
@*custom code start*@
@section Scripts {
}
<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
    <meta name="description" content="This example demonstrates the 3D Circular Chart Pie with Legend in ASP.NET Core 3D Circular Chart control. Explore here for more details." />
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample shows the browser market share using a 3D donut chart with a legend displayed on the right side of the chart.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render a 3D donut chart with a legend. The legend provides information about the data points in the chart. Clicking on a legend item can collapse the corresponding data point, and hovering over a legend item can highlight the data point.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point on touch-enabled devices.
    </p>
}
@section Title{
    <title>ASP.NET Core 3D Circular Chart Pie with Legend Example - Syncfusion Demos </title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of 3D Circular Chart Pie with Legend in ASP.NET Core 3D Circular Chart Control</h1>
                }