@using Syncfusion.EJ2
@section ControlsSection{

    @{
        var series = new[] { "Line", "Hilo", "HiloOpenClose", "Spline", "Candle" };
        var indicator = new string[0];
        var line = new String[0];
    }

    <div class="control-section" align="center">        
        <ejs-stockchart id="stockchartmultiple" load="chartLoad" indicatorType="indicator" trendlineType="line" seriesType="series" title="Multiple Series">
            <e-stockchart-border width="0"></e-stockchart-border>
            <e-stockchart-primaryxaxis>
                <e-majorgridlines width="0"></e-majorgridlines>
                <e-crosshairtooltip enable="true"></e-crosshairtooltip>
            </e-stockchart-primaryxaxis>
            <e-stockchart-primaryyaxis interval="40">
                <e-linestyle color="transparent"></e-linestyle>
                <e-majorticklines height="0" color="transparent"></e-majorticklines>
                <e-crosshairtooltip enable="true"></e-crosshairtooltip>
            </e-stockchart-primaryyaxis>
            <e-stockchart-crosshairsettings enable="true"></e-stockchart-crosshairsettings>
            <e-stockchart-series-collection>
                <e-stockchart-series type='Spline' xName='x' yName='close' name='GOOG'>
                </e-stockchart-series>
                <e-stockchart-series type='Spline' xName='x' yName='close' name='GOOGL'></e-stockchart-series>
            </e-stockchart-series-collection>
            <e-stockchart-legendsettings visible="true"></e-stockchart-legendsettings>
        </ejs-stockchart>
        </div>
     <script src="~/scripts/StockChartData/goog.js"></script>
    <script src="~/scripts/StockChartData/googl.js"></script>
    <script>
        var data1 = goog;
        var data2 = googl;
        function chartLoad(args) {
            @*custom code start*@
            let selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.stockChart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
           @*custom code end*@
            args.stockChart.series[0].dataSource = data1;
            args.stockChart.series[1].dataSource = data2;
            args.stockChart.crosshair.lineType = 'Both';
        }

    </script>
}
@*custom code start*@
@section Scripts {

}
@*custom code end*@
@section ActionDescription{
    <p>This sample visualizes the close value of multiple stock. Crosshair show the information about the data and period.</p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure stock chart to visualize the data for multiple stock. Stock Chart supports 6 major types of series namely <code>Line</code>, <code>Spline</code>, <code>Hilo</code>, <code>HiloOpenClose</code>, <code>Hollow Candle</code> and <code>Candle</code>. By using the series dropdown button in period selector you can navigate between the above listed series types.
    </p>
    <p>
        The legend is enabled, and you can use it to toggle the visibility of series in the stock chart. To customize the legend in the stock chart, use the <code>StockChartLegendSettings</code> property.
    </p>
    <p>
        More information about the series type can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/stock-chart/series-types">documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET Core StockChart Multiple Series Example - Syncfusion Demos </title> 
                }
@section Meta{
                    <meta name="description" content="This example demonstrates the Multiple Series in ASP.NET Core StockChart control. Explore here for more details."/>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Multiple Series in ASP.NET Core StockChart Control</h1>
                }