@using Syncfusion.EJ2
@section ControlsSection{
    @{
        var trendline = new[] { "Linear", "Exponential", "Polynomial", "Logarithmic", "MovingAverage" };
        var series = new String[0];
        var indicator = new string[0];
    }
    <div class="control-section" align="center">
        <div id="container">
            <ejs-stockchart id="stockchartband" load="stockload" title="Plot Band on Y axis" seriesType="series" indicatorType="indicator" trendlineType="trendline">
                <e-stockchart-border width="0"></e-stockchart-border>
                <e-stockchart-primaryxaxis>
                    <e-majorgridlines width="0"></e-majorgridlines>
                </e-stockchart-primaryxaxis>
                <e-stockchart-primaryyaxis interval="40">
                    <e-linestyle color="transparent"></e-linestyle>
                    <e-majorticklines height="0" color="transparent"></e-majorticklines>
                </e-stockchart-primaryyaxis>
                <e-stockchart-series-collection>
                    <e-stockchart-series type='Line' xName='x' yName='close' name='google'> </e-stockchart-series>
                </e-stockchart-series-collection>
            </ejs-stockchart>
        </div>
    </div>
    <script src="~/scripts/StockChartData/aman.js"></script>
    <script>
        var data = aman;
        function stockload(args) {
            @*custom code start*@
            let selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.stockChart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
            @*custom code end*@
            args.stockChart.series[0].dataSource = data;
            args.stockChart.primaryXAxis = { majorGridLines: { width: 0 } },
                args.stockChart.primaryYAxis = {
                     stripLines: [{ start: 340, end: 380, color: '#3CB371', opacity: 0.1 }],
                }
        }
    </script>
}
@*custom code start*@
@section Scripts {

}
@*custom code end*@
@section ActionDescription{
    <p>
        This sample visualizes stock chart with plot band on y axis.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to highlight a particular range in stock chart. Period and range selector help us to navigate different of data. AreaSeries is used to represent selected data value.
    </p>
    <p>
        Stock Chart provides support to 6 types of <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/stock-chart/trend-lines">Trendlines</a> namely <code>Linear</code>, <code>Exponential</code>, <code>Logarithmic</code>, <code>Polynomial</code>, <code>Power</code>, <code>Moving Average</code>. By using trendline dropdown button, the required trendline type can be added or removed.
    </p>
}
@section Title{
                    <title>ASP.NET Core StockChart Plot Band Example - Syncfusion Demos </title> 
                }
@section Meta{
                    <meta name="description" content="This example demonstrates the Plot Band in ASP.NET Core StockChart control. Explore here for more details."/>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Plot Band in ASP.NET Core StockChart Control</h1>
                }