@using Syncfusion.EJ2
@section ControlsSection{
    @{
        var series = new String[0];
        var indicator = new String[0];
        var trendline = new String[0];
    }
    <div class="control-section" align="center">
        <div id="container">
            <ejs-stockchart id="stockchartspline" load="chartLoad" seriesType="series" indicatorType="indicator" trendlineType="trendline" title="AAPL Stock Price">
                <e-stockchart-primaryxaxis valueType="DateTime">
                    <e-majorgridlines color="transparent"></e-majorgridlines>
                    <e-crosshairtooltip enable="true"></e-crosshairtooltip>
                </e-stockchart-primaryxaxis>
                <e-stockchart-primaryyaxis>
                    <e-crosshairtooltip enable="true"></e-crosshairtooltip>
                    <e-majorticklines color="transparent" height="0"></e-majorticklines>
                    <e-linestyle color="transparent"></e-linestyle>
                </e-stockchart-primaryyaxis>
                <e-stockchart-series-collection>
                    <e-stockchart-series type='Spline' xName='x' yName="high" name='google' close="high"> </e-stockchart-series>
                </e-stockchart-series-collection>
                <e-stockchart-crosshairsettings enable="true"></e-stockchart-crosshairsettings>
                <e-stockchart-chartarea>
                    <e-stockchartarea-border width="0"></e-stockchartarea-border>
                </e-stockchart-chartarea>
            </ejs-stockchart>
        </div>
    </div>

     <script src="~/scripts/chart/stock-chart-data.js"></script>
    <script>
        var data = chartData;
        function chartLoad(args) {
            letselectedTheme: string = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.stockChart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
            args.stockChart.series[0].dataSource = data;
            args.stockChart.crosshair.lineType = 'Both';
            args.stockChart.stockEvents = [
                { date: new Date(2012, 3, 1), text: 'Q2', description: '2012 Quarter2 starts', type: 'Flag', background: '#6c6d6d', border: { color: '#6c6d6d' } },
                {
                    date: new Date(2012, 3, 20), text: 'Open', description: 'Markets opened', textStyle: { color: 'white' },
                    background: '#f48a21', border: { color: '#f48a21' }
                },
                {
                    date: new Date(2012, 6, 1), text: 'Q3', description: '2013 Quarter3 starts', type: 'Flag',
                    textStyle: { color: 'white' }, background: '#6c6d6d', border: { color: '#6c6d6d' }
                },
                {
                    date: new Date(2012, 9, 1), text: 'Q4', description: '2013 Quarter4 starts', type: 'Flag',
                    textStyle: { color: 'white' }, background: '#6c6d6d', border: { color: '#6c6d6d' }
                },
                {
                    date: new Date(2012, 7, 30), text: 'G', description: 'Google stocks bought',
                    textStyle: { color: 'white' }, background: '#f48a21', border: { color: '#f48a21' }
                },
                {
                    date: new Date(2012, 10, 1), text: 'Y', description: 'Yahoo stocks sold', type: 'Square',
                    textStyle: { color: 'white' }, background: '#841391', border: { color: '#841391' }
                },
                {
                    date: new Date(2012, 12, 0), text: 'Y2', description: 'Year 2013', type: 'Pin', showOnSeries: false,
                    textStyle: { color: 'white' }, background: '#6322e0', border: { color: '#6322e0' }
                },
                {
                    date: new Date(2013, 3, 1), text: 'Q2', description: '2013 Quarter2 starts', type: 'Flag',
                    textStyle: { color: 'white' }, background: '#6c6d6d', border: { color: '#6c6d6d' }
                },
                {
                    date: new Date(2013, 3, 20), text: 'Q2', description: 'Surge in Stocks', type: 'ArrowUp',
                    textStyle: { color: 'white' }, background: '#3ab0f9', border: { color: '#3ab0f9' }
                },
                {
                    date: new Date(2013, 6, 1), text: 'Q3', description: '2013 Quarter3 starts', type: 'Flag',
                    textStyle: { color: 'white' }, background: '#6c6d6d', border: { color: '#6c6d6d' }
                },
                {
                    date: new Date(2013, 9, 1), text: 'Q4', description: '2013 Quarter4 starts', type: 'Flag',
                    textStyle: { color: 'white' }, background: '#6c6d6d', border: { color: '#6c6d6d' }
                },
                {
                    date: new Date(2013, 12, 0), text: 'Y3', description: 'Year 2014', type: 'Pin', showOnSeries: false,
                    textStyle: { color: 'white' }, background: '#6322e0', border: { color: '#6322e0' }
                },
                {
                    date: new Date(2014, 3, 1), text: 'Q2', description: '2014 Quarter2 starts', type: 'ArrowDown',
                    textStyle: { color: 'white' }, background: '#3ab0f9', border: { color: '#3ab0f9' }
                },
                {
                    date: new Date(2014, 6, 1), text: 'Q3', description: '2014 Quarter3 starts',
                    textStyle: { color: 'white' }, background: '#f48a21', border: { color: '#f48a21' }
                },
                {
                    date: new Date(2014, 9, 1), text: 'Q4', description: '2014 Quarter4 starts', type: 'Flag',
                    textStyle: { color: 'white' }, background: '#6c6d6d', border: { color: '#6c6d6d' }
                },
                {
                    date: new Date(2014, 12, 0), text: 'Y4', description: 'Year 2015', type: 'Pin', showOnSeries: false,
                    textStyle: { color: 'white' }, background: '#6322e0', border: { color: '#6322e0' }
                },
                {
                    date: new Date(2014, 2, 2), text: 'End', description: 'Markets closed', type: 'ArrowDown',
                    textStyle: { color: 'white' }, background: '#3ab0f9', border: { color: '#3ab0f9' }
                },
                {
                    date: new Date('2015-01-07'), text: 'A', description: 'This is event description',
                    textStyle: { color: 'white' }, background: '#f48a21', border: { color: '#f48a21' }
                },
                {
                    date: new Date(2015, 1, 2), text: 'Q1', description: 'Add longer text',
                    textStyle: { color: 'white' }, background: '#dd3c9f', border: { color: '#dd3c9f' }, type: 'Text'
                },
                {
                    date: new Date(2015, 2, 12), text: 'Close', description: 'Markets closed',
                    textStyle: { color: 'white' }, background: '#f48a21', border: { color: '#f48a21' }
                }
            ]
        }

    </script>
}

@section Scripts {

}


    @section ActionDescription{
        <p>This <a target="_blank" href="https://www.syncfusion.com/aspnet-core-ui-controls/stock-chart">ASP.NET Core Stock Chart</a> example visualizes the AAPL stock price with spline chart. Crosshair show the information about the data and period.</p>
    }
    @section Description{
        <p>
            In this example, you can see how to render and configure a stock chart with <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.StockChartStockEvent.html">StockEvents</a> to mark specific events such as market open and close, highest or lowest price reached, year/quarter start and end on a chart for a specific date.
        </p>
        <p>
            <code>Crosshair</code> is enabled in this example. To see the crosshair in action, hover the chart or tap on touch enabled devices.
        </p>
        <p>
            More information about the stock events can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/stock-chart/stock-events">documentation section</a>.
        </p>

    }
@section Title{
                    <title>ASP.NET Core StockChart StockEvents Example - Syncfusion Demos </title> 
                }
@section Meta{
                    <meta name="description" content="This example demonstrates the StockEvents in ASP.NET Core StockChart control. Explore here for more details."/>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of StockEvents in ASP.NET Core StockChart Control</h1>
                }