@using Syncfusion.EJ2.TreeMap;
@section ControlsSection{
    @{
        var levelBorder = new TreeMapBorder { Color = "black", Width = 0.5 };
        var titleFont = new TreeMapFont { FontFamily = "Segoe UI" };
    }
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-treemap id="container" load="treeMapLoad" dataSource="ViewBag.dataSource" weightValuePath="Gold">
                    <e-treemap-titlesettings text="US Gold medal categories in Summer Olympics - 2016" textStyle="titleFont">                        
                    </e-treemap-titlesettings>
                    <e-treemap-leafitemsettings labelPath="Sport" fill="#993399"  textStyle="titleFont" templatePosition="@Syncfusion.EJ2.TreeMap.LabelPosition.Center" border="levelBorder" labelFormat="${Sport} - ${Gold}"
                                                labelTemplate="<div><img src=../styles/images/treemap/{{:GameImage}} style=height:{{:ItemHeight}};width:{{:ItemWidth}}; alt='Games-Icon'></img></div>">
                    </e-treemap-leafitemsettings>
                    <e-treemap-tooltipsettings visible="true" format="${Sport} : ${Gold}" textStyle="titleFont"></e-treemap-tooltipsettings>
                </ejs-treemap>
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href=" https://en.wikipedia.org/wiki/United_States_at_the_2016_Summer_Olympics" target="_blank" aria-label="wikipedia"> en.wikipedia.org</a>
                </div>
            </div>
        </div>
    </div>
}
@*custom code start*@
<script>
    function treeMapLoad(args) {
        args.treemap.leafItemSettings.showLabels = !ej.base.Browser.isDevice;
        var theme = themeName ? themeName : 'Material';
        args.treemap.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
    }
</script>
@*custom code end*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Customization in ASP.NET Core TreeMap control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample depicts the gold medal categories of US in 2016 summer Olympics. Each categories are denoted with label template.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to place custom HTML templates in the treemap items. Also we have formatted the labels default text.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core TreeMap Customization Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Customization in ASP.NET Core TreeMap Control</h1>
                }