@using Syncfusion.EJ2.TreeMap;
@section ControlsSection{
    @{
        var border = new TreeMapBorder{ Color = "white", Width = 0.5 };
        var palette = new string[] { "#C33764", "#AB3566", "#993367", "#853169", "#742F6A", "#632D6C", "#532C6D", "#412A6F", "#312870", "#1D2671" };
    }
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-treemap id="container" load="treemapLoad" itemMove="dataChange" itemClick="dataChange" palette="palette" dataSource="ViewBag.dataSource" weightValuePath="Sales" format="n" useGroupingSeparator="true">
                    <e-treemap-legendsettings visible="true" position="@Syncfusion.EJ2.TreeMap.LegendPosition.Top" shape="@Syncfusion.EJ2.TreeMap.LegendShape.Rectangle">
                    </e-treemap-legendsettings>
                    <e-treemap-tooltipsettings visible="true" format="Country: ${Continent}<br>Company: ${Company}<br>Sales: ${Sales}"></e-treemap-tooltipsettings>
                    <e-treemap-titlesettings text="Car Sales by Country - 2017"></e-treemap-titlesettings>
                    <e-treemap-leafitemsettings labelPath="Company" border="border"></e-treemap-leafitemsettings>
                    <e-treemap-levels>
                        <e-treemap-level groupPath="Continent" fill="#336699" border="border">
                        </e-treemap-level>
                    </e-treemap-levels>
                </ejs-treemap>
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href=" https://www.factorywarrantylist.com/car-sales-by-country.html/" target="_blank"> www.factorywarrantylist.com</a>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function dataChange(args) {
        args.item['data'].Sales = args.item['weight'];
        args.treemap.tooltipSettings.format = args.item['groupIndex'] === 0 ? 'Country: ${Continent}<br>Sales: ${Sales}' :
            'Country: ${Continent}<br>Company: ${Company}<br>Sales: ${Sales}';
    }

    function treemapLoad(args) {
        var theme = location.hash.split('/')[1];
        theme = theme ? theme : 'Material';
        args.treemap.theme = theme.charAt(0).toUpperCase() + theme.slice(1);
    }
</script>
@section Meta{
    <meta name="description" content="This demo for Essential JS2 TreeMap control visualizes the sales of cars across various countries in 2017." />
}
@section ActionDescription{
    <div id="action-description">
    <p>
        This sample visualizes the car sales of various countries in 2017 by rendering the countries at top level and car manufacturing companies as leaf items.
    </p>
</div>
}
@section Description{

    <div id="description">
    <p>
        In this example, you can see how to render a treemap with the provided data source. Palette color is applied for the items in treemap. Default legend is enabled in this example to represent the items in top level.
    </p>
    <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item in touch enabled devices.
    </p>
    <br />
    <p style="font-weight: 500">Injecting Module</p>
    <p>
        Treemap component features are segregated into individual feature-wise modules. To use a tooltip, inject the
        <code>Tooltip</code> module using the <code>Treemap.Inject(TreeMapTooltip)</code> method, and use a legend by injecting the <code>Legend</code> module using the <code>Treemap.Inject(TreeMapLegend)</code> method.
    </p>
</div>
}
