@using Syncfusion.EJ2.TreeMap;

@section ControlsSection{
    @{
        var colorMaps = new[]{
               new {from = 196744376, to = 1388232693, color = "#257E7B", label="200M - 1.3M" },
               new {from = 21563607, to = 191835936, color = "#2b9692", label="20M - 200M" },
               new {from = 104588, to = 21563607, color = "#32ada8", label="0.1M - 20M" }
            };
        var style = new TreeMapFont{ Size = "16px", FontFamily = "Segoe UI" };
        var border = new TreeMapBorder{ Color = "black", Width = 0.3 };
        var titleFont = new TreeMapFont { FontFamily = "Segoe UI" };
    }
    <div class="col-lg-9 control-section">
        <div id="container">
            <ejs-treemap id="container" load="treeMapLoad" dataSource="ViewBag.dataSource" weightValuePath="sales">
                <e-treemap-selectionsettings border="border" enable="true" fill="#58a0d3" opacity="1"></e-treemap-selectionsettings>
                <e-treemap-highlightsettings border="border" enable="true" fill="#71b0dd" opacity="1"></e-treemap-highlightsettings>
                <e-treemap-leafitemsettings gap="10" labelPosition="@Syncfusion.EJ2.TreeMap.LabelPosition.Center" labelPath="type" fill="#8ebfe2" labelStyle="titleFont"></e-treemap-leafitemsettings>
                <e-treemap-levels>
                    <e-treemap-level groupPath="dataType" groupGap="5" fill="#c5e2f7" headerStyle="style" headerAlignment="@Syncfusion.EJ2.TreeMap.Alignment.Center" ></e-treemap-level>
                    <e-treemap-level groupPath="product" groupGap="2" fill="#a4d1f2" headerAlignment="@Syncfusion.EJ2.TreeMap.Alignment.Center"></e-treemap-level>
                </e-treemap-levels>
            </ejs-treemap>
        </div>
        <div style="float: right; margin-right: 10px;">
            Source:
            <a href=" https://www.indexmundi.com/trade/imports/?country=jp" target="_blank">www.indexmundi.com</a>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table id="property" title="Properties" style="width: 100%">
            <tbody>
                <tr>
                    <td>
                        <div><b>Highlight</b></div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div> Enable</div>
                    </td>
                    <td>
                        <ejs-checkbox id="highlightEnable" change="highLightChange" checked="true" />
                    </td>
                </tr>
                <tr>
                    <td >
                        <div>Mode</div>
                    </td>
                    <td>
                        <div>
                            <select name="selectIndex" autocomplete="off" id="highlightMode">
                                <option value="Item" selected>Item</option>
                                <option value="Child">Child</option>
                                <option value="Parent">Parent</option>
                                <option value="All">All</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div><b>Selection</b></div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div>Enable</div>
                    </td>
                    <td style="width: 40%;">
                        <ejs-checkbox id="selectionEnable" change="selectionChange" checked="true"></ejs-checkbox>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div> Mode</div>
                    </td>
                    <td>
                        <div>
                            <select name="selectIndex" autocomplete="off" id="selectionMode">
                                <option value="Item" selected>Item</option>
                                <option value="Child">Child</option>
                                <option value="Parent">Parent</option>
                                <option value="All">All</option>
                            </select>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
}
<style>
    .property-panel-table div {
        padding-left: 0px;
    }
    tr {
        height: 50px;
    }
</style>
<script>
    @* custom code start *@
    function treeMapLoad(args) {
        window.treemap = args.treemap;
        var theme = themeName ? themeName : 'Material';
        args.treemap.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
    }
    @* custom code end *@
    window.onload = function () {
        window.highlightMode = new ej.dropdowns.DropDownList({
            index: 0,
            width: '100%',
            change: function () {
                window.treemap.highlightSettings.mode = window.highlightMode.value;
                window.treemap.refresh();
            }
        });
        window.highlightMode.appendTo('#highlightMode');
        window.selectionMode = new ej.dropdowns.DropDownList({
            index: 0,
            width: '100%',
            change: function () {
                window.treemap.selectionSettings.mode = window.selectionMode.value;
                window.treemap.refresh();
            }
        });
        window.selectionMode.appendTo('#selectionMode');
    };

    function highLightChange(args){
        window.treemap.highlightSettings.enable = args.checked;
        window.treemap.refresh();
    }

    function selectionChange(args){
        window.treemap.selectionSettings.enable = args.checked;
        window.treemap.refresh();
    }
</script>
@section Meta{
                    <meta name="description" content="This example demonstrates the Selection & Highlight in ASP.NET Core TreeMap control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
    <p>
        This sample depicts the details of Imports made by Japan. Selection and highlight has been enabled in this sample.
    </p>
</div>
}
@section Description{
<div id="description">
    <p>
        In this example, you can see the modes available for performing highlight and selection in treemap. It can be either enabled or disabled.
    </p>
    <br />
    <p style="font-weight: 500">Injecting Module</p>
    <p>

        Treemap component features are segregated into individual feature-wise modules. To use highlight and selection, inject the <code>Selection</code> module using the <code>Treemap.Inject(TreeMapSelection)</code>inject the <code>Highlight</code> module using the <code>Treemap.Inject(TreeMapHighlight)</code> method.
    </p>
</div>
}
@section Title{
                    <title>ASP.NET Core TreeMap Selection & Highlight Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Selection & Highlight in ASP.NET Core TreeMap Control</h1>
                }