@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div class="otp-container">
            <label for="numberOtp">Default (Number) OTP Input</label>
            <ejs-otpinput id="numberOtp" value="1234" type="Number"></ejs-otpinput>
        </div>
        <div class="otp-container">
            <label for="textOtp">Text OTP Input</label>
            <ejs-otpinput id="textOtp" value="e3c7" type="Text"></ejs-otpinput>
        </div>
        <div class="otp-container">
            <label for="passwordOtp">Password OTP Input</label>
            <ejs-otpinput id="passwordOtp" value="1234" type="Password"></ejs-otpinput>
        </div>
    </div>
}

<style>
    .otp-container {
        width: 240px;
        margin: 50px auto;
    }

    .otp-container label {
        margin-bottom: 15px;
    }
</style>

@section Meta{
<meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Otp Input control. Explore here for more details." />
}
@section ActionDescription{
<div id="action-description">
    <p>
        This sample demonstrates the default functionalities of the OTP Input control. It allows users to enter OTP (One-Time Password) during MFA processes such as login, account verifications, booking activities, and more.
    </p>
</div>
}
@section Description{
<div id="description">
       <p>
            This example showcases the usage of the <code>Type</code> and <code>Value</code> properties in the OTP Input control. The available input types are <code>Number</code>, <code>Text</code> and <code>Password</code>. Once the user enters the OTP according to the specified <code>Type</code>, the <code>Value</code> property can be used to access the entered OTP.
       </p>
</div>
}
@section Title{
<title>ASP.NET Core Otp Input DefaultFunctionalities Example - Syncfusion Demos </title>
}
@section Header{
<h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Otp Input Control</h1>
}
