@page

@using EJ2CoreSampleBrowser.Models
@using Syncfusion.EJ2

@{
    var data = new KanbanDataModels().KanbanTasks();
}

@section ControlsSection{
    <div class="control-section">
        <div class="control_wrapper">
            <ejs-kanban id="Kanban" keyField="Status" dataSource="@data">
                <e-kanban-columns>
                    <e-kanban-column headerText="To Do" keyField="Open"></e-kanban-column>
                    <e-kanban-column headerText="In Progress" keyField="InProgress"></e-kanban-column>
                    <e-kanban-column headerText="Testing" keyField="Testing"></e-kanban-column>
                    <e-kanban-column headerText="Done" keyField="Close"></e-kanban-column>
                </e-kanban-columns>
                <e-kanban-cardsettings contentField="Summary" headerField="Id"></e-kanban-cardsettings>
                <e-kanban-swimlanesettings keyField="Assignee" template="#swimlaneTemplate"></e-kanban-swimlanesettings>
            </ejs-kanban>
        </div>
    </div>
    <script id="swimlaneTemplate" type="text/x-jsrender">
        <div class='swimlane-template e-swimlane-template-table'>
            <div class="e-swimlane-row-text"><img src="../images/Kanban/${keyField}.png" alt="" /><span>${textField}</span></div>
        </div>
    </script>
}

<style>
    .swimlane-template {
        font-size: 15px;
        font-weight: 500;
    }

    .swimlane-template img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }

    .swimlane-template span {
        padding-left: 10px;
    }

</style>

@section PreScripts {
    <script>

    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates how to customize the swimlane header of Kanban. In this sample, the swimlane header is
            customized with icons and corresponding to the mapped key fields text.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The Kanban provides an option to customize its swimlane header using the <code>SwimlaneSettings</code> ->
            <code>Template</code> property, which
            accepts the string or HTML element`s ID value, which is used as the template for the swimlane header.
        </p>
        <p>
            In this demo, all the swimlane headers are customized with templating as text and icons.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Swimlane Template in ASP.NET Core Kanban control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Kanban Swimlane Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Swimlane Template in ASP.NET Core Kanban Control</h1>
                }