@page

@using EJ2CoreSampleBrowser.Models
@using Syncfusion.EJ2

@{
    var data = new KanbanDataModels().KanbanTasks();
}

@section ControlsSection{
    <div class="control-section">
        <div class="control_wrapper">
            <ejs-kanban id="Kanban" keyField="Status" dataSource="@data">
                <e-kanban-columns>
                    <e-kanban-column headerText="To Do" keyField="Open" allowToggle="true"></e-kanban-column>
                    <e-kanban-column headerText="In Progress" keyField="InProgress" allowToggle="true"></e-kanban-column>
                    <e-kanban-column headerText="Testing" keyField="Testing" allowToggle="true" isExpanded="false"></e-kanban-column>
                    <e-kanban-column headerText="Done" keyField="Close" allowToggle="true"></e-kanban-column>
                </e-kanban-columns>
                <e-kanban-cardsettings contentField="Summary" headerField="Id"></e-kanban-cardsettings>
            </ejs-kanban>
        </div>
    </div>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the toggle column feature of Kanban. Each column of Kanban can be collapsible, and the
            testing
            column is collapsed on page load itself.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The Kanban controls allows you to expand or collapse its columns to save space. The remaining columns extend its
            width to occupy the hided column space.
            This feature can be achieved by the following properties:
        </p>
        <ul>
            <li><code>AllowToggle:</code> Enables the expand/collapse behavior in Kanban.</li>
            <li>
                <code>IsExpanded:</code> The property determines whether the column can be collapsed on the page load
                itself.
            </li>
        </ul>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Toggle Columns in ASP.NET Core Kanban control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Kanban Toggle Columns Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Toggle Columns in ASP.NET Core Kanban Control</h1>
                }