@using Syncfusion.EJ2.Maps;

@section ControlsSection{
    @{ 
        var TextStyle = new MapsFont
        {
            Size = "16px"
        };
        var CenterPosition = new
        {
            latitude = 4,
            longitude = 25
        };
    }
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-maps id="maps" load="window.onMapLoad" centerPosition="CenterPosition">
                    <e-maps-titlesettings alignment="@Syncfusion.EJ2.Maps.Alignment.Center" text="Top 10 countries by Gold Production - 2014" textStyle="TextStyle">
                    </e-maps-titlesettings>
                    <e-maps-zoomsettings zoomFactor="2" enable="true" mouseWheelZoom="true"></e-maps-zoomsettings>
                    <e-maps-layers>
                        <e-maps-layer layerType="@Syncfusion.EJ2.Maps.ShapeLayerType.Bing" bingMapType="@Syncfusion.EJ2.Maps.BingMapType.AerialWithLabel">
                        </e-maps-layer>
                    </e-maps-layers>
                </ejs-maps>
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href="http://www.mining.com/global-gold-silver-production-to-hit-fresh-records-this-year-66566/" target="_blank">www.mining.com</a>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function onMapLoad(args) {
        @* custom code start *@
        var theme = themeName ? themeName : "Material";
        args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1));
        @* custom code end *@
        args.maps.layers[0].markerSettings = [{
            visible: true,
            offset: { x: 0, y: -15 },
            template: '<div><img src="../styles/images/maps/gold_ballon.png" style="height:30px;width:20px;"></img></div>',
            tooltipSettings: {
                visible: true,
                valuePath: 'name',
                format: '${name} - ${rank}MT'
            },
            dataSource: [{
                name: 'Canada',
                rank: 102,
                latitude: 56.1304,
                longitude: -106.3468
            }, {
                name: 'USA',
                rank: 230,
                latitude: 37.0902,
                longitude: -95.7129
            }, {
                name: 'Peru',
                rank: 101,
                latitude: -9.19,
                longitude: -75.0152
            }, {
                name: 'Ghana',
                rank: 89,
                latitude: 7.9465,
                longitude: -1.0232
            }, {
                name: 'South Africa',
                rank: 170,
                latitude: -30.5595,
                longitude: 22.9375
            }, {
                name: 'Russia',
                rank: 205,
                latitude: 61.524,
                longitude: 105.3188
            }, {
                name: 'China',
                rank: 370,
                latitude: 39.913818,
                longitude: 116.363625
            }, {
                name: 'Indonesia',
                rank: 95,
                latitude: .7893,
                longitude: 113.9213
            }, {
                name: 'Australia',
                rank: 250,
                latitude: -25.2744,
                longitude: 133.7751
            }, {
                name: 'Uzbekistan',
                rank: 90,
                latitude: 41.3775,
                longitude: 64.5853
            }]
        }];
    }
</script>
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render the Bing Map. Also denoted the locations of top 10 gold production countries using
            marker. The values of gold production is denoted in Metric Tons(MT). Tooltip is enabled in this example. To see
            the tooltip in action, hover the mouse over a marker or tap a marker in touch enabled devices.
        </p>
        <br />
        <p style="font-weight: 500">Injecting Module</p>
        <p>
            Maps component features are segregated into individual feature-wise modules. To use marker and zooming features, inject the
            Marker module using the
            <code>Maps.Inject(Marker)</code> method and Zoom module using
            <code>Maps.Inject(Zoom)</code> method.
        </p>
    </div>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the locations of top 10 countries in gold production in 2014 in the Bing Map.
        </p>
    </div>
}
