@using Syncfusion.EJ2.Maps;
@section ControlsSection{
    @{
        var centerPosition = new MapsCenterPosition
        {
            Latitude = 1.5053645409602877,
            Longitude = 105.14038085937499
        };
        var titleStyle = new MapsFont
        {
            Size = "18px",
            FontFamily = "Segoe UI"
        };
        var data = new[]{
            new { latitude = 1.625758360412755, longitude = 98.5693359375 }
        };
        var shapeborder = new MapsBorder
        {
            Color = "#3497C3",
            Width = 0.5,
            Opacity = 1
        };
        int zoomfactor = (int)7;
        var propertyPath = new[] { "name" };
        }
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-maps id="maps" load="window.onMapLoad" centerPosition="centerPosition">
                    <e-maps-zoomsettings enable="false" zoomFactor="zoomfactor"></e-maps-zoomsettings>
                    <e-maps-mapsarea background="#AEE2FA"></e-maps-mapsarea>
                    <e-maps-titlesettings alignment="@Syncfusion.EJ2.Maps.Alignment.Center" text="7.6 Magnitude earthquake strikes Sumatra - 2009" textStyle="titleStyle"></e-maps-titlesettings>
                    <e-maps-layers>
                        <e-maps-layer shapeData="ViewBag.asia" shapeDataPath="name" shapePropertyPath="propertyPath">
                            <e-layersettings-datalabelsettings visible="true" labelPath="name" smartLabelMode="@Syncfusion.EJ2.Maps.SmartLabelMode.Hide"></e-layersettings-datalabelsettings>
                            <e-layersettings-shapesettings fill="#FFFDCF" border="shapeborder"></e-layersettings-shapesettings>
                            <e-layersettings-markers>
                                <e-layersettings-marker visible="true" height="100" width="100" template="#template" animationDuration="0" dataSource="data"></e-layersettings-marker>
                            </e-layersettings-markers>
                        </e-maps-layer>
                    </e-maps-layers>
                </ejs-maps>
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href="https://en.wikipedia.org/wiki/2009_Sumatra_earthquakes" target="_blank" aria-label="Source">en.wikipedia.org</a>
                </div>
            </div>
        </div>
    </div>
}

<div id="template" style="display:none">
    <div class="pulse-container">
        <div class="pulse-box">
            <div class="pulse-css"></div>
        </div>
    </div>
</div>

<style>
    .pulse-css {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: #E94430;
        position: relative;
    }
        .pulse-css:before, .pulse-css:after {
            content: '';
            width: 20px;
            height: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            background-color: #E94430;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            transform: scale(0.5);
            transform-origin: center center;
            animation: pulse-me 3s linear infinite;
        }
        .pulse-css:after {
            animation-delay: 2s;
        }


@@keyframes pulse-me {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

</style>

<script>
    @* custom code start *@
    function onMapLoad(args) {
        var theme = themeName ? themeName : "Material";
        args.maps.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
    }
    @* custom code end *@
</script>
@section Meta{
                    <meta name="description" content="This example demonstrates the Earthquake indication in ASP.NET Core Maps control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the earth quack occurred in Sumatra, Indonesia in the year 2009.
       </p>
    </div>
}
@section Description{
    
    <div id="description">
        <p>
           In this example, you can see how to render a custom HTML element as marker and place it on a specific location.
        </p>
    <br/>
        <p style="font-weight: 500">Injecting Module</p>
        <p>
           Maps component features are segregated into individual feature-wise modules. To use marker template, you need to inject <code>Marker</code> module using <code>Maps.Inject(Marker)</code> method.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Maps Earthquake indication Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Earthquake indication in ASP.NET Core Maps Control</h1>
                }