@using Syncfusion.EJ2;
@section ControlsSection{
<div class="col-md-8 control-section">
                <ejs-maps id="maps" load="window.onMapLoad" loaded="window.onCreated">
                    <e-maps-zoomsettings enable="false"></e-maps-zoomsettings>
                    <e-maps-layers>
                        <e-maps-layer shapeData="ViewBag.usmap">
                            <e-layersettings-datalabelsettings visible="true" labelPath="name" smartLabelMode="@Syncfusion.EJ2.Maps.SmartLabelMode.Trim"></e-layersettings-datalabelsettings>
                            <e-layersettings-shapesettings autofill="true"></e-layersettings-shapesettings>
                            <e-layersettings-tooltipsettings visible="true" valuePath="name"></e-layersettings-tooltipsettings>
                        </e-maps-layer>
                    </e-maps-layers>
                </ejs-maps>
            </div>

<div class="col-md-4 property-section">
                <table id="property" title="Properties" style="width: 100%">
                    <tbody>
                        <tr style="height: 50px">
                            <td style="width: 80%">
                                <div>Show Labels</div>
                            </td>
                            <td>
                                <input type="checkbox" checked id="select" style="margin-top: 15px">
                            </td>
                        </tr>
                        <tr style="height: 50px">
                            <td style="width: 60%">
                                <div>Smart label mode</div>
                            </td>
                            <td style="width: 40%">
                                <select id="smartlabelmode" style="margin-left: -25px">
                                    <option value="Trim">Trim</option>
                                    <option value="None">None</option>
                                    <option value="Hide">Hide</option>
                                </select>
                            </td>
                        </tr>
                        <tr style="height: 50px">
                            <td style="width: 60%">
                                <div>Intersect action</div>
                            </td>
                            <td style="width: 40%;">
                                <select id="intersectaction" style="margin-left: -25px">
                                    <option value="None">None</option>
                                    <option value="Trim">Trim</option>
                                    <option value="Hide">Hide</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
}
<script>
    window.onload = function () {
        var intersectaction = new ej.dropdowns.DropDownList({
            index: 0,
            placeholder: 'Select intersect action',
            width: 120,
            change: function () {
                maps.layers[0].dataLabelSettings.intersectionAction = intersectaction.value;
                maps.refresh();
            }
        });
        intersectaction.appendTo('#intersectaction');
        var smartlabelmode = new ej.dropdowns.DropDownList({
            index: 0,
            placeholder: 'Select smartlabel mode',
            width: 120,
            change: function () {
                maps.layers[0].dataLabelSettings.smartLabelMode = smartlabelmode.value;
                maps.refresh();
            }
        });
        smartlabelmode.appendTo('#smartlabelmode');
        document.getElementById('select').onchange = function () {
            var element = (document.getElementById('select'));
            maps.layers[0].dataLabelSettings.visible = element.checked;
            maps.refresh();
        };
    };
    var maps;
    function onCreated() {
        maps = document.getElementById('maps').ej2_instances[0];
    }
    @* custom code start *@
    function onMapLoad(args) {
        var theme = location.hash.split("/")[1];
        theme = theme ? theme : "Material";
        args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1));
    }
    @* custom code end *@
</script>

@section Meta{
    <meta name="description" content="This demo for Essential JS2 Maps control shows the names of all the states in USA in data label. Intersect action and smart labels mode can be changed." />
}
@section ActionDescription{
    <div id="action-description">
            <p>
               This sample visualizes the names of all the states in USA in data labels. Options have been provided to change the intersect action and smart labels mode of the data labels.
           </p>
        </div>
        </div>
}
@section Description{
        <div id="description">
            <p>
               In this example, you can see how to render the data labels for each shape in a map. Data labels are used to display the values of the shapes. You can use the <code>autoFill</code> property in the <code>shapeSettings</code> to apply the default palette colors to the shapes.
        
            </p>
            <p>
            Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a shape or tap a shape in touch enabled devices.
            </p>
        <br/>
            <p style="font-weight: 500">Injecting Module</p>
            <p>
             Maps component features are segregated into individual feature-wise modules. To use a data label, inject the <code>DataLabel</code> module using the <code>Maps.Inject(DataLabel)</code> method.
            </p>
        </div>
}