@using Syncfusion.EJ2.Maps;
@section ControlsSection{
    @{
        var propertyPath = new[] { "name" };
        var color1 = new[] { "#7E9CDC" };
        var color2 = new[] { "#DCD57E" };
        var color3 = new[] { "#7EDCA2" };
        var color4 = new[] { "#6EB5D0" };
        var color5 = new[] { "#A6DC7E" };
        var color6 = new[] { "#DCA87E" };
        var color7 = new[] { "#d075c6" };
    }
<style>
    #mapannotation.e-control.e-slider .e-handle {
        background-color: #4B4B4B;
    }

    .e-control-wrapper.e-slider-container.e-horizontal .e-slider-track {
          background: -webkit-linear-gradient(left, #7E9CDC 0, #DCD57E 17%, #7EDCA2 34%, #6EB5D0 51%, #A6DC7E 68%, #DCA87E 85%, #d075c6 100%);
        background: linear-gradient(left, #7E9CDC 0, #DCD57E 17%, #7EDCA2 34%, #6EB5D0 51%, #A6DC7E 68%, #DCA87E 85%, #d075c6 100%);
        background: -moz-linear-gradient(left, #7E9CDC 0, #DCD57E 17%, #7EDCA2 34%, #6EB5D0 51%, #A6DC7E 68%, #DCA87E 85%, #d075c6 100%);
    }

    .e-limit-bar.e-limits {
        background-color: transparent !important;
    }

    .e-control-wrapper.e-slider-container.e-horizontal .e-range {
        height: 0px !important;
    }

    #mapannotation.e-control.e-slider .e-slider-track {
        height: 8px;
        top: calc(50% - 4px);
        border-radius: 5px;
    }
</style>
<div class="control-section">
    <div id="mapslider">
        <ejs-maps id="maps" load="window.onMapLoad" loaded="onMapLoaded">
            <e-maps-titlesettings text="Average annual population growth in North American countries">
                <e-titlesettings-textstyle size="16px"></e-titlesettings-textstyle>
            </e-maps-titlesettings>
            <e-maps-zoomsettings enable="false"></e-maps-zoomsettings>
            <e-maps-annotations>
                <e-maps-annotation content="#mapslider-annotation" horizontalAlignment="Center" y="95%" zIndex="1.0"></e-maps-annotation>
            </e-maps-annotations>
            <e-maps-layers>
                <e-maps-layer dataSource="ViewBag.dataSource" shapeData="ViewBag.MapData" shapePropertyPath="propertyPath" shapeDataPath="name">
                    <e-layersettings-tooltipsettings visible="true" format="${name} : ${population}%"></e-layersettings-tooltipsettings>
                    <e-layersettings-shapesettings colorValuePath="population">
                        <e-shapesettings-colormappings>
                            <e-shapesettings-colormapping from="-1.5" to="-0.75" color="color1"></e-shapesettings-colormapping>
                            <e-shapesettings-colormapping from="-0.75" to="0.001" color="color2"></e-shapesettings-colormapping>
                            <e-shapesettings-colormapping from="0.1" to="0.75" color="color3"></e-shapesettings-colormapping>
                            <e-shapesettings-colormapping from="0.76" to="1.5" color="color4"></e-shapesettings-colormapping>
                            <e-shapesettings-colormapping from="1.5" to="2.25" color="color5"></e-shapesettings-colormapping>
                            <e-shapesettings-colormapping from="2.25" to="3" color="color6"></e-shapesettings-colormapping>
                            <e-shapesettings-colormapping from="3" to="3.75" color="color7"></e-shapesettings-colormapping>
                        </e-shapesettings-colormappings>
                    </e-layersettings-shapesettings>
                </e-maps-layer>
            </e-maps-layers>
        </ejs-maps>
        <div id="mapslider-annotation" style="display: none;">
            <div id="mapannotation" style="width:300px"></div>
        </div>
    </div>
    <br><br>
    <div style="float: right; margin-right: 10px;">Source:<a href="https://en.wikipedia.org/wiki/List_of_North_American_countries_by_population" target="_blank">Population growth in North America</a></div>
</div>
}
<script>
    var maps;
    var sliderVal = [-2, 4];
    @* custom code start *@
    function onMapLoad(args) {
        maps = args.maps;
        var theme = themeName ? themeName : "Material";
        args.maps.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
    }
    @* custom code end *@
    function onMapLoaded(args) {
        if (document.getElementById('maps_Annotation_0')) {
            annotationRender(sliderVal);
        }
    }

    function annotationRender(val) {
        var colorCodes = ['#7E9CDC', '#DCD57E', '#7EDCA2', '#6EB5D0', '#A6DC7E', '#DCA87E', '#d075c6'];
        var slider = new ej.inputs.Slider({
            min: -1.5, max: 3.75,
            value: val,
            type: 'Range',
            ticks: { placement: 'After', largeStep: 0.75, },
            changed: (args) => {
                if (!isNaN(args.value[0]) && !isNaN(args.value[1])) {
                    for (var i = 0; i < maps.layers[0].shapeSettings.colorMapping.length; i++) {
                        if (maps.layers[0].shapeSettings.colorMapping[i].from < args.value[0] ||
                            maps.layers[0].shapeSettings.colorMapping[i].to > args.value[1]) {
                                maps.layers[0].shapeSettings.colorMapping[i].color = '#E5E5E5';
                        } else {
                            maps.layers[0].shapeSettings.colorMapping[i].color = colorCodes[i];
                        }
                    }
                    sliderVal = args.value;
                    maps.refresh();
                }
            }
        });
        slider.appendTo('#mapannotation');
    }

</script>
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Maps control visualizes the average annual population growth of the countries in the North America continent." />
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the average annual population growth of the countries in the North America continent.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, the range color mapping is applied to the shapes based on the population growth of the countries in percentage. The EJ2 Slider control is placed at the bottom of the maps to control the minimum and maximum color ranges.
        </p>
        <p>
            The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a marker or tap a marker in touch enabled devices.
        </p>
    </div>
}
