@using Syncfusion.EJ2.Maps;
@section ControlsSection
    {
    @{
        var titleStyle = new MapsFont
        {
            Size = "16px"
        };
        var tooltip = new MapsTooltipSettings
        {
            Visible = true,
            Template = "#template",
            ValuePath = "population"
        };
        var markerborder = new MapsBorder
        {
            Color = "#285255",
            Width = 2,
            Opacity = 1
        };
    }

<div class="col-lg-9 control-section">
    <div>
        <ejs-maps id="maps" width="100%" load="window.onMapLoad" format="n" useGroupingSeparator="true" loaded="onCreated">
            <e-maps-zoomsettings enable="false"></e-maps-zoomsettings>
            <e-maps-titlesettings alignment="@Syncfusion.EJ2.Maps.Alignment.Center" text="Top 25 populated cities in the world" textStyle="titleStyle"></e-maps-titlesettings>
            <e-maps-layers>
                <e-maps-layer dataSource="ViewBag.marker" shapeData="ViewBag.mapdata">
                    <e-layersettings-shapesettings fill="#C3E6ED"></e-layersettings-shapesettings>
                    <e-layersettings-markers>
                        <e-layersettings-marker visible="true" animationDuration="0" shape="Circle" fill="white" width="10" height="10" dataSource="ViewBag.marker" tooltipSettings="tooltip" border="markerborder"></e-layersettings-marker>
                    </e-layersettings-markers>
                </e-maps-layer>
            </e-maps-layers>
        </ejs-maps>
    </div>
    <div style="float: right; margin-right: 10px;">
        Source:
        <a href="http://www.citymayors.com/statistics/largest-cities-population-125.html" target="_blank">www.citymayors.com</a>
    </div>
</div>
<div class="col-lg-3 property-section">
    <table id="property" title="Properties" style="width: 100%">
        <tbody>
            <tr style="height: 70px">
                <td style="width: 10%">
                    <div class="property-text" style="padding: 0px;">Bind markers shape from data source</div>
                </td>
                <td style="width: 30%">
                    <div>
                        <input type="checkbox" id="shape" />
                    </div>
                </td>
            </tr>
            <tr style="height: 50px">
                <td style="width: 10%">
                    <div class="property-text" style="padding: 0px;">Bind markers color from data source</div>
                </td>
                <td style="width: 30%">
                    <div>
                        <input type="checkbox" id="color" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="template" style="display:none">
    <div class="toolback">
        <div class="listing2">
            <center>
                ${name}
            </center>
        </div>
        <hr style="margin-top: 2px;margin-bottom:5px;border:0.5px solid #DDDDDD">
        <div>
            <span class="listing1">Country : </span><span class="listing2">${Country}</span>
        </div>
        <div>
            <span class="listing1">Continent : </span><span class="listing2">${Continent}</span>
        </div>
        <div>
            <span class="listing1">Population : </span><span class="listing2">${population}</span>
        </div>
    </div>
</div>
}
<style>
    .toolback {
        border-radius: 4px;
        border: 1px #abb9c6;
        opacity: 90%;
        background: rgba(53, 63, 76, 0.90);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 170px;
    }

    .listing1 {
        font-size: 13px;
        color: #cccccc
    }

    .listing2 {
        font-size: 13px;
        color: #ffffff;
        font-weight: 500;
    }
</style>
@*custom code start*@
<script>
    function onCreated() {
        maps = document.getElementById('maps').ej2_instances[0];
    }
    function onMapLoad(args) {
        var theme = themeName ? themeName : "Material";
        args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1));
    }
    window.onload = function () {
        window.maps = maps;
    var shapeCheckBox = new ej.buttons.CheckBox(
        {
            change: (args) => {
                if (args.checked) {
                    maps.layers[0].markerSettings[0].shapeValuePath = "shape";
                } else {
                    maps.layers[0].markerSettings[0].shapeValuePath = null;
                }
                maps.refresh();
            },
            checked: false
        },
        '#shape');
    var colorCheckBox = new ej.buttons.CheckBox(
        {
            change: (args) => {
                if (args.checked) {
                    maps.layers[0].markerSettings[0].colorValuePath = "color";
                } else {
                    maps.layers[0].markerSettings[0].colorValuePath = null;
                }
                maps.refresh();
            },
            checked: false
        },
        '#color');
    }
</script>
@*custom code end*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Marker in ASP.NET Core Maps control. Explore here for more details."/>
                }
@section ActionDescription{

    <div id="action-description">
        <p>
            This sample visualizes the top 25 populated cities in the world by displaying the markers in their locations.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
                    In this example, you can see how to render the markers in a map. Markers are used to indicate or mark a
        particular location on the map with desired symbols.
        And also you can apply continent based color and shape to marker from datasource of marker. This can be acheived
        through <code>shapeValuePath</code> and <code>colorValuePath</code> properties of marker.

        </p>
        <p>
            Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a marker or tap a marker in touch enabled devices.
        </p>
        <br />
        <p style="font-weight: 500">Injecting Module</p>
        <p>
            Maps component features are segregated into individual feature-wise modules. To use a marker, inject the <code>Marker</code> module using the <code>Maps.Inject(Marker)</code> method.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Maps Marker Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Marker in ASP.NET Core Maps Control</h1>
                }