@using Syncfusion.EJ2.Maps;
@section ControlsSection
    {
    @{
       
        var titleStyle = new MapsFont
        {
            Size = "16px",
        };
        var cluster = new MapsMarkerClusterSettings
        {
            AllowClustering=true,
            Shape= Syncfusion.EJ2.Maps.MarkerType.Image,
            Height=40,
            Width=40,
            ImageUrl="../styles/images/maps/cluster.svg",
            LabelStyle= new MapsFont {
                Color="White"
            }

        };
        var tooltip = new MapsTooltipSettings
        {
            Visible = true,
            ValuePath = "city"
        };

     }
    <div class="control-section">
        <ejs-maps id="maps" format="n" useGroupingSeparator="true" load="window.onMapLoad">
            <e-maps-titlesettings alignment="@Syncfusion.EJ2.Maps.Alignment.Center" text="Top 50 largest cities in the World" textStyle="titleStyle"></e-maps-titlesettings>
            <e-maps-zoomsettings enable="true"></e-maps-zoomsettings>
            <e-maps-layers>
                <e-maps-layer shapeData="ViewBag.world" markerClusterSettings="cluster">
                    <e-layersettings-shapesettings fill="#C1DFF5"></e-layersettings-shapesettings>
                    <e-layersettings-markers>
                        <e-layersettings-marker visible="true" shape="Image" imageUrl="../styles/images/maps/ballon.png" height="20" width="20" animationDuration="0" tooltipSettings="tooltip" dataSource="ViewBag.marker"></e-layersettings-marker>
                    </e-layersettings-markers>

                </e-maps-layer>
            </e-maps-layers>
        </ejs-maps>
        <div style="float: right; margin-right: 10px;">
            Source:
            <a href="http://www.citymayors.com/statistics/largest-cities-population-125.html"
               target="_blank">www.citymayors.com</a>
        </div>

    </div>
    }
@*custom code start*@
<script>
    function onMapLoad(args) {
        var theme = themeName ? themeName : "Material";
        args.maps.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
    }
</script>
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample illustrates the world's top 50 cities by showing the markers in their locations and clustering the markers to avoid intersecting.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            This sample illustrates the world's top 50 cities by showing the markers in their locations and clustering the markers to avoid intersecting.
        </p>

    </div>
    <div id="description">
        <p>
            In this example, you can see how to display multiple markers in the same region without intersecting each other. If a marker intersects, it will be clustered and the total number of markers will be displayed over the cluster. When zooming in, the number of clusters will be decreased, and the individual marker will be displayed. When zooming out, markers that intersect will again be clustered. You can use the "clusterSettings" property in "layer" to enable marker clustering.
        </p>
        <p>
            Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a marker or tap a marker in touch-enabled devices.
        </p>
        <br />
        <p style="font-weight: 500">Injecting Module</p>
        <p>
            Maps component features are segregated into individual feature-wise modules. To use a marker and cluster, inject the <code>Marker</code> module using the <code>Maps.Inject(Marker)</code> method.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Maps Marker Clustering Example - Syncfusion Demos </title> 
                }
@section Meta{
                    <meta name="description" content="This example demonstrates the Marker Clustering in ASP.NET Core Maps control. Explore here for more details."/>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Marker Clustering in ASP.NET Core Maps Control</h1>
                }