@using Syncfusion.EJ2.Maps;
@section ControlsSection{
    @{
        var shapeborder = new MapsBorder
        {
            Color = "black",
            Width = 0.25
        };
        var shapeborder2 = new MapsBorder
        {
            Color = "#1a9cff",
            Width = 0.75
        };
        var shapeborder3 = new MapsBorder
        {
            Color = "#1a9cff",
            Width = 0.75
        };
        var data1 = new[]
        {
            new { latitude = 30.267153, longitude = -97.7430608, name = "Austin"}
        };
        var data2 = new[]
        {
            new { latitude = 31.80289258670676, longitude = -98.96484375 }
        };
        var data3 = new[]
        {
            new { latitude = 37.3382082, longitude = -121.8863286, name = "San Jose"}
        };
        var data4 = new[]
        {
            new { latitude = 37.09023980307208, longitude = -119.35546875000001 }
        };
        var tooltipSettings = new MapsTooltipSettings
        {
            Visible = true,
            ValuePath = "name",
            Format = "<b>${name}</b><br>Manufacturing Center,<br>Research and Development Center"
        };
        var tooltipSettings1 = new MapsTooltipSettings
        {
            Visible = true,
            ValuePath = "name",
            Format = "<b>${name}</b><br>Regional Office,<br>Research and Development Center"
        };
        var textStyle = new MapsFont
        {
            Size = "16px"
        };
            }
            <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-maps id="maps" load="window.onMapLoad">
                    <e-maps-zoomsettings enable="true" pinchZooming="true"></e-maps-zoomsettings>
                    <e-maps-titlesettings alignment="@Syncfusion.EJ2.Maps.Alignment.Center"  text="Samsung Semiconductor office locations in USA" textStyle="textStyle"></e-maps-titlesettings>
                    <e-maps-layers>
                        <e-maps-layer shapeData="ViewBag.mapdata">
                            <e-layersettings-datalabelsettings visible="true" labelPath="iso_3166_2" smartLabelMode="@SmartLabelMode.Hide"></e-layersettings-datalabelsettings>
                            <e-layersettings-shapesettings fill="#E5E5E5" border="shapeborder"></e-layersettings-shapesettings>
                        </e-maps-layer>
                        <e-maps-layer shapeData="ViewBag.texas" type="SubLayer">
                            <e-layersettings-shapesettings fill="rgba(141, 206, 255, 0.6)" border="shapeborder2"></e-layersettings-shapesettings>
                            <e-layersettings-markers>
                                <e-layersettings-marker visible="true" height="20" width="20" template="#markercircle" dataSource="data1" tooltipSettings="tooltipSettings"></e-layersettings-marker>
                                <e-layersettings-marker visible="true" template="<div>TX</div>" dataSource="data2"></e-layersettings-marker>
                            </e-layersettings-markers>
                        </e-maps-layer>
                        <e-maps-layer shapeData="ViewBag.california" type="SubLayer">
                            <e-layersettings-markers>
                                <e-layersettings-marker visible="true" template="#markercircle" height="20" width="20" dataSource="data3" tooltipSettings="tooltipSettings1"></e-layersettings-marker>
                                <e-layersettings-marker visible="true" template="<div>CA</div>" dataSource="data4"></e-layersettings-marker>
                            </e-layersettings-markers>
                            <e-layersettings-shapesettings fill="rgba(141, 206, 255, 0.5)" border="shapeborder3"></e-layersettings-shapesettings>
                        </e-maps-layer>
                    </e-maps-layers>
                </ejs-maps>
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href="http://www.samsung.com/semiconductor/about-us/location/" target="_blank">www.samsung.com</a>
                </div>
                <div id="markercircle" style="display:none;">
                    <svg width="30" height="30">
                        <circle class="svgcircle" cx="15" cy="15" r="6" stroke="rgba(77, 77, 77, 0.8)" fill="rgba(0, 77, 153, 0.8)"></circle>
                    </svg>
                </div>
            </div>
        </div>
    </div>
}
<style>
    .markerTemplate {
        font-size: 12px;
        color: black;
        font-weight: 500
    }

	.svgcircle{
        -webkit-animation: opac 1.5s ease-out infinite;
        animation: opac 1.5s ease-out infinite;
    }

    @@keyframes opac {
        0% {
            stroke-opacity: 0.6;
            stroke-width: 0px;
        }
        100% {
            stroke-opacity: 0.2;
            stroke-width: 8px;
        }
    }
</style>
<script>
    function onMapLoad(args) {
        var theme = location.hash.split("/")[1];
        theme = theme ? theme : "Material";
        args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1));
    }
</script>
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Maps control depicts the layer along with sublayers for California and Texas." />
}
@section ActionDescription{
    
<div id="action-description">
        <p>
            This sample depicts the layers along with sublayers. Countries in the African and Australian continents are rendered in the sublayers.
       </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
        In this example, you can see how to render a sublayer in map. Sublayers are used to render the desired shapes over the existing layers. Any number of sublayers can be added to a map. You can use the <code>fill</code>, <code>width</code>, and <code>color</code> properties in the border to customize the appearance of the shapes. 
    
        </p>
    </div>
}