@using Syncfusion.EJ2.Maps;
@section ControlsSection{
    @{
        var titleStyle = new MapsFont
        {
            Size = "18px"
        };
        var centerPosition = new MapsCenterPosition
        {
            Latitude = 25.54244147012483,
            Longitude = -89.62646484375
        };
        var markerlocation = new[]
        {
    new {
        latitude = 22.403410892712124,
        longitude = -97.8717041015625
    },
    new {
        latitude = 29.756032197482973,
        longitude = -95.36270141601562
    },
    new {
        latitude = 30.180747605060766,
        longitude = -85.81283569335938
    },
    new {
        latitude = 27.9337540167772,
        longitude = -82.49908447265625
    },
    new {
        latitude = 21.282336521195344,
        longitude = -89.6649169921875
    }
        };
        var marktemploc = new[]
        {
            new { value = "ALTAMIRA", latitude = 22.403410892712124, longitude = -99.5 },
            new { value = "HOUSTON", latitude = 30.332197482973, longitude = -95.36270141601562 },
            new { value = "PANAMA CITY", latitude = 30.380747605060766, longitude = -85.81283569335938 },
            new { value = "TAMPA", latitude = 27.9337540167772, longitude = -81.29908447265625 },
            new { value = "PROGRESO", latitude = 20.62336521195344, longitude = -89.6649169921875 }
        };
    }
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-maps id="maps" load="window.onMapLoad" centerPosition="centerPosition">
                    <e-maps-mapsarea background="#4863A0"></e-maps-mapsarea>
                    <e-maps-titlesettings alignment="@Syncfusion.EJ2.Maps.Alignment.Center" text="Shipping sea route between various cities" textStyle="titleStyle"></e-maps-titlesettings>
                    <e-maps-zoomsettings enable="false" zoomFactor=13></e-maps-zoomsettings>
                    <e-maps-layers>
                        <e-maps-layer shapeData="ViewBag.worldmap">
                            <e-layersettings-shapesettings fill="#789071"></e-layersettings-shapesettings>
                            <e-layersettings-markers>
                                <e-layersettings-marker visible="true" animationDuration="0" shape="Circle" fill="white" width="10" height="10" dataSource="markerlocation"></e-layersettings-marker>
                                <e-layersettings-marker visible="true" animationDuration="0" template="<div id='marker1' style='font-size: 12px; color: white'>{{:value}}</div>" dataSource="marktemploc"></e-layersettings-marker>
                            </e-layersettings-markers>
                        </e-maps-layer>
                    </e-maps-layers>
                </ejs-maps>
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href="http://www.lineaships.com/en/linea-peninsular/" target="_blank">www.lineaships.com</a>
                </div>
            </div>
        </div>
    </div>
}

<style>
    #maps_layerIndex_0_line_Group {
        stroke-dasharray: 10px 10px;
        stroke-linejoin: round;
        stroke-linecap: round;
        -webkit-animation: dash 15s linear infinite;
        animation: dash 15s linear infinite;
    }

    @@-webkit-keyframes dash {
        100% {
            stroke-dashoffset: -20px;
        }
    }

    @@keyframes dash {
        100% {
            stroke-dashoffset: -20px;
        }
    }
</style>
<script>
    function onMapLoad(args) {
        @* custom code start *@
        var theme = themeName ? themeName : "Material";
        args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1));
        @* custom code end *@
        args.maps.layers[0].navigationLineSettings = [
            {
                visible: true,
                latitude: [22.403410892712124, 29.756032197482973],
                longitude: [-97.8717041015625, -95.36270141601562],
                angle: 0,
                dashArray: 1,
                color: 'white',
            },
            {
                visible: true,
                angle: 0,
                color: 'white',
                dashArray: 1,
                latitude: [22.403410892712124, 30.180747605060766],
                longitude: [-97.8717041015625, -85.81283569335938]
            },
            {
                dashArray: 1,
                visible: true,
                angle: 0,
                color: 'white',
                latitude: [22.403410892712124, 27.9337540167772],
                longitude: [-97.8717041015625, -82.49908447265625]
            },
            {
                dashArray: 1,
                visible: true,
                angle: 0,
                color: 'white',
                latitude: [22.403410892712124, 21.282336521195344],
                longitude: [-97.8717041015625, -89.6649169921875]
            },
            {
                dashArray: 1,
                visible: true,
                angle: 0,
                color: 'white',
                latitude: [29.756032197482973, 21.282336521195344],
                longitude: [-95.36270141601562, -89.6649169921875]
            },
            {
                dashArray: 1,
                visible: true,
                angle: 0,
                color: 'white',
                latitude: [30.180747605060766, 21.282336521195344],
                longitude: [-85.81283569335938, -89.6649169921875]
            },
            {
                dashArray: 1,
                visible: true,
                angle: 0,
                color: 'white',
                latitude: [27.9337540167772, 21.282336521195344],
                longitude: [-82.49908447265625, -89.6649169921875]
            }
        ];
    };
</script>
@section Meta{
                    <meta name="description" content="This example demonstrates the Navigation Lines in ASP.NET Core Maps control. Explore here for more details."/>
                }
@section ActionDescription{
    
<div id="action-description">
        <p>
            This sample illustrates the sea routes between various cities for shipping. 
       </p>
    </div>
}
@section Description{
<div id="description">
        <p>
          In this example, you can see how to render lines between two points in map. You can use <code>dashArray</code>, <code>width</code> and <code>color</code> properties to customize the appearance of the navigation lines. 
        </p>
    <br/>
        <p style="font-weight: 500">Injecting Module</p>
        <p>
          Maps component features are segregated into individual feature-wise modules. To use navigation lines, you need to inject <code>NavigationLine</code> module using <code>Maps.Inject(NavigationLine)</code> method.
        </p>
    </div>
}
@section Title{
                 <title>ASP.NET Core Maps Navigation Lines Example - Syncfusion Demos </title>
             }
@section Header{
                <h1 class='sb-sample-text'>Example for Navigation Lines in ASP.NET Core Maps Control</h1>
            }