@using Syncfusion.EJ2.Maps;
@section ControlsSection{
    @{
        var TextStyle = new MapsFont
        {
            Size = "16px"
        };
        var CenterPosition = new
        {
            latitude = 40.7489,
            longitude = -73.9680
        };

        var markers = new List<Syncfusion.EJ2.Maps.MapsMarker>
{
new Syncfusion.EJ2.Maps.MapsMarker
{
Visible = true,
Template = "<div><img src=../styles/images/maps/ballon.png style=height:30px;width:20px;></img></div>",
TooltipSettings = new MapsTooltipSettings { Visible = true, ValuePath="name" },
DataSource = new[]
{
    new
    {
        name="Manhattan, New York, USA",
        latitude=40.7488758,
        longitude=-73.9730091
    }

}
}

};
    }
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-maps id="maps" load="window.onMapLoad" centerPosition="CenterPosition">
                    <e-maps-titlesettings alignment="@Syncfusion.EJ2.Maps.Alignment.Center" text="Headquarters of United Nations" textStyle="TextStyle">
                    </e-maps-titlesettings>
                    <e-maps-zoomsettings zoomFactor="10" enable="false"></e-maps-zoomsettings>
                    <e-maps-layers>
                        <e-maps-layer layerType="@Syncfusion.EJ2.Maps.ShapeLayerType.OSM" markerSettings="markers">
                        </e-maps-layer>
                    </e-maps-layers>
                </ejs-maps>
                <div style="float: right">
                    <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>
                </div><br />
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href="https://en.wikipedia.org/wiki/Headquarters_of_the_United_Nations" target="_blank">en.wikipedia.org</a>
                </div>
            </div>
        </div>
    </div>
}
@*custom code start*@
<script>
    function onMapLoad(args) {
        var theme = themeName ? themeName : "Material";
        args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1));
    }
</script>
@*custom code end*@
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render the OpenStreetMap. The location of United Nations Headquarters is denoted using marker. The EJ2 Dialog is displayed on the top of the marker and the zooming feature is enabled to zoom and pan the map for detailed analysis.
        </p>

        <p style="font-weight: 500">Injecting Module</p>
        <p>
            The maps component features are segregated into individual modules by feature. To use a marker, inject the Marker module using the <code>Maps.Inject(Marker)</code> method and inject the zoom module using the <code>maps.Inject(Zoom)</code> method.
        </p>

    </div>

}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the location of United Nations Headquarters in the OpenStreetMap with marker.
        </p>
    </div>

}
