@using Syncfusion.EJ2.Maps;
@section ControlsSection{
    @{
        var titleStyle = new MapsFont {
            Size = "16px",
            FontFamily = "Segoe UI"
        };
        var colormapping = new List<Syncfusion.EJ2.Maps.MapsColorMapping>
        {
            new MapsColorMapping{ Color = "#b3daff", Value = "1" },
            new MapsColorMapping{ Color = "#80c1ff", Value = "2" },
            new MapsColorMapping{ Color = "#1a90ff", Value = "3" },
            new MapsColorMapping{ Color = "#005cb3", Value = "7" }
        };
        var propertyPath = new[] { "name" };
    }
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-maps id="maps" load="window.onMapLoad" tooltipRender="window.tooltiprender">
                <e-maps-titlesettings alignment="@Syncfusion.EJ2.Maps.Alignment.Center" text="Finalist in Cricket World Cup" textStyle="titleStyle">
                </e-maps-titlesettings>
                    <e-maps-zoomsettings enable="false"></e-maps-zoomsettings>
                    <e-maps-legendsettings visible="true" mode="Interactive" position="Left" orientation="Vertical" height="300" width="10"></e-maps-legendsettings>
                    <e-maps-layers>
                        <e-maps-layer shapeData="ViewBag.worldmap" shapeDataPath="name" shapePropertyPath="propertyPath" dataSource="ViewBag.worldcup">
                            <e-layersettings-tooltipsettings visible="true" valuePath="name" template="#template"></e-layersettings-tooltipsettings>
                            <e-layersettings-shapesettings colorValuePath="value1" fill="#E5E5E5" colorMapping="colormapping"></e-layersettings-shapesettings>
                        </e-maps-layer>
                    </e-maps-layers>
                </ejs-maps>
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href="https://en.wikipedia.org/wiki/List_of_Cricket_World_Cup_finals" target="_blank" aria-label="wikipedia">en.wikipedia.org</a>
                </div>
            </div>
        </div>
    </div>
<div id="template" style="display:none">
    <div class="toolback">
        <div class="listing2">
            <center>
                ${country}
            </center>
        </div>
        <hr style="margin-top: 2px;margin-bottom:5px;border:0.5px solid #DDDDDD">
        <div>
            <span class="listing1">Finalist : </span><span class="listing2">${value1}</span>
        </div>
        <div>
            <span class="listing1">Win : </span><span class="listing2">${value2}</span>
        </div>
    </div>

</div>
}
<script>
    function tooltiprender(args) {
        if (!args.options.data) {
            args.cancel = true;
        }
    };
    @* custom code start *@
    function onMapLoad(args) {
        var theme = themeName ? themeName : "Material";
        args.maps.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
    }
    @* custom code end *@
</script>
<style>
    #control-container {
        padding: 0px !important;
    }

    .toolback {
        border-radius: 4px;
        border: 1px #abb9c6;
        opacity: 0.9;
        background: rgba(53, 63, 76, 0.90);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
        padding-bottom: 5px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
		width: 90px;
    }

    .listing1 {
        font-size: 13px;
        color: #cccccc
    }

    .listing2 {
        font-size: 13px;
        color: #ffffff;
        font-weight: 500;
    }
</style>
@section Meta{
                    <meta name="description" content="This example demonstrates the Tooltip in ASP.NET Core Maps control. Explore here for more details."/>
                }
@section ActionDescription{
    
<div id="action-description">
    <p>
       This sample depicts the countries that were appeared in the finals of Cricket World Cup and their counts. By hovering the mouse over the shapes, county name, finalist count, and winning count will be displayed in the tooltip template.
   </p>
</div>
}
@section Description{
<div id="description">
    <p>
       In this example, you can see how to render the custom HTML element as tooltip. To see the tooltip in action, hover the mouse over a shape or tap a shape in touch enabled devices. Also, the interactive legend has been placed at the left of the map. 
    </p>
<br/>
    <p style="font-weight: 500">Injecting Module</p>
    <p>
     Maps component features are segregated into individual feature-wise modules. To use a tooltip, inject the <code>MapsTooltip</code> module using the <code>Maps.Inject(MapsTooltip)</code> method.
    </p>
</div>
}
@section Title{
                    <title>ASP.NET Core Maps Tooltip Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Tooltip in ASP.NET Core Maps Control</h1>
                }