@page
@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div id="default-container">
            <div class="otp-content">
                <label for="numberOtp">Default (Number) OTP Input</label>
                <ejs-otpinput id="numberOtp" value="1234" type="Number"></ejs-otpinput>
            </div>
            <div class="otp-content">
                <label for="textOtp">Text OTP Input</label>
                <ejs-otpinput id="textOtp" value="e3c7" type="Text"></ejs-otpinput>
            </div>
            <div class="otp-content">
                <label for="passwordOtp">Password OTP Input</label>
                <ejs-otpinput id="passwordOtp" value="1234" type="Password"></ejs-otpinput>
            </div>
        </div>
    </div>
}

<style>
    #default-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px auto;
    }

    #default-container div {
        width: 240px;
        margin: 15px auto;
    }
</style>

@section Meta{
<meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Otp Input control. Explore here for more details." />
}
@section ActionDescription{
<div id="action-description">
    <p>
        This sample demonstrates the default functionalities of the OTP Input component. This component provides the user to enter the otp values such that the verification process in login, tickets booking can be done easily.
    </p>
</div>
}
@section Description{
<div id="description">
       <p>
            This example showcases the usage of the <code>type</code>, <code>value</code> properties which defines the basic rendering of the OTP Input control. You can just enter the otp values based on the types mentioned.
       </p>
</div>
}
@section Title{
<title>ASP.NET Core Otp Input DefaultFunctionalities Example - Syncfusion Demos </title>
}
@section Header{
<h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Otp Input Control</h1>
}