@using Syncfusion.EJ2
@{
    var content = "Let's go green to save the planet!!";
}
@section ControlsSection{
    <div class="col-lg-8 control-section">
        <div class="control-section">
            <!-- Tooltip element -->
          <ejs-tooltip id="Tooltip" content="@content" position=TopCenter created="onCreated" showTipPointer="true">
              <e-content-template>
                  <ejs-button id="btn" content="Show Tooltip"></ejs-button>
              </e-content-template>
          </ejs-tooltip>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <table id="property" title="Properties">
            <tbody>
                <tr>
                    <td style="width: 30%">
                        <div>Position</div>
                    </td>
                    <td style="width: 70%;padding-right: 10px">
                        <div>
                            <!-- Options for Tooltip position selection -->
                            <select id="positions" class="form-control">
                                <option value="TopLeft">Top Left</option>
                                <option value="TopCenter" selected="">Top Center</option>
                                <option value="TopRight">Top Right</option>
                                <option value="BottomLeft">Bottom Left</option>
                                <option value="BottomCenter">Bottom Center</option>
                                <option value="BottomRight">Bottom Right</option>
                                <option value="LeftTop">Left Top</option>
                                <option value="LeftCenter">Left Center</option>
                                <option value="LeftBottom">Left Bottom</option>
                                <option value="RightTop">Right Top</option>
                                <option value="RightCenter">Right Center</option>
                                <option value="RightBottom">Right Bottom</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

<style>
    #Tooltip {
        position: absolute;
        left: calc( 50% - 60px);
        top: 38%;
    }

</style>

@section Meta{
                    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core Tooltip control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the default functionalities of the Tooltip which will open
            by <b>hover</b> or <b>touch-hold</b> action on button and displayed in 12 different positions.
        </p>

    </div>
}

@section Description{
    <div id="description">
        <p>
            This sample illustrates a tooltip, that gets opened on hovering the target labelled <b>Show Tooltip</b>. The tooltip can be shown
            on 12 possible positions, by selecting the appropriate position values provided in the dropdown. The applicable tooltip
            positions are as follows:
        </p>
        <ul>
            <li><code>TopLeft</code></li>
            <li><code>TopCenter</code></li>
            <li><code>TopRight</code></li>
            <li><code>BottomLeft</code></li>
            <li><code>BottomCenter</code></li>
            <li><code>BottomRight</code></li>
            <li><code>LeftTop</code></li>
            <li><code>LeftCenter</code></li>
            <li><code>LeftBottom</code></li>
            <li><code>RightTop</code></li>
            <li><code>RightCenter</code></li>
            <li><code>RightBottom</code></li>
        </ul>
        <p>
            In case, if the tooltip needs to be opened on mobile devices, tap hold on the target labelled <b>Show Tooltip</b> instead of hovering
            and by default, it closes after 1.5 seconds on lift.
        </p>
        <p>
            More information on the Tooltip instantiation can be found in the
            <a href="https://ej2.syncfusion.com/aspnetcore/documentation/tooltip/getting-started" target="_blank "aria-label="Navigate to the documentation for getting started with ASP.NET Core tooltip control" > Documentation section</a>.
        </p>
    </div>
}

    <script type="text/javascript">
        var tooltipObj;
        function onCreated() {
            //Handle tooltip position based on drop-down value change
            tooltipObj = document.getElementById('Tooltip').ej2_instances[0];
            document.getElementById("positions").addEventListener("change", onChange);
        }
        function onChange() {
            tooltipObj.position = this.value;
        }
    </script>
@section Title{
                    <title>ASP.NET Core Tooltip Default Functionalities Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core Tooltip Control</h1>
                }