@{
    ViewData["Title"] = "SmartPositioning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Syncfusion.EJ2
@section ControlsSection{
<div class="control-section">
    <!-- Tooltip element -->
    <ejs-tooltip id="targetContainer" content="@ViewBag.content" offsetX="-15" showTipPointer="true" target="#demoSmart" position="TopCenter">
        <e-content-template>
            <!-- Target element -->
            <div id="demoSmart">
            </div>
        </e-content-template>
    </ejs-tooltip>
</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Smart Positioning in ASP.NET Core Tooltip control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the Smart Positioning functionalities of the Tooltip which will open by dragging the picture.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            This sample shows the dynamic adjustment of the tooltip position within the specified Viewport. Start dragging the ant
            image, so that the tooltip opens up immediately and keeps moving along with the target image. When the image reaches
            the corners of the sample container on dragging, the tooltip and its arrow position will be auto adjusted
            to make it look fit within the sample container area.
        </p>
        <p>
            In this sample, the tooltip is opened manually by using its <code>open</code> method on drag start of the target image.
            On further dragging, the <code>refresh</code> method of the tooltip needs to be called to reposition it
            continuously and on drag stop, the tooltip will be hidden by using it’s <code>close</code> method.
        </p>
        <p>
            More information on dynamic positioning of the tooltip can be found in the
            <a href="//ej2.syncfusion.com/aspnetcore/documentation/tooltip/position/#dynamic-positioning" target="_blank"> documentation section</a>.
        </p>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        var ele = document.getElementById('demoSmart');
        var tooltip = document.getElementById("targetContainer").ej2_instances[0];
        ////Initialize Draggable for tooltip element
        var drag = new ej.base.Draggable(ele, {
            clone: false,
            dragArea: '#targetContainer',
            drag: function (args) {
                if (args.element.getAttribute('data-tooltip-id') === null) {
                    tooltip.open(args.element);
                }
                else {
                    tooltip.refresh(args.element);
                }
            },
            dragStart: function (args) {
                if (args.element.getAttribute('data-tooltip-id') !== null) {
                    return;
                }
                tooltip.open(args.element);
            },
            dragStop: function (args) {
                tooltip.close();
            }
        });
    </script>
}

    <style type="text/css">
    #demoSmart {
        width: 100px;
        height: 100px;
        background-image: url('@Url.Content("~/css/tooltip/smartposition.png")');
        background-size: 100px 100px;
        position: absolute;
        left: calc( 50% - 50px);
        top: calc( 50% - 50px);
    }

    #targetContainer {
        margin: 10px;
        min-height: 320px;
        width: 100%;
        float: left;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }

    .control-section {
        padding: 3px;
        margin-right: 20px;
    }
    </style>
@section Title{
                    <title>ASP.NET Core Tooltip Smart Positioning Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Smart Positioning in ASP.NET Core Tooltip Control</h1>
                }