@page

@using Syncfusion.EJ2

@{
    var data = new string[] { "25%", "50%", "75%", "100%" };
}

@section ControlsSection {
    <div class="col-lg-12 control-section">
        <div class="e-sample-resize-container">
            <ejs-toolbar id="template-toolbar" overflowMode="Popup" cssClass="template" style="margin-top: 100px; width: 100%; max-width: 100%">
                <e-toolbar-items>
                    <e-toolbar-item prefixIcon="e-icons e-folder" tooltipText="Open File" text="Open" showTextOn="Overflow" align="Left"></e-toolbar-item>
                    <e-toolbar-item type="Separator"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-first-page" tooltipText="Show first page" text="First" showTextOn="Overflow" align="Left" disabled="true"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-chevron-left" tooltipText="Show previous page" text="Previous" showTextOn="Overflow" align="Left" disabled="true"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-first-page" tooltipText="Show Next page" text="Next" showTextOn="Overflow" align="Left"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-last-page" tooltipText="Show last page" text="Last" showTextOn="Overflow" align="Left"></e-toolbar-item>
                    <e-toolbar-item template="#count-textbox" type=Input align="Left" cssClass="page-count"></e-toolbar-item>
                    <e-toolbar-item type="Separator"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-zoom-out" tooltipText="zoom-out" text="zoom-out" showTextOn="Overflow" align="Left"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-zoom-in" tooltipText="zoom-in" text="zoom-in" showTextOn="Overflow" align="Left"></e-toolbar-item>
                    <e-toolbar-item template="#combo-content" type=Input align=Left overflow="Show" cssClass="percentage"></e-toolbar-item>
                    <e-toolbar-item type="Separator"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-mouse-pointer" tooltipText="Text Selection Tool" text="Selection" showTextOn="Overflow" align="Left"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-pan" tooltipText="Pan Mode" text="Pan Mode" showTextOn="Overflow" align="Left"></e-toolbar-item>
                    <e-toolbar-item type="Separator"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-undo" tooltipText="Undo" text="Undo" showTextOn="Overflow" align="Left"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-redo" tooltipText="Redo" text="Redo" showTextOn="Overflow" align="Left"></e-toolbar-item>
                    <e-toolbar-item type="Separator"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-pv-comment-icon" tooltipText="Add Comments" text="Add Comments" showTextOn="Overflow" align="Left"></e-toolbar-item>
                    <e-toolbar-item type="Separator"></e-toolbar-item>
                    <e-toolbar-item text="Submit Form" align="Left"></e-toolbar-item>
                    <e-toolbar-item template="#list-content" type=Input align=Right overflow="Show"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-annotation-edit" tooltipText="Edit Annotations" text="Edit" align="Right" showTextOn="Overflow"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-print" tooltipText="Print File" text="Print" align="Right" showTextOn="Overflow"></e-toolbar-item>
                    <e-toolbar-item prefixIcon="e-icons e-download" tooltipText="Download" text="Download" align="Right" showTextOn="Overflow"></e-toolbar-item>
                </e-toolbar-items>
            </ejs-toolbar>
        </div>
        <div id="count-textbox">
            <ejs-numerictextbox id="count" value="1" format="###.##" min="0" max="100" showSpinButton=false width="50"></ejs-numerictextbox>
            <span class="total-page"> of 100 </span>
        </div>
        <ejs-combobox id="combo-content" dataSource="data" width="85px" value="100" popupHeight="85px" showClearButton=false></ejs-combobox>
        <ejs-textbox id="list-content" width="125px" placeholder="Find Text" created="onCreate"></ejs-textbox>
    </div>
}

@section ActionDescription{
    <p>
        This sample demonstrates customization of the ASP.Net Core Toolbar.
    </p>
}

@section Description{
    <p>
        In this demo, the ASP.Net Core Toolbar showcases customization options for toolbar items using the <code>template</code> property. The Toolbar items are arranged using the <code>align</code> property.
    </p>
    <p>
        To add icons to the toolbar items, the <code>prefixIcon</code> property is used. When the <code>showTextOn</code> property's is set to <code>overflow</code>, the Toolbar items' <code>text</code> that overflows will be visible.
    </p>
    <p>
        In this demo, <code>NumericTextBox</code>, <code>ComboBox</code> and <code>TextBox</code> are used inside the Toolbar .
    </p>
}

@section Meta{
    <meta name="description" content="This example demonstrates the Template in ASP.NET Core Toolbar control. Explore here for more details." />
}

<style>
    /* Toolbar Styles */

    .template.e-toolbar .total-page {
        padding-left: 4px;
        cursor: default;
        font-size: 14px;
        vertical-align: middle;
    }

    .template.e-toolbar .e-toolbar-pop .page-count,
    .template.e-toolbar .e-toolbar-pop .selection-tool,
    .template.e-toolbar .e-toolbar-pop .find,
    .template.e-toolbar .e-toolbar-pop .pan-mode,
    .template.e-toolbar .e-toolbar-pop .percentage {
        display: none;
    }

    .template.e-toolbar .e-toolbar-items .e-toolbar-item:not(.e-separator) {
        padding-left: 2px;
        line-height: 1;
    }

</style>
<script type="text/javascript">
    function onCreate() {
        this.addIcon('prepend', 'e-icons e-search');
    }
</script>

@section Title{
    <title>ASP.NET Core Toolbar Template Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Template in ASP.NET Core Toolbar Control</h1>
}
