@page
@model EJ2CoreSampleBrowser.Pages.Diagram.UmlSequenceDiagramModel
@using Syncfusion.EJ2.Diagrams;

@{
    var getConnectorDefaults = "getConnectorDefaults";
}
@section ControlsSection{
<div class="control-section">
    <ejs-diagram id="diagram" width="100%" height="700" getConnectorDefaults="@getConnectorDefaults" nodes="@Model.nodes" connectors="@Model.Connectors" created = "created">
           <e-diagram-snapsettings constraints="None"></e-diagram-snapsettings>
    </ejs-diagram>
</div>
<script>

    //Set connector default properties.
    function getConnectorDefaults(obj, diagram) {
        obj.targetDecorator.style = {fill:'#489ECC',strokeColor:'#489ECC'};
        if(obj.targetDecorator.shape === 'Arrow'){
        obj.style = {strokeColor:'#489ECC',strokeWidth:2};
        }
        return obj;
    }
    function created(args){
        var diagram = document.getElementById("diagram").ej2_instances[0];
        diagram.tool = ej.diagrams.DiagramTools.ZoomPan;
        diagram.fitToPage();
        diagram.dataBind();
    }

</script>
}
@section ActionDescription{
<div id="action-description">
    <p>
     This sample illustrates an employee’s leave request sequence using a UML sequence diagram. The shapes for the sequence were designed with the port feature for Diagram's nodes.
  </p>
</div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the UML Sequence Diagram in ASP.NET Core Diagram control. Explore here for more details."/>
                }
@section Description{
<div id="description">
<p>This example shows how to create a UML sequence diagram using the port feature for nodes. The <code>type</code> property allows you to define the type of shape. The basic shape property allows you to define the shape of a node.
    </p>
  <br />
</div>
}
@section Title{
                    <title>ASP.NET Core Diagram UML Sequence Diagram Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of UML Sequence Diagram in ASP.NET Core Diagram Control</h1>
                }