@page
@model EJ2CoreSampleBrowser.Pages.Diagram.VennDiagramModel
@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        <div style="text-align:center">
            <ejs-diagram id="container" width="100%" height="700px" nodes="@Model.Nodes" connectors="@Model.Connectors" created="onCreated">
            <e-diagram-snapsettings constraints="None"></e-diagram-snapsettings>
            </ejs-diagram>
        </div>
    </div>
    <style>
        #container {
            display: block;
        }
    </style>
    <script>
    var diagramCreated = false;
    function onCreated() {
        var diagram = document.getElementById("container").ej2_instances[0];
        diagramCreated = true;
        diagram.tool = ej.diagrams.DiagramTools.ZoomPan;
        diagram.fitToPage();
    }
    </script>
}
@section ActionDescription{
    <p>
        This sample utilizes the Syncfusion<sup>®</sup> ASP.NET Core Diagram to visualize data science classifications through Venn Diagram.
    </p>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Venn Diagram in ASP.NET Core Diagram control. Explore here for more details."/>
                }
@section Description{
    <p>
        This sample uses nodes with both path and basic shapes, including annotations and bezier connectors, and enables zoom and pan through the control's <code><b>Tool</b></code> property.
    </p>
}
@section Title{
                    <title>ASP.NET Core Diagram Venn Diagram Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Venn Diagram in ASP.NET Core Diagram Control</h1>
                }