@page
@model EJ2CoreSampleBrowser.Pages.Word.CreateSmartArt

@using Syncfusion.EJ2
@{var Title = "    Essential DocIO (Word) : Create SmartArt : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("createsmartart", "word", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 10px">
                        <div style="margin-top: 10px">
                            Choose SmartArt Type:
                            <select id="SmartArtType" name="SmartArtType" class="e-dropdown-btn">
                                <option value="0">List</option>
                                <option value="1">Process</option>
                                <option value="2">Cycle</option>
                                <option value="3">Hierarchy</option>
                                <option value="4">Relationship</option>
                                <option value="5">Matrix</option>
                                <option value="6">Pyramid</option>
                                <option value="7">Picture</option>
                            </select>
                        </div>
                    </div>
                    <div style="margin-top: 12px">
                        @Html.EJS().Button("createbtn").Content("Generate Document").Render()
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to create a Word document with SmartArt graphics using the .NET Word Library (DocIO).
    </div>
}
@section Description{
    <div>
        The .NET Word Library (DocIO) supports creating SmartArt graphics from scratch and inserting them into Word documents (DOCX, DOTX, DOCM, and DOTM).
        <ul>
            <li>
                Create 134 default SmartArt graphics equivalent to those in Microsoft Word.
            </li>
            <li>
                Insert SmartArt as 'in line with text' or 'position relative to the page' in a Word document.
            </li>
            <li>
                Add, modify, and remove SmartArt nodes.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about SmartArt can be found in this
        <a href="https://help.syncfusion.com/document-processing/word/word-library/net/working-with-smartarts" aria-label="Documentation">Documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates how to create SmartArt graphics in the ASP.NET Core Word (DocIO) library. Explore here for more details." />
                }
@section Title{
                    <title>ASP.NET Core Word (DocIO) library - Create SmartArt Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Create SmartArt in ASP.NET Core Word (DocIO) Library</h1>
                }
