@page
@model EJ2CoreSampleBrowser.Pages.Word.DocumentProtection

@using Syncfusion.EJ2
@{ var Title = "Essential DocIO (Word) : Document Protection : Syncfusion"; }
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("documentprotection", "word", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 10px">
                        <div>
                            Protection Type :
                            <select class="e-dropdown-btn" id="ProtectionType" name="Protection_Type" style="width:165px;" onchange="isDocumentProtection(this)">
                                <option value="AllowOnlyFormFields">AllowOnlyFormFields</option>
                                <option value="AllowOnlyComments">AllowOnlyComments</option>
                                <option value="AllowOnlyRevisions">AllowOnlyRevisions</option>
                                <option value="AllowOnlyReading">AllowOnlyReading</option>
                            </select>
                        </div>
						<div id="editableRangeSection" style="margin-top: 10px">
                        <input type="checkbox" name="EditableRangeOption" value="EditableRange" disabled="true" id="editableRange" />
                        <label for="editableRange" style="font-size:13px; font-weight:normal;">
                            Make part of the document editable for everyone
                        </label>
                        </div>
                        <div style="margin-top: 10px">
                            Password :
                            <input type="password" class="e-input" id="Pwd1" name="Password1" style="width:150px;" />
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        @Html.EJS().Button("createbtn").Content("Generate Document").Render()
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
	
	<script type="text/javascript">
        function isDocumentProtection(element) {
            var selectedValue = element.options[element.selectedIndex].value;

            if (selectedValue === "AllowOnlyReading" || selectedValue === "AllowOnlyComments") {
                document.getElementById("editableRange").checked = true;
                document.getElementById("editableRange").disabled = false;
            } else {
                document.getElementById("editableRange").checked = false;
                document.getElementById("editableRange").disabled = true;
            }
        }
    </script>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to protect the Word document from editing using Essential DocIO.
    </div>
}
@section Description{
    <div>
        The .NET Word Library (DocIO) supports all Microsoft Word protection types and enables disabling document protection.
        <ul>
            <li>
                Generate forms restricted to filling form fields only.
            </li>
            <li>
                Generate documents allowing only adding or modifying comments.
            </li>
            <li>
                Generate documents allowing only accepting or rejecting revisions.
            </li>
            <li>
                Generate documents with full editing restriction, permitting only content viewing.
            </li>
            <li>
                Add editable ranges to allow everyone to edit specific parts, even in protected documents.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about the document protection can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-security#protecting-word-document-from-editing" aria-label="Documentation" >Documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Document Protection in ASP.NET Core Word (DocIO) library. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Word (DocIO) library - Document Protection Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Document Protection in ASP.NET Core Word (DocIO) Library</h1>
                }