@page
@model EJ2CoreSampleBrowser.Pages.Word.DocumentSettings

@using Syncfusion.EJ2
@{ var Title = "Essential DocIO (Word) : Document Properties : Syncfusion"; }
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("documentsettings", "word", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 10px">
                        <div>
                            Save As :
                            <input type="radio" id="rdButtonDoc" name="Group1" value="WordDoc" style="margin-left: 7px" />
                            <label for="rdButtonDoc" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Doc format">DOC</label>
                            &nbsp;
                            <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px" checked="checked" />
                            <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                            &nbsp;
                            <input type="radio" id="rdButtonWordML" name="Group1" value="WordML" style="margin-left: 7px" />
                            <label for="rdButtonWordML" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as WordML format">WordML</label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        @Html.EJS().Button("createbtn").Content("Generate Document").Render()
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to apply various document settings to the Word document using Essential DocIO.
    </div>
}
@section Description{
    <div>
        Document settings includes page setup options, print settings, built-in and custom document properties, document variables. 
        <ul>
            <li>
                Using DocIO, you can create Word documents with these settings.
            </li>
            <li>
                You can also define or modify these settings in an existing Word document.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about the document properties can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-word-document#working-with-word-document-properties" aria-label="Documentation" >Documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Document Settings in ASP.NET Core Word (DocIO) library. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Word (DocIO) library - Document Settings Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Document Settings in ASP.NET Core Word (DocIO) Library</h1>
                }