@page
@model EJ2CoreSampleBrowser_NET8.Pages.Word.EditEquation

@using Syncfusion.EJ2
@{ var Title = "    Essential DocIO (Word) : Edit Equation : Syncfusion"; }
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("editequation", "word", FormMethod.Post);
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document or PDF. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document and PDF viewer is required to view the resultant PDF.
                    <div style="margin-top: 10px">
                        <div>
                            Save As :
                            <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px"  checked="checked" />
                            <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                            &nbsp;
                            <input type="radio" id="rdButtonPdf" name="Group1" value="PDF" style="margin-left: 7px" />
                            <label for="rdButtonPdf" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as PDF format">PDF</label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
					    <input id="viewtemplate" name="Button" class="e-btn" type="submit" value="View Template" style="width: 150px; text-transform:capitalize" />
                        &nbsp;
                        <input id="generate" name="Button" class="e-btn" type="submit" value="Generate Document" style="width:170px; text-transform:capitalize" />
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to modify a mathematical equation in a Word document using Essential DocIO.
    </div>
}
@section Description{
    <div>
        DocIO allows you to modify a mathematical equation in the Word document.
        <ul>
            <li>
                You can modify the text in the equation field.
            </li>
            <li>
                You can change the format of  an equation. 
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
         More information about mathematical equations can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-mathematical-equation" aria-label="Documentation" >Documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Edit Equation in ASP.NET Core Word (DocIO) library. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Word (DocIO) library - Edit Equation Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Edit Equation in ASP.NET Core Word (DocIO) Library</h1>
                }