@page
@model EJ2CoreSampleBrowser.Pages.Word.EncryptAndDecrypt

@using Syncfusion.EJ2
@{ var Title = "Essential DocIO (Word) :Encrypt Decrypt : Syncfusion"; }
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("encryptanddecrypt", "word", FormMethod.Post);
            {
                <div style="margin-top: 10px">
                    Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 10px">
                        <input type="radio" id="Radio3" name="Group1" value="CreateEncryptDoc" checked="checked" />
                        <label for="Radio3" style="font-weight:normal">
                            Encrypt Document
                        </label>
                        <div>
                            <input type="radio" id="Radio4" name="Group1" value="CreateDecryptDoc" />
                            <label for="Radio4" style="font-weight:normal">
                                Decrypt Document
                            </label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        @Html.EJS().Button("createbtn").Content("Generate Document").Render()
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to encrypt and decrypt the Word document using Essential DocIO.
    </div>
}
@section Description{
    <div>
        DocIO supports to encrypt a Word document with password that restrict others from accessing or modifying confidential contents. You can also open an encrypted Word document using DocIO with valid password.
    </div>
    <div style="margin-top: 15px">
        More information about the encrypt and decrypt options can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/working-with-security" aria-label="Documentation" >Documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Encrypt and Decrypt in ASP.NET Core Word (DocIO) library. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET Core Word (DocIO) library - Encrypt and Decrypt Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Encrypt and Decrypt in ASP.NET Core Word (DocIO) Library</h1>
                }