@page
@model EJ2CoreSampleBrowser.Pages.Word.HTMLToWord

@using Syncfusion.EJ2
@{var Title = "Essential DocIO (Word) : HTML to Word : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{
            Html.BeginForm("htmltoword", "word", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated Word document being converted from a HTML file using the .NET Word Library (DocIO). Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                    <div style="margin-top: 10px">
                        <div>
                            <input type="button" value="Choose File" onclick="openPage()">
                            <input type="text" id="fileNameBox" value="HTMLToWord.html" readonly="readonly" style="border:none" />
                            <input type="file" name="file" id="fileUpload" accept=".htm,.html" style="display:block;visibility:hidden;width:0;height:0;">
                            <br />
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        <input id="generate" name="Button" class="e-btn" type="submit" value="Convert to Word" style="width:170px; text-transform:capitalize" />
                        <div class="text-danger">
                            @Model.Message
                        </div>
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}

<script>
    function openPage() {
        document.getElementById('fileUpload').click();
        document.getElementById('fileUpload').addEventListener('change', readFile, false);
    }
    function readFile(evt) {
        var upoadedFiles = evt.target.files;
        filename = upoadedFiles[0].name;
        document.getElementById('fileNameBox').value = filename;
    }
</script>

@section ActionDescription{
    <div>
        This sample demonstrates how to convert the HTML to a Word document using .NET Word Library (DocIO).
    </div>
}
@section Description{
    <div>
        The .NET Word Library (DocIO) supports converting HTML to Word documents and vice versa.
        <ul>
            <li>Insert HTML snippets into existing Word document at specific positions.</li>
            <li>Retrieve images from local, online, or cloud sources using event handler.</li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about HTML to Word conversion and vice versa can be found in this
        <a href="https://help.syncfusion.com/document-processing/word/word-library/net/html" aria-label="Documentation">Documentation</a>
        section.
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstrates the HTML to Word conversion in ASP.NET Core Word (DocIO) library. Explore here for more details." />
                }
@section Title{
    <title>ASP.NET Core Word (DocIO) library - HTML to Word Example - Syncfusion Demos</title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of HTML to Word conversion in ASP.NET Core Word (DocIO) Library</h1>
                }