@page
@model EJ2CoreSampleBrowser.Pages.Word.WordToTXT

@using Syncfusion.EJ2
@{var Title = "Essential DocIO (Word) : Word to TXT : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{
            Html.BeginForm("wordtotxt", "word", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <div style="margin-top: 10px;font-size:14px">
                    Click the button to view the generated text file converted from a Word document using the .NET Word Library (DocIO).
                    <div style="margin-top: 10px">
                        <div>
                            <input type="button" value="Choose File" onclick="openPage()">
                            <input type="text" id="fileNameBox" value="WordToTXT.docx" readonly="readonly" style="border:none" />
                            <input type="file" name="file" id="fileUpload" accept=".doc,.docx,.dot,.dotm,.dotx,.docm,.xml" style="display:block;visibility:hidden;width:0;height:0;">
                            <br />
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        <input id="generate" name="Button" class="e-btn" type="submit" value="Convert to TXT" style="width:170px; text-transform:capitalize" />
                        <div class="text-danger">
                            @Model.Message
                        </div>
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
}

<script>
    function openPage() {
        document.getElementById('fileUpload').click();
        document.getElementById('fileUpload').addEventListener('change', readFile, false);
    }
    function readFile(evt) {
        var upoadedFiles = evt.target.files;

        filename = upoadedFiles[0].name;
        document.getElementById('fileNameBox').value = filename;
    }
</script> 

@section ActionDescription{
    <div>
        This sample demonstrates how to convert a Word document to a text file using the .NET Word Library (DocIO).
    </div>
}
@section Description{
    <div>
        The .NET Word Library (DocIO) supports converting a Word document to a TXT file and vice versa.
    </div>
    <div style="margin-top: 15px">
        More information about Word to TXT conversion can be found on this
        <a href="https://help.syncfusion.com/document-processing/word/word-library/net/text" aria-label="Documentation">Documentation</a>
        section.
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Word-to-text conversion in ASP.NET Core Word (DocIO) library. Explore here for more details." />
                }
@section Title{
    <title>ASP.NET Core Word (DocIO) library - Word to TXT Example - Syncfusion Demos</title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of Word to TXT conversion in ASP.NET Core Word (DocIO) Library</h1>
                }