@page
@model EJ2CoreSampleBrowser.Pages.MultiColumnComboBox.KeyboardNavigationModel

@using Syncfusion.EJ2

@section ControlsSection {
    <div class="control-section">
        <div class='control-wrapper'>
            <div style='padding-top:60px;'>
                <ejs-multicolumncombobox id="keyboardnav" dataSource="Model.book" popupHeight="230px" placeholder="Select an author">
                    <e-multicolumncombobox-fields text="Author" value="Title"></e-multicolumncombobox-fields>
                    <e-multicolumncombobox-columns>
                        <e-multicolumncombobox-column field="Title" header="Title" width="180"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Author" header="Author" width="150"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Genre" header="Genre" width="100"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="PublishedYear" header="Published Year" width="120"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Price" header="Genre" width="80"></e-multicolumncombobox-column>
                    </e-multicolumncombobox-columns>
                </ejs-multicolumncombobox>
            </div>
        </div>
    </div>
    <!-- custom code start -->
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 650px;
        }

        @@media screen and (max-width: 480px) {
            .control-wrapper {
                width: 300px;
            }
        }
    </style>
    <!-- custom code end-->
}

@section Meta {
    <meta name="description" content="This example demonstrates the keyboard navigations in ASP.NET Core MultiColumn ComboBox control. Explore here for more details." />
}
@section ActionDescription {
    <div id="action-description">
        <p>
            This sample demonstrates keyboard navigations support in the MultColumn Combobox component.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>To provide users with the ability to navigate, select, and interact with popup data in a MultiColumn ComboBox using keyboard shortcuts for improved accessibility.</p>
        <p>Keyboards Actions :</p>
        <p>
            <ul>
                <li><code>Enter</code>-  Select the focused item and close the popup.</li>
                <li><code>Esc</code>- Close the popup.</li>
                <li><code>Alt + Down Arrow</code>- Open the popup.</li>
                <li><code>Alt + Up Arrow</code></li>- Close the popup.
                <li><code>Up Arrow</code>- Select the previous item.</li>
                <li><code>Down Arrow</code>- Select the next item.</li>
                <li><code>Home</code>- Select the first item.</li>
                <li><code>End</code>- Select the last item.</li>
                <li><code>Tab</code>- Select the focused item, close the popup, and move to the next focusable element.</li>
                <li><code>Shift + Tab</code>- Select the focused item, close the popup, and move to the previous focusable element.</li>
            </ul>
        </p>
    </div>
}
@section Title {
    <title>ASP.NET Core MultiColumn ComboBox keyboard navigations Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of keyboard navigations in ASP.NET Core MultiColumn ComboBox Control</h1>
}