@page
@model EJ2CoreSampleBrowser_NET8.Pages.MultiColumnComboBox.RTLModel

@using Syncfusion.EJ2

@section ControlsSection {
    <div class="control-section">
        <div class='control-wrapper'>
            <div style='padding-top:60px;'>
                <ejs-multicolumncombobox id="rtl" dataSource="@Model.book" popupHeight="230px"
                    placeholder="Select a title" enableRtl=true>
                    <e-multicolumncombobox-fields text="Title" value="Author"></e-multicolumncombobox-fields>
                    <e-multicolumncombobox-columns>
                        <e-multicolumncombobox-column field="Title" header="Title" width="200"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Author" header="Author" width="150"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Genre" header="Genre" width="100"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="PublishedYear" header="Published Year" width="125"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Price" header="Price" width="80"></e-multicolumncombobox-column>
                    </e-multicolumncombobox-columns>
                </ejs-multicolumncombobox>
            </div>
        </div>
    </div>
    <!-- custom code start -->
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 680px;
        }

        @@media screen and (max-width: 480px) {
            .control-wrapper {
                width: 300px;
            }
        }
    </style>
    <!-- custom code end-->
}

@section Meta {
    <meta name="description" content="This example demonstrates the Rtl in ASP.NET Core MultiColumn ComboBox control. Explore here for more details." />
}
@section ActionDescription {
    <div id="action-description">
        <p>This example demonstrates the RTL support in the MultiColumn ComboBox.</p>
    </div>
}
@section Description {
    <div id="description">
        <p>The MultiColumn ComboBox has built-in support to enable the right-to-left (RTL) text direction when the <code>enableRtl</code> property is enabled.</p>
    </div>
}
@section Title {
    <title>ASP.NET Core MultiColumn ComboBox Rtl Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Rtl in ASP.NET Core MultiColumn ComboBox Control</h1>
}