@page
@model EJ2CoreSampleBrowser.Pages.MultiColumnComboBox.SortingModel

@using Syncfusion.EJ2

@section ControlsSection {
    <div class="control-section">
        <div class='control-wrapper'>
            <div style='padding-top:60px;'>
                <ejs-multicolumncombobox id="sorting" dataSource="Model.products" popupHeight="210px" popupWidth="600px"
                    placeholder="e.g. laptop" allowSorting=true sortType="MultipleColumns" sortOrder="Ascending">
                    <e-multicolumncombobox-fields text="Name" value="Category"></e-multicolumncombobox-fields>
                    <e-multicolumncombobox-columns>
                        <e-multicolumncombobox-column field="Name" header="Name" width="110"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Price" header="Price" width="85"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Availability" header="Availability" width="98"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Category" header="Category" width="95"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Rating" header="Rating" width="70"></e-multicolumncombobox-column>
                    </e-multicolumncombobox-columns>
                </ejs-multicolumncombobox>
            </div>
        </div>
    </div>
    <!-- custom code start -->
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 250px;
        }

        @@media screen and (max-width: 480px) {
            .control-wrapper {
                width: 300px;
            }
        }
    </style>
    <!-- custom code end-->
}

@section Meta {
    <meta name="description" content="This example demonstrates the sorting in ASP.NET Core MultiColumn ComboBox control. Explore here for more details." />
}
@section ActionDescription {
    <div id="action-description">
        <p>This example demonstrates the sorting support of the MultiColumn ComboBox.</p>
    </div>
}
@section Description {
    <div id="description">
        <p>In this sample, you can click the column header to sort/unsort the column any field can be selected from the Fields dropdown list and its order can be changed to display headers either in ascending or descending order. It can be enabled using the <code>allowSorting</code> property and it can be configured using order options inside the <code>sortOrder</code> in the MultiColumn combobox.</p>
    </div>
}
@section Title {
    <title>ASP.NET Core MultiColumn ComboBox sorting Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of sorting in ASP.NET Core MultiColumn ComboBox Control</h1>
}