@page
@model EJ2CoreSampleBrowser.Pages.MultiColumnComboBox.VirtualizationModel

@using Syncfusion.EJ2

@section ControlsSection {
    <div class="control-section">
        <div class='control-wrapper'>
            <div style='padding-top:55px;'>
                <label>Select an employee</label>
                <ejs-multicolumncombobox id="virtual" dataSource="@Model.Records" enableVirtualization="true" popupHeight="210px" popupWidth="585px"     
                    placeholder="e.g. Alice Johnson">
                    <e-multicolumncombobox-gridsettings rowHeight=40></e-multicolumncombobox-gridsettings>
                    <e-multicolumncombobox-fields text="Name" value="Name"></e-multicolumncombobox-fields>
                    <e-multicolumncombobox-columns>
                        <e-multicolumncombobox-column field="Name" header="Name" width="100"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Departments" header="Departments" width="100"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Role" header="Role" width="90"></e-multicolumncombobox-column>
                        <e-multicolumncombobox-column field="Location" header="Location" width="90"></e-multicolumncombobox-column>
                    </e-multicolumncombobox-columns>
                </ejs-multicolumncombobox>
            </div>
        </div>
    </div>
    <!-- custom code start -->
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 250px;
        }

        @@media screen and (max-width: 480px) {
            .control-wrapper {
                width: 300px;
            }
        }
    </style>
    <!-- custom code end-->
}

@section Meta {
    <meta name="description" content="This example demonstrates the virtualization in ASP.NET Core MultiColumn ComboBox control. Explore here for more details." />
}
@section ActionDescription {
    <div id="action-description">
        <p>This example demonstrates the virtualization support of the MultiColumn ComboBox. The component has 150 items bound to it; however, when you open the suggestion list, only few items are loaded based on the popup height, and the remaining items are loaded while scrolling.</p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            The MultiColumn ComboBox component supports virtualization, which improves UI performance for large amounts of data. To enable virtualization, set the <code>enableVirtualization</code> property to true.
            When virtualization is enabled, MultiColumn ComboBox doesn't render the entire suggestion data source on initial component rendering. It loads the N number of items in the popup on initial rendering and the remaining set number of items will load while scrolling.
            Virtualization works with both local and remote data.
        </p>
    </div>
}
@section Title {
    <title>ASP.NET Core MultiColumn ComboBox virtualization Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of virtualization in ASP.NET Core MultiColumn ComboBox Control</h1>
}