@page
@model EJ2CoreSampleBrowser.Pages.SpeedDial.ModalModel
@using Syncfusion.EJ2
@using Syncfusion.EJ2.Buttons
@section ControlsSection{
<div class="control-section">
    <div id="speed-dial-wrapper">
        <div id="target" class="speeddial-modal-target custom-index">
            <ejs-speeddial id="speeddial"  title="Menu"  modal=true target="#target" position="BottomCenter" items="@Model.Items" openIconCss="e-icons e-justify" closeIconCss="e-icons e-close"></ejs-speeddial>
        </div>
    </div>
</div>
}
<style>
    .speeddial-modal-target {
        min-height: 350px;
        position: relative;
    }

    .custom-index {
        z-index: 500 !important;
    }

    .speeddial-modal-target .e-fab.e-btn.e-fab-bottom {
        bottom: 50px;  
    }
</style>



@section Meta{
<meta name="description" content="This example demonstrates the Modal in ASP.NET Core SpeedDial control. Explore here for more details." />
    }

@section ActionDescription{
<div id="action-description">
    <p>
        The following sample demonstrates the modal popup of a speed dial. Click the button to open action items and click the overlay to close the action items.
    </p>
</div>
}
@section Description{
<div id="description">
    <p>
        Speed Dial enables modal popup mode when the <code>modal</code> property is set. When this mode is enabled, an overlay is added to prevent background interaction and actions are closed when the overlay is click.
    </p>

</div>
}

@section Title{
<title>ASP.NET Core SpeedDial Modal Example - Syncfusion Demos </title>
            }
@section Header{
<h1 class='sb-sample-text'>Example of Modal in ASP.NET Core SpeedDial Control</h1>
            }