    .control_wrapper {
        max-width: 400px;
        margin: auto;
    }

    #control_wrapper {
        max-width: 500px;
        margin: auto;
        border: 0.5px solid #BEBEBE;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
        padding: 1% 4% 2%;
        background: #f9f9f9;
    }

    .bootstrap label.e-float-text.e-label-top {
        font-weight: bold;
    }

    .highcontrast #control_wrapper,
    .material-dark #control_wrapper,
    .fabric-dark #control_wrapper,
    .bootstrap-dark #control_wrapper,
    .bootstrap5-dark #control_wrapper {
        background: #393939;
    }

    .fluent-dark #control_wrapper,
    .fluent2-dark #control_wrapper,
    .fluent2-highcontrast #control_wrapper { 
        background: #212529;
    }
    
    .tailwind-dark #control_wrapper { 
        background: #6c757d;
    }

    .upload-area {
        width: 73%;
    }

    .e-bigger .upload-area {
        width: 68%;
    }


    .e-error {
        padding-top: 3px;
    }

    .e-upload {
        width: 100%;
        position: relative;
        margin-top: 15px;
    }

    .control_wrapper .e-upload .e-upload-drag-hover {
        margin: 0;
    }

    .submit-btn {
        margin-top: 15px;
        position: relative;
    }

    .submitBtn .desc {
        margin: 2% 23% 0% 18%;
    }

    @media only screen and (max-width: 500px) {
        .submitBtn .desc {
            margin: 12px;
        }
        .upload-area, .e-bigger .upload-area {
            width: 60%;
        }
    }
    
    .submitBtn {
        position: relative;
        text-align: center;
    }

    .form-support {
        width: 100%;
    }

    .success .form-support {
        display: none;
    }

    .success .successmsg {
        border: 0.5px solid green;
        padding: 10%;
        color: green;
    }

    form#form1 {
        position: relative;
        top: 14%;
    }

    .form-support td {
        width: 100%;
        padding-top: 4%;
    }

    .e-upload {
        display: none;
    }

    input.choose-file {
        width: 60%;
    }

    #mobile-no input[type=number]::-webkit-inner-spin-button,
    #mobile-no input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    button#browse {
        float: right;
        position: relative;
        margin-right: -113px;
        margin-top: -32px;
    }

    @media only screen and (max-width: 600px) {
        .submitBtn {
            margin-top: -22px;
        }
    }

    .material button#browse {
        margin-right: -117px;
    }

    .e-bigger.material button#browse {
        margin-right: -140px;
        margin-top: -34px;
    }
    .e-bigger.fabric button#browse, .e-bigger.highcontrast button#browse, .e-bigger.bootstrap button#browse {
        margin-top: -41px;
    }

    .fabric #browse, .highcontrast #browse {
        left: 18px;
        margin-top: -33px;
        margin-right: -97px;
    }

    .e-bigger.fabric button#browse, .e-bigger.highcontrast button#browse {
        margin-right: -116px
    }
    .e-bigger.bootstrap button#browse {
        margin-right: -133px;
    }

    .bootstrap #browse {
        margin-top: -35px;
        margin-right: -112px
    }

    .form-title {
        text-align: center;
    }
    .fluent .e-bigger .e-dialog .e-dlg-header-content,
    .fluent-dark .e-bigger .e-dialog .e-dlg-header-content,
    .tailwind .e-bigger .e-dialog .e-dlg-header-content,
    .tailwind-dark .e-bigger .e-dialog .e-dlg-header-content{
        padding-bottom: 2%;
    }
    .material .e-bigger .e-dialog .e-dlg-header-content{
        padding-bottom: 3%;
    }
    .e-bigger.fluent button#browse,
    .e-bigger.fluent-dark button#browse,
    .e-bigger.bootstrap5 button#browse,
    .e-bigger.bootstrap4 button#browse,
    .e-bigger.bootstrap5-dark button#browse,
    .e-bigger.tailwind button#browse,
    .e-bigger.tailwind-dark button#browse{
        margin-top: -41px;
    }