@using Syncfusion.EJ2.HeatMap;
@using Syncfusion.EJ2.DropDowns;
@section ControlsSection{
    @{
        var textStyle = new { size = "15px", fontWeight = "500", fontStyle = "Normal" };
        var xAxisLabel = new string[] { "Singapore", "Spain", "Australia", "Germany", "Belgium", "USA", "France", "UK" };
        var yAxisLabel = new string[] { "1995", "2000", "2005", "2010", "2015" };
        var cellBorder = new
        {
            width = "1",
        };
    }
    <div class="col-lg-9 control-section">
        <div id="container">
            <ejs-heatmap id='container' load="window.onHeatmapLoad" dataSource="ViewBag.dataSource" tooltipRender="window.tooltipRender">
                <e-heatmap-titlesettings text="Female Participation Rate in Labor Force for the Countries" textStyle="textStyle">
                </e-heatmap-titlesettings>
                <e-heatmap-xaxis labels="xAxisLabel" labelRotation="45" labelIntersectAction="None"></e-heatmap-xaxis>
                <e-heatmap-yaxis labels="yAxisLabel"></e-heatmap-yaxis>
                <e-heatmap-palettesettings>
                    <e-palettes>
                        <e-palette value="35" color="#50A3B1"></e-palette>
                        <e-palette value="45" color="#78D1BD"></e-palette>
                        <e-palette value="55" color="#CAE8B4"></e-palette>
                        <e-palette value="65" color="#EDF8B6"></e-palette>
                        <e-palette value="78" color="#FFFFDA"></e-palette>
                    </e-palettes>
                </e-heatmap-palettesettings>
                <e-heatmap-cellsettings border="cellBorder" showLabel="false" tileType="Bubble" bubbleType="Size"></e-heatmap-cellsettings>
                <e-heatmap-legendsettings visible="true"></e-heatmap-legendsettings>
            </ejs-heatmap>
        </div>
        <div style="float: right; margin-right: 10px;">
            Source:
            <a href="https://data.worldbank.org" target='_blank'>https://data.worldbank.org/</a>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table id="property" title="Properties" style="width: 100%">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 40%">
                        <div>Bubble Type:</div>
                    </td>
                    <td style="width: 60%;">
                        <div>
                            <select id="bubbleType">
                                <option value="Size">Size</option>
                                <option value="Color">Color</option>
                                <option value="Sector">Sector</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">

        window.onHeatmapLoad = function (args) {
            window.heatmap = args.heatmap;
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1));
        }
        window.onload = function () {
            window.bubbleTypeObj = new ej.dropdowns.DropDownList({
                index: 0,
                width: 120,
                change: function (args) {
                    window.heatmap.cellSettings.bubbleType = bubbleTypeObj.value.toString() === 'Size' ?
                        'Size' : bubbleTypeObj.value.toString() === 'Color' ?
                            'Color' : bubbleTypeObj.value.toString() === 'Sector' ?
                                'Sector' : null;
                }
            });
            window.bubbleTypeObj.appendTo('#bubbleType');
        };
        window.tooltipRender = function (args) {
            args.content = [args.xLabel + ' | ' + args.yLabel + ' : ' + args.value + ' %']
        };
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the female participation rate of the total female population in the country’s work force. In Bubble Heatmap, the data points can be visualized using bubble size, bubble shade and sector view types. In property panel, the options are available to change the view of the data points in the bubble Heatmap by means of dropdown.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, you can see how to display the data points in bubble heatmap using multiple views such as bubble size, bubble shade and the sector. You can change the cell type to bubble by using the <code>tileType</code> property in <code>cellSettings</code>, and you can change the view of the bubble heatmap by using the bubbleType property in cellSettings.
        </p>
        <p>
            Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
        </p>
        <br></br>
        <p>Injecting Module</p>
        <p>
            Heatmap component features are segregated into individual feature-wise modules. To use a tooltip,
            inject the <code>Tooltip </code>  module using the <code>Heatmap.Inject(Tooltip) </code> method, and use a
            legend by injecting the <code>Legend </code>  module using the <code>Heatmap.Inject(Legend) </code>  method.
        </p>
    </div>
}
@section Meta{
    <meta name="description" content="This demo for ASP.NET CORE Heatmap control shows  Size, Color and SizeAndColor bubble heat map type." />
}

