@page
@using Syncfusion.EJ2

@{
    var data = new string[] { "American Football", "Badminton", "Basketball", "Cricket", "Football", "Golf", "Hockey", "Rugby", "Snooker", "Tennis" };
}

@section ControlsSection{
<div class="control-section">
    <div class="control-wrapper">
        <div id='content'>
            <div>
                <h4> Default Mode</h4>
                <ejs-multiselect id="default" dataSource="@data" placeholder="Favorite Sports" mode="Default"></ejs-multiselect>
            </div>
            <div class="control-styles">
                <h4>Box Mode</h4>
                <ejs-multiselect id="box" dataSource="@data" placeholder="Favorite Sports" mode="Box"></ejs-multiselect>
            </div>

            <div class="control-styles">
                <h4>Delimiter Mode</h4>
                <ejs-multiselect id="delimiter" dataSource="@data" placeholder="Favorite Sports" mode="Delimiter"></ejs-multiselect>
            </div>
        </div>
    </div>
</div>


<style>
    .control-fluid, .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }

    .control-content .control-section{
        border-width: 0px !important;
    }

    .control-section .control-wrapper {
        width: 80%;
        margin: 0 auto;
        min-width: 185px;
    }

    .e-bigger .control-section .control-wrapper {
        width: 100%;
    }

    .property-section .right-side {
        padding-left: 10px;
    }

    .property-section .left-side {
        padding: 5px;
        width: 25%
    }

    .control-styles {
        padding-top: 30px
    }
</style>
}
@section Meta{
<meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET Core MultiSelect Dropdown control. Explore here for more details."/>
}
@section ActionDescription{
<div id="action-description">
    <p>This sample demonstrates the default functionalities of the MultiSelect in ASP.NET CORE application. Type a character in the MultiSelect element or click on this element to choose one or more items from the suggestion list.</p>
</div>
}
@section Description{
<div id="description">
    <p>
        The <code>MultiSelect</code> component contains a list of predefined values, from that the user can choose a multiple
        values.
    </p>
    <p>In this sample, the selected items are shown with three different UI modes in three different MultiSelect elements. That three UI modes are listed here below,</p>
    <ul>
        <li><b>Default</b> - on focus-in, the component will act in <code>box mode</code> and on blur, the component will act in <code>delimiter mode</code>.</li>
        <li><b>Box</b> - selected items will be visualized in chip.</li>
        <li><b>Delimiter</b> - selected items will be visualized in text content.</li>
    </ul>
    <p>
        More information on the MultiSelect instantiation can be found in the
        <a href="https://ej2.syncfusion.com/aspnetcore/documentation/multi-select/getting-started" target="_blank "aria-label="Navigate to the documentation for getting started with ASP.NET Core MultiSelect Dropdown control" > Documentation section</a>.
    </p>
</div>
}
@section Title{
<title>ASP.NET Core MultiSelect Dropdown Default Functionalities Example - Syncfusion Demos </title>
}
@section Header{
<h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET Core MultiSelect Dropdown Control</h1>
}