@page
@model EJ2CoreSampleBrowser.Pages.MultiSelect.DisabledItems

@using Syncfusion.EJ2

@section ControlsSection {
    <div class="col-lg-12 control-section">
        <div id='tagsList' class='col-lg-6' style='padding-top:15px'>
            <div class='content'>
                <h4>Tags</h4>
                <ejs-multiselect id="tags" placeholder="Select Tags" dataSource="@Model.tag" allowFiltering=true >
                    <e-multiselect-fields value="ID"  text="Text" disabled="State"></e-multiselect-fields>
                </ejs-multiselect>
            </div>
        </div>
        <div id='vegetableList' class='col-lg-6' style='padding-top:15px'>
            <div class='content'>
                <h4> Vegetables </h4>
                <ejs-multiselect id="vegetable" dataSource="@Model.veg" mode="CheckBox" placeholder="Select Vegetables">
                    <e-multiselect-fields value="ID"  text="Vegetable" groupby="Category" disabled="Status"></e-multiselect-fields>
                </ejs-multiselect>
            </div>
        </div>
    </div>
    @*custom code start*@
    <style>
        .content {
            margin: 0 auto;
            width: 250px;
        }
    </style>
    @*custom code end*@
}
@section Meta{
    <meta name="description" content="This example demonstrates the Disabled Items in ASP.NET Core MultiSelect control. Explore here for more details." />
}
@section ActionDescription{
    <div id="action-description">
        <p>This example showcases the disabled items of MultiSelect. When you click on the MultiSelect the popup will open, and you will notice that the disabled items are greyed out and cannot be selected.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>The MultiSelect provides options for individual items to be in either an enabled or disabled state for specific scenarios. Once an item is disabled, it cannot be selected as a value for the component. To configure the disabled item columns, use the <code>fields.disabled</code> property.</p>
    </div>
}
@section Title{
    <title>ASP.NET Core MultiSelect Disabled Items Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Disabled Items in ASP.NET Core MultiSelect Control</h1>
}