# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies net8
      run: dotnet restore EJ2CoreSampleBrowser_NET8.csproj
    - name: Build .Net8 Project
      run: dotnet build EJ2CoreSampleBrowser_NET8.csproj --no-restore
    - name: Restore dependencies net9
      run: dotnet restore EJ2CoreSampleBrowser_NET9.csproj
    - name: Build .Net9 Project
      run: dotnet build EJ2CoreSampleBrowser_NET9.csproj --no-restore
    - name: Restore dependencies net10
      run: dotnet restore EJ2CoreSampleBrowser_NET10.csproj
    - name: Build .Net10 Project
      run: dotnet build EJ2CoreSampleBrowser_NET10.csproj --no-restore
