@using Syncfusion.EJ2.PivotView
@section Meta{
    <meta name="description" content="This demo for Essential JS2 ASP.NET Core Pivot Table control demonstrate the rendering of heatmap widget with cell selection option" />
}
@section ControlsSection{

    <div class="control-section" style="overflow:auto">
        <div class="content-wrapper">
            <ejs-pivotview id="pivotview" width="100%" height="300" load="onLoad" dataBound="onDataBound" cellSelected="onCellSelected" showTooltip="false">
                <e-datasource data="@ViewBag.data" expandAll="true" enableSorting="true">
                    <e-rows>
                        <e-field name="Country"></e-field>
                        <e-field name="Products"></e-field>
                    </e-rows>
                    <e-columns>
                        <e-field name="Year"></e-field>
                        <e-field name="Order_Source" caption="Order Source"></e-field>
                    </e-columns>
                    <e-values>                        
                        <e-field name="Sold" caption="Units Sold"></e-field>
                    </e-values>
                    <e-filters>
                        <e-field name="Product_Categories" caption="Product Categories"></e-field>
                    </e-filters>
                </e-datasource>
                <e-gridSettings columnWidth="120" allowSelection= "true">                    
                </e-gridSettings>
            </ejs-pivotview>
        </div>
        <br />
        <br />
        <div id="heatmap" style="height: 450px;"></div>        
    </div>
 
    <script>
        var onInit = true;
        var selectedCells;
        var heatmap;
        var measureList = {};
        var xLabels = [];
        var yLabels = [];
        var jsonDataSource = [];
        function onDataBound(args) {
            if (onInit) {
                var pivotGridObj = document.getElementById('pivotview').ej2_instances[0];
                pivotGridObj.grid.selectionModule.selectCellsByRange({ cellIndex: 1, rowIndex: 1 }, { cellIndex: 3, rowIndex: 4 });
            }
        }

        function onCellSelected(args) {
            selectedCells = args.selectedCellsInfo;
            if (selectedCells && selectedCells.length > 0) {
                frameSeries();
                heatmapUpdate();
            }
        }

        function onLoad() {
            if (onInit) {
                var pivotGridObj = document.getElementById('pivotview').ej2_instances[0];
                pivotGridObj.gridSettings.selectionSettings= { mode: 'Cell', type: 'Multiple', cellSelectionMode: 'Box' };
            }
        }

    function frameSeries() {
        var pivotGridObj = document.getElementById('pivotview').ej2_instances[0]; 
        xLabels = [];
        yLabels = [];
        jsonDataSource = [];
        var columnGroupObject = {};
        var cellCount = 0;
        while (cellCount < selectedCells.length) {
            var sCell = selectedCells[cellCount];
            var sColumnSeries = (pivotGridObj.dataSource.values.length > 1 && measureList[sCell.measure]) ?
                (sCell.columnHeaders.toString() + ' ~ ' + measureList[sCell.measure]) : sCell.columnHeaders.toString();
            sColumnSeries = sColumnSeries == '' && sCell.measure != '' ? 'Grand Total' : sColumnSeries;
            var rHeaders = sCell.rowHeaders == '' && sCell.currentCell.axis != 'column' ? 'Grand Total' : sCell.rowHeaders;
            if (rHeaders != '' && sColumnSeries) {
                if (columnGroupObject[sColumnSeries]) {
                    columnGroupObject[sColumnSeries].push({ x: rHeaders.toString(), y: Number(sCell.value) });
                } else {
                    columnGroupObject[sColumnSeries] = [{ x: rHeaders.toString(), y: Number(sCell.value) }];
                    yLabels.push(sColumnSeries);
                }
                if (xLabels.indexOf(rHeaders.toString()) == -1) {
                    xLabels.push(rHeaders.toString());
                }
            }
            cellCount++;
        }
        for (var xcnt = 0; xcnt < xLabels.length; xcnt++) {
            var xName = xLabels[xcnt];
            var row = { 'xMember': xName };
            for (var ycnt = 0; ycnt < yLabels.length; ycnt++) {
                var YName = yLabels[ycnt];
                var col = columnGroupObject[YName].filter(function (item) { return item.x == xLabels[xcnt]; });
                row[YName] = col.length > 0 ? col[0].y : '';
            }
            jsonDataSource.push(row);
        }
    }

    function heatmapUpdate() {
        var pivotGridObj = document.getElementById('pivotview').ej2_instances[0]; 
        if (onInit) {
            onInit = false;
            heatmap = new ej.heatmap.HeatMap({
                titleSettings: {
                    text: 'Sales Analysis'
                },
                legendSettings: {
                    position: 'Top'
                },
                xAxis: {
                    title: { text: pivotGridObj.dataSource.rows.map(function (args) { return args.caption || args.name; }).join(' ~ ') },
                    labels: xLabels,
                    labelRotation: 315
                },
                yAxis: {
                    title: { text: pivotGridObj.dataSource.values.map(function (args) { return args.caption || args.name; }).join(' ~ ') },
                    labels: yLabels
                },
                dataSource: {
                    data: jsonDataSource,
                    isJsonData: true,
                    adaptorType: 'Table',
                    xDataMapping: 'xMember'
                },
                load: function (args) {
                    var selectedTheme = location.hash.split('/')[1];
                    selectedTheme = selectedTheme ? selectedTheme : 'Material';
                    args.heatmap.theme = selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1);
                },
            }, '#heatmap');
        } else {
            heatmap.dataSource.data = jsonDataSource;
            heatmap.xAxis = {
                title: { text: pivotGridObj.dataSource.rows.map(function (args) { return args.caption || args.name; }).join(' ~ ') },
                labels: xLabels,
                labelRotation: 315
            };
            heatmap.yAxis = {
                title: { text: pivotGridObj.dataSource.values.map(function (args) { return args.caption || args.name; }).join(' ~ ') },
                labels: yLabels
            };
            heatmap.refresh();
        }
    }   
    </script>
}

@section PreScripts {
    <script>
        ej.base.enableRipple(false);
    </script>
}

@section ActionDescription{
   <div id="action-description">
       <p>This sample demonstrates rendering Heatmap control by providing desired data from a pivot grid on selection. Not only Heatmap, but any other control (including third party) can be used for this purpose.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In this sample, the cell-selection feature is enabled with the help of the
            <code>allowSelection</code> property and its type and mode are configured using the
            <code>selectionSettings</code> property. 
            The <code>cellSelected</code> event gets fired on every selection operation performed in the pivot grid. 
            This event returns the selected cell information, like row header name, column header name, measure name, and value. 
            Based on this information, the heatmap will be plotted.
        </p>
    </div>
}
