@using Syncfusion.EJ2.PivotView
@section Meta{
    <meta name="description" content="This demo for Essential JS2 ASP.NET MVC Pivot Table control demonstrate the grouping feature for date and number fields" />
}
@section ControlsSection{

    <div class="col-lg-8 control-section" id="pivot-grid-section">
        <div class="content-wrapper">
            <ejs-pivotview id="pivotview" width="100%" height="300" load="onLoad" showGroupingBar="true">
                <e-datasource expandAll="false" enableSorting="true">
                    <e-formatsettings>
                        <e-field name="Amount" format="C0"></e-field>
                        <e-field name="Sold" format="N0"></e-field>
                        <e-field name="Date" type="date" format="dd/MM/yyyy-hh:mm a"></e-field>
                    </e-formatsettings>
                    <e-rows>
                        <e-field name="Date"></e-field>
                    </e-rows>
                    <e-columns>
                        <e-field name="Product_ID" caption="Product ID"></e-field>
                        <e-field name="Products"></e-field>
                    </e-columns>
                    <e-values>
                        <e-field name="Sold" caption="Unit Sold"></e-field>
                        <e-field name="Amount" caption="Sold Amount"></e-field>
                    </e-values>
                </e-datasource>
                <e-gridSettings columnWidth="140" columnRender="beforeColumnsRender"></e-gridSettings>
            </ejs-pivotview>
        </div>
    </div>

    <div class="col-lg-4 property-section">
        <table id="property" title="Properties" style="width: 100%;height:100%;">
            <tbody>
                <tr style="height: 50px">
                    <td>
                        <div>
                            Group Date by:
                        </div>
                    </td>
                    <td style="padding-bottom: 16px">
                        <div class="datecls">
                            <input type="text" tabindex="1" id='dategroup' />
                        </div>
                    </td>
                </tr>
                <tr class="input2cls" style="height: 50px;">
                    <td>
                        <div>
                            Group Product ID by:
                        </div>
                    </td>
                    <td style="padding-bottom: 16px">
                        <div class="numbercls">
                            <input type="text" tabindex="1" id='numbergroup' />
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td></td>
                    <td>
                        <div style="float:right;margin-right: 4px">
                            <button id="group-apply">Apply</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <style>
        #pivotview {
            width: 100%;
            height: 100%;
        }

        @@media only screen and (max-width: 400px) {
            #pivot-grid-section {
                overflow: auto;
            }
        }
    </style>
    <script src="~/scripts/pivotData/data-source.js"></script>
    <script type="text/javascript">
        var selectedGroups = ['Years', 'Months', 'Days'];
        var groupData = ['Years', 'Quarters', 'Months', 'Days'];

        var dateGroup = new ej.dropdowns.MultiSelect({
            dataSource: groupData,
            mode: 'CheckBox',
            showDropDownIcon: true,
            enableSelectionOrder: false,
            popupWidth: 'auto',
            value: ['Years', 'Months', 'Days'],
            placeholder: 'Select group',
            filterBarPlaceholder: 'Search group',
            select: function (args) {
                applyGroupSettings(args);
            },
            removed: function (args) {
                applyGroupSettings(args);
            }
        });
        dateGroup.appendTo('#dategroup');

        var numberGroup = new ej.inputs.NumericTextBox({
            width: '100%',
            format: '###',
            min: 1,
            max: 10,
            value: 4,
            placeholder: "Example: 4"
        });
        numberGroup.appendTo('#numbergroup');

        var applyBtn = new ej.buttons.Button({
            isPrimary: true
        });
        applyBtn.appendTo('#group-apply');

        function applyGroupSettings(args) {
            if (args.name === 'select') {
                if (selectedGroups.indexOf(args.itemData) === -1) {
                    selectedGroups.push(args.itemData);
                }
            } else {
                if (selectedGroups.indexOf(args.itemData) > -1) {
                    var index = selectedGroups.indexOf(args.itemData);
                    selectedGroups.splice(index, 1);
                }
            }
        }

        document.getElementById('group-apply').onclick = function () {
            var groupSettings = [];
            var numberGroup = document.getElementById('numbergroup').ej2_instances[0];
            var pivotGridObj = document.getElementById('pivotview').ej2_instances[0];
            if (selectedGroups.length > 0) {
                groupSettings.push({ name: 'Date', type: 'Date', groupInterval: selectedGroups });
            }
            if (numberGroup.value > 1) {
                groupSettings.push({ name: 'Product_ID', type: 'Number', rangeInterval: numberGroup.value });
            }
            pivotGridObj.dataSource.groupSettings = groupSettings;
        };

        function onLoad(args) {
            var date;
            var data = window.Group_Data;
            var products = ['', 'Bottles and Cages', 'Cleaners', 'Fenders', 'Mountain Bikes', 'Road Bikes', 'Touring Bikes', 'Gloves', 'Jerseys', 'Shorts', 'Vests'];
            var amount = [0, 2, 3, 8, 60, 75, 65, 3, 5, 4, 2];
            for (var ln = 0, lt = data.length; ln < lt; ln++) {
                date = new Date(data[ln].Date.toString());
                data[ln].Date = date.toString();
                data[ln].Products = products[data[ln].Product_ID - 1000];
                data[ln].Sold = data[ln].Sold * (date.getFullYear() === 2015 ? 3 : date.getFullYear() === 2016 ? 4 : date.getFullYear() === 2017 ? 2 : 5);
                data[ln].Amount = ((date.getFullYear() === 2018 ? 2 : 0) + data[ln].Sold) * amount[data[ln].Product_ID - 1000];
            }
            args.dataSource.groupSettings = [{ name: 'Date', type: 'Date', groupInterval: ['Years', 'Months', 'Days'] },
            { name: 'Product_ID', type: 'Number', rangeInterval: 4 }];
            args.dataSource.data = ej.base.extend([], data, null, true);
        }

        function beforeColumnsRender(args) {
            if (args.dataSource.rows.length > 3 && args.columns[0].width <= 250) {
                args.columns[0].width = 285;
            }
        }
    </script>
}

@section PreScripts {
    <script>
        ej.base.enableRipple(false);
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates grouping of dates and number types in the row and column headers of Pivot Grid.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In this sample, the date type can be separated and showcased individually as year, quarter, month, or day by selecting the appropriate option from the
            <b>Group Date by</b> drop-down list. Also, numbers can be grouped by entering the appropriate value in the
            <b>Group Product ID by</b> by giving a range number in the the numeric text box.
        </p>
        <p>
            Grouping can be applied through code-behind using the
            <code>groupSettings</code> object in the pivot grid widget along with the following properties:
        </p>
        <table>
            <tr>
                <td style="vertical-align: top;padding: 10px 0;width: 130px">
                    <code>name :</code>
                </td>
                <td>Specifies the normal field.</td>
            </tr>
            <tr>
                <td style="vertical-align: top;padding: 4px 0;">
                    <code>type :</code>
                </td>
                <td>Specifies the field type for applying group settings. 
                For example, date-formatted fields should be in "Date" type and number-formatted fields should be in "Number" type.</td>
            </tr>
            <tr>
                <td style="vertical-align: top;padding: 4px 0;">
                    <code>groupInterval :</code>
                </td>
                <td>Specifies the interval for date fields in years, quarters, months, etc.</td>
            </tr>
            <tr>
                <td style="vertical-align: top;padding: 4px 0;">
                    <code>rangeInterval :</code>
                </td>
                <td>Specifies the interval value to group the number field.</td>
            </tr>
        </table>
    </div>
}
