@using Syncfusion.EJ2.PivotView
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Pivot Table control demonstrate the basic rendering of the pivotgrid widget with local JSON data" />
}
@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            <ejs-pivotview id="pivotview" width="100%" height="300">
                <e-datasource data="@ViewBag.data" expandAll="false" enableSorting="true">
                    <e-drilledmembers>
                        <e-field name="EnerType" items="@ViewBag.drilledMembers"></e-field>
                    </e-drilledmembers>
                    <e-formatsettings>
                        <e-field name="ProCost" format="C0" maximumSignificantDigits="10" minimumSignificantDigits="1" useGrouping="true"></e-field>
                        <e-field name="PowUnits" format="N0" maximumSignificantDigits="10" minimumSignificantDigits="1" useGrouping="true"></e-field>
                    </e-formatsettings>
                    <e-rows>
                        <e-field name="Year" caption="Production Year"></e-field>
                        <e-field name="HalfYear" caption="Half Year"></e-field>
                        <e-field name="Quarter" caption="Quarter Year"></e-field>
                    </e-rows>
                    <e-columns>
                        <e-field name="EnerType" caption="Energy Type"></e-field>
                        <e-field name="EneSource" caption="Energy Source"></e-field>
                    </e-columns>
                    <e-values>
                        <e-field name="PowUnits" caption="Units (GWh)"></e-field>
                        <e-field name="ProCost" caption="Cost (MM)"></e-field>
                    </e-values>
                </e-datasource>
                <e-gridSettings columnWidth="120"></e-gridSettings>
            </ejs-pivotview>
        </div>
    </div>

    <style>
        #pivotview {
            width: 100%;
            height: 100%;
        }
    </style>
}

@section PreScripts {
    <script>
        ej.base.enableRipple(false);
    </script>
}

@section ActionDescription{
   <div id="action-description">
       <p>This sample demonstrates the basic rendering of the pivotgrid widget with local data.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The pivotgrid widget supports JSON data source. The
            <code>dataSource->data</code> property can be assigned with the JSON data to populate the widget.
        </p>
        <p>In this demo, the JSON data is assigned from an external file.</p>
    </div>
}
