@using Syncfusion.EJ2.PivotView
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Pivot Table control shows ordering(sorting) of fields either in ascending or descending order" />
}
@section ControlsSection{

    <div class="col-lg-8 control-section">
        <div class="content-wrapper">
            <ejs-pivotview id="pivotview" width="100%" height="300">
                <e-datasource data="@ViewBag.data" expandAll="false" enableSorting="true">
                    <e-formatsettings>
                        <e-field name="Amount" format="C0" maximumSignificantDigits="10" minimumSignificantDigits="1" useGrouping="true"></e-field>
                    </e-formatsettings>
                    <e-rows>
                        <e-field name="Country"></e-field>
                        <e-field name="Products"></e-field>
                    </e-rows>
                    <e-columns>
                        <e-field name="Year"></e-field>
                        <e-field name="Order_Source" caption="Order Source"></e-field>
                    </e-columns>
                    <e-values>
                        <e-field name="In_Stock" caption="In Stock"></e-field>
                        <e-field name="Sold" caption="Units Sold"></e-field>
                        <e-field name="Amount" caption="Sold Amount"></e-field>
                    </e-values>
                    <e-filters>
                        <e-field name="Product_Categories" caption="Product Categories"></e-field>
                    </e-filters>
                </e-datasource>
                <e-gridSettings columnWidth="140"></e-gridSettings>
            </ejs-pivotview>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <table id="property" title="Properties" style="width: 100%;height:100%;">
            <tbody>
                <tr style="height: 50px">
                    <td>
                        <div style="margin-left: -10px">
                            <ejs-checkbox id="enablesort" checked="true" label="Enable Sorting" change="onChange" labelPosition="After"></ejs-checkbox>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 40%">
                        <div>
                            Fields:
                        </div>
                    </td>
                    <td style="width: 60%;">
                        <div style="margin-left: -20px">
                            <ejs-dropdownlist id="fields" dataSource="@ViewBag.fielddata" index="0" popupWidth="auto" enabled="true" change="onFieldChange">
                                <e-dropdownlist-fields text="Field" value="Order"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 40%">
                        <div>
                            Order:
                        </div>
                    </td>
                    <td style="width: 60%;">
                        <div style="margin-left: -20px">
                            <ejs-dropdownlist id="sort" dataSource="@ViewBag.sortdata" index="0" popupWidth="auto" enabled="true" change="onOrderChange">
                                <e-dropdownlist-fields text="Name" value="Value"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td></td>
                    <td>
                        <div style="float:right">
                            <ejs-button id="apply-btn" iconCss="e-icons e-play-icon" cssClass="e-flat" isPrimary="true" content="Apply"></ejs-button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <style>
        #pivotview {
            width: 100%;
            height: 100%;
        }
        .e-play-icon::before {
            content: '\e728';
        }

        .hdrlabel {
            font-size: 13px;
        }

        .e-bigger .hdrlabel {
            font-size: 14px;
        }
    </style>
    <script>
        function onChange(args) {
            var fieldsddl = document.getElementById('fields').ej2_instances[0];
            var orderddl = document.getElementById('sort').ej2_instances[0];
			var applyBtn = document.getElementById('apply-btn').ej2_instances[0];
            if (args.checked) {
                fieldsddl.enabled = true;
                orderddl.enabled = true;
				applyBtn.disabled = false;
            }
            else {
                fieldsddl.enabled = false;
                orderddl.enabled = false;
				applyBtn.disabled = true;
            }
        }
        function onFieldChange(args) {
            var fieldsddl = document.getElementById('fields').ej2_instances[0];
            var orderddl = document.getElementById('sort').ej2_instances[0];
            if (fieldsddl.dataSource[fieldsddl.index].Order === fieldsddl.dataSource[fieldsddl.index].Field + '_asc') {
                orderddl.index = 0;
            }
            else {
                orderddl.index = 1;
            }
        }
        function onOrderChange(args) {
            var fieldsddl = document.getElementById('fields').ej2_instances[0];
            var orderddl = document.getElementById('sort').ej2_instances[0];
            if (args.value === 'Ascending') {
                fieldsddl.dataSource[fieldsddl.index].Order = fieldsddl.dataSource[fieldsddl.index].Field + '_asc';
            }
            else {
                fieldsddl.dataSource[fieldsddl.index].Order = fieldsddl.dataSource[fieldsddl.index].Field + '_desc';
            }
            fieldsddl.refresh();
        }
        document.getElementById('apply-btn').onclick = function () {
            var pivotGridObj = document.getElementById('pivotview').ej2_instances[0];
            var fieldsddl = document.getElementById('fields').ej2_instances[0];
            var orderddl = document.getElementById('sort').ej2_instances[0];
            var checkBoxObj = document.getElementById('enablesort').ej2_instances[0];
            if (checkBoxObj.checked) {
                pivotGridObj.dataSource.enableSorting = true;
                pivotGridObj.dataSource.sortSettings = [
                    { name: 'Country', order: fieldsddl.dataSource[0].Order === 'Country_asc' ? 'Ascending' : 'Descending' },
                    { name: 'Products', order: fieldsddl.dataSource[1].Order === 'Products_asc' ? 'Ascending' : 'Descending' },
                    { name: 'Year', order: fieldsddl.dataSource[2].Order === 'Year_asc' ? 'Ascending' : 'Descending' },
                    { name: 'Order_Source', order: fieldsddl.dataSource[3].Order === 'Order Source_asc' ? 'Ascending' : 'Descending' }
                ];
            }
            else {
                pivotGridObj.dataSource.enableSorting = false;
                pivotGridObj.dataSource.sortSettings = [];
            }
        };
    </script>
}

@section PreScripts {
    <script>
        ej.base.enableRipple(false);
    </script>
}

@section ActionDescription{
   <div id="action-description">
       <p>This sample demonstrates ordering of fields either in ascending or descending order.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In this sample, any field can be selected from the
            <b>Fields</b> dropdown list and its order can be changed to display headers either in ascending or descending order.
            It can be enabled using the
            <code>enableSorting</code> property and it can be configured using the
            <code>name</code> and
            <code>order</code> options inside the
            <code>sortSettings</code> property in the pivotgrid widget.
        </p>
    </div>
}
